<footer class="footer">

    <ul class="links">
        <li><a class="links__mail" href="mailto:mirvam_tk@yahoo.com">mirvam_tk@yahoo.com</a></li>
        <li><a class="links__facebook" href="https://ru-ru.facebook.com/mirvam.tk">Facebook</a></li>
    </ul>
</footer>