<nav class="header">
    <a name="up"></a>
    <a class="header__about" href="/about">Об авторе</a>
    <a class="header__articles" href="/main">Главная</a>
</nav>

<nav class="contact"><a href="#up">наверх &#8594; </a></nav>

<div class="decoration"></div>