<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Размышления христианина | Пётр Ткалич</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Размышления о Библии, о происходящем в России и о ее народе. Дневник человека, лично столкнувшимся с бесчестием российской судебной системы. ">
    <meta name="Keywords" content="Ткалич Пётр, Библия, против Путина, политика">
    <meta http-equiv="content-language" content="ru">
    <meta name="author" content="Ткалич Надежда">

    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/header.css" rel="stylesheet">
    <link href="styles/footer.css" rel="stylesheet">
    <link href="styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <script defer src='scripts/toggleArticles.js'></script>
    <script defer src='scripts/columnsSplit.js'></script>
    <script defer src='scripts/stringTrim.js'></script>

</head>

<body>
    {{> header}}
    <main>
        <article class="intro">
            <h1 class="intro__logo">Размышления христианина</h1>
            <p class="intro__extra">Мои идеи и рассуждения о библейских мотивах, о происходящем в стране, о моей жизни.
                "Дневник соотечественника" завершен, но в планах регулярная публикация новых статей. </p>
        </article>

        <article class="diary">
            <h2 class="diary__title">Дневник соотечественника</h2>
            <ul class="diary__list">
                <li><a href="/diary/2004">2004 год</a></li>
                <li><a href="/diary/2005">2005 год</a></li>
                <li><a href="/diary/2006">2006 год</a></li>
                <li><a href="/diary/2007">2007 год</a></li>
                <li><a href="/diary/2008">2008 год</a></li>
                <li><a href="/diary/2009">2009 год</a></li>
                <li><a href="/diary/2010">2010 год</a></li>
                <li><a href="/diary/2011">2011 год</a></li>
                <li><a href="/diary/2012">2012 год</a></li>
                <li><a href="/diary/2013">2013 год</a></li>
                <li><a href="/diary/2014">2014 год</a></li>
                <li><a href="/diary/2015">2015 год</a></li>
            </ul>
        </article>

        <article class="articles">
            <h2 class="articles__title">Статьи</h2>
            <ul class="articles__list">
                <li><a href="/articles/power">Власть</a><span> (2014)</span></li>
                <li><a href="/articles/parable-of-the-careless-sower">Притча о нерадивом сеятеле</a><span> (2014)</span>
                </li>
                <li><a href="/articles/lots-story">История Лота</a><span> (2013)</span></li>
                <li><a href="/articles/man-is-born-for-happiness">Человек создан для счастья</a><span> (2013)</span>
                </li>
                <li><a href="/articles/christian">Христианин</a><span> (2012)</span></li>
                <li><a href="/articles/god-who-made-the-world">Бог, создавший этот мир</a><span> (2012)</span></li>
                <li><a href="/articles/loyalty">Постоянство, преданность, верность</a><span> (2011)</span></li>
                <li><a href="/articles/god">Бог</a><span> (2011)</span></li>
                <li><a href="/articles/path-of-human-kind">Развитие рода человеческого</a><span> (2011)</span></li>
                <li><a href="/articles/our-fathers-have-sinned">Отцы наши грешили</a><span> (2010)</span></li>
                <li><a href="/articles/interview">Интервью с Ларисей Володимировой</a><span> (2010)</span></li>
                <li><a href="/articles/no-love-for-proletariat">Да, я не люблю пролетариата</a><span> (2009)</span></li>
                <li><a href="/articles/weightlessness">Невесомость и поиски горнего</a><span> (2009)</span></li>
                <li><a href="/articles/goats-and-sheeps">О козлах и овцах</a><span> (2009)</span></li>

                <li><a href="/articles/explosions-and-fires">Про взрывы и пожары</a><span> (2008)</span></li>
                <li><a href="/articles/blue-skies">Какое небо голубое</a><span> (2008)</span></li>
                <li><a href="/articles/letter-for-president">Открытое письмо анонима президенту России</a><span>
                        (2007)</span></li>
                <li><a href="/articles/sclerosis-notes">Записки склерозника о хороших игрушках и плохой памяти</a><span>
                        (2007)</span></li>
                <li><a href="/articles/brick-into-water">Кирпич в воду</a><span> (2007)</span></li>
                <li><a href="/articles/gospel-of-pavka">Евангелие от … Павки</a><span> (2007)</span></li>
                <li><a href="/articles/new-times-new-sects">Новые времена, новые секты?</a><span> (2006)</span>
                </li>
                <li><a href="/articles/in-the-beginning-was-the-word">В начале было слово</a><span> (2006)</span></li>
                <li><a href="/articles/no-slaves">Мы не рабы, рабы не мы</a><span> (2006)</span></li>
                <li><a href="/articles/envy">Зависть</a><span> (2005)</span></li>
                <li><a href="/articles/dissagree">Не согласный я</a><span> (2005)</span></li>
                <li><a href="/articles/monster-island">Остров монстров</a><span> (2005)</span></li>
                <li><a href="/articles/werewolves">Оборотни</a><span> (2005)</span></li>
                <li><a href="/articles/about-pity">Немного о жалости</a><span> (2005)</span></li>
                <li><a href="/articles/boiling-pot-2">Кипящий котёл [часть 2]</a><span> (2004)</span></li>
                <li><a href="/articles/boiling-pot-1">Кипящий котёл [часть 1]</a><span> (2004)</span></li>
                <li><a href="/articles/escape-from-life">Побег от жизни (2004)</a></li>
                <li><a href="/articles/where-is-god-looking">Куда смотрит Бог?</a><span> (2004)</span></li>

            </ul>
        </article>

        <article class="diary-chosen">
            <h2 class="diary-chosen__title">Избранное из дневников</h2>
            <ul class="diary-chosen__list">
                <li><a href="/diary-chosen/pit">Яма</a><span> (2014)</span></li>
                <li><a href="/diary-chosen/naked-king">Вещдоки и голый король</a><span> (2014)</span></li>
                <li><a href="/diary-chosen/lead-abominations">Наши родные свинцовые мерзости</a><span> (2014)</span>
                </li>
                <li><a href="/diary-chosen/hatred-incubator">Инкубатор ненависти</a><span> (2014)</span></li>
                <li><a href="/diary-chosen/happy">Я счастлив</a><span> (2013)</span></li>
                <li><a href="/diary-chosen/how-our-word-responds">Как слово наше отзовется</a><span> (2013)</span></li>
                <li><a href="/diary-chosen/islanders">Островитяне</a><span> (2013)</span></li>
                <li><a href="/diary-chosen/bad-guy-and-his-crew">Мальчиш-Плохиш и его команда</a><span> (2013)</span>
                </li>
                <li><a href="/diary-chosen/wooden">Деревянный</a><span> (2012)</span></li>
                <li><a href="/diary-chosen/running-for-mayor">Как Ольга Ткалич в мэры баллотировалась</a><span>
                        (2012)</span></li>
                <li><a href="/diary-chosen/foe-of-my-enemy">Враг врага моего</a><span> (2012)</span></li>
                <li><a href="/diary-chosen/slave-psychology">Рабская психология</a><span> (2012)</span></li>
                <li><a href="/diary-chosen/slaves-are-mute">Рабы немы</a><span> (2011)</span></li>
                <li><a href="/diary-chosen/where-does-homeland-begin">С чего начинается родина?</a><span> (2011)</span>
                </li>
                <li><a href="/diary-chosen/land-of-fools-and-heroes">Страна дураков и героев</a><span> (2011)</span>
                </li>
                <li><a href="/diary-chosen/chinarik">Под "чинариком"</a><span> (2011)</span></li>
                <li><a href="/diary-chosen/heroic-people">Героический народ</a><span> (2011)</span></li>
                <li><a href="/diary-chosen/between-two-evils">Между двух зол</a><span> (2011)</span></li>
                <li><a href="/diary-chosen/locked-in-the-restroom">Запертые в нужнике</a><span> (2011)</span></li>
                <li><a href="/diary-chosen/meat-grinder-assembling">Решил собрать мясорубку</a><span> (2010)</span>
                </li>
                <li><a href="/diary-chosen/silicon-valley">Из Кущёвской станицы Силиконовую долину не
                        построить</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/in-the-mirror">В зеркальном отражении</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/henhouse">В курятнике</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/sick-with-others-health">Болеющие чужим здоровьем</a><span> (2010)</span>
                </li>
                <li><a href="/diary-chosen/no-neighbor">Без ближнего</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/wild-garlic">За черемшой</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/sleeping-beasts">Спящие чудовища</a><span> (2010)</span></li>
                <li><a href="/diary-chosen/smell-of-rus">«...Там Русью пахнет!»</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/soup-set">Суповой набор</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/land-of-heroes">Страна героев</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/blue-with-red">Голубое с красным</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/meat-grinder-of-love">В мясорубке любви</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/looking-glass">Живущие в Зазеркалье</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/freak-homeland">Родина-уродина</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/no-more-dead-ones">Больше никто не умрет?</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/company-RF">ЗАО РФ</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/following-the-pipe">За дудочкой</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/one-day-butterflies">Бабочки-однодневки</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/in-the-trench">В окопе</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/occupied-by-hate">Оккупированные ненавистью</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/not-like-that">Мы - не такие</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/responsible-for-goat">Кто ответит за козла?</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/indifferent">Равнодушные</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/national-hero">Национальный герой</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/extremist">Экстремист</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/nonsense">Брехня все это!</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/challenge">Испытание</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/boa-teeth">Зубы удава</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/one-hundred-thousand-skiers">Сто тысяч лыжников</a><span> (2009)</span></li>
                <li><a href="/diary-chosen/nothing">Ничтожество</a><span> (2009)</span></li>
            </ul>
    </main>
    {{> footer}}
</body>

</html>