<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Немного о жалости</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Немного о жалости</h1>
            <p>Часто в жизни возникают ситуации, когда верующего человека начинают обличать в том, что ему многое
                запрещено и не дозволено, что его жизнь неполноценна. С чувством видимого превосходства, с долей иронии,
                верующему «открывают глаза», объясняя каких и скольких удовольствий он себя лишает, насколько бедна и
                однообразна оказывается жизнь у христианина. И праздник толком не отметишь, и с друзьями не посидишь, и
                стресс не снимешь. Да и от других удовольствий приходится оказываться. Но как после этого не пожалеть
                убогого человека, лишенного радости жизни.</p>
            <p>Похвальное желание посочувствовать человеку, наставить на путь истинный. Но кто же достоин жалости:
                верующий христианин или критикующий его? Кто из них прав и чем каждый из них обладает? Или, вернее, кого
                и что в своей жизни имеет? У многих это вызывает удивление, но каждый из этих людей имеет … своего Бога.
                Только христианин имеет настоящего Бога с большой буквы, о котором говорит Библия, и Ему он служит и
                поклоняется. Обратите внимание – он это делает сознательно, по своей воле. А вот, так называемые,
                неверующие …. Давайте обратимся к авторитетному объективному эксперту – Библии. В послании от Иоанна
                сказано: «всякий, делающий грех, есть раб греха». Понятно, что раб всегда имеет своего хозяина, которому
                он служит. Так какому же богу-хозяину служит неверующий?</p>
            <p>Их главный бог – Собственное Удовольствие. Этому богу они поклоняются, ему они служат, он ими правит. Это
                их идеал, их кумир. Как это проявляется? По разному, тут вариантов может быть много. Вы сами наверное
                знаете множество примеров, когда человек, за удовольствие выпить рюмочку, готов на все. Наркоман за
                «дозу», за предстоящий кайф, выключает свой разум, совесть, даже инстинкт самосохранения.</p>
            <p>А те, кто имеет склонность к блуду, к прелюбодеянию, те, которые предались «господствующему в мире
                растлению похотью»? Все эти люди служат Собственному Удовольствию, своему богу.</p>
            <p>А люди обидчивые? Они копят и хранят свои обиды. Как тот скупой рыцарь, в потемках подвалов своей души,
                перебирают драгоценности: «вот у меня обида, вот у меня обида, и здесь меня обидели». Это тоже
                Удовольствие ощущать себя тонкой, легко ранимой, незащищенной натурой в этом жестоком, бесчувственном
                мире.</p>
            <p>А любовь к деньгам – сребролюбие, стяжательство? «Корень всех зол есть сребролюбие» - надеюсь эта фраза
                из Библии звучит достаточно убедительно?</p>
            <p>А раздражительность и гордость? Каждый знает, как тяжело побывать в общении с раздражительным или гордым
                человеком. Но ведь мы знаем какое Большое Удовольствие выплеснуть свое раздражение дома. Или, на
                наоборот, на работе. Еще лучше – там и там. Выплеснуть на голову виновного. Или невиновного. Неважно.
                Это же Сказочное Удовольствие! Так расслабиться, так разрядится! После этого и жить хочется.</p>
            <p>А гордыня, вообще, страшная штука: она живет в каждом, но ни кто не признается, не осознает этого. До тех
                пор, пока человек не займет среди своих место, на ступеньку выше прежнего. Теперь ему, естественно,
                приходится смотреть на тот же «пейзаж», но уже с высока. Положение обязывает. Поэтому гордые в церковь
                не идут. Спускаться со ступеньки или с пьедестала, на колени, перед Богом? «Да неужели у меня все так
                плохо?». Даже если действительно так, то : «Почему я должен признаваться в этом всем, именно этим
                способом?» Поэтому гордые в церковь не идут.</p>
            <p>Вот мы и убедились, что, в основном, поклоняются люди своим богам. Только они думают, что это просто
                вредные привычки, которые сильнее их. Те, кто умнее, уже считают, что это наверное все-таки грехи. Лишь
                немногие из них понимают, что они идут на поводу своего Удовольствия. Что это их бог. И что они его
                рабы. И только христианин, посещающий церковь, знающий Библию, скажет, что за всем этим стоит сатана,
                что эти люди – его рабы, его поклонники. И ведут они такой образ жизни, заметьте, против своей воли и с
                радостью избавились бы от дурных привычек. Но привычки хоть и дурные, но приятные. Это – Удовольствие.
            </p>
            <p>Рабов не пугает собственное бессилие. Они же в Бога истинного не верят. Значит и в сатану не верят.
                Поэтому всей правды они не понимают. Поэтому живут во грехе бесстрашно. А «страх Господень отводит от
                зла и ведет к жизни».</p>
            <p>Вернемся к началу статьи. Я снова задаюсь вопросом: кого же нужно жалеть? Один живет в полной
                зависимости: от водки, от наркотиков, от сигарет, от раздражительности, от гордыни, от обидчиков, от
                непрощения. И считает при этом себя свободным. Это раб греха. Марионетка. Другой – раб Божий. Он
                свободен от такой жизни, от таких грехов. Он живет с Господом, и награда ему будет по делам его. Как,
                впрочем и поклоннику Собственного Удовольствия. Так кого нужно жалеть? Кто ваш Бог? Какому Богу вы
                поклоняетесь? </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>