<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Какое небо голубое</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Какое небо голубое</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">«Какое небо голубое!
                    <br>
                    Мы не сторонники разбоя.
                    <br>
                    На дурака не нужен нож,
                    <br>
                    Ему с три короба наврешь –
                    <br>
                    И делай с ним что хошь»
                    <br><br>
                    <span class="article__epigraph-author">Лиса Алиса и кот Базилио</span>
                </p>
            </section>
            <p>Строки сразу пришли мне на память после просмотра очередного отечественного фильма показанного по
                телевизору. Это был фильм не из тех последних боевиков, где «наши», в камуфляжной форме «мочат»
                штабелями, на право и на лево, коварных и кровожадных террористов. Кино было про какое-то частное
                сыскное агентство, получившее заказ от родителей отыскать своего пропавшего сына студента. Согласно
                сюжету, по городу, в это время, прокатилась волна серийных убийств: регулярно находили трупы девушек,
                удушенных куском шпагата. Милиция, по внешнему виду и своему поведению похожая на тех, с кем борется,
                сбилась с ног в поисках преступника. Изюминка заключалась в том, и это открыли симпатичные частные
                агенты, что под личиной врача-психиатара скрывалась ужасная женщина.</p>
            <p>Она, используя свои профессиональные знания, из своих пациентов, доверчивых юнцов, организовала секту
                (?). Эта женщина помешалась на мести за свою семью. У нее все родные, близкие погибли в зоне боевых
                действий, и вовсе не от рук врагов. После этого она своих солдат-соотечественников стала называть
                оккупантами. Ее месть заключалась в том, что попавшие к ней в зависимость юнцы, ее пациенты, душили
                куском веревки девушек по всему городу.</p>
            <p>Чушь? Несомненно. Какую же реакцию у нас хотели вызвать этим фильмом? «На дурака не нужен нож, ему с три
                короба наврешь…». Вот нам и наврали. С три короба. Но зачем? Куплет в этой песенке заканчивается так: «…
                и делай с ним что хошь». Чего же от нас хотят? А что бы мы напрягались. Напрягались инстинктивно, когда
                в нашем присутствии кто-нибудь выразит свое негодование или протест по поводу войны в Чечне.
                Негодование, протест из-за того, что там погиб конкретно чей-то сын, участвуя в карательных,
                антитеррористических операциях. Или, наоборот, когда в результате этих военных действий у кого-то
                погибла вся семья, как у женщины из этого фильма.</p>
            <p>Так вот, сейчас, в нашем обществе, в каждом из нас пытаются возродить подозрительность. Напрягают.
                Подозрительность и враждебность к тем, кто говорит не так, думает не так, живет не так. И если
                государство ведет войну на своей территории , против собственного народа, то от нас требуется понимание
                того, что это «мочат» террористов в сортире. Извините за жаргон, используемый уголовниками. Только кто
                тогда Николай Кузнецов, наш легендарный герой? Он, на оккупированной фашистами территории, умело,
                используя свои таланты и способности, уничтожал вражеских солдат и офицеров. Боролся против захватчиков
                на своей земле. Враги говорили, что он бандит, партизан. От нас требуется сочувствие и понимание того,
                что на стороне бандформирований воюют наемники из других стран. Но еще в те, далекие, тридцатые годы мы
                посылали в Испанию своих добровольцев, «интернационалистов» - как мы их любили называть. Они воевали
                там, прикрываясь испанскими именами, не зная испанского языка. Эту практику мы ни когда не прекращали.
                Мы всегда использовали советников, консультантов, спецов. Недавно вот двоих осудили. В чужом государстве
                взорвали машину. Провели, так сказать, антитеррористический теракт возмездия.</p>
            <p>Люди, сомневавшиеся в целесообразности всего происходящего, должны вызывать у рядовых граждан подозрение,
                нетерпимость. В общем, негативную реакцию. Напряг. Видимо, так кем-то задумано. Слово «секта» стало
                словом страшилкой, ужастиком. Судя по показанному фильму, его уже используют вместо определения «банда».
            </p>
            <p>На самом деле слово «секта» происходит от латинского «секви» - следовать. Что бы нам это все стало
                понятней, разберем отличия церкви и сетkы по 3 позициям:</p>
            <p><span class="article__passage">Отношение к внешнему миру, к «миру» вне церкви</span><br><br>
                Итак: задача церкви состоит в том, что бы, желательно,
                каждый член общества стал членом церкви. Но решение этой задачи достигается послаблениями и
                компромиссами со стороны церкви. Она должна отказаться от насаждения своих ценностей и норм. Особенно в
                тех случаях, когда обнаруживается достаточно острое расхождение между культурными и церковными
                ценностями. Например: На рождество мы любим гадать. Это запрещено Библией – грех. А если на Рождество –
                так это совсем кощунство! Масленица и Пасха у нас в одинаковом почете. Мы с радостью прыгаем через
                костры на языческом празднике и, в обязательном порядке, как православные красим пасхальные яйца. В
                такой ситуации церковь старается отмолчаться. Зачем ставить людей перед выбором? Вдруг, кто-то сделает
                выбор не в пользу церкви? Секта, напротив, тяготеет к неприятию, осуждению «мира», его греховных
                ценностей и порядков. Секта, ее члены стремятся к бескомпромиссности. Они хотят быть общиной избранных,
                отделенных, не соприкасающихся с грехом и греховными мирскими ценностями.</p>
            <p><span class="article__passage">Отношение церкви и секты к своим прихожанам</span><br><br>
                Требования и критерии. Церковь, по понятным теперь
                причинам,
                предъявляет умеренные требования к своим членам. Участие в богослужениях только желательно, но не более
                того. Практически каждый может быть и оставаться членом церкви. Крещение в детском возрасте – логическое
                следствие такой позиции. Отлучение от церкви – это редкий случай. Наиболее известный пример – Лев
                Николаевич Толстой. В наше время быть православным популярно и обязательно, так же как раньше быть
                пролетарием. Членство же в секте предполагает добровольное, осознанно принимаемое решение. Отсюда –
                крещение только взрослых. В секту принимают в зависимости от соответствия определенным критериям.
                Обычно, необходимым считается искренне покаяние. Нарушение моральных принципов наказывается исключением.
                В секте принято считать, что спасение достигается лишь моральной чистотой, совершенством. Поскольку это
                требует преодоления мирских соблазнов (алкоголь, курение, блуд и т.п.), то для секты характерен
                аскетизм, самоограничение.</p>
            <p><span class="article__passage">Отношение к управлению, к бюрократической организации</span><br><br>
                Церкви свойственно бюрократическая организация.
                Руководство в церкви принадлежит специально подготовленному профессиональному духовенству. Церковь
                решила, что для совершения таинств необходимо только компетенция и обладание правом. Т.е. таинство
                действительно, если священник законно занимает свою должность, независимо от его личных достоинств и
                моральных качеств. Секты решили эту проблему противоположным образом, исходя из высоких требований к
                религиозным и моральным качествам каждого. Внутри секты должны существовать соответствующие отношения
                между людьми близкими по духу. Лица, занимающие те или иные должности, должны по своим качествам им
                соответствовать. Секта теологически ориентирована на фундаментализм. Т.е. стремится к обладанию
                (следованию, латинское «секви») истинным выражением веры, единственно правильным, основанным только на
                Библии. Сектантское богослужение допускает спонтанность, определенную произвольность. Оно менее
                формализовано, чем церковное, более эмоционально.</p>
            <p>И последнее: секта возникла внутри церковной общины, как протест против сращивания церкви с «мирским»
                обществом. В начале это была относительно малочисленная группа, самоизолированная по Библейскому
                принципу: «Много званных, но мало избранных». Но такое положение со временем начинает меняться. Если они
                правы, а в этом у них нет сомнения, то они должны нести свой свет в массы, в «мир». За счет этого
                увеличивать свои ряды. Наступает момент, когда они будут вынуждены несколько смягчить свою нетерпимость
                к «миру», и его отрицание. Секта, выросшая до значительных размеров, снимает многие запреты, ранее
                действующие внутри себя. Все это принесено в жертву для количественного роста. Для доказательства того,
                что они правы, что они продолжают существовать. Выросшая секта становится деноминацией.</p>
            <p>Деноминация представляет собой промежуточную форму между сектой и церковью. При дальнейшем ее развитии,
                деноминация становится церковью. И тут … тут найдутся недовольные духовным состоянием церкви тем, что
                она потакает так называемым верующим, которые в церкви появляются по большим праздникам. Вы правильно
                поняли – зарождается новая секта, где неравнодушные люди хотят искренне служить Богу.</p>
            <p>Могут ли среди сект существовать такие, которыми нас пугают: тоталитарные, авторитарные и прочие, прочие?
                Конечно, могут. Но если смысл запрещать супружеские браки, только из-за того, что некоторые семьи не
                смогут быть счастливыми? Нет, это будет полный абсурд! Но зачем же нас так упорно пугают сектами?</p>
            <p>«<span class="article__accent">На дурака не нужен нож, ему с три короба наврешь, и делай с ним, что
                    хошь</span>». От нас хотят чтобы мы были в
                послушании, и не лезли с вопросами: зачем эта война? Почему ее не прекращают? Кому она выгодна? Сколько
                туда ушло средств? Сколько разворовано? Сколько уже там погибло мальчишек: русских, чеченцев?</p>
            <p>Вот поэтому нас напрягают. Что бы в народных массах не задавались подобными вопросами, нам потихоньку
                указывают врагов, на которых можно излить свой гнев: недовольных инакомыслящих, олигархов, шпионов,
                сектантов. При желании, таких вокруг всегда можно найти. Если народ к этому будет готов, то команду
                «фас» давать даже не нужно. Александр Мень пишет: «Массу очень легко натравить. Массой ничего не стоит
                манипулировать. Когда человек превращается в массу, тогда его особенность теряется. Подлинному человеку
                свойственна проблема выбора, личного решения – в этом его величие». А нас как раз пытаются лишить
                выбора, односторонне отображая мир в средствах массовой информации.</p>
            <p>Снова мне на память приходят слова этих плутов, которые пообещали, что в Стране дураков, на поле Чудес
                будет полное изобилие: «Какое небо голубое!».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>