<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Кипящий котёл (часть 2)</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Кипящий котёл [часть 2]</h1>
            <p>Я этого хотел, и в какой-то мере добился. Хотел пообщаться на православном кураевском форуме с
                единоверцами. Потому, что мне рассказали, как один верующий, из нашей церкви, зашел на этот сайт
                товарища Кураева. Не знаю, что такого пятидесятник мог сказать на православном сайте, но они его
                попросту обматерили. Простые, советские православные люди. Бывшие комсомольцы, бывшие коммунисты. Мне
                тоже захотелось пережить подобный «экстрим». А то своих неприятностей мало. Я зарегистрировался на том
                форуме и «повесил» для обсуждения статью «Кипящий котёл», из моего дневника. В первую очередь я выразил
                недоумение по поводу непопулярности Библии у православных. Аргументировал своё мнение тем, что кто бы из
                православных не выступал на телевиденье, ни кто из них не пользовался Библией, и не ссылался на неё.
                Второе: советские православные явно избегают называть себя христианами. По-видимому, они считают себя
                непричастными к христианству. В-третьих: советские православные ненавидят евреев, и поддерживают все
                диктаторские режимы и террористические государства, которые ведут, или готовы вести войну с Израилем.
                Здесь я спекульнул эпизодом, где наш Алексий-второй демонстративно облобызался с Ясиром Арафатом, но не
                пускает в Россию, ни на дух, христианина Папу Римского. На основании всего сказанного, я осмелился
                высказать в слух своё предположение, что советское православие <span class="article__accent">есть
                    секта</span>. Более того, взяв пророчество
                из Библии: «<span class="article__accent">от севера откроется бедствие на всех обитателей сей
                    земли</span>», я поддержал мысль о том, что
                Россия – та самая страна, от которой «откроется бедствие». Разве это не перекликается с нашим недавним
                призывом: «Мы на злобу всем буржуям, мировой пожар раздуем!». И что же мне ответили с форума?</p>
            <p class="article__remark"> Шумков Александр:
                <br>
                Мир Вам, Пётр Степанович.
                <br>
                Похоже ваша тема обречена на удаление :((
                <br>
                Вот модераторы проснутся и ...
            </p>
            <p>Александр оказался прав. Модераторы проснулись (куда Кураев смотрит?), и удалили. Но несколько «писулек»
                я успел получить.</p>
            <p class="article__remark">Олег Липко:
                <br>
                Вы видимо в Израиле живёте. Поэтому для Вас тем " севером" будет Южный Ливан, который <br>
                бомбили евреи и сейчас восстанавливают русские солдаты. И Россия для Вас не матушка.
                <br>
                Потому что к матери относятся иначе
            </p>
            <p> Нет, Олег, ты не угадал. Я живу в России. А по поводу русских солдат, которые в очередной раз что-то
                восстанавливают…. Лучше вспомните Чехословакию, Венгрию, Болгарию. Вспомните, что мы там
                восстанавливали. Вспомните, чтобы не ходить далеко, Новочеркасск. Вспомните Афганистан, Чечню. Или, у
                вас, как в советской песенке: «Что-то с памятью моей стало?». А вот палестинцы, с территории Ливана,
                воевали, как раз, русским оружием. Наша (моя и ваша) мать помогла!</p>
            <p class="article__remark"> Балытников Вадим Владимирович:
                <br>
                Если автор имеет всякое знание и всю веру, но не имеет любви, то ... лучше ему не открывать тем на
                православном форуме.
            </p>
            <p>Спасибо, Вадим Вадимович! Хоть вы мне не отказали в наличии знания и веры. А то я думал, что это атрибуты
                одного только православия. Как раньше, помните: «КПСС – ум, совесть и честь». А то, что в православии
                вся любовь сосредоточена…. Наверное, это вопрос открытый.</p>
            <p class="article__remark">Михаэль Едвабный:
                <br>
                Алексий второй, патриарх всея Руси, с ним, на мой взгляд, произошла какая-то метаморфоза. Во времена
                демреволюции 90-ых он был явным символом возрождающейся свободной России. А сегодня стал "ярым путинцом"
                и ратовать за обязательный ОПК.
            </p>
            <p> Я оставлю без комментариев это утверждение. Но нужно быть совсем наивным человеком, что бы полагать,
                будто можно достичь вершин власти в чекистской России, а потом не поддерживать чекиста Путина. Вы о чём,
                уважаемый Михаэль Едвабный?</p>
            <p class="article__remark">Андреев С.В.:
                <br>
                Эх, Пётр Степанович...... Какая там Библия, у нас про сектантов есть авторитетное писание Кривельского -
                его изучайте.
            </p>
            <p>Вот тут я пас. Стыдно признаться, но Библию я брал (в руки). Иоанна Кронштадского брал. Феофана
                Затворника брал. Жития Святых брал. А Казань, то бишь Кривельского, не брал. «Пошарил» в Интернете – там
                есть некая госпожа Кривельская. Но она из силовых структур, член ЛДПР. Такие меня не интересуют. Так
                вот, по существу: ни на одно из трёх моих утверждений в «Кипящем котле», я не получил ответа или
                опровержения. Самое забавное для меня было то, что ни кто не возмутился на введенный мной термин –
                «советское православие». Ни кто не оскорбился. Как будто это естественно, и так и должно быть. Простые
                советские люди. Но мои наихудшие ожидания не оправдались. Меня, лично меня, ни кто не обматерил на этом
                форуме. Хотя, ни когда не говори: «Гоп!», пока не перепрыгнешь. Меня же быстро удалили с форума. Как
                только модераторы проснулись! При чём без права возвращения.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>