<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Кипящий котёл (часть 1)</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Кипящий котёл [часть 1]</h1>
            <p>Интересное отношение у советских православных к Библии. Для наглядного примера: последние годы по самому
                главному путинскому телевизионному каналу, каждое воскресенье выступает митрополит Кирилл. За всё это
                время я его ни разу не видел с Библией! То есть, перед телекамерой, в праздничной униформе, при полном
                параде сидит человек и несёт в эфир какую-то отсебятину. Нет, конечно, при этом он ссылается на
                известные ему авторитеты, на свои достоверные источники информации, но ни каких ссылок на Библию,
                практически, не делает. </p>
            <p>Ещё интереснее выглядит на православном телеканале «Союз» выступающая, последнее время постоянно,
                женщина, в монашеском одеянии. Бывший психолог, она довольно толково, и подолгу говорит о правильных
                взаимоотношениях внутри семьи. И опять же ни одной ссылки на Библию! Нет, она делает ссылки на святых
                угодников, на их изречения, но Библия для неё не авторитет. Перед аудиторией, внимательно слушающей её в
                зале, она тщательно избегает слова «христиане». Ни разу его не произнесла! При необходимости она
                использует слово «православные». Православная мораль, православная этика, православный образ жизни. </p>
            <p>Я долго вначале ломал себе над этим голову: ну, почему так? Только потом понял, что это и есть, те самые
                сектанты, с которыми изо всех сил борются в России. Что меня натолкнуло на такой вывод? Во-первых:
                Библия для них не авторитет. Во-вторых: христианами, учениками и последователями Христа, они себя не
                считают, и так себя не называют. Вдобавок, они ненавидят евреев – народ, из которого Бог произвёл Иисуса
                Христа. Точно, это сектанты-мракобесы! И <span class="article__accent">советское</span> православие –
                это секта. Тем более, главная заповедь
                Христа гласит о любви. О любви к Богу, о любви к ближнему. А теперешнее состояние нашего государства,
                это состояние войны. Войны со всеми. Мы бы всем объявили войну, да пока кишка тонка. Любим мы, или, по
                крайней мере, поддерживаем все существующие диктаторские режимы: Белоруссию, Кубу, Венесуэлу, Иран,
                Ирак, северную Корею, Палестину. Кто там ещё, от злобы, на весь мир плюётся и на всех кидается? Те и
                есть наши меньшие братья. А как Алексий второй, патриарх всея Руси, с Ясиром Арафатом при встрече
                целовался? Как братья. Как единомышленники и единоверцы. </p>
            <p>Библия, которую избегают советские православные, говорит устами пророка Иеремии: «<span
                    class="article__passage">И было слово Господне
                    ко мне в другой раз: «что видишь ты?» Я сказал: вижу поддуваемый ветром кипящий котёл, и лице его со
                    стороны севера. И сказал мне Господь: от севера откроется бедствие на всех обитателей сей
                    земли</span>».</p>
            <p>Не могу похвастаться, что бы я ощущал за собой дар пророчества. Но, полагаю, что это Бог дал людям разум,
                и я тоже могу подумать над чужим пророчеством. Итак: кипящий котёл – это страна, постоянно бурлящая,
                расположенная лицом на север. Гренландию, Исландию, Канаду, можно отбросить сразу. Меньше всего они
                напоминают кипящий котёл, поддуваемый ветром. Есть ещё Аляска. Но это не страна, это часть суши, которую
                Россия продала США. Сами же Соединенные Штаты лежат лицом не к северу, а к Канаде. Тем более, США всегда
                помогали евреям и всему Израилю.</p>
            <p>Тогда остаётся только Россея-матушка. Это она лежит лицом прямо к северу, смотрит на Северный полюс. Это
                она постоянно кипящий котёл. Это здесь ненавидят евреев и стесняются называть себя христианами. Это
                Россия оказывает помощь Сирии, Ливану, Палестине и другим странам, которые ведут войну с Израилем. И я
                очень боюсь, что «<span class="article__passage">от севера откроется бедствие на всех обитателей сей
                    земли</span>». Слишком многих наших
                правителей можно считать слугами антихриста. Об этом говорит вся прошлая и нынешняя история нашего
                государства. «<span class="article__accent">Вижу поддуваемый ветром кипящий котёл</span>».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>