<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Кирпич в воду</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Кирпич в воду</h1>
            <p>Сидит человек на берегу и время от времени бросает в воду по кирпичу. Прохожий его спрашивает: «Ты чего,
                мужик, делаешь?» – «Да, вот, не могу понять. Кирпичи кидаю в воду квадратные, а круги по воде идут
                круглые». Вот и я так же. Пишу время от времени статьи в газету, для рубрики «Уголок верующего». В них я
                обращаюсь к Библии, стараюсь вызвать у читателя интерес к иной, духовной жизни. Жизни с Богом, с духом
                Святым. А в ответ на статьи – круги по воде. Всегда одинаково круглые, похожие на нули.</p>
            <p>И вот, на мою последнею статью «Евангелие от Павки», мне принесли исписанный тетрадный лист. В своей
                статье я пытался показать, что без Бога в сердце, без любви к ближнему, мы строим общество ненависти. В
                качестве образца носителя ненависти я выбрал Павку Корчагина. Мне же, на принесенном листке, доказывали,
                что у Ленина была богатая идея: объединить пролетариаты всех стран, чтобы кухарка, или ее дети могли
                управлять государством. Так с чем я вас и поздравляю! Вот эта жизнь, которую мы сейчас имеем, и есть
                воплощение этой идеи!</p>
            <p>Что бы было понятней, я напоминаю: когда правит народ – это демократия. Что это такое? Мы этого не знаем,
                у нас такого не было. Когда правят лучшие – это аристократия. Аристократия – это не ругательство. Если
                буквально, аристократия – правление или власть лучших. Этого мы тоже не знаем. При нас такого не было.
                Что мы знаем – так это социализм. Это как раз то, за что мы боролись. Правда без Бога. Против Него мы
                тоже боролись. При социализме, по идее, к власти пришли как раз кухаркин дети. С чем я всех и
                поздравляю! Но в Библии написано, что земля не в силах носить: «раба, когда он делается царем, и
                служанку, когда она занимает место госпожи своей».</p>
            <p>В старину, в деревнях было два самых наиболее употребляемых ведра. В одном отставляли на ночь молоко,
                чтобы сверху собрать сливки. А вот второе ставили у дверей, у порога. Чтобы не выскакивать, извините, по
                нужде во двор. Семьи были большие, детей много. За ночь ведро наполнялось. И сверху плавало …. Вы
                правильно меня поняли. Это было совсем не «Мелки вей». Сейчас предлагаю всем определится: на какое ведро
                похоже наше государство, которым руководили корчагинцы? И какие сливки у нас на верху плавают?</p>
            <p>Я хочу сказать, что без Бога невозможно что-либо делать или создавать. Библия говорит: «Если Господь не
                созиждет дома, то напрасно трудятся строящие его». Невозможно строить без Бога. Даже просто жить без
                Бога невозможно. Человек в этой ситуации подобен воде: самотеком, с каждым моментом, оказывается все
                ниже и ниже первоначальной отметки. Ток идет по линии наименьшего сопротивления. Эти законы применимы и
                к духовному состоянию человека. Мы, используя зависть и ненависть, и, казалось бы, правильные лозунги,
                пытались построить новое общество. Как сказал Чебурашка из мультфильма: «Строили, мы строили, и наконец,
                построили».</p>
            <p>По поводу того, что при социализме у нас у всех была возможность бесплатно учиться. Более того: учеба
                была для каждого обязательностью. Но теперь не секрет, что наши дипломы за рубежом недействительны. В
                виду несоответствия уровня знаний. И еще один момент: на каждого «нашего» лауреата Нобелевской премии,
                приходится более двадцати американских. Даже если бы у них лауреатов было в 2 раза больше, тут уже было
                бы над чем задуматься! Если б в 5 раз больше, можно было бы обвинить их в том, что они «скупают» лучшие
                мозги. Но когда в двадцать раз! А сейчас вспомните как мы уничтожали и высылали свою интеллигенцию. Кто
                остался? Здесь уместны слова из Библии: «Глупый не любит знания». Дзержинцы, с чистыми руками,
                освобождали место для кухаркиных детей. Понятно, что для своих тоже.</p>
            <p>Знания всегда дорого стоят. А у нас педагоги и врачи меньше всех получали. Вот поэтому дети кухарок
                выродились в самую «здоровою» и «умную» нацию. При чем здесь Павка и все остальные? Пора понять и
                согласиться: зависть, ненависть разрушают. Созидает только Бог, через любовь. И спасены будут, и в том и
                в этом мире, любящие. Любящие Бога, своих ближних, свою Церковь.</p>
            <p>Ну, а на счет социологического опроса, где 53% ответили, что Ленин хороший, так удивляться тут не чему.
                За Путина, например, более 70% проголосовало. Следом идет Жериновский. И Ленин здесь совершенно
                нормально смотрится. Более того, я уверен, что в дальнейшем рейтинг Путина приблизится к 95%, Ленина к
                70%. А там и Сталин поднимется. Я имею в виду его рейтинг.</p>
            <p>Думаю Библия, как всегда, права утверждая: «Лучше уповать на Господа, нежели на князей». Закончу я
                словами Серафима Саровского: «Прежде имейте страх Божий и чистоту душевную, и любовь нелицемерную,
                смирение с покорением. Чести и славы не любите. Более всего бойтесь и поминайте час смертный и второе
                пришествие».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>