<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Христианин</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Христианин</h1>
            <p>Последнее время всё чаще сталкиваюсь в Интернете с агрессией и проявлением враждебности по отношению к
                верующим людям. Пример этому – реплика одной женщины: «Знаете, какая основная проблема была в моей
                жизни? Впрочем, нет, конечно, не основная, а так - одна из основных - зло, которое мне причиняли именно
                верующие люди. Они ходят с крестами на шее и любят говорить о Боге, но сволочи редкие». Как видно из
                фразы, одна из основных причин неустроенной чьей-то жизни – это сволочи с крестами на шее, именующие
                себя верующими людьми. Правда, звучит противоестественно: христианина, верующего человека, приравнивают
                к сволочи? Видно, что кто-то в этом обвинении выплеснул всё давно накипевшее. Имеет ли подобное мнение
                право на существование?
            </p>
            <p>Для того чтобы высказать мнение и оно было понято, подойду издалека. Есть художники с известными на весь
                мир именами, оставившие свой след в мировой культуре. Наверное, каждому известны имена Леонардо да
                Винчи, Микеланджело, Пабло Пикассо, Ван Гога. Есть художники общеизвестные на своей родине. Для нас это
                Репин, Айвазовский, Шишкин…. Есть художники известные только в своём городе. В нашем посёлке тоже есть
                художники. Более того, в нашей семье есть свой художник: это дочка Надюшка. Она прекрасно рисует
                персонажей, похожих на героев ещё не придуманных мультфильмов. Понимаете, к чему я? Все упомянутые люди
                объединены одним общим названием – художники, и навыком держать кисть или карандаш в руках. То есть,
                определённым талантом.</p>
            <p>Но есть и такие, которые, не имея таланта, пытаются выглядеть как художники: на голове носят беретку, в
                руках мольберт. Может, они полагают, что внешнее оформление «под художника» даёт им автоматически право
                на талант? Эти бездарные люди присваивают себе звание художника для получения определённых льгот, или
                просто для повышения собственного авторитета. Сейчас, наверное, все поняли, что художников я намеренно
                сравнил с христианами, показывая, что <span class="article__accent">назваться кем-то</span>, это ещё
                <span class="article__accent">не значит быть им</span>. Таких как Леонардо да
                Винчи, Микеланджело – единицы. Далее талант идёт по нисходящей и доходит до ноля. Но бывает, что человек
                с нулевым талантом (не имеющий таланта), намеренно начинает подавать себя как какую-то значимую
                величину.
            </p>
            <p>Теперь вернёмся к проблеме зла, которую создают «верующие люди, являющиеся сволочами редкими»; то есть, к
                тем, кто портит окружающим жизнь. Почему верующие люди доставляют невыносимое зло? И именно верующие? А
                другие? Посмотрим, как те же мнимые художники с высоты своего положения относятся к окружающим? О, они
                всячески показывают собственное превосходство, навязчиво делятся тайнами живописи, лезут со своими
                советами и оценками. Но мы почему-то относимся безразлично к «самодельным» художникам и далеки от того,
                чтобы их обзывать сволочами за назойливость.</p>
            <p>Тогда почему людей задевает общение с верующими? Откуда такое общение, которое оставляет болезненные
                воспоминания? Рассмотрим вариант: вам нагрубил (вас оскорбил) хам и отказал в какой-то необходимой
                помощи. Это может быть неприятно, но со временем забудется. Хам есть хам – что с него возьмёшь? Но вот
                вы обратились за помощью к блюстителю порядка, к милиционеру. Это человек, облечённый властью, и
                является олицетворением закона. Вы к нему, а он вам совершенно неожиданно нахамил, отказал в необходимой
                помощи. Да как так? Как он мог? Да ведь он должен…. Вот именно: милиционер ДОЛЖЕН! Мы заранее ждём от
                него предсказуемого поведения, определённых действий. Потому, что он должен. А он, сволочь….</p>
            <p>Подобная ситуация повторяется при общении верующего и неверующего человека. Дело в том, что от верующего
                человека так же ЖДУТ определённых вещей, определённого поведения. Христианин – человек, олицетворяющий
                любовь Бога и готовый на самопожертвование для спасения людей. У христианина ДОЛЖЕН быть талант любви от
                Бога. Есть христиане с известными на весь мир именами, оставившие след своей любви и преданности. Это
                имена апостолов Матфея, Марка, Луки, Иоанна…. История также хранит имена других христиан, которые менее
                известны, но в своих странах возведены в ранг святых. Есть христиане, которые живут с нами по соседству.
            </p>
            <p>То есть, мы вернулись к сравнению талантов у художников. У христиан тоже есть люди без таланта, но они
                старательно демонстрируют принадлежность к христианству какими-то показными, внешними атрибутами.
                Встреча именно с такими «христианами» может принести разочарование, боль и отторжение. Так что, не
                принадлежность к христианству вызывает ненависть, а разочарование, несбывшееся ожидание человека от
                неудачного общения с псевдохристианином. Чего ожидает обычный человек от общения с христианином? Ждёт
                того, чего не имеет сам: прикосновения к Богу, Его милосердия и осознания истинных своих проблем. А что
                он получает от «христианина»? Высокомерие, самолюбование, самопревозношение.</p>
            <p>Откуда берутся эти качества в подобном «христианине»? Природа не терпит пустоты. Люди, не имеющие в себе
                любви и не в состоянии её принять от Бога, черпают в Библии вместо Любви Знание. Хорошо это или плохо?
                Та же Библия предупреждает, что знание надмевает, а любовь созидает. То есть, человек, не имеющий любви,
                получавший определённые знания, делается надменным, высокомерным. Он полагает, что теперь у него
                появилось преимущество над остальными. Как и о чём говорит такой человек с непросвещенными? А он не
                говорит. Он им изрекает истины, он им пророчествует, обличает, наставляет. Но получает взамен
                характеристику лицемерной сволочи.</p>
            <p>Помните путешественника из притчи, в Библии, которого разбойники ограбили, избили, бросили умирать у
                дороги? Его спас самарянин, который обработал его раны, довёз до гостиницы и там оставил несчастного,
                предварительно заплатив за его лечение. Теперь представьте себе, что на месте доброго самарянина
                оказался «знающий христианин». Он бы обличил во всех смертных грехах умирающего от побоев; рассказал бы
                ему, как избежать подобных ситуаций; пророчествовал о наказании и о геенне огненной. А потом ушёл бы с
                чувством исполненного долга, оставив избитого на произвол судьбы. Наверное, это самое страшное –
                зависеть от человека, который должен иметь талант любви, а имеет только чувство превосходства. Даже
                общение с таким бывает неприятным, а уж тем более – зависимость от него.</p>
            <p>Значит, всё дело в знании, которое черпает человек из Библии? Оно даёт людям чувство собственного
                превосходства? Нет, знание рассчитано на тех людей, которые, получив его, увидели в нём путь к
                собственным изменениям, к исправлению своих недостатков. Даже покаяние (начало пути для верующего
                человека) – является результатом знания о собственном грехе, в котором до сих пор прозябал человек.
                Знание не является злом. Всё зависит от человека, который искал и получил знание. Дайте мастеру топор –
                он этим топором построит церковь без единого гвоздя. Дайте дураку огурец – он им зарежется.</p>
            <p>Притча Иисуса Христа о добром самарянине заканчивается словами, обращёнными к одному из слушателей: «Иди,
                и ты поступай так же». Слушатель получил Знание от Христа, узнал, как надо поступать по отношению к
                своему ближнему. А самарянин, проявивший милость, просто имел Любовь. Но теперь они оба могли поступать
                одинаково. Правда, у слушателя был ещё вариант: получив Знание, назвать себя учеником Христа и…
                превознестись над всеми остальными.</p>
            <p>Поэтому несправедливо выделять верующих в особую касту сволочей, приносящих неприятности. При желании,
                кого угодно можно обвинить во всём плохом, творящемся на свете. Предположим, всех рыжих. И найти этому
                подтверждение. Да, кто-то из рыжих оказался убийцей. Нашлись среди них и мошенники и неверные мужья. Но
                рыжие – это те же представители человечества. И им так же свойственны все те недостатки, которые всему
                присущие человечеству.</p>
            <p>По сути, христианство, это своего рода индикатор, показатель. Точно таким же показателем является власть.
                Власть – прекрасная возможность для человека проявить его сокрытые качества. Как говорят: хочешь узнать
                человека, дай ему власть и он покажет своё настоящее лицо. То же самое и христианство: индикатором здесь
                являются Знания, которые при отсутствии Любви, дают ощущение превосходства над окружающими. Но власть и
                чувство превосходства, неразрывно переплетаются друг с другом. Так что, христиане – это такие же
                представители человечества. И, к сожалению, некоторые из них за счёт полученных Знаний, превозносятся
                над другими. Поэтому Иисус в первую очередь учил о любви к своему ближнему, и говорил, что в этом
                служении «<span class="article__passage">кто хочет… быть б&oacute;льшим, да будет всем слугою</span>».
            </p>
            <p>Настоящие христиане – это лучшие представители человечества. Потому, что они являются одновременно
                представителями Живого Бога. Жалко, что на самом деле настоящих христиан немного. Особенно, у нас, в
                России. Почему именно в России? В Библии сказано: «Не наливают вина молодого в мехи ветхие; а иначе
                прорываются мехи, и вино вытекает». За годы Советской власти в нашей стране сменились несколько
                поколений безбожников. Почти целый век карательные органы вели борьбу с религией. Какое общество мы
                имеем в результате почти вековой зачистки общества? Проведённая властями селекция вывела новую породу
                людей: советский народ. Этот народ оказался ветхими мехами, в которые сейчас те же карательные органы
                (опять насильно), пытаются налить вино.</p>
            <p>Вчерашние коммунисты и комсомольцы вперемежку с чекистами, благоговейно стоят в церквях со свечками. Эти
                активные и агрессивные б/у комсомольцы стали (с разрешения и поощрения властей) верующими. Раньше для
                выживания считалось необходимостью относить себя к пролетариям. Сейчас новые времена: теперь необходимо
                относить себя к православным. А как же те, советские люди, такие же б/у комсомольцы, которые остались
                атеистами? Которые не торопятся, по зову сердца и властей, стать верующими?</p>
            <p>Мой сосед держит во дворе двух породистых собак и ещё какую-то здоровенную псину. Иногда, в бессильной
                злобе кидаясь на проходящих за забором людей, псы начинают яростно грызть друг друга, образуя рычащий
                клубок. Вот также, порой, православные комсомольцы схлестываются с атеистами-комсомольцами. В принципе,
                те и другие – это простые советские люди, граждане одной страны; которые, как положено при советской
                власти, воспитаны в ненависти и нетерпимости. Но атеистам приходится труднее. На стороне советских
                православных закон об оскорблении религиозных чувств, состряпанный властями в их поддержку.</p>
            <p>Когда-то КПСС не хотела делить власть ни с кем. В том числе и с Богом. Уже в 1960 году Хрущев дал
                обещание показать последнего попа. Чекисты должны были оказать (и оказывали) в этом всемерную помощь.
                После краха КПСС чекисты понимают, что власть им одним не удержать. И вместо уничтожения верующих,
                чекисты начали искать «духовные скрепы», которые в их руках должны соединить две власти: небесную и
                земную.</p>
            <p>Так что у нас, в России, всё проще: в старые мехи пытаются залить хорошее вино. И когда я слышу отзыв
                атеиста о верующем человеке как о сволочи, то понимаю: прежде всего – это идёт разборка между двумя
                советскими людьми.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>