<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Не согласный я</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Не согласный я</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">Боже мой! Я только теперь понимаю,
                    <br>
                    что может получится из этого Шарикова
                    <br>
                    Д-р Борменталь.
                    <br><br>
                    <span class="article__epigraph-author">М. Булгаков. Собачье сердце</span>
                </p>
            </section>
            <p>Прочитал я тут не давно статью в газете об аресте Ходорковского. Называется она «Мы проснулись в другой
                стране …». Не согласный я. Не знаю, где просыпаются авторы таких статей и где засыпают. Я, во всяком
                случае, как всегда проснулся в своей постели. Скомканная простынь, головная боль и две вечных проблемы:
                вроде надо бы похмелиться и вроде надо на работу. По научному такое положение называется дилемма, т.е. и
                хочется и колется. А то нашли проблему – Ходорковский. Не согласный я.</p>
            <p>Да Миша Задорнов, по «телеку», уже давно эту проблему обозначил. «У них, - говорит, - там, на «верху»,
                все как у нас на зоне: тому, кто с паханом не поделится, враз кислород перекроют». А чего этому
                Ходорковскому, у нашего президента, по больным мозолям топтаться? Тоже мне, паразит, вы не подумайте
                чего, это я о Ходорковском, удумал: «Если правильно работать с молодежью, через десятилетие мы получим
                поколение свободного цивилизованного общества». Не согласный я.</p>
            <p>Свободное цивилизованное общество. За каждое из этих слов по десять лет, как минимум, давать надо. Путин
                же ясно о свободе слова сказал: «Свободы слова у нас, в России, ни когда не было». Не чего удивляться,
                что ее нет. Остается надеяться, что никогда и не будет. А слово «цивилизованное»? Это же подразумевается
                «культурное»! Говорят, при слове «культура» Геббельс за кобуру пистолета хватался. Оно может и хочется.
                Хорошо, что у нас Путин делает наоборот. Он всем, так называемым, деятелям культуры медальки вешает. Что
                бы собака не гавкала, ее подкармливать надо. Тогда она и хозяина знать будет и при случае заступится. А
                слово «общество»? У нас его некогда не было! У нас есть народ, массы, электорат, потребитель
                централизованного телевидения. Общество, не дай Бог, по Гегелю, вообще противостоит государству. Это я
                прочитал на листочке из Большой Советской Энциклопедии, кто-то селедку на работу принес. Свободное
                цивилизованное общество. Да не согласный я.</p>
            <p>Не будет этого у нас. Гарантией служат счастливые лица молодых людей, в футболках, на которых изображен
                Путин и написано: «У нас будет все путем». Я бы тоже дел бесплатную футболку с Путиным на груди, и еще,
                было бы здорово, халявные джинсы! Только где портрет Путина на джинсах изобразить? Сзади или спереди? Да
                за эти шмотки, при правильном настрое, всех мочить можно, на кого Путин покажет. А то этот Ходоровский:
                Федерация Интернет-оброзования, Молодежное движение «Новая цивилизация», программа «Законотворчество»,
                программа модернизации сельских библиотек …. Не согласный я.</p>
            <p>Вот сейчас его «запрограммируют» как злостного расхитителя социалистической собственности, в особо
                крупных размерах. Пусть уже там, на «зоне», он попробует сформировать новое общество. Не думаю, что
                местные паханы его поддержат. Пахан он и в Африке пахан. Вообще, у нас нутро такое, этих буржуев мы
                давим и давить будем. По другому я не согласный.</p>
            <p>И еще вот. Я вспомнил стишок. Учителка заставила выучить, за то, что в туалете курил. А.С. Пушкин:</p>
            <p class="article__accent">Паситесь, мирные народы!
                <br>
                Вас не разбудит чести клич
                <br>
                К чему стадам дары свободы?
                <br>
                Их должно резать или стричь.
                <br>
                Наследство их из рода в роды
                <br>
                Ярмо с гремушками да бич.
            </p>
            <p>Помню, учителка посмотрела на меня внимательно и сказала: «Шариковыми не рождаются. Шариковыми
                становятся».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>