<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Зависть</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Зависть</h1>
            <p>Интересную мысль нам, в свое время, вбивали в школе: богатые несчастны только потому что, что богаты.
                Богатство приводит во-первых: к моральному разложению. Так как богатство наживают исключительно
                неправедными путями, и в личной жизни богатые, понятно, с жиру бесятся. Во-вторых: мучаются богатые от
                скуки, потому что делать им не чего – ведь проблем нет, да ни чего и не нужно – раз все есть. В итоге
                деградация, вырождение, как личности, так и всего этого общества. Бедные, в свою очередь, несчастны
                только из-за отсутствия этого самого богатства. Нищета вынуждает их во-первых: вести аморальный образ
                жизни. Тут уже не надо нравственных законов, не до жиру, быть бы живу. Да если где и приворуешь, у кого
                язык повернется осудить? Во-вторых: от такой жизни руки опускаются, ни к чему не лежат. Это не от скуки,
                а от полной «безнадеги». В итоге: человек, или даже целый слой общества опускается на «дно»,
                вырождается, деградирует.</p>
            <p>Вот такую ситуацию, с богатством, обозвали «классовым противоречием». А где же выход? Все гениальное
                должно быть просто. В России решили, что все простое гениально. Не мудрствовая лукаво остановились на
                варианте из двух математических действий: отнять и разделить. Ни в одной другой стране такой вариант не
                сработал. Почему же у нас произошла Великая Октябрьская Социалистическая Революция? Почему она получила
                поддержку в «народных массах»?</p>
            <p>Давайте вспомним простые для понимания лозунги того времени: хлеб – голодным, фабрики – рабочим, землю –
                крестьянам, мир – народам. Как же могли воспринять эти призывы низшие, неимущие слои общества? Люди,
                которые, как говорит Библия, «жили в злобе и зависти, были гнусны, ненавидели друг друга». А как мы
                приняли лозунг: «При коммунизме каждому будет по потребностям, а от каждого по способностям»? Мы
                голосовали за это двумя руками и готовы были идти в бой за коммунизм. Ну кто от дармовщины откажется?
                Так вот, рабочим пообещали фабрики. А кто такой фабрикант, хозяин фабрики? Это человек, который ничего
                не делает и живет припеваючи, только потому, что владеет фабрикой. Ну какой же рабочий откажется владеть
                фабрикой? Правильный лозунг. Землю крестьянам. Это же опять отнять и разделить. Разграбить помещичьи
                усадьбы, и искоренить кулачество, как класс. Хотя Библия предупреждает: «<span
                    class="article__accent">Спешит к богатству завистливый
                    человек</span>», да только «<span class="article__accent">чужое добро отнимает жизнь у завладевшего
                    им</span>». Не смогли новоявленные колхозники
                прокормить Россию, как это было раньше. Колхозы оказались мертворожденным ребенком. В любом государстве
                армия всегда держалась на безукоснительном исполнении приказов. Присяга у нас давалась на верность царю
                и Отечеству. Что могло быть дороже этого? Но лозунг «мир - народам» сделал чуть ли не героями
                дезертиров, толпами побежавших с фронта. Хотя «мир - народам», а бежали с фронта с винтовками. В
                хозяйстве пригодиться. И в дорогое пропитание для себя добудешь, и у своего помещика лишнее отобрать
                можно.</p>
            <p>Так что же двигало людьми, с радостью принявшим эти лозунги и поддержавшими Советскую власть? Зависть.
                Самое страшное чувство. Она порождает все остальные подобные чувства: ненависть, лесть, обман, унижение.
                Из-за зависти убивают, предают, клевещут.</p>
            <p>Знаете какой был самый первый грех в созданном Богом мире? Нет, это не поступок Евы и Адама. Первый
                согрешил тот, кто позавидовал Богу, и сказал о себе: «взойду на небо, выше звезд Божьих вознесу престол
                мой, … буду подобен Всевышнему». Люцифер, сатана. Вот кто был первый завистник. Вот кто согрешил первый
                и сеет с тех пор зависть во всем мире. Первый человек, который был рожден на земле, стал убийцей.
                Позавидовал своему брату и убил его. «Призрел Господь на Авеля и на дар его. Каин сильно огорчился.
                Восстал Каин на Авеля, брата своего и убил его». Проследите по Библии, все наиболее известные личности,
                водимые Духом Божиим, пострадали от зависти. «Позавидовали в стане Моисею и Аарону, святому Господню».
                «И собрались против Моисея и Аарона». Вот что говорится о Иосифе: «И увидели братья его, что отец их
                любит его более всех братьев его; и возненавидели его». Они «по зависти продали Иосифа в Египет; но Бог
                был с ним». Далее о самом Иисусе Христе сказано: «что предали его из зависти». Зависть и ненависть. А за
                всем этим сатана.</p>
            <p>Что же еще, кроме известных уже лозунгов, предложил нам сатана? Исключительно, только то, чего жаждали
                «народные массы»! А «народные массы» желали, в добавок ко всему, еще и власти. Так, пожалуйста! «Кто был
                ничем, тот станет всем!». Любая кухарка может управлять государством. Вот только Библию надо запретить.
                Ведь, кроме того, что она учит любви к ближним и смирению, там можно найти слова о том, что
                противоестественно, неугодно Богу положение «раба, когда он сделается царем; глупого, когда он досыта
                ест хлеб; служанку, когда она занимает место госпожи».</p>
            <p>Для многих сейчас стало необходимостью, выплеснув свое раздражение, делать предположения о том, с чего же
                «это» все началось. И тут мнения расходятся: одни говорят, что с семнадцатого года, другие клянут
                Горбачева, третьи – демократов. Так с чего же «это» началось? Почему именно в нашей стране, именно у
                нас, сатана получил доступ к душам людей, и с такой легкостью овладел ими?</p>
            <p>Обвернемся назад. Давайте потревожим свою память. Попробуйте вспомнить русских классиков – писателей и те
                образы священнослужителей, которые они создали. У Пушкина, работнику Балде противопоставлен
                карикатурный, жадный поп. У Гоголя, занимающийся блудом дьяк залазит в мешок из-под угля, а, именно в
                церкви, разгулявшаяся нечистая сила сводит счеты с Фомой. Лев Толстой отлучен от церкви и предан
                анафеме. Я перечисляю это для того, чтобы было видно, что вера в Бога, вера в Иисуса Христа, Его Сына,
                ставшего искупительной жертвой за нас, была поверхностной, в первую очередь, среди тех, кто формировал
                сознание общества, кто сеял «разумное, доброе, вечное». А в «массах» настоящей веры никогда и не было.
                Люди посещающие церковь, назывались прихожанами скорее потому, что они приходили в церковь и … уходили.
                Этим все и кончалось. Внешнее соблюдение необходимых обрядов. Наши корне не в христианстве, а в
                язычестве. Это и есть наша проблема.</p>
            <p>Сцена из современного рекламного ролика под названием «История России»: за праздничным столом с
                отсутствующим видом, сидит полководец Суворов. Царица Екатерина: «Что же вы не кушаете, Александр
                Васильевич?» «Так ведь пост, матушка! Жду до первой звезды». Царица, мгновенно сориентировавшись,
                хлопает в ладоши: «Звезду Александру Васильевичу!» Полководец получает заслуженную награду. Порядок за
                столом восстановлен. Теперь все кушают. В новостях, по радио, бодрым голосом передают, что в Москве
                начали праздновать масленицу. На улице будет испечена самая высокая стопка блинов, высотой шесть метров.
                А затем масленица переходит в православный пост. Именно так и сказали: «Масленица переходит в
                православный пост». Т.е. в начале отметим масленицу, отдадим дань язычеству, а потом, как православные,
                попостимся перед Пасхой.</p>
            <p>Нет у нас в сердце Бога. И не было. Зверь там сидит, завистливый, ненавидящий, ненасытный. «<span
                    class="article__accent">Убиваете и
                    завидуете – и не можете достигнуть</span>». Были мы язычниками, а стали атеистами – прихожанами. И
                пока в наших
                сердцах не восцарится Христос, с его заповедью: «<span class="article__accent">Возлюби ближнего
                    твоего</span>», мы обречены на такое
                существование. Пророк спрашивает, обращаясь к Господу: «<span class="article__accent">Беда за бедою; вся
                    земля опустошается, внезапно
                    разорены дома мои. Долго ли мне видеть знамя, слушать звук трубы?</span>» - сколько же нам жить так?
                И Бог
                ответил ему, вдумайтесь в эти слова: «<span class="article__accent">Это от того, что народ Мой глуп – не
                    знает Меня; неразумные они
                    дети, и нет у них смысла; они умны на зло, но добра делать не умеют</span>».</p>
            <p>И пока мы будем жить в зависти, без Бога в сердце, мы обречены вечно строить то социализм с человеческим
                лицом, то капитализм со звериным оскалом. «<span class="article__accent">А всякий, кто слушает сии слова
                    Мои и не исполняет их,
                    уподобляется человеку безрассудному, который построил дом свой на песке; и дом упал, и было падение
                    его
                    великое</span>». Может пора нам все-таки позаботиться о Царствии Божьем? И не завидовать тем, кому
                хорошо, а
                радоваться за них. Тогда будет повод у Господа радоваться за нас. </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>