<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Побег от жизни</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Побег от жизни</h1>
            <p>Наркомания – самый яркий пример ухода из реальной жизни, ухода от окружающих проблем, и погони за
                гарантированными удовольствиями. С такой же целью используется алкоголь, табак, и, даже, стремление к
                частым сексуальным отношениям, с разными партнёрами. В каждом из этих примеров, в той или иной степени,
                присутствуют качества человека: стремление к уходу от реальной жизни, и получение удовольствия или
                некоторого удовлетворения.</p>
            <p> Человек так устроен, что пытается компенсировать те минусы, которые он имеет вокруг себя и в себе,
                любыми плюсиками, которые только могут быть доступны. Это общеизвестные истины. Но, зачастую,
                сталкиваясь с невозможностью бытия в этой жизни, человек, в качестве выхода, выбирает религию. Всегда ли
                это хорошо? Всегда ли это плохо? Хочется воскликнуть: обращение к Богу, разве это плохо?</p>
            <p>Вот тут надо определиться: зачем человеку Бог? Бог всегда бескорыстно обращается к сердцу человека:
                «<span class="article__passage">Вот,
                    стою у двери и стучу</span>». А какими побуждениями руководствуется человек, обращаясь к Богу? На
                удивление,
                мотивы могут быть самые разные. В том числе и бескорыстные. Но, чаще всего, человеку что-нибудь нужно.
                Ему всегда что-нибудь необходимо для этой жизни. </p>
            <p>Легко запутаться в побуждениях человека приходящего к Богу. Проще подойти с другой стороны, и свериться с
                Библией: чего хочет от нас Бог? Бог хочет нашего спасения, и чтобы мы вечно пребывали с Ним, в Царствии
                Божием. «<span class="article__accent">И придут от востока и запада, и севера и юга, и возлягут в
                    Царствии Божием</span>». А какие люди могут
                войти в Царство Божие? Все, кто начал ходить в церковь? Кто усердно молится? Или тот, кто направо и
                налево обличает всех подряд, находя в этом искреннее удовольствие? Нет. Единственное и основное
                требование к нам, о котором говорится в Новом Завете: «<span class="article__accent">Чтобы мы были
                    святы и непорочны пред Ним в
                    любви</span>». Значит, основное: наличие любви. И в любви, если её имеем, мы должны быть святы и
                непорочны.
            </p>
            <p>Машинально, не вдумываясь, читая Библию, многие (!) не обращают внимания на полный смысл заповеди:
                «<span class="article__passage">Возлюби Господа Бога твоего</span>». Вторая, подобная ей, кажется здесь
                прилепленной и ненужной: «<span class="article__passage">Возлюби
                    ближнего твоего</span>». Для многих это, казалось бы, пройденный этап: мы приходим к Господу, мы
                любим Его,
                служим Ему, по мере сил своих, и молим Его о разрешении наших проблем. Всё хорошо! Но это и есть
                ловушка. Это и есть наркомания. Духовная наркомания. На лицо все симптомы этого: уход от окружающей
                действительности (разве не так?), ощущение радости, душевный подъём (разве не так?). Хочется снова и
                снова переживать это состояние. Разве не так???</p>
            <p>Мы, таким подходом к Богу, всего-навсего, построили вертикаль. Искренне предполагая при этом, что наша
                вертикаль возносится вверх, соединяя нас с Богом, с духовным миром. А как это проверить? Может,
                вертикаль, соединяющая нас с духовным миром, уходит вниз? И соединяет нас вовсе не с Богом? Есть только
                одна возможность определиться в этой ситуации: проверить, выполняем ли мы другую заповедь, которая
                подобна первой? Возлюбили мы ближнего своего (как Господа)? Служим ли мы ему, по мере сил своих (как
                Господу)? Молимся ли мы за разрешение его проблем? Если на эти и подобные вопросы мы можем ответить:
                «Да!», то нашу вертикаль (человек – Бог), пересекает горизонталь (человек – человек).</p>
            <p>Попробуйте это представить себе: вы увидите перед своим взором, что, из этих двух линий получился крест.
                И, чем больше вы святы и непорочны пред Господом, тем выше от земли ваша горизонтальная линия (любовь к
                ближнему). Тем выше ваш крест. Тем ближе вы к Богу. Тем вам тяжелее. Именно так: при исполнении всей,
                неразрывно полной заповеди: «Возлюби Господа твоего, возлюби ближнего твоего», происходят в человеке
                преобразования, происходит духовный рост. И это требует от нас полного усилия, полной самоотдачи. Вот
                так происходят изменения, приближающие человека к образу Христа. </p>
            <p>Учил ли Христос? Учил. Обличал ли Христос? Обличал. Пророчествовал ли Христос? Пророчествовал. Молился ли
                Христос? Ещё как! Но, самое главное – Он <span class="article__accent">любил</span>! Любил, не взирая на
                лица, любил всех. Любил до
                самопожертвования, до крестной смерти. Это была полная любовь: любовь к Богу Отцу, и любовь к людям. В
                любви! Вот в чём надо приближаться к Христу! </p>
            <p>А одно служение Богу, служение в церкви, пророчества, обличения, если это без любви к людям и без
                служения им – это наркомания. Все признаки на лицо: уход от этого мира, от его проблем, от житейской
                суеты. Получаешь удовольствие, не тратя на это ни каких усилий. Вкатил себе дозу (посещение церкви), и
                «тащишься». Кайф! Или: учишь, проповедуешь, обличаешь (во, я какой!), и получаешь от этого удовольствие.
                Поэтому, высказывание: «Религия – опиум для народа», с этой точки зрения, как бы не было нам обидно,
                имеет под собой основание. Наркомания, сама по себе, опасна. А духовная наркомания особенно. Если нет в
                человеке любви к ближнему, то с кем его соединяет вертикаль, уходящая в духовный мир? «<span
                    class="article__passage">Кто не любит, тот
                    не познал Бога, потому что Бог есть любовь</span>».
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>