<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Про взрывы и пожары</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Про взрывы и пожары</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">Мы про взрывы и пожары,
                    <br>
                    Написали ноту ТАСС
                    <br>
                    Но тут примчались санитары
                    <br>
                    И зафиксировали нас.<br><br>
                    <span class="article__epigraph-author">Вл. Высоцкий.<br>
                        Письмо из сумасшедшего дома на Каначиковых дачах.</span>
                </p>
            </section>
            <p>Целая серия терактов буквально обрушилась на Россию. Ни в чем неповинных, пострадавших при этом, мирных
                граждан развозят по больницам. А кому совсем не повезло, тех по останкам в морге пытаются опознать
                близкие. За что же это нам? За какие грехи? Началось все с того, что мы объявили целую нацию
                террористами. Я имею в виду чеченцев.</p>
            <p>Это можно сказать ностальгия, тоска по прошлому. Мы и раньше могли объявить целое сословие или класс
                врагами народа. Ими могли быть кулаки, священники, казаки и любые другие, которых достаточно было
                назвать контрреволюционерами. Для врачей главное – поставить диагноз, потом начать лечение. У нас –
                главное навешать ярлык, потом планомерно уничтожить.</p>
            <p>Почему я говорю, что целую нацию объявили террористами? Потому что боевые действия велись широкомасштабно
                по всей Чечне. Вы думаете в Грозном после нашей бомбежки и обстрела остались целыми больницы, детские
                садики и прочее и прочее? Нет. Как в Сталинграде – все подчистую. Как говорил Михаил Евдокимов в своей
                юморестке: «Я что, сортировать их буду?» Ирина Хакамада рассказывала о разбомбленном доме престарелых,
                где все погибли. Это, само по себе, ужасно в любом случае. Но еще один штрих: в доме престарелых
                находились только русские. Дело в том, что чеченцы, чтобы мы о них не говорили и не думали, от своих
                стариков и старушек не отказываются, не сдают их вот в такие дома. Для них это дело чести.</p>
            <p>Почему «козлами отпущения» - террористами, объявили чеченцев? Наверное этого никто не объяснит. Ведь
                могли бы объявить террористами осетинов, абхазцев, которые не подчиняются законному правительству
                Грузии. Или тех захватчиков, которые оккупировали участок Молдавии, назвали его Преднестровье. Создали
                свое правительство, и живут там в свое удовольствие. Но это все из области догадок и предположений. Если
                конкретно, то первую войну в Чечне мы с треском проиграли. В Хасавьюрте было заключено перемирие, и
                военные действия были прекращены.</p>
            <p>Дальше начинается непонятное: чеченцы, одержавшие победу, в место того, чтобы заниматься своими делами,
                совершают то, чего не делали даже во время войны. Они взрывают в России несколько многоэтажных жилых
                домов. Сразу оговорюсь: небезызвестный Березовский утверждает, что дома взорвали наши спецслужбы. Для
                того чтобы нарушить Хасовьюртовское перемирие. Но это голословное утверждение, ничем не подтвержденно.
            </p>
            <p>Хотя подобный факт имел место в фашистской Германии: со стороны сопредельного с Германией государства,
                специальная группа открыла огонь по своей территории, по своим пограничникам. И началась война.</p>
            <p>Но вернемся к женщинам-шахидам. Вы что-нибудь помните о маршах мира, которые совершали чеченские женщины
                с единственным лозунгом: «Прекратить войну в Чечне»? Не помните. А они шли по пыльным дорогам, мимо
                блокпостов с транспарантами. Это то единственное и последнее, что они могли сделать мирным путем для
                своих детей и своих семей. Вы помните персонаж одного из рассказов о Великой Отечественной Войне:
                женщина потеряла своего мужа в самом начале войны? Потом деревню заняли фашисты и расстреляли ее сыновей
                за помощь партизанам. Она взяла в руки топор и по ночам «мочила» фашистов по одиночке. Виктор Талалихин
                направил свой подбитый самолет на колонну вражеской бронетехники. Гостелло, опустошив боезапас, направил
                свой самолет на таран, лоб в лоб противнику. Мальчик, Володя Дубинин, до последнего сражался в
                катакомбах родного города. Как мы их понимаем! Что же еще оставалось женщинам, участницам марша мира,
                лица которых нам мельком показали на экранах? Взять топор и отомстить. У них не осталось ни детей, ни
                мужей, ни домашнего очага. А они с самого начала просили одного: «Прекратите войну в Чечне»</p>
            <p>Этого же просили террористы, захватившие Норд-Ост. Конец этой истории вы знаете: от рук террористов
                погибло три человека, от последствий газовой атаки спецназовцев пострадало более 600 человек.
                Большинство находились на длительном лечении. Причем им упорно не сообщали чем их «траванули», что
                затрудняло лечение. Можно предположить, что газ был из числа тех, которые запрещены к применению.</p>
            <p>Видя на экране изрешеченные трупы террористов в Норд-Осте, до сих пор я пытаюсь понять: если они были
                усыплены газом, то зачем их, находящихся в бессознательном состоянии, очередями в упор превратили в
                подобие фарша? Не выдержали нервы у спецназовцев? Сомневаюсь. А если … а если террористы были в
                сознании? Тогда значит они блефовали, они с самого начала не хотели ни чьей смерти. Шантажируя и угрожая
                они надеялись таким способом прекратить войну в Чечне. Они рискнули жизнями ради мира для своей Родины.
                Понятно, что спецназовцам было не до этих нюансов. Они их просто покрошили, как капусту, из боязни, что
                те нажмут на кнопку и всё взлетит на воздух.</p>
            <p>Ну вот, и я, как тот псих у Высотского из дурдома, написал о взрывах и пожарах. Сейчас остается только
                ждать санитаров.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>