<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О козлах и овцах</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">О козлах и овцах</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">Назвать деспота – деспотом всегда было<br>
                    опасно. А в наше время настолько же<br>
                    опасно назвать рабов – рабами.<br><br>
                    <span class="article__epigraph-author">Акутогава</span>
                </p>

            </section>
            <p>Где-то, в Индонезии, пронеслось цунами. Тысячи, десятки тысяч, кажется, речь уже идёт о сотнях тысяч
                погибших. Как всегда, мы мгновенно забыли об этом – своих проблем хватает. Вот очередная проблема: в
                посёлке Рефтинском, ещё недавно, некоторые родители радовалась. Им выпала большая честь: водить своего
                ребёнка в ту же группу, в детский садик, куда ходит внучек нашего местного пана директора - Топоркова.
                Но это счастье длилось недолго. Дети подросли, пора собирать их в школу. Вот тут-то и начались проблемы
                у родителий-счастливчиков! Оказалось, что внучеку пана директора ещё рано в школу, и он не готов так
                резко менять свой образ жизни.</p>
            <p>Ничего страшного! Я имею в виду – для внучека пана директора. Если гора не идёт к Магомету, то Магомет
                идёт к горе. Если такой ребёнок не хочет идти в школу, то школа придёт к нему. Прямо в детский садик. А
                что такого? Создать для него в садике особый, отдельный первый класс! Но вот родители, будущих
                одноклассников внучека пана директора, своей выгоды не поняли. И все, дружно, отказались от свалившегося
                на них счастья. Тогда с них потребовали объяснительные: на каком основании они отказывают в
                удовлетворении желания пана директора? Родители тонкий намёк поняли, но и после этого своё решение не
                поменяли</p>
            <p> Тогда им, неразумным, на выбор предложили два заявления. Подпиши, какое хочешь: или, сразу, на
                увольнение; или о том, что они счастливы водить своё чадо в класс, созданный для внучека пана директора.
                Даже за свои собственные деньги. Причём немалые. За удовольствие надо же платить! И родители единогласно
                исполнили свой патриотический долг – из двух зол выбрали наименьшее: на работе, пока тебя не уволили,
                общаться с паном директором, и в школе, вернее в садике, их дети будут общаться с внуком этого пана. Это
                лучше, чем первый вариант с увольнением.</p>
            <p>К тому же, впоследствии, в этой истории будут присутствовать и положительные моменты. Наверняка,
                помещение, где находится класс, будет светлое, застланное дорогим линолеумом, или коврами. Класс
                заполнен наглядными пособиями и школьными принадлежностями. За дверьми будет дежурить охранник,
                врач-педиатор, детский психолог. По окончанию школы, опять же в посёлке, создадут филиал какого-нибудь
                МГУ. Учитесь дети! Всё для вас! Пан директор всё сделает для осуществления лозунга: «Наши дети будут
                жить при коммунизме». Когда подойдёт время служить в армии, в посёлке создадут резервный полк, для
                охраны мавзолея Ленина. Что бы опять, все вместе, прежним составом, во главе с внучеком! </p>
            <p>Но есть и негативные моменты. Как, к примеру, принудить учиться директорского внучека, если ему нельзя
                поставить оценку ниже «четвёрки»? Ведь, если кто-то из преподавателей сделает такое, он замучается,
                потом писать объяснительные. А как поддерживать дисциплину в классе, если одному из учеников будет
                позволено всё? К тому же, ни кто из учащихся не должен получать оценки выше, чем у потомка директорской
                династии. Надеюсь, с этим все согласны? Потому, что, впоследствии, красный диплом дадут один на весь
                класс. Отгадайте, кому он будет предназначен?</p>
            <p>Я искренне считаю, что наше советское общество, а оно по своей сути таковым было и им остаётся, есть
                стадо, скот. Но вот что интересно: оказывается, стадо всегда возглавляет козёл. И это он руководит,
                ведёт стадо. Даже в Ветхом Завете есть этому подтверждение. Довольно ли, при этом, стадо? А кто его
                спрашивает!? Стадо может только мычать и блеять – это же стадо! На большее оно не способно. Так вот,
                если, «новая историческая общность – советский народ», только стадо, а с этим согласны все, кроме нас
                самих, то, по Библии и по житейскому опыту, у нас, на разных уровнях власти, должны находиться козлы.
                Это не я утверждаю, это Библия говорит: «…козлы впереди стада овец». На что же мы тогда обижаемся?
                Допустили козла в огород, пардон, к власти. Кто теперь виноват? Просто, не надо быть стадом! Стадо
                лучшего не заслуживает, кроме того, что бы следовать прихотям своего козла. Такое утверждение действует
                на всех уровнях: в посёлке ли, в городе, или в государстве. Надо помнить простую истину: если мы будем
                вести себя как стадо, то нас всегда будет вести козёл.</p>
            <p>Но Библия предостерегает и этих лидеров-козлов: по мере роста беззакония, именно из них, из этих козлов,
                выбирают жертву для искупления грехов. То есть, выбранный козёл приносится в жертву. В народе, по этому
                случаю, сохранилось библейское выражение – козёл отпущения. Это бывший лидер, надо полагать хороший
                козёл, а может, просто так, под руку попался, на которого свешали все грехи. Кто-то может сказать по
                этому случаю: «Ну и что? Зато как пожил человек! Что тому же Сталину с того, что его останки выскребли с
                Кремлёвской стены? Зато, ведь, как он жил!». Но времена меняются, и многое в жизни меняется. В наше
                время не все останутся безнаказанными, ещё при жизни. Некоторые, из этих козлов отпущения, лишённые
                своих привилегий, будут доживать в своём же стаде. Тогда они убедятся, что скот не только мычит и блеет,
                но имеет рога и копыта. И, в жизненной толкучке, у этого стада будет возможность припомнить козлу
                прежние обиды. Другим козлам, занимающих положение более высокого уровня, нужно помнить судьбу кровавого
                диктатора Пол Пота. В отличие от Сталина, он закончил свою жизнь, скрываясь в джунглях, сгнивая заживо
                от смертельной болезни. Или президент Югославии Милошевич, надеюсь, я ни чего не напутал, арестован
                международным Гаагским трибуналом, за преступления против человечности. Его сейчас судят.</p>
            <p>Так что, всем козлам, которые находятся сейчас при деле, я бы посоветовал жить с оглядкой. Кто станет
                следующим козлом отпущения, и когда козла принесут в жертву? Одному Богу известно! Но ни один из них,
                дорвавшихся до власти козлов, похоже, об этом не думает. Хотя делают вид, что они верующие и
                богобоязненны.</p>
            <p>А наши дети? А что дети?! В стаде, то есть в нашем обществе, они ни когда нам полностью не принадлежали.
                Их использовало государство, когда они были ещё октябрятами, пионерами, комсомольцами. Потом они
                становились защитниками Родины, участниками вооружённых конфликтов, антитеррористических операций. Пока,
                в этой ситуации, на уровне посёлка, их хотят использовать только в качестве интерьера, в классе, который
                создали в детском садике, для внучека пана директора. Что тут такого? Чего вы мычите? Продолжайте
                радоваться, уважаемые родители! Могу вам, как в школе, посоветовать больше читать классиков. Того же
                Пушкина. Простите меня за смелость, его я беру в единомышленники. Уже в то время, он сумел постичь душу
                русского человека:</p>
            <p class="article__accent">Паситесь, мирные народы!
                <br>
                Вас не разбудит чести клич.
                <br>
                К чему стадам дары свободы?
                <br>
                Их должно резать или стричь.
            </p>
            <p>Чем нормальное общество отличается от стада? Тем, что нормальное общество старается, что бы жизнь стала
                лучше. А в стаде стараются, что бы жизнь не стала хуже. Т.е., разница между обществом и стадом,
                заключается в том, что в нормальном обществе всё делают для того, что бы жизнь стала лучше, даже, если
                это связано с опасностью для себя. Лишь бы жизнь стала лучше. А в стаде главное: чувство покоя, при
                набитом желудке. Лишь бы жизнь не стала хуже. Вот их и режут потихоньку, и стригут.</p>
            <p>P.S. Для тех, кого интересует продолжение «Дневника рефтинца», часть из которого была опубликованного в
                местной газете «Новый Рефт», сообщаю, что оно публикуется под названием «Дневник соотечественника», на
                сайте: w.w.w. tkalitsch. narod. ru. Систематически, через Интернет, я отсылаю продолжение своего
                дневника в русскоязычные церкви: в Германию, в США, и, кажется, теперь им заинтересовались на Украине. Я
                понимаю, что это не «Санта Барбара», собирающая огромную аудиторию у экранов телевизоров. Но я могу и
                стараюсь, в своём дневнике, показать, что происходит с нами, с нашей семьёй. Поделиться мыслями, что бы
                на примере нашей семьи, как в капельке океана, была видна жизнь всего общества. Меня успокаивает такая
                возможность: показать в стране и за рубежом, интересующимся людям, как мы живём на самом деле. Через
                это, некоторые личности, целые эпизоды из жизни нашего посёлка, стали достоянием гласности. Вошли,
                скажем так, в историю. Это единственный способ выразить мой протест против козлов, которые сейчас у
                власти. Тоже, мычу, понемногу.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>