<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бог, создавший этот мир</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Бог, создавший этот мир</h1>
            <p>Бог, который создал весь этот мир и человека. Зачем Он это сделал? Для чего? И какой Он, Бог? «<span
                    class="article__accent">Я есмь
                    Альфа и Омега, начало и конец</span>». Понятно, что Бог не может иметь начала. Но Он может положить
                начало
                чему-либо, или всему. И завершить начатое Им же. Представить то, что было <span
                    class="article__accent">до начала</span>, до того, как было
                положено <span class="article__accent">начало</span> нашему миру – невозможно. Потому, что об этом в
                Библии ни
                чего не сказано. Учёные только
                гадают о Большом взрыве, который дал (по их мнению) начало существованию Вселенной. О том, что было
                до
                Большого взрыва ни кто, ни чего даже не пытается предположить. Мне предположить, что было до взрыва,
                гораздо проще: как учёный - я полный профан. А как верующего человека - меня легко обвинить в
                дилетантизме. Посему, смелости для умозаключений у меня предостаточно. Поскольку я не боюсь потерять
                учёные степени; и, не боюсь того, что меня лишат звания христианина.</p>
            <p>Итак: Что нам известно о Боге из Библии? Что Он Дух, что Он <span class="article__accent">вне</span>
                времени и <span class="article__accent">вне</span> пространства. Всё эти
                понятия выше нашего разумения, но хоть что-то об этом сказать можно. <span
                    class="article__accent">Вне</span> пространства: это когда вокруг
                Него ничего нет. Даже пустоты нет (вакуума). И самого Бога (как тела) тоже нет. Ведь, Он - Дух. Что это
                может напоминать? На осциллографе приходилось видеть светящуюся ломаную линию? На экране (в пустоте
                экрана) - пульсирующая синусоида. Так вот в моём понимании: Бог – это <span
                    class="article__accent">живая</span> мысль. Она ни в чём, и ни
                (в) где. Если для человеческой мысли нужен мозг (кстати, её ни один хирург в мозгу не находил), то Бог –
                это <span class="article__accent">всесильная мысль</span>, существующая вне времени и вне пространства.
                Подобное состояние любители научных
                терминов могут назвать четвёртым измерением, но по сути – это Бог.</p>
            <p>О пространстве (вернее о его отсутствии) я, что мог, сказал. Теперь о времени. У Бога (или в четвёртом
                измерении) времени нет. Оно не существует. Поэтому о Боге сказано, что Он безначальный и бесконечный. В
                нашем понимании: Он был до нас, и будет после нас, типа египетских пирамид. На самом деле всё гораздо
                глубже: Он просто есть <span class="article__accent">всегда</span>. О существовании Бога нельзя сказать,
                что оно <span class="article__accent">вечно</span>. Слово «вечно»
                предполагает неопределённо бесконечный период времени. Но мы знаем, что Бог живёт <span
                    class="article__accent">вне</span> времени. Он
                находится сразу: и в начале создания этого мира, и в его конце. Он – «<span
                    class="article__accent">Альфа
                    и Омега</span>». Для Него уже
                родился Ткалич Пётр Степанович и уже умер. И Богу известно, когда и как это произошло. Он уже знает всё
                моё пока не родившееся потомство; и то, когда они закончат свою жизнь. Повторяюсь: не надо думать, что
                Он путешествует во времени – Он живёт <span class="article__accent">вне</span> времени.</p>
            <p>И вот тут можно предположить интересный момент. Если Бог живёт ВНЕ времени, если моя кончина для Него уже
                свершившийся факт, значит, Им <span class="article__accent">уже</span> определено для меня место. Более
                того, я <span class="article__accent">уже</span> стою (душой?) возле Него
                по правую сторону, среди овец (так хочется на это надеяться). Хотя моё тело и душа до сих пор находится
                в материальном мире, где я мучаюсь или блаженствую. Для Бога <span class="article__accent">уже</span>
                свершился Апокалипсис описанный Иоанном
                Богословом. Ведь Бог не может ждать каких-то событий. Ждёт тот, у кого есть время. Опаздывает тот, у
                кого нет времени. Но Он живёт вне времени. Это мы ждём, готовимся предстать пред Ним, торопимся что-то
                успеть сделать. А Он <span class="article__accent">уже</span> имеет в нашем лице задуманного Им
                собеседника. «<span class="article__passage">Тайна сия велика: я говорю по
                    отношению к Христу и к Церкви</span>».</p>
            <p class="article__stars">* * *</p>
            <p>Интересно, как Бог жил до создания человека? Удивлю всех, если скажу, что Ему тогда нельзя было
                позавидовать. Представьте себя одного (в одиночестве). Для того, что бы вы поняли, что вам <span
                    class="article__accent">некуда</span>
                сходить, представьте себя в тюремной камере. Для того, что бы понять, что вокруг вас <span
                    class="article__accent">ничего</span> нет –
                представьте себя в полной темноте. Представьте, что у вас нет часов (времени), и что вы обречены на
                такое положение вечно. Вы скажите, что всё это не так страшно для Бога потому, что Он лишён человеческих
                эмоций? Я отвечу, что Бог есть <span class="article__accent">любовь</span>. Любовь можно назвать
                эмоцией? Значит, тогда Богу приходилось ещё
                хуже. Иметь любовь, быть Любовью и не иметь объекта любви, быть лишённым возможности любить! Может ли
                быть что-то хуже этого? «<span class="article__passage">Не хорошо быть человеку одному</span>». Уж
                кто-кто, а Бог об одиночестве знал не
                понаслышке.</p>
            <p>Конечно, Он напрямую мог создать себе собеседника. Ни кто не будет отрицать, что всё, что Бог создавал,
                было совершенным. И созданное Им существо, равное по положению Богу, должно было получиться совершенным.
                То есть, клоном Бога. Неинтересно играть в шахматы с самим собой. Неинтересно разговаривать с самим
                собой, любить самого себя. Поэтому Бог творит человека, Адама, по Своему образу и подобию. Наделяет его
                волей и правом выбора. Но, это только своего рода младенец, зачаток личности, которая, по плану Божьему,
                сможет предстать перед Ним в будущем, как собеседник. Для этого, каждому человеку (как и всему
                человечеству) предстоит расти духовно, постоянно делая осознанный выбор: жить, веря в Бога, в согласии с
                Богом. Или жить в неверии, в противлении Ему, решая свои сиюминутные проблемы с помощью греха.
                Напрашивается вывод, что если человек наделён Богом правом выбора, то тогда древо познания Добра и Зла,
                змей искуситель, падение человека – это лишь детали плана Господа. Не забывайте, что для Него нет ни
                чего не предвиденного. Живя вне времени, Он знал о грядущих событиях.</p>
            <p>Тогда почему бы Богу, для простоты и увеличения числа поклонников, не явить Себя всем? Не показать Своё
                всесилие через какое-то очевидное, но сверхъестественное чудо, чтобы уверовал каждый живущий. А может,
                Богу не нужен каждый? Ему нужен тот, немногий, который сам, казалось бы, немотивированно, <span
                    class="article__accent">ищет</span> Бога.
                Который <span class="article__accent">верит</span>, Что Бог – есть совершенство. Который <span
                    class="article__accent">понимает</span>, что он сам далёк от совершенства. Который
                готов отказаться ото всего, ради согласия с Богом, ради приближения к Нему. Бог создал человека как бы
                пустой ёмкостью. И каждый человек имеет право заполнять себя по своему выбору. Кто-то – вечным Богом.
                Кто-то – мусором.</p>
            <p>Кто знает планы Божии? Может, возможность грешить для человека был своего рода «прививкой от чумы»? И для
                Царства Божьего, «выживали» только искренне верующие, переболевшие грехом, направившие всю свою волю на
                исполнение воли Господа. «Выживали» те, кто перенёс все испытания и искушения, при этом остались верными
                Господу. Являясь носителями греха, они исцелились, ведя подобающий образ жизни, сделав выбор в пользу
                Господа и последующей вечной жизни с Ним. Вот это, сохранившееся «малое стадо» будет достойным
                собеседником для Господа. «<span class="article__accent">Не хорошо быть одному</span>». Пусть Бог и
                самодостаточен, но Он – Любовь. Ему
                необходимо на кого-то изливать Себя. И Он мудро решил эту проблему, создав человека, у которого
                <span class="article__accent">непредсказуемое будущее</span>.
            </p>
            <p class="article__stars">* * *</p>
            <p>Что бы сделать доступной картину о триединстве Бога для нашего понимания (Бог, Сын и Дух Святой)
                представим, что Бог сотворил аквариум с зеркальными стенками. Пусть аквариум будет круглый. Это и есть
                наш мир, наша Вселенная. Мы у Бога - все как на ладони (рыбки плавают). Но Его особый мир, за
                зеркальными стенками, недоступен для нашего познания. И вот, Бог решил лично произвести какие-то важные
                изменения в нашем мире. Своею собственной рукой. Но ведь Он - Дух! Значит? Значит Он, оставаясь в Своём
                мире, не покидая его, должен стать в нашем мире (в аквариуме) материальным. То есть, Он опускает Свою
                руку (ставшую материальной) в наш аквариум и производит в нём определённые действия. Эта рука, для нас,
                проявилась как Иисус Христос. Тогда получается, что Иисус Христос – это материальное проявление Бога в
                материальном мире. Можно ли Его назвать Сыном? Да. Ведь, Он порождение и воплощение Бога в нашем мире.
                Можно ли Его назвать Богом? Конечно! Ведь, Он же и есть Бог. Является ли Он человеком? Да, по материалу,
                из которого Он создан – Он человек. Так что обвинения со стороны мусульман, которые обвиняют нас в
                многобожии, получаются несостоятельными.</p>
            <p class="article__stars">* * *</p>
            <p>О Духе Святом? Слова Иисуса: «<span class="article__passage">И Я умолю Отца, и даст вам другого
                    Утешителя, да пребудет с вами во век,
                    Духа истины, Которого мир не может принять, потому что не видит Его и не знает Его, а вы знаете Его,
                    ибо
                    Он с вами пребывает и с вами будет</span>».

                Что же в таком случае Дух Святой? Можно ли ему в нашем понимании найти какой-то аналог, отождествить Его
                с чем-то? Попробуйте читать все предложения в Библии с упоминанием о Святом духе, с заменой на слово
                «АГАПЕ». Агапе – это <span class="article__accent">любовь</span>. Божья Любовь (или Божественная
                любовь?) – это Святой Дух.</p>
            <p>Агапе пришла вместе с Иисусом Христом. Он принёс её повзрослевшему человеческому роду, «доросшему» до
                <span class="article__accent">любви</span>. Бог следил за возрастом человечества. Во всяком случае, Он
                отметил у него период юношества:
                «<span class="article__passage">Помышления сердца человеческого – зло от юности его</span>». И наши
                дети, перешагнув через трудности
                переходного возраста, достигают определённого уровня. Только тогда они начинают ценить нашу любовь по
                отношению к ним. Они становятся в состоянии любить кого-то, кроме себя.
            </p>
            <p>Вот так же и человечество, к тому моменту, созрело для того, чтобы не только быть любимым со стороны
                Отца, но и само готово было взять на себя ответственность любить. Вот тогда и пришёл Иисус, с жертвенной
                Любовью-Агапе. Агапе – это качество Бога, это одна из Его характеристик. И по молитве Иисуса Христа
                Божья Любовь была оставлена с нами (нам), после Его вознесения. Мы её присутствие назвали присутствие
                Духа Святого.</p>
            <p>Может, споры о Троице, с теми кто её не воспринимает, попросту, бессмысленны? Подумайте: вода – она есть
                вода. Меняется среда – меняется её состояние. В холодной среде вода становится льдом. В горячей среде
                вода становится паром. Вода, по сути, остаётся водой. А Бог остаётся Богом. Вот только Его <span
                    class="article__accent">проявление</span> в
                нашем мире происходит по-разному.</p>
            <p class="article__stars">* * *</p>
            <p>Как же Бог сотворил мир (Вселенную) под человека? (с 1го по 9ый стих)</p>
            <ol class="article__list">
                <li><span class="article__accent">В начале сотворил Бог небо и землю.</span></li>
                <li><span class="article__accent">Земля была безвидна и пуста, и тьма над бездною, и Дух Божий носился
                        над водою.</span></li>
                <li><span class="article__accent">И сказал Бог: да будет свет. И стал свет.</span></li>
                <li><span class="article__accent">И увидел Бог свет, что он хорош, и отделил свет от тьмы.</span></li>
                <li><span class="article__accent">И назвал Бог свет днем, а тьму ночью И был вечер и было утро: день
                        один.</span> (Быт.1-5).</li>
            </ol>
            <br>
            <p>«<span class="article__passage">В начале Бог сотворил небо и землю</span>»<br>
                Под словами «небо» и «земля» подразумевается понятие «вверх» и «низ». «На небе вверху, на земле внизу»
                (Деян.2,19); из этой фразы видно, что слова «небо-верх» или «земля-низ» не только дополняют друг друга,
                находясь в паре, но и могут использоваться поврозь, при этом сохраняя определенную смысловую нагрузку.
                Т.е. в первом стихе речь идет о том, что Богом было создано трехмерное объемное пространство, где имели
                место высота, ширина, длина. «<span class="article__accent">Он проводил круговую черту по лицу
                    бездны</span>». (Пр.8,27). «<span class="article__accent">Его премудростью
                    разверзлись бездны</span>». (Пр.3,20). Внутри Самого Себя Бог создал «пространственный пузырь».</p>
            <p class="article__remark">Понимаю, что многое мне приходится домысливать. И привычным, знакомым словам я
                вынужден придавать иное,
                порой расширенное значение. А как бы вы объяснили обезьяне, почему нажав кнопочку на стене, у вас
                загорается лампочка под потолком? Стали бы рассказывать ей про движение электронов в проводнике? При
                этом усиленно ухая, гукая на обезьяньем языке? Вот и я сейчас, как та обезьяна, попытаюсь рассказать,
                что я понял из того объяснения, как Бог сотворил мир.</p>
            <img class="picture" src="../images/god-who-made-the-world/pic_1.svg"
                alt="оркужность с надписями: верх-небо и низ-земля">
            <p class="article__subnote">Рис.1: Пространственный пузырь</p>
            <p>«<span class="article__passage">Земля была безвидна и пуста: и тьма под бездною»</span><br>
                Если представить себя наблюдателем, находящимся на месте Бога (вместе с Богом), Который видит с любой
                точки «пространственный пузырь» сверху, то глядя вниз, под ноги, на «землю», где бы мы ни стояли, мы бы
                ничего не увидели. Бездна разверзлась под нами. Бездна была бы над нами. Бездна, наполненная тьмой.
                Тьма, пустота, холод.</p>
            <p>«<span class="article__accent">И дух Божий носился над водой</span>». Бог не носился над волнами моря.
                Он, в начале процесса созидания,
                уступил в Самом Себе место для «пространственного пузыря». При этом, Он пришёл в движение, оставив
                состояние вечного покоя, пронизывая (пропитывая) созданное пространство Духом Божьим. А что тогда было
                водой? Это было само пространство, заполненное, как бы разряженным газом: «начальные пылинки вселенной»
                (Пр.8,26), элементарные частицы протоматерии. Впоследствии они пойдут на создание строительного
                материала, «кирпичиков», из которых в свою очередь будет построена Вселенная: «<span
                    class="article__accent">Когда пыль обращается в
                    грязь и глыбы слипаются</span>». (Иов.38,37). Можно представить, как <span
                    class="article__accent">вода</span> и <span class="article__accent">начальные пылинки</span>
                образуют <span class="article__accent">грязь</span>,
                которая <span class="article__accent">в глыбы слипается</span>, образуя звезды и планеты.</p>
            <p>«<span class="article__passage">И сказал Бог: да будет свет. И стал свет.</span>»<br>
                Значит, до этого момента, в созданном Богом пространственном пузыре, царила кромешная тьма. А почему мы
                не видим в полной темноте, во тьме кромешной? Когда мы смотрим на лампочку или на любой источник света,
                наш глаз воспринимает потоки движущегося света исходящие от лампочки. Световые лучи, проходя через
                хрусталик глаза, фиксируются на его сетчатке. Оттуда, изображение лампочки в виде электрических
                импульсов, попадает в мозг. Любой предмет мы видим лишь в том случае, если он излучает или отражает
                свет. Отсюда следует, что полной темнотой для нас будет <span class="article__accent">полное отсутствие
                    движения</span> световых частиц.
                Первобытная темнота означает, что Бог создал вначале статический, неподвижный мир. Все пребывало в
                состоянии покоя. Элементарные частицы (они же – «<span class="article__accent">начальные пылинки
                    вселенной</span>») зависли на своих местах.
                Эта неподвижная среда имела температуру абсолютного нуля (-273&#8451;).</p>
            <p>Единственное, что двигалось в таком мире – Дух Божий, пронизывающий созданное пространство. И только
                после слов: «<span class="article__accent">Да будет свет</span>» все пришло в движение. Застывший первый
                кадр киноплёнки развития мира
                дрогнул, и началось представление, пока только для одного зрителя – Бога. Тьма кромешная закончилась.
                Этот мир из статичного, неподвижного превратился в подвижный, динамичный, развивающийся. Наблюдатель со
                стороны мог увидеть этот момент как Большой Взрыв: «И стал свет».</p>
            <p>«<span class="article__passage">И увидел Бог свет, что он хорош, и отделил Бог свет от тьмы</span>»<br>
                «…отделил Бог свет от тьмы» вовсе не означает, что Он выделил (создал из Себя) источник света в
                кромешной
                тьме, и на этом всё. Если мы берём за основу, что свет – это не только проявление движения определённых
                частиц, в частности, но и движения вообще, тогда мы можем сказать, что начавшееся процесс всеобщего
                движения («да будет свет») – это так же поступательный процесс движения развития будущего во времени. То
                есть, Бог «запустил» движение времени. Появилось будущее – «свет», прошлое – «тьма» и настоящее. В нашем
                понимании будущее всегда ассоциируется со светом – наступающий день (светлое будущее). Прошлое – ночь,
                уходит в забвение, покрывается мраком (тьмой).</p>
            <p>«<span class="article__passage">И назвал Бог свет днем, а тьму ночью. И был вечер, и было утро: день
                    один»</span><br>
                Именно таким образом: отделив свет от тьмы и назвав свет днём, а тьму ночью, Бог создал условные сутки –
                период, отрезок времени. «<span class="article__accent">Веки устроены словом Божиим</span>» (Ев.11,3).
                То есть, время - века (более
                длительный
                определенный промежуток времени) созданы, устроены Господом. Только после того, как Бог создал время,
                стало
                возможным записать в Библии: «<span class="article__accent">И был вечер и было утро: день один</span>».
            </p>
            <p>«<span class="article__passage">И сказал Бог: да будет твердь посреди воды, и да отделяет она воду от
                    воды».</span><br>
                «<span class="article__passage">И создал Бог твердь: и отделил воду, которая под твердью, от воды,
                    которая над твердью. И стало
                    так</span>».<br>
                «<span class="article__passage">И назвал Бог твердь небом. И был вечер, и было утро: день
                    второй</span>».</p>
            <p>После того, как Бог создал в пространственном пузыре твердь, разделяющую внешнюю воду от внутренней
                воды,
                то получилось нечто вроде яйца. Верхняя часть пузыря состоит из слоя внешней воды (скорлупа). Затем идёт
                слой тверди – белок. После этого идёт центральная часть – внутренние воды (желток).</p>
            <img class="picture" src="../images/god-who-made-the-world/pic_2.svg"
                alt="три концентрические окружности с надписями вода, небо, вода">
            <p class="article__subnote">Рис.2: Разделение пространства на внешние и внутренние воды</p>
            <p>Название «<span class="article__accent">твердь</span>» носит очень условный характер: Бог поставил в этой
                части пространства некий барьер,
                использовав силу «<span class="article__accent">начальных пылинок вселенной</span>», их взаимодействие
                между собой и «водой». Вдобавок, Он,
                создавая «<span class="article__accent">твердь</span>» очистил внешние воды от «<span
                    class="article__accent">начальных пылинок вселенной</span>», поскольку они «выпали в
                осадок», и пошли на сотворение тверди. Твердь нужна была Богу для того, чтобы изолировать внутренние
                воды от внешних, и во внешних водах создать духовный мир. Таким образом, над твердью была приготовлена
                определённая среда для духовного мира.</p>
            <p>Выше этого пространства, предназначенного для духовного мира, идёт «территория» Бога. То есть, весь Бог
                не вместится (да и не было такой цели) в созданное Им пространство. Он, по-прежнему, там – в «четвёртом
                измерении». «<span class="article__accent">Небо и небеса небес не вмещают Тебя</span>» (3 Цар. 8,27).
                Созданный Богом «пространственный
                пузырь» здесь можно сравнить с плодом внутри утробы матери.</p>
            <p>Итак: верхний слой внешней воды, находится ближе всего к Господу; а нижний слой, основание которого
                «<span class="article__accent">твердь-небо</span>» – наиболее удаленным. Получается, что между Богом и
                «твердью-небом», помещён духовный мир.
                Вначале, в верхнем слое – мир ангелов и святых (рай), о котором пишет Павел: «<span
                    class="article__accent">восхищён был до третьего
                    неба…, в рай</span>». А ниже, преисподняя со всем её «населением». «И был вечер, и было утро: день
                второй».
            </p>
            <p>«<span class="article__passage">И сказал Бог: да соберется вода, которая под небом, в одно место и да
                    явится суша. И стало так</span>».<br>
                Собралась «<span class="article__accent">вода, которая под небом</span>» с «<span
                    class="article__accent">начальными пылинками вселенной</span>», и образовалась «<span
                    class="article__accent">грязь</span>», выпавшая
                в осадок. Всё получилось, как сказал Иов: «<span class="article__accent">Когда пыль обращается в грязь и
                    глыбы слипаются</span>». От этого
                действия образовалась Земля и попутно – бесчисленное множество звёзд и планет.
                И стало так:</p>
            <img class="picture" src="../images/god-who-made-the-world/pic_3.svg"
                alt="шесть концентрических окружностей с надписями начиная с внутренней: земля, атмосфера, космос, первое небо, ад, рай">
            <p class="article__subnote">Рис.3: Геоцентрическая модель мира согласно Библии</p>
            <p>Бог все предусмотрел для Своего любимого творения – человека. И нам необходимо каждому приложить все свое
                старание, чтобы исполнить волю Божию. Чтобы не вопрошал нас потом Господь: «<span
                    class="article__accent">Для кого же я тружусь, и
                    лишаю душу Мою блага?</span>».</p>
            <p class="article__stars">* * *</p>
            <p>Но Бог потом ещё раз «перестраивал» Землю. Не знаю, зачем это было Ему нужно. «Первая» Земля была
                меньшего диаметра. Естественно, с меньшей силой притяжения. Поэтому на ней росли громадные деревья,
                гигантские папоротники, бродили динозавры огромных размеров и жили люди-исполины. Так было до всемирного
                потопа, при котором спасся Ной и те, кого Бог определил на спасение. «<span class="article__passage">В
                    сей день разверзлись все
                    источники великой бездны, и окна небесные отворились; и лился на землю дождь</span>». (Быт. 7, 11.).
                Наверное,
                это был необыкновенный по силе дождь, льющийся из открытых небесных окон. Подпитывали дождь (служили ему
                началом) источники великой бездны. Что мы знаем о бездне? «<span class="article__passage">Бездною, как
                    одеянием, покрыл Ты землю</span>» (Пс.
                103, 6). То есть, вода обрушивалась на Землю откуда-то из вне, сверху. В конце концов, она покрыла Землю
                слоем в несколько километров. При этом, падающая вода постоянно впитывалась землёй. Чем выше становился
                водяной слой, тем он становился тяжелее. Вода под громадным давлением «запрессовывалась» в землю. Что же
                происходило с Землёй? Попробуйте вдувать воздух в шарик с рисунком. Шарик станет больше, и рисунок
                начнёт увеличиваться, расползаться по поверхности шарика. Сделайте на куске теста несколько надрезов
                ножом, и посмотрите, как эти надрезы расползлись на готовом батоне. Потому, что тесто увеличилось в
                объёме. Земля увеличилась в объёме, расползлась от впитавшейся воды. Просмотрите на глобус: протоматерик
                Гондвана расползся по лицу Земли отдельными материками, и образовавшееся между ними пространство
                заполнила вода. Земля стала больше и тяжелее. Сила тяжести на ней увеличилась. И прежние гиганты из
                растительного и животного мира уже не могли существовать на ней.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>