<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бог</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Бог</h1>
            <p class="article__remark">Итак: рассуждения дилетанта.</p>
            <p>Что нам известно Боге? Что Он Дух, что он <span class="article__accent">вне</span> времени и <span
                    class="article__accent">вне</span>
                пространства. Всё эти понятия выше нашего
                разумения, но хоть что-то представить себе можно. <span class="article__accent">Вне</span> пространства:
                это когда вокруг Него ничего нет.
                Даже пустоты нет (вакуума). И самого Бога (как тела) тоже нет. Ведь Он - Дух. Что это может напоминать?
                На осциллографе приходилось видеть светящуюся ломаную линию? На экране (в пустоте экрана) - пульсирующая
                синусоида. Так вот в моём понимании: Бог – это <span class="article__accent">живая</span> мысль. Она ни
                в чём, и ни (в) где. Если для
                человеческой мысли нужен мозг (кстати, её никто в мозгу не обнаруживает), то Бог – это <span
                    class="article__accent">всесильная мысль</span>,
                скажем так, обитающая вне времени и вне пространства. Это состояние можно назвать четвёртым измерением,
                но по сути – это Бог.</p>
            <p class="article__stars">*</p>
            <p>О пространстве (вернее о его отсутствии) я, что мог, сказал. Теперь о времени. У Бога (или в четвёртом
                измерении) времени нет. Оно не существует. Поэтому о Боге сказано, что Он безначальный и бесконечный. В
                нашем понимании Он был до нас и будет после нас. На самом деле Он просто есть <span
                    class="article__accent">всегда</span>, существует в том,
                Своём мире, в четвёртом измерении. Для Него нет времени. Он сразу: и в начале этого (нашего) мира и в
                его конце. Для Него уже родился Ткалич Пётр Степанович и уже умер. И Бог знает, как это произошло. И Он
                уже знает всё моё потомство; и то, как они закончили свою жизнь.</p>
            <p class="article__stars">*</p>
            <p>О нашем мире и четвёртом измерении. Не ручаюсь за точность, но сказано, что Бог создал мир из Себя или
                внутри Себя. Ну, где-то же Он должен был создать мир, если кроме Него ни чего больше не было. «<span
                    class="article__accent">Его
                    премудростью разверзлись бездны</span>». (Пр.3,20). А затем: «<span class="article__accent">Он
                    проводил круговую черту по лицу
                    бездны</span>».
                (Пр.8,27). То есть, внутри Самого Себя Бог создал «пространственный пузырь». Внешне это выглядело как
                тот самый Большой Взрыв – начальная точка расширения Вселенной. Что бы упростить картину о сущности Бога
                (Бог, Сын и Дух Святой) для нашего понимания представим, что Бог сотворил аквариум с зеркальными
                стенками. Пусть аквариум будет круглый. Это и есть наш мир, наша Вселенная. А мы у Бога - все как на
                ладони (рыбки плавают). Но Его особый духовный мир, за зеркальными стенками, недоступен для нашего
                познания. И вот Бог решил лично произвести какие-то изменения в нашем мире. Своею собственной рукой. Но
                ведь Он - Дух! Значит? Значит Он, не покидая Своего мира должен стать в нашем мире материальным. То
                есть, Он опускает Свою руку (ставшую материальной) в наш аквариум и производит в нём определённые
                действия. Эта рука в нашем мире, для нас, проявилась как Иисус Христос. Тогда получается, что Иисус
                Христос – это материальное проявление Бога в материальном мире. Можно ли Его назвать Сыном? Да, ведь Он
                порождение, воплощение Бога в нашем мире.

                Можно ли Его назвать Богом? Конечно, ведь Он же и есть Бог.

                Является ли Он человеком? Да, по материалу, из которого Он создан – Он человек. Так что обвинения со
                стороны мусульман, которые обвиняют нас в многобожии, получаются несостоятельными.</p>
            <p class="article__stars">*</p>
            <p>О Духе Святом? Слова Иисуса: «<span class="article__passage">И Я умолю Отца, и даст вам другого
                    Утешителя, да пребудет с вами во век,
                    Духа истины, Которого мир не может принять, потому что не видит Его и не знает Его, а вы знаете Его,
                    ибо
                    Он с вами пребывает и с вами будет</span>».

                Что же в таком случае Дух Святой? Может это некое духовное помазание, освящение, оставшееся после
                посещения сего мира святым Господом? И тогда наши бесконечные споры о Троице попросту бессмысленны. Ведь
                вода – она есть вода. Меняется среда – меняется её состояние. В холодной среде вода становится льдом. В
                горячей среде вода становится паром. А Бог остаётся Богом. Вот только Его проявление в нашем мире (и в
                нашей жизни) происходит по разному.</p>
            <p class="article__stars">*</p>
            <p>Я уже упоминал, что невозможно представить Бога <span class="article__accent">до</span> сотворения мира.

                То есть, нам невозможно представить Бога <span class="article__accent">вне</span> времени и <span
                    class="article__accent">вне</span> пространства.
                <br>
                Но допуская существование четвёртого измерения, мы можем предположить, что <span
                    class="article__accent">вне</span> времени все мысли
                проходят как бы <span class="article__accent">одновременно</span>.
                <br>
                То есть Бог знал, что сотворит материальный мир.
                <br>
                Я намеренно не говорю, что: " Бог с <span class="article__accent">самого начала</span> знал...."
                <br>
                Потому,что у Бога, в <span class="article__accent">безвременьи</span>, нет начала или конца.
                <br>
                Итак: Бог знал, что сотворит материальный мир, Землю.
                <br>
                Знал, как будет выглядеть человек <span class="article__accent">приспособленный</span> в идеале под эту
                планету.
                <br>
                <span class="article__accent">И знал, как будет выглядеть Он (Бог, в образе Иисуса Христа) на этой
                    планете</span>.
                <br>
                И поэтому создал человека по образу Своему и подобию.
                <br>
                То есть, <span class="article__accent">по образу Иисуса, которым Он был сам</span>.

            </p>
            <p class="article__stars">*</p>
            <p>Мы как уходим в гости?
                <br>
                На своё тело одеваем праздничный костюм.
                <br>
                Это буду я же. <span class="article__accent">Но в другом обличье</span>, в костюме,
                <br>
                с этим все согласны!
                <br>
                Но в нашей голове не может поместиться, что Бог (как Дух), появляясь в ЭТОМ нашем мире в теле Иисуса,
                <span class="article__accent">остается в своем мире безвременья и пространства</span>.
                <br>
                Ведь мы как думаем - если я одел костюм, то это Я в нём пошёл в гости.
                <br>
                Но у Бога по другому: если он создал в Своём мире аквариум (наш мир), то Он (как Дух), желая что
                изменить в нашем мире, лезет в наш аквариум Своей <span class="article__accent">рукой</span> (которая
                становится в нашем мире, "в аквариуме",
                материальной).
                <br>
                Вот вам и Иисус Христос - Сын Божий, на Земле.
                <br>
                Но Бог по-прежнему там же - Своём духовном мире.
            </p>
            <p class="article__stars">*</p>
            <p>"<span class="article__accent">Господи, Господи! Почему ты покинул меня?</span>"
                <br>
                "Проклят всяк висящий на древе"
                <br>
                Бог не мог находиться в проклятом (в находящемся под проклятием).
                <br>
                И Бог-Дух оставил на этот момент материальное <span class="article__accent">тело</span>.
                <br>
                Для Иисуса это был самый тяжёлый момент.
                <br>
                И Он знал, что это с Ним произойдёт.
                <br>
                Нетрудно страдать ощущая в себе божественную сущность.
                <br>
                Но каково чувствовать себя куском окровавленного мяса, в котором каждая клеточка дрожит от непереносимой
                боли?
                <br>
                Где Ты, Отец? <span class="article__accent">Мне плохо!</span> почему Ты оставил Меня?
                <br>
                Это кричало <span class="article__accent">тело</span>. человеческое тело.
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>