<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Евангелие от Павки</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Евангелие от … Павки</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">Но мы же с вами ненормальные люди!
                    <br>
                    Нас вырастили в соцреализме,
                    <br>
                    и мы уже не можем никуда деться.
                    <br><br>
                    <span class="article__epigraph-author">Отец Александр Мень</span>
                </p>
            </section>
            <p>Легендарная это личность – Павка Корчагин. О нем я вспомнил через многие годы, после окончания школы.
                Став уже дедушкой, попав в очередной раз в больницу, там, в библиотеке, на книжной полке, я увидел эту
                книгу – «Как закалялась сталь». И сразу вспомнилось, как-будто не было прожитых лет: начало урока
                физики, классная доска, на ней – название темы предыдущего урока литературы. Мелом, красивым почерком,
                выведено: Павка Корчагин. За что мы любили своего «физика», он не стал выяснять кто дежурный, и почему
                доска не готова к новому уроку. Он взял тряпку и, стирая надпись с доски, не поворачиваясь к нам лицом,
                спросил: «А вы знаете, что Павка был просто хулиган?» Что мы точно знали, так то, что у нашего «физика»,
                время от времени, возникали проблемы за его «мысли вслух». Может поэтому мы уважали его больше других.
                Но то, что он сейчас сказал – было через чур. Наш Павка и вдруг хулиган?! Извините, как говорится: при
                всем уважении, позвольте не согласиться. И вот, по прошествии стольких лет, я снова держал эту книгу в
                руках.</p>
            <p>Кто же ты, Павка? Какой ты на самом деле человек, на примере которого воспитались не только отдельные
                личности, но пытались воспитать целые поколения? В идеале, мы должны были стать государством, в котором
                таких, как Павка Корчагин было бы большинство. Поэтому я, теперь уже умудренный жизненным опытом
                человек, искренне верующий в Бога, постарался вновь понять, кто же в действительности был Павка
                Корчагин?</p>
            <p>Кого из нас в детстве не наказывали, порой даже безжалостно? Но что нужно иметь в душе, что бы, мстя за
                детские обиды, испортить священнику самый почитаемый христианами праздник, насыпав в пасху махорку? Как
                бы ни приукрашивал Николай Островский Павку, то есть самого себя, но иногда, не найдя в этом ни чего
                компрометирующего, он писал искреннею правду. Так что же он пишет по этому поводу? «Возненавидел с тех
                пор попа Павка всем своим существом. Ненавидел и боялся. Ни кому не прощал он своих маленьких обид; не
                забывал и попу незаслуженную порку, озлобился, затаился». Прочувствуйте внутренний мир будущего кумира
                советской молодежи, заново прочитав эти слова: возненавидел, ненавидел и боялся, не прощал, не забывал,
                озлобился, затаился. Одно только слово упустил Островский описывая внутренний мир Павки. Может потому,
                что оно как раз создало бы полный портрет главного героя: зависть. Зависть, ненависть, непрощение. Как,
                к сожалению, это похоже на нас, на наше время. Видно не зря мы «проходили» Корчагина в обязательном
                порядке.</p>
            <p>Итак: «Злобился на них Павка: «Сволочь проклятая! Вон Артем – слесарь первой руки, а получает сорок
                рублей, а я десять; они гребут в сутки столько – и за что?» Зависть и ненависть. Дальше: «Выросший в
                нищете и голоде, Павка враждебно относился к тем, кто был в его понимании богатым». Может поэтому, в
                наши дни, нам так легко внушают ненависть к Америке и к нашим, отдельно взятым, олигархам. «Федор Жухрай
                рассказывал жестокую правду жизни смотревшему на него зачарованными глазами молодому кочегару: «Глядишь,
                бывало, на сытых да наряженных господских сыночков, и ненависть охватывает. Я тебе, братишка, расскажу
                про настоящую дорогу, потому что знаю: будет из тебя толк». И не только из него. Сережа Брузжак, милый
                добрый мальчик, комсомолец. «Он знает, что будет еще убивать. Он, Сергей, умеющий так нежно любить, так
                крепко хранить дружбу. И он, Сергей, убивает для того, что бы приблизить день, когда на земле убивать
                друг друга не будут». Очень трогательно! Другого пути мы не знаем. Какой-то людоедский гуманизм:
                убивать, чтобы перестали убивать. А юный пулеметчик Иван Жаркий. «Он сидел на краю рампы, нервно ерзал,
                с ненавистью смотрел на щегольски одетых Лизу Сухарько и Анну Адамовскую». Что мы знаем о той же Лизе
                Сухарько? Она скрыла на допросе о том, что это Павка напал на часового. Это она заступилась за
                евреев-сирот в гимназии. Это с ней, во время облавы, Тоня отнесла записку Павкиному другу. По просьбе
                Лизы, ее отец поручился за Артема, и тот помог Павке скрытся из города. Так что же говорит о ней юный
                пулеметчик, после неудачной попытки организовать комсомольскую ячейку: «Обойдемся и без вас, просить не
                будем, на черта сдались нам такие! Таких только пулеметом прошить!» Вот и все. У всех положительных
                героев одна положительная черта – ненависть.</p>
            <p>Две тысячи лет назад Сын Божий ходил по земле и учил понятным, но трудноисполнимым заповедям: возлюби
                своего ближнего, не делай людям того, что не желаешь себе. Этим он хотел спасти человечество и поэтому
                имя Ему Христос, Спаситель. С Ним были Его ученики, которые в дальнейшем распространяли и развивали Его
                учение. Они несли людям добрую весть. Благая весть – по-гречески означает «евангелие». Благая весть
                заключается в том, что Любовь победила в этом мире и мы имеем спасение через Иисуса Христа, и что Бог
                все для этого сделал. Чем руководствовался Господь желая спасти, сохранить нас для Царства Своего? Если
                вы хотите что-то приобрести для себя, стать владельцем, то для этого есть два способа: насильно
                завладеть, завоевать, подчинить себе. Второй способ: приобрести необходимое можно отдав что-то взамен,
                выкупить. В таком случае, по закону справедливости, происходит равноценный обмен. Но иногда одна из
                сторон готова уплатить гораздо большую цену. Почему? За что? Дед Мазай собирал к себе в лодку зайцев,
                которые могли утонуть в половодье. Почему? За что он был готов пострадать, если перегруженная лодка
                перевернется? Женщина, вопреки запретам врачей, собирается родить ребенка. Почему? За что она рискует
                своим здоровьем или даже своей жизнью? Коллекционер распродает свое имущество, что бы купить совершенно
                бесполезную для всех марку. Почему от так поступает? Что движет им?</p>
            <p>Библия так отвечает на этот вопрос: «Ибо так возлюбил Бог мир, что отдал Сына Своего единородного, что бы
                всякий верующий в Него, не погиб, но имел жизнь вечную». Бог полюбил созданный им мир, и для того, что
                бы люди, впавшие в грех спаслись, попали не в геену огненную, а жили вечно в раю, в присутствии Божием,
                Он заплатил самую высокую цену. Бог послал на землю Своего Сына, зная, что Тот будет казнен. Он учил
                людей новой заповеди: возлюби своего ближнего. Иисус Христос нес людям самые высокие идеалы и Сам
                соответствовал им. Он сказал: «Слушающий слово Мое и верующий в Пославшего Меня имеет жизнь вечную и на
                суд не приходит, но перешел от смерти в жизнь (вечную)». Он прожил земную жизнь не совершив ни одного
                греха. Его ни в чем нельзя было упрекнуть. Он призывал к любви, а не к ненависти, к созиданию, а не к
                разрушению. Он никогда не просил Себе славы. Он не отступил и не отрекся от Своего учения. Об этом
                говорят все четыре Евангелия, четыре Благовествования, которые включает в себя Новый Завет.</p>
            <p>Но сейчас я хочу поразмышлять о евангелии от Павки, об автобиографической повести Николая Островского.
                По-моему это не повествование о себе, а гимн самому себе, с претензией на славу, естественно, самому
                себе. Казалось бы, эти претензии вполне обоснованны. Главный аргумент – сам себя не пожалел. В Евангелии
                от Иоанна сказано: «Нет больше той любви, как если кто положит душу свою за друзей своих». Что Павка,
                казалось бы, и сделал. Но так ли все просто? В Евангелии говорится о любви, как о побудительном мотиве,
                и вершиной любви является самопожертвование за ближнего своего, за «други своя».</p>
            <p>А в действиях Павла нет любви. Строительство узкоколейки на благо замерзающего города? Стоившее Павке
                здоровья и чуть ли не жизни? Но вот, что об этом говорит впоследствии он сам: «Мы иногда преступно щедры
                на трату сил. И в этом, я теперь понял, не столько героики, сколько стихийности и безответственности. Я
                только теперь стал понимать, что не имел ни какого права так жестко относится к своему здоровью.
                Оказалось, что героики в этом нет». Вот вам и все. Павка, я подчеркиваю это, сожалеет, раскаивается о
                неразумной трате сил и здоровья. «Героики в этом нет». Им двигало желание выделится, обратить на себя
                внимание, почувствовать и показать себя героем. Его эмоциональность, максимализм, неоправданное
                стремление впадать в крайности отмечает один из персонажей повести: «Юноша еще не ушел от стихийности.
                Живет чувствами, которые в нем бунтуют, и вихри этих чувств сшибают его в сторону». Как видите, ни
                какого самопожертвования из любви к ближним нет.</p>
            <p>Более того, истинное отношение к людям прекрасно показано в эпизоде при погрузке комсомольцами больного
                тифом Павки Корчагина в вагон. «Их (комсомольцев) не пускали, страшась заразится сыпным тифом,
                сопротивлялись, грозили выбросить тифозного по дороге. Холява, размахивая наганом под носами мешавших
                погрузке больного, кричал: «Больной не заразный! Он поедет, хотя для этого вас всех выкидывать пришлось
                бы! Помните, шкурники, если его хоть кто-нибудь рукой тронет – я сообщу по линии: всех снимем с поезда и
                посадим за решетку. Вот тебе Алеша маузер, бей в упор всякого, кто его вздумает снимать». Такое вот
                отношение к ближнему. Более того, наш коронный номер: подмена одних ценностей, действительных, на
                другие. Больного выдать за незаразного, голодающих людей, которые в поисках пропитания, меняя вещи на
                продукты, хлынули из городов в деревни и села, назвать шкурниками. Вот и все. После этого спокойно «бей
                в упор всякого». «Мочи» террористов в сортире. «Но для этого нужна братва отважная, а не маменькины
                сынки».</p>
            <p>Вообще, Павка уникальный тип для того времени. Он, в самом деле, замешан, вырос и жил в ненависти. Вы
                обратили внимание сколько говорится о любви в Павкиной жизни? К матери у него ни каких чувств не было.
                Островский, ему знать лучше, говорит, что Павка любил только старшего брата Артема. «Это была суровая
                любовь, без признаний, и Павел ясно сознавал, что нет такой жертвы, которую он не принес бы без
                колебаний, если б она была нужна брату». Но это продолжалось только до женитьбы Артема, которую Павка,
                мягко говоря, не одобрял. «Потомственный пролетарий, пошел «в примаки» к серенькой Стеше, в семью из
                пяти ртов, без единого работника». Действительно, как пролетарий мог до такого опустится? Тратить силы
                на то, что бы накормить пятерых едоков, когда сначала надо с разрухой бороться! Павка ощущает
                собственную правоту и испытывает недоумение: «Какая нелегкая затянула сюда Артема? Теперь ему до смерти
                не выбраться. Будет Стеша рожать каждый год. Закопается, как жук в навозе. А я было думал в политическую
                жизнь втянуть его». Обратите внимание на тон: так говорят о покойниках, или, в лучшем случае, о
                несостоявшихся людях.</p>
            <p>Павкиному разумению недоступно понятие «любовь». Она ему противоестественно. «Тут кисель разводить
                нельзя…. Все эти антимонии ни кому не нужны…. Это интеллигентская мягкотелость» - вот взгляд Островского
                на отношения между людьми. После того, как Павка побывал в гостях у, теперь уже семейного, брата, он
                произносит свой известный монолог о смысле жизни. Видимо крепко задело его «предательство» брата, и его
                новый образ жизни. Этот монолог, который требовали в школе знать наизусть, всегда у меня вызывал
                ощущение незавершенности, незаконченности.</p>
            <p>Последнее предложение там звучало так: «Вся жизнь и все силы должны быть отданы самому прекрасному в мире
                – борьбе за освобождение человечества». От чего, объясните мне? Если от СПИДа, то это проблема врачей.
                Если от зверинных бредовых идей фашистов и коммунистов, то в Чехии нам сказали, что у них дают 8 лет.
                Тем и другим. За пропаганду этих идей. Проблема решена. Бороться за освобождение человечества от
                эксплуатации? Я считаю эксплуататором свое государство, за которое так боролся Павка. Которое выжало из
                меня все соки и здоровье, которое дало мне нищенскую подачку и назвало это пенсией. Жена меня считает
                эксплуататором, когда она моет посуду и подает мне тапочки. Дочка ее считает эксплуататором потому, что
                она пытается дочку воспитать помощницей. И что? Потратить все силы и жизнь на борьбу? Простите, если
                конкретно, то с кем? С государством? С женой? С дочерью? А кого освобождать?</p>
            <p>Проблема будет решена, если между нами есть любовь, и, как следствие, готовность к самопожертвованию. Ну
                или исполнить этот кровожадный лозунг: убивать, для того, чтобы потом друг друга не убивали. Обратите
                внимание – и фашисты и коммунисты одинаково не ценят человеческую жизнь. Но те и другие сулят «светлое
                будущее», одни – тысячелетний рейх, другие – коммунизм. Но основание одно: ненависть, борьба, кровь.</p>
            <p>Я возвращаюсь к Павке и хочу до конца рассмотреть его отношение Павки к семье. История начинается с
                письма матери, в котором она просит Павку навестить семью ее знакомой, проживающей недалеко от
                Евпатории. Павка, только приехав к ним, быстро и категорично составил свое мнение. «Семья Кюцам радушно
                приняла Корчагина. Только старик окинул гостя недобрым настороженным взглядом». Оказывается: «Старик
                деспотически-грубо зажал всю семью, убивая всякую инициативу и малейшее проявление воли. Ограниченный,
                узколобый, придирчивый до мелочности, он держал семью в вечном страхе и этим снискал к себе глубокую
                неприязнь детей и глубокую ненависть жены. Вторым уродом в семье был Жорж». Вы поняли? Первый урод – это
                глава семьи. Второй – любимец матери, маменькин сынок, который уехал поступать в университет. Павка,
                приехав на несколько дней в чужую семью, не мог просто спокойно у них пожить. Ему совесть не позволяла.
                «Отвратительный образ старика не давал ему покоя…. Со стариком надо кончать, этого не сагитируешь». Если
                кто-то не читал это произведение – не пугайтесь, Павка не будет «мочить» старика в сортире. И не «сдаст»
                его в Чека, как «сдал» попа, отца Василия, вместе с дочерьми, обвинив их в организации
                контрреволюционного заговора. «Выход был один: расколоть семью – матери и дочерям уйти навсегда от
                старика». По приезду Корчагина «дом разделился на две половины, враждебные и ненавистные друг другу».
            </p>
            <p>В английском языке есть слово «терминатор», его можно перевести, как «разрушитель». Может это покажется
                неожиданным, но для противовеса этому слову я бы использовал слово «смиренный». Только взяв из него за
                основу слово «мир». Т.е., смиренный человек – человек с миром. И имеющий мир внутри себя. С миром
                принимающий все то, что вокруг него происходит. Не с агрессией, а с миром. Несущий мир, с миром
                приходящий в чужой дом, в чужую семью. Смиренный человек ни чего не разрушает. Он созидает, сохраняет:
                себя, окружающий его мир. Даже зверь усмиренный не проявляет агрессии. Смирение – необходимая, составная
                часть любви.</p>
            <p>Островский изо всех сил пытается вызвать у читателя негативное отношение к главе семейства Кюцам. Но
                давайте более внимательно прочитаем текст, не погружайтесь в те эмоции, которыми нас старательно
                «загружают». Итак: «Старик до службы в кооперативе знал две профессии – сапожника и плотника – и в
                свободные часы подрабатывал, устроив мастерскую в сарае». Старик был основным кормильцем своей семьи.
                Содержать жену, троих детей, а теперь еще и внука, это было тяжело. Он совершенно не имел этих свободных
                часов, подрабатывая, кроме основной работы, плотником и сапожником. Он был непьющим, иначе Павка
                использовал этот аргумент. Понятно, что на плечах жены, в свою очередь, лежала ответственность за
                порядок в доме и воспитание детей. Но с воспитанием она справлялась плохо, так как, судя по всему, не
                сумела привить детям уважение к собственному отцу. «Семейные законы теперешние осуждаю, - говорил
                старик. – Захотел женился, а захотел – разженился. Полная свобода. Вот, - он показал на старшую дочь, -
                со своим хахалем сошлась не спросясь и разошлась не спрашивая. А теперь, извольте радоваться, корми ее и
                чьего-то ребенка. Безобразие! – А что же, по-вашему, она должна была с этим паразитом жить? – спросил
                Павел, не спуская со старика своего вспыхивающего дикими огоньками взгляда. - Надо было смотреть за кого
                выходишь».</p>
            <p>Что же вызвало эти дикие огоньки во взгляде Павки? Ведь старый человек говорил разумные вещи, под
                которыми подпишется кто угодно из родителей, имеющий такие же проблемы. Чем он не угодил Павке? «От
                избытка сердца говорят уста» - так сказано в Библии. То есть, чем наполнено сердце человека, то из
                человека изливается, выходит наружу. Из Павки излилась ненависть. Можно попытаться объяснить это
                полученным воспитанием. Только не оправдывайте Пашку тем, что у него ни какого воспитания не было.
                Отсутствие воспитания – это тоже воспитание. Можно попытаться объяснить это наследственностью.</p>
            <p>Помните он жаловался на врачей в санатории: «Пять раз в день рассказывай одно и тоже. Не была ли
                сумасшедшей ваша бабка, не болел ли ревматизмом ваш прадедушка?» С чего бы это врачи его так пытали?
                Островский не пишет ничего о бабке Павки и о его прадедушке. Он упоминает, что отец Павки был
                алкоголиком. А вот его дед …. Послушаем мать Павки: «Таким заскочистым твой дед был, в моряках плавал,
                настоящий разбойник, прости господи! Довоевался в севастопольскую войну, что без ноги и руки домой
                вернулся. На груди ему два креста навесили и два полтинника царских на ленточках, а помер старый в
                страшной бедности. Строптивый был, ударил какую-то власть по голове клюшкой; в тюрьме мало не год
                просидел. Погляжу я на тебя, не иначе как в деда вдался». Хотелось бы сказать – комментарии излишни. Но
                для полноты картины еще один эпизод. «Корчагин схватил дубовый табурет и одним ударом свалил Файло на
                землю». Объяснение Павки на партийном суде: «Все о чем здесь идет речь, случилось потому, что я не
                сдержался. Произошла авария – и, прежде чем я это понял, Файло получил по черепу. Файло – отвратительное
                явление в нашем коммунистическом быту. Этот случай заставит нас говорить о быте, это единственное
                положительное в деле». Ну не сдержался человек! В голове что-то замкнуло, там произошла авария и прежде,
                чем он что-то понял – его собеседник лежит с травмой черепа! Как тут дедушку его, с клюшкой, не
                вспомнишь. А Павку оправдали. Благодаря ему «этот случай заставил говорить нас о быте». Так сказать,
                Павка дал повод обратить внимание на … быт. Я же вам говорил: подмена ценностей, переключение внимания –
                великая вещь. Такая возможность для манипуляций!</p>
            <p>Наконец, последнее: то, что нажило немалый опечаток на характер Павки и позволит нам создать его
                действительный портрет. Его отношение к женщинам. Их, как таковых, не было. Не то, что бы женщин в его
                жизни не было. Были, и отношение к ним было. Но всегда одинаковое – не переходящее в близость. Может
                Павкина ненависть черпала свои истоки не только в наследственности, в воспитании, но и в этом тоже. В
                случае с Файло и табуреткой, Павка оправдывается тем, что он действовал по идейным мотивам. В случае с
                женщинами, Николай Островский оправдывает Павку, якобы тот бездействовал по идейным мотивам. Нам
                предлагается в предлагается в это поверить. Кумир всегда должен быть на высоте.</p>
            <p>Вот такой этот человек, который «ни кому не прощал своих маленьких обид», всю жизнь прожил ненавидя всех
                и все. Если Новый Завет говорит о любви и утверждает, что спасение во Христе и в исполнении заповеди
                «возлюби …», то Николай Островский написал свое, новое евангелие. Евангелие от Павки. В нем нет места
                любви, нет места Богу. Это евангелие ненависти. И мы выросли все на этом евангелии. Поэтому мы не
                признаем Бога. А Бог есть любовь. Но нам это недоступно. Потому, что мы не пережили покаяния. Мы по
                прежнему ненавидим богатых. Ненавидим тех, кто лучше нас. Ненавидим тех, кто живет лучше нас. Ненавидим
                лиц «кавказской национальности», всех этих черножолтых. Куда мы идем? Куда нас ведут? Где Ты, Господи?
                Как Ты нас простишь, живущих по чужому евангелию?</p>
            <p>В свое время, святитель Феофан Затворник писал: «Раздражительность, гнев, нетерпение, суетливость, -
                конечно, все это не добрые дела. Посмотрите, нет ли у вас самомнения? Это самое сокровенное (скрытое)
                чувство, но оно всем ворочает в жизни. От него первое требование, чтобы все было по-нашему. От него
                уверенность, что все сами можем сделать и устроить. Но ни что существенное доброе не укореняется в нас
                без Бога. Если так, то предать Ему себя следует. Больше всего упражняйтесь в любви – в делах и чувствах,
                не исключая никого из тех, кой соприкасаются вам, как бы кто ничтожен ни был». В словах этого святого
                человека каждый найдет что-то для себя. Меня поразили больше всего его последние слова: «… не исключая
                ни кого». Оказывается Павку тоже надо любить. И хотя я считаю себя христианином, видно, из меня еще не
                выветрилось ненависть полностью.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>