<!DOCTYPE html>
<html lang="ru">

<head>
    <title>В начале было слово</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">В начале было слово</h1>
            <p>Я догнал по дороге пожилого мужчину, собираясь обогнать его, тем более это было сделать нетрудно. Он
                тащил за собой санки, и хотя они легко скользили по снегу, дышал он тяжело, с трудом переставляя ноги.
                Всегда испытываешь чувство неловкости, какой-то вины, когда вот-так, сходу, обгоняешь больного или
                немощного старого человека. И я совсем растерялся, когда он заговорил со мной, почему-то называя меня
                чужим именем-очеством. Я не стал ему объяснять, что он ошибся. Тем более, что мужчина всего-навсего стал
                жаловаться на телевизор. По его словам, после того, как кабельное телевидение произвело у себя
                перенастройку, у него пропал канал РТР. А настраивать ему придут, только если он уплатит 20 рублей.</p>
            <p>То ли это человек принял меня за мастера на все руки, готового всегда придти на помощь, то ли просто
                хотел на жизнь пожаловаться. Но Господи! Как он матерился! Брань, нецензурщина изливалась из него
                потоком. Сколько в этом маленьком, тщедушном тельце было словесной грязи! Было ощущение, что как будто с
                канализационного люка сдернули крышку, и этот застоявшийся смрад заполнил все вокруг.</p>
            <p>Мое сожаление к этому человеку улетучилось. Утро казалось безнадежно испорченным. Я шел по обочине,
                стараясь не смотреть на прожженные насквозь мочой сугробы, думая о многовековой культуре русского
                народа, о девушках в красных сарафанах, которые водят хороводы на экранах телевизоров, о певице, которая
                так проникновенно поет, вызывая всеобщее сочувствие: «Напилася я пьяна, не дойду я до дому». И опять
                прокручивая в голове встречу с этим мужчиной, я вспомнил слова из Библии: «Говорю же вам, что за всякое
                праздное слово, какое скажут люди, дадут они ответ в день суда». В свое время мне пришлось полистать
                словарь Даля, что бы понять прежний смысл слова «праздный». Смысл знакомого слова оказался неожиданным:
                праздный – порожний, свободный, пустой, незанятый. Оказывается, Богу неугодны наши пустопорожние
                разговоры, сплетни. Более того, за каждое праздное слово мы ответим перед Ним в день суда.</p>
            <p>Школьный учебник нас учит, что звук – это просто колебание воздуха. И порывы ветра – это тоже колебания
                воздуха. Ты что-то сказал, где-то прошумел ветерок; воздух дрогнул и успокоился. Казалось бы и все на
                этом. Но Библия говорит о том, что жизнь слова не заканчиваются только сотрясением воздуха. Каждое слово
                где-то запечатлевается у Господа. И оно будет извлечено в судный день. «Ибо от слов своих оправдаешься и
                от слов своих осудишься». Это предостережение исходит из уст Иисуса Христа. Уж если наш Спаситель
                предупреждает нас об этом, то тут нужно задуматься.</p>
            <p>Но мы в своих грехах пошли еще дальше. Мы не только праздно пустословим, с удовольствием обсуждаем и
                осуждаем кого-либо. Все гораздо хуже. У нас, у русских, как, наверное, ни у какого другого народа,
                развито сквернословие. Кстати, слово «скверна», в том же словаре Даля, объясняется, как мерзость,
                гадость, пакость, грязь и смрад. Я двадцать лет прожил в Средней Азии, в Киргизии. За это время
                убедился, что у них все есть только четыре слова, которые мы называем матерные. Они матерятся по-русски,
                даже когда между собой говорят по-киргизски! Конечно, мне приятно, что мы все-таки сеем разумное,
                доброе, вечное, что наш могучий русский язык пользуется популярностью, хотя бы у азиатов.</p>
            <p>Что же говорит Библия по этому поводу? «От избытка сердца говорят уста». Для простоты восприятия я
                «переведу» эту фразу на современный язык. Т.е., что переполняет человека, чего больше всего есть в
                сердце, то и освобождается через его уста; то он и говорит, или о том он и говорит. Влюбленная парочка
                часами может щебетать о своей любви, строить планы на будущее. Они наполнены друг другом, думают друг о
                друге и говорят друг о друге. Когда мы в ссоре с кем-то и стоим друг перед другом, то словами мы
                освобождаем свое сердце от обиды. Что есть у нас на сердце…. А что у нас есть?</p>
            <p>У меня вызывает какой-то жуткий страх фраза прозвучавшая, как предсказание: «Сон разума порождает
                чудовищ». А жизнь без Бога? Что порождает она? Святой Иоан Кронштатский пишет: «Господи! Слава Тебе,
                Благодетелю, Спасителю нашему! Что было бы с нами без Тебя? Мы были бы истые звери, и истребили бы друг
                друга. Если бы отдельные лица и народы жили по Евангелию Твоему, не было бы тогда вражды, междоусобий,
                войн. А теперь как мало читающих Евангелие!». Сбылось это невольное пророчество. Сколько лет мы прожили
                без Тебя, Господи? Сколько лет под запретом было Евангелие? Чем наполнены наши сердца, и что говорят
                наши уста от избытка сердца?</p>
            <p>А вот что они говорят, то мы и слышим. «Всякое дерево доброе приносит и плоды добрые, а худое дерево
                приносит и плоды худые. По плодам их узнаете их». Совсем не обязательно съесть пуд соли, что бы узнать
                человека. Потому, как говорит и что говорит человек, уже можно составить о нем мнение. И Библия
                утверждает, что в начале было слово. Не надо только забывать, что за свои слова нам надо прийдется
                отвечать перед Богом.</p>

            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>