<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Интервью с Ларисой Володимировой</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Интервью с Ларисой Володимировой</h1>
            <p><span class="article__passage">Петр Ткалич</span>: - <span class="article__accent">Лариса, первый вопрос,
                    который я бы Вам задал: суд
                    над Путиным - это Ваше пожелание?
                    Уверенность? Или надежда? Для меня каждое определение имеет свой смысл. Кто и как сможет его выдать,
                    этого любимца публики, при его нынешнем рейтинге?</span></p>
            <p><span class="article__passage">Лариса Володимерова</span>: - Военный трибунал над вершителями российского
                тоталитаризма на самом деле давно уже
                - необходимость, осознанная массами. Лично Путина ненавидят как за границами, так и внутри тюрьмы, и его
                нынешний рейтинг ничего не обозначает: россияне сегодня публично возносят на престол очередного кумира,
                чтобы завтра его развенчать и с позором забыть. И наоборот: стоило Ельцину, проклинаемому любым
                алкоголиком, домохозяйкой на каждом углу, быть убитым, и толпа, даже не подозревая об истинной причине
                его кончины, хлынула с плачем на площади.</p>
            <p>Материалы по проведению Трибунала готовы; независимо друг от друга, их собирали, сортировали и объединили
                как минимум два десятка очень крупных организаций и направлений, как в России, так за рубежом. Огромная
                часть архива отражает истинное положение дел в Чечне, работу концлагерей, применение рабского труда в
                системе Гулага, но, как все понимают, колоссальный архив представляют правонарушения чисто российские –
                геноцид, планомерное уничтожение определенных слоев населения; внешний и внутренний государственный
                терроризм, организация которого в принципе никогда не была бы возможной без прямого указа правительства
                и его материальной поддержки.</p>
            <p>Ничто из выше мной сказанного не составляет секрета для правительств Европы, Америки. Значительную роль в
                освещении этих событий сыграют ближайшие перевыборы в странах: допрос, к примеру, Ширака, а за ним,
                легко предсказать, Блэра, Шредера, Буша, не даст уклониться от справедливого возмездия и их российским
                друзьям. Г-н Саркози уверенно начал свое восхождение; не уступает ему и г-н Браун; реальными поступками
                знаменуется время правления г-жи Меркель. Особого уважения заслуживают опыт и независимость
                Скотланд-Ярда; до поры молчащих американской и израильской разведки. Я не думаю, что предстоящие крупные
                теракты, готовящиеся Кремлем за рубежом, ослабят эту позицию: скорее, наоборот.</p>
            <p>Не нужно также забывать, что российское правительство самонадеянно и глупо, и по отношению к просвещенной
                Европе живет в «давно прошедшем» английском времени, - а потому все поступки его прогнозируемы.
                Раскинутая по миру со времен Ленина-Сталина сеть кгб рассыпется в прах, как только будут уничтожены
                основные ее очаги. Я понимаю, что этот прогноз сегодня кажется утопическим, но для моих
                коллег-аналитиков он прозрачен. - Думаю, что атака произойдет с четырех сторон примерно одновременно:
                резкий (вынужденный) рост самосознания россиян, вмешательство США при поддержке части Европы,
                распространение Китая внутрь пространства России, а также тенденция к объединению народов Кавказа,
                которая рано или поздно окажется неизбежной. Нет смысла говорить и о неминуемом расколе Кремля, который
                внутри правящей власти практически завершен. </p>
            <p class="article__accent">- Луговой требует себе компенсации из фонда Литвиненко. Может быть, придётся
                западным странам
                "скидываться", чтобы как-то поддержать материально нынешнего президента России? Организовать фонд помощи
                чекистам?</p>
            <p>- Воспользуюсь формулировкой Давида Кудыкова: если власть устранит Лугового, то разбежится вся ФСБ.
                Каждый гэбэшник поймет, что он будет следующим. Но я думаю, что еще проще убрать президента: кому он там
                нужен – изначально случайная пешка, поставленная за неимением ничего более приличного, а теперь уже, как
                точно его характеризует врач-психиатр В.Литвиненко, - явно больной человек?.. – Его слишком легко
                устранить, как и сам он ускорил смерть Ельцина, а до него убивали Горького, Цвигуна и сотен других, о
                ком за давностью - пишут. Полагаю, что мы на пороге большой перестрелки. К сожалению, она коснется и
                порядочных, лучших людей, ни в какое сравнение не идущих с кремлевскими личинками.</p>
            <p>Насколько я помню, фонд памяти А.Литвиненко призван прежде всего помогать иностранцам, отравленным
                Путиным. Это цель благородная: именем героя, ставшего жертвой тоталитарного режима, российский народ
                искупает свою вину перед миром за злодеяния выбранных самой Россией фашистов. За теракты прошлые и
                предстоящие. Полтысячи граждан Европы поплатились здоровьем и жизнями за государственный произвол
                правительства Путина. Разве это не повод спешить с Трибуналом?!</p>
            <p>Совесть, понятия чести и дружбы – бесплатны. А ФСБ держится на коррупции и ложной пропаганде,
                обесценившей жизнь, лишившей миллионы российских матерей дорогих им мальчишек-призывников; обманутых
                братьев, мужей. Дезорганизовать ФСБ и правительство вовсе не сложно, эти процессы кипят изнутри системы
                еще сильней, чем извне. Что касается помощи Путину – Вы правы, ему не удастся воспользоваться западными
                счетами, они будут заморожены и неизбежно перераспределены после суда. По масштабам злодеяний Путин
                давно сравним с Гитлером. Такой разброс цифр возможен только в России: официально передают, что в
                сталинском Гулаге погибло «от 20 до 40 миллионов» человек. Двадцать миллионов жизней туда – двадцать
                сюда, не существенно! Общеизвестные факты путинского геноцида – лишь малая часть всего, что творится на
                деле. И высылка дипломатов из Великобритании – это только первый звонок. Как верно сказал Иванов,
                «Дипломатов наших (российских) высылали и будут высылать», - в кои веки он прав!</p>
            <p class="article__accent">- Кого, по Вашему мнению, могут выдвинуть в кандидаты демсилы России? Кого бы Вы
                порекомендовали? Есть ли
                будущее у России? Каким Вы его видите?</p>
            <p>- Не стану скрывать, меня совершенно не интересуют ни нынешние демсилы России, ни ее будущее, для меня
                очевидное. Значительно любопытней, многообразней и глубже процессы, готовящиеся на Кавказе. Будущее у
                России, естественно, есть; границы ее неизбежно сузятся, народы разъединятся. В данном случае я
                придерживаюсь прогнозов Л.Гумилева: империя гибнет, как человек. - Что России пойдет на пользу: именно
                имперские амбиции и равнодушие к соседям искалечили русский характер. Россиян я вижу, как жертву, по
                своей дремучести воспринявшую революцию; а лекарство – это прежде всего образование и воспитание. Не
                получилось внутри - так значит, придет извне. Опасаясь китайского тоталитаризма, я бы не недооценивала
                его тысячелетнюю величайшую культуру; в принудительном порядке вытащит Россию из феодализма и
                многогранная американская цивилизация. Чье бы влияние мы ни назвали, оно полезнее внутреннего! В Россию
                вольется свежая кровь. Прежде всего ей будут привиты западный кодекс, юридическая ответственность и,
                очень надеюсь, вне закона будет признан навеки сам тоталитарный режим, - коммунистический и фашистский.
                Запрещены пытки и концлагеря. Последнее я считаю основополагающим – и невозможным без международного
                вмешательства, без специально созданного института по формированию и проведению в жизнь законодательных
                норм.</p>
            <p class="article__accent">- На сколько, на какой срок хватит нашему населению (электорату) советской
                закваски?</p>
            <p>- Ментально – надолго, на поколения. (Потому я оттуда уехала). Потому перемены должны быть принудительны.
                Отсталые народы, как любимых ошибшихся детей, уму-разуму учат. Желательно – мирным путем, что в семье
                возможно и действенно.</p>
            <p class="article__accent">- В некоторых Ваших высказываниях, Лариса, прослеживается какое-то равнодушие к
                стране, к её
                народонаселению. Я имею в виду Россию. Разве это возможно? Обычно её любят. Или ненавидят. В то же
                время, когда я готовил вопросы для Вас, то думал: какие могут быть умные вопросы у разочаровавшегося во
                всём человека? "Кто виноват?", "Как это могло произойти?", "Почему именно с нами?". Но как раз это меня
                мучает. Хотя я для себя выстроил платформу: чисто русский минталитет - зависть, ненависть, некая
                духовная ограниченность. Отсюда и колониальные войны, создание империи. И октябрьский переворот. И то,
                как мы бездарно про...ли время перестройки. И то, что сейчас нет единого лидера от оппозиции. Каждый
                возможный кандидат "замкнут" на себе. Собственное "Я" - это его главная идея. Всё остальное – от этого
                прилагательное, то, что прилагается к основному. Поэтому так легко мы "сдали" те немногие
                демократические преобразования, столь напривычные нашей ограниченной натуре. "Сдали", предали, отдали на
                растерзание Чечню. Демократ Ельцин "сдал" нас чекисту Путину. Это на высоком уровне. А на своём уровне
                мы "сдали" легко НТВ. А зачем оно нам? "Сдали" Ходорковского. На зачем он нам? А дальше, как под горку,
                как по маслу, всех и всё "сдаём". А что нам, собственно, сдавать? У нас ничего нет и ничего не было. Ни
                за душой, ни в душе. Поэтому, в противовес, если у нас появляется возможность, мы возвеличиваем своё
                "Я". Раздуваем его до безумия. Это и на уровне правительства. И на уровне лидеров оппозиции. И на нашем
                уровне рядового быдла. А разница-то между нами всеми, между уровнями, весьма и весьма незначительная.
                Все мы, на данный момент, кухаркины дети: голодные, обозлённые. Тупые и ограниченные. Урвать, хапнуть -
                это и в разорившихся колхозах, и на самом высоком уровне в правительстве. Так какие могут быть у меня
                вопросы? Люди, где ваша совесть? - А откуда она возьмётся? В нашем обществе это рудиментарный отросток,
                которым никто не пользуется. Где ваше сочувствие? А кто нас, убогих и сирых, пожалеет? Почему мы ТАК
                живём? А как живёт стадо? Набить пузо, и хорошо если на жвачку, во рту, что-то останется. Скучно и серо.
                Поэтому по телевизору крутят хохотальные программы. По волчьим законам, с вожаком никто не рискует
                связываться. Хотя вожаком может оказаться шакал, но нам-то какая разница? Это всё так далеко от нас.</p>
            <p>- Не разделяю только Ваш пессимизм, Петр. Как-то раз, показалось мне, прозвучал он и в интервью Н.Банчик,
                взятого у В.Буковского, а между тем именно этот кандидат в президенты был и остался самым честным,
                последовательным, олицетворяющим правду и свет демократом для миллионов людей! Подвигом собственной
                жизни Владимир Буковский доказал, что у России есть будущее. Не истреблена горстка интеллигентов, жив
                дух протеста, подросло поколение, не знавшее страха и не признающее рабства.</p>
            <p>Сдали ли Ходорковского? – Да, прежде всего те, кто ему лично обязан приобретенными знаниями, приобщением
                к цивилизации. Важней, чтоб он сам не сдался! У него сдержанная манера, он не митинговый человек, но
                очень, как мне представлялось, достойный. М.Ходорковский - не революционер, в том смысле, что - не
                бунтарь. Стойкий, порядочный, но не громкий. Все имеют право быть разными. Но как сделать, чтобы люди
                узнали, каков он? Чтобы защищали его не таким, какого они себе выдумали, а реального живого человека.
                Для этого нужно понимать, почему с ним расправились, на что он не пошел, и даже... чего он не понял.
                Потому что то, как говорят его сторонники, чего он не понял - это и то, за что его можно уважать. А не
                представляя его воззрений (либеральная идея - это главное, но оттенков-то много), люди не могут быть его
                настоящими защитниками. Ходорковского подчас себе придумывают. Объективно он сделал много полезного для
                населения и, конечно же, сделал бы больше, будь он свободен. Я хотела бы услышать его четкую позицию
                насчет независимости Чечни, имеющей свою Конституцию и выполнявшей волю народа. Попытаюсь разобраться и
                в ближайшее время написать, чем вызвана его статья о равнении на компромисс, с которой не согласились ни
                мы, ни Трепашкин. Как раз М.Трепашкин неуклонно себя проявляет выдающимся борцом за справедливость, - в
                этом смысле ему равных нет в целой России.</p>
            <p class="article__accent">- Лариса, а как Вы пришли на Чеченпресс – и каковы были мотивы сотрудничества?
                Ведь Вы русский человек? А
                нас всех воспитывали в ненависти к врагам России. Хотя врагом (по заказу) мог стать любой и каждый.
            </p>
            <p class="article__accent">Можете ли Вы определить свое отношение к чеченцам? Что послужило его
                формированию? Как относитесь к
                попыткам очернить чеченцев в глазах мировой общественности?.. Я, например, пережил нечто, позволившее
                мне понять и принять реакцию чеченцев на беспредел, который мы же у них и устроили. Это произошло, когда
                жена Оля устроилась на птицефабрику, главным бухгалтером. Пытаясь навести там порядок и выйти из-под
                контроля местной мафии, она впала в немилость. Вначале нам устроили хороший взрыв у дверей квартиры.
                Потом кто-то ослабил гайки на переднем колесе Олиной служебной машины. Так, незадолго до этого, погиб у
                нас мэр города Асбеста: машина вылетела на встречную полосу. Живых не осталось. Но, слава Богу, Он Олю
                сохранил. Это было чудом. Следом за этим была сделана попытка проникнуть к нам в дом. Когда тут же
                приехал начальник отделения местной милиции, я его дальше порога не пустил: "Если что-то случится с
                кем-нибудь из моей семьи, я не буду искать преступников. Я куплю автомат и перестреляю всё отделение
                милиции!". На тот момент, я был ГОТОВ это сделать. Не потому, что я экстремист. Или террорист. Просто я
                ЛЮБЛЮ свою жену, своих детей, свою семью. Мне нетрудно понять персонаж литературного произведения,
                женщину, которая во время фашистской оккупации потеряла всех своих родных и близких. Она топором, по
                ночам, раскалывала головы оккупантам. Она не была членом бандформирований. Не была шахидкой. Она ЛЮБИЛА
                свою семью. Свою Родину. Простите, что я, задав вопросы, отвлёкся.</p>
            <p>- Сайт напечатал мою статью против власти, переданную Я.Валюкенасом, - так я открыла для себя Чеченпресс.
                До этого годы писала о Чечне и Кавказе в книгах и на многих известных международных площадках.
                Занималась не политикой, а милосердием, не журналистикой, а литературой, не строго чеченской тематикой,
                а путями ликвидации тоталитарного режима повсеместно. Чеченпресс – единственное из известных мне
                интернет-изданий, не подвергающее цензуре честные антипутинские материалы, - чем он тем более ценен и
                значим для общей победы.</p>
            <p>Я наполовину русская; но также над одним моим дедом, лежащим в фамильном склепе, поет мулла, над другим –
                раввин. Российское прошлое и почти 6 лет жизни в Израиле дают мне возможность сравнить культуры,
                традиции. История переплетается витиевато, и мои южные родственники недавно назвали ребенка Джавад, так
                как это имя бывшего хана Гянджи, не сдавшего город русским и бившегося до самой смерти. - Как раз
                родственники с другой стороны и были этими «русскими»!.. Все мужчины-дворяне воевали тогда на Кавказе.
            </p>
            <p>Можно сказать, что мое сознание сформировали статьи Ахмеда Закаева, книги классиков чеченского
                Сопротивления, документальные мемуары Аллы Дудаевой, общение с выдающимися юристами и журналистами
                Чеченпресс, с политзаключенными. Все сильней и глубже меня занимает философия ислама, так как я человек
                нецерковный. Есть открытые вопросы, на которые мучительно ищу ответы: например, Ахмадийская община
                признает только небесный Джихад - как битву Добра и Зла. Все зависит от толкований Священной Книги. Как
                глубоко верующий человек, Вы не можете об этом не думать... Не всё для меня в Джихаде соответствует
                общепринятому гуманизму и высшим нравственным ценностям, хотя и вне религии несомненно, что дело мужчины
                – защищать свой народ, а боец за независимость родины – национальный герой.</p>
            <p>То, что кремлевская пропаганда именует «бандформированием» - на самом деле вызывает колоссальное уважение
                к нации, народному подвигу в условиях вековой оккупации. Не зря Вы вспомнили Великую отечественную
                войну: именно такую оборону против русских держит Чечня. Тем, кого требуют экстрадировать, и кто
                совершает ратные подвиги, при жизни положен памятник: имена этих людей войдут в сокровищницу мирового
                Сопротивления. Мужчина, равнодушно взирающий на то, как при нем бьют ребенка, мучают женщину, и не
                поднявшийся на защиту - трус и предатель. Я таких чеченцев не знаю. Мне хотелось бы, чтобы и русские
                объединялись не только в периоды гражданских, оборонительных войн и революций. На полях сражений о людях
                судят по законам войны, и чеченцы - герои.</p>
            <p>Меня поражают спаянность борцов за независимость – и традиционные, уважительные отношения и иерархия в
                чеченской семье: ничего подобного нет у русских с 17-о года. В то же время, внешне чеченцы принимают
                гибель коллег, журналистов почти что как должное (привычку к смерти диктует религия), и я часто слышу,
                что мол «Политковская делала карьеру на чеченской беде». Меня глубоко оскорбляет даже намек, будто Анна
                Политковская или Александр Литвиненко действовали не по велению совести и широте души, - и одно такое
                подозрение подчас заставляет опустить руки и отойти от работы, которой мои товарищи заняты бескорыстно и
                искренне. Нами движет понятие высшей справедливости – и, возможно, сознание и желание доказать, что
                далеко не все русские или евреи - враги. И что нет плохих народов, - есть люди.</p>
            <p class="article__accent">- Я понимаю, Лариса, что перетягиваю одеяло на себя, но хочу высказать и своё
                мнение о чеченцах. По
                поводу религиозной розни. Это люди разные. А учение везде одно. Так или иначе, оно выражается словами:
                "Возлюби Бога своего. И возлюби ближнего своего". Убавить тут ничего нельзя, а вот добавить+ можно. И
                люди добавляют. От себя, кто что может. Не вижу я врагов в чеченцах. Для меня - это гордые люди,
                свободолюбивые, они не такие, как мы. Во многом лучше нас, в чём-то, может быть, хуже. Но это не повод
                для того, чтобы убивать их. Мы разные. Мужчины и женщины тоже разные. Но это не может быть поводом для
                объявления войны. Боюсь, поспорить нам тут не удастся... А как Вы относитесь к провокациям, направленным
                на раскол чеченцев?</p>
            <p>- Как к спланированному гостерроризму Кремля, проникшему в разные страны. То же самое мы наблюдаем в
                Палестине и Турции, в Украине и странах Кавказа, в Молдове и – повсюду, где ФСБ на зарплате. Я уверена,
                что здравый смысл, традиционные ценности, воля к победе возобладают и заставят народы Кавказа
                объединиться настолько, чтобы полностью вытеснить русских. Если помните, Петр, Зелимхан Яндарбиев писал:
            </p>
            <p>«Опасения, к великому сожалению, подтвердились: до сегодняшнего дня Кавказ ещё не имеет достаточно
                крепкого единства, хотя закавказские республики и Чечения уже фактически, а первые и юридически,
                являются независимыми государствами. Но именно конфликты, подобные грузино-абхазским, и являются
                основной помехой на пути к кавказской независимости. Уже который раз нам, кавказцам, приходится учиться
                на собственных ошибках - и как медленно приходит к нам прозрение! Но исторически судьба Кавказа
                предрешена, кавказские народы сегодня всерьёз взялись за её решение. И мир уже не тот, что был
                вчера...».</p>
            <p>Чеченцы – вовсе не только внутреннее население, лишенное прав и свобод, - но еще и межтерриториальный
                монолит вынужденной и временной эмиграции, беженцев. На Западе я наблюдаю, какую неоцененную роль в
                мировой пропаганде чеченской культуры, традиций, в установлении дипломатических отношений играют, каждый
                по-своему, такие великие борцы за независимость родины, как Закаев и Ибрагимов. Как бы ни сдерживал
                оккупантов фронт, но никакая победа не возможна без этой скрытой для многих работы: юридических пактов,
                переговоров на высшем уровне, вовлечения Запада в Сопротивление. Разрешите в качестве ответа привести
                еще одну цитату из книги З.Яндарбиева:</p>
            <p>«Единственным местом, где возможно бывало поддерживать имидж национального характера и реализовать свой
                генетический потенциал, для чеченца оставалась чужбина. Здесь он как бы выпадал из поля зрения имперской
                политики, оказывался в естественной для себя среде, следовательно, и высоко конкурентоспособным, где
                дерзал, в какой-то мере, свободно и творчески. Остававшимся на родине везло меньше, но и здесь
                выкристаллизовывались «алмазы гражданственности национального духа». ...И душа выводит человека в путь,
                уводящий всё дальше и дальше от родного дома. И покидает он добровольно родину не для того, чтобы
                затеряться в пёстрой пучине безбрежного океана жизни, а причаститься мятежной душой и мыслью к великому
                понятию «мир», познать его суть, приобщиться к культуре его созидающих народов и обогатить себя, значит,
                и свой народ, частицей которого он есть и будет. Именно потому, что человек обладает универсальной
                возможностью и потребностью приобщаться ко всему благородному, созданному мировым прогрессом, мир
                движется вперед».</p>
            <p class="article__accent">- Лариса, а о чем Вы лично жалеете?</p>
            <p> О том, что я не чеченка. По разным причинам, в том числе – может быть, вызывала бы больше доверия. На
                всех авторов Чеченпресс рано или поздно охотятся, и я для этого уже написала достаточно, - потому
                подчеркну, что если меня убьют – виноватым будет правительство Нидерландов. Своей пассивностью в
                отношении Сопротивления, попустительством Путину, невмешательством в русский фашизм. Любое правительство
                отвечает за своих граждан, примером тому служит Великобритания. Грустно видеть, что выбранная мной
                сильная, богатая и свободолюбивая когда-то страна так роняет свой имидж.</p>
            <p>- Пока записывается интервью, у нас идут сильные дожди. Телефонной связи нет, интернета тоже. Иногда
                удаётся "прорваться" и хотя бы проверить почту. Вчера за два часа написал Вам письмо - и большое по
                объёму, и печатаю медленно. В момент отправки произошёл сбой компьютера, я написал второе, минут за
                сорок. Произошло то же самое... Договорился с сыном, что подойду вечером попечатать, но у него
                "полетела" мышка, одолженная на время. Такова наша российская реальность. Но мне удалось зайти по ссылке
                статьи Н.Банчик. Какие же вы обе молодцы! Может быть, и вправду что-то получится, если есть такие люди.
                Как хочется верить!</p>
            <p class="article__accent">Читал Ваши стихи. Предупреждать же надо! Я думал - пишет себе человек статьи,
                пишет, всё нормально, что в
                этом такого? Оказывается, Вы женщина, да ещё со своими стихами. Женщинам легче: вы способны радоваться
                паутинке, запаху, солнечному блику. Всякой ерунде, пустякам. Будьте счастливы!</p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>