<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Письмо президенту</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Открытое письмо анонима президенту России</h1>
            <p>Владимир Владимирович! Сразу хочу подчеркнуть, что при обращении к вам я опускаю слово «уважаемый». Не
                хочу кривить душой перед людьми, не, тем более, перед самим собой, пусть даже анонимом. Бояться себя –
                можно заставить кого угодно. А вот заставить силой уважать себя – это не удавалось ни кому. Надеюсь,
                что, за отсутствие уважения к собственному президенту, мне не «пришьют» статью за оскорбление вашей
                чести и достоинства. Сам я, судя по окружающей жизни, не имею ни того , ни другого. Поскольку любой
                милиционер может сделать со мной всё, что его душа пожелает. Любой чиновник стремится облегчить моё
                финансовое состояние. В любой больнице меня могут напоить не тем лекарством, но купленным за мой счёт.
                По любому каналу телевидения, не спрашивая моего желания, мне усиленно промывают мозги. И я начинаю с
                радостью ощущать, что хотя бы это хорошо получается. Откуда уж тут честь и достоинство?</p>
            <p>Прошу вас извинить меня за длинное вступление. Просто я хотел, всего-навсего, выразить вам, как это не
                удивительно, своё восхищение. Дело в том, что в свете постановления об усилении борьбы с терроризмом, на
                собрании, в нашей местной музыкальной школе, подняли вопрос об опознавательных знаках. Т.е., как нам
                «своих» отличить от «чужих», ну от террористов. Было предложение: при наличии паспорта, сверяться со
                списком личного состава. Но пришли к мнению, что это долго. Только у всех сверили паспорта – тут уже
                конец занятий. Приходите завтра! Тогда поступило предложение всем сделать пропуска. С фотографией
                ребёнка, с голографической наклейкой и с особыми условными знаками. Что меня поразило – большинство
                людей говорило об этом очень серьёзно. Лишь незначительная часть пассивно прислушивались к
                происходящему, и даже дремала.</p>
            <p>Я попробовал вслух заметить, что в Норд-Осте оружие и взрывчатку везли через всю Москву, мимо постов ГАИ.
                А в Беслане оружие и взрывчатку, вообще, спрятали в подвале школы. Дальше всё шло по одинаковому
                сценарию: вооружонные люди выпрыгивали из подъехавших автомашин и объявляли всех заложниками. При чем
                здесь пропуска с голограммой и паспорта? Невольным заложникам террористов остаётся только засунуть эти
                документы в, скажем так, какое-нибудь место, на хранение. Чтобы потом, если будет такая возможность,
                использовать их снова.</p>
            <p>Моё замечание было встречено с негодующим энтузиазмом. Вот, в связи с такой реакцией обывателя, я и хотел
                выразить товарищу Путину своё восхищение! За такой короткий срок, всего каких-то несколько лет, опустить
                весь советский народ! До прежнего уровня! Я, сейчас, имею ввиду всеобщую борьбу. Это надо же – всё как
                раньше: с врагами народа, со всевозможными вредителями и саботажниками, шпионами и диверсантами,
                кулаками и казаками. Мочить их всех!</p>
            <p>Вот что значит чекист у власти! Полагаю, что назвать бывшего сотрудника спецслужб чекистом, это
                констатация факта, а не оскорбление. И меня не притянут к соответствующей статье за длинный язык. А что
                я, собственно, сказал? Все об этом знают. Вот если б меня назвали чекистом, то это было бы оскорблением.
                Напоследок я хочу , что бы наш президент, как настоящий дзержинец, воплотил слова Феликса Эдмундовича:
                что бы у Владимира Владимировича были руки. Какие-то. Сейчас деталей уже не помню. Что бы голова была.
                Какая-то. Тоже не помню. И что бы совесть была… А, нет! Про совесть у чекистов ни чего не говорится. Во!
                Вспомнил! Сердце. Что бы сердце было у них. Хотя бы какое-то.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>