<!DOCTYPE html>
<html lang="ru">

<head>
    <title>История Лота</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">История Лота</h1>
            <p>История Лота, которая знакома многим больше по названиям городов: Содом и Гоморра. Эти города были
                символами зла и греха. Что же произошло с самим Лотом? По просьбе Авраама, Бог решил дать возможность
                Лоту спастись, покинуть территорию греха. А что Лот? Он, вроде, мучился в своей праведной душе, глядя на
                происходящее (это из Библии), но покидать Содом не хотел. Он не собирался уходить, пока ангелы за руки
                не вывели его оттуда! Лот привык к той жизни, жена привыкла, дочери-девственницы там выросли. Хотя,
                семья были недовольна происходящим вокруг, их сердца прикипели к месту жительства.</p>
            <p>Не смотря на то, что Бог, в виде исключения, дал им возможность начать новую жизнь на новом месте, Лот не
                торопился использовать этот шанс. «И как он медлил, то Ангелы, по милости к нему Господней, взяли за
                руки его, и жену его, и двух дочерей его, и вывели его, и поставили его вне города». Что может
                получиться из ситуации, когда не готовым к изменению людям насильно предлагают освобождение от греха и
                новый образ жизни? Ни чего хорошего из этого не выйдет. Лот не захотел уйти в горы и подняться выше над
                Содомом и Гоморрой. Он решил отсидеться, остановиться в промежуточном городке под названием Сигор. Но
                когда «пролил Господь на Содом и Гоморру дождём серу и огонь», а жена стала соляным столбом, с
                сожалением оглянувшись на гибнущие города, напуганный Лот вместе с дочерьми покинули Сигор. Они
                поднялись в горы, нашли пещеру, где можно было скрыться.</p>
            <p>Там Лот напился до потери сознания (наверное, это было нормально для той местности, где он проживал
                последнее время), дочери-девственницы изнасиловали его (это тоже, наверное, было нормально). По их
                рассуждению, больше мужчин рядом не было, а возвращаться в город Сигор им не захотелось. Чем всё это
                кончилось для праведного Лота? Жизнью в пещере, с двумя дочерьми-блудницами и внуками (сыновьями?), от
                которых произошли враждебные Израилю народы.</p>
            <p>Вывод? Первый вывод довольно неожиданный: Лот был праведником пока жил в Содоме. В чём была его
                праведность? Он не принимал и искренне осуждал жизнь в Содоме, пытаясь придерживаться хоть каких-то норм
                поведения. Это (гостеприимство, в частности) вменилось ему в заслугу. А оставив по принуждению Содом, он
                унёс Содом в себе, поскольку не почувствовал необходимости в искреннем покаянии и не пережил его. Звучит
                кощунственно, но, наверное, для него было бы лучше погибнуть в Содоме. Тогда бы он остался мученником.
            </p>
            <p>Второй вывод: при отсутствии покаяния такую же картину (с весьма плачевными последствиями) мы можем
                наблюдать: а) когда хорошего человека приводят в церковь, а он этого не хочет; б) когда человек, из
                чувства протеста, покидает расию, не осознав, что он вывозит её в себе; в) горбачёвская перестройка
                напоминает попытку, данную нам Богом, выйти из Содома.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>