<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Постоянство, преданность, верность</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Постоянство, преданность, верность</h1>
            <p>Любая религия уверена в своей истинности, в том, что она единственно правильная. Какие этому могут быть
                (бывают) подтверждения? Это и свидетельства людей (пророки, учителя, апостолы); и чудеса, которые имеют
                только сверхъестественное объяснение. Но проблема в том, что любая религия имеет своих учителей,
                пророков, апостолов. Каждая религия свидетельствует о своих чудесах, которые действительно происходили,
                и тому есть масса подтверждений. Чудеса у католиков и у протестантов. Чудеса у православных. Ну,
                казалось бы, понятно – это братья-христиане. Но чудеса сопутствуют мусульманам и буддистам и всем
                другим. Каждое верование, любая религия подкреплена своими чудесами. Тогда как определить истинность
                религии, вероисповедания, истинность Церкви, правильность конфессии, которую ты выбрал?</p>
            <p>Мне кажется, что тут всё упирается в понятие «<span class="article__accent">вера</span>». Что это такое -
                мы знаем из определения в Библии:
                “Вера есть осуществление ожидаемого и уверенность в невидимом». Знаем, что верой творятся чудеса. Или с
                верой творятся чудеса? Или вера творит чудеса? Или Бог через веру творит чудеса? Каждый из этих вопросов
                подразумевает что-то своё и имеет <span class="article__accent">свой</span> смысл отличительный от
                других вопросов. Попробуем разобраться.
                Дали безвредную таблетку смертельно больной женщине (убедив её, что это чудо-препарат) и она
                выздоровела. Чудо? Чудо.</p>
            <p>Но не было молитв, не было покаяния. Не было признания Иисуса своим спасителем. Не приглашали местного
                знахаря или шамана. Не было ни кого и не чего. Была только <span class="article__accent">вера</span>. И
                чудо произошло. Тогда: что это такое,
                вера? Осуществление ожидаемого? Да. Уверенность в грядущее (пока ещё в невидимое) исцеление? Да.
                Получается, что сама по себе вера – это главное, сверхъестественное чудо, которое дал нам Бог во
                знамение о Себе. Это чудо, которое всегда с нами, если только мы искренне верим. Тогда в кого верить?
                Кто Исполнитель, Автор этого чуда? О чьём существовании свидетельствуют чудеса в нашей жизни? Кто это?
                Аллах, Иегова, Триединый Бог, Будда…?</p>
            <p>Была у дочки игрушка: домик со съёмной крышей, в которой отверстия соответствовали своей конфигурацией
                цифрам от 0 до 9. И был набор таких же пластмассовых цифр. Понятно, что каждая пластмассовая цифра может
                попасть внутрь домика только через <span class="article__accent">своё</span> соответствующее отверстие в
                крыше. Это же самое требуется и от
                нас при выборе вероисповедания. Мы, вот так же, можем попасть в домик через определённое отверстие,
                которое выбрали сами. Но, при этом, становится обязательным основное требование: что бы мы полностью
                соответствовали <span class="article__accent">своему</span> выбранному отверстию. И нужно не только
                принять форму той цифры, которой мы
                решились стать, но главное - придерживаться её. Всегда, везде, во всех деталях, до последнего вздоха.
            </p>
            <p>То есть, человеку, определившемуся в выборе, необходимо <span class="article__passage">постоянство</span>
                в соблюдении заповедей и тех
                требований, которые предъявляет данная религия; необходима <span
                    class="article__passage">преданность</span> выбранному вероисповеданию; а так
                же – <span class="article__passage">верность</span> своему Богу. Искренняя вера в Бога (ставшая истинной
                и единственной) не только творит
                чудеса, но она помогает совершенствоваться человеку, помогает приблизиться к своему идеалу. Этого,
                кстати, не может сделать вера, исцелившая нерелигиозную женщину. Потому, что любая религия
                целенаправленно учит добру, терпимости, любви и пониманию ценности жизни, которая дана Богом. Именно
                принятое учение, <span class="article__passage">постоянство, преданность, верность</span> ему приводит к
                самопознанию и совершенствованию
                человека.</p>
            <p>Нет ни одной религии, которая учит злу. Откуда же тогда вокруг столько непримиримости, нетерпимости,
                откровенной вражды между верующими людьми различных конфессий, Церквей, вероисповеданий? Это не из-за
                того, что Хомо Сапиенс стал человеком верующим. Или наоборот: не захотел стать верующим. Вспомните, Адам
                и Ева, два первых человека, которых создал Бог, согрешили, не смотря на предупреждения Создателя.
                Неосознанная тяга ко греху. Далее: из двух первых рождённых на земле людей, один оказался убийцей,
                другой оказался жертвой. Отсюда видим, что все люди склонны ко греху; и часть из них готова быть
                убийцами, а другой половине отведена участь жертв.</p>
            <p>Следовательно, природу человека определяет вошедший в него первородный грех, а совсем не то, что он
                материалист или верующий; христианин или мусульманин; протестант или католик. И вера в Бога является
                чем-то, скажем так, вроде усилителя вкуса: чего в человека больше (милосердия или агрессивности,
                смирения или гордыни, проще - добра или зла), то качество, в конечном счёте, начинает усиленно
                преобладать в человеке. Прекрасно, если вера «зацепится» за то хорошее в человеке, если оно есть. Но,
                если в человеке преобладает грех (неважно какой), то такой человек начинает использовать всё, даже
                Священное Писание, для оправдания и прикрытия собственных грехов. Этим и объясняются конфликты между
                конкретными людьми, конфессиями, церквями и вероисповеданиями.</p>
            <p>Зачем делюсь своими рассуждениями, рискуя остаться не только не понятым, но, вдобавок, подвергнуться ещё
                и нападкам со стороны братьев-христиан? Я хочу:</p>
            <ol class="artile_list">
                <li>Расширить понимание слова «вера» напоминанием, что вера способна творить чудеса в жизни любого
                    человека</li>
                <li>Показать, что вера - это сверхъестественное проявление одного из качеств Бога в нашей жизни, что
                    является ещё одним доказательством существования Бога</li>
                <li>Прекратить постоянное стремление превознестись одной «истинной и единственно правильной» религии над
                    другой; прекратить постоянную вражду между различными вероисповеданиями</li>
                <li>Обозначить неоспоримыми ценностями понятия <span class="article__accent">постоянство, преданность,
                        верность</span> для любой религии, для
                    любого вероисповедания</li>
            </ol>
            <br>
            <p>Будьте постоянны, преданы и верны своему Богу, своему месту в выбранной церкви. Делая акцент на этих
                краеугольных качествах для определившегося верующего человека, я считаю неправильным и даже невозможным
                переход из одного вероисповедания в другое.</p>
            <p>Эти три качества – <span class="article__accent">постоянство, преданность, верность</span> составляют
                основу духовной жизни человека и его
                дальнейшего роста. Вдобавок ко всему, эти качества заложены и в основу семейной жизни. Именно
                <span class="article__accent">постоянство, преданность, верность</span> делают семейную жизнь неизменной
                (стабильной) и счастливой.
                Екклесиаст сказал об этом коротко и ёмко: «<span class="article__passage">Наслаждайся жизнью с женой,
                    которую любишь, во все дни
                    суетной жизни твоей, и которую дал тебе Бог под солнцем на все суетные дни твои</span>». Жену
                человеку Бог дал.
                И дал на все дни жизни. Даже если эти дни покажутся вам суетными (пустыми, бесполезными, ничтожными),
                жена даёт возможности для наслаждения этой жизнью.
            </p>
            <p>Может поэтому христиане считают свою Церковь невестой Христовой. Которая соединившись со Христом, по
                Священному Писанию, «<span class="article__passage">…будут одной плотью</span>», как муж и жена. Какой
                бы невыносимой нам ни казалась эта
                жизнь, какие бы нам не встречались соблазны, нужно оставаться всегда во всех отношениях быть
                постоянными, преданными, верными.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>