<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Человек создан для счастья</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Человек создан для счастья</h1>
            <p>Человек был создан сосудом для счастья. Но этот сосуд только однажды был полон: человек тогда находился в
                райском саду. Райский сад был чревом, в котором пребывал Адам. То есть, Адам жил непосредственно в Боге,
                связанный пуповиной с Ним. Не может быть более тесного общения, чем у плода, и того кто вынашивает этот
                плод. Бог есть Любовь. Адам жил в Любви (в Боге), как плод живёт в утробе, до своего появления на свет.
                И Ева, созданная Богом, была каплей, наполнившей сосуд для счастья доверху. Как Адам любил Еву? Как
                самого себя. Сделанная из его ребра, она была его и продолжением, но, в то же время, отдельной
                личностью. Стали двое как одна плоть (в прямом смысле: Адам + Ева, это одна плоть). И оба были наполнены
                Любовью и счастьем.</p>
            <p>Как в наше время относятся к своим любимым? Сейчас даже фильмы снимают, растолковывая, поясняя, что есть
                любовь земная. Ту, небесную любовь, у нас можно только представить, вообразить. Любовь между двумя
                совершенными существами, сотворенными Господом. В какой же ситуации оказался Адам, когда Ева вкусила
                запретный плод? В такой же, в какой может оказаться любой из нас, если жена (любимый человек) окажется
                смертельно больной, или станет инвалидом после аварии, катастрофы. Тогда каждый вынужден делать выбор:
                «Я буду рядом до конца и пройду с ней путь, каким бы он не был». Или: «Я не виноват в том, что с тобой
                произошло, сама виновата. С этого момента – пусть каждый решает свои проблемы сам!» У достойного,
                уважающего себя человека выбор в такой ситуации однозначен.</p>
            <p>А что тогда говорить о первом, совершенном человеке, которого Бог создал по образу Своему и подобию? Мог
                ли Адам оставить одну Еву «смертию умирать», даже если она полностью виновата? И после этого Адам
                оставаться продолжать блаженствовать в райском саду? Если бы он поступил так, то тогда не был бы достоин
                своего Творца. Здесь хочу подчеркнуть: нет ни чего такого, что происходило бы без ведома Творца или Его
                попущения. Бог заранее знал о проступке Евы и о поступке Адама, который первым поступит по принципу:
                «<span class="article__passage">Нет любви выше той, когда жизнь отдают за друзей</span>». Я не пытаюсь
                оправдать грехопадение Адама, а пытаюсь
                показать, что именно любовь, счастье, пережитые в Эдеме, лежала в основе его выбора, который привёл к
                изгнанию их обоих из рая.</p>
            <p>Так родившееся человечество в лице Адама и Евы вступило в жизнь. Так они оказались на земле, проклятой за
                их грех. Пуповина, связывающая их напрямую с Богом, была разорвана. Получившее определённую
                самостоятельность человечество начало усиленно развиваться, размножаться, взрослеть. Говоря о
                поступательном процессе взросления, исхожу из фразы в Библии указывающей возраст человечества в его
                определённый период: «<span class="article__passage">Помышление сердца человеческого – зло от юности
                    его</span>». То есть, зло творимое
                людьми, было возрастное, неосознанное. А как воспитывают детей-несмышлёнышей? При отсутствии какого-либо
                жизненного опыта у ребёнка, родители вынуждены воспитывать его запретами и прямыми указаниями. поэтому
                человечество и получило от своего Создателя десять заповедей, исполняя которые (или не исполняя) оно
                набиралось опыта и взрослело.</p>
            <p>Что ждёт ребёнка, когда он вырастет, повзрослеет? По ходу всей жизни его ждёт постоянная необходимость
                делать выбор. И один из итогов выбора для созревшего человека – создание собственной семьи. К этому
                времени мудрые родители уже научились обходиться без категоричных запретов некогда бывшему младенцу. Они
                постепенно предоставляли своему чаду свободу, необходимую для накопления жизненного опыта, для
                формирования собственного мировоззрения. Казалось бы, есть уже всё необходимое для того, чтобы стать ему
                одной плотью со своей второй половиной: появился некоторый опыт, сформировалось мировоззрение. Но этого
                мало. Мало достичь определённого возраста и какой-то самостоятельности. Необходимое условие для создания
                новой семьи: это научиться любить. Научиться любить в свободе и уметь испытывать искрению благодарность
                к объекту своей любви.</p>
            <p>Проблема в том, что у ребёнка нет в сердце благодарности. Все знаки внимания и любви он воспринимает как
                должное. А вот искренняя любовь и благодарность от всего сердца – это есть признак не ребёнка, а уже
                взрослого человека. Когда человечество в своей массе созрело, достигло определённого возраста и сердца
                людей оказалось готово к принятию любви, Бог послал Своего Сына с откровением: «<span
                    class="article__passage">Бог есть любовь</span>». С тех
                пор люди, очищенные жертвой Иисуса Христа, начали занимать своё место в Церкви. Вот теперь они, в новом
                статусе, будут готовиться к своему духовному браку. В будущем предопределено, что Церковь-невеста и
                Христос-жених соединятся как муж и жена «<span class="article__passage">И будут двое одна плоть. Тайна
                    сия велика; я говорю по
                    отношению ко Христу и к Церкви</span>». Но это в будущем. А пока…</p>
            <p>Каждый отдельно взятый человек, приходящий в церковь, повторяет тот же путь, что уже когда-то пройден
                человечеством. То есть, пришедший в церковь становится духовным младенцем, который живёт вначале по
                Ветхому Завету, исполняя все предписанные запреты и указания. Но, со временем, младенец растёт и доходит
                до того уровня, когда он созревает до ЛЮБВИ, оставленной нам Христом и являющейся третьей ипостасью
                Господа – Духом Святым. После этого человек начинает наполняться благодарностью к Богу и ЛЮБОВЬЮ.
                Человек расстаётся со страхом перед запретами, перед наказанием – он вырос. Теперь он полюбил своего
                Отца, и из благодарности (а не из-за страха) не хочет огорчать Его своими проступками. Совершенная
                любовь не знает страха.</p>
            <p>Так человек, когда-то созданный наполненным сосудом для счастья, начинает наполняться своим
                первоначальным содержимым: любовью, благодарностью к Богу и пребыванием с Ним. Это наполнение является
                единственным возможным и правильным. Всё другое не даёт нужного эффекта. Попробуйте, бросьте на горячий
                песок кусочек льда. Какое-то время он ещё будет существовать. Потом он исчезает бесследно. Вот так же
                все попытки человека заполнить себя земным счастьем заканчиваются ни чем. Вроде, только что пережил
                такую радость, вот оно счастье! Только что! Остановись мгновенье, ты прекрасно! Но, его уже нет.
                Осталась щемящая память и ощущение невосполнимой пустоты. Человек, пусть даже имеющий всё, что может
                дать этот мир, обычно испытывает скуку и разочарование. Земное счастье имеет обыкновение таять, уходить
                в песок.</p>
            <p>В чём разница между Ветхим Заветом и Новым Заветом? Ветхий Завет, это детоводитель, и написан он для
                младенствующих. Для младенствующего человечества; для человека только пришедшего в церковь; и для
                младенствующих церквей. Для всех тех, кто не доросли до состояния иметь в себе любовь и свободу (апостол
                Павел «<span class="article__accent">Всё мне позволительно…</span>»). Не вышедшие из детского возраста,
                не имеющие пока в себе любви,
                продолжают жить в ограничении законами и в постоянном исполнении обрядов, часто основанных на
                человеческих преданиях. Новый Завет – это Благая Весть о любви Господа к человеку; о Жертве, которая
                принесена для искупления грехов всякого верующего; о свободе, в которой человек, достигший определённого
                возраста, делает свой духовный выбор. «<span class="article__passage">К свободе призваны вы, братия,
                    только бы свобода не была поводом
                    к угождению плоти; но по любви служите друг другу</span>». Новый Завет это залог, гарантия
                наполнения человека
                истинным счастьем.</p>
            <p>Если Ветхий Завет (Декалог в частности) обращён только к сынам Израилевым, как к единому существу
                (сообществу), то Новый Завет обращён непосредственно к разуму и сердцу каждого человека. С учётом того,
                что человек повзрослел, с одной стороны ему дано больше свободы; но с другой стороны – требования к нему
                ужесточились. Поскольку каждое сердце человеческое по своему лукаво, изменчиво и лживо, то в Новом
                Завете человек находит единственный, собственный путь для исправления сердца. Следуя своим, узким путём
                он приближается к Господу, к своему естественному состоянию единства с Ним. Как это происходит?</p>
            <p>«<span class="article__passage">Тесны врата и узок путь, ведущие в жизнь (вечную), и немногие находят
                    их</span>». Широкие врата и просторная
                дорога - это путь, длинною в нашу жизнь и предоставленный нам выбор между двумя сторонами дороги; между
                двумя противоположными крайностями. Помните блудного сына, который с лёгкостью потратил отданное ему
                отцом состояние? В скупости его никак не обвинишь. В другой притче говорится о молодом человеке; тот,
                наоборот, уже нажил имение. Из-за скупости, из-за страха своего потерять состояние, он отказался
                последовать за Иисусом. Вот вам и две противоположности: транжира и скупердяй. Они где-то идут по
                широкой дороге жизни, но каждый прижимается к своей обочине.</p>
            <p>А в притче о Марфе Иисус обличает чрезмерно гостеприимную хозяйку: «Ты заботишься о многом. А одно только
                нужно». Нужно было сесть, как Мария, у Его ног и слушать Христа. Зато фарисей, по имени Симон, наоборот,
                проявил неуважение, отсутствие гостеприимности по отношению к Иисусу. Тогда «<span
                    class="article__passage">Иисус… сказал Симону: ты
                    воды Мне на ноги не дал… Ты целования Мне не дал,… Ты головы мне маслом не помазал».</span></p>
            <p>Вот она, широкая дорога, имеющая две противоположные обочины. В первом случае – это жадность; а через
                дорогу, напротив, другая крайность – мотовство, расточительность. Кажется, между двумя этими качествами
                громадное расстояние. Но, если бы блудный сын-транжира, в самом начале отошёл от своей крайности –
                мотовства и преждевременной самостоятельности, проявил мудрость и уважение к отцу, разве он не стал
                более совершенным? Отдалившись от своего греха и придерживаясь нового, узкого пути, он приблизился бы к
                Богу. Второй, излишне расчётливый юноша, если бы проявил равнодушие к земным богатствам, мог уйти от
                поклонения мамоне. Оставив всё, он бы тогда пошёл за Христом.</p>
            <p>Такая же история с Марфой и с её антиподом – Симоном. Каждый из них, придерживался своей крайности, через
                это впадая в грех. Узок путь к спасению. Надо верно дать определение своему греху, правильно поставить
                диагноз и выбрать, из предложенных Евангелием вариантов, единственный способ исцеления лукавого сердца.
            </p>
            <p>Весь путь к спасению рассчитан на то, что он будет пройден вместе с тем, кто стал с тобой одной плотью.
                Ева была дана Адаму для совместного, полного счастья. Её создание Господом – завершающий штрих в
                сотворении мира. Женщина, это вишенка, украшающая торт. Счастье – это приближение вдвоём к тому
                первозданному состоянию в прошлом, когда Адам и Ева находились в Боге, были наполнены любовью ко всему
                окружающему. То есть: счастье в земной жизни – это приближение к Богу своим узким путём, одной полтью, с
                любовью в сердце к людям. А вечное счастье – это дальнейшее пребывание в общении с Богом после земных
                испытаний.</p>
            <p>Помните, в мультфильме «Снежная королева» замерзающий Кай пытался сложить из льдинок слово «Вечность»? То
                же самое и с любым человеком. Перед ним, как младенцем, высыпят кучкой пазлы: «На, собери. Посмотри, что
                у тебя получится». Ребёнок видит перед собой горку из каких-то фигурных картонок. Первая реакция: ни
                чего интересного. Взмах рук и пазлы разлетелись. Вот тут, рассматривая пазлы в отдельности, ребёнок
                начинает понимать, что фигурные картонки можно соединять между собой определённым образом. Он пробует
                это делать, и у него получается нечто примитивное, вроде ленты. Но на ленте видно, что некоторые кусочки
                картона лежат рисунком к верху. То есть, пазлы имеют с одной стороны рисунок. Это уже интересно. Но
                пройдёт ещё какое-то время и повзрослевший ребёнок поймёт, что суть происходящего – сложить из этих
                пазлов (пазл?) единую картину. Чему он и посвятит всё своё время.</p>
            <p>Что же там изображено, на этой картине? На что потрачено время, а иногда и целая жизнь? Когда все пазлы
                будут установлены на своё место, тогда откроется человеку во всей своей полноте образ Бога. Его образ и
                понимание собственного соответствия библейским словам: «Бог есть любовь». Это вот и будет настоящее
                счастье. Земных, кратковременных заменителей счастья полно. Но человеческая душа без Бога, без Любви -
                раскаленная пустыня. Можно сколько угодно бросать кусочки льда на раскаленный песок желаний. Лёд
                исчезнет бесследно. А чувство неудовлетворения своей жизнью от чего-то недостигнутого, будет мучить до
                конца дней. </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>