<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Остров монстров</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Остров монстров</h1>
            <p>В детстве я прочитал интересную книгу. Сейчас я уже не помню названия книги, ее автора, но сюжет мне
                запомнился на всю жизнь. На отдаленный остров, где-то в океане, свозили исключительно одних уродов.
                Представьте остров населенный одними калеками, уродами. Зрелище, на которое нельзя смотреть без
                содрогания.</p>
            <p>Естественно, что среди этого, скажем так, населения были как мужчины, так и женщины. По прошествии
                времени, по каким-то причинам, дорогу на этот остров забыли. Жители острова оказались предоставлены сами
                себе. Там наладилась, насколько это возможно, нормальная жизнь. Люди занимались своими делами, вели
                хозяйство, обустраивались, женились, выходили замуж. Рождались у них такие же мутанты, как они сами.
                Более того, родившиеся дети часто совмещали одновременно уродство отца и уродство матери.</p>
            <p>Но при таком положении вещей, у них происходит, на наш взгляд, невероятное. Там объявились свои королевы
                красоты; женихи, по которым «сохли» местные девицы. На острове возникло свое понимание эталона красоты.
                Если только можно употребить слово «красота», глядя на эти изуродованные тела. Эти островитяне привыкли
                к обществу, которое они создали и чувствовали себя полноценными людьми в своем мире.</p>
            <p>Однажды, после бури, к ним на берег выбросило чудом уцелевшего после кораблекрушения человека. Так,
                впервые, после многих лет, на острове мутантов появился нормальный человек. О существовании таких людей
                островитяне уже не помнили. Когда все население сбежалось посмотреть на это чудо, то они пришли в ужас.
                Такого урода они еще не видели! Этот человек на них походил только отдаленно. Он не был, как они,
                горбатым, кривым, хромым, сухоруким. Несчастный, зачем он только выжил! И они его убили. Из жалости.</p>
            <p>Нормальное общество всегда не терпит ненормальных. Их изолируют, от них избавляются. События последнего
                времени напомнили мне этот сюжет. После того как рухнул «железный занавес» мы с удивлением обнаружили,
                что есть другой мир, другие люди, которые живут по другому. По другому – значит лучше. После того, как
                мы увидели истину и наше удивление закончилось, мы, в отличии от тех дикарей, попытались принять новый
                для нас мир, войти в него. Но это оказалось трудно.</p>
            <p>Ввести толпу желающих в нормальный мир могут только нормальные люди. То есть, у лидера мутантов должно
                быть нормальное зрение. Что бы видеть дальше своего носа. И обязательно два глаза, потому что отсутствие
                одного глаза в два раза сужает кругозор. Он не должен быть сухоруким, потому что такой человек, движение
                руки у которого ограничено, может только подтягивать к себе то, что близко лежит. Он не может быть
                горбатым потому, что ему нести весь груз ответственности. А где в нашем обществе взять такого? Откуда?
                Ведь на нашем острове мутантов была создана целая организация, которая «отстреливала» тех, кто был не
                похож на всех, не такой как все. Нормальное общество не терпит ненормальных. В разное время этих
                «чистильщиков» называли по разному: и ЧеКа, и НКВД, и КГБ, и ФСБ. Так что же нас ждет? Где взять лидера?
                Не знаю. Слава Богу, мы не в силах убить, подобно тем дикарям, то, что увидели за «железным занавесом».
            </p>
            <p>Но вот какая мысль просится в голову: по какому пути развития пошла бы Германия, если бы не было
                Нюрбергского процесса и во главе страны встал бывший гестаповец? Хорошо, что мы не опустились до такого.
                У нас другое воспитание. Мы дружно проголосовали за бывшего чекиста. Теперь он, как горьковский Данко,
                поведет нас верной дорогой. Восторженная молодежь, наша молодежь, которую мы воспитали, дружно будет
                скандировать: «Правильным идем путём, у нас будет все путём!».</p>
            <p>А того человека, которого в книжке убили, конечно жалко. Он, как говорится, оказался не в том месте и не
                в то время. Закончить я хочу на радостной волне, в стиле нынешних постоянных теле-шоу.</p>
            <p>Песенка в исполнении Андрея Миронова:</p>
            <p class="article__accent">Весь покрытый зеленью
                <br>
                абсолютно весь
                <br>
                остров невезения в океане есть.
                <br>
                Там живут несчастные люди дикари.
                <br>
                На лицо ужасные, добрые внутри.
            </p>
            <p>Так легко на сердце, если веришь, что хотя бы внутри мы добрые. Надежда всегда умирает последней. Или
                здесь наоборот: надежда умирает быстрее? Что больше подходит для острова мутантов?</p>
            <p>Господи! Укрепи нас и прости раскаявшихся!</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>