<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новые времена, новые секты?</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Новые времена, новые секты?</h1>
            <p>Как-то постепенно я отошел от этих книжек-ужастиков. Меня перестали интересовать страшилки в блестящих
                цветных переплетах. В очередной раз я с удовольствием купил так называемую духовную литературу, которую
                предлагали представители Православной церкви. И вот тут я внутренне содрогнулся. Одна из небольших
                книжек, ничем, казалось бы, не выделялась. Строгая обложка, на ней крест-веригии преподобного Серафима
                Сарофского. Название: Церковь глаголит устами богомудрых отцов. Подпись внизу гласит: Русская
                Православная Церковь. Московская Патриархия. Надпись повыше : В издании использованы материалы из
                православного журнала «Первый и последний».</p>
            <p>Все это меня успокаивало и вызывало доверие. Но когда я начал читать … Извините, если это духовная
                литература, то дух у нее, а скорее запах … В общем пахнет не то фашистами, не то коммунистами. Я не на
                столько разбираюсь в этих нюансах, чтобы мог их отличить сходу. Судите сами: один из главных действующих
                персонажей, отец Алексий, с восторгом повторяет: «Пророческие слова нашего дорогого батюшки иеромонаха
                Филадельфа, в схиме Моисея, который удивительно вдохновенно воскликнул: «Если наша армия соединится с
                Православной Церковью, Россия будет непобедима».
            </p>
            <p>Так как прикажете это понимать? Я, по простоте своей, вижу это так: на пряжках солдатских ремней звезду,
                серп и молот стереть и поставить надпись: «С нами Бог». Ну и что ж, что как у фашистов? За то
                соответствует нашим духовным реалиям. Лозунг: «Вперед на Восток» слишком откровенен и его могут принят
                за намек. Я бы предложил лозунг: «Нам нужен мир». Желательно, конечно, весь.</p>
            <p>Но вернемся назад к отцу Алексию. Он с упоением продолжает: «И как дивно, действительно, видеть многих,
                многих наших славных воинов, - эти простые ребята, ни какого богословского образования, ни какого
                духовного опыта … И поразительно, когда обращаешься к какому-нибудь такому здоровяку, парень – косая
                сажень в плечах, десантник, - и в нескольких словах ему объясняешь, что такое И.Н.Н., он говорит: да,
                это диавольское дело». Какая картина у вас встает перед глазами? Лично я вижу эдокого бугая, у которого,
                как справедливо отмечено, ни богословского образования и, уж тем более, ни какого духовного опыта. Ему
                действительно в нескольких словах можно объяснить все, что угодно. Только раньше этим занимался
                замполит.</p>
            <p>Дальше разговор подхватывает отец Рафаил. Он опять же ссылается на пророчество некоего старца Паисия,
                который утверждает: «возьмут Константинополь русские, они будут воевать с Европой и захватят Турцию.
                Треть турков погибнет, треть убежит на Восток, а треть останется, они примут Православие». Вот видите,
                где правда! А мы тут песни распеваем: «Не нужен нам берег турецкий, чужая земля не нужна». Оказывается
                мы будем продолжать насаждать Православие. Пусть часть погибнет, часть убежит, но ведь кто-то останется.
                «Весь мир язычников разрушим до основания, а затем, мы наш, мы новый мир построим …». Знакомо, да?</p>
            <p>Давайте оставим в покое нашу внешнею политику и посмотрим какую жизнь нам самим предлагают богомудрые
                отцы. Отец Алексий: Здесь все очень просто: если Господь благословит Россию в ее лице правителя, если мы
                будем иметь временное переходное патриотическое правительство, если угодно благословенную Богом
                диктатуру в хорошем смысле этого слова, диктатуру Православия и армии, скажем так, то, конечно же, эти
                властители найдут способ и налогообложения, и учета … И какой экономический эффект могло бы дать простое
                соблюдение постов, т.е. людям во много раз меньше потребовалось бы мяса и других каких-то продуктов».
            </p>
            <p>Ну как, вам вспоминается «рыбные дни» в советские времена? А лозунг: «Пушки вместо масла»? Ну и что ж,
                что это в фашистской Германии. Я же сразу сказал, что разницу между фашистами и коммунистами для себя
                еще не определил.</p>
            <p>Дальше по теме вступает в разговор третий богомудрый отец – отец Дмитрий: Действительно, если люди будут
                православными и будут жить более просто, с более простыми потребностями, может быть более аскетически,
                более строго, более приближенно к природе, к земле, то только Господь знает, как может эта православная
                простая жизнь сочетаться с той же технической или военной мощью государства. Ведь все в Его силах». Тут
                уж, если позволите, без комментариев.</p>
            <p>Зачем же я делаю рекламу этой белиберде? А потому что слова, что часть людей убежит, часть погибнет,
                часть примет Православие, могут начать сбываться. И не в Турции, а вначале здесь, у нас, в России.
                Кажется кто-то решил, что пришло время борьбы с иноверцами. Это же наше любимое занятие – бороться,
                разрушать до основания. А затем …, затем следует обещание построить новый мир. Как он может выглядеть?
                Может быть даже и так, как это видят богомудрые отцы. Кажется, к этому делаются первые шаги уже и на
                самом высоком уровне.</p>
            <p>Потому что на канале О.Р.Т. прошел, скажем так, документальный фильм «Секты в законе». Как и было
                рассчитано он произвел переполох среди советских обывателей. Это и понятно. Людей совершенно не пугает
                надпись на пачке сигарет» «Минздрав предупреждает …». Потому что все вокруг курят. Все знают, что
                алкоголь это яд, что это постоянные проблемы для близких, это болезни организма, что это мучительная
                жизнь и медленная смерть. Но … все вокруг пьют, и это становится обыденным и привычным. А здесь людям
                показали настолько неожиданное, противоестественное, не вмещающееся в их разум. В так называемых церквях
                происходит такое!!! Волосы дыбом встают!</p>
            <p>Все мы прекрасно понимаем, что, скажем, в операционной палате должна быть стерильная чистота. И церковь,
                в нашем понимании, это что-то чистое, святое. Но мы забываем об одном: операционная палата создана для
                исцеления, для лечения человека. И на этот момент вся грязь собрана в больном человеке: это гной, язвы,
                грязные засохшие бинты на ранах. Человек пришел за исцелением.</p>
            <p>Советские люди знать не могут, что церковь – это место, где более всего действует Святой Дух, и
                проявляется одержимость бесами. Как справедливо отметил отец Алексий: «Это простые ребята. Никакого
                богословского образования, ни какого духовного опыта». Помилуйте, какой духовный опыт? Откуда? За годы
                советской власти мы искали только врагов, а не Бога, на что нас и сейчас подталкивают.</p>
            <p>Давайте посмотрим, как проходили служения в церквях раньше. Скажем так, до того, как наиболее
                сознательная часть общества начала крушить церкви и храмы. Я открываю книгу «Святой праведный Иоанн
                Кронштатский. Жизнеописание, чудеса и наставления». Посмотрим на отца Иоанна во время служения: «Что это
                значит? Один скажет «Бог» - и нет ничего; а другой скажет тоже: «Бог» - и огонь запылает? Вот и у отца
                Иоанна все всегда было с «огнем». И именно от этого были сильны и его молитвы. Отец Иоанн весь охвачен
                сознанием огромной ответственности перед этими немощными, вверившими ему себя, благо своих и души и
                тела, и точно спешит молиться за них; молится порывисто, настойчиво, не просит, а требует от Бога
                исполнения просьбы этих несчастных, с властью священника, поставленного Христом; он хватается за край
                ризы Господней, требуя милости душам вверенным ему от Господа».</p>
            <p>Вы можете представит себе такого проповедника? Давайте посмотрим, что же происходит во время такой
                молитвы в церкви с народом. «Что произошло в эти минуты невозможно передать. Напряжение достигло самой
                наивысшей степени и одинаково захватило всю массу. Это был уже не тихий и спокойный народ, а море
                бушующие. Пламя огня, охватившее огненными языками, вырывающимися изнутри то там, то здесь, и густыми
                облаками дыма. Потом, пробившись наружу, оно со страшной силой поднимается вверх и почти мгновенно
                распространяется по всему зданию, перелетает быстро на соседние дома. В эти минуты человеку остается
                только безмолвно почти смотреть на совершающееся перед ним. Нечто подобное представляла собой и толпа в
                данный момент. Стоял страшный, невообразимый шум. Кто плакал, кто громко рыдал, кто падал на пол, кто
                стоял в безмолвном оцепенении. Многие вслух перед всеми исповедовали свои грехи, ни сколько не стесняясь
                тем, что их все слышали».</p>
            <p>Вы увидели это? Теперь добавьте сюда сумасшедшего. А это было в практике Иоанна Кронштадского и
                происходит сейчас. Душевнобольные не лишены права посещать церковь. Скорее наоборот, все мы в душе
                немного больные. Сюда же плюсом добавьте чрезмерных почитательниц отца Иоанна, «фанаток», как теперь
                называют таких. «Отец Иоанн не давал им причастия. Но отделаться от них не так-то легко. Они, как
                безумные, лезли к Чаше, так что городовым приходилось их оттаскивать. Мало того, при каждом удобном
                случаи они кусали его, стараясь причаститься каплей его крови!»</p>
            <p>Вы увидели это? Пастыря, настойчиво и горячо требующего что-то от Бога. Толпу людей, которые плачут,
                кричат, рыдают, падают на пол или стоят оцепеневшие. Явно душевнобольных и «фанатов». Увидели? Теперь
                скорее звоните г-ну Дворкину, что осталась еще одна группа сектантов, которых он не показал по первому
                каналу. Особо подчеркиваю, когда я написал «г-ну Дворкину», я имел ввиду общепринятое обращение
                «господину». А то какой-нибудь военный, у которого косая сажень в плечах, начнет примерять все слова на
                букву «г».</p>
            <p>Сейчас хочу обозначить проблему, которая скрылась за всем этим шумным балаганом, по поводу сект. Раньше
                нам категорично сказали: «Бога нет», и соответствующие органы это аргументировали. Сейчас говорят: «Мы
                передумали. Бог есть. Можете верить. Но …». Соответствующие органы теперь пытаются это регламентировать.
                «Вот это должно быть так и вот так. А вот этого не должно быть вообще». Представьте себе человека с
                улицы, которому промыли мозги истерией о спасении Православия от нашествия сектантов. И вот наш герой
                заходит в церковь, где службу проводит святой праведный Иоанн Кронштадский.</p>
            <p>Вы можете представить реакцию человека на происходящее в церкви? Да его во второй раз на служение Иоанна
                Кронштадского не заманишь! Г-н Дворкин делает вид, что усердно «бомбит сектантов». Но на самом деле он
                закладывает мину вообще под веру в Бога, хотя на словах он борется за победу Православия. Здесь на лицо
                явное противоречие. В таком случае, у меня есть предложение.
            </p>
            <p>Не нужно говорить о каком-то общем Православии. Хоть мы об этом стыдливо умалчиваем, но все-таки
                существует зарубежная Русская Православная Церковь. Она образовалась после революции, когда богатые,
                умные, лучшие люди России выехали за границу. Понятно, что в России осталось Русская Православная
                Церковь. Но сейчас, мне кажется, можно, а в принципе уже давно пора, говорить об образовании Советской
                Православной Церкви.</p>
            <p>Обратите внимание: сразу все становится на свои места. Такая Церковь, по словам богомудрых отцов,
                благословит военную диктатуру, во время обязательных постов будет сэкономлено половина урожая, и все это
                будет гармонично сочетаться с ростом технической и военной мощи России. А сектантам в начале повыбиваем
                стекла, если не поймут … У нас есть парни, косая сажень в плечах, без богословского образования и
                духовного опыта, им в нескольких словах можно объяснить все. И они, кому хочешь, повыбивают мозги. Вот
                такое четкое определение названий Церквей все бы расставило по своим местам, да и в Советскую
                Православную Церковь народу пошло бы больше – ведь звучит гораздо привычнее.</p>
            <p>А закончу я цитируя Иоанна Кронштадского: «Без Бога в сердце человек жить не может; он может лишь
                временно прозябать на земле. Бог – солнце души. С утратой духовного солнца человек или умирает, или
                приобретает звериный образ».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>