<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Да, я не люблю пролетариата</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Да, я не люблю пролетариата</h1>
            <p>«<span class="article__accent">Да, я не люблю пролетариата</span>» – признался Булгаков устами профессора
                Преображенского. За что можно не
                любить пролетариат??? Этого гегемона. Чем он не угодил Булгакову? Ведь у нас, сколько положительных
                литературных героев, пролетариев, воспетых известными советскими авторами. Вот, к примеру, славно
                потрудились над созданием положительных образов Николай Островский, Михаил Шолохов. </p>
            <p>Сам-то Булгаков кого увидел в победившем пролетариате? В его повести «Собачье сердце» главный герой –
                полученный искусственным путём, некий Шариков. Именно искусственным путём. Булгаков тут иронизирует над
                советским народом, полученным искусственным, революционным путём. Он иронизирует над некой «новой
                исторической общностью» – такое пышное определение дано советскому народу, опять же, Советской
                энциклопедией. «<span class="article__accent">Если я что-нибудь говорю, значит, в основе лежит некий
                    факт, из которого я делаю вывод</span>»
                – эти слова профессора Преображенского пусть будут основой для последующих рассуждений. То есть, берём
                факт, цитату из произведений указанных писателей, и из этого факта будем делать вывод. </p>
            <p>Так что такое Шариков? Полученный искусственным путём Полиграф Полиграфович – очеловеченное животное или
                озверевший человек? Неважно. Это представитель новой исторической общности. Он наполнен ненависти ко
                всем. Это его основное качество. Больше всего он ненавидит кошек. Он готов «мочить» их и в сортире, и в
                ванной. Подобное качество – ненависть, вражду, намеренно выделяет в своём произведении Николай
                Островский: «<span class="article__accent">Выросший в нищете и голоде, Павел враждебно относился к тем,
                    кто был в его понимании
                    богатым</span>». А их ой сколько было! Ненависть – вот основная черта Павла, подана автором как
                необходимое
                качество при борьбе за идею. </p>
            <p>Но, кроме, так называемой классовой ненависти, сюда нужно добавить ещё и личную обидчивость Павла.
                Ненавидел Павка попа «<span class="article__accent">всем своим существом. Ненавидел и боялся. Никому не
                    прощал он своих маленьких
                    обид</span>». Здесь нет ни какой классовой вражды. Просто, будущий чекист очень злопамятный человек.
                Через
                несколько лет(!) он попу всё припомнил: «<span class="article__accent">В эту же ночь взяли попа Василия
                    с дочерьми (???) и всю
                    остальную братию за неуплату налогов</span>». В произведении Шолохова «Судьба человека» ненависть
                была
                обоснована очень уважительной причиной. Автор дал своему персонажу, Соколову, ненависть к фашистам.
                Войдя во вкус, тот, по идейным соображениям, даже своего соплеменника, задушил в храме Божьем. Хотя,
                экая невидаль! Он же хотел как лучше!</p>
            <p>Но вернёмся к Шарикову. Кошек он не просто так уничтожал, из одной ненависти. У него было для этого
                оправдание: «<span class="article__accent">На польты пойдут, из них белок будут делать на рабочий
                    кредит</span>». Преклоняюсь перед талантом
                Булгакова. В одной фразе выразить всю сущность строительства коммунизма! Звериная жестокость проявлялась
                как жизненная необходимость. Кошек уничтожали не просто так: пальто, «польты», будут шить для населения!
                С кошачьими воротниками. Кошачьи воротники будут выдавать за беличьи и, в кредит, продавать «польты»
                строителям коммунизма. Шариков, в своей прежней человеческой жизни был беспартийный, но сочувствующий,
                трижды судимый, алкоголик и матершинник. Тем не менее, он, сейчас, оказался востребованным советским
                обществом. </p>
            <p> Можно упрекнуть Булгакова, что он сгустил краски. Но как выглядят положительные герои у Н. Островского и
                у М. Шолохова без идеологического приукрашивания? Беру только факты, то есть цитаты. Начнём с Корчагина.
                В отличие от Шарикова он был партийным, и не имел судимости. Хотя Рита Устинович пишет в своём дневнике:
                «<span class="article__accent">О Корчагине ни чего не слышно. Удивительно, что на него нет «дела» вроде
                    панкратовского</span>». Нет на него
                «дела». И это, правда, удивительно: матершинник, несдержанный, неуправляемый тип, ненавидящий всех и
                всё. С такими качествами, и на свободе! Для более полной характеристики Павла уместно будет вспомнить о
                том, что отец у него был алкоголик. А про деда мать Павла рассказывала следующее: «<span
                    class="article__accent">Таким заскочистым
                    твой дед был… Настоящий разбойник, прости Господи! Довоевался в севастопольскую войну, что без ноги
                    и
                    руки домой вернулся…. Строптивый был, ударил какую-то власть по голове клюшкой, в тюрьме мало не год
                    просидел. Закупорили его туды, и кресты его не помогли. Погляжу я на тебя, не иначе ты в деда
                    вдался</span>».
                Точно, не иначе как в деда вдался. Каким мог быть внук у такого деда? Каким мог быть сын у
                отца-алкоголика? Хоть в Советском Союзе генетику за науку не признавали, но от наследственности ни куда
                не денешься. </p>
            <p>Кроме ненависти ко всем, у него было ещё одно приобретённое качество, о котором тщательно в книге
                умалчивается. Что бы разобраться в этом, мы будем опираться опять на одни факты: «<span
                    class="article__accent">Что может быть роднее
                    рук любимой, обхватившей шею, и – поцелуй, жгучий, как удар тока! Прерываются его мысли. Как
                    послушно
                    гибкое тело!..</span>». Но до секса у Павла с Тоней, с первой любовью, дело не дошло. Следующий
                факт: «<span class="article__accent">Слухай,
                    голубе, – шепчут горячие губы Христины, – мени всё равно пропадать, як не офицер, так те замучают.
                    Бери
                    мене, хлопчику милый, щоб не та собака дивочисть забрала. – Что ты говоришь, Христина? Но крепкие
                    руки
                    не отпускали Павла</span>». Павел и здесь секса не допустил. Эпизод в поезде: «<span
                    class="article__accent">Павел чувствовал
                    глубокое,
                    ровное дыхание, где-то совсем близко её губы. От близости родилось непреодолимое желание найти эти
                    губы.
                    Рита, как бы угадывая его чувства, в темноте улыбнулась</span>». Зря Рита в темноте улыбалась. Павел
                остался
                верен себе. Потом были в его жизни ещё и Анна Борхат, и Волынцева Мура. Но финал во всех этих историях
                был одинаков. Этот борец за идею, человеконенавистник, вдобавок был ещё и импотентом. Неплохой набор для
                чекиста. Складывается такое ощущение, по нашей жизни, что в чекисты берут импотентов или извращенцев.
            </p>
            <p>А каким же был на самом деле, явно положительный герой у Шолохова, Андрей Соколов? Сам Андрей
                свидетельствует: «<span class="article__accent">Парень я был тогда здоровый, выпить мог много. Случалось
                    так, что до дому на перовой
                    скорости, то есть на четвереньках добирался</span>». Как сейчас принято говорить: «на автопилоте».
                Ну, вот
                опять, советская действительность! Если не импотент, то алкоголик. Тогда выглядит ли героизмом его
                поступок, в плену, когда он, «на халяву», выпил три стакана водки? «На халяву» – это же любимое занятие
                каждого русского человека! Не стал пить за победу немецкого оружия? Так его уже на расстрел,
                практически, привели. Здесь такая возможность характер, напоследок, показать: «<span
                    class="article__accent">Один чёрт мне умирать,
                    так провались ты пропадом вместе со своей водкой!</span>». Булку хлеба и кусок сала для всех в барак
                принёс? А
                что ему оставалось? «<span class="article__accent">Вышел я из комендантской на твёрдых ногах, а во дворе
                    меня развезло. Ввалился в
                    барак и упал на цементный пол без памяти</span>». Опять на «автопилоте» добрался! У нас, после
                получки, это
                повсеместное явление. То, что хлеб, на утро, поровну поделили? А что, у него был выбор? Попробовал бы
                пайку себе больше сделать, так его бы там и удавили. Сказали бы, что немцам продался. Я так и не понял:
                в каком месте с него пример брать? </p>
            <p>Но меня гораздо больше в этом произведении заинтересовали два момента. Первый, почти без комментариев:
                побег из немецкого плена. Будучи в плену водителем, он пересёк линию фронта на легковой машине, с пьяным
                немецким офицером. Кто-нибудь может себе представить, что у нас, пленный фашист, возит советского
                офицера? Да ещё и в прифронтовой полосе! Да мы не то, что пленных, мы своих соотечественников, но другой
                национальности, из родных мест, в Сибирь, в лютые морозы переселяли на верную погибель. Так кто больше
                озверевший: мы или фашисты? Второй момент: колонна советских военнопленных остановилась на ночь в
                разрушенной церкви. Курьёзный случай: «<span class="article__accent">Как на грех, приспичило одному
                    богомольному из наших выйти по
                    нужде. Крепился-крепился он, а потом заплакал: «Не могу, говорит, осквернять святой храм! Я же
                    верующий,
                    я христианин! Что мне делать, братцы?» А наши, знаешь, какой народ? Одни смеются, другие ругаются,
                    третьи всякие шуточные советы ему дают</span>». А чего смешного? На целую колонну советских
                военнопленных всего
                один оказался христианином! Смешно? Да и то его застрелили. Для него, верующего человека, разрушенная
                гегемоном церковь оставалось святым храмом.</p>
            <p>Характерная черта в советских людей – это атеизм. Нет ничего для нас святого. Кроме какой-то идеи. За
                неё, мы даже в святом храме человека удавим. Поэтому, у Островского, Павка не побоялся махорки попу в
                пасхальное тесто насыпать.</p>
            <p>У Булгакова, в «Собачьем сердце», эта мысль подтверждается фразой: «<span
                    class="article__accent">Наголодался я в молодости достаточно,
                    будет с меня, а загробной жизни не существует</span>». Бога нет, загробной жизни нет, значит,
                наказания нам не
                будет. Гуляй душа! Да! Души-то тоже нет! Кстати, о том командире, из-за которого Соколов в церкви
                предателя удавил. А кто из них был предатель? Толстомордый рядовой, который ранее отказался от
                вступления в ряды КПСС? И, который не собирался скрывать, что его командир специально снял гимнастёрку.
                Командир очень хотел выжить. Любым путём. Сняв гимнастёрку, что б его не «вычислили», он уже отказался
                от своего командирского звания, от членства в КПСС. Так кто из этих двоих предатель? Кого из них, по
                привычке, мы, голыми руками удавить готовы? Библия говорит: «<span class="article__accent">Не суди, и
                    судим не будешь</span>». А Бог сказал:
                «<span class="article__accent">Не мстите, Я воздам</span>». И, кто как не Он понимает Булгакова, и
                понимает, почему тот сказал: «Да, я не
                люблю пролетариата».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>