<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Мы не рабы, рабы не мы</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Мы не рабы, рабы не мы</h1>
            <p>В России появилось новое ругательное слово. Мы, русские, в этом очень консервативны, редко используем
                новые слова. Чаще всего – невообразимые комбинации давно знакомых, родных слов, которые заучиваем еще с
                пеленок. А тут … не то, что бы это было новое слово. Оно и раньше нам встречалось, и уже в те, давние
                времена нам прививали к нему неприязнь. Кто постарше, те помнят это выражение: «Демократия – это
                буржуазная проститутка». «Демократия» рядом со словом «проститутка». Такое вот ненавязчивое, предложение
                нам, толкование слова «демократия».</p>
            <p>В истории государства наступил момент, когда к нам пришла эта самая демократия. Кто-то вздохнул с
                облегчением, а кто-то с опаской. Я, решив проверить свой интеллект, заглянул в Советский
                Энциклопедический Словарь. Действительно, я не ошибся. Демократия – это власть народа. Что в этом
                страшного? Ни чего. Если нормальный народ, то мы имеем обычную, нормальную демократию. Обществом
                управляют лучшие представители народа, которые пекутся о благе этого народа. Так сказать, оправдывают
                доверие. В чем проблема? При нормальном обществе – ни в чем.</p>
            <p>Что такое наше общество? Можете представить себе картину: в каком-то сумасшедшем мире, в каком-то
                концентрационном лагере, т.е., где-то у нас, в «зоне», по каким-то причинам, сменили режим. Заключенным
                сказали, что они свободны, колючая проволка снята, принудительного труда больше не будет. Как впрочем и
                обязательного, пусть скудного, но все-таки трехразового питания. Вы свободны! А на фига, извините,
                отупевшим зекам эта свобода? Раньше, до этой свободы, тебя поднимут утром, вечером спать положат. Работу
                предоставят в обязательном порядке, так же как и похлебку в миске. В медсанчасти, при постоянном
                диагнозе ОРЗ, тебе бесплатно дают лекарство, которое помогает сразу от кашля и от запора. Ты можешь
                посмотреть киношку и послушать лекцию о международном положении.</p>
            <p>Что, разве нам плохо жилось? А тут тебе демократия! Власть народа! А кто нами править будет? Да те же и
                прорвались к власти, у которых было оружие и которые нас раньше охраняли на «зоне». Или некоторые из
                наших, но мы их сами, между собой «отморозками» называем.</p>
            <p>Там, за «бугром», вздрогнули: «Как к власти мог придти Путин?» Как, как …. Да мы его сами выбрали!!!
                Большинством голосов! И еще выберем! На второй срок! Пусть мочит кого надо и делает обрезание кому
                нужно. Это по нашим понятиям. А Жириновский? Он же каждому русскому мужику по три бабы обещал дать! И в
                морду он бьет первый. Единственное, что плохо у него – это запах. Ноги он почему –то хочет мыть только в
                Индийском океане. Но пока нет возможности. Вот это наши лидеры. Авторитетные.</p>
            <p>А то ж придумали: Явлинский, Ходорковский. Вы думаете на «зоне» они могут быть авторитетными?
                Единственное, для чего их можно использовать, это что бы на ночь, на сон грядущий, они рассказывали нам,
                как мы могли бы жить по другому. И что бы еще они подстилку на ночь нам меняли. Когда в стойле тепло и
                сухо, тогда так хорошо спится! А то – демократия, демократия. Да нас и здесь хорошо кормят. Или обещают,
                что хорошо будут кормить.</p>
            <p>Антуан Экзюпери сказал: «<span class="article__accent">Суди себя сам. Это самое трудное. Если сумеешь
                    правильно судить себя, значит ты
                    поистине мудр»</span>.</p>
            <p>Если кто-то оскорбился и не согласен со мной, то я предлагаю им поспорить с двумя академиками. И.П.
                Павлов: «<span class="article__accent">Многолетний террор и безудержное своеволие власти превращает нашу
                    и без того довольно азиатскую
                    натуру в позорно рабскую</span>». А.Д. Сахаров: «<span class="article__accent">Существующий в России
                    веками рабский, холопский
                    дух,
                    сочетающийся с презрением к иноземцам, инородцам и иноверцам, я считаю величайшей бедой</span>».</p>

            <p>В Библии сказано, что Моисей вывел свой народ из рабства и водил его по пустыне 40 лет. Пока не вымерло
                все поколение недостойных, грешных людей. Только после этого он привел их в землю обетованную. А кого
                нам Бог даст в проводники, что бы мы вышли с «зоны»? С кем и сколько нам предстоит выходит с «зоны».
                Ведь скоро нам предстоят честные, демократические выборы.
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>