<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Отцы наши грешили</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Отцы наши грешили</h1>
            <p>Прекрасно понимаю, что советский народ, Библия, в основном, не интересует. Но когда её сам читаю, так
                хочется поделиться с кем-нибудь впечатлениями: «Вот! И вот! Смотри, ну точно, как про нас написано!». В
                основном это обличения, или пророчества. Как жаль, что мы своё время тратим на телевизор, а Библия, если
                она у кого и есть, стоит как сирота на книжной полке, демонстрируя разносторонний интерес хозяина ко
                всем сферам духовной жизни.
            </p>
            <p>Открываю Библию, а там написано: «<span class="article__passage">Взывай громко, не удерживайся; возвысь
                    голос твой, подобно трубе, и
                    укажи народу Моему на беззаконие его, … на грехи его</span>». Почему бы и нет? Не мню себя пророком,
                но если я
                читаю Библию, почему бы мне не рассказать о том, что там написано? А там уж, пусть каждый примеряет на
                себя рубашку: подходит она или нет. Итак: «<span class="article__passage">Отцы наши грешили: их уже нет,
                    а мы несём наказание за
                    беззаконие их. Рабы господствуют над нами, и некому избавить от руки их</span>».</p>
            <p>Всё так оно и есть в нашей жизни. Нагрешили отцы и предки наши. Ох, и нагрешили! В начале созидали
                Российскую империю, а потом строили коммунизм – светлое будущее всего человечества. Сколько кровушки
                пролито, когда приглашали всех желающих войти в состав Российской империи. А потом? Когда мы начали,
                впереди планеты всей, строить коммунизм? И разве сейчас не рабы господствуют над нами? По своему
                происхождению это холопы, кухаркины дети. По своей сущности – это рабы, служащие своим убогим интересам.
                А интересы одни: хапнуть, урвать, возвыситься. Кто нас избавит от руки их, от их власти? Ведь мы сами
                такие же рабы. На самом деле, меньше всего нас интересует свобода и духовные ценности. </p>
            <p>«<span class="article__passage">В народе угнетают друг друга, грабят и притесняют бедного и нищего, и
                    пришельца угнетают несправедливо.
                    Искал Я у них человека, который поставил бы стену и стал бы предо Мною в проломе за сию землю, что
                    бы Я
                    не погубил её, но не нашёл</span>». Всё так, всё так оно и есть. Мы поедом едим друг друга, в горло
                готовы
                вцепиться друг другу. Кого ещё не обманули, не ограбили? Кого не притесняют в этой стране? А этих
                пришельцев, которые добровольно влились в состав Российской империи? Они уже задыхаются от наших
                братских объятий и истекают кровью. На счёт стены, которая служит для охраны рубежей и защиты города –
                тут у нас всё в порядке! Не каменная стена, а целый железный занавес, и в мозгах и на деле, отделяет нас
                от остального мира. Но Господь говорит не о разделяющих стенах, а о человеке, который стал бы «в проломе
                за сию землю». За чью-то власть, за собственное могущество, за сохранение тирании у нас этот пролом в
                стене горой трупов прикроют. Но Бог говорит не об этом. Нет такого человека, который по своей чистоте и
                святости стал в проломе за сию землю, что бы Бог не погубил её за все творимые прегрешения. Нет его в
                этом скопище рабов. Поэтому не трудно предсказать, что близится конец этой империи. </p>
            <p>Нет у нас такого человека, который правил и управлял, применяя к себе слова: «<span
                    class="article__passage">Владычествующий над людьми
                    будет праведен, владычествуя в страхе Божием</span>». Нет человека властвующего и знающего о страхе
                Божьем. Нет
                у нас праведника. «<span class="article__passage">Горе тем, кто зло называет добром, и добро злом! Горе
                    тем, которые мудры в своих
                    глазах и разумны перед самими собою! Горе тем, которые храбры пить вино и сильны приготовлять
                    крепкий
                    напиток! Которые за подарки оправдывают виновного и правых лишают законного!</span>». Как точно всё
                сказано. Не
                в бровь, а в глаз! Тут и стремление всем инакомыслящим и несогласным «поменять мозги». И о нашей
                храбрости пить вино. Мы ни сколько этого не боимся. И насколько мы сильны в приготовлении самогонки. И
                об Адамовиче, и о Ходорковском. Такое ощущение, как будто Библию с натуры писали. Тогда «<span
                    class="article__passage">что ты</span> (родная
                Русь) <span class="article__passage">вопиёшь о ранах твоих, о жестокости болезни твоей? По множеству
                    беззаконий твоих Я сделал тебе
                    это</span>». Так ли всё на самом деле? Насколько предопределена дальнейшая участь России? Бог
                покажет
                посредством времени. Но это Ему принадлежат слова: «<span class="article__passage">Если нечестивый будет
                    помилован, то он не научится
                    правде, и будет продолжать злодействовать</span>». Смотри, ну точно, как про нас написано!</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>