<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Притча о нерадивом сеятеле</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Притча о нерадивом сеятеле</h1>
            <p>Всем известная притча Иисуса о сеятеле (Лук. 8, 5-18). Сеятель – чаще всего это наёмный рабочий или раб,
                призванный хозяином, для выполнения определённой работы. Притча, изложенная Иисусом, разбита на три
                части. Ровно столько же уровней доступности к пониманию притч Иисуса. Первый уровень: это сказанное для
                всех и при всех. Второй уровень: сказанное при всех, но в расчёте на дальнейшие размышления апостолов,
                которые часто обращались потом за разъяснениями к Иисусу. Третий уровень предполагает духовное
                проникновение апостолов в знание тайны Царства Божия (стих 10).</p>
            <p>Итак, первая часть притчи рассчитана на всех и для всех: вышел сеятель сеять семя. Одно упало при дороге,
                его склевали птицы. Другое – на камень, и потом засохло. Третье семя упало между сорняками, которые
                заглушили его. Только следующее – на добрую почву упало и принесло многократный урожай. Это первая часть
                притчи, после которой следует предупреждение Иисуса: «<span class="article__passage">Кто имеет уши
                    слышать, да услышит!</span>». Но слушающие ученики и все присутствующие остались в недоумении: «А
                что, собственно, было сказано? Нерадивый раб, разбрасывающий хозяйское зерно направо и налево.
                Ну, наверное, так бывает в жизни». Тогда Иисус, видя всеобщее непонимание, поясняет: семя – это
                слово Божье. То, которое упало при дороге, уносит дьявол: «<span class="article__passage">Иное
                    упало при дороге и было
                    потоптано</span>».</p>
            <p>Дорога– это олицетворение спешащих людей, озабоченных своими трудностями. Дьявол использовал
                занятость и
                проблемы людей, которые в суете, как свиньи, растоптали ещё не проросшее семя. «<span
                    class="article__passage">Не бросайте
                    жемчуга
                    вашего пред свиньями, чтобы они не попрали своими ногами</span>» (Матф. 7, 6)

                Семя, брошенное на камень, остаётся не затоптанным, целым. Казалось бы, это хорошо. Но ему
                некуда
                пустить корень. И оно обречено на погибель.

                Упавшее в тернии – это, то семя, которое пускает корень, всходит и даже растёт. Но не даёт плода
                потому,
                что сорняки (грехи) заглушили его.

                И только семя, упавшее на добрую почву приносит плод. «<span class="article__passage">А упавшее на
                    добрую землю, это те,
                    которые
                    услышавши слово, хранят его в добром и чистом сердце и приносит плод в терпении</span>». Так, когда
                мы
                можем
                узнать, что семя посеяли в доброе и чистое сердце? Только по прошествии какого-то времени, после
                появления плода. Плод, урожай – это и есть показатель результата труда наёмного рабочего, раба,
                призванного на поле его Господином.</p>
            <p>Это была вторая часть, сказанная Иисусом уже для апостолов. Чтобы они по новому, глубже осмыслили
                услышанное. И эта часть текста отделяется от предыдущей теми же словами: «Кто имеет уши слышать,
                да
                слышит!». Значит, далее будет переход на третий, самый сложный уровень понимания.</p>
            <p>Иисус продолжает тему. Но говорит уже конкретно о совершенном бесполезном труде, приносящем
                убыток
                хозяину, о бессмысленной трате ценностей. «<span class="article__passage">Никто, зажегши свечу, не
                    покрывает её сосудом, или не
                    ставит
                    её под кровать</span>». Свеча, в этом случае, сгорела без пользы; то есть, посеянное зерно не
                взошло.
            </p>
            <p>Зато, радостный раб отрапортовал: «Я посадил три мешка зерна. Где моя награда?». Но Иисус
                говорит: «<span class="article__passage">Нет
                    ни чего тайного, что не сделалось бы явным</span>». Когда пройдёт жатва хозяин спросит: «Какой же ты
                Мне урожай
                собрал?» - «Господин, я собрал мешок». Можно лгать себе, окружающим о проделанной титанической
                работе.
                Но, приходит время держать ответ перед Господином жатвы. Раб, надеявшийся на вознаграждение за
                проделанный труд, будет изобличён в нерадивости и нечестности.</p>
            <p>Заканчивает Иисус притчу обращением в третий раз к имеющим уши: «<span class="article__passage">Итак
                    наблюдайте, как вы
                    слушаете; ибо,
                    кто имеет, тому будет дано </span>(кто имеет результаты, тому будет дана награда)<span
                    class="article__passage">; а кто не имеет, у
                    того
                    отнимется и то, что он думает иметь</span>». Тем, кто искренне печется об урожае, кто будет трепетно
                и
                бережно
                относиться к слову Божьему, кто не мечет его под ноги незаинтересованным людям, тому будут
                открыты тайны
                Царствия Божия. А у нерадивых и самохвалов отнимется всякая надежда на награду от Господина
                жатвы.
                Имеющий уши, да услышит!</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>