<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Развитие рода человеческого</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Развитие рода человеческого</h1>
            <p>Развитие рода человеческого, развитие творения Господа, Отца нашего. Как это происходит? Как развивается
                человечество? Да так же, как рождение и воспитание ребёнка. Родившегося ребёнка носят буквально на
                руках. Ребёнок имеет самый тесный и непосредственный контакт с родителем. Далее – ребёнок растёт, и, по
                мере его роста, ему предоставляется всё большая свобода. Поскольку он начинает передвигаться
                самостоятельно, а это чревато неприятностями, мудрый родитель пытается корректировать действия и
                поступки ребёнка. А как это можно сделать? Ведь, дитё ещё не понимает никаких аргументов и разумных
                доводов, со стороны родителя. Единственный способ воспитания, который может дать какие-то результаты в
                данный период – это запреты. Нельзя подползать близко к краю – упадёшь, нельзя. Нельзя пальчиком
                ковырять розетку – там электроток, нельзя. Нельзя пробовать вставать на ножки, держась за подставку для
                цветов – она рухнет на тебя. Формирование ребёнка в это время, его развитие, попытки познать окружающий
                мир, всё сводится к запрету, к слову «<span class="article__accent">нельзя</span>». Нельзя, и всё тут!
            </p>
            <p>Но, мудрым родителем, ребёнку предоставляется определённая степень свободы, которой со временем
                становится всё больше и больше. А пока невозможно объяснить упавшему младенцу закон о силе притяжения,
                или о возможности смертельного исхода при контакте с электротоком. Он этого не в состоянии осмыслить.
                Процесс познания ребёнком мира, идёт на доступном для него уровне. Разве эта ситуация нам не напоминает
                вручение израильскому народу десяти заповедей? Не делай этого, не поступай так. Иначе ты пострадаешь.
                Одни запреты и наказы. </p>
            <p>Но мере роста ребёнка запретов становится всё меньше, так же как всё меньше становится страха перед
                родителем. При всё большем предоставлении свободы, всё больше растёт уважение к родителю. Всё больше у
                ребёнка появляется возможность проявить любовь к своему отцу. Потому что, до определённого возраста
                младенец <span class="article__accent">не способен</span> мыслить и осознанно любить. Вначале, он в
                состоянии испытывать только чувство
                комфортабельности и защиты. Это его устраивает, и именно к этому он стремится. Осмысленная
                привязанность, заслуженное уважение, истинная любовь без страха появляются у ребёнка со временем. Но это
                всё потом, в будущем. </p>
            <p>Ещё одна немаловажная деталь: у ребёнка, до определённого возраста, напрочь отсутствует чувство
                благодарности. «Папа, ты меня в цирк повёл? А ещё мороженку мне купи!». «Авва, Отче! Ты нас из Египта
                выводишь? А ещё нам перепелов пошли, кушать хочется!».</p>
            <p>ак что представляли собой ветхозаветные люди, живущие исполнением заповеди на уровне ребёнка? Рассмотрим
                место из Ветхого Завета: «<span class="article__passage">Когда дерутся люди, и ударят беременную
                    женщину, она выкинет, но <span class="article__accent">не будет
                        другого вреда</span>, то взять с виновного пеню, какую наложит на него муж той женщины; а если
                    будет вред,
                    то
                    <span class="article__accent">отдай душу за душу</span>, глаз за глаз, зуб за зуб…</span>.» (Исх.21,
                22). То есть, драка по тем нормам –
                явление
                нормальное. В драке, под горячую руку, попалась беременная женщина. Если, после этого, у неё произошли
                преждевременные роды, «но не будет другого вреда», то всё закончится денежной компенсацией, которую с
                виновного затребует муж. А если ребёнок родится мёртвым? Или умрёт женщина? Тут уже «отдай душу за
                душу». А потерявший глаз, может рассчитывать, что он выбьёт, глаз своему обидчику. Всё по закону. Око за
                око. Восстанови сам справедливость, закон это не только позволяет, но и предписывает. </p>
            <p>Итак, какими могут быть эти люди, которые живут и действуют в рамках закона, слепо исполняя заповеди?
                Можно себе представить попугаев в конусной, остроконечной клетке. Обязательное условие при этом – в
                клетке нет днища. То есть, попугай может перемещаться по столу, пешком, вместе со своей клеткой. Суть
                вся в том, что, в подобной ситуации, несколько попугаев не в состоянии нанести друг другу вред. Клетка
                является неким ограничителем, преградой, не позволяющей вступить птицам в прямой контакт. И не важно,
                какой это попугай: миролюбивый, или очень драчливый. Пока он соблюдает закон, то есть, сидит в клетке,
                он не в состоянии дотянуться до противника – внешний порядок для окружающих гарантирован. Длительное
                время соблюдение заповедей служило для людей подобным барьером, клеткой. И если твои действия ограничены
                клеткой, и ты не в состоянии нарушить границы этой клетки, то, внешне, можешь выглядеть даже образцом
                для подражания. Хотя, человек ограниченный одними запретами, по своей сущности, в сердце своём, может
                оставаться монстром. Но клетка, ограничивающая свободу, не даёт ни какой возможности проявить личности
                свои истинные качества. На чём же строится необходимость исполнения заповедей? На страхе. На страхе
                перед наказанием, на страхе Господнем. Это основной мотив, предотвращающий нарушение заповеди. Выход из
                клетки, преступление заповеди – есть преступление, за которым последует наказание. Страх Господень –
                основной тормоз для человека, живущего исполнением заповедей. Это самый мощный стимул для того, что бы
                оставаться праведным через исполнение закона.</p>
            <p>Как мы видим из этого, процесс развития человечества подобен воспитанию ребёнка. Поэтому, основанный на
                запретах Ветхий Завет назван детоводителем. Именно в те времена, о грехах людей Господь сказал:
                «<span class="article__passage">помышление сердца человеческого – зло от юности его</span>». Зло – от
                юности сердца человеческого, а вот когда
                человек повзрослеет…. Когда Бог решил, что человечество повзрослело, Он послал к нему Своего Сына
                единородного. Что бы явить народу Свою бесконечную любовь. И род человеческий на это должен был ответить
                осознанной любовью. Что бы исполнилась древняя заповедь: «<span class="article__passage">Люби Господа,
                    Бога твоего, всем сердцем твоим,
                    и всей душою твоею, и всеми силами твоими</span>». А что, израильский народ не любил Господа? Нет,
                не любил. А
                только помнил об этом, не вникая в смысл заповеданных слов. Поскольку эти слова лежали в голове, а не в
                сердце, сказано было израильскому народу далее: «<span class="article__passage">внушай их детям твоим...
                    И навяжи их в знак на руку
                    твою, и да будут они повязкою над глазами твоими, и напиши их на косяках дома твоего и на воротах
                    твоих</span>». Как и обрезание, выполнение этой заповеди тогда было сведено к чисто внешнему
                проявлению. </p>
            <p>И вот, пришёл Иисус. Новая заповедь о любви перевернула мир. Приход Иисуса означал, что человечество
                созрело для любви. Оно, теперь, не только потребитель Божьей любви. Оно вышло из младенческого возраста.
                Человечество способно взять на себя ответственность любить. До этого момента всё было относительно
                просто: Бог обращался к избранному Им израильскому народу, как к чему-то единому, целостному существу. А
                теперь, во времена Нового Завета, нужно было стучаться в <span class="article__accent">каждое</span>
                сердце человека на Земле (<span class="article__accent">вот, стою у
                    двери и стучу</span>). А каждое сердце – это свой мир. Со своими пристрастиями и грехами. Иисус
                переносит центр
                тяжести на внутреннее содержание человека, и на его доверие Богу. Теперь уже нет места разъяснению такой
                ситуации: если в драке кто-то ударил беременную женщину.… Самой драки просто не должно быть. А уж тем
                более ударить женщину. Да ещё и беременную. Если в вас живёт Господь, то нет в вас места для личной
                мести. Вы Богу отдали право на месть. Он, Любящий, восстановит справедливость, а не ты сам, своим
                разумом и своими эмоциями, своими силами. </p>
            <p>Иисус говорит: «<span class="article__passage">Вы слышали, что сказано: «око за око, и зуб за зуб. А Я
                    говорю вам: не противься злому.
                    Но кто ударит тебя в правую щёку твою, обрати к нему и другую</span>». Доверься Богу, откройся Ему,
                будь
                наполнен любовью и Бог избавит тебя от необходимости участвовать в драке. Если всё же тебя ударят по
                щеке, по вере своей, незлобивости, будь готов подставить другую. Господь заступится за тебя, не
                допустит; или Сам воздаст по справедливости. «<span class="article__accent">У Меня отмщение и
                    воздаяние</span>»: не мстите, Я воздам. Главной
                движущей силой (или, в иных случаях, наоборот, ограничением) для человека становится не страх Божий, а
                любовь к Богу.</p>
            <p>Мой сын, рано утром, спешил на работу. Я торопился к нему домой, водиться с приболевшей внучкой. Он
                приближался ко мне с зажженной сигаретой, которую, в темноте, я увидел из далека. Сам я ни когда не
                курил, и тридцатилетний сын знал моё отношение к курению. Когда он подошёл ближе, ни какой сигареты у
                него не было. Съел он её, что ли? Но ведь не из-за страха ко мне. Он меня уважал, любил. И не хотел меня
                расстраивать. «<span class="article__passage">В любви нет страха, но совершенная любовь изгоняет
                    страх</span>». Любящий Господа человек не
                грешит перед Ним уже не из-за страха, а из-за любви к Нему. Человек, достигший совершенной любви, не
                хочет огорчить проступком своего Отца. В этом случае, сердце человека полно благодарности Господу.</p>
            <p>А у ребёнка нет в сердце благодарности. Он всё воспринимает как должное. Искренняя благодарность,
                благодарность от всего сердца, это признак не ребёнка, а взрослого человека. Итак: приход Иисуса
                означал, что человечество созрело для любви. Ребёнок вырос. Время запретов прошло. Как и время обращения
                Господа к единственному избранному народу, как бы к некому единому существу. Теперь Господь обращается
                не к одному израильскому народу, в целом, а к каждому представителю человечества, то есть, к каждой
                личности; Он стучит в каждое сердце. «<span class="article__passage">Вот, стою у двери и стучу</span>».
                Клетки попугаям разрешили снять. Но
                как можно? Ведь законы и заповеди даны Богом. Если это обвинение, то Иисус отвергает его. «Не думайте,
                что Я пришёл нарушить закон или пророков; не нарушить пришёл Я, но исполнить». Как исполнить? Чем?
                Любовью. «<span class="article__passage">Возлюби Господа Бога твоего…</span>» и «<span
                    class="article__passage">Возлюби ближнего твоего…; на сих двух заповедях утверждаются
                    весь закон и пророки</span>». Потому что, любя Господа, не согрешишь против Господа. Любя своего
                ближнего, не
                согрешишь против ближнего. «Любовь не делает ближнему зла; любовь есть исполнение закона». Такой подход
                к человеку – это не послабление ему, не потакание его натуре. Наоборот. В заповедях Христа требования к
                человеку возрастают: «<span class="article__passage">Вы слышали, что сказано древним: «не
                    прелюбодействуй». А Я говорю вам, кто смотрит
                    на женщину с вожделением, уже прелюбодействовал с нею в сердце своём</span>». То есть, если раньше,
                по Ветхому
                Завету, согрешить можно было <span class="article__accent">действием</span>, то теперь в вину ставилось
                вожделение, <span class="article__accent">желание</span>; сама картина
                события, ещё не произошедшего, но уже заслонившая, вытеснившая присутствие Бога в сердце верующего
                человека. </p>
            <p>Состояние сердца – вот, что главное для Отца у повзрослевшего ребёнка. «<span
                    class="article__passage">Иисус сказал: неужели и вы ещё не
                    разумеете? Ибо из сердца исходят злые помыслы, убийства, прелюбодеяния, любодеяния, кражи,
                    лжесвидетельства, хуления</span>». А как можно исцелить, очистить сердце от греховных помыслов,
                изменить
                испорченную природу человека? «Человекам это невозможно, Богу же всё возможно». Бог может это сделать, и
                делает через Слово Свое. Но сердце каждого человека – это целый мир. И эти миры не только разнообразны,
                а порой противоречивы; и по своим качествам бывают диаметрально противоположны друг ко другу. Человек
                может быть жадным, а второй оказывается транжиром и мотом. Один уповает на себя, на собственные силы,
                другой – сам пальцем не пошевелит, всё готов возложить на Господа. Кто-то бесчинствует, относясь без
                должного уважения к чину, к положению старшего, а кто-то явно лицемерит, подчёркнуто выделяя из
                окружающих лицо, занимающее высокое положение. Могут ли быть одинаковые рецепты в Новом Завете для этих
                людей? Казалось бы: не будьте жадными, как тот молодой человек, которому Иисус предложил раздать его
                имение, что бы иметь жизнь вечную. А молодой человек не смог расстаться с имением. Не прилипай сердцем к
                сокровищам земным! Но может ли быть нам примером блудный сын, из другой притчи, который без сожаления
                расточал имение своё? Он не был жадный. У него, точно, сердце не прилипло к сокровищам земным. Но
                приобретёт ли он, благодаря этим качествам, жизнь вечную?</p>
            <p>В другом месте Иисус ставит в вину Симону фарисею, как хозяину, отсутствие должного почитания: «<span
                    class="article__passage">Я пришёл
                    в дом твой, и ты воды Мне на ноги не дал…. Ты целования Мне не дал…. Ты головы Мне маслом не
                    помазал</span>». А
                Марфе, которая с ног сбилась, пытаясь угодить Иисусу в своём доме, Он сказал: «<span
                    class="article__passage">Марфа! Марфа! Ты
                    заботишься и суетишься о многом, а одно только нужно</span>». Сядь, Марфа, у ног Христа! И слушай
                Его. Это были
                разные люди, и поэтому у Иисуса противоположные требования к ним в одинаковых, казалось бы, ситуациях. А
                как можно исполнить одновременно напутствие заботится о своих домашних и утверждение, что враги человеку
                – домашние его? Эти слова явно относится к разным людям. Один забросил дом, семью и, якобы, служит
                ближним, церкви. Его пыл должны охладить слова, что он «<span class="article__passage">отрёкся от веры и
                    хуже неверного</span>». Зато другому,
                погрязшему в домашней суете, и «отодвинувшему» Господа на второй план, будут обличением слова: «<span
                    class="article__passage">Враги
                    человеку – домашние его</span>». Потому, что домашние стали камнем преткновения на пути к Господу.
            </p>
            <p>Господу нужны преданные, изменённые сердца. А нам нужна мудрость, присутствие Духа Святого, что бы брать
                те места из Святого Писания, которые изменяют наше сердце, а не служат оправданием для наших
                недостатков. Тогда произойдет духовный рост человека. Страх Божий, страх перед наказанием, постепенно
                растворится, уступая место любви к Господу. Совершенная любовь изгоняет страх. «А как стал мужем, то
                оставил младенческое». </p>
            <p>Итак: человечество, как новорождённый младенец, прошло через этап взросления и становления. Миновав
                детский период запретов, человечество, после нового учения Иисуса Христа вступило в эру любви, в эру
                благодати. Насколько мы к этому готовы, и как жить по благодати, это другой вопрос. Но сколько в своей
                жизни мы встречаем людей, искренне исполняющих заповедь: возлюби своего ближнего? Бог знает. Кто-то
                чувствует себя уверенно, стараясь исполнять заповеди и обряды, живя в страхе перед Господом и тоже
                искренне считая, что этим он угодил Богу. Ходит, оградив себя клеткой от окружающих, что бы ни сделать,
                не сдержавшись кому нибудь больно. А кто-то как Павел, может воскликнуть: «Всё мне позволительно!». Люби
                Бога и делай что хочешь! Так же и церкви: каждая находится на своём уровне. Есть те, которые на уровне
                младенцев, ревностно соблюдают все законы и обряды. И они необходимы тем людям, которые не в состоянии
                жить, впустив в открытое сердце Господа. Эти люди не могут без ограничивающей клетки. А есть такие
                церкви, в которых учат, что «Всевышний не в рукотворных храмах живёт». Клетки, манежи и ходунки – это
                для младенцев. «Ибо вот, Царствие Божие внутрь вас есть». Оно есть внутри нас. Или его нету.
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>