<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Власть</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Власть</h1>
            <p>«Нет власти не от Бога» - это любимое место в Библии для некоторых верующих, обожествляющих всякую власть
                и
                всех её представителей. Но так ли всё просто, как это кажется? Для полного погружения в тему мы,
                вначале,
                рассмотрим эпизод, в котором сатана предложил Иисусу броситься вниз с крыши храма, ссылаясь на Святое
                Писание. Там написано о Сыне Божьем, что ангелы «… <span class="article__passage">на руках понесут
                    Тебя, да не преткнешься о камень ногою Твоею</span>». На что Иисус ответил: «<span
                    class="article__passage">Не искушай Господа Бога
                    твоего</span>». (Лк. 4, 9-12) Но ведь сатана
                произнёс
                слова
                из священного Писания. А Иисус ему отказал! ЗНАЧИТ, иногда важны не только сами слова, выдернутые
                произвольно из Священного Писания, но важно и то, кто произносит их, с какой целью, и как эти слова
                выглядят
                в историческом контексте.</p>
            <p>Помня об этих условиях (кто говорит, с какой целью, в какой исторический период) и соблюдая их, давайте
                рассмотрим фразу «Нет власти не от Бога» более детально.</p>
            <p>
                Что это значит? Весь этот мир от Бога, всё создано Им. И земля, и человек от Бога. Всё было совершенным.
                Бог
                наделил человека властью над землёю, и всей живой сущностью, которая наполняет её. Это была власть
                данная
                Богом. Вот отсюда утверждение: «<span class="article__accent">Всякая власть от Бога</span>». Но человек
                лишился власти в результате своего
                грехопадения. Власть (изначальную от Бога) получил сатана. Он сумел соблазнить человека, и после этого
                власть, данная Богом человеку, досталась ему. Наличие власти у сатаны, подтверждает его попытка искусить
                властью уже самого Христа. «<span class="article__passage">Тебе дам власть над всеми сими царствами,…
                    если Ты поклонишься мне…</span>». То
                есть, в
                тот момент, сатана уже обладал властью. И он мог распоряжаться ей по своему усмотрению. Так что слова
                «<span class="article__accent">Всякая власть от Бога</span>» не оправдывает всякую власть. Кстати, Иисус
                отказал сатане: «<span class="article__passage">Господу Богу твоему
                    поклоняйся и ему одному служи</span>». Фактически, Иисус не послушался имеющего власть и отказал
                сатане. А если
                бы
                согласился? Ведь, всякая власть от Бога.
            </p>
            <p>Тогда кому поклоняются наши власти, которых мы боготворим, думая, что они этого заслуживают, и что мы,
                своим
                поклонением властям, выполняем волю Божью? Многие из нашего руководства, наши начальники и лидеры,
                которые
                пытаются нам указывать дорогу, признают и ценят только две вещи в этом мире: деньги и власть. Деньгам
                они
                поклоняются потому, что они дают власть, а к власти стремятся потому, что она приносит деньги. Если
                Иисус
                отдал предпочтение Богу и только Ему Иисус обещает служить, то наши власти служат другому богу – Мамоне.
                Как
                и всем людям, находящимся у власти, сатана (пусть не так явно и откровенно как Иисусу) тоже предложил
                выбор.
                И они сделали его в соответствии со своим духовным миром.</p>
            <p>Исходя из этого: можем ли мы считать всякую власть над собой Божьим благословением? Или, может, это Божье
                допущение? Возникает ещё вопрос: зачем Бог дал власть, если она является поводом для соблазна? Одни
                всячески
                стремятся заполучить власть для собственной выгоды. Другие, наоборот, стараются не подчиняться власти
                тиранов и самодуров. Всякая власть от Бога; но так же, как и весь этот мир от Бога. Наша жизнь проходит
                в
                постоянном выборе между Богом и сатаной, между Добром и Злом, между стремлением к праведному образу
                жизни и
                грехом. Для человека облечённого властью, власть может являться как благословением, так и искушением,
                соблазном. Бог, дав нам свободу выбора, предоставил каждому возможность проявить свою сущность: через
                власть
                или ничтожество, богатство или нищету, здоровье или болезни. Власть не является однозначно признаком
                Божьего
                благословения; или, наоборот, появлением абсолютного зла. Выбор между этими двумя крайностями зависит от
                решения человека, имеющего власть.</p>
            <p>А если бы Бог с самого начала создал мир без иерархии? (иерархия—порядок подчинённости низших звеньев
                высшим). Что плохого, если все были бы равны? Тогда дети не имели бы уважения к родителям; молодёжь не
                почитала стариков; жены вели себя на равных с мужьями. Отсутствие лидеров, руководителей, начальников
                вызвало бы потерю всякого управления: ни кто, ни кому не подчиняется – все равны.</p>
            <p>Из-за чего прекратилось строительство Вавилонской башни? Все стали говорить на разных языках и разошлись?
                Проблемы возникли из-за того, что указания начальников, команды прорабов, перестали выполняться
                подчинёнными, которые их не понимали. Кто-то, знающий план и имеющий власть, должен был координировать
                работу и специалистов и чернорабочих. В сложившейся ситуации управление было потеряно. Всё остановилось
                и
                люди разошлись. Так что, безвластие – это хаос. А власть, иерархия необходима человечеству.</p>
            <p>Как видим, власть может быть не только благословением от Бога; она может быть и на служении сатане. За
                нами
                остаётся выбор: как к ней относиться? С Божьей помощью выступать против носителей Зла, обладающих
                властью и
                быть противниками творящихся преступлений. Или быть свидетелями, даже соучастниками этих преступлений.
            </p>
            <p>Жить, подчиняясь слугам Божиим, наделённым властью, которые являются проводниками добра и исполнителями
                Божьей воли. Или постоянно брюзжать по поводу наложенных на тебя обязанностей?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>