<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Записки склерозника</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Записки склерозника о хороших игрушках и плохой памяти</h1>
            <p>Мы купили своей дочке полезную игрушку. Ребенок от нее в восторге. На желтой пластмассовой доске, по
                белому экрану пишешь или рисуешь, что хочешь, магнитиком, сделанным под шариковую ручку. Но самое
                интересное для ребенка – это одним движением все стереть. В этом для нее вся радость. Взявшись за
                рычажок, делаешь движение рукой и перед тобой снова чистое белое поле. Это мне так показалось похожим на
                нашу жизнь. Во всяком случае на мою. Вот, в памяти, вроде что-то было, а уже нет, чисто. Такое у меня
                после инсульта стало. Как у того киношного героя, в исполнении Леонова: “Вот тут помню, а тут не помню”.
                Вот и сейчас название фильма не могу вспомнить. Провалы в памяти.
            </p>
            <p>Вот, например, давно ли подводная лодка “Курск” затонула? В первые часы и дни мы, затаив дыхание, слушали
                последние новости. Нам рассказывали о том, что, оставшиеся в живых, на подводной лодке просят помощи,
                стуча по железу: “…SОS…SОS…”. По первости нас дружно убеждали, что они там, на глубине выдержат
                несколько дней и даже недель. Наверное поэтому мы отказались от помощи иностранцев. Думали, что сами с
                усами. Хотели как лучше…. Это уже потом, когда те, немногие из живших, задохнулись, тогда мы
                использовали иностранную технику. Что бы поднять самое ценное: шифры, секретное оборудование. Ну и,
                естественно, саму подводную лодку. </p>
            <p>А к чему это я? Забыл. А вот как раз к этому, что я забыл. Я имею в виду саму трагедию, я уже ее забыл!
                Более того, само поднятие подлодки, иностранной техникой, запомнилось как триумф нашей науки и
                проявление массового героизма. По телевизору показывали как следователи, по холоду, ходят среди обломков
                искореженного металла, и сам прокурор, забыл опять, может даже главный прокурор, комментирует их
                действия. В общем, толком я ничего не помню, а осталось только чувство гордости за своих. Да, еще за
                президента! Он сохранял хладнокровие и спокойствие в течение всего времени. Даже не прервал своего
                отпуска на берегу Крыма. Ни какой паники!</p>
            <p>К чему это я? Да и не важно! Смотрел я недавно кино про фашистов. Сейчас эти фильмы совсем стали
                редкостью. Теперь все про злобных, коварных чеченцев показывают. Особенно по ОРТ и РТР. И вот, смотрю я
                о зверствах фашистов и чувствую, что не могу вспомнить: как же называли этих людей, которые продолжали
                войну на оккупированной территории? Вспомнил все-таки! Партизаны, народные мстители. А фашисты, эти
                отряды народных мстителей называли наоборот – бандформированиями. Нет, не так. Как-то короче. Вспомнил –
                бандиты. Точнее – бандитэн. На свой лад. Потому, что те убивали фашистов, где могли. Убивали
                полицейских, своих же земляков, которые пошли в услужение к захватчикам. Партизаны вели настоящую минную
                войну. После войны их, как национальных героев, многих наградили. Вот, что я со своим менингитом,
                извините, инсультом, вспомнил. Люди воевали за свою свободу, за свою независимость. И невозможно было
                поставить советский народ на колени. Неважно, какой они были нации: белорусы, украинцы, русские. </p>
            <p>Так к чему это я об оккупантах? Не помню, да и неважно. Лучше об этой трагедии с заложниками в
                “Норд-Осте”. Тут-то пока я еще хоть что-то помню. В начале немного истории. Я не знаю, как это
                объяснить, но получилось так, что озверевшие уголовные элементы не осели где-нибудь в Магадане, на
                Колыме, а почему-то оказались в Чечне. Т.е., на территории отдельно взятой братской республики,
                большинство коренного населения оказалось с преступными наклонностями. Так, наверное, бывает. Наши
                ученые и историки объяснили потом, что у них менталитет такой. У чеченцев. Ну мы ввели туда войска, что
                бы навести конституционный порядок. Только не думайте, что мы хотели навести какой-то там “новый
                порядок”. Мы как раз хотели оставить все по-старому. Как раньше. Конечно, в итоге, жители братской
                республики не смогли противостоять нашей краснознаменной армии. Но вместо того, что бы сдаться по
                честному, на милость победителей, и прекратить эту братоубийственную войну, чеченцы решили потребовать
                мира для своей земли … захватив заложников в “Норд-Осте”.</p>
            <p>Вот уже действительно их коварству и кровожадности нет предела. Менталитет у них такой. И вот тут, я не
                собираюсь покушаться на честь и достоинство нашего президента, но, мне кажется, что у него, в первый
                раз, сдали нервы. Если это не так, я готов извинится. Судите сами. Сколько лет мы их “мочим”, ну и, чего
                скрывать, тоже имеем некоторые потери. Точную цифру я, опять же, не помню. А может, и не знаю. Но
                президент, даже глазом не моргнув, ратует за войну до победного конца. До конца, разумеется,
                террористов. Он так же проявил спокойствие и хладнокровие в Крыму, во время своего отпуска. Когда
                оставшиеся в живых моряки, задыхаясь, стучали по корпусу подводной лодки, зная, что все равно их спасут.
                Но когда террористы захватили заложников в “Норд-Осте” и начали требовать мира для Чечни, это, поверьте,
                кого угодно может выбить из колеи. Даже такого человека, как Путин. Только так можно объяснить
                поспешность, с которой на третий день начался штурм “Норд-Оста”. Где-то, в Латинской Америке, по-моему,
                террористы держали заложников в доме японского посла несколько месяцев. И власти, что бы избежать
                напрасных жертв, по мелочам шли на уступки террористам до самого штурма. А мы действовали, как в той
                песне: “Но нам нужна одна победа, одна на всех …”. Дальше, извините, я опять не помню. И мочить
                террористов мы готовы всегда. Не только в туалете. И замочили. Как тараканов, побрызгали их дихлофосом.
                Понятно, что не обошлось и без жертв с нашей стороны. На войне, как на войне. Хорошо, что мы обошлись
                малой кровью. 150 человек погибших на 750 заложников. Как сказал Борис Немцов по телевизору: “Блестящая,
                фантастически успешная операция”. Не будь этого штурма, вы знаете, что, в принципе, могло произойти?
                Люди, поддавшись на провокационные требования террористов, говорят уже по Красной площади шли с
                плакатами, требуя остановить войну в Чечне. Что может быть хуже, чем идти на поводу у террористов?</p>
            <p>А так – раз и все. Нет человека – нет проблемы. Я имею в виду террористов. Им еще повезло, что мы
                точечный ракетно-бомбовый удар по “Норд-Осту” не нанесли. Как американцы в Югославии. Мы бы, вдвоем, с
                моим склерозом, проголосовали бы “за”. Может этого и боялись заложники больше всего. Судя по словам
                наблюдателей, они с первого дня находились в шоке и депрессии. А зря, операцией руководили умные люди.
                Одни. Без инсульта.</p>
            <p>Что-то все-таки я опять забыл. Инсульт, вы уж меня извините. А-а-а! вспомнил! Я уверен, что есть третий
                вариант сценария освобождения заложников в “Норд-Осте”. Правильный. Я сразу предупреждаю, что первые два
                моих варианта абсолютно неправильные. Это даже скорее бред. Итак, первый: наши профессионалы из
                спецслужб пускают газы, что бы “замочить” террористов, в помещение “Норд-Оста”. Это у них получилось
                блестяще. И видимо первыми отключились насовсем террористы, даже, не успев шевельнут пальцем. Иначе все
                бы взлетело на воздух. Но тогда не понятно, зачем расстреливать бездвижные тела террористов? И я не
                принимаю подсказку, что это сделано профессионалами от страха, мол, террористы могли придти быстро в
                сознание. Т.к. заложники, которые остались в живых после фантастически успешного освобождения и
                последующего лечения, до сих пор не могут поправиться. А некоторые все еще на лечении. Теперь второй
                неправильный вариант: использованный газ действовал на всех, но в разной степени. Причем дети и женщины,
                об этом говорилось открыто, пострадали первыми и в большей степени. Ни тогда молодые парни-чеченцы,
                теряя сознание в числе последних, имели несколько секунд или даже минут. Достаточно было только одному
                шевельнуть пальцем … .Но никто не пошевелил.
            </p>
            <p>Что же это, с их стороны был блеф? Желание всех взять на испуг, имея призрачную надежду, что пред лицом
                страшной опасности им пойдут на уступки? Но такого быть не может. Для этого нужно очень любить свою
                землю и быть глубоко порядочным человеком. А тут, перед нами, террористы, в “поясах смерти” со
                взрывчаткой, и пальцем на кнопке взрывателя, вооруженные до зубов, и неоднократно заявлявшие заложникам,
                что взорвут себя и их тоже. Поэтому я говорю, что есть третий вариант, правильный и единственный.
                Которого я не знаю, но он объясняет все. Додуматься до него я не могу. Видимо от инсульта у меня
                пострадала не только память</p>
            <p>Так о чем это я? Вспомнил! Я же начал с игрушек. Так вот, та игрушка, где все с белого экрана стирается,
                очень хорошая. Только иногда ползунок, который все стирает, заклинивает и он не движется. Но ты, дочка,
                не плачь. Вот придет папа и опять все сотрет.</p>
            <p>Да, и еще. В свое время люди искренне верили в существование “врагов народа”. И Вахрлаам Шаламов
                описывает, как за поимку сбежавших “врагов народа”, или за содействие властям в их задержании, советские
                люди получали пайки. Представляете, какая была радость в доме, на столе и в душах людей! Мало кто это
                сейчас помнит. Наверное склероз … . </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>