<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Невесомость и поиски горнего</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Невесомость и поиски горнего</h1>
            <p>Ни как не могу вспомнить, откуда в моей памяти этот образ: парящее в воздухе растение, свитое всё в
                клубок, как перекати поле. Не имеющие начала и конца, белые, мясистые стебли, образуют подобие шара. И
                тут же, в моей голове, озвучивается пояснение: это растение выросло в космосе, в условиях невесомости.
                Кадры это из научно-популярного фильма? Или программа «Время», в очередной раз, говорила о наших
                достижениях в космосе? Или кадры из научно-фантастического фильма? </p>
            <p>Но, для меня суть в следующем: не испытывая земного притяжения, не зная где верх, а где низ, проросший
                росток из набухшего семени, пытаясь сориентироваться, тычется во все стороны. Куда расти? Туда? Туда?
                Где верх, где низ? Где добро, где зло? У растения нет почвы, которая бы притягивала как мать-земля, и
                давала направление стеблю: там высота, туда расти! <span class="article__accent">Горнее</span> – слово
                из Библии. Горное – так, наверное,
                прозвучит оно на современном языке. Высокое, вышнее, небесное. Апостол Павел восклицает в своём
                послании: «<span class="article__passage">Ищите горнего, о горнем помышляйте, а не о земном!</span>».
            </p>
            <p>Так, где оно это горнее? В каком направлении? Куда же нам тянуться, что бы потеряв ориентир, не сбиться в
                клубок, пронизывающий самого себя, свои стебли, собственными новыми побегами, став себе и пищей и
                смертью одновременно? Где этот ориентир? Не нужно изобретать велосипед. Ответ известен людям от Иисуса:
                «Я есмь путь и истина и жизнь!».</p>
            <p>Так почему же в истории России этот ориентир не сработал? Да был ли у нас ориентир?</p>
            <p>Давайте оглянемся назад. Почему в семнадцатом году прошлого века, в православной стране произошла
                кровавая бойня? Через десять лет, в этой стране начали рушить храмы и церкви. А куда же все православные
                делись? Наблюдали? Или, за прошедшие десять лет, вымерли? Или их и не было? Во всяком случае, в нужном
                количестве. Для роста вверх нужна почва под ногами и ориентир. Так был ли у нас этот ориентир, и была ли
                у нас почва под ногами? Почему мы, как глухие тетерева, сейчас поём о себе хвалебные песни, не видя и не
                слушая происходящего вокруг? Почему с экранов телевизоров сейчас раздаются вопли о том, что мы
                великомученический народ, который Бог избрал для того, что бы предостеречь всё человечество, показать
                другим народам, как нельзя жить? То есть, мы, как Иисус Христос, взяли на себя чужое иго и понесли.
                Народ страстотерпец. Не больше и не меньше. </p>
            <p>В наши дни опять всё вернулась на круги своя. Всё по той же схеме, но только, наоборот: за последние
                десять лет мы снова поголовно стали православными! Такие вот кренделя выписываем. Я вижу это мясистое,
                белое растение, сбившееся в комок, которое само себя протыкает стеблями, в поисках направления: а где же
                горнее, небесное? Куда расти, куда стремиться? Видимо, от большой скромности, для себя решили, что мы
                Богом избранный народ. Вопреки Библии, которая утверждает, что со дня создания мира Бог избрал и
                благословил еврейский народ. </p>
            <p>Бог не мог ошибиться! Он, видя начало и конец созданного Им мира, уже тогда выбрал самое лучшее из
                человеческих племён и народов. Это еврейский народ дал миру великих пророков и апостолов. Иисус Христос,
                Сын Божий, был евреем. А тут на тебе! Как яйцо на Пасху, вывалился откуда-то русский народ и
                провозгласил себя святой Русью: «Евреи Христа не приняли! Распяли Сына Божьего!». А мы приняли Христа?
                Разве мы не помогали распинать Его??? Вот здесь вот, не на Голгофе, а в России!</p>
            <p>Все мы посильно создавали и укрепляли мощнейшую державу воинствующих атеистов. «<span
                    class="article__passage">Нерушимый блок
                    беспартийных и коммунистов</span>» – вот где находились до недавнего времени православные святой
                Руси. Так
                принимали мы участие в распятии Христа? Предали мы Его, или нет? Знал ли Бог о нашем предстоящем
                предательстве, ещё тогда, когда благословлял избранных Им евреев? Может они были лучшие из худших, но
                всё равно <span class="article__accent">лучшие</span>. Почему мы себя считаем третьим Римом? Может нам
                ближе, по духу, Вавилонская блудница,
                которая, согрешив «<span class="article__passage">обтёрла рот свой, и говорит: «я ничего худого не
                    сделала</span>». </p>
            <p>Если евреи дали миру многих Богом благословенных людей, то кого дали мы? Лен<span
                    class="article__accent">ин</span>, Стал<span class="article__accent">ин</span>, Пут<span
                    class="article__accent">ин</span>. Да! Ещё и
                Распут<span class="article__accent">ин</span>! Этих? Значит, святой Руси тоже есть, чем гордиться. А
                если нам начать с того, что бы стать,
                наконец, перед самими собой честными? Перестать называть себя народом-богоносцем. Иначе, как объяснить,
                как мы, богоносцы, обошлись с Николаем вторым, помазанником Божьим: вначале расстреляли всю его семью,
                потом закидали гранатами, потом посыпали извёсткой. Как объяснить, что с ними вместе были расстреляны:
                слуга, лекарь, повар? Которые, не смотря ни на что, их не покинули. Но не было священника в эти минуты с
                помазанником Божьим. Сам Николай второй в нём не нуждался? Или никто из православных священников не
                захотел разделить участь царя и царской семьи?</p>
            <p>Нам необходимо осознать: <span class="article__passage">кто мы такие на самом деле</span>. И покаяться.
                Видимо, не было ни когда у нас почвы
                под ногами и ориентира в горнем мире. Вот и получился такой мутант-гибрид в невесомости. Кто этот опыт
                проводил? Может, пришла пора назвать автора? </p>
            <p>А растение…. Растение считает, что раз оно живо, значит, оно живёт. Потому, что другой жизни оно не
                представляет и знать не может. Да его ещё усиленно в этом убеждают: «О! Ты единственное в своём роде.
                Исключительное и уникальное. Ты над всеми паришь!». Разве это жизнь, в невесомости? Но она есть, эта
                другая, настоящая жизнь. Если только есть ориентир и почва под ногами. «<span
                    class="article__accent">Ищите горнего, о горнем
                    помышляйте</span>».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>