<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Оборотни</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Оборотни</h1>
            <p>Недавно все средства массовой информации ошеломили нас известием: в Москве раскрыта большая группа
                работников милиции, куда входили весьма высокопоставленные чины. Представляете, какая неожиданность! В
                прессе их обозвали «оборотнями». Мне тут же вспомнился одноименный фильм «Оборотни», из сериала
                «Рожденные революцией». Там группа подонков, используя документы и форму милиционеров, занимались
                грабежами. Можете себе представить этих мерзавцев?! Так подставить, очернить советскую милицию!</p>
            <p>Откуда взялась в нашем обществе это явление – оборотни, безо всяких кавычек? Люди перевертыши, меняющие
                не свое лицо, а свою сущность – с человеческой на звериную.</p>
            <p>Мы жили в нормальном, советском обществе. Нас окружали милые, отзывчивые люди. Но вот произошли
                изменения. Появилась свобода, демократия. Появились богатые и состоятельные. И вот неожиданность.
                Разбогатевший человек становился «новым русским». Что это такое, вы уже все знаете. Тупой,
                необразованный, о котором ходят анекдоты, жадный и чванливый человек. В свою очередь, очень
                разбогатевший «новый русский» становился «олигархом». Этих вы тоже знаете. Это те, которые нанимают
                киллеров и сами ходят с телохранителями. Судя по телевизору, свои состояния они нажили неправедным
                путем.</p>
            <p>Что характерно – похоже, среди этих «новых русских» и «олигархов» совсем нет порядочных людей. Как будто
                дали команду богатеть только подонкам.</p>
            <p>Или вот еще, к примеру: был госслужащий, какой-нибудь маленький начальник, чиновник. Теперь это
                взяточник, безжалостный вымогатель. Человек без совести. Откуда только такие берутся? Наверное в этих
                случаях подходит житейская мудрость: деньги портят людей.</p>
            <p>Но тут не состыковка. В Свердловске, где я лежал в больнице, поступила больная. Поскольку она не взяла с
                собой сменную обувь, то ей пришлось босиком, по бетонному полу, пройти через длинный коридор, подняться
                на третий этаж, в неврологическое отделение. Ночью ее спустили на второй этаж, в терапию. Оказывается,
                до этого у нее были больные почки. Сейчас она их застудила, поднимаясь на третий этаж босиком. Только
                через две недели ее перевели лечиться в неврологию. Если быть оптимистом, то ей, можно сказать, повезло:
                потому, что в подвале находится морг. В местном санатории, первый раз прийдя на процедуру, я поставил
                тапочки под топчаном. Уходя, я обнаружил, что тапочки запнуты далеко под топчан. Медсестра, наклоняясь
                надо мной, во время процедуры, пнула их подальше. Больно, а главное унизительно, на негнущихся ногах
                доставать тапочки. На второй день, уже пройдя несколько процедур, я опять зашел в этот кабинет и
                машинально поставил тапочки так же. И опять мне пришлось их вытаскивать из под топчана. Так было три
                дня, пока я не уяснил – куда надо ставить тапочки. Я не могу сказать, что медсестра ехидно в это время
                наблюдала за мной. Нет. Скорее она меня не видела. В упор. Что тут можно сказать? Ведь вы же знаете
                сколько получают наши медики!</p>
            <p>А наши бедные, в прямом смысле, учителя? На это нищенское пособие, вместо зарплаты, чему и как они могут
                научить наших детей? Сеять разумное, доброе, вечное? Кажется, мы уже пожинаем плоды. Все-таки житейская
                мудрость не права: недостаток денег тоже портит людей. В чем тогда дело? Что делает людей оборотнями?
            </p>
            <p>Недавно мы отметили праздник – День защитника Родины. Очень хороший праздник. Я попытался вспомнить:
                когда же последний раз на нашу Родину нападали? Когда она нуждалась в защитниках? Оказывается такое было
                более шестидесяти лет назад. Да вы, наверное, помните?
                Но с тех пор, в мирное для нашей Родины время, мы принимали участие в боевых действиях на территории
                более, чем двадцати стран! Я поясняю свою мысль. Если кто-то вломился в мой дом, а я его выдворил, то я
                защищал свой дом. Т.е. я защитник. А если я, в чужом доме, делаю то, что мне кажется нужным…. Вот опять
                мы пришли к слову «оборотни». Мы, как защитники своей Родины, успешно уничтожали собственный народ. В
                начале шестидесятых годов была полностью расстреляна демонстрация рабочих. Совсем недавно, в Москве, у
                Белого дома, погибли люди, и число их даже не установлено. В наши дни идет война в Чечне, тоже против
                собственного народа. Ведь, насколько я помню, Чечню никто не вывел из состава России. Это наши люди.</p>
            <p>Единственное, что, при всем этом, успокаивает – так это качественная изменение наших бывших карательных
                органов. Когда расстреливали богатых людей, умных, профессионалов и священнослужителей, тогда эту
                организацию называли ЧК. Совсем в недавнее время эта организация боролась с диссидентами, с
                «самоиздатом», с религией. Всем тем, что могло разрушить существующий тогда развитой социализм. Имя ей
                уже было КГБ. Сейчас же представитель этой организации, теперь это ФСБ, управляет всей нашей страной,
                являясь ее президентом. Он говорит, что мы должны строить открытое демократическое общество, с правом на
                частную собственность. Что главной ценностью у нас должен являться человек и его жизнь. Это радует и
                вселяет надежду.</p>
            <p>Но давайте вернемся к оборотням. Откуда же их у нас столько стало? Ответ я нашел у святого Иоанна
                Кронштадского. Его называли «молитвенником всея Руси». Еще до нашей Великой Октябрьской Социалистической
                Революции он произнес слова, которые оказались пророческими: «Господи, Ты непрестанно побеждаешь во мне
                ад, по молитве моей! Слава тебе, Благодетелю, Спасе наш! Что было бы с нами без Тебя? Мы были бы как
                истые звери, и истребили бы друг друга. Что с отдельными личностями было бы, то и с целыми народами.
                Если бы все жили по Евангелию Твоему, не было бы тогда вражды, междоусобий, войн. Когда же мы вполне
                осознаем необходимость для нашего блага, временного и вечного, жить по Евангелию? А теперь как мало
                читающих Евангелие!»</p>
            <p>Оказывается, для того, что бы оставаться человеком, победившим в себе ад – ненависть, зло, нужно молиться
                и читать Евангелие. И тогда Бог в этом поможет. А без этого …. Без этого превратимся, обвернемся
                (оборотни) в истинных зверей. Жизнь человеческая ни чего не будет стоить. Мы будем уничтожать друг друга
                и целые народы.</p>
            <p>Это было сказано накануне двадцатого века. Незадолго до революции. Жутко становится. Как точно Иоанн
                Кронштадский предвидел события! Видно Бог через него предупреждал. «Кто имеет уши слышать, да услышит!»
                А кто услышал?</p>
            <p>Святитель Феофан Затворник в своих письмах пишет: «Веровать в Бога и быть с Ним в общении (молиться) –
                вот человек. И кто отступает от этого, тот не по-человечески думает и настроен». А если не по
                человечески настроен и думает, то как? По звериному? Я понимаю, что следующая его фраза многим будет
                резать ухо. Но звучит она так: «Неверующие – выродки, несчастные из несчастных». Выродки – это не
                ругательство и не оскорбление. Выродки – это те, кто вырождается, деградирует. Т.е. изменяется, но в
                худшую сторону. Был человек, а обратился в зверя. Оборотень. Но «несчастнейший из несчастнейших». Вот
                так.</p>
            <p>Закончу я фразой Иоанна Кронштадского: «Без Бога в сердце – человек жить не может. Бог – солнце души. С
                утратой духовного солнца человек или умирает, или приобретает звериный образ». Страшно то, что мы
                привыкли к звериной жизни. Ни чего не хотим менять. Мы думаем, что причина наших бед не в нас, не в
                отсутствии в нас Бога, а в чём угодно и в ком угодно. Поэтому мы видим только врагов в окружающих нас
                людях, нациях, странах. «Будучи помрачены в разуме, отчужденны от жизни Божией, по причине их невежества
                и ожесточения сердец их» – так говорит Библия. Думаю, теперь понятно, откуда «Оборотни»? Из сериала
                «Рожденные революцией».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>