<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Куда смотрит Бог?</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Куда смотрит Бог?</h1>
            <p>Один и тот же вопрос можно услышать и при свершении мировых катаклизмов: войны, голода, эпидемий, когда
                погибают тысячи и даже миллионы людей. Так же как и при неутешном горе человека, который потерял своего
                близкого: «Куда смотрит Бог?»</p>
            <p>Куда смотрит Бог – любящий и милосердный? Которого мы называем своим Отцом и в молитве обращаемся к нему:
                «Отче наш». Ведь происходит жестокость и несправедливость в самых крайних формах. Порой человеческий
                разум не в состоянии в себя вместить всю бессмысленность происходящего. Господи! Как такое Ты
                допускаешь? Как это понять? Где ответ, где объяснение происходящему?</p>
            <p>Откроем Библию, Евангелие от Иоанна 3, 16-19: «<span class="article__accent">Ибо так возлюбил Бог мир,
                    что отдал Сына Своего
                    единородного, дабы всякий, верующий в Него, не погиб, но имел жизнь вечную. Ибо не послал Бог Сына
                    Своего в мир, чтобы судить мир, но чтобы мир спасен был чрез Него. Верующий в Него не судится, а не
                    верующий уже осужден, потому что не уверовал во имя единородного Сына Божия. Суд же состоит в том,
                    что
                    свет пришел в мир; но люди более возлюбили тьму, нежели свет, потому что дела их были злы. Ибо
                    всякий,
                    делающий злое, ненавидит свет и не к свету, чтобы не обличились дела его</span>».</p>
            <p>В этом тексте обозначена главная мысль Нового Завета: Бог, по любви своей, послал Сына, что бы спасти
                человечество. Об этом говорят все четыре Евангелия. Само слово «евангелие» переводится как «радостная
                весть». Имя Христос означает Искупитель, Спаситель. То есть, в Библии мы имеем радостную весть: Бог дал
                нам Спасителя. Это главная и основная весть для поверивших в Иисуса Христа.</p>
            <p>Но я хочу вернуться к вопросу: почему Бог допускает кровавые войны, ни чем, казалось бы, не оправданную
                человеческую жестокость, бессмысленную смерть близкого человека. В прочитанных нами стихах, кроме
                выделенной мысли о любви Божией, о Спасителе, дается пояснение: «… <span class="article__accent">не
                    послал Бог Сына Своего в мир, что
                    бы судить мир</span>». Почему? Ведь этого казалось бы требовала высшая Божия справедливость? Потому,
                что кроме
                любви Божией к людям, была этому еще одна причина – «не верующий уже осужден». Кем осужден? Кто совершил
                этот суд? Кто подверг наказанию неверующих? В чем состоит этот суд? Смотрим прочитанные стихи: «<span
                    class="article__accent">Суд же
                    состоит в том, что свет пришел в мир; но люди более возлюбили тьму, нежели свет, потому что дела их
                    были
                    злы</span>». Суд всегда предполагает последующее наказание. Не может быть суд за преступление без
                наказания.
                Это бессмыслица. Не может быть наказания без суда. Это беззаконие. Все в жизни происходит мудро и по
                закону.</p>
            <p>Суд совершился именно в том, что осудили себя, и пострадали в результате наказания, сами люди. «Суд
                состоит в том, что свет пришел в мир». В этот мир пришел свет. Это слово можно написать с большой буквы
                – Свет, потому что это был Сын Божий. «Но люди более возлюбили тьму, … потому что дела их были злы».
                Люди не признали Сына Божиего. Им не нужен был Свет. Давайте представим себе жизнь без света. Сплошная
                полярная ночь. Там столкнулись две автомашины. Без света. В подъезде отступился, упал, сломал себе ногу
                человек. Потому что нет света. В окно, со второго этажа выбросили газплиту. Это действительно произошло
                в нашем поселке. Днем. Плита упала на мальчишку, который пробегал под окном. Это точно, наверное, свету
                не было.</p>
            <p>Оказаться в мире, где нет света, среди людей, дела которых злы …. Да такого врагу не пожелаешь! А мы
                живем в этом мире. Без Света. «<span class="article__accent">Ибо всякий, делающий злое, ненавидит свет и
                    не идет к свету, чтобы не
                    обличались дела его</span>». Полный мрак и вокруг зло, которое мы сами творим. Так нужно ли
                поражаться тому,
                что вокруг нас происходит? Или с нами? Да, суд состоялся, да, мы несем наказание. Но Бог не при чем. Это
                не Его воля и не Его желание. Это наш выбор. Мы сами выбрали такую жизнь. Без Бога. Во тьме.</p>
            <p>Вместо того, что бы вопиять: «Куда смотрит Бог?», подразумевая, что слухи о его любви сильно
                преувеличены, может нам стать на колени, поняв, что в этой темноте мы столько зла натворили. Может,
                раскаявшись в этом, нам помолится: «Где Ты, Господи? Вот мы, грешные, прости нас!»</p>
            <p>«<span class="article__accent">А поступающий по правде идет к свету, дабы явны были дела его, потому что
                    они в Боге соделаны</span>». Иоанн 3,
                21.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>