<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Мальчиш-Плохиш и его команда</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Мальчиш-Плохиш и его команда</h1>
            <p> Мерзкое ощущение: как будто весь мир загажен ложью. Особенно по телевизору – тандем лжецов и дураков.
                Лжецы, вызывающие отвращение, беззастенчиво лгут дуракам. Причём лгут, не напрягаясь, даже не стараясь,
                чтобы ложь хоть чем-то напоминала правду. Лгут порой неохотно, не скрывая, что делают это по
                обязанности. Несут всякий заведомый бред, полагая, что дураки обязаны это слушать. И дураки, вызывающие
                не меньшее отвращение, слушают. Слушают, стараясь не комментировать. Потому, что начав комментировать,
                обязательно задумаешься над услышанным. Задумавшись – придёшь к выводу, что всё на самом деле не так,
                как это пытаются тебе внушить.</p>
            <p> Последняя кампания, проталкиваемая лжецами для дураков, проходит под названием: «Караул!!! Оказывается –
                все воруют!». А почему караул? Что в этом неожиданного? Да на Руси всегда воровали! Менталитет такой.
                Каждый старался отщипнуть от чужого каравая хотя бы крошечку. Или выпить чужой крови, хоть капельку. Так
                было всегда. Но нация халявщиков, лентяев и воров за годы советской власти окончательно деградировала.
                Порок был возведён в добродетель, и кумиром отупевшего народа оказалось жалкое ничтожество. Нацвошьдь.
                Чекист. А какое стремление у ничтожества, оказавшегося в такой ситуации у власти? Возвыситься.
                Удовлетворить своё убогонькое «я».</p>
            <p> Чем можно изменить показания весов, которые демонстрируют никчемность калифа на час? Только брошенным на
                другую чашу весов наворованным богатствам. Чем больше наворовано, тем выше взлетает ничтожество. Но
                ничтожество не может плодить добродетель, даже став сверхбогатым. Оно окружает себя другими
                ничтожествами и создаёт условия для размножения ничтожеств. Эти ничтожества, в свою очередь, тоже
                воруют, чтобы взлететь на своей чаше весов. Пусть не так высоко, как нацвошьдь, но выше своей истинной
                значимости. Осуществление нацпроекта по поддержке ворующих мелких ничтожеств необходимо чекисту, как
                плата за возможность хапать самому. Но в какой-то момент количество приближённых ничтожеств и количество
                награбленного достигает критической массы. Не реагировать на происходящее воровство уже невозможно. А
                что ещё хуже: всё чаще имя нацвошьдя упоминается всуе, всё чаще его открыто называют главвором, и
                называют количество миллиардов долларов, украденных им.</p>
            <p> Вот тут и начинается крупномасштабная операция по прикрытию главвора. С насиженных мест выдёргиваются
                отдельные личности, и оглашается, сколько миллиардов рублей они наворовали. Дураки вздрагивают от таких
                непомерных цифр и замирают. Затем обмякают удовлетворённые: ну, вот! Наконец-то, чекист с холодными
                руками взялся за высокопоставленных воров! Правда, этих воров ни судить, ни, тем более, сажать никто не
                собирается. Так в самом начале было задумано. Как и рассчитывали, проведением операции двух зайцев
                убили: разговоры об украденных кем-то миллиардах у всех на слуху и эти цифры уже никого не шокируют. А
                главное: то, что нацвошьдь сидит на экспроприированных миллиардах долларов, считается нормальным. Типа:
                все воруют. В этой стране каждый старается отщипнуть от чужого каравая хоть крошечку. Вот он и отщипнул
                для себя. Положение обязывает. Большому кораблю – большое плаванье. Да если б он этого не сделал, его бы
                дураки уважать перестали. Так что операция по прикрытию главвора проходит успешно.</p>
            <p> А пока, каждый, у кого есть возможность, тащит куски пожирнее. Да ещё и с многоходовыми комбинациями.
                Это я вновь о своем, наболевшем – о Рефтинской птицефабрике и ее уже бывшем директоре Топоркове, с
                которым когда-то моя жена Оля, работавшая на птицефабрике главбухом, вступила в неравный бой. Видимо,
                проворовавшемуся Топоркову пришлось очень туго, когда его крыша поехала. А его крыша поехала в Москву,
                на повышение. Губернатор Россель и министр сельского хозяйства области Чемизов сдуру решили, что они
                там, в Москве, будут, иметь большее, чем собираемый ими оброк с местных предприятий. И бросили Топоркова
                на самовыживание. Оно, вроде бы, для Топоркова и неплохо: кормушка осталась за ним. Но….</p>
            <p> Свято место пусто не бывает. Кто-то сразу же положил глаз на доходное, хоть и государственное, но
                «безхозное» (без крыши) предприятие. В минсельхоз области поступает заказ из той же Москвы, но уже от
                конкурентов Росселя: Топоркова убрать. Пауки в банке решились на передел сфер влияния. Топоркова
                благородно увольняют в соответствии с п. 2 ст. 278 ТК РФ – по решению собственника, за «ряд экономически
                невыгодных сделок».</p>
            <p> Директором птицефабрики ставят другого, Владимира Вальчука. Новая метла начинает мести по новому, но
                недолго. Не прошло двух лет правления Вальчука, вдруг, как гром среди ясного неба, приходит новая
                команда из Москвы: «Топоркова восстановить!». Тут же обвиняют Вальчука в злоупотреблениях, почти на 80
                миллионов. Вообще-то, у нас такие обвинения «лепятся» запросто, вплоть до обвинений «руки по локоть в
                крови». Надо полагать, надежды Росселя на золотые россыпи в Москве не оправдались, и он решил всё
                вернуть в прежнее русло. Пусть доход для него с Рефтинской птицефабрики был небольшой, зато стабильный.
                За последние 2 года правления Топоркова (до его увольнения) с птицефабрики было выведено 500 миллионов
                рублей. Как делились эти деньги, можно только предполагать. Но, видимо, никто из участников дележа не
                был в обиде, если свиньи решили вернуться к брошенному корыту.</p>
            <p> Забавно читать комментарии в Интернете о происходящем. Особенно меня умиляли предложения совков о том,
                что надо обратиться в ФСБ. По-видимому, они уже все созрели и пришли к закономерному выводу, что
                следователи, прокуроры, судьи, менты куплены. И осталась последняя надежда – ФСБ. «Ой, я не мозюю!» –
                так говорил кто-то из детишек. «Ой, я не могу!» – с этих доверчивых придурков. Они всегда перекладывают
                ответственность на кого-то и всегда ждут, что их проблемы решит кто-то. «Вот приедет барин, барин и
                рассудит».</p>
            <p> Неужели, кто-то всерьёз думает, что происходящий в стране беспредел творится без ведома ФСБ? Да были в
                ФСБ документы о начавшихся хищениях на птицефабрике! С самого начала были. Оля им отдавала (а они их
                нечаянно «потеряли»). Это было несколько лет назад, хищения только начались, и речь шла всего о
                нескольких миллионах. Но под руководством мудрого чекиста Россия встаёт с колен. Силовые структуры,
                власти, правоохранительные органы, чиновники на местах – все когда-то начинали с миллионов. Зато теперь
                счёт идёт на миллиарды. Раися вперде!</p>
            <p> Любопытно то, что когда понадобилось первый раз снять Топоркова по указке из Москвы, с Минсельхоза
                попросили у Оли документы, подтверждающие разворовывание птицефабрики. Оля их предоставила. Сейчас,
                когда Вальчук вынужден защищаться, корреспонденты (по его подсказке или нет) <a
                    href="https://eburg.mk.ru/articles/2013/01/30/804912-kaznokradstvo-ne-porok.html"
                    class="article__ref">обличают Топоркова</a> на
                основании тех же документов, предоставленных Олей. Документы есть. Они везде. Оля рассылала их, куда
                только можно. Правоохранительные органы, наверное, ими уже в туалете пользуются. Хотя, может я и не
                прав. Потому, что эти же правохоронительные органы делали набег на наш дом, с тщательным обыском, с
                изъятием компьютера, ноутбука и старого нерабочего системного блока. Они искали те же документы,
                которыми Оля завалила их. Только это произошло после того, как Топорков подал в суд, обвиняя Олю в
                клевете и в том, что она выкрала партию документов с птицефабрики. Вот тогда у нас и делали обыск.
                Обвинение в краже не подтвердилось. Но Топорков этот суд выиграл, потому что суд не стал рассматривать
                документы, которые подтверждали правоту Оли. Вот такая неразбериха с документами. То они есть, то их
                нет; то они никому не нужны, то их ищет полиция.</p>
            <p> Меня бесит в этой истории то, что Оля сказала в своё время Топоркову: «Я не позволю обворовывать рабочих
                и грабить птицефабрику». Она считала этих людей (Топоркова, главных специалистов, рабочих) за людей. И
                надеялась, что живёт, если не в правовом государстве, то хотя бы в государстве, у которого есть инстинкт
                самосохранения. Но всё оказалось не так. Топорков оказался востребованным и необходимым вертикали. В
                принципе, я не хочу демонизировать Топоркова. Знаю его лет десять. Это обычный русский мужик, простой
                советский человек. Видел его не раз пьяным. Это я говорю не в его осуждение. Считаю, что человек
                раскрывается полностью не тогда, когда ему удаётся совершить какой-нибудь подвиг (подвиг можно совершить
                из разных побуждений), а тогда, когда он напивается в стельку. Так вот, пьяный Топорков не казался
                мразью.</p>
            <p> Топорков был нормальный мужик. Прекрасный технолог. И он был хорошим директором (первое время). Просто
                он не смог устоять, когда ему «сверху» сделали неприличное предложение, от которого он не смог
                отказаться.</p>
            <p> Чем кончится противостояние Топорков – Вальчук? Оба получат по башке. Не за мнимый или действительный
                вред государству. На самом деле, это никого наверху не интересует. Их вина в том, что нельзя было
                поднимать самовольно такой шум вокруг хищений. Это дозволено делать только с санкции главвора. Все
                «разоблачения» должны согласовываться с ним и идти по плану. Карлик сам должен давать команду на отстрел
                выбранной жертвы. Он получает удовольствие от того, что позволив воровать по крупному всем, у кого есть
                возможность, он собственноручно держит любого из них на мушке.</p>
            <p> Рассказывают, что фашисты вешали свои жертвы на телефонном проводе. Провод вытягивался, и жертва могла
                доставать кончиками пальцев ног до пола. Так она дольше мучилась. Так вот, богатенькие буратины,
                разбогатевшие на безнаказанном воровстве, тоже находятся в подвешенном состоянии. Главный сам решает:
                ослабить петельку или затянуть её потуже. Право этого выбора, право решать чью-то участь, доставляет ему
                ни с чем несравнимое удовольствие. Сын своего народа, жестокий Мальчиш-Плохиш - закомплексованный,
                дорвавшийся до власти и воплотивший в жизнь все свои больные фантазии в стране победивших рабочих
                Уралвагонзавода. Воистину: кто был ничем…</p>
            <p> До сих пор он к прирученным ворам был милостив. Только те должны соблюдать основное условие: все
                разборки должны происходить под ковром. А эти двое, Топорков и Вальчук, нарушили золотое правило. Так
                что скандал сейчас притушат, приглушат, дадут возможность забыть о нём. А потом, в Москве, решат: кто
                будет дальше командовать Рефтинской птицефабрикой. Но кто бы ни командовал, он всегда должен быть
                признателен своему благодетелю из Москвы. Ну, и, естественно, кормить своего благодетеля.</p>
            <p> Страна в глубокой яме, а реальной оппозиции нет. Каким забитым и тупым должен быть народ, если он не
                может из своей среды, из своего общества выделить сколь-нибудь значимую оппозицию? Что ж, власть должна
                знать и ожидать, что именно такой народ способен на бессмысленный и беспощадный бунт. Потому что именно
                он не имеет никакого смысла, никакой пощады. Весь смысл будет в протесте. Поэтому и пощады никому не
                будет. Что дальше ждёт эту страну?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>