<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Между двух зол</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Между двух зол</h1>
            <p> Никто всерьёз не задумывался, почему мы обречены постоянно делать безрадостный выбор: всю жизнь в этой
                стране выбираем из двух зол меньшее? С одной стороны, вроде, можно пошутить: хорошо живём, всегда есть
                выбор! С другой стороны, ну, почему выбирать приходится только из зла! Хорошее-то мы куда дели?
            </p>
            <p> К тому же, выбирая из двух зол (чего, казалось бы, проще?), легко ошибиться, приняв большое за
                маленькое. И где гарантии, что маленькое зло, которое мы выбрали безошибочно, уже завтра не превратится
                в большое, заслонив собой всё? Но, даже если ты умный и ни в чём не ошибся, то в итоге всё равно
                остаёшься тет-а-тет со своим выбором – со злом. Так почему?</p>
            <p> У англичан есть пословица. Внешне она похожая на нашу, но только внешне. Переводится она так: ИЗ ДВУХ
                ЗОЛ ЛУЧШЕ ВООБЩЕ НЕ ВЫБИРАТЬ. Как видим, сходство оказывается поверхностным. А разница есть и, в
                конечном результате, весьма существенная: если кто-то отказывается выбирать для себя зло (большое или
                маленькое), то оно попросту изживает себя!</p>
            <p> Так почему мы всегда выбираем зло? Пусть меньшее по размеру, по объёму, по количеству, но всё-таки зло?
                Единственное приемлемое объяснение этому: больше не из чего выбирать, так как мы живём в окружении зла.
                Но мы, благодаря собственному разуму и менталитету русского человека, всегда выбираем меньшее зло из
                имеющегося в наличии. Правда, звучит ободряюще?
            </p>
            <p> Вот только вопрос, который портит настроение: тогда почему мы живём в окружении зла? Я не вижу другого
                объяснения, кроме того, что мы сами творим это зло. Более того: мы сами зло. Вот, кажется, получилось
                вполне логичное объяснение тому, почему нам всегда приходится выбирать из двух зол меньшее: мы сами
                являемся злом. И если мы являемся злом, то мы порождаем зло. От осинки не жди апельсинки. Порождая зло,
                мы заполоняем им окружающий нас мир. И, проживая в мире, наполненном злом, мы вынуждены постоянно
                выбирать зло, из двух меньшее. Логично?</p>
            <p> Вот пример выбора маленького зла, из кинофильма «Обыкновенное чудо»: «Подумаешь – медведь! Всё-таки не
                хорёк какой-нибудь». За точность приведённой фразы не ручаюсь, но, по-моему, было сказано именно так.
                Сделанный выбор – точно как из нашей жизни.</p>
            <p> Дальше: мы разобрались с тем, что являемся носителями зла и сами порождаем зло. И что же? Библия
                говорит: «Похоть же, зачавши, рождает грех, а сделанный грех рождает смерть». Как к нам относится это
                утверждение? Что мы носим в себе, чем мы беременны? То есть, какие основные качества, позволяющие
                порождать, приносить в этот мир зло, нас заполняют? По сути, этими качествами могут быть зависть и
                ненависть. Только они, безусловно, порождают зло. А дальше, по Библии, сделанное зло рождает смерть. Мы
                несём смерть. Всем. За пределами нашего государства. В пределах нашего государства. Мы несём смерть
                самим себе. Мы убиваем и одновременно вымираем сами.</p>
            <p> Что? Кто-то не согласен с тем, что мы завистливы? Что мы всех ненавидим? Но согласитесь, мы живём в
                окружении внешних врагов (которые, в основном, живут лучше нас). Мы им завидуем? Так? Так! Кроме того у
                нас полно внутренних врагов, врагов народа, нашего народа. Так? Так! Согласитесь, что кроме ненависти,
                злости, зависти, мы ничего к ним не испытываем. Именно эти качества нас формирует как людей в
                отдельности, так и нацию в целом.</p>
            <p> Между тем, ещё в середине 19 века профессор Петербургского университета, академик Александр Никитенко
                говорил, что «судьба народа зависит от того, в какой мере он наделён способностью сопротивления
                внутреннему злу, исходящего из его собственных глубин невежества и бескультурья... Если этой способности
                у народа нет, то, что вы с ним не делайте, он годен только на то, что бы служить орудием в руках
                другого».</p>
            <p> Из этого определения следует, что наш народ постоянно служит орудием в руках какого-то сомнительного
                «другого». Будь то царь, вождь, нацлидер или великий менеджер. Отсюда следует: мы ленивы и нелюбопытны.
                Это по-научному. От Пушкина. А если проще и по-современному, то мы тупые и ограниченные люди. Напомню,
                ещё раз, что мы ещё и озлобленные. Что же это даёт в сумме? Это даёт возможность добавить один небольшой
                штрих к уже составленному портрету – кровожадность. Проиллюстрировать каким-нибудь примером?</p>
            <p> Что у нас говорят первые люди в государстве (элита, лучшие из лучших) о террористах? Что их надо
                «мочить», «выковыривать из канализации». Ну, это говорит чекист, что с него возьмёшь? Они все Богом
                обиженные. А вот что говорит юрист: «Тот, кто хочет крови - захлебнется своей кровью!» «Их нечего
                жалеть», - добавляет президент России, требуя упреждающих ударов по их норам, по пещерам, по лёжкам, где
                они находятся. «На мой взгляд, по террористическим преступлениям нужно создать такую модель, когда
                любой, кто помогает, не важно чем он занимается — суп варит или одежду стирает — совершил законченный
                состав преступления», — заявил он. По-моему, так говорят кровожадные отморозки, цель которых – воевать,
                неважно с кем, убивать – неважно кого. А мы с готовностью исполняем их волю. Проливаем и свою, и чужую
                кровь.</p>
            <p> Для сравнения привожу слова Ангелы Меркель после того, как неизвестный 2 марта открыл стрельбу в
                аэропорту Франкфурта-на-Майне: «Германия сделает всё, чтобы как можно быстрее понять обстоятельства и
                причины произошедшего». Обратите внимание, нам это покажется непривычным, нет никаких бесноватых
                призывов к обществу. Не надо никого мочить или наносить упреждающих ударов по норам, по тому, кто варит
                суп в кастрюльке. Главное в словах канцлера Германии - обещание быстро проанализировать произошедшее.
                Зачем? Да чтобы подобное никогда не повторилось. Нет призыва «Кровь за кровь». Наоборот: не допустить
                больше пролития крови. Потому что, в любом случае, проливается кровь человеческая.</p>
            <p> Но у этих рабов на галерах образ мышления на уровне обычных рабов. А что такое для раба (даже если он
                чемпион по академической гребле на галерах) чья-то жизнь? Он и своим-то соотечественникам-рабам обещает
                по башке дубинкой. А уж заступиться за какого-то черноглазого!? Мочи их! И мочи их заступников! Сергей
                Адамович Ковалёв имел неосторожность высказать вслух то, что он думал: «Террористов нужно понять, они
                вынуждены действовать предельно жестоко». Такое думать? Да, ладно бы – думать! Но он такое вслух сказал!
            </p>
            <p> В ответ всеобщий дикий визг раздался, как будто крысе на хвост наступили! Наши ставленники, любимые рабы
                на галерах, призывают «мочить» их всех. А тут какой-то правозащитник говорит о том, что «террористов
                нужно понять». Щас, мы их поймём! Всех поймём. Сколько уже? Говорят, мы 250 тысяч «намочили»? Это,
                правда, вместе с женщинами, детьми и стариками. Но цифра всё равно впечатляет и очень красноречиво
                говорит о нашей готовности выполнять распоряжения руководства. Заодно, подтверждает факт того, что мы
                кровожадны и служим орудием в руках других. Которых, прозревши, чуть позже сами же назовем
                преступниками.</p>
            <p> Стокгольмский синдром. Не напрягайте себя. Синдром-то – стокгольмский. Русские такого выражения не
                знают. Рабам, служащим орудием в руках других, подобный диагноз не грозит. Мы никогда не сможем
                проникнуться к чеченцам пониманием и сочувствием. К тем, кто убит и обездолен нашими руками. Мы не так
                устроены. Более того, любой из нас, показавший наличие чувства вины перед этим народом, становится
                врагом собственного народа. К правозащитникам у нас выработали отношение как к прокажённым: и убивать
                их, болезненных, жалко (или не жалко?), и терпеть их присутствие невозможно.</p>
            <p> Перед чеченцами мне стыдно. Стыдно в глаза им смотреть не только за то что, мы натворили на их родине.
                Но и за то, что наш нацлидер им подложил (Порядочную? Нет, это слово здесь не на месте. Приличную? Нет,
                тоже не то. Тогда, без всяких определений.) свинью. Я имею в виду Кадырова. В любой банде лидер имеет
                верную себе «шестёрку». Такую же хитрую, такую же беспринципную, но только чуточку (или не чуточку, а
                намного) глупее себя. Альфа-самец должен быть на порядок выше.</p>
            <p> Самое трудное для альфа-самца в подборе «шестёрки», это найти кого-то глупее себя. Это настоящая
                проблема. Так вот: как это ни было трудно, но Путину это удалось. И с наместником в Грозном, и с
                местоблюстителем в Москве. Интересно! Тогда получается, что Путин нам тоже подложил свинью?</p>
            <p> Кстати, о Путине. Как всегда, голосуя за этого назначенца, мы из двух зол выбрали меньшее. Будучи сами
                злыми, порождая зло, мы живём во зле. И выбирать из зла, кроме зла, нам нечего. Вот мы и выбирали:
                маленькое-маленькое зло. С покатым лобиком, страстно целующего мальчика в животик. В кинокомедии «Цирк»
                есть подходящий диалог: «Когда мы встретились, ты была маленькая-маленькая. И розовая, как поросёночек.
                А потом этот поросеночек рос, рос. И выросло…» – «Что выросло?» – «Ну, что выросло, то выросло».</p>
            <p> Нет, как-то неубедительно прозвучали мои доводы о нашей кровожадности. Ну, что такое 250 тысяч погибших
                чеченцев? Они же пали не от рук каких-то бандитов. Они погибли от рук защитников нашей родины, а это
                совсем другое дело! Их осудить (защитников) – язык не поворачивается. Ну и что, что мы в 1944 году
                сожгли в высокогорном селении Хайбах 700 мирных жителей (как раз на День защитника отечества)? Вон –
                фашисты, они и не такое вытворяли! Тогда, кто кровожадней? Мы или фашисты? Вот, опять стоим перед
                выбором: какое зло меньшее?</p>
            <p> Тогда, для сравнения, предлагаю вспомнить эпизод из «Судьбы человека» Шолохова. Как бежал от фашистов
                военнопленный Соколов к своим, через линию фронта? Он тюкнул немецкого офицера (которого возил в
                автомобиле, по прифронтовой полосе) гирькой в висок, и по «газам», через линию фронта! А сейчас,
                уважаемые оппоненты, напрягитесь и представьте, что немецкий военнопленный возит советского офицера на
                прифронтовой полосе. Нет, ну что вы сразу отказываетесь? Вы хотя бы попробуйте!</p>
            <p> Не получается? Конечно! Мы мирных, своих немцев отправили к чёрту на кулички (так же как и чеченцев),
                обрекая на гарантированное вымирание. А чтобы пленный немец ездил вблизи наших окопов! Да ещё с нашим
                офицером! Я повторяю вопрос: кто был кровожадней и злее? Разве не видно, что от фашистов, если мы и
                отличаемся, то только в худшую сторону. И современная молодёжь выбрала из двух зол меньшее. Чо они
                дураки, што ли? С поразительной лёгкостью они становятся и «Нашими» и «фашами». Нашими фашистами.
                Причём, это всё защитники родины. В настоящем времени. Или кто-то в будущем. Дайте им в руки автомат!
            </p>
            <p> Библия говорит, что нет большего несчастья для земли, чем тот случай, когда раб становится царём.
                Назовите у нас хорошего правителя, начиная с начала прошлого века? Все эти менеджеры, вожди, лидеры – по
                своей сути это рабы, дорвавшись до власти, возомнившие себя кем-то. И весь народ, назвавший себя
                советским, – тоже рабы. Но они не могли все претендовать на роль царей, поэтому скромно довольствовались
                званием «героический». Вот так, простенько и со вкусом: героический советский народ. Который делает
                постоянно нелёгкий выбор в поисках меньшего зла.</p>
            <p> Сегодня, готовя обед, вполглаза смотрел старый фильм «А если это любовь?» Там проблемой стали дружеские
                отношения между парнем и девушкой из одного класса. Секса же у нас в стране не было. Даже у взрослых.
                Тем более у учащихся старших классов. И, по общепринятому мнению, Бога тоже не было. Бог был под
                запретом. А Бог есть любовь. Значит, и любви у нас не было. Так на каком основании молодые люди могут
                встречаться? Да и не только молодые. Вот представьте комическую (трагическую?) ситуацию: секса нет,
                любовь под запретом, мышление под контролем. Но это не антиутопия. Это наша жизнь.</p>
            <p> Вообще-то, идеальная модель для советского общества - это размножение почкованием, или клонирование. То
                есть, чем меньше у рабов эмоций, чем меньше размышлений, переживаний по любому поводу – тем меньше с
                рабами проблем. Единственное, что дозволяется бесправному рабу, - это время от времени делать выбор
                между большим и маленьким злом и чувствовать себя от этого самостоятельным и счастливым. Как тут снова
                не вернёшься к словам академика Никитенко: «Судьба народа зависит от того, в какой мере он наделён
                способностью сопротивления внутреннему злу, исходящего из его собственных глубин невежества и
                бескультурья...» Сделанное зло порождает смерть.</p>
            <p> Библия говорит, что есть один вариант победы над злом: «Побеждай зло добром». Убить дракона не проблема.
                Что дальше-то, если общество было воспитано без Бога, без любви, без доброты и элементарного сочувствия?
                Убивать дракона мы можем (если бы только дракона!). И делаем это с удовольствием. А как насчёт
                сопротивления внутреннему злу? Какой (и когда) мы сделаем окончательный выбор? Или мы его уже сделали?
                Тогда империя рабов обречена уйти в небытие. Под всеобщий вздох облегчения. И радость во всём мире будет
                бОльшая, чем при падении Берлинской стены.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>