<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Голубое с красным</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Голубое с красным</h1>
            <p> На сайте «Каспаров.Ru» <a href="http://www.kasparov.ru/material.php?id=4ACE3C8E44AC5"
                    class="article__ref">прочитал</a>: </p>
            <p class="article__remark">«Страсбургский суд оштрафовал Россию на 7 тысяч евро за нарушение свободы
                слова. Екатеринбургская
                газета "Д.С.П." в 2001 году опубликовала статью "Белый дом стал голубым", где областной премьер
                Алексей Воробьев обвинялся в связи с бывшим московским чиновником Сергеем Капчуком, которому он
                якобы подарил за счет областного бюджета квартиру в Москве».</p>
            <p> Почему это мне интересно? Здесь упоминание об общем знакомом – Алексее Воробьеве, председателе
                правительства. Это к нему обратилась Оля, моя жена, как главный бухгалтер предприятия, с документами,
                подтверждающими миллионные хищения на Рефтинской птицефабрике. Но сей государственный муж оказался
                занят. Теперь я знаю чем: он «делал» квартиру в Москве своему партнёру. Рад за них. У них всё
                получилось. Они довольны и, наверное, счастливы. По правде говоря, счастливых людей гораздо больше, чем
                я полагал вначале.</p>
            <p> Посмотрите, какую карьеру сделал Луговой. Разве это не счастье? Серенькая невзрачная личность, как-то
                вдруг, сразу стал депутатом Госдумы. А эти, два бойца невидимого фронта: прилетели из Катара после
                успешной ликвидации Зелимхана Яндорбиева. Им к самолёту постелили красную ковровую дорожку! Честное
                слово! Сам видел в программе новостей по НТВ. Представляю, как они были счастливы! Шапки надо снимать
                перед такими людьми. И фильмы.</p>
            <p> Я полагаю, что у нас довольны и счастливы педофилы. Почему так думаю? А вы посмотрите, сколько их
                развелось за последние 10 лет правления Путина. Можно смело говорить об эпидемии педофилии в России за
                эти годы. Значит, для них созданы все условия и они процветают. Логично? Или у них очень высокий
                покровитель. И, по-видимому, у него такая мощная аура, что под её влияние попадают всё больше и больше
                людей (да простится мне, что я их называю людьми).</p>
            <p> Почему я выделил именно эти группы, заведомо предполагая, что они счастливы? Да потому что так или иначе
                завишу от них или ожидал от них в своё время какой-то помощи. Но напрасно. Хотя именно эти люди сейчас
                процветают. А нас, нашу семью, после предстоящего Нового года по решению суда выселяют из собственного
                дома. За долги. Это была последняя отсрочка, на которую пошёл суд. Нам осталось два месяца.</p>
            <p> Долги образовались после того, как Олю уволили с работы. У неё, теперь уже бывшего главного бухгалтера
                Рефтинской птицефабрики, крупнейшей в России, были набраны большие кредиты. До увольнения они ей были по
                «карману». Понятно, что после увольнения Оли погасить кредиты, сразу же ставшие неподъёмными, нашей
                семье было не под силу. Этот наш кризис, в отличие от мирового, длится уже 5 лет.</p>
            <p> Поэтому остаётся жалеть о том, что я не партнёр премьер-министру Воробьеву. Тогда бы меня не выселяли из
                своего дома. И сейчас была бы квартира в Москве, про запас. Мне остаётся жалеть, что не попал под
                влияние ауры высокопоставленного педофила. Поэтому я не смог стать нашим (вашим? своим?) в этой тёплой и
                дружной компании. Да и возраст не позволяет стать жертвой педофила. К огромному сожалению, я не
                профессиональный убийца из числа чекистов. Ковровые дорожки передо мной никто не стелет. Может поэтому
                документы о крупных хищениях директора птицефабрики Топоркова, которые Оля передала в ФСБ, бесследно
                оттуда исчезли. Эти подонки не только убивают безнаказанно, но и покрывают преступников. Ворон ворону…
            </p>
            <p> ФСБ – щит и меч, карающая десница. Как для меня наивно выглядит распространённое в Интернете заявление о
                преступлении от Комбаровой Светланы Васильевны:</p>
            <p class="article__remark">«О поручении директору Федеральной службе безопасности Бортникову А.В., о
                создании следственной бригады,
                проведении следственных действий по признакам преступления, предусмотренного ст. 281 УК РФ (диверсия), а
                также уголовной ответственности арбитражных управляющих «Объединения арбитражных управляющих „Авангард“»
                Ратковского В.В.и Киселевского К.В».</p>
            <p> Уважаемая Светлана Васильевна! Я искренне сочувствую Вашему горю. Понимаю: рейдерский захват, разрушение
                и уничтожение Вашего предприятия. Но Вы к кому обращаетесь за помощью? К этим сволочам? Понимаю: других
                у нас нет. Но если среди ваших высокопоставленных знакомых нет извращенца, согласного помочь Вам, то
                извините, я не верю в торжество справедливости. Вы бы ещё Гитлеру пожаловались, что враги сожгли родную
                хату. Обращаться в ФСБ? Я понимаю, что Вы это делаете от безнадёжности. Утопающий хватается за
                соломинку. Но при той политике, которая проводится в нашем государстве… Не хочу бить Вас по рукам, но
                фамилия Ходорковский Вам что-нибудь говорит? Вот-вот! Я об этом же подумал, только вслух сказать боюсь.
            </p>
            <p> Нет, есть ещё варианты, Светлана Васильевна. Герой России товарищ Шаманов Вам никем не приходится? Нет?
                Жаль. А мэр Лужков? Тоже? Может Вам за помощью обратиться к некой даме. Я, правда, не расслышал её
                фамилию, но её показывали по телевизору. С воодушевлённым лицом дебильной активистки-пионерки она
                обещала построить в Осетии стадион. Почему именно в Осетии? Я без понятия. По-моему, для неё всё равно:
                хоть в Зимбабве, хоть на Северном полюсе. Ей стоит только подать команду голосом. Как Шаманов своим
                десантникам. Судя по всему, эта дама, благодаря талантам, достигла высокого положения. Но, если у неё
                есть такие возможности, может она в состоянии чем-то и Вам помочь?</p>
            <p> У нашей семьи был свой пройденный путь. Не знаю, насколько он схож с Вашим. Но когда Оля, в начале
                девяностых годов, по приглашению директора устроилась на птицефабрику главным бухгалтером, вытащила её
                даже не с «нуля», а с «минуса», то, на удивление, нашлись люди, обиженные этим. Вернее, не этим, а тем,
                что она перекрыла всевозможные лазейки для наживы. Тогда нам, вначале, заложили взрывчатку под двери. У
                наших соседей по лестничной клетке выбило двери, не говоря о стёклах. Благо это произошло среди ночи,
                все были в постели, и никто не пострадал от осколков.</p>
            <p> Потом Оле на служебной машине ослабили гайки на переднем колесе. Её просто чудо спасло. У нас, в это же
                время, так погиб мэр города: переднее колесо оторвалось, машина вылетела на встречную полосу, под
                самосвал. Милиция заявила, что не может гарантировать ей безопасность, и предложила уволиться с
                птицефабрики. На что тоже перепуганный Топорков, директор птицефабрики заявил: «А я? Может мне тоже
                уволиться, пока у меня неприятности не начались?» Но у него они не начались. До сегодняшнего дня.</p>
            <p> Тогда мы не знали, что наши главные неприятности впереди. Что доморощенная русская мафия, с тротиловой
                шашкой за пазухой – это пустяки по сравнению с организованной российской коррупцией. Что за «лихими
                девяностыми» идут «путинские нулевые». Что через 10 лет, тот же, ранее трясущийся от страха директор
                птицефабрики, уволит Олю, после того как она уличит его в том, что он берёт «откаты» и работает с
                подставными фирмами-однодневками. После этого, вот уже 5 лет я описываю наши мытарства в стране
                путинской суверенной демократии.</p>
            <p> Почему я пишу, не боясь мести со стороны чекистов, педофилов и пидарасов (это выражение после Хрущева
                можно считать почти литературным)? Просто я устал. Я устал жить. Вот так вот жить. Ощущая своё полное
                бессилие, собственную никчемность. В ожидании, что опять придут пристава в описанный дом, с описанным
                имуществом. Изо всего, что нажил за свою жизнь в этом государстве, со мной останется только наполовину
                парализованная после инсульта восьмидесятилетняя мать, жена, которую за последние 5 лет нигде не брали
                на работу, а до пенсии ей ещё не скоро, и несовершеннолетняя дочь.</p>
            <p> К сожалению, они не могут похвастаться мной как надеждой, опорой семьи. Какая я опора? Инвалидность
                из-за нажитого артроза, перенесённый инсульт, бронхиальная астма - весь джентльменский набор. Сейчас жду
                направления в Екатеринбург – на очереди ещё один серьёзный диагноз. Именно поэтому я не боюсь, что меня
                посадят за экстремизм. Просто знаю, что в тюрьме долго не протяну. Присудят материальную компенсацию за
                оскорбление чести и достоинства уважаемых людей? После того, как всё описали приставы, я могу
                рассчитаться за их честь только заштопанным вручную бельём.</p>
            <p> «Замочат» меня, как бывшего местного редактора Эдика Маркевича, выстрелом в спину? Он начал готовить
                материал о том, что в одном из детских учреждений нашего посёлка организован клуб по интересам для
                педофилов. В который с самого Екатеринбурга приезжали исключительно на иномарках, по видимому, очень
                уважаемые люди. Потому что, когда Эдик заснял на видеокамеру номера машин, его убили выстрелом в спину.
                И плёнка бесследно исчезла. Но для меня вариант с таким исходом тоже выход: я разом освобождаюсь ото
                всех проблем и даже остаюсь при своих интересах, сохраняя, мягко говоря, неуважение к этим подонкам.</p>
            <p> А всё из-за того, что Оля в нашем государстве решила проявить должную для всех порядочность и честность.
                Разве подобное можно делать, если о Путине пишут, что он наворовал 40 миллиардов долларов?! Естественно,
                что местные калифы на час, под его чутким руководством, тоже воруют. Только не миллиардами, а
                миллионами. И не в долларах, а в рублях. Так кто же позволит этим калифам на горло наступить?</p>
            <p> Раньше я никак не мог запомнить очерёдность цветов на флаге России. Всегда путал. Но потом придумал для
                себя шпаргалку. Вверху – белый цвет, главный. Это те «белые», элита, которую мы уничтожили во время
                Гражданской войны. Дальше идёт голубой цвет. Это «голубые», наша интеллигенция, получающая из рук
                чекиста подачки и медальки, но мечтающая занять место былой элиты. Поэтому она приближена к белому
                цвету. А в самом низу – красный цвет. Краснопузые «совки», люмпен-пролетариаты, с бантиками на ленинском
                субботнике.</p>
            <p> Но, мне кажется, сейчас, отвечая реалиям времени, цвета на флаге России можно поменять. Сверху должна
                идти широкая голубая полоса. Цвет соответствует содержанию – это «голубые», по большей мере,
                представители интеллигенции. Ниже – узкая полоса красного цвета. Это деградировавший современный
                пролетариат (впрочем, он у нас всегда таким был). А внизу – снова широкая полоса голубого цвета. Это
                педофилы. Насколько я знаю, они ещё не определились со своим цветом. Пусть будут тоже голубыми. Если
                возникнут какие-то несогласия между ними или разборки, то верхний цвет и нижний можно будет поменять
                местами. Ориентироваться нужно на того, кто будет у власти.</p>
            <p> С позицией властей и правохоронительных органов мы разобрались: без «блата», то есть без участия
                извращенцев ничего не добьёшься. А какая позиция (позиция, а не поза) у народа? Вий, у Гоголя, просит:
                «Веки, поднимите мне веки». А то ж ничего не видно. Народ так и продолжает стоять зажмурившись. Как он
                замер перед чекистом в восхищении, закрыв глаза, так он и стоит, боясь пошевелиться: вдруг блестящий
                мираж исчезнет.</p>
            <p> Наше приближение к западному миру после перестройки закончилось на том, что мы только-только приучились
                пользоваться туалетной бумагой, а не газеткой. Это единственное, в чём мы поменяли своё привычное на
                общепринятое во всём мире. А тут снова чекист запел старые песни о главном. Теперь, мне кажется,
                осталось поменять телевизоры на унитазы. Потому что содержимое у них одинаковое. Зато вреда от такой
                замены для человека будет гораздо меньше.</p>
            <p> Так что, уважаемая Светлана Васильевна, нам не на что рассчитывать. В сложившейся ситуации ФСБ и прочая
                шелупень пальцем не пошевелит, пока какой-нибудь извращенец не даст новую установку. Рассылкой своего
                «Заявления о преступлении» Вы рассчитывали на помощь или на поддержку. Увы! Мягко говоря, сейчас
                возможности нормальных людей сильно ограничены. Это если кого-то «замочить» или начать новую войну, то
                тогда, пожалуйста! А убийства, воровство в особо крупных размерах, рейдерские захваты – это длительная и
                безнадёжная борьба с коррупцией до тех пор, пока чекист не сдаст свои позиции.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>