<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Зубы удава</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Зубы удава</h1>
            <p>Помню ту радость, с которой я держал в руках книжку В. Высоцкого «Нерв». Только-только наступили
                благословенные времена перестройки. Тогда я искренне надеялся, что все чекисты побежали вешаться в
                сортир. А на нашем полулегальном книжном базаре появились книги, о названиях которых мы раньше только
                слышали. Я уже купил «Мастера и Маргариту». Прочитал её за выходные, но, украдкой от жены, продолжал
                класть её на ночь под подушку. И всю ночь, во сне, летал вокруг Дома драматургов и литераторов,
                отыскивая окно с потушенным светом, испытывая страх перед натянутыми вдоль и поперёк улицы проводами.
                Потом нёсся за городом, в бреющем полёте, над вспыхивающими лунными блёстками рекой, но, опять-таки,
                было страшно врезаться в её воды, как войти в другой мир.</p>
            <p> А тут, в руках, книга «Нерв». Прекрасное предисловие, где говорилось о Высоцком, как о человеке без
                кожи: один комок оголённых нервов, доступный каждому, кто его хочет потрогать руками. Что такое
                оголённый нерв, я понял из своего практического опыта. Приготавливая на кухне морковь, стесал на тёрке,
                на большом пальце, кусок кожи. Через несколько дней полез в стиральную машину вынимать бельё. Она и
                раньше пощипывала электротоком. Но, тут меня так долбануло! Несмотря на шоковое состояние, я понял, что
                виной всему свежая, незакрытая рана. А что чувствует человек, когда его кожа вывернута наружу, как
                перевернутый дёрн, с обнажёнными корнями? Когда человек, каждым незащищённым кончиком нерва ощущает
                присутствие или вторжение окружающего мира?</p>
            <p> Если у человека так обнажены нервы (весьма редкий случай среди дорогих соотечественников), ему многое
                причиняет боль, даже то, на что другой не обратил бы внимания. Таким был и Высоцкий. Сейчас я начал
                понимать, что таким же был Александр Литвиненко. Он не мог выразить себя и собственную боль в стихах. Но
                и жить среди этой мерзости запустения тоже не мог. Вначале (кто из нас не был романтиком в юности?),
                Александр решил оказаться на передовом фронте борьбы с мерзостью. Тут он с запоздалым удивлением понял,
                что эта мерзость управляет и командует всем. Это она даёт указания уничтожать неугодных. Это она,
                мерзость, преследуя свои цели, может проводить теракты против собственных верноподданных граждан. Многие
                согласились с таким положением вещей, кроме редких людей, с вывернутой на изнанку кожей. Ещё были
                тонкокожие. Но большинство из нас оказались толстокожими. А часть – вовсе бегемотами. Не по внешнему
                виду, а по своему отношению к окружающему миру.</p>
            <p>Перечитывая статьи Стомахина, я вижу эту же боль незащищённого толстой кожей человека. Сгореть, наверное,
                можно не только от полония, но и от ненависти. От ненависти к равнодушию, злу, и к великим мастерам
                этого зла. Человек извивается от боли из-за победившего зла, царящего в нашем обществе. А таким, как он,
                приклеивают ярлыки. Этого, за экстремизм, в тюрьму. Этого, с неадекватным поведением, в психушку. А
                этот, замахнулся на самого мастера зла. Вывалил всю его подноготную: смотрите люди! Кто вами правит? Вы
                кого выбрали? Думайте! Решайте! В ответ мастер зла предлагает чашечку чаю. По-христиански,
                по-православному: ты меня по щеке, а я тебе – чаю! Сколько раз подобный номер с чаепитием сходил с рук?
                Сколько покойничков ушло с неустановленным диагнозом? Но в Лондоне этот номер не прошёл: там, кроме
                общих анализов умели делать и другие. Оказалось, что великий мастер зла совсем не христианин. Он, вместо
                сахара, предлагает полоний.</p>
            <p> Сколько уже погибших? Но мастер зла только вошёл во вкус. И не собирается покидать поле боя. Власть!
                Власть! Отдать добровольно кому-то власть? А может быть ещё, в придачу, и награбленные миллиарды?
                Говорят, что у удава зубы загнуты вовнутрь, чтобы не расставаться с тем, что попало в пасть. Это похоже
                на правду. Удав хочет жить долго, по возможности, сытно. Власть и награбленное просто так не отдают.
                Защищают всеми возможными способами, не жалея крови. Кровь, естественно, не своя. Чужая.</p>
            <p>В отличие от восприимчивых людей, с обнажёнными нервами, толстокожие у нас в почёте. Нашего губернатора
                Росселя показывали на «4 канале». Поздравил всех с наступающей масленицей. Сказал, что кризис – это
                ненадолго. И что масленица для него серьёзное испытание. Но он дал себе зарок не съедать больше 15
                блинов за раз. Как тут не вспомнишь прекрасную маркизу, у которой всё хорошо. Чуть позже, в этом же
                выпуске, рассказали об интернате (или детдоме?), где детей просто нечем кормить. Тогда они отказались
                платить за услуги ЖКХ, и на эти деньги целый месяц кормили детей. Правда, ассортимент очень скудный, но
                всё же. Воистину: сытый голодного не разумеет. А может, зря называю это качество толстокожестью? На
                самом деле всё глубже и сложнее?</p>
            <p>У нас, чтобы пробиться к власти, нужно быть угодливым и подленьким. Мозги тут не нужны. Если и нужны, то
                для того, что бы скрывать их наличие. Какой начальник потерпит возле себя умного? Как начальник будет
                выглядеть на подобном фоне? Поставьте рядом Путина и Ходорковского. Поставили? Теперь ощутите разницу.
                Испокон веков в России умные в почёте не были. Тем более, после революции: востребованной оказалась
                угодливая плесень. Она и процветала. И процветает, по сегодняшний день. Да! Ещё лояльность! Когда мне
                рассказывают, как Алексий II сохранил и возродил православие на Руси, я думаю: а что надо сделать, как
                нужно выстраивать свои отношения с советской властью, чтобы добраться до такого поста? Тут мало обычного
                умения идти к вершине по чужим головам. Даже одной лояльности мало. Тут преданность нужна. То есть
                готовность предать кого-то. Или что-то.</p>
            <p> Получается, что людям, желающим сделать карьеру в советском или постсоветском обществе, не позавидуешь.
                Для них одинаково плохо и наличие мозгов, и их отсутствие. Наличие мозгов приходится скрывать. Иначе не
                помогут ни подчёркнутая лояльность, ни бесконечная преданность. Начальник всегда с опаской будет думать,
                что подчинённый себе на уме, и переживать за своё кресло. С другой стороны, казалось бы, отсутствие
                мозгов у делающего карьеру - серьёзный недостаток. Но не настолько. Благодарный начальник, пребывающий в
                покое за своё кресло, сам будет проталкивать бестолкового, но верного подчинённого. Ну, как не порадеть
                родному человечку!</p>
            <p>Так может, толстокожих людей не существует? Есть тупая, ограниченная, серая плесень. Безжалостная,
                бесчувственная и равнодушная. Весь период, пока делала карьеру, она умудрялась скрывать отсутствие
                мозгов (в окружении себе подобных это не так уж сложно). Но как только плесень достигла желаемого
                уровня, тут ей можно расслабиться. Можно, наконец-то, стать самим собой. И наружу начинает вылезать
                истинное личико Гюльчатай. «Мочить всех в сортире!». Эта фраза (и не только эта) чекистского вундеркинда
                войдёт в историю. Ещё один вундеркинд: «Судить всех, кто отрицает победу СССР над Германией!». А что?
                Звучит! А эта фраза-откровение принадлежит юристу-президенту: «Вы должны это делать, как «Отче наш»! Не
                знаю, не берусь судить, какой наш президент юрист и демократ, но православный он хреновый, пусть даже
                сам Путин усиленно проталкивал его наверх. Поскольку «Отче наш» надо знать, а не делать.</p>
            <p>Такая ситуация среди тех, у кого есть возможность служебного роста. А обыватель? Простой гражданин
                страны, принявший установленную в ней вертикаль власти и суверенную демократию? Это бегемот толстокожий?
                Или плесень серая? Пусть каждый решает сам для себя. Но как тяжело приходится рядом с нами тем редким
                людям, которые в равной степени ощущают свою и чужую боль оголёнными нервами. Которым удалось сохранить
                незамутнённое зрение и способность к трезвому мышлению! Сколько их? Где они? Иных уж нет, а те далече.
            <p> Да, уж! Бухгалтер из меня неважный. Баланс какой-то получился… Из порядочных людей, не думая, троих
                набрал: один от водки умер, другой от полония, третий в тюрьме сидит. А вторая категория (тоже ведь, не
                думая, перечислил), руководящая и направляющая – цветёт и пахнет. Один Алексий II благополучно почил,
                своей смертью, в преклонном возрасте, окружённый верными соратниками и последователями. Имя всей этой
                категории – легион.</p>

            <p> И ещё, об удаве. Может, это и не Путин? Может быть, зря я так о человеке думаю? Может, Путин только
                паразит в теле удава-империи? А империя – это и есть настоящий монстр. С загнутыми вовнутрь зубами,
                чтобы добыча не ускользнула. Но, как патриота, меня успокаивает мысль: мы - мягкая, пушистая империя. Из
                плесени. А зубы? Зубы настоящие.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>