<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Испытание</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Испытание</h1>
            <section class="article__epigraph">
                <p class="article__epigraph-text">«Добротвори к другим в такой же мере,<br>
                    в какой Аллах добротворил к тебе».
                    <br><br>
                    <span class="article__epigraph-author">Сура «Повествование», аят 77</span>
                </p>
            </section>
            <p> В это трудно поверить, но иногда я думаю, что этот мировой кризис – ответ на мои молитвы. Больше
                четырёх лет, изо дня в день, я молюсь, чтобы Бог помог в нашей ситуации. В своём дневнике описывал
                всё, что происходило с нами, в надежде, что кто-то отзовётся и поможет. Но все были заняты своими
                делами. Кто-то богател, кто-то разорялся. У всех были свои проблемы. Где-то был Дарфур, где-то была
                Чечня. Сотни тысяч убитых, без всякой надежды, что виновный за это ответит. Может, поэтому, никто из
                тех, кто узнал о нашей проблеме из дневника, не счёл, что нам хуже других.</p>
            <p> Единственная реакция на мой дневник – это злорадство односельчан. Недавно, прочитав в дневнике о
                наших долгах, о том, что я предлагаю, как донор, свои органы на продажу, угодливый человечек,
                счастливый, делился этой новостью с окружающими: «Как мы растоптали семью Ткалич!? Они уже готовы
                себя на запчасти продавать!». При всеобщем равнодушии к чужому горю, для людей, оказывается, такое
                счастье узнать, что кто-то готов продать себя на запчасти из-за долгов! Конечно, мне тоже приятно,
                что смогли кому-то доставить удовольствие своим горем.</p>
            <p> Униженным и растоптанным я себя ощущал не в кабинетах чиновников. Униженным и растоптанным я
                чувствую себя каждое утро, когда беру в руки тюбик с зубной пастой, взвешиваю его в ладони: «До
                пенсии осталось 2 недели. Её приносят 19 числа. Денег осталось 500 рублей. Нас четверо». Далее
                следуют несложные, без калькулятора, подсчёты расходов (руки заняты зубной щёткой и пастой) и
                невесёлые размышления на одну и ту же тему: «Дотянем или нет, этот тюбик до 19-го?». Прошлый раз не
                дотянули. И я просто попросил Олега: «Сынок, купи нам зубную пасту». Он купил большой тюбик
                импортной пасты. Но, теперь, так некстати, заканчивалась и она.</p>
            <p> Поэтому, выпадая из реалий окружающего мира, я, в утешение, позволяю себе думать, что Бог этим
                кризисом позволил всем испытать прелести бренного существования, когда ты, без вины, стал в
                одночасье нищим. Этот мир, погрузившись в кризис, живёт всего лишь несколько месяцев в тех условиях,
                в которых мы прожили четыре с лишним года! Все эти годы мы ожидали торжества правосудия или помощи
                от кого-то. Но правосудие оказалось чекистским, а милосердие (есть такое слово) советским людям
                недоступно; и Бог оставил нам эту чашу испить до дна. Теперь, когда мир опустился до нашего уровня,
                каждый молит (или готов молить), как и мы, о помощи. Одному – хотя бы бесплатный проезд и лекарство
                по льготным ценам. Другому – несколько миллиардов долларов для поддержки предприятия или банка. И
                такое ощущение, как будто в подобной ситуации люди сходят с ума. Они заканчивают жизнь
                самоубийством, расстреливают собственные семьи или безвинных окружающих.</p>
            <p>Это, опять же с удовольствием, комментируют у нас на экранах телевизоров: «Ой, что делается!? Ой, что
                там у них делается!? У нас, здесь в России, островок стабильности!». И это правда. Я перестал
                верить, что во времена октябрьской революции, с большим трудом и опасностью для себя, революционеры
                распространяли листовки и прокламации. Да кому они, на фиг, эти листовки были нужны? Поднимать
                уровень самосознания пролетариата? Да этот люмпен-пролетариат, непосредственная часть русского
                народа, и тогда, и сейчас остался в одном и том же состоянии: вечно пьяная, ленивая, тупая масса (я
                имею право так говорить, я из этой же массы). Жратва, выпивка и сериалы – вот в чём нуждается
                «островок стабильности».</p>
            <p> Это тогда дедушка Ленин сумел подобрать золотой ключик к сердцу русского человека, у которого
                широкая душа. Слив в один набор лозунги: «Грабь награбленное!», «Отнять и поделить!», «Землю –
                крестьянам, фабрики – рабочим, мир – народам!», господин Ульянов взбаламутил и поднял со дна всю
                мерзость, пакость, все отбросы общества. Таковых халявщиков среди нас оказалось большинство, и
                гражданская война закончилась довольно-таки предсказуемо. Так вот, пусть попробует кто-нибудь в наше
                время распространять прокламации с описанием, как мы бесправны, как нас обворовывает государство,
                как за наш счёт богатеют отдельные личности. Ну и что? Получив подобную информацию, кто-то прозреет?
                Кто не знает, что мы бесправны? Кто не знает, что нас обворовывает государство? Кто не знает, как и
                почему разбогатели известные личности? Кто не знает, кому были выгодны взрывы жилых домов перед
                началом чеченской бойни? Ну, поднимите руки – кто не знает! Все знаете? Ну и что?</p>
            <p> Ещё недавно мы всю вину валили на «железный занавес». Теперь нет никакого «железного занавеса». Или
                опять кто-то сошлётся на недостаток информации? Так в наше время это дело поправимое. Не нравятся
                телевизионные новости? В Интернете, как в Греции, всё есть! И если, дополнительно к Интернету,
                кто-то желающий начнёт разбрасывать прокламации и листовки – это ничего не изменит, новой
                октябрьской революции не будет (я к ней и не призываю). Любому потоку информации противостоит наше
                безразличие и инертность.</p>
            <p> Хотя, тут есть маленький нюанс: на одном из телеканалов стали давать приз тем, кто лучше всех
                слушает новости. Честное слово, не вру! Приз – круг копчёной колбасы. Количество людей слушающих
                новости увеличилось на 70%! Если не придираться, то можно утверждать, что аудитория выросла почти
                вдвое! За кусок колбасы мы способны проявить определённый интерес к информации. Тут одно время
                поднимался вопрос о национальной идее, которая всех может сплотить. Мне кажется, нас всех может
                сплотить колбаса: один конец которой торчит изо рта, а другой торчит… в общем, это должен быть
                достаточно большой кусок колбасы. Полагаю, такое воплощение русской национальной идеи всех бы
                устроило.</p>
            <p> А может, дело не в отсутствии информации и не в нашей тупости и безразличии. Может, мы беспредельно
                доверчивы? Ну, такие вот мы дети, с наивными голубыми глазами. Сказали нам, что в течение недели
                чеченцы из официально признанных братьев стали нам настоящими врагами (такая же участь постигла
                прибалтов, грузин, украинцев). И мы поверили! Сказали нам, что чекист – это лучшая кандидатура на
                роль президента в демократическом государстве, и мы поверили! Забыли, что под руководством КПСС эти
                палачи (чекисты), десятки лет целенаправленно вели войну против собственного народа, уничтожая
                несогласных. Такая натура у нас – доверчивая. Так доверились чекисту (который, используя прежний
                опыт дедушки Ленина, так же возвеличил и поднял всё дерьмо на щит), что оставили его царствовать на
                второй срок. Как же, национальный лидер! Он, в свою очередь, нам рассказал о планах до 2020 года. И
                мы верили! Сейчас он рассказывает, что нефти и газа хватит нам на 100 лет. И мы опять верим. Хотя
                нашего мнения никто особо и не спрашивает. Но приятно ощущать себя причастным к чему-то великому.
                Хотя бы к деятельности чекиста.</p>
            <p> Моё личное отношение к чекистам? Я не буду призывать «мочить» их в сортире. Не такой уж я отморозок.
                Да и за такие слова можно попасть в экстремисты. А вот насчёт обрезания чекистам, таким образом, что
                бы у них уже больше ни чего не выросло, тут бы я, наверное, не стал возражать. Что бы они не
                размножались, не оставляли после себя потомства. Только проводить эту процедуру надо было сразу со
                дня создания ЧК. Мы бы многих проблем избежали. И не было тогда этой цепочки превращений: ЧК – ВЧК …
                КГБ – ФСБ.</p>
            <p> Так что я хотел сказать с самого начала? Может, оно и правда: когда люди остаются безучастными к
                горю одного человека, это горе приходит к ним, ко всем безучастным? Вот и пришёл мировой кризис.
                Может, в этом и есть Божья мудрость, Его справедливость и ответ на мои молитвы? Смелое
                предположение? Во всяком случае, Священное Писание по такому поводу учит: «Богатых увещевай, чтоб
                они не высоко думали о себе и уповали не на богатство неверное, но на Бога живого, дающего им всё
                обильно для наслаждения; чтобы они благодетельствовали, богатели добрыми делами, были щедры и
                общительны». (1 Тим. 6, 17-18).</p>
            <p>Теперь, из-за нас, вот таких одиночек, оставшихся без помощи в своих проблемах (а кто-то остался и
                без Родины), остальным людям придётся пережить кризис, чтобы стать мудрее и добрее к окружающим.

            </p>

            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>