<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Под «чинариком»</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Под «чинариком»</h1>
            <p> Прочитал статью Игоря Сутягина. Кто такой Игорь Сутягин? Да, в общем-то, для широкой публики он ничем
                особенным он не прославился. Ну, посадили мужика. Посадили ни за что. Но кого этим удивишь в наше время?
                Жизнь сейчас пошла такая: кто-то быстро становится миллиардером. Вроде ещё недавно был никто – теперь
                уже миллиардер. И наоборот: вчера ещё был человеком, сегодня, по чьёму-то желанию, ты уже никто. Ты стал
                ходячей емкостью, вместилищем воспоминаний. Миллиардеров, правда, пока мало. Безвинно посаженных больше.
                Игорь Сутягин как раз из этой категории. Почему его посадили? Нет, вопрос я поставил правильно: не за
                что, а почему?</p>
            <p> На этот вопрос сложно ответить. Причин могло быть несколько. Первая (навскидку) – это очередное сезонное
                обострение у нашего главного клопа, который никак не насосётся, не насытиться. Ему мало крови. Ещё его
                распирает жажда денег, жажда мести. Этот человек, который так же, как Павка Корчагин, не мог простить
                своих детских обид. И у него, так же как у Павки, появилась возможность отомстить всему миру. Павка
                мстил за то, что он родился не во дворце, а в хижине. За мать кухарку, за своего отца алкоголика, за
                деда психопата. За то, что он сам был импотент. Он рубил, рубил, рубил шашкой, пытаясь чужой кровью
                затушить бушующее внутри пламя – ненависть.</p>
            <p> Удовлетворение местью – сладкая штука. Таких пацанов мы в детстве называли чинариками – обслюнявленными
                окурками. Их не любили не за маленький рост, а больше за амбиции и злопамятство. В ответ они ненавидели
                удачливых сверстников, мальчишек-лидеров. С каким видимым удовольствием бывший чинарик, а ныне
                национальный лидер, рассказывал передовой молодёжи на Селигере, как он, обиженный на мальчишек, начал
                заниматься самбо. «Ну, а потом я им показал!» Эту нерасплёсканную ненависть он пронёс через всю свою
                жизнь. Завидная целеустремлённость.
            </p>
            <p> Говорят, что Путин целует мальчиков в животик от большой любви. Это не так. Наоборот, это происходит от
                застаревшей ненависти. В своё время чинарик мечтал о мести пацанам с соседнего двора. О той власти,
                когда ты в упоении делаешь над безвольным от страха существом всё, что тебе заблагорассудится. Вот она
                сладость всесилия! Вот откуда у бывшего чинарика желание не иметь в обозримом пространстве
                конкурентов-лидеров. «Командиров нам не надо, командиром буду я!»</p>
            <p> А эта зависть-ненависть к интеллигенции? К вшивой. Другой у нас она не бывает. Как он сумел её
                «опустить»! Интеллигенция у нас же прослойка? Нас так в школе учили. Так она не только в теории, она и
                на практике прослойка. Уйдя с поста президента наш нацлидер по-прежнему обладает всей властью. Только
                теперь, между ним и троном, олицетворяющим власть, есть прослойка. Мягкая подушка, которая зад греет.
                По-научному, это тамгреем называется. Нет, неправильно, тандемом называется. Опять же, какое
                удовольствие испытывает чинарик: у него на побегушках мальчик-подушка из воспитанной, интеллигентной
                семьи. Сбылась мечта идиота!
            </p>
            <p> А может, я не прав в своих рассуждениях о чинарике? Может всё гораздо проще? Был, каюсь, был такой
                период в детстве. Может даже у всех. Поймаешь майского жука, посадишь его в коробку. И ходишь такой
                довольный: у меня чо-то есть! Слышишь? Ходорковский скребётся. А это Стомахин! Тряхнёшь коробочкой,
                поднесёшь её к уху. Кайф! Слышно, как он там скребётся. Потрясёшь сильнее – он затихнет, наверное, от
                сотрясения мозга.
            </p>
            <p> Через какое-то время жука надо выбрасывать. Как Магницкого. Умер с непривычки к коробочке. А эта
                коробочка пустая. Хитрый жук оказался, улетел в Лондон. Когда-то мы все выходим из детского возраста.
                Умнеем. Начинаем понимать и жалеть всех. Даже майских жуков. Но кто-то так и остаётся замороженным на
                том уровне. Или отмороженным? Вспомнил! Заторможенным!
            </p>
            <p> Но вернусь к тому, с чего начал. Так вот, Игорь Сутягин в своей <a
                    href="https://www.svoboda.org/a/2287805.html" class="article__ref">cтатье</a> пишет о пытках в
                тюрьме. Тяжело
                читать такое. О систематических издевательствах, об унижении, которое стало нормой, о бесправии
                заключённых (всё-таки людей, потому что их никто не лишил этого статуса), о действиях наших
                правоХОРОНИТЕЛЬНЫХ органов. Пересказывать статью нет смысла. Её надо читать. Но, вот что я отложил для
                себя, так это кусочек диалога, с определением слова «пытка».</p>
            <p class="article__remark"> «Пытки - это ведь что? - горячился Вовка. - Я Серёгу попросил – он в школе
                посмотрел словарь Ушакова. А
                там написано: “Пытки – физическое насилие, истязание. Причинение нравственных и душевных мучений”. И
                что, интересно, когда годами сидишь – ни за что – и просто башку себе готов разбить, потому что ничего
                не можешь сделать, ни-че-го – это что, не мучения? Это не пытка?»</p>
            <p> А ведь прав, Вовка! По себе знаю, что прав. И само определение слову «пытки» верно. И Вовкина реакция на
                подобные действия (истязание, причинение нравственных и душевных мучений) именно так и выглядит: «Просто
                башку себе готов разбить, потому что ничего не можешь сделать, ни-че-го – это что, не мучения? Это не
                пытка?» И это так. Если нет возможности разбить башку кому-то (палачу), то хочется разбить свою голову,
                чтобы всё прекратилось. Это что? Не мучения? Не пытки? И неужели может быть хуже? У нас может.
            </p>
            <p> Я искренне, с уважением отношусь к Игорю Сутягину как к человеку, как к безвинно пострадавшему, который
                по воле обслюнявленного чинарика провёл в заключении 11 лет. Но в нашем государстве может быть и хуже.
                Это когда не тебя одного мучают, а на твоих глазах мучается вся твоя семья. Когда близкие испытывают
                такие же пытки, те же истязания, нравственные и душевные мучения, но при тебе, в твоём присутствии. А ты
                уже не можешь мечтать о том, чтобы разбить себе башку: семья-то останется. Останется в той же ситуации,
                из которой ты «удачно» выскользнул</p>
            <p> В своём дневнике, время от времени, намеренно возвращаюсь к той ситуации, в которой оказалась наша
                семья. Итак, шесть лет назад моя жена обратилась в правоохранительные органы с заявлением о хищениях на
                Рефтинской птицефабрике. В то время хищения были на уровне мелочёвки: миллионы, десятки миллионов
                рублей. Но честному главбуху это показалось преступлением, и она обратилась во все заинтересованные
                инстанции.
            </p>
            <p> И вот, с тех пор, наша семья находится под постоянным прицелом ФСБ, прокуратуры, ОБЭП. Сумма хищений с
                птицефабрики сейчас уже достигла миллиарда рублей. А эти правоХОРОНИТЕЛЬНЫЕ органы заняты одним
                вопросом: откуда у вас документы, подтверждающие хищения? Сами хищения этих «профессионалов» не
                интересуют! Целых шесть лет вся эта свора ничего не делала по существу, но сразу среагировала на
                заявление директора птицефабрики Топоркова, что недавно на птицефабрике были украдены документы,
                являющееся коммерческой тайной.
            </p>
            <p> Вот тут уже поднялась вся королевская рать. Птицефабрика была оцеплена, у всех, кто мог быть причастным
                к краже документов (сам факт кражи так и не был установлен), изъяли телефоны на предмет установления
                преступного сговора с Ткалич Ольгой Николаевной, бывшим главбухом. У нас дома был произведён
                многочасовой обыск. Но всё усилия блюстителей закона и порядка закончились пшиком. Правда,
                конфискованный у нас компьютер они до сих пор не вернули. А уже скоро год будет.
            </p>
            <p>Так вот, возвращаясь к вопросу о пытках. После незаконного увольнения Оли Топорков сделал всё, чтобы
                разорить нашу семью. Это было нетрудно после её незаконного увольнения. Приставы осаждали наш дом, то
                несколько раз описывая наше имущество, то бдительно проверяя его сохранность. Оказывается, оценив
                имущество бывшего главного бухгалтера в 30 тысяч(!) они собирались вывезти его и реализовать потихоньку.
                Это стало у них приработком к основному заработку. Когда я, ничего не подозревая, по простоте душевной,
                описал очередной набег приставов в своём дневнике и после публикации принёс один экземпляр начальнику
                приставов, а второй экземпляр самим непосредственным махинаторам-приставам, то эти махинаторы в течение
                нескольких дней уволились.
            </p>
            <p> Естественно, сама «фирма» приставов так и осталась. И по-прежнему проводит описи, увозя имущество у
                должников. Наверняка, на законном основании. Так кто-нибудь переживал нашествие этих приставов? Причём,
                переживал, в положении людей, вся «вина» которых в том, что в определённый момент они поступили как
                порядочные люди. Разве это не причинение нравственных и душевных мучений? Сожалеть о том, что в этом
                государстве ты верил в Закон, а также в порядочность людей, являющихся гарантами Конституции? Сожалеть и
                бесконечно обещать себе, что в следующий раз ты будешь как все: безмолвной и безмозглой плесенью,
                размазанной по гниющим просторам родины.
            </p>
            <p> Разве это не пытка: угроза конфискации дома, когда ты, из-за занавески, рассматриваешь любую
                остановившуюся у ворот машину (так, наверное, «воронка» в 37-ом со страхом ждали)? Или когда дочку,
                двенадцати лет, пригласили в суд свидетелем из-за нашего дома. С 2 часов дня до 8 часов вечера она
                просидела в коридоре помещения суда. Посадите взрослого человека у двери, за которой походит суд. И
                пусть он в постоянном напряжении сидит часами. А тут ребёнка! Разве это не физическое насилие,
                истязание? «Просто башку себе готов разбить, потому что ничего не можешь сделать, ни-че-го – это что, не
                мучения? Это не пытка?»
            </p>
            <p> По-моему пытка. Особенно, если пытке подвергаются твои беззащитные родные и близкие. Тут уже хочется не
                себе голову разбить. Я уже думал над тем, что если бы сразу убил Топоркова, всё было бы по-другому. И в
                Библии, при желании, можно найти себе оправдание: «Нет больше той любви, как если кто отдаст жизнь свою
                за друзей». А я не за друзей. Я за своих, самых близких, чтобы они не мучились под пытками приставов,
                следователей, прокуроров, судей. И государство бы мне медаль дало бы: ведь я бы ему миллиард сэкономил!
                Кто так ещё сможет? Ну, отсидел бы положенный срок, и с чистой совестью на свободу.
            </p>
            <p> На такие размышлении меня подвигнул вывод, что в нашем государстве, при управлении чекистом, до сих пор
                живут по завету великого менеджера: «Нет человека – нет проблемы!» Заметили, как численность населения
                за последнее время сократилась? Вот на сколько проблем стало меньше! Но, вы Николай Васильевич (я к
                Топоркову обращаюсь), не пугайтесь: с вас начинать, это всё равно, что ящерице хвост рубить. Простите за
                блатной жаргон нашего нацлидера, но «мочить» надо «дубинкой по башке». А вы, Николай Васильевич, башкой
                не являетесь. Башка сидит, пригревшись жопой на неказистой подушке (на прослойке, прокладке?), в кресле,
                на вершине вертикали власти. «Вознесу престол мой, и сяду на горе в сонме богов».
            </p>
            <p> И она (башка) опять готовит светлое будущее. В очередной раз нас хотят осчастливить. Но ни от кого не
                скрывают: теперь всем будет куда труднее. Раньше вокруг нас были исключительно одни враги народа. И
                чекисты вовсю старались. А теперь, посмотрите: сколько развелось инакомыслящих? Террористы, экстремисты,
                шпионы типа Сутягина. Чувствуете разницу и постоянную необходимость в чекистах? Сталин намеренно
                уничтожал после войны фронтовиков. Только за то, что они увидели реальный мир, там, за границей.
                Представьте себе, скольких людей предстоит теперь посадить, что бы вся дурь и память о реалиях
                загнивающего Запада выветрилась из головы народа! А какой железный занавес надо будет заново
                восстанавливать для простых людей? Это ж сколько трудов!
            </p>
            <p> Ну, если честно, то сейчас голова у меня не об этом болит. Для меня главное: как прекратить пытку всей
                нашей семьи? Ведь это невыносимо больно. Ладно бы СВОЮ боль терпеть. Но бессильно наблюдать, как
                мучаются твои близкие… К сожалению, меня среди тех, кто будет мочить дубинкой по башке, не будет, и
                ускорить этот процесс я не в состоянии. Но всё, что, казалось бы, от нас зависело, мы сделали.
                Обращения, заявления, жалобы во все инстанции, теперь уже вплоть до Европейского суда. Пока
                безрезультатно!
            </p>
            <p> Искать правду в наших судах бессмысленно. Привлечь внимание к ситуации, в которой оказалась наша семья,
                – бесполезно. Шесть лет публикую свой дневник. Изо дня в день описывал свою трёхнедельную голодовку
                протеста. Больше Оля не дала, хотя я хотел идти «до конца». Давал объявление, что готов продать свои
                органы, чтобы как-то вывести семью из долгов. А в ответ – тишина. Но, защищая свой дом, я снова готов
                идти до конца.
            </p>
            <p> Мой дом – моя крепость. Но у нас так не говорят. У нас говорят: нет таких крепостей, которые бы не взяли
                большевики. Как это повелось с самого начала, так оно и продолжается. Эти суки, всё, без разрешения,
                берут до сих пор. Но я собираюсь защищать не свою крепость. Я буду защищать свой мир, свой образ жизни,
                свою семью. Работников «абвгдейки» (центр «Э», центр «Т» и прочие буковки) прошу не напрягаться. Ну, чо
                вы, придурки, соскочили и сразу за оружие? Преданность партии и Путину демонстрируете? Расслабьтесь,
                мужики! Вы и так без работы не сидите.</p>
            <p> Дослушайте: я воспользуюсь советом Вовки-Мармелада. В нашей стране, где процветает суверенная (или
                чекистская) демократия, легче себе голову разбить, чем найти правду. Поэтому, когда придут очередные
                приставы, встречу их с ножом. Складной нож лежит так, чтобы мог взять в любой момент. Я много думал над
                этим. И не сошёл с ума. Хотя, был где-то вплотную к этому. Я пробью себе ладонь у них на глазах и
                потребую, чтобы они ушли, или я, вдобавок, перережу себе вены. Ну, что-то же я должен делать, в
                ситуации, когда нечего сделать?! Как-то же надо эту пытку прекратить.</p>
            <p> Не трогайте нас. Оставьте нас в покое. Я попробую стать подонком. Вступлю в «Единую Россию», в
                Общественную Палату. В любое говно, вы только возьмите меня! И поскорее, пока не передумал. Оле я скажу,
                чтобы она больше с вами не связывалась. Она столько пережила за эти годы, что, по-моему, меня
                послушается. Я нарушу запрет юродивого Николки: «Нельзя молиться за царя Ирода – Богородица не велит!» И
                буду молиться за этого злопамятного чинарика, за этого современного Павку Корчагина, который таки
                дорвался до заветной бочки с вареньем. Я попробую стать совком, безмолвной и безмозглой плесенью,
                размазанной по гниющим просторам родины.</p>
            <p> Как видите, всё происходящее в России доказывает актуальность сталинского лозунга: нет человека – нет
                проблемы. А плесень – это ведь не люди. У плесени проблем не бывает. Вдобавок, плесень совершенно
                бесчувственная. Поэтому ни когда не говорите о бесконечном терпении нашего народа. Это не сверхтерпение.
                Это бесчувствие растительного мира: своя боль болит, а чужая – не существует.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>