<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ЗАО РФ</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">ЗАО РФ</h1>
            <p> Не перестаю восхищаться своей женой Олей. У меня нет такого качества, каким обладает она: верой в
                порядочность людей и надеждой на будущее. Когда в очередной раз наше дело возвращают на доследование,
                она с упоением рассказывает о следователях, которые теперь будут вести дело. Если они молодые, то она
                говорит об их энтузиазме, о том, что они пока не испорчены путинской системой. И что она по глазам
                видит, как они с сочувствием и пониманием относятся к ней. Если это люди в годах, то она говорит об их
                опыте, об их старой закалке, умении схватить самую суть. И что из них, за время правления Путина, ещё не
                сумели вытравить чувство порядочности и ответственности.</p>
            <p> Я ей всегда возражаю, что она это говорила и в прошлый раз, и позапрошлый, и позапозапрошлый. Что в
                милиции не могут работать нормальные люди. А если таковые туда и попадают, то они или не выдерживают –
                сами уходят, или им «помогают» уйти. Но большая часть всё-таки остаётся, притирается. Вечно бесправному
                советскому человеку так хочется испытать свалившуюся на него власть. Продемонстрировать её на ком-то:
                собственное постоянное унижение нужно чем-то компенсировать. А где это легче всего сделать, как не в
                милиции? Правда, за последние годы возможности для компенсации собственной неполноценности стало больше.
                Только теперь компенсация эта чаще проявляется через получаемое денежное возмещение, именуемое коротко и
                ясно – взятка.</p>
            <p> И Путин здесь не причём. Просто ему очень удачно удалось сыграть роль дрожжей. Так в деревне делали:
                брали килограммовую пачку сырых дрожжей и подбрасывали кому-нибудь в уборную. Эффект – неописуемый!
                Забродившее содержимое выгребной ямы поднималось шапкой, затапливая пол огорода. А запах! Его ни с чем
                не спутаешь. Сколько потом нужно времени, чтобы ликвидировать последствия взаимодействия дерьма с
                катализатором, который в натуре показал содержимое выгребной ямы? И кто же постарался в нашу уборную
                сунуть пачку дрожжей?</p>
            <p> А это был чистой воды демократ, обещавший всем столько суверенитета, сколько смогут откусить. Но у меня
                язык не поворачивается за эту пачку дрожжей осудить Ельцина. Нетрудно представить его положение в
                определённый момент. Всё заканчивается, и приходится расставаться с властью. Похоже, что ему пришлось бы
                давать отчёт за все ошибки и за богатства, накопленные непосильным трудом за годы правления. Зная, что в
                России правители после смещения почти всегда заканчивают плохо, Борис Николаевич решил сам себе
                назначить лояльного преемника, с некоторыми, заранее определёнными качествами. То есть, это должен быть
                последний (или наоборот: первый?) беспринципный пройдоха, грезящий о власти. Умственные способности и
                уровень культуры никакой роли не играют. Главное: указом №1 преемник должен был гарантировать Ельцину
                неприкосновенность при любых форс-мажорных ситуациях. Но на такого вундеркинда, чтобы он действительно
                гарантировал Ельцину обещанную безопасность, должен быть сногсшибающий компромат! О покойниках принято
                говорить только хорошее. Поэтому говорю, что Ельцину при его прозорливости удалось подобрать подходящую
                кандидатуру, оказавшуюся нечаянным катализатором для советского общества. Видимо, добыли и качественный
                компромат. Под это дело, чтобы как-то отвлечь внимание (или привлечь?), начали новую бойню в Чечне,
                взорвав у себя несколько многоэтажек.</p>
            <p> После этого благодаря весьма характерным высказываниям и поступкам ельцинского преемника в нашей уборной
                (пардон, из путинского сортира) такое дерьмо наверх попёрло! Не мною замечено, что подобное порождает
                подобное. При Путине расплодились оборотни, вымогатели, фашисты, педофилы. Общество как будто сбесилось.
                За время правления чекиста выяснилось, что не только король сам голый, но таковой же оказалась и вся
                добропорядочная публика, вся эта вспенившаяся масса из выгребной ямы, наблюдавшая с обожанием за его
                величеством. Иначе, почему тогда они голосовали за второй срок правления чекиста?</p>
            <p> Мне понравилось высказывание, что у нас не государство Россия, а ЗАО РФ, где никто ни о чём не
                заботится, как только о собственной сиюминутной выгоде. Даже если это в перспективе идёт во вред
                государству. И самому Путину в созданной им системе так понравилось складывать миллиарды в собственный
                карман, что он не мог представить: как же это он расстанется с властью, когда подойдёт окончание
                восьмилетнего срока пребывания в ней? Тогда он выбрал лучший из вариантов: на трон на последующие 4 года
                надо посадить местоблюстителя. То есть послать посылку самому себе и через какой-то срок с гарантией её
                получить.</p>
            <p> Среди вспенившейся массы дерьма начались поиски очередного преемника. И снова требования к нему самые
                определённые. Опять преемник не должен быть умным. Умный, придя к власти, может «кинуть» Путина. Поэтому
                преемник должен быть глупее Путина. Найти такого – это уже само по себе проблема. Далее: он не должен
                иметь своего мнения. Чтобы не противостать Путину в самый неподходящий момент. От такого местоблюстителя
                требуется абсолютное послушание. Это должен быть своего рода деревянный Буратино, который всегда помнит,
                что своим появлением он обязан одному только папе Карло. И при этом производить впечатление либерала,
                чтобы забродившее дерьмо «почувствовало разницу».</p>
            <p> Так что это за государство, в котором власть передают друг другу, исходя из сугубо личных интересов? Это
                и есть Закрытое Акционерное Общество, в котором воруют все. Конечно, есть риск, что могут посадить. И
                кого-то сажают! А что делать? Всегда есть доля риска, что ты можешь попасть под машину, когда переходишь
                дорогу в неположенном месте. Но сбивает обычно кого-то другого. Иногда у тебя на глазах. А самого, пока,
                Бог милует! Да и те, кто попадает под машину, о своих переживаниях больше ни с кем не делятся. Поэтому,
                при необходимости, каждый перебегает дорогу в любом месте.</p>
            <p> Арестом Ходорковского Путин показал, кто в доме хозяин, и что в образовавшемся «ЗАО Россия» с этого дня
                будет царить безнаказанность и вседозволенность для самого главного преступника России. Тут же нашлись
                пятьдесят поросят, прикормленных интеллигентов, которые во всёуслышание засвидетельствовали
                целесообразность и принципиальную последовательность действий чекиста в отношении Ходорковского.
                По-моему, с этого момента выстроенная вертикаль власти стала пирамидой преступников. На верху этой
                пирамиды – пахан-чекист. Это он крыша для всех беспредельщиков. Это он держит зонтик, чтобы на своих не
                капало.</p>
            <p> Как действует преступное ЗАО? Это из того, что мне доступно: просматривая прессу, я обратил внимание на
                публикации в «Новом Регионе». Начиная с апреля месяца там систематически публикуют материалы о том, что
                на Урале переданы в частную собственность практически все птицефабрики: Среднеуральская, Первоуральская,
                Красногвардейская, Кировоградская. Цитирую: «По данным прокуратуры, свердловский Минсельхоз за период с
                2007 по 2009 годы не раз совершал действия, направленные на вывод имущества государственных унитарных
                предприятий из собственности Свердловской области в частную, что неминуемо ведёт к потере контроля
                региона над собственностью» («Новый Регион – Екатеринбург», 11.03.09).</p>
            <p> Так ведь продавали не просто дешево! Отдавали за бесценок! «Автомобиль КАМАЗ – всего 5 тысяч рублей», -
                отметил представитель Генпрокуратуры («Новый Регион – Екатеринбург», 01.07.09). Это наша семья из
                четырёх человек, живущая на две пенсии плюс моё пособие по инвалидности, могла бы купить 2 (два!)
                «КАМАЗа»!!! Я знаю, что существуют стервятники, которые питаются падалью. Так вот стервятники из ЗАО РФ
                из хорошего предприятия создают падаль, а потом пожирают его. Этот чекист-карманник (не потому, что по
                карманам тырил, а потому что миллиарды туда складывал) такой фокус с ЮКОСом сделал. После этого
                пошло-поехало. Пахан дал отмашку! Грабь награбленное – любимое оправдание у русских.</p>
            <p> А этот сотрудник Генпрокуратуры, которого возмутила низкая цена КАМАЗов!? Где интересно он был, когда мы
                рассылали письма и подтверждающие документы, что разворовывается крупнейшая в России Рефтинская
                птицефабрика? Целых пять лет! Сколько писем было получено в Генпрокуратуре? Их все благополучно отсылали
                назад: с местными жуликами должны заниматься местные коррупционеры. Генеральная прокуратура занимается
                жуликами более высокого ранга. И взятки берёт на порядок выше. Что, не берёт? Взятки не берёт? А чем
                тогда можно объяснить её бездействие? И это бездействие (если оно было), по-моему, уже давно перешло в
                содействие. Что, не так? А как тогда можно объяснить постоянно растущий уровень коррупции? Только тем,
                что чекист с чистыми руками пришёл к власти? Слишком просто. Но не ищите себе оправданий. Пока ещё не
                пришло время.</p>
            <p> Теперь я понимаю Олин просчет, когда она собрала документы на Топоркова. Она хотела вывести на чистую
                воду зарвавшегося жулика, директора Рефтинской птицефабрики. Она понятия не имела: на кого она
                замахнулась. Это уже была СИСТЕМА. Это было уже сложившееся ЗАО РФ, преступная пирамида. Поэтому не
                помогли обращения ни в прокуратуру, ни в ОБЭП, ни в ФСБ. Никто из них пальцем не пошевелил. Они - тоже
                составная часть этой СИСТЕМЫ. Топорков на «откатах» составлял себе капитал. Естественно, всё
                по-честному: он делился с теми, с кем должен делиться. Потом так же, в доле, разорённое предприятие
                выкупалось за бесценок на капитал, заработанный на «откатах». По пять тысяч за КАМАЗ. Стервятники.</p>
            <p>Всю цепочку нетрудно представить: я уже не раз упоминал эти фамилии: директору Топоркову
                покровительствует министр сельского хозяйства Чемезов. У Чемезова ангелом-хранителем работает губернатор
                Россель. Сотрудники правохоронительных (рука не поднимается по-другому писать) органов прямо говорят:
                «Вот уберут Росселя, и всё изменится!» Так сколько ждать? Кто ж его уберёт? Этот, как его, чекист-пахан?
                Он по-прежнему на вершине созданной им пирамиды. Всё как в той кинокомедии: «Да кто его посадит? Он же
                памятник!»</p>
            <p> Прочитав о проданных за бесценок уральских птицефабриках, я понял, что Рефтинская птицефабрика не
                продана только потому, что Оля не даёт покоя правоохранительным органам (язык не поворачивается их так
                называть) уже 5 лет. Хотя эту фабрику, как самую крупную в России, хотели «приватизировать», наверняка,
                самой первой. Но Олины действия помешали. За что она и получила по голове. Нашей родине никогда не были
                нужны профессионалы-созидатели. Поэтому мы обречены смотреть на мир из глубокой, скажем так, ямы.
                Поэтому и кругозор у нас узкий. Что из ямы увидишь? И уровень соответствующий: то есть, ниже остального
                мира. И на данный момент нашей родине нужны падальщики-стервятники. А не возмущённые правдоискатели.</p>
            <p> Всё это началось с появлением чекистов. Чекистов у власти. Людей «с чистыми руками, горячим сердцем и
                холодной головой». Опять же, кто обратил внимание, что в этом определении Дзержинского ничего не сказано
                о наличии совести? А человека отличает именно этот компонент – совесть. Если её нет, то ты тварь
                бессовестная. Наличие рук, сердца и головы ещё ни о чём не говорит, какие бы им ты свойства ни
                приписывал: и чистые, и горячие. О чём тут говорить, если ты чекист (согласно данному определению – уже
                бессовестный), да ещё мучающийся комплексом неполноценности… Кстати, заметка на полях: набитые деньгами
                карманы не делают человека выше ростом. Может, только фигура ширше кажется. От раздутых карманов.</p>
            <p> Вот в этой ситуации у нас с Олей полное разногласие. Она верит в людей все эти годы. Верит в
                справедливость. А я нет. Но поскольку в хорошей семье надо жену слушаться, то я наши расхождения свёл к
                компромиссу: хороших людей СИСТЕМА обезличивает и уродует. Вот как человек он - личность. Дома – душа
                человек! А на работе, по службе, этот душа-человек становится сволочь сволочью. И без определённого
                презента к нему ни на какой козе не подъедешь. Оля с этим согласилась: «Да! Главное, что человек
                хороший. Его бы ещё в соответствующие условия!»</p>
            <p> Я молчу, не углубляя тему. А на языке вертится вопрос, который я ей не задам: «А как эти хорошие люди
                могли позволить существовать этой СИСТЕМЕ? Более того, почему мы, хорошие люди, в той или иной степени
                принимали участие в создании СИСТЕМЫ». Наглядную характеристику нам, «совкам», дал опрос по «Эхо
                Москвы». Повод: поездка патриарха в Киев. Честно говоря, я вообще не понял в качестве кого туда поехал
                Кирилл? Как чекист, масла подлить в огонь? Или как священнослужитель, с миротворческой миссией? Нельзя
                служить двум господам. Библия конкретно говорит об этом. Уж Кирилл-то об этом знает.</p>
            <p> Но опрос был совсем не по этому поводу. Во время проповеди Кирилла кто-то умудрился сфотографировать на
                его запястье часы стоимостью в 30 тысяч евро. На наши деньги это где-то миллион триста тысяч рублей.
                Такие деньги, как пенсионер, я получу только за двадцать два года. Не убедительно? Тогда подойдём с
                другой стороны. Предположим, что я могу со своей пенсии (знаю, что это невозможно, но я же сказал
                «предположим») откладывать по тысяче каждый месяц. Тогда только через 110 лет накопится сумма
                необходимая для покупки этих часов. Сколько же времени потребовалось патриарху, чтобы накопить на одни
                только часы? Совсем не похоже, что он уже 110 лет на пенсии.</p>
            <p> А тема его проповеди как раз была об обществе потребления. Что не надо быть хапугами, а то мы тоже
                духовно разложимся, как проклятая Америка и поддерживающий её Запад. Вопрос радиослушателям от «Эха
                Москвы»: «Имеет ли моральное право ТАКОЙ человек (с часами «Роликс» на запястье) призывать нас к
                аскетическому образу жизни и говорить о нравственных и духовных ценностях?»</p>
            <p>Я был поражён ответом. Почти половина (45%) сказали: «Имеет». Нам глубоко наплевать, КТО и ЧТО говорит.
                Нет! Даже не так: для «совков» главное, чтобы говорящий был облечён некой властью. Власть – нечто
                сакральное, выше всяких размышлений. Божественное и потустороннее. Вот ЭТО и есть для нас самое главное.
                А ЧТО он говорит? Да что захочет. Поджигатель может говорить о мире во всём мире. Антихрист
                проповедовать евангельские истины. Развратник - о целомудренности и здоровом образе жизни. Раз ему
                власть дали – значит, он приобрёл право говорить. И право говорить, что вздумает. А наше дело только
                конспектировать. Вначале труды Ленина. Потом «Малую землю». У нас всегда говорят хорошо и много. О
                зверствах грузин по отношению к осетинам. О миротворце Кадырове. И все верят.
            </p>
            <p> Кстати, в отношении дорогих часов. Не удивлюсь, если у Путина точно такие же. К чему я это? По-моему,
                никакие это не «Роликс». Где-нибудь в Кремле наладили мастерскую по изготовлению фальшивок. Скорее
                всего, они не хуже оригинала. Может, даже лучше (если это возможно). Но всё равно подделка. И раздают их
                соответственно рангу. Как опознавательный знак, показатель принадлежности к высшему сословью чекистов.
                Почему я так думаю? Раньше чекистов можно было отличить по кожанке и маузеру. Сейчас времена и мода
                изменились. А желание выделиться из толпы осталось. И также желание подчеркнуть принадлежность к некой
                элите.
            </p>
            <p>Возвращаюсь к началу, к нашему с Олей спору, кто из нас прав? Виновата СИСТЕМА, которая калечит, насилует
                людей? Или хорошие люди, которые создали эту СИСТЕМУ и всемерно поддерживают её?</p>

            <p> Кстати, об этих людях, чьи фамилии я упомянул. Каждый из них внёс свою лепту в то, чтобы растоптать нашу
                семью, нашу заслуженную спокойную жизнь. (Ну и сказанул! Разве в России такая жизнь возможна?) Я открыто
                ненавижу этих людей и считаю их мерзавцами. Медведев что-то там бубнил о России, что она готова отвечать
                очень жестоко в своей внешней политике, когда действия партнёров угрожают интересам граждан страны. А
                почему бы во внутренней политике не отвечать очень жестоко, когда действия высокопоставленных подонков
                угрожают интересам граждан страны? Что, уважаемые люди за такие оскорбления могут на меня обидеться?</p>
            <p> Ничего страшного. Прецедент уже есть: как оказалась, у самого Кадырова есть честь и достоинство, и он
                нуждается в защите оных. Вы, господа, чем отличаетесь от него? По большому счёту – не многим. Жалуйтесь.
                Как всегда – закон и суд на вашей стороне. А я продолжаю Олей восхищаться. Я так не могу, как она.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>