<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Экстремист</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Экстремист</h1>
            <p>Ну, всё, наверное, хватит придуряться. Сейчас я уже знаю правду. И готов рассказать её другим. Во-первых,
                в конце концов, все имеют право на правду. Пусть даже эта правда касается только моей персоны. А
                во-вторых… Во-вторых, лучше самому рассказать, признаться, как оно есть на самом деле. Зачем ждать пока
                это сделают другие? А другие это точно сделают – у них работа такая.</p>
            <p> Правду о себе я узнал из статьи Саид-Эмина Ибрагимова, на сайте «Чеченпресс» (www.chechenpress.info,
                Отдел писем, 23.03.09 г.). Он опубликовал (со своими комментариями) закон об экстремизме с новыми
                исправлениями. Честно говоря, и раньше приходилось мне задумываться над этим. Милиция, успешно ловит
                «оборотней»; чиновники борются изо всех сил с коррупцией; обещают принять законы об ужесточении мер по
                борьбе с педофилией; чекисты, оказывается, вовсю боролись с терроризмом. Зато теперь они, оставив в
                покое педофилов (какой от них вред?), ужесточили меры по борьбе с экстремистами.</p>
            <p> Почему до публикации Ибрагимова я сам не ознакомился с законом о противодействии экстремистской
                деятельности? Зачем? Нас, к сожалению, так воспитывали: гимн, который мы не знаем, конституция, которую
                мы не читали. Всегда подсовывают тебе бумажку: «Подпиши!» Подписываешь, и читать как-то неловко – что ты
                там подписал? Только в расчётной ведомости, расписываясь за зарплату, успеваешь краем глаза увидеть
                причитающуюся тебе сумму. Поэтому люди сейчас плачут оттого, что поназаключали договора, не вникая в
                смысл написанного. Почему? Нас так воспитывали</p>
            <p> Доверчивость здесь не причём. Это селекция по-советски: выжившие должны были быть тупыми и послушными.
                Оскорблением для нас являлись слова: «Что? Ты самый умный, что ли?» Ой! Да, ну, какой я умный? Я такой
                же, как все! Умных никто не любил. И не любит. Сами представьте себе ситуацию: в стране бурно
                развивающейся плесени, плесень снизу начинает что-то доказывать плесени, которая наверху. Права качать!
                А наверху такие же люди, как и внизу. Зачем им головная боль? Так вот, чтобы эта плесень, снизу, свои
                права наверх не качала, у нас изначально не поощряется тяга к знанию законов и излишнее любопытство к
                собственным или к чужим правам.</p>
            <p> Всё достаточно просто! Тебя накормят, напоят, ну, во всяком случае, не дадут с голоду сдохнуть. Но ты, в
                ответ, думать не моги, и не заикайся о каких-то правах, о каких-то своих претензиях. Конечно, тут есть и
                отрицательные моменты: наверху, к сожалению, точно так же нет умных людей. И если кто-то из умных,
                случайно, наверх попал, то его там точно так же не любят. Ходорковского кто-нибудь помнит? Умный мужик
                был! К тому же порядочный. Был. Да сплыл. Вот поэтому, мы так и живём, как живём сейчас. Вот поэтому я,
                как и многие, не читал закон об экстремистах.</p>
            <p> А моя правда, которую должны знать все, заключается в том, что я придурялся, будто я пенсионер. И что
                мне пособие по инвалидности доплачивают, будто я инвалид. И что у меня инсульт был. Прочитав закон про
                экстремизм, да ещё и после комментариев Саид-Эмина, я осознал, что в первую очередь являюсь
                экстремистом. Так лучше сам в этом признаюсь. Чего ждать? Пока это другие докажут? А другие это точно
                сделают. На законных основаниях – у них работа такая.</p>
            <p> Почему экстремист? Потому, что (мне кажется всю жизнь, но это не так) я ненавижу фашистов. Тьфу, ты!
                Чекистов. Ненавижу чекистов! После инсульта я не вижу между ними никакой разницы. За это уже нужно
                наказывать, в назидание другим. И когда советский народ (советский, советский, не надо со мной спорить),
                после перестройки, согласился на жизнь под управлением чекиста, я возненавидел и такой народ. Кто я
                теперь, получается? Враг народа! Это по старой терминологии. А по новой – экстремист. Самый настоящий
                экстремист.</p>
            <p> Вдобавок, то, что построил Путин за годы своего правления и назвал «вертикалью власти», я называю
                преступной пирамидой. Как это мне видится? Основание, фундамент составляет мелкая сошка – всевозможные
                руководители, чиновники, директора. Все они совершенно беззащитны, и, сами по себе ничего не стоят.
                Обычные советские люди. Раньше мелкими расхитителями считались простые работяги. Тащили с предприятия,
                что в руки попадало. И этому всеобщему явлению, этим расхитителям соцсобственности дали меткое название
                – «несуны».</p>
            <p> С созданием преступной пирамиды всё изменилось. Теперь основная масса расхитителей (фундамент) состояла
                уже из чиновников-директоров, и была разбита на группы, по признакам принадлежности к определённым
                кормушкам. Скажем, директора нескольких заводов подчинялись на уровне области какому-то министерству.
                Министр и был «крышей» этих директоров. Понятно, что не даром: он их пас, он же их и доил. А сколько у
                нас таких директоров? А сколько областей? Вот вам и мощный фундамент, в котором многочисленные чиновники
                – основание преступной пирамиды.</p>
            <p> Министров областного уровня, конечно, меньше. Они как раз представляют второй, меньший по численности,
                но более высокий уровень (слой) пирамиды. Для этих министров ангелом-хранителем является губернатор
                области. Это он, губернатор, является им «крышей». Губернаторов у нас ещё меньше. Соответственно, они
                находятся на маленьком, но зато на самом высоком уровне пирамиды.</p>
            <p> Выше их находится только небожитель, давший им власть и - вместо корыта – блюдечко с голубой каёмочкой.
                Этот небожитель и есть наивысшая точка пирамиды. Это он назначает губернаторов. Это он держит зонтик над
                всей пирамидой и следит, чтобы на своих не капало. Капать оно, конечно, на кого-то капает. Но весьма
                дозировано и очень прицельно. Кто-то же должен стать козлом отпущения, на которого валят все грехи.
                Главное – народу подобное действие в удовольствие: «Вот, плохих всех пересажают, а с хорошими мы
                останемся!»</p>
            <p> Ага, останетесь. С носом! Ведь жулик на жулике сидит, в несколько этажей, снизу и до самого верху. И по
                законам мафии все повязаны друг с другом. Не обязательно кровью. Но обязательно преступлениями. И,
                следовательно, наличием компромата. Потому что компромат кого хочешь сделает послушным в вертикали
                власти. Чекисты в этом преуспели. Так что надежды на то, что плохих жуликов всех пересадят, по крайней
                мере, не состоятельны - почва очень благодатная. Но советский народ - это тот дурень, который думкою
                живёт, в постоянной надежде на лучшее. Вдобавок, к этому есть ещё один минус. Испокон веков наш народ
                пребывает только в двух состояниях: он или безмолвствует, или безумствует.</p>
            <p>А теперь, когда я прошёлся по этой пирамиде снизу доверху и сверху донизу, скажите по-честному, разве я
                не экстремист? В сложившейся ситуации меня успокаивает то, что я не безмолвствую. Четыре года я пишу,
                что директор местной птицефабрики Топорков - вор (основание пирамиды, первая ступень). Его покрывает
                местный министр сельского хозяйства (вторая ступень пирамиды). Этот министр в большом почёте у нашего
                губернатора. Кто крышует губернатора? Лучший из лучших. Тот, кто имеет право воскликнуть: «Государство –
                это я!» Это макушка пирамиды, им самим построенной.</p>
            <p> Вывод: да, я не безмолвствую. Только что от этого толку? Где справедливость и торжество закона? В
                Конституции? Ага! А Конституция в яйце, у Кощея Бессмертного. Который на вершине пирамиды диктует свои -
                неписанные - законы, и мы живём по ним. Наша жизнь движется под его зонтиком: кто им прикрыт, на того не
                капает. Дать бы по этому яйцу! Но даже сам призыв к этому, по закону, уже экстремизм. Не буду рисковать.
                (Подсказка компетентным органам: если не докажут, что я экстремист, тогда они пусть пробуют доказать,
                что я безумствую. Думаю, что у них не будет проблем.)</p>
            <p> Недавно одному вот такому же, не безмолвствующему, пытались доказать, что он безумствует. Но неудачно.
                За что? В своем агитационном листке, изданном к выборам в городскую Думу г. Первоуральска, он
                опубликовал список коррумпированных судей Первоуральского городского суда и фамилии работников
                прокуратуры, которые, по его утверждению, должны быть привлечены к уголовной ответственности. Этот
                человек настолько уверен в собственной правоте, что хотел доказать это в суде. Но ему не давали такой
                возможности. Тогда он предоставил им возможность подать на себя в суд, за свои публикации. Понятно, что
                этим перечисленным продажным судьям и прокурорам захотелось, чтобы вместо суда дело закончилось
                «психушкой» для Рифхата Хакимова - автора скандальных статей.</p>
            <p>Но даже советская психиатрия, выполняющая телефонные «заказы», не смогла найти повода для его изоляции.
                Может быть, благодаря некоторым данным из биографии Рифхата: уволен в запас в августе 20008 года,
                подполковник, психолог соединения, 20 лет занимается юридической деятельностью. Такого с наскока, голыми
                руками не возьмёшь. И в «психушку» с разбегу не спрячешь. Хотя, после того как посадили Ходорковского, я
                понимаю, что у нас всё возможно. Сейчас Рифхата Хакимова пытаются положить в «психушку» через решение
                суда, для стационарного обследования. Ну, как после этого не отметишь, что родина заботится о тех, кого
                любит!

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>