<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Враг врага моего</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Враг врага моего</h1>
            <p> Что делать, или, вернее, как можно жить в окружении врагов? Нет, я не о том случае, когда тебя могут
                взять в плен и единственный выход – броситься под танк с гранатой. И не о том, как Путин проходил
                практику в Германии. И не о подвигах в США Анки-пулемётчицы, по фамилии Чапман. Нет. А вот, как живётся
                простому человеку в родном государстве? Это интересно? Можно, я о себе, на своём примере? Ведь
                дневник-то мой. О ком хочу, о чём хочу – о том и пишу.</p>
            <p> Этим летом на теплотрассе, вернее, на ответвлении, ведущем к нам в дом, я заметил капельную течь. Но,
                огородные дела, нехватка времени заставили отложить проблему на потом. Так же прошла и осень; а зимой я
                обнаружил под трубами сосульку. Она внушительно свисала с теплоизоляции. Ну, вот, надо опять обращаться
                в ЖКХ.</p>
            <p> Я уже несколько раз обращался к ним с подобными проблемами, но меня всегда благополучно отшивали.
                Поэтому я сам в морозы восстанавливал на трубах теплоизоляцию, раздербаненную мальчишками. Они летом
                бегали по трубам, играя в догонялки. Из-за полного бездействия ЖКХ мне приходилось обращаться к соседу,
                и он помогал со сваркой, когда нужно было устранить образовавшуюся течь.</p>
            <p> Но когда об этом узнал директор птицефабрики, то он уволил моего соседа. Чтоб никому неповадно было
                поддерживать нашу семью. А сосед помогал-то мне потому, что имел несчастье проложить к себе теплотрассу
                от моего дома. И когда, в случае течи, я перекрывал свою теплотрассу, он тоже оставался без тепла. Вот
                он мне и помогал на свою голову, не думая о реакции со стороны директора. Мы живём в море ненависти, где
                добро и порядочность ставят в вину, где так легко стать врагом или нажить себе врага.</p>
            <p> Но появившуюся новую течь всё-таки надо устранять. После длительных переговоров ко мне из ЖКХ были
                направлены специалисты. Они, осмотрев место происшествия, заявили, что течь на территории двора они не
                будут устранять: вот если б течь была на улице… И ушли. А кто ж будет устранять во дворе? Пришлось снова
                звонить главному инженеру и договариваться. Не прошло и несколько дней, как специалисты появились.
                По-быстрому сняв с трубы теплоизоляцию, они сели ждать мастера, чтобы получить от него указания.</p>
            <p> Мастер вскоре подъехал и озвучил рецепт сантехника, актуальный для нашей страны: «Да тут всю систему
                менять надо!» И они уехали на консультацию с главным инженером, предупредив меня, чтобы я держал один
                кран в доме открытым. Это чтоб был постоянный проток воды, иначе трубу разорвёт от мороза. С тех пор
                прошло две недели, но эти специалисты больше не появились.</p>
            <p> Нет, ну это настоящие диверсанты! Сантехниками они только прикидываются. Это враги! В тридцатиградусные
                морозы снять изоляцию теплотрассы в двух местах и всё бросить. По их вине у меня сутками вода
                непрестанно течёт напрямую в канализацию – чтобы трубу от мороза не разорвало. Сам я стекловатой трубу
                утеплить не могу: у меня астма. Полагаю, это диверсия врагов нашего государства. А может наоборот:
                диверсия нашего государства? Для которого враги – мы, живущие в нем граждане?</p>
            <p>Теперь буду ждать лета. Летом труба точно не промёрзнет.</p>
            <p> Год назад, позапрошлой осенью, я увидел на улице мужиков с кувалдой и деревянными кольями. Когда мужики
                остановились возле нашего дома, я окликнул их: «Ребята, чо-то вы рано начали работать». Они с неохотой
                повернулись в мою сторону. Я первый сдался, и чтобы прервать молчание, закончил свою мысль: «Так, эта… У
                нас все земляные работы и укладка асфальта начинаются после первого снега». Они посмотрели на меня с
                откровенной неприязнью, как будто увидели перед собой умного человека. Да здря вы так, ребята. Я такой
                же, советский, как и вы. Просто пошутить захотелось.</p>
            <p> Через три дня пошёл снег. Вскоре появились и те рабочие. Оказывается, по милости Божией и по решению
                «Единой России» к нам в частный сектор проведут газ! Поскольку мой дом угловой, на пересечении двух
                улиц, то они бурили под опоры газопровода с двух сторон моего участка. С одной стороны пробурили вдоль
                забора с внешней стороны; и тут же, сразу, забетонировали стояки. Когда я хватился, выяснилось, что эти
                стояки не дают мне возможности открывать ворота, и, по сути, я не могу заехать на собственный участок. С
                другой стороны дома эти же рабочие пробурили несколько скважин прямо по палисаднику, где у меня посажено
                штук двадцать роз.</p>
            <p> После этого рабочие пропали. Насовсем. Пришла весна. Я ещё надеялся, что они вернутся. Пробуренные под
                опоры скважины уже начали осыпаться. В палисаднике на их месте появились воронки, заполненные водой, как
                от взрыва снарядов. Тогда, той осенью, мне пришлось после бурения из палисадника вывозить тачкой кучи
                земли. Теперь, весной, я завозил эту землю назад, засыпая и утрамбовывая воронки. Так бы оно всё ничего,
                но проблема в том, что я пенсионер и инвалид. Мне в собесе уже дали тросточку для ходьбы, а сейчас и
                костыли выдали на перспективу.</p>
            <p> Я возил землю и думал о том, что не только у России, а почему-то и у меня полным-полно врагов. Я думал о
                родине-матери, об этих рабочих и их матери. И думал как-то нехорошо. Нам не надо внешних врагов. Мы
                внутри этой страны все враги друг другу. Кстати, сама фирма и её недовольные рабочие, куда-то пропали.
                Но память у меня о них осталась: заехать на свой участок я по-прежнему не могу – ворота не открываются.
            </p>
            <p> Вроде ничего страшного не произошло. «Враги сожгли родную хату»? Нет. Не сожгли. Только одни обворовали
                нас в очередной раз, а другие – наглядно показали, что все мы, начиная с работяг, сволочи (а не только
                наше руководство, как мы привыкли думать). Поэтому, любой из нас, имеет полное основание относиться к
                окружающим людям, как к сволочам. Или как к врагам. Правда же, хорошее оправдание для самих себя?</p>
            <p> Ну, как, вы ещё не устали от обилия врагов окружающих нас? Продолжу: преждевременной радостью для нашей
                семьи стала установка теплосчётчика. Влезли в долги, но зато мы работали на перспективу: потом
                потраченные средства оправдают себя. И, правда, летом мы платили за тепло в три раза меньше. Зато среди
                зимы счётчик нам внезапно показал, что за месяц мы должны заплатить 15 тысяч. Это немного, если мы
                знаем, что взятки у нас дают миллионные, а воруют миллиардами. Но для пенсионера с пенсией в 8 тысяч,
                куда входит пособие по инвалидности, 15 тысяч, мягко говоря, много.</p>
            <p> Не буду описывать, что мы не смогли доказать фирме «Инженерное дело», установившей счётчик, что он не
                исправен. Не смогли мы доказать тому же легендарному главному инженеру из ЖКХ, что в нашем доме
                невозможен такой расход тепла, и что мы не должны платить эту фантастическую сумму в 15 тысяч. Кончилось
                всё на том, что мы заплатили 15 тысяч ЖКХ по счётчику и они, смилостивившись над нами, стали взимать с
                нас деньги как прежде - будто у нас нет счётчика.</p>
            <p> Так что теперь у нас стоит счётчик за 30 тысяч, который совсем перестал выдавать показания, а мы платим
                столько, сколько посчитает нужным ЖКХ. Я Оле предложил: «Давай <span
                    class="article__accent">теперь</span> платить по их счетчику?» То есть,
                если показаний нуль, то и платить нуль. Но Оля мудрее меня, она отказалась от этой затеи.</p>
            <p> Помогите мне определиться: так кто враг беззащитных и немощных пенсионеров-инвалидов? Кто тут враг?
                Вообще-то, я враг. Вы не согласны? А спросите об этом «Инженерное дело» или ЖКХ. Они подтвердят – я для
                них враг.</p>
            <p> Ну, что всё о грустном и о грустном. Не может быть так, чтобы всё было плохо. Должны быть и проблески.
                Например, попал я по воле случая на обследование в областную больницу. Мне там предложили бесплатно
                сделать операцию по протезированию коленного сустава. Это чудо! Потому, что до этого каждый год врачи на
                ВКК объясняли мне, что ждать бесплатной операции надо лет шесть. А платная операция стоит где-то 160
                тысяч, зато без очереди. И врачи с удовлетворением писали в карточке, что я добровольно отказываюсь от
                операции. И тут вдруг такое предложение: бесплатная операция, в течение 2 - 6 месяцев!</p>
            <p> Но я зря расслабился в надежде на что-то хорошее. Операция вроде бесплатная, так мне пообещали. Но
                местный невропатолог послал меня в Екатеринбург сделать до операции МРТ головного мозга. Кардиолог
                предложила сделать УЗИ сердца. Да, что мне жалко 3 тысячи на это дело, если саму операцию проведут
                бесплатно! Вон, ракета «Булава» миллионы стоит. Никто на этом не экономит. А тут три тысячи! Да тремя
                тысячами сейчас даже от мента на трассе не всегда откупишься. Самое забавное оказалось в том, что вызов
                на операцию так и не пришёл мне ни через 2 месяца, ни через 6 месяцев, ни через 8. Теперь уже его и не
                жду.</p>
            <p> Дело не в деньгах, хотя пишу о них столько же, сколько об окружающих врагах. Я хочу проиллюстрировать
                наболевший вопрос: может ли быть кто-нибудь более беззащитным в государстве, чем старики и дети?
                Равнодушие и безжалостность общества к самым слабым – показатель того, насколько озверел народ.
                Единственное, что такой народ хорошо умеет - это находить или создавать себе врагов. И вся жизнь у
                человека в нашем государстве уходит на борьбу с врагами. Хотя она должна быть направлена на созидание.
                Поэтому мы нищие, так как ничего не созидаем, нам некогда, мы создаём только врагов, а потом
                последовательно боремся с ними. Количество врагов уже сравнялось с численностью населения. Разве это не
                саморазрушение?</p>
            <p> Наше животное равнодушие, безразличие к чужому горю, безучастие к чужой жизни естественным образом
                перетекает в ненависть. Это как рисунок на окне в морозный день. Ничего вроде бы вокруг не изменилось,
                только на улице чуть-чуть похолодало, а комнатная влага уже затягивает оконное стекло пушистой
                изморозью. Так и всеобщее равнодушие, отсутствие жалостности выпадает в осадок ненавистью. А ненависть –
                это взрывчатка. Для заинтересованного руководства страной хорошо иметь в запасе эту спрессованную
                энергию.</p>
            <p> Тут главное – следить, чтобы не накопилась критическая масса. При приближении количества ненависти (или
                количества врагов) к критической массе, спрессованную энергию необходимо направить на заранее
                приготовленный громоотвод: Афган, Чечня, Грузия…</p>
            <p> Или разделить эту массу на две части, условно (именно условно, поскольку ненависть однородна по своему
                содержанию) присвоив одной части знак плюс, другой знак минус. Эти части немного подогреть и ввести в
                соприкосновение. Произойдёт аннигиляция, взаимоуничтожение. Это – гражданская война. Всё. Спрессованная
                энергия выйдет, разрядится через братоубийство. Власти опять могут спокойно спать до следующего
                накопления критической массы ненависти.</p>
            <p> Но почему основу нашего менталитета составляет ненависть? Может ответ подскажут слова Л. Н. Толстого:
                «Мы любим людей за то добро, которое им делаем, и ненавидим за то зло, которое им причиняем». Это
                сказано по-человечески, пусть даже гением. А Библия говорит более конкретно: «<span
                    class="article__passage">Бог есть любовь</span>». Если мы
                из-за собственного равнодушия к окружающим не творим добро, то в нас нет изначально любви, нет Бога, нет
                света. Творя вокруг себя зло, мы начинаем ненавидеть тех, кому сделали больно, кому принесли зло. Видимо
                поэтому самоназванный героический народ-богоносец, пропитанный ненавистью, оказался передовым отрядом
                сатанистов.</p>
            <p> Почему? Потому, что у нас, в отличие от других, нет постоянной проблемы выбора между сатаной и Богом. По
                Достоевскому: «Дьявол с Богом борется, а поле битвы - сердца людей». Битва дьявола с Богом в человеке –
                это повсеместное нормальное явление. Но наша проблема в том, что в Бога мы не верили и не верим. Поэтому
                дьяволу не с кем бороться в нашем сердце. Зато каждый из нас, в своём бесправии и бессилии (мы же без
                Бога живём) является несчастной жертвой. Которая с готовностью рада стать палачом. В быту и в сердце
                своем мы заложники и, одновременно, безжалостные террористы. Мы – заключенные огромной тюрьмы, которые в
                качестве повышения мечтают стать охранниками.</p>
            <p> Вот в таком внутреннем симбиозе (от греч. symbiosis — совместная жизнь) мы проводим жизнь. И заключённый
                в моём сердце ненавидит охранника в сердце моего ближнего. Тот, в свою очередь, видит во мне своего
                палача и как жертва ненавидит меня. Мы смирились с присутствием сатаны в нашем сердце. Это он наш
                настоящий враг. Но при этом нам доставляет удовольствие наша сила. Мы сильны как империя и побеждаем
                потому, что нам помогает сатана, даже если мы <span class="article__accent">ненавидим друг друга</span>.
                В итоге – при любой победе над общим
                врагом мы остаёмся врагами друг другу, обречены на нищету и <span
                    class="article__accent">самоуничтожение</span>, или постепенное вымирание.
            </p>
            <p> Поэтому основное требование в Библии: «<span class="article__passage">Возлюби ближнего своего</span>».
                Тогда сам будешь жить. И ближнему в
                этом поможешь. Только нас этому не учили. Мы же героический народ, рождённый для подвигов и постоянной
                борьбы. Вот только с кем мы боремся? Уже и со своими пенсионерами? Для чего? На чьей стороне? Кто нам
                главный помощник в творении зла, если мы выходим всегда победителями?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>