<!DOCTYPE html>
<html lang="ru">

<head>
    <title>За дудочкой</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">За дудочкой</h1>
            <p class="article__remark"> Письма пишут разные: слёзные, болезные.<br>
                Иногда прекрасные, чаще – бесполезные.</p>
            <p> Так и не могу вспомнить, кому принадлежат эти слова. Инсульт. Мне нравится ссылаться на последствия
                инсульта. С одной стороны, я, вроде, умный, но иногда, по независящим от меня причинам, попадаю впросак.
                Инсульт, проклятый! С другой стороны, когда надо, я готов задать встречный вопрос: чего вы от меня
                хотите, чтобы я за «базар» ответил? Да у меня и справка от врачей есть, что перенёс инсульт. На лицо
                проблемы с памятью и головой. Какой тут может быть спрос? Но понимаю, что справка не выручит. А письмо
                хочу написать своему другу: Лене Маглеванной.</p>
            <p> Лена, как-то сразу стало пусто и грустно, когда узнал, что ты уехала в Финляндию и не хочешь
                возвращаться назад. Не знаю, откуда эта пустота. Ведь, до этого с тобой мы только переписывались. И ни
                разу не встречались. Для меня, несмотря на твой новый статус, как бы всё осталось по-прежнему. Даже твой
                адрес (электронный) остался прежним. Я пишу, и ты так же отвечаешь. Разве, что твои фотографии стали
                чаще появляться в Интернете, и у меня появилась возможность сравнивать фотографии, ни разу не видя
                оригинала.</p>
            <p> Пустота. Это, наверное, оттого, что ушла надежда. Каждому хочется присутствовать при каких-то
                исторических событиях. Я был уверен, что гуманный советский суд будет судить тебя по справедливости. И
                этих истязателей, бдительно несущих службу по охране заключённых и блюдущих (слово-то какое получилось!)
                свою честь и достоинство, поставят на место. Что наступил переломный момент, когда действительно
                восторжествует справедливость. Хватит! Чекисты, которые подмяли под себя всё, нацарствовались! Я был
                уверен, Лена, что это произойдёт именно на твоём процессе. Именно теперь, устами прокурора и судей будет
                говорить закон.</p>
            <p> Размечтался! Так не бывает, что подонки судят подонков. А может, бывает? Но у нас обычно подонки
                выгораживают подонков, прикрывают и оправдывают их. Поэтому на суде тебе объяснили, что ты не права,
                утверждая, будто над заключенными на «зоне» издеваются. И что там, на «зоне», судя по твоим статьям,
                вдвойне издеваются над чеченцами. Суд так не считает. Г-н Лукин - профессионал-правозащитник, тяжеловес
                в этой области - тоже так не считает. А если и считает, то почему-то молчит. Кто-то из столопов
                (столпов? инсульт проклятый!) суверенной демократии предложил вообще мочить террористов в сортире. С тех
                пор этот столоп, наверное, так и ходит с незастегнутыми штанами: работы много появилось, руки до всего
                не доходят. И суд постановил: тебе, Лена, принести извинения тюремщикам за клевету на них и уплатить
                штраф.</p>
            <p> Я, примерно, понимаю твое состояние: стоять, нюхать дерьмо вместе со всеми и при этом утверждать, что
                оно, дерьмо, самим собой не пахнет. А даже если пахнет, то запах всё равно какой-то приятный. Все же
                знают, что дерьмо, но все нюхают. И соглашаются с этим. Ты не согласилась с таким положением вещей.
                Результат? Результат на лицо: в обескровленной, обезмозгленной России (ну, сказанул, это из-за инсульта)
                на одного порядочного человека стало меньше. И как всегда: «Отряд не заметил потери бойца». А зря.</p>
            <p> Чекисты жируют. Раздуваются впрок, как клопы. Нация вырождается, как огурцы-пустоцветы на непрополотой
                грядке. На фоне этого обычные, порядочные люди становятся в стране дефицитом. Часть их уже посадили.
                Другие уезжают из-под карающей десницы чекиста. Пустота.</p>
            <p> Андрей Соколов сидит арестованный. В Интернете собирают подписи в его защиту. Я подписался с мыслью:
                «Какая это убогость: единичные, поштучные подписи. За Бахмину Светлану, мать троих детей, с миру по
                нитке, и то 100 тысяч подписей не смогли набрать в православной, славящейся своим хлебосольством
                России». Или набрали? Сколько же за Андрея подпишется?</p>
            <p> Рифхата Хакимова выпустили из психушки, с подпиской о невыезде. Сейчас наши следователи будут его
                мурыжить – дообследовать. Они не волкодавы. Шавки, готовые по команде власть имущих грызть кого угодно.
                Такие что-нибудь да найдут. А не найдут, так сами подкинут.</p>
            <p> В нашей стране лучше подонком родиться. Без совести, без чести. Это если ты умный. Тогда далеко пойдёшь.
                Посмотреть хотя бы на эти рожи по телевизору: ведь видно, что не все из них дураки. Видно, что человек
                на экране лжет, придуряется, пытаясь создать видимость искренности. Пытается своим видом показать, что
                он верит в то, о чём говорит.</p>
            <p> Или лучше сразу родиться придурком. С лозунгом на устах: «Всегда готов!» Вот такие люди – наши. Таких мы
                воспитываем, в таких мы нуждаемся. Таких мы используем. Но если ты не дурак, и, вдобавок, порядочный
                человек несогласный с происходящим, то ты представляешь опасность для власти. Власть сделает все, что бы
                выставить тебя угрозой для общества. Со всеми вытекающими отсюда последствиями. У такого человека выбор
                не велик: «мотать» срок от звонка до звонка или оставить свою несчастную родину.</p>
            <p> Но даже такой вариант, с вынужденной эмиграцией, ничего не гарантирует. Человека, которого ещё не раз
                вспомнят добрыми словами, когда минует эра чекистов, «достали» даже в Англии. Это Александр Литвиненко.
                Я знаю, Лена, твоё отношение к нему. Знаю о твоём сайте, который ты посвятила ему:
                alexanderlitvinenko.narod.ru. И полагаю, что есть множество причин, по которым бывшие коллеги-чекисты
                могли затаить на него зло. Но с другой стороны, чем Александр мог выделиться из числа тех людей, которые
                и до него, а может, и после отказались сотрудничать с преступной чекистской организацией? Что нужно было
                сделать такого необыкновенного, чтобы тебя удостоили чести отравить полонием? Ведь на сегодняшний день
                это пока единственный доказанный случай в мировой истории.</p>
            <p> На мой взгляд, все упирается в одну из статей Александра под названием «Кремлевский Чикатило». В ней
                Александр высказывает и довольно убедительно обосновывает утверждение, что «кремлёвский Чикатило»,
                задравший рубашечку на ребёнке и целующий тщедушное тельце мальчика в животик, такой же педофил и,
                следовательно, преступник, как и настоящий Чикатило. Кстати, Артем Боровик трагически погиб через неделю
                после того, как написал об этих специфических увлечениях «кремлёвского Чикатилы». К несчастью для всех
                ВВП (Ваше Высочество Педофил) оказался на редкость мстительным и злопамятным.</p>
            <p> Так что, Лена, я завидую тебе. Тому, что ты не здесь. Тому, что ты уехала из этого грязного
                общественного туалета, под названием Россия. Раньше, подписывая письма, я часто желал тебе удачи и
                успеха. Теперь, так считаю, удача улыбнулась тебе. Осталось только на новом месте добиться успеха. А мы,
                истинные русские патриоты…. Знаешь, Лена, а мне кажется, что русские как национальность исчезли.
                Растворились. После Великой Октябрьской Социалистической Революции. Не стало такой нации. Кто-то
                растворился за рубежом, в чуждой культуре. Кто-то растворился в огне революции. Нет русских. Выжила,
                осталась новая, ранее неизвестная историческая общность – кухаркины дети. Что это такое? Какая основная
                отличительная черта этой новой общности?</p>
            <p> Пережившие блокаду в окруженном Ленинграде, рассказывают о постоянном страхе перед голодом. Это чувство
                даже много лет спустя заставляло их класть на ночь под подушку кусочек хлеба. Подобное действие
                успокаивало их, давало ощущение стабильности. У такого человека притуплены все ощущения по сравнению со
                страхом пережитого голода. Но, позвольте, ведь это мы: кухаркины дети! Не все, конечно, из нас пережили
                блокаду Ленинграда. Но мы все, из поколения в поколение, уже на генетическом уровне передаем по
                наследству ощущение страха перед постоянной нищетой и голодом. Честь, совесть, порядочность? Да это все
                пустое! Мы потеряли все, кроме СТРАХА перед голодом. Это и есть наша главная отличительная черта.</p>
            <p> Даже Библия говорит: «Умерщвляемые мечем счастливее умерщвляемых голодом». У постоянно голодающих или
                умирающих от голода меняется психика и, соответственно, образ мышления. Мы потихоньку деградировали за
                годы Советской власти. Этот факт подтверждает и то, что мы допустили к власти одного из истязателей и
                палачей собственного народа – представителя доблестных чекистов, господина Путина.</p>
            <p> Мы так и не поняли, что пока зло живет внутри нас, пока мы являемся носителями зла, мы будем вынуждены
                подчиняться злым дядям-чекистам. Но проблема в нас самих, а не в каких-то случайных злых дядях,
                дорвавшихся до власти. И победим мы не тогда, когда закончатся плохие люди у власти, а когда избавимся
                от своей злобы и ненависти. А до тех пор нами будут править сифилитики, садисты, маразматики и педофилы.
            </p>
            <p> Есть страшная сказка с хорошим концом. Там мальчик с дудочкой повел за собой из города стаю крыс и
                утопил их. В нашей стране происходит то же самое. Но поскольку наша страна - страна Зазеркалья, то у нас
                все наоборот. Крыса ведет за собой кухаркиных детей, и они счастливые пляшут под ее дудочку. Чем это
                кончится? Сказки всегда заканчиваются хорошо. А в жизни?..</p>
            <p> Наш нынешний президент, большой оригинал, юрист по образованию, на встрече со студентами в Хабаровске
                так ответил на вопрос: «Какие качества необходимы президенту?» – «Работоспособность и любовь к родине!»
                Бедные кухаркины дети! Как те, которые спрашивают, так и те, которые отвечают. Все у нас какое-то
                упрощенное, примитивное, убогое. Как и мы сами. Планки перед собой мы высоко не поднимаем. Зачем в
                случае неудачи демонстрировать свою несостоятельность? Чем ниже планка, тем меньше спрос. Чем же
                закончится эта сказка про марширующих под звуки дудочки кухаркиных детей?
            </p>
            <p> Конечно, Лена, жалко твоих родителей. Наверняка, им тяжело в такой момент. И также есть люди, твои
                искренние друзья, которые сожалеют о твоем отъезде, но, все-таки все рады тому, что ты вне чекистского
                правового поля. Лена, прости, что не удержался и столько гадости выплеснул. Просто – накипело. Хотел
                написать тебе как женщине, оказавшейся в сложной ситуации, а получилось – как разговор с другом. Я уже
                говорил: мучает ощущение пустоты. Это, наверное, от того, что ушла надежда.</p>
            <p> Во! Слышишь, кто-то на дудочке играет? У-у-у-у, сколько ещё нас, кухаркиных детей осталось! Ну, мы
                пошли! Ещё раз надо по Грузии потоптаться. А там Украина, Белоруссия…. Крысе не терпится вести нас
                дальше. Родине нужны новые герои России, типа Шамановы-Будановы. А тебе счастливо оставаться, Лена.</p>
            <p> Знаю, повторение - признак ограниченности. Но повторюсь: удачи тебе во всём. И успеха. И я молюсь, чтобы
                так и было в твоей жизни.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>