<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Родина-уродина</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Родина-уродина</h1>
            <p> Мы с Олей прожили вместе уже 33 года. Всё это время койку, в основном, заправлял я. Совсем не потому,
                что Оля не умеет. Просто, это то немногое, чему научился в армии. И мне нравилось это демонстрировать.
                Казалось, что я делаю это лучше Оли. Самое главное оправдание: приятно было думать, что два года в армии
                я провёл не зря, хоть чему-то научился. Нет, конечно, это не всё. В армии я ещё начал курить и выпивать
                более-менее систематически. После «дембеля» легко отвык от того и от другого, поскольку делал это по
                необходимости, из чувства солидарности и пытаясь подражать остальным защитникам родины.</p>
            <p> Помню, стою я на автобусной остановке напротив нашей воинской части. Немного «поддатенький», в поисках
                приключений. И один из наших комбатов (командир батареи) покачиваясь, неуверенной походкой
                «подруливает». Стоим на остановке, среди гражданских, и друг на друга не смотрим. Он не хочет, что бы я
                увидел его пьяным. И я не хочу, что бы он увидел меня пьяным и в самоволке (раз вышел за территорию
                части, за забор, значит, ты в самоволке). Гражданские поглядывают на нас на обоих с интересом: как мы
                разойдёмся? Разошлись легко. Подошёл автобус, и комбат на нём уехал. А я, на всякий случай, вернулся в
                часть.</p>
            <p>Почему мне вспомнилась родная советская армия? Анекдот прочитал в вестнике CIVITAS – в статье
                «Ура-патриотизм или защита богатств России?». Цитирую: «В течение 19 часов 29 февраля – 1 марта 2000
                года под Улус-Кертом в Чеченской республике 6-я рота в количестве 90 бойцов сдержала натиск 3200
                наемников, прорывавшихся в Дагестан, уничтожив свыше 700 боевиков, а остальные бежали в горы. В живых
                осталось только шестеро гвардейцев, но сражение было выиграно».</p>
            <p> У меня есть отвратительная черта: когда что-нибудь читаю или смотрю, я обязательно думаю. Знаю, что это
                ненормально, но не получается у меня по-другому! Я уже и телевизор бросил смотреть и прессу перестал
                читать - только чтобы не думать над увиденным и услышанным, над тем, что предназначено для советского
                «хомо сапиенс». А тут… две с половиной тысячи чеченцев бежали в горы от шестерых гвардейцев.
                Представляете? Нет? Готов ещё раз повторить: 2500 чеченцев бежали в горы от 6 наших защитников родины! Я
                не буду смеяться над этим. Не буду возмущаться. Я, вообще, не буду об этом говорить.</p>
            <p> Меня больше интересует автор этих строк. Тут, недавно, смотрел одного из наших хохотунчиков –
                прикормленных нынешних сатириков. Он рассказывал, как жена придурку-мужу на лбу написала губной помадой:
                «Идиот». И тот весь день ходил таким, никого не стесняясь, а, напротив, принимая (по их реакции) всех
                окружающих за идиотов. А я-то до этого всё пытался понять: почему нас (общественность, общество,
                обывателей – как угодно) тоже никто не стесняется?</p>
            <p>Например: ударила кому-то мысль (а может, это была и не мысль) в голову, и он во всеуслышание заявляет,
                что грузинская минеральная вода некачественная. И вино грузинское. А до этого было некачественным
                молдавское вино. Другого вундеркинда вдруг взволновала тема искажения исторической правды о второй
                мировой войне. Я смотрел по телевизору, специально на этого человека: ничего помадой на лбу не написано.
                Так вот, до последнего времени меня мучила мысль: «Ну, почему они нас не стесняются?» Почему у нас в
                России не стыдно выглядеть идиотом?</p>
            <p> Согласитесь, оглянитесь вокруг: никто из вышестоящих не стесняется выглядеть идиотом. Только сейчас
                начал понимать. Ситуация здесь примерно такая же (извиняюсь за натурализм), как когда мне,
                наработавшемуся в огороде, приспичит идти домой по малой нужде, то иду я в курятник. Здесь не нужно, как
                дома, предварительно разуваться, раздеваться. Здесь тихо и спокойно. И мне глубоко наплевать, что думают
                обо мне курицы, заглядывающие на меня снизу вверх. Чего это ради их стесняться? По-моему, у них и
                мозгов-то нет.</p>
            <p> Именно поэтому автор статьи в вестнике CIVITAS с пафосом рассказывает, как чеченцы, убив 84 гвардейца,
                бежали от оставшихся шестерых в горы, количеством в две с половиной тысячи человек. Нет, а чего
                стесняться? Безмозглый пипл всё схавает. Статья-то на беспроигрышную патриотическую тему! Опять о
                повсеместном героизме Русского Человека (именно с большой буквы). Кто осмелится задуматься, и, уж тем
                более, проанализировать сказанное в адрес Русского Человека? Опять же, если подобное произойдёт и кто-то
                попробует задуматься, то кого заинтересует мнение несогласной курицы, осмелившейся косить взглядом
                куда-то наверх? Чего тут стесняться? Поливай её с высоты положения тёплой струйкой патриотизма.</p>
            <p> Ой, а как советские попы о защите Отечества переживают! Какие речи задвигают! В моё время такое замполит
                говорил, в «красном уголке», на политзанятиях, под портретом Ленина. Такое складывается мнение, что
                небесное Отечество самих попов совсем не интересует. И царствие Небесное они давно поменяли на царство
                земное. Если фашисты, боясь богохульничать, не искали в Библии оправдания себе, просто выбили на пряжках
                надпись: «С нами Бог!», то наши комиссары в рясах, не боясь последствий, потрясая Библией, благословляют
                защитников родины словами: «<span class="article__passage">Нет больше той любви, как если кто положит
                    душу свою за друзей своих</span>». Во
                как!</p>
            <p> Это подленький приём геббельсов: выдёргивать слова из контекста или недоговаривать мысль. К примеру,
                Сталина в современных учебниках по истории называют великим менеджером. Почему бы и нет? Только
                договорите мысль до конца: и Гитлер тогда тоже является великим менеджером. Они достойны друг друга. Кто
                из них старший брат, думаю объяснять не надо. Хотя ученики могут задать и такой вопрос.</p>
            <p> Или трагедия в Беслане: захват бандитами в заложники школьников. Но это еще не трагедия - детей бандиты
                могли бы отпустить без единого выстрела. Если бы русские оккупанты согласились прекратить боевые
                действия в Чечне. Мы не согласились. Мало нам крови. Такое ощущение, что мы не только ею питаемся, но в
                ней и купаемся. Умалчиваемая трагедия Беслана заключалась в том, что наши защитники родины сожгли этих
                детей вместе со спортзалом и со школой. Вот это трагедия. И теперь у нас есть свой Лос-Анджелес, город
                Ангелов. Это место на кладбище, где похоронены заживо сожжённые дети – ангелы, которые не выросли. Так
                они и остались ангелами.</p>
            <p> Даже объявляя траур каждое 1 сентября, средства массовой информации называют разное количество намеренно
                умерщвлённых детей. Округляют по своему усмотрению. Кто-то говорит о трехстах тридцати погибших. Кто-то
                о трехстах тридцати трёх. Кто-то называет цифру 334. Нам нет разницы: скольких мы пожгли? Это тоже
                трагедия. И никто за это массовое убийство не ответил, никого за это не наказали. Кремлёвский Чикатило
                как был при делах и при власти, так и остался. И это тоже трагедия. Вот это всё составляет настоящую
                трагедию, о которой не говорят геббельсы.</p>
            <p> Мы, от случая к случаю, вспоминаем о жертвах Норд-оста. Вернее, не о жертвах, а о захвате Норд-оста. О
                жертвах Норд-оста вспоминать не принято. Здесь геббельсы снова умалчивают: ведь жертв при захвате и
                удержании не было (кажется, двое все-таки были). Жертвы появились при освобождении. Жертвы – это те, кто
                погибли, отравившись неизвестным газом. Их несколько сотен - тех, кого мы отравили, «освобождая» от
                террористов.</p>
            <p> А как у нас умалчивают о том, что на Саяно-Шушенской ГЭС оставшиеся в живых, попавшие в воздушные
                «мешки» стуком пытались дать знать, что они ещё живы? Сделали из этого факта военную тайну. Всё только
                потому, чтобы не напоминать, по ассоциации, о том, как тонула наша подводная лодка. Как ребята на ней
                стуком пытались привлечь к себе внимание. И как наш национальный лидер в ответ на это даже не соизволил
                прервать свой отпуск. Теперь, так же как с «Курском», проскальзывает утверждение, что на СШ ГЭСе тоже
                можно было спасти людей, если бы сразу понизили уровень воды. Но, как всегда: ни правды, ни виновных, ни
                наказанных у нас не будет.</p>
            <p> Теперь вернёмся к советским попам-замполитам. Чего же эти геббельсы не договаривают, искажая библейскую
                истину? Если левую перчатку вывернуть наизнанку, то после этого её можно одевать на правую руку.
                Перчатка осталась та же самая. Но теперь она подходит на противоположную руку. Это даже фокусом нельзя
                назвать. «Нет больше той любви, как если кто положит душу свою за друзей своих». Если вывернуть
                наизнанку, то получается: мочи всех подряд, соблюдая интересы рейха. Под тем же лозунгом: «С нами Бог!».
                Несколько крестовых походов в истории христианства уже было. О них мы сейчас стесняемся вспоминать: как
                крестоносцы гроб Господень освобождали. От большой любви и с именем Господа на устах.</p>
            <p> В Библии эти два стиха стоят рядом, и их нельзя разрывать: «<span class="article__passage">Сия есть
                    заповедь Моя, да любите друг друга,
                    как Я возлюбил вас. Нет больше той любви, как если кто положит душу свою за друзей своих</span>».
                Иисус
                призывает к самопожертвованию во имя любви, а не к кровопролитию, какими бы мы словами это кровопролитие
                не мотивировали. «<span class="article__passage">Один из бывших с Иисусом извлек меч свой… Тогда говорит
                    ему Иисус: возврати меч твой в
                    его место, ибо все взявшие меч, мечом погибнут</span>». Иисус отказался от меча. Он доверял Богу.
            </p>
            <p> А наши православные идеологи? «По словам главы РПЦ, расположение в святых местах молитвенного служения
                Серафима Саровского Федерального ядерного центра, это тот случай, когда "реально обрел воплощение божий
                промысел". Об этом заявил патриарх московский и всея Руси Кирилл». Дубину нам ядерную в руки – вот в
                чём, оказывается, промысел Божий. Опять перчатка, вывернутая наизнанку. Если многострадальный Иов всё
                принимал от Бога, и доброе, и злое, то мы с этим не согласны. Мы сами кузнецы своего счастья. Вон
                сколько наковали!</p>
            <p> Вернёмся к нашим идиотам-патриотам. Которые, в свою очередь, нас считают (и не без оснований) идиотами.
                Прочитал тут воззвание «Россия, вперёд!». Чувствуется, что пишет человек, любящий свою родину. Но я даже
                не буду детально анализировать написанное. Желающих и так полно. Коротко выскажу своё мнение: если у вас
                диарея (Ну, что у меня за аналогии, прямо как у Путина? Тот тоже всё время про сортир, как немытый про
                баню.), то для её прекращения недостаточно соскочить с унитаза, быстро натянуть штаны и «вперёд,
                Россия!» Вначале этот процесс – диарею - остановить надо. Иначе никакой памперс не выдержит такой
                нагрузки.</p>
            <p> Ну, что я всё о грустном и о грустном? Так, значит, господа патриоты, вы любите свою родину? А как быть
                с Еленой Маглеванной? Она, может, тоже любит её? Но вынуждена уехать в Финляндию, потому что ей здесь
                устроили травлю. За что? Она заступилась за людей, которые находятся в заключении. В частности за
                чеченца Зубайра Зубайраева. За что её и судили. Сейчас ей нет жизни на своей родине. Вынуждена была
                просить политического убежища в Финляндии. Это она исполнила заповедь Христа: себя не пожалела.</p>
            <p> По РЕН ТВ передавали, что Рафаэль Юртаев хочет эмигрировать из России, потому что его сына сбил на
                смерть милиционер, который получил за это условный срок 1,5 года. Юртаев сделал всё, чтобы дело
                пересмотрели. Но добился только угроз в адрес своей семьи со стороны правоохранительных органов. В своём
                интервью Рафаэль сказал, что не хочет исполнения этих угроз, и семья боится потерять ещё кого-нибудь из
                своих. Поэтому они уезжают из России.</p>
            <p> А этот человек, который сделал достоянием гласности исчезновение судна «Артик Си»? Его по-хорошему
                предупредили, чтобы он «слинял» за границу. А то он своим сообщением нечаянно такой улей разворошил. Да
                подобных примеров невольных эмигрантов не сотни, а тысячи.</p>
            <p>Так что это за родина, которую мы должны любить, а она, в ответ, всячески выживает, выдавливает за рубеж
                униженных ею и оскорбленных. Это родина? Только не надо меня упрекать, что я продался, что я продал свою
                родину. Это совсем не так. Я не продал родину. Честное слово! По одной простой причине: да кому она на
                фиг (или покрепче сказать?) нужна?! Кто её купит?</p>
            <p> Если вы хотите кому-то (скажем, тем же американцам) свинью подсунуть – подарите им такую родину! Со всей
                её устаревшей технологией, которую нужно срочно менять, чтобы подтянуть её, хотя бы до уровня середины
                20 века. Со всеми раздолбаями, которые разучились работать, потому что им никогда полноценно не платили.
                А кормить этих раздолбаев надо, чтобы хоть как-то остановить рост смертности. Со всей этой армией, где
                генералов не меньше, чем солдат, и все они ищут себе применения. Подарите американцам эту нацию, которая
                вымирает, деградирует физически и морально. Подарите! Даром подарите! И они застрелятся! Точно говорю.
                Они этого не переживут. Так что покупать мою родину, а уж, тем более, завоевывать её, никто не будет.
            </p>
            <p> Если со мной кто-то не согласен и о такой родине лучшего мнения, чем я, то найдите мне покупателя на
                хороший, по вашему мнению, товар. Может, у меня ещё есть надежда. Если товар в самом деле хороший, то он
                не залежится. Отдам в хорошие руки. Только вы надпись со лба сотрите. А то всех клиентов мне распугаете.
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>