<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Я счастлив</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Я счастлив</h1>
            <p>Настроение? По-прежнему – жду*. Просто жду. Похожее состояние уже было в моей жизни. Перед этим хирург
                вырезал выросшую шишку у меня на пальце и почему-то попросил съездить в Асбест в лабораторию, сделать
                анализы. Я съездил в лабораторию и стал ждать результатов анализа. В лаборатории поставили диагноз:
                рак-саркома. Через некоторое время сообщили, что я должен ехать в Екатеринбург и там сделают
                окончательный анализ. На все это ушло месяца два.</p>
            <p> Что я пережил за это время? Огромное напряжение: все силы уходили на то, чтобы поддерживать перед Олей
                бравый, независимый вид. Это было нелегко. Но было бы ещё трудней увидеть страдающую Олю. Поэтому повода
                для переживаний старался ей не давать. Так, будто между делом, показывал ей, как и где можно перекрыть
                воду в дом, если что-то случится с вентилем или лопнет труба. Ну, и другие проблемы, которые могут
                возникнуть у хозяина. Мы оба делали вид, что у нас всё нормально. И ждали. Оба ждали.</p>
            <p> И вот меня пригласили в онкоцентр Екатеринбурга. Поехали вместе с Олей. Коридор, скамеечки вдоль стен.
                Сидящие серые фигурки, сгорбившись, чего-то ждали. Мы знали номер кабинета, который был нам нужен. Но
                коридор казалcя бесконечным. Мы шли вдоль шеренги людей, сидящих с абсолютно пустыми, отсутствующими
                глазами. Они словно смотрели вовнутрь себя, как будто что-то проверяя или к чему-то прислушиваясь. Да!
                Сейчас вспомнил: это же видел Филатов в фильме «Забытая мелодия для флейты», когда у него сердце
                остановилось и его душа оказалась в помещении для ожидающих своей очереди на тот свет.</p>
            <p> У дверей нашего кабинета так же сидели ожидающие. Выяснилось, что очередь в кабинет занимать не надо.
                Просто – жди. Выйдут, назовут твою фамилию и подтвердят твой диагноз. Время замерло. Оно не
                существовало. Люди сидели, избегая коснуться друг друга, как будто боялись заразиться. Изредка дверь
                открывалась. И тогда появившийся в дверном проёме человек в белом халате оглашал приговор кому-то из
                ожидающих серых теней. </p>
            <p> В очередной раз все вздрогнули и опустили лица: открылась дверь. Дождался – прозвучала моя фамилия. И
                приговор: «Результат отрицательный». Я знаю, что всё отрицательное – плохое. Значит, всё плохо. Человек
                в белом халате, глядя на меня, протягивает бумажки с результатами анализов, снова повторяет: «У вас
                отрицательный результат». Да, понял я, понял: отрицательный! И тут замечаю, что вокруг все смотрят не в
                пол, а на меня. «У вас нет рака» – специально, для особо одарённых, повторил лаборант.</p>
            <p> Оля подхватила меня под локоть. Другой рукой взяла у лаборанта документы, поблагодарила и мы пошли.
                Теперь тени, смотрящие в пол, обрели лица и глаза. Глаза смотрели на нас, а лица поворачивались за нами
                вслед, как подсолнухи за солнцем. Словно весть о том, что у меня нет рака, искрой тока пробежала по
                всему коридору еще до нашего приближения. Чьи-то глаза загорались надеждой. А кто-то смотрел с
                раздражением, чуть ли не с ненавистью. На улице Оля неожиданно сказала: «Слушай, давай мы тебе джинсы
                новые купим». «Какие джинсы? В честь чего? У меня эти нормальные». «Да какие нормальные. Старьё уже». И
                что на неё нашло? Ну, не стал ей портить настроение, согласился на новые джинсы. В такой день и капризы
                жены потерпеть можно.</p>
            <p> Сейчас мы снова ждём. В очередной раз ждём результатов анализа. Эксперты должны дать заключение: являюсь
                ли я больным и, что намного страшнее, заразой для нашего общества; нуждаюсь ли я в изоляции. Экспертиза,
                судьи, прокуроры, следователи - вся эта прикормленная властями компания получила команду «Фас!». Всё это
                время меня не покидает изумление от абсурдности ситуации. За что нас преследуют все эти годы? За что из
                нас с Олей упорно пытаются сделать преступников? Ответ прост настолько, что в него не верится: в России
                возрождается новая элита.</p>
            <p> Как это делается? Берётся помойное ведро. Его содержимое перемешивается палкой. Всё, что всплывёт наверх
                в результате возмущения содержимого ведра, назовёт себя элитой. Каким качеством (кроме запаха) обладает
                эта элита? Легковесностью. Она не обременена совестью, нравственными принципами, умом или особыми
                талантами. Именно поэтому, в соответствии с законами физики, она всплыла на поверхность, невзирая на
                негативные последствия для всех других. Правда есть ещё один закон – библейский, который гласит: «<span
                    class="article__accent">мене, мене, текел, упарсин</span>». Но народ-богоносец едва ли о нём слышал.
                Даже если и слышал, то героический
                советский народ напугать невозможно.</p>
            <p> А как же та, остальная, нижняя часть содержимого ведра? Она ведь тоже была возмущена? И с ней происходит
                всё в соответствии с законами, только на этот раз с законами биологии. Чем сложнее организм, тем более
                он противоречив и тем больше ему нужно для самоудовлетворения. Амёба едва ли испытывает какие-либо
                чувства. Зато кошка в состоянии испытывать удовлетворение, если у неё в блюдце налито молоко и хозяин
                гладит её по спине (только обязательно вдоль шерстки). Домашнему животному, в отличие от простейших, уже
                даны в ощущения чувства. Но животным много не надо, для того чтобы стать счастливыми: еда в миске и чтоб
                хозяин гладил по шерсти. Так что возмущённая нижняя часть ведра успокаивается очень быстро. Для примера:
                вспомните перестройку.</p>
            <p>Советские люди – это те же самые нетребовательные домашние животные. Похлёбка в миске у них всегда есть.
                Хозяин, когда в настроении, гладит их по шёрстке, приговаривая что-то о великом, могучем, героическом
                советском народе. Чем проще живые организмы, тем ниже у них запросы. Им не до изысков, не до духовной
                пищи, они обходятся материальной. Эти неприхотливые животные со дна ведра (подонки) постоянно
                подпитывают и пополняют собой верхние слои. Стоит ли удивляться, что у власти сейчас обычные подонки? К
                тому же – легковесные. И вот эти «сливки общества» решили застолбить за собой место элиты.
                Ирония судьбы? В начале прошлого века предки нынешних подонков уничтожили имеющуюся элиту: умных,
                богатых, независимых людей. Но уже через несколько поколений нищие совки устали от лозунга «Свобода,
                равенство, братство» и сократили его до одного слова «Богатства!». Под новым лозунгом начали воровать в
                особо крупных размерах. Отличившиеся в разграблении государства легковесные «сливки общества» для
                престижа и узаконивания собственного положения решили возвести себя в статус элиты государства (элита –
                избранная, лучшая, неотъемлемая часть любого социума).</p>
            <p> Как этого добиться? Строжайшим исполнением действующих законов и постоянным созданием новых, более
                жёстких. Это для рядовых подонков, прежних советских «несунов», чтобы те знали своё место. А для себя,
                любимых, и для своих друзей – полная вседозволенность, безнаказанность и даже переписанная Конституция.
                «Друзьям – всё, остальным – закон». Именно это происходит в России.</p>
            <p> «Блажен, кто посетил сей мир в его минуты роковые». Да не хотела Оля становиться блаженной. Не хотела.
                Она хотела оставаться честной. Ей казалось, что стоит только доказать, что жулик – это жулик, и проблема
                исчерпана. Все будут благодарны. Ни ей, ни мне в голову не приходило, на что она замахнулась. На тот
                момент она хотела остановить директора-жулика. Да и брал-то он сущую мелочь. Откуда она знала, что
                собирается покуситься не на жулика-одиночку, а на фундамент пирамиды. Сама пирамида уходит на
                недосягаемую высоту. На недосягаемую для нашего правосудия. Во всяком случае, за все эти годы борьбы с
                коррупцией Оля ничего не добилась, кроме неприятностей. Надежда на какие-то изменения вспыхнула после
                того, как у Оли появилась возможность доказать, что цифра украденного на птицефабрике уже возросла до
                миллиарда рублей. Даже для очень везучего жулика-одиночки это было много. Конечно, мы понимали, кто
                стоит за спиной директора птицефабрики.</p>
            <p>Но мозаика всего происходящего складывалась медленно, годами. Вначале мы видели только частный случай
                хищений на птицефабрике. Потом поняли, что директор «работает» не в одиночку, а под «крышей» и
                по-крупному. Поняли, что через областного министра сельского хозяйства директора крышует губернатор. Уже
                только после этого до нас дошло, что они «доят» не одну Рефтинскую птицефабрику. Птицефабрик по области
                у нас несколько. И надо полагать, интересы губернатора не ограничивались сельским хозяйством. Так что
                речь идёт не об одном смехотворном миллиарде.</p>
            <p> Вот тогда мы с Олей поняли, что случившееся на птицефабрике – это не злоупотребление, не преступление.
                Это – СИСТЕМА, в которой формируется новая элита России. Тот, кто пытается раскрыть подобные хищения, –
                он не поборник добра и справедливости, он - личный враг для системы. Поскольку сложившаяся система
                выделяет собственную элиту, то поборник законности автоматически становится врагом избранной, лучшей
                части общества этой страны. Это уже не враг народа, а хуже – это экстремист. А раз система включает в
                себя представителей элиты правоохранительных органов, то правоохранительные органы стали работать на
                защиту системы, сменив своё амплуа на правоХОРОНИТЕЛЬНЫЕ карательные органы, вместе с ФСБ.</p>
            <p> Благодаря этой метаморфозе моя жена из борца с коррупцией стала клеветницей; а мне, как недовольному
                происходящим, за длинный язык готовится присвоение звания экстремиста, со всеми вытекающими
                последствиями.</p>
            <p> Но, наверное, кого-то огорчу, признавшись, что не был никогда так счастлив, как в это время ожидания
                очередных анализов. Я не сомневаюсь в результате экспертизы, в том, что за доставленное беспокойство
                новоявленной элите меня назначат экстремистом. И куражусь напоследок, зная, что от меня ничего не
                зависит.</p>
            <p> Это если только Бог, внимая Олиным молитвам, не сделает отрицательными результаты экспертизы моего
                компьютера.
                Наш знакомый, узнав, что у него рак, повесился. А я куражусь. Пишу на «Гранях», в комментариях, под
                своим именем всё, что думаю о происходящем в России, о политике Путина, о задавившей всё коррупции. Я
                счастлив этим. Я счастлив нашими отношениями с Олей. Они и до этого были такими, что нам завидовали все.
                А сейчас она, как никогда, предупредительна и ласкова со мной. Мы никогда не говорим о том, что меня
                может ожидать. И я благодарен ей за это.</p>
            <p> Представители новой элиты, обслуга, гарантирующая им покой и сохранность, путиноиды и обычные совки, вы
                можете сказать, что вы счастливы в этом государстве? Я могу.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>