<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Инкубатор ненависти</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Инкубатор ненависти</h1>
            <p> Утром позвонил следователь. Вначале он представился, и я с удивлением отметил, что у меня новый
                следователь. Он попросил зайти к нему в конце рабочего дня. Наш адвокат как бы был не нужен, поскольку
                предстояло только ознакомиться с результатами экспертизы и расписаться за это. Следователь поставил нас
                в известность, что результаты экспертизы «Дневник соотечественника» в нашу пользу.</p>
            <p> Мы с Олей подъехали к 16 часам. Молоденький мальчик (для меня все, кто младше 30 лет, молоденькие
                мальчики или девочки) встретил нас в коридоре, открыл свой кабинет и дал нам для ознакомления результаты
                экспертизы содержимого моего компа. Читала, в основном, Оля. Потому что я то и дело выбегал на улицу
                отдышаться. В соседних кабинетах с открытыми дверями было накурено так, что даже в коридоре можно было
                вешать топор. Астма – это мне награда под старость за то, что я не курил всю жизнь.</p>
            <p> Когда Оля закончила читать, я просмотрел заключительную часть экспертизы и расписался там, где указал
                следователь. На улице падал снег. Мы шли на остановку, как будто очнувшись от страшного сна. Я старался
                не наращивать в себе радость от происшедшего. Давлению было всё равно от чего прыгать: от моей радости
                или от ожидания неизбежных неприятностей. Оля что-то говорила мне о двух женщинах, которые провели
                экспертизу, какие они умные, а главное – честные. Ведь могли бы, идя навстречу пожеланию трудящихся из
                ФСБ, подтвердить уже <a href="http://vestnikcivitas.ru/ec/2971" class="article__ref">приготовленный для
                    меня приговор</a>: гад, враг народа, клеветник. В итоге –
                экстремист, с угрозой перерастания в террориста.</p>
            <p> Мне стало как-то удивительно и неловко за себя. Я был уверен, что при Путине подошло время, когда
                «Сатана гулять устал, - Гаснут свечи, кончен бал». То есть мы подошли к финишу. Бал-маскарад совков
                закончился. Последним проявлением мимикрии, притворства совков – была перестройка. Спасибо Путину. Его
                функция была в том, чтобы создать все условия, при которых совки должны были сбросить маски, показать
                напоследок своё истинное лицо. И вот вокруг остались одни свиные рыла и какие-то рожи упырей. Но на этом
                празднике сатаны каким-то образом сохранились обычные люди. И мне неловко за то, что я отказал им в
                праве на существование. А они как-то выжили, пусть даже сейчас не делают погоды. Спасибо вам, прекрасные
                (и добрые) незнакомки. Простите меня за то, что я ничего хорошего от этой жизни не ждал, и вы оказались
                неожиданным подарком.</p>
            <p class="article__remark"> Ввиду того, – заговорил Воланд, усмехнувшись, – что возможность получения вами
                взятки от этой дуры Фриды
                совершенно, конечно, исключена – ведь это было бы несовместимо с вашим королевским достоинством, – я уж
                не знаю, что и делать. Остается, пожалуй, одно – обзавестись тряпками и заткнуть ими все щели моей
                спальни! – Я о милосердии говорю, – объяснил свои слова Воланд, не спуская с Маргариты огненного глаза.
                – Иногда совершенно неожиданно и коварно оно проникает в самые узенькие щелки. Вот я и говорю о тряпках.
            </p>
            <p> В магазинчике, возле нашего дома, Оля накупила всяких сладостей к чаю. Я про себя хмыкнул: «А прошлый
                раз, когда у меня не подтвердился диагноз рака, она мне новые джинсы купила. На этот раз, когда диагноз
                не подтвердился, хочет обойтись чаепитием». Но сейчас было только начало месяца, до пенсии ещё две
                недели; джинсы теперь я донашиваю те, которые мне отдают сыновья. Так что как всегда Оля права. И самое
                главное для грядущего торжества: задвинутая в дальний угол кухонного стола, дожидаясь своего часа,
                стояла початая бутылка коньяка (исключительно для медицинских целей).</p>
            <p> А если не ёрничать над самим собой, то Бог снова услышал и ответил на Олины молитвы. Вот и ещё раз в
                моей жизни опровергнут диагноз, поставленный авторитетными людьми. Почему молитвы обо мне были только со
                стороны Оли? Потому что я в свою очередь, молился за Олю с Надюшкой. Знал: вначале им без меня было бы
                очень трудно. Но потом, когда я вернулся бы из мест заключения, для них всё стало бы ещё страшнее.
                Вместо меня был бы мешок с картошкой, который надо кормить, переносить с места на место и убирать из-под
                него. Поэтому и решил, что после суда, лучший выход для меня – прекратить принимать лекарства и объявить
                голодовку. Не понарошку, чтобы привлечь внимание (за столько лет мне не удалось этого сделать). А
                всерьёз и до конца. Смог бы я? <span class="article__accent">До конца</span>? Смог бы.</p>
            <p> Теперь, зная результаты экспертизы и несостоявшегося обвинения, могу рассказать о мотивах такого
                решения. Видимо я плохой христианин, потому что главным и первым моим мотивом была ненависть. Ненависть
                и бессилие. Нашу семью десятый год прессуют по полной программе со всех сторон. Мы выживали вопреки
                всему. Девять лет в поисках элементарной справедливости и соблюдения законов. Помню, как к нам заладили
                приезжать приставы. Первый визит: они описали имущество. Кто это пережил, тот знает, что это такое –
                визит приставов. Но они приехали ещё раз: проверили сохранность имущества и провели его переоценку в
                меньшую сторону. Потом они наведались ещё раз, якобы для проверки сохранности имущества по списку.
                Приехав в четвёртый раз, вертлявый пристав с помощницей заявили, что вывозят всё наше имущество. Мы
                остаёмся в пустом доме!</p>
            <p> Оля начала обзванивать всех подряд и вышла на начальника приставов. Тот сказал, что вывозить наше
                имущество нет необходимости, он такого распоряжения не давал. Мы выпроводили пристава и сопровождающую
                его женщину. Я описал всё происшедшее в дневнике, опубликовал в Интернете. А копии, снятые с Вестника
                CIVITAS, одну Оля отдала приставу, вторую – его начальнику. Пристав уволился сразу, по собственному
                желанию. Женщина недели через две. Оказывается, это у них был такой бизнес: описывали по дешёвке
                имущество, а потом сами продавали его. И это всё закончилось для них безнаказанно. Мне не хотелось
                переживать ещё раз что-то подобное.</p>
            <p> А как могу защититься в этом ненавистном государстве, будучи практически беззащитным перед ним?
                Поставить топор у дверей? Но государство, оно как бог – всемогуще, оно во всем, оно везде, оно
                всесильно. Ненависть распирала меня, и я решил: если кто-то ещё, вот так же, придет ко мне в дом – не
                пущу. Если не уйдут сами, у них на глазах пробью себе ладонь ножом. Будет им этого мало, предупрежу, что
                перережу себе вены. Полагаю, что это грех, равносильный самоубийству. Но я сказал: «Господи, Ты видишь –
                я не хочу этого. И если Ты этого не хочешь – не допусти такого». И больше приставы к нам не приезжали.
                Зато потом приходили с обыском. Два раза. Первый раз по обвинению, что Оля, якобы, выкрала документы с
                птицефабрики, второй раз – по обвинению меня в экстремизме. Ни первое, ни второе обвинение не
                подтвердились.</p>
            <p> Ну? Кто, как думает - я имею право на ненависть к окружающему меня миру на этом балу сатаны? У вас
                проводились обыски по нескольку раз? И какого вы остались впечатления? Именно поэтому я смог бы довести
                голодовку до конца. Даже если бы промучился недель 5 – этот период меньше, чем последние годы моёй
                жизни. Я был ничтожеством, как и все, среди ряженных карнавальных совков. Ничтожеством и остался. Но
                если раньше был полностью зависим от ФСБ, от экспертизы, от решения суда, то сейчас мне приятно от
                мысли, что всё-таки могу стать независимым и самостоятельным. Заодно прекратить бесполезные поиски
                справедливости. А вы тут завершайте свой бал.</p>
            <p> Неделю не прикасался к дневнику. Проснулся среди ночи. Пытался положить тело так, чтобы ему было удобно.
                Иногда это помогает. Боль уходит, растворяется, и оно, благодарное, засыпает. Но тут ничего не помогало.
                Будто еще какой-то гвоздь вошёл в плоть и терзал её своим присутствием. Гвоздь. Я вспомнил. Потное,
                извивающееся тело подо мной. Я его мну. Моё тело налито тяжёлой каменной силой. Я таким был лет 20-30
                назад. Я мну чужую сопротивляющуюся плоть, придавая ей какую-то позу. Фиксирую её. Когда-то я занимался
                самбо. Я знаю, что подо мной Путин. Я, как паук, оплёл его руками и ногами и… начинаю в него вколачивать
                гвозди.</p>
            <p> Гвозди. Вот что не даёт мне уснуть. Дурацкий сон, дурацкое видение. Теперь ещё и дурацкое воспоминание о
                кошмарном сне. Понял, что не усну. Красная площадь, голый человек сидит на земле, широко раздвинув
                колени, с прибитой к земле мошонкой. Эта фотография потрясла меня. Худое, голое мужское тело, безмолвно
                выражающее бессильный протест. Довели, сволочи. Гвоздь, пронзающий кожу и уходящий в брусчатку. Нет, я
                точно не усну. Поднялся, померил давление: 196 на 100. Много. Не мудрено, что мне кошмары снятся. Надо
                же: Путин приснился.</p>
            <p> Психиатрам после этого есть о чем подумать. Да и ФСБ тоже. Как же: на Путина руку поднял! Скорее всего,
                они как-то объединятся и придут в согласованное действие. То есть ФСБ опять настоит на экспертизе,
                только уже не компьютера, а меня. И экспертиза уже не у лингвистов, а у психиатра. А чего мне
                притворятся? Да иногда сам сомневаюсь в своём психическом здравии. Глядя на окружающих людей, на их
                реакцию, вернее, на отсутствие реакции по любому значимому поводу, я всерьёз задумываюсь над тем, что
                кто-то ненормален: или этот народ, или я, которому не нравится этот народ. Но нас ещё в школе учили, что
                народ ошибаться не может. У него классовое чутьё, поэтому он от ошибок застрахован. Значит ненормальный
                я. Но если я понимаю, что ненормальный, значит я нормальный? Ладно, оставим эту дилемму для решения
                очередным авторитетным людям.
            </p>
            <p> 23 февраля первый раз не пошёл на воскресное служение. Не смог себя заставить. Чувствовал действительно
                себя поганенько, хотя бывало и хуже. Но сегодня братьев-христиан будут поздравлять сёстры с днём
                Защитников родины. Наверняка будет общая молитва за защитников. А я буду стоять и думать, как эти
                защитники 23 февраля начали депортацию чеченцев и ингушей. Как мы оккупировали Венгрию, Чехословакию. Не
                могу же я кривить душой, смотреть на это как на спектакль и одновременно понимать, что нахожусь на
                богослужении. Ведь большинство (опять большинство!) из присутствующих людей будут молиться искренне.
                Скорее всего, никто из этих людей не задумывается над тем, что каково государство – таковы и защитники.
            </p>
            <p> Да я сам ещё недавно не задумывался. И по собственной тупости не видел врага в лице государства. Но оно
                само назначило меня быть врагом, поскольку Оля оказалась честным человеком, а я на её стороне.</p>
            <p> Про Украину, вообще, молчу и не высказываюсь. Многие вспыхнули надеждою на благополучный исход и
                освобождение Украины от российского ига. Я же боюсь, что мы зальём кровью эту страну, и молчу. «Ведь
                очевидцев, как и ясновидцев, во все века сжигали люди на кострах». А беглого раба всегда ловили и
                жестоко наказывали с помощью тех же «защитников».</p>
            <p> Ненависть – страшная штука, разрушающая всё, кроме самой себя. Более того, ненависть постоянно черпает
                подпитку в самой себе. Россия – это инкубатор ненависти. Она не может ничего производить, кроме
                ненависти. Люди заражены ею и находятся в состоянии постоянной войны всех со всеми. Понимаю – это
                ненормально для христианина, но я полон ненависти к этой стране. Оправданием ненависти служит моя любовь
                к своей жене, семье, к дому (который не является моей крепостью). И будучи беззащитным в этом
                государстве, пытаюсь защитить их. Почему, заступаясь за них, в поисках справедливости я попадаю в разряд
                экстремистов? Я же только хочу оставаться человеком. И почему мне в этом отказывают? Или в нашем
                государстве хороший человек – мёртвый человек? Поэтому государство стремится выполнить план по хорошим
                людям?</p>
            <p> Да, я сдался в борьбе с ворами в государстве жуликов и воров. Привык к ощущению присутствия болезни, к
                чувству боли; но не могу привыкнуть к постоянному чувству ненависти. Всё это так, и я хочу сказать
                дорогим соотечественникам: «Это мы построили такое государство. И нам в нём жить. В наказание. До тех
                пор пока мы не изменимся (или не станем хорошими). ФСБ нам в помощь». Для верующих людей эта фраза
                прозвучит по-другому: «Это мы построили такое государство. И нам в нём жить. В наказание. До тех пор
                пока мы не покаемся и не станем другими. Бог нам в помощь».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>