<!DOCTYPE html>
<html lang="ru">

<head>
    <title>В курятнике</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">В курятнике</h1>
            <p>Опять показали этот мультфильм. Добрая, чудесная сказка о гадком утёнке, где всё так плохо началось и
                прекрасно закончилось. А началось всё с появления утёнка в обычном курятнике. Только утёнок оказался
                необычным. Гадким, по мнению окружающих. Все вокруг были нормальные, а он единственный на весь курятник
                – ненормальный, гадкий. Но сказка, на то она и сказка, чтобы закончиться хорошо, в назидание остальным.
                А как бы эта история происходила в жизни, в реальном курятнике под именем Россия?</p>
            <p>В таком случае, отметим для себя, что в сказке Андерсена о гадком утёнке есть два ключевых момента.
                Первый: гадкий утёнок увидел лебедей и понял, как они прекрасны. Второй момент: спустя какое-то время он
                обратил внимание на своё отражение в воде, сопоставил и узнал, что он вовсе не гадкий утёнок, а лебедь –
                прекрасная птица. Но если лишить несчастного утёнка этих двух возможностей: видеть перед собой идеал –
                образ, к которому нужно стремиться, и лишить его возможности увидеть себя со стороны, то он навсегда
                останется гадким утёнком в собственных глазах. И сказка уже не будет иметь такого счастливого конца и
                станет былью.</p>
            <p> Кто мне скажет: где в нашем курятнике, в России, можно увидеть идеал? Тот образ, на который хотелось бы
                походить? В жизни едва ли с таким столкнёшься, не так уж их и много в нашем обществе. По телевизору
                таких тоже не показывают. То, что показывают по телевизору, рассчитано на курятник и на куриные мозги.
                Вторая проблема: как у нас можно увидеть себя со стороны? В засранном курятнике простое зеркало или хотя
                бы отражение в чистой воде – это неисполнимая мечта. Значит?</p>
            <p> Значит, утёнок никогда не узнает, что он лебедь. Он так и будет мучиться до конца дней, в своих
                собственных глазах оставаясь уродом и пугалом; а окружающие безмозглые куры будут с удовольствием
                показывать на него: «Гадкий утёнок! Вон идёт гадкий утёнок!». И так всю жизнь. У нас, если сказка
                становится былью, то она превращается в трагедию, которая никогда не превратится в фарс.</p>
            <p> Мы, вдвоём с женой, зашли в кабинет. Сразу, напротив двери, за столом сидела жопа с глазами, которая
                демонстративно игнорировала наше появление. Почему именно жопа? Я не Салтыков-Щедрин. Это он наделял
                своих персонажей какой никакой головой: то фаршированной, то без мозгов, то «с некоторым особливым
                устройством». У меня на подобное не хватает, скажем, фантазии. Говорю прямо, по-пацански, как наш
                нацлидер, который любит вручать медальки деятелям культуры, типа: подвесить за яйца, замочить в сортире,
                поковыряться (нет, не в жопе) в канализации. Публика от него в восторге. Хотя, лично я на всеобщий
                восторг не претендую.</p>
            <p>Так почему жопа с глазами? Потому что на ней не отражалось никаких мыслей, никаких чувств, никакого
                движения. При этом снаружи ясно различается наличие одной вертикальной извилины, которая делит нечто
                целое на две половинки-полушария. Два дня назад, эта же самая бесстрастная личность, назвавшись
                следователем, но не желая представиться, орала на меня по телефону. Требуя, чтобы моя жена явилась к
                нему в кабинет безо всякой повестки. Иначе он подаст во всесоюзный розыск. И почему-то настаивала на
                том, что повестку вручили лично мне, в руки. Повестки никакой я не получал, тем более что следователь
                проболтался, что её отослали совсем по другому адресу.</p>
            <p> И вот мы с Олей сидим смирно перед человеком, обличенным властью. На неё сейчас завели уже второе
                уголовное дело. По первому, о клевете на директора Рефтинской птицефабрики, суд категорично вынес
                вердикт: виновна. Хотя она по первому делу представила копии документов, согласно которым директор
                Топорков вывел с птицефабрики за последнее время 500 миллионов рублей. Это признали клеветой. Оля в
                ответ подала кассационную жалобу. И вот ей срочно «шьют» второе дело. Топорков снова подал в суд, желая
                добить её и утверждая, что она выкрала с птицефабрики оригиналы тех самых документов, которые говорили о
                его вине.</p>
            <p> Оля взяла меня с собой к следователю, на тот случай, если её «закроют» (арестуют, задержат) прямо в
                кабинете. Но такого не произошло. После этого я уехал на лечение. А следователь с двумя работниками ОБЭП
                вечером нагрянул к нам с обыском. Дома были только Оля и моя мама, которая уже второй год не поднимается
                после инсульта. Что испытывали женщины, когда дюжие мужики в течение нескольких часов всё вытряхивают,
                перетряхивают, везде лезут? Закончили они к полуночи. И, как сказала Оля, всё это время были предельно
                корректны.</p>
            <p> Я далёк от мысли обижаться на следователя. Он лишь бледная тень, отголосок того, что у нас происходит в
                России. Ещё в те давние времена, когда чекиста Путина выбирали президентом на первый срок, меня мучил
                вопрос: «Люди! Вы что делаете?» Что произошло бы в Германии, если бы после войны, в 45-ом, к власти в
                стране пришёл гестаповец? Тут двух мнений быть не может. Всё бы вернулось на круги своя: одна
                национал-демократическая партия, фашисты, «Германия превыше всего!», концлагеря, и враги. Враги вокруг.
                Враги внешние и враги внутренние.</p>
            <p> Но наш народ-богоносец с загадочной русской душой почему-то проголосовал: «Хайль, Путин!» Совкам
                захотелось стабильности. Теперь Путин – ум, совесть и честь нашей эпохи. Это он расплодил коррупцию.
                Благодаря ему суды, правоохранительные органы стали послушными и продажными. Карманная Дума набила
                карманы. Партия рулит, куда ей показывают. На нужных местах сидят вот такие жопы с глазами. Народ
                окончательно отупел и спился, смиренно и молча вымирает. Где вы, гуси-лебеди? Где те, на кого хочется
                быть похожими? Да нет их! Хочется крикнуть: «Не стреляйте белых лебедей!». Их и было-то мало. Теперь,
                похоже, совсем не осталось. Сейчас идёт параллельно отстрел чёрных лебедей: чеченцев, грузин и прочих
                лиц кавказской национальности.</p>
            <p> Оглядываюсь вокруг и поражаюсь дикости происходящего. На кого рассчитан этот сюжет: самолёт на бреющем
                полёте, в кабине сидит отважный чекист, нажимает на тумблер, и в горящий лес обрушивается спасительный
                водопад. Неужели в этом государстве остались действительно одни безмозглые курицы? И подобные
                документальные кадры должны убедить сомневающихся в правильности сделанного ими выбора? Не нужно быть
                особо умным или одарённым человеком, чтобы понять: если директор предприятия взялся за швабру и сам моет
                полы, то его этой шваброй гнать надо с насиженного места! Если не хватает ума организовать правильно
                работу – переходи в технички и тогда уже мой полы. Если руководитель – в каждую дырку затычка, значит он
                довёл вверенное ему производство до такого состояния, что всё вокруг сгнило и проржавело. И
                собственноручно затыкать образовавшиеся дыры уже поздно.</p>
            <p> Понимаю, что Путин показывает себя орлом в нашем курятнике. Но в курятнике самая большая должность – это
                петух. А орлы в курятнике не уживаются.
                Так что на следователя я не в обиде. Он простой исполнитель. Если у власти в курятнике петухи, то на
                местном уровне жопа с глазами – это нормальное явление, по-другому быть не может. Что меня напрягает?
                То, что у нас могут произвести повторный обыск. И тогда, в присутствии понятых, найдут у нас
                какие-нибудь улики, в шифоньере, среди белья. Первый раз пришли – положили, второй раз пришли – «нашли».
                Для понятых всё будет выглядеть очень убедительно.</p>
            <p> А ещё изъяли у нас ноутбук и системный блок. Эти глазастые жопы, прочитав мой дневник, могут вполне
                говорить о моей экстремистской деятельности. Да уж! Семейка подобралась: муж, старый хрыч, – экстремист.
                Жена – клеветница и воровка. Но всё равно прошу, хоть и не имею на это право: не стреляйте белых
                лебедей! И чёрных тоже! Сколько же можно? Это они курицам, с непривычки, кажутся гадкими.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>