<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Героический народ</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Героический народ</h1>
            <p> После сорока лет сделал для себя неожиданное наблюдение: в парикмахерской, при стрижке, намертво
                впиваюсь пальцами в подлокотники кресла и сижу закаменевший, как перед расстрелом. Пережив это открытие,
                я теперь постоянно пытаюсь расслабиться в кресле и получать удовольствие от процесса стрижки. Но меня
                хватает на несколько минут: через какое-то время опять ловлю себя на том, что вот-вот оторву
                подлокотники. Почему?</p>
            <p> Всё-таки вспомнил! Когда мне было лет 8-10, телевизор в деревне был большая редкость. И, совершенно
                неожиданно, отец начал меня водить подстригаться к своему другу. Не думаю, что тот был хороший
                парикмахер. Но у него был телевизор. И как-то так, случайно, получалось, что отец, с бутылкой самогона в
                кармане, приводя меня стричься, всегда попадал на хоккейный матч. С хозяином они распечатывали бутылку,
                отливали от неё понемногу в стаканы.
            </p>
            <p> Отец после этого садился на койку, смотреть хоккей. А дядя Вася ставил табуретку посреди комнаты,
                усаживал меня лицом к телевизору, вставал за моей спиной и начинал стричь. Машинка для стрижки была у
                него старая, и хотя хорошо смазанная, но часто волос выдергивала, а не стригла. Особенно больно было,
                когда забивали очередной гол. Дядя Вася, бросив машинку, поднимал руки вверх и кричал: «Го-о-о-л!».
                После этого они с отцом ещё выпивали. К концу матча бутылка была распита, я подстрижен. Посмотрев на
                десерт «Новости», мужики, с подачи диктора обматерив американский империализм, расходились.</p>
            <p> Точно! Вот с тех пор я сжимаюсь в комок, когда меня подстригают, никогда не смотрю хоккей и имею своё
                собственное мнение об американцах. Это надо же, как долго ЭТО хранилось в моёй памяти. Без моего ведома.
                Спрятанное где-то глубоко-глубоко, под слоем бетона, потом выровненное раствором. А поверх всего, ещё и
                покрашенное. Попробуй догадаться, что там что-то есть. И я ЭТО ношу постоянно с собой. Более того: так
                или иначе, ЭТО, из-под бетона, мной управляет. «<span class="article__passage">Вы – как гробы скрытые,
                    над которыми люди ходят и не
                    знают того</span>», – говорит Библия.
            </p>
            <p> Когда слышу и читаю о стенаниях по благополучно усопшему Советскому Союзу, я всегда вспоминаю исход
                евреев из Египта. Выходят эти люди из рабства в Египте. Думаете, они радуются? Ничего подобного! Они
                «<span class="article__passage">сидели и плакали, и говорили: кто накормит нас мясом? Мы помним рыбу,
                    которую ели в Египте даром,
                    огурцы и дыни, и лук, и репчатый лук и чеснок</span>». Нет! Им свободу, а они лук репчатый
                вспоминают. Рыбой их
                бесплатно кормили. Зелень, по-видимому, сами выращивали. Теперь они сидят и плачут. Ностальгия,
                понимаешь, замучила. Как это в «Джентльменах удачи»? Василий Алибабаевич: «А в тюрьме сейчас ужин.
                Макароны!»</p>
            <p> Интересный момент. Прямо как из нашей жизни: евреи питалась в рабстве бесплатной рыбой и витаминами.
                Зато теперь, на пути к свободе, они возмущённо спрашивают: «Кто накормит нас мясом?» На пути к свободе
                почему-то обязательно должны кормить мясом. Или дешёвой колбасой. Иначе народ не пойдёт. Воистину:
                «<span class="article__accent">Нет
                    ничего нового под солнцем</span>». Не корректно сравнивать два народа. Евреев и нас. Тем более,
                одного из них
                благословил Бог, а другой – сам себя назвал богоносцем. На этом некоторое сходство заканчивается, и тут
                должна начинаться политкорректность.</p>
            <p> Согласно Библии, всё-таки Бог дал Своему избранному народу мясо. Зато потом, в наказание за ропот толпы,
                Моисею пришлось водить израильский народ 40 лет по пустыне. Пока не вымерло поколение рабов, которым
                мясо стало дороже свободы, дарованной Богом. И только новое поколение, не знавшее рабства, приняло
                свободу и обетованный новый мир. В России положение гораздо сложнее. Если Бог дал евреям в проводники
                Моисея («<span class="article__passage">Моисей же был человек кротчайший из всех людей на
                    земле</span>»), то мы почему-то выбрали себе в
                предводители чекиста.
            </p>
            <p> Чекисты – это такие же люди, как и мы. Только они ещё более кровожадны, беспринципны и бесчувственны.
                Мочить, обрезать, подвешивать, выковыривать – это их кредо, их сущность. Естественно, и наше тоже. Всю
                свою жизнь чекисты преследовали инакомыслящих, просто мыслящих и верующих людей (и мы тоже). Почти
                никого из перечисленных не осталось. И теперь, выходя из рабства (вставая с колен), чекисты с религией
                продолжают бороться. Но уже по-другому, по-умному. Они, наоборот, всех загоняют в церковь. Результат не
                трудно предсказать: любое насильное действие вызывает противодействие.</p>
            <p> Вопрос напрашивается сам собой. Если Моисей выводил из рабства свой народ, исполняя волю Божью, то куда,
                исполняя чью волю, кто ведёт сейчас народ-богоносец? И сколько нам ещё идти, если новому поколению тоже
                не нужна свобода и дорога в храм? Колбаса и нажива – вот их бог. Правда, они имеют право обвинить
                старшее поколение: «<span class="article__passage">Только ложь наследовали наши отцы, пустоту и то, в
                    чём никакой нет пользы</span>». Ложь и
                пустоту наследовали отцы; эту же ложь и пустоту они передали по наследству своим детям. Ложь и дутые
                мифы.</p>
            <p> Как? Мы советские люди? Героический народ? Да откуда в нас плохое? Мы самые лучшие! Но никому из нас в
                голову не приходит поскоблить себя, чтобы сошла эта краска. Отколупать штукатурку, пробить бетон и
                заглянуть внутрь, в подсознание: а что это меня водит? Что мной руководит? Что было вбито в мою голову
                ещё с детства? С какой целью? Почему нас корёжит от слова «Америка» (США), почему мы с удовольствием
                слушаем проплаченных хохотунчиков о том, что американцы тупые, ну тупые.</p>
            <p> Мы искренне считаем, что в стране, расположенной на 1/6 части суши, должны жить исключительно
                героические и одновременно порядочные люди. Наверное, только потому, что мы, в своё время, относительно
                быстро и безжалостно обжили (завоевали) большую территорию. Вот наше достижение. Но раковая опухоль тоже
                быстро распространяется. И кем она мнит себя при этом? Поверьте, что не смертельной болезнью. Что? Мы не
                в ответе за царскую Россию? А, по-моему, зря мы открещиваемся от прошлого российской империи.</p>
            <p> Когда-то и я так думал, что во время революции нация раскололась на хороших и плохих, на «красных» и
                «белых». После перестройки поменял своё мнение с точностью до наоборот: я стал за «белых». Теперь, по
                прошествии времени, понимаю: и «белые» были русскими, и «красные» были русские. Хороших там не было.
                Несчастные были. Был «белый» террор, и был «красный» террор. «Белые», по полной программе, мочили
                «красных». Это нам любят показывать в советских кинофильмах. «Красные» также зверски мочили «белых». Это
                нам не показывают. Но в гражданской войне эта кровавая бойня как бы имела оправдание. Плохо только, что
                победили не те.</p>
            <p> Победило взбунтовавшееся стадо. Тупое, кровожадное. Нация без элиты (пусть, какой бы она ни была, эта
                элита). Без совести. Без сочувствия. Ненавидящая, завистливая и гордящаяся. Чем? Сама собой. А, в самом
                деле: почему советский народ героический? Детский психолог рассказывала мне, что у них на учете стоит
                дебильный переросток. По годам ему уже восемнадцать, а по уму – пятилетний ребёнок. Когда его в
                инвалидной коляске привозят на приём, он неожиданно мужским басом начинает материться на все три этажа
                поликлиники. А успокоить его можно одним способом: утверждая, что он хороший, молодец, умница. Тогда он,
                пуская пузыри, начинает соглашаться и успокаивается.</p>
            <p> Сколько у нас городов-героев? Теперь ещё добавились города воинской славы. Гордись народ! Разве мы не
                заслужили таких почестей? Сколько народу полегло в Великой Отечественной? А, правда, сколько? Никто
                точно не знает. Миллионами считаем. Плюс-минус миллион, в ту или другую сторону. Оставшиеся ветераны той
                войны потихонечку вымирают, до сих пор не имея своей крыши над головой. А ведь их, наверное, уже можно
                поштучно пересчитать!</p>
            <p> Всё равно, мы герои, потому что нас много погибло. Кто-то недавно сказал, что китайцы, если захотят, то
                шапками нас закидают. Мы, для победы над фашистскими захватчиками, своими трупами их закидали. А чтобы
                те, кто поумнее, не лезли с вопросами: кто и почему нами так бездарно командовал, и кто за это должен
                отвечать, весь народ поголовно назвали героическим. Опять же, чтобы он громко не матерился. Как можно
                материться вслух на своё руководство, если нам всем дали такое небывалое определение: героический народ?
                В общем-то, мы даже довольны остались. Согласились и успокоились. Да оно, примерно, где-то так и есть: в
                нашей жизни всегда есть место подвигу.</p>
            <p> Вот тут возникает наболевший для меня вопрос: откуда тогда эти продажные сволочи берутся? Эти прокуроры,
                судьи, депутаты, менты, чиновники, педофилы? Ведь порядочных людей в этих кругах не встретишь. Хотя
                народ, в целом, как будто героический. Тут, откуда-то из-за кулис, подбрасывают готовый ответ: «Это всё
                демократия и либералы виноваты! Это из-за них так резко изменился моральный облик советского человека».
            </p>
            <p> Пожалуйста, у меня огромная просьба ко всем: я 60 лет прожил в этом государстве. И ни разу не
                сталкивался ни с демократией, ни с либералами. Но вокруг только и слышу вопли: «Дерьмократы, либерасты!»
                Так, что это такое: демократия? Может, кому-то у нас повезло, и он с ней сталкивался? Расскажите. Плиз.
            </p>
            <p> Ну, а по поводу резко изменившейся морали советского человека… У меня в памяти эпизод из истории нашего
                государства. Лет через 10 после Великой(!) Октябрьской Социалистической Революции по всей Росси начали
                крушить церкви. Кто крушил? Передовая, наиболее сознательная часть народных масс. А куда же делись
                православные, верующие? Которые должны были бы защитить свои храмы и святыни. Их же миллионы по России.
                Россия-то была православная! Что, они за 10 лет уже все вымерли? Если правду сказать, видимо, немного
                было истинно верующих. Не было настоящего православия на Руси. Была форма без содержания.</p>
            <p> Вот так же и с моралью советского человека. Не было никакой морали. Советский человек был. А морали не
                было. Опять я клевещу на героический советский народ? Тогда вспомните «лихие девяностые». Десяти лет не
                прошло с развала любимого Советского Союза, как бандитским стал не только Петербург, а вся Россия. Ведь
                за это время не вымерли закалённые советские люди. И как же моральный кодекс строителя коммунизма? Да
                так же, как Конституция для наших правителей. Вначале они на неё кладут руку, а потом кладут на неё…,
                вернее, её на пыльную полку. Вот и мы, свой моральный кодекс строителей коммунизма положили...</p>
            <p> И, опять же, не прошло 10-ти лет после лихих девяностых, как все стали православными. А бандиты куда
                делись? Чекисты? В депутаты пошли, в Думу, в правительство. В церкви. Омоновец вас бьёт по башке
                дубинкой – это православный. Мент вас останавливает на дороге – это православный. Чиновник вымогает у
                вас взятку – это православный. 250 тысяч убитых чеченцев – это тоже православные постарались, долг перед
                родиной выполняли. Врач, по халатности которого погиб ребёнок, – это тоже православный. И чекист (чур,
                меня, чур), тоже оказывается православный!!! Умом Россию не понять. Она лживая, скользкая, тупая и
                агрессивная.</p>
            <p> «<span class="article__passage">Горе вам, лицемеры, что уподобляетесь окрашенным гробам, которые снаружи
                    кажутся красивыми, а внутри
                    полны костей мёртвых и всякой нечистоты; Так и вы по наружности кажитесь людям праведными. А внутри
                    исполнены лицемерия и беззаконности</span>».</p>
            <p> У меня просьба: не надо обвинять меня, что я живу на деньги ЦРУ. Мы живём втроём на 8 тысяч моей пенсии.
                Тут и инвалидность, и какие-то надбавки (спасибо Путину). Не надо называть сектантом. Действительно, я
                не православный. Но мне кажется, я имею право на существование. Я не чеченец. И не грузин. И не еврей.
                Не обвиняйте меня в этом. Хотя, если бы был представителем одной из этих наций, то только бы гордился.
                Просто мне их жалко. Нет, не за их слабость. А за то, что мы с ними творили и творим.</p>
            <p> Русских? Русских тоже жалко. Поэтому и пишу. Может кто-то решится поскрести эту краску, чтобы
                посмотреть: а что там у нас внутри?</p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>