<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Как слово наше отзовется</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Как слово наше отзовется</h1>

            <p> Девочка Анна Франк рассказывала в своём дневнике о страшном времени, когда её страна оказалась во власти
                фашистских полчищ. Жизнь маленького беспомощного человека среди врагов. Собственное бессилие, наверное,
                - это самое ужасное ощущение. Я тоже веду дневник, тоже описываю происходящее. Происходящее вокруг и
                происходящее с нашей семьей. Так же, как и той девочке, мне хочется, чтобы людям стало известно, что
                приходится испытать, когда ты просто выживаешь в окружении врагов. Но в моем случае не враги
                оккупировали страну, а я сам оказался врагом собственного народа.</p>
            <p> Правда, любимое чекистское выражение «враг народа» было заменено на определение «экстремист». Вот и
                меня, за мой дневник, назначили быть экстремистом. Интересно, а с какого момента меня начали считать
                экстремистом, публикующим дневник? После того как я написал в дневнике о том, что в посёлке в одном из
                детских учреждений был организован публичный дом? Туда, развлечься с мальчиками-малолетками, приезжали
                на иномарках высокопоставленные дяди из Екатеринбурга. Местный активист и редактор газеты Эдик Маркевич
                заснял номера машин на видеокамеру, но его попросту застрелили, а плёнка таинственно исчезла из его
                архивов. Убийцу, как и полагается, не нашли.</p>
            <p> Или нет. Может экстремистом меня стали считать после того, как написал о том, что на Рефтинской ГРЭС
                сожгли (выпустили в трубу) 100 тонн смертельных ядохимикатов? А перед этим власти успокоили ложью
                возмущённое и перепуганное население, заявив, что ядохимикаты отправили назад, в Прибалтику. Хотя кто-то
                из местных монтировал установку для сжигания, кто-то разгружал ядохимикаты (это два или три вагона!),
                кто-то непосредственно сжигал их. Но никто из них об этом в посёлке не проболтался! Тогда можно смело
                предложить итальянцам, хозяевам ГРЭС, сжигать в топках электростанции любые отходы со всей Европы. Это
                же прибыльный бизнес! А наши работяги ничего не расскажут – уже проверенно временем.</p>
            <p> Если эпизод с высокопоставленными педофилами характеризует наш быт и образ жизни, то случай с
                ядохимикатами показывает, как можно использовать имеющееся градообразующее предприятие в качестве оружия
                массового поражения. Какое ещё применение может быть у градообразующих предприятий? Второе предприятие –
                это Рефтинская птицефабрика. Это такая большая-большая корова, которую доят присосавшиеся власть имущие.
                То есть, это градообразующее предприятие стало для некоторых избранных собственным кошельком. В моём
                дневнике педофилы и убийство Эдика Маркевича, сжигание ядохимикатов на ГРЭС проходят как эпизоды. Зато
                крупномасштабному расхищению птицефабрики, практически, посвящён весь дневник. Почему? Потому что там
                главным бухгалтером работала моя жена Оля. Именно моя постоянная писанина на эту неудобную тему и
                послужила основанием для обвинения в экстремизме.</p>
            <p> Сразу предвижу вопли «почитателей» дневника: «Значит и она участвовала в доле! Не могла не участвовать».
                Господа, ну, мы же взрослые люди! И все прекрасно понимаем, что у нас для обвинения нужны не факты, а
                желание посадить неугодного. Желание и хотя бы малейшая зацепка. Отсюда берут начало «руки по локоть в
                крови», укравшие у России мировые запасы нефти, и расхищенный Кировлес на 16 миллионов. Но (внимание!)
                если за прошедшие годы опалы на бывшего главбуха птицефабрики, даже при самом большом желании, ничего не
                «накопали», значит, даже зацепки не нашли. Посему её оставили в покое, правда, со статьёй 129 за клевету
                на директора птицефабрики. Так как судья отказалась рассматривать документы, предоставленные Олей,
                подтверждающие хищения в крупном размере.</p>
            <p> Все годы, прожитые с Олей, не перестаю восхищаться ею. В частности, когда она пришла на птицефабрику, ей
                пришлось рвать те связи, которые ранее были установлены между криминальным миром и птицефабрикой. Это
                было в «лихие девяностые». Кто-то из-за нового главбуха и её принципиальности терял конкретные деньги.
                Первый раз ей дали понять об этом, когда подложили взрывное устройство под двери нашей квартиры. Взрыв
                прогремел в подъезде ночью. Лопнула плита перекрытия лестничной клетки, металлические двери были выбиты
                вовнутрь квартиры. Вырванный взрывом из стены элекрощиток вместе со счётчиками висел на кабелях и кусках
                проводки. В следующий раз на её служебной машине ослабили гайки на переднем колесе. Колесо выкатилось
                из-под машины на полном ходу, так что его даже не нашли. Мы пережили и это. Но мы не подозревали, что
                нас ждёт в будущем, в проклятые «стабильные путинские нулевые».</p>
            <p> Когда Путин пришёл к власти, я был шокирован реакцией народа на это событие. Нет, ну вы что? Совсем
                тупые? А если бы в Германии, после её разгрома в 1945 году, пришёл к власти гестаповец? Понятно, что это
                было бы гарантией того, что в стране возродятся старые порядки, что страна вернётся туда, откуда всё
                началось. И удивительно для меня было то, как Путин по-детски просто нашёл общий язык с народом. Стоило
                будущему нацлидеру кинуть клич: «Мочи их!», как все замерли в восторженном оцепенении на долгие годы.
                «Вот он! Наш! Дождались! Вот он, плоть от плоти своего народа!». Если Жириновский мог морды бить
                депутатам и баб за волосы таскать, то этот (наш человек!) сразу конечную цель обозначил: «Мочи». Кого?
                Неважно. Это в зависимости от обстоятельств. На кого укажут. </p>
            <p> Тогда, из-за наступления миллениума, за рубежом много и со страхом писали об озоновых дырах, птичьем
                гриппе, коровьем бешенстве, о всемирном потеплении. Тогда я в дневнике оставил запись, что самая большая
                угроза для населения Земли – это Путин. Но человечество меня не услышало. Я остался один со своим
                мнением. А со временем начал понимать простую вещь: каждый народ заслуживает своего правителя. Наш народ
                достоин чекиста.</p>
            <p> И я - для себя - оправдал Путина. Он – жертва. Жертва этого народа, который остановил свой выбор на нём.
                Помните, у Марка Твена в «Принце и нищем»? Там нищий, волей случая, оказался на троне вместо принца. В
                России принцев не бывает (у нас менталитет не такой), зато нищего из толпы выбрали настоящего. Нищего во
                всех отношениях. И вот этот несчастный нищий начал править страной таких же нищих. Нет, вначале он
                чувствовал себя счастливым: осуществлялись все его капризы. Зато, когда он понял, где он живёт, а
                главное – кто его окружает (а окружали его близкие по духу - те, кого он выбрал), вот тогда он снова
                почувствовал себя несчастнейшим из несчастных. Удачливый паук в банке с такими же пауками, против
                которого работает время.</p>
            <p> Как нашей семье дальше жить в этом перевёрнутом мире, среди нищих пауков, жаждущих не только
                материальных благ, но и крови тех, кто мешает им на пути к земным благам? Что нас ждёт?
                Криминализированное Путиным государство – это не те одиночки, которые пытались взорвать нашу квартиру и
                из-за которых дали прозвище девяностым годам – «лихие». Теперь против нас асфальтовый каток, вся махина
                государства, состоящая из прогнившего железа, соединенного бездушными винтиками. Но вес-то, вес какой!
                Все эти годы нас прессовали по полной программе. Вогнали в долговую яму, дискредитировали, оклеветали.
                Эти постоянные суды, нашествия приставов, помои в наш адрес и змеиное шипение вслед, когда проходишь по
                улице. Посёлочек-то маленький. Где же вы, люди? А главное – за что вы нас так?</p>
            <p> Чего хотели от Оли эти насосавшиеся клопы, именуемые властью? Соучастия или молчания. Не получив ни
                того, ни другого, власть принялась сживать нас со свету. О, они очень гуманны! Они не делали попыток
                взорвать нашу квартиру – это крайние меры и признак бессилия. Пустив на нас асфальтовый каток, они
                любезно предоставили выбор: возможность за эти годы сойти с ума, спиться или покончить жизнь
                самоубийством. Любой вариант (или комбинация из этих вариантов) устроил бы их. Но Бог хранил нас от
                этого.</p>
            <p> Кстати, когда директор птицефабрики Топорков уволил Олю, он спросил её с ехидцей: «Вот, я вас уволил! А
                где ваш Бог?». Ох, уж эти простые советские люди! Служат сатане, но при этом считают, что Бога нет; или
                считают, что Он обязательно на их стороне. Когда с помощью Топоркова в посёлке построили церковь,
                приезжали попы из Екатеринбурга. Кричали хором Топоркову: «Аксиос! Аксиос! Аксиос!» (достоин, достоин,
                достоин). Конечно, достоин. В энциклопедии «Лучшие люди России», в разделе «Родины Славные Сыны и
                Дочери» красуется Топорков Николай Васильевич. Вы посмотрите вокруг: все, кто украл миллиард или больше,
                – это достойные люди в глазах общественности. И каждый из нас мечтает оказаться на месте этих людей или
                среди них. Простые советские люди!</p>
            <p> Кстати о превратностях судьбы пауков в банке. В конце 2010 года Топоркова увольняют с птицефабрики
                (карта где-то в Москве не так легла). Причём, поводом для увольнения послужили те документы, которые Оля
                столько лет предлагала для возбуждения уголовного дела о хищениях. Наконец-то, ружье, которое висело на
                стене, выстрелило! Но выстрел оказался холостым: через два года Топоркова восстанавливают. Московская
                карта по-другому легла. Что за карта? Что послужило поводом?</p>
            <p> Эдуард Россель (ныне член Совета Федераций, а до этого губернатор Свердловской области) просит Паслера о
                подарке для себя в день своего рождения. Кто такой Паслер? Денис Паслер – председатель правительства
                Свердловской области. О каком подарке идёт речь? Да так, мелочёвка. Россель просит Паслера назначить
                директором Рефтинской птицефабрики уволенного за воровство Топоркова. А как же документы о расхищении
                птицефабрики? А что делать с Ольгой Ткалич, с этим неугомонным борцом с коррупцией? А с дневником её
                мужа? Выход простой: нет человека - нет проблем. И если бывшего главбуха не смогли посадить, то на эту
                роль подойдёт её муж. Вот эти уважаемые люди, руками прихвостней из ФСБ и правоХОРОНИТЕЛЬНЫХ органов
                пытаются слепить из меня экстремиста. Хорошая эта штука – ручное управление при вертикали власти. Сразу
                восхожу к истокам: обед, Путин, Якунин, глухарь, сообщение пресс-службы правительства об отставке…</p>
            <p> Чего ожидаю сейчас? О том, что меня рано или поздно обвинят в экстремизме, я написал ещё в марте 2009
                года. Так что ничего неожиданного не произошло. Сказать, что уповаю на Господа – это дать повод
                советским людям похихикать и задать тот же вопрос: «А где твой Бог?». В том, что в дневнике эксперты
                найдут этот самый экстремизм, я не сомневаюсь. В кошачьем хвосте они сумели разглядеть фаллос, и на
                основании этого подозреваемому дали 13 лет. Адвокаты, даже самые искусные, в нашей стране бессильны. Я
                сужу по примеру Ходорковского. Печально, но считаю: отсидеть срок в этой стране для порядочного человека
                - это и честь, и прививка от патриотизма.</p>
            <p> Считаю ли себя экстремистом? Нет. Я, как Анна Франк, пытался рассказать о страшном времени, которое для
                нашей семьи ещё не закончилось. Но очевидцев, как и ясновидцев, во все века сжигали на кострах. Кто-то
                упрекнёт, что в дневнике я слишком резко отзывался о дорогих соотечественниках? «Ужаснись сам себе» –
                это фраза из блога Кончаловского. Мудрая фраза. И я пытался показать в дневнике, <span
                    class="article__passage">как на самом деле мы
                    ужасно выглядим со стороны</span>. Я пытался поставить ужас перед зеркалом, чтобы он увидел сам
                себя, и
                показать этот ужас другим.</p>
            <p> Только истинное понимание себя, чистый, заинтересованный взгляд в собственную душу может привести к
                покаянию. Для того чтобы убить дракона, не обязательно убивать кого-то. Вначале надо заглянуть в самого
                себя. Увидеть себя и ужаснуться. За этим последует покаяние, которого так боится Путин и весь наш
                народ-богоносец. Я хотел только обозначить болезнь и (к сожалению, так как я христианин) не звал на
                баррикады. «<span class="article__accent">Будет и того, что болезнь указана, а как её вылечить – это уж
                    бог знает!</span>». Надеюсь, что
                Лермонтова никто не будет обвинять в экстремизме. Он тоже хотел обнажить болезнь русского человека.</p>
            <p> Мне хочется отдельно выразить благодарность начальникам из ФСБ. Я очень признателен вам за тех
                придурков, которых вы держите в штате. Какие кадры у вас работают! Я не о Путине, хотя это тоже ваш
                кадр. В общем, впервые я был удивлён, когда ваш сотрудник заявил, что документы, предоставленные Олей о
                хищениях на птицефабрике, бесследно исчезли. До сих пор гадаю: вы продали документы Топоркову? Или
                кому-то другому, кто шантажирует ими Топоркова?</p>
            <p> Потом я удивился активному противодействию ФСБ <a href="/diary-chosen/running-for-mayor"
                    class="article__ref">Олиной кандидатуре</a> на выборах в мэры. А как нагло, совершенно по-скотски,
                вёл себя ваш сотрудник <a href="/diary-chosen/islanders" class="article__ref">при
                    обыске</a>, предлагая при этом: «Не нравится? Езжайте в
                Америку!». Затем, ваши кадры проявили инициативу, сделав рекламу моему дневнику, который особой
                известностью до этого не пользовался. Вначале, мысль-то была у них правильной: закрыть доступ к
                дневнику. А после этого можно, приводя фразы, выдернутые из контекста, смело обвинить меня не только в
                экстремизме, но и в том, что я танцевал на развалинах замка. Но неужели у этих рыцарей плаща и кинжала,
                у этих тупиц не хватило ума проверить: есть ли у меня «зеркала» с того, закрытого ими сайта? А «зеркала»
                были. И зарегистрированы в Германии: <a href="http://www.tkalitsch.strana.de/"
                    class="article__ref">первое</a> и
                <a href="http://www.criststatji.strana.de/" class="article__ref">второе</a>. Народ, после такой
                «рекламы» (запретный плод сладок), толпой повалил
                на незакрытые пока сайты. Так что ещё раз: я вам очень признателен, господа чекисты. Хотя, знаю, что вы
                злопамятные и мстительные создатели «врагов народа», у которых «руки по локоть в крови».
            </p>
            <p> Кстати, вопрос ни к кому: а что если бы бывший главный бухгалтер продолжала работать на прежнем месте?
                Миллиард рублей тогда не был бы украден. Птицефабрика продолжала бы процветать, а не чахнуть, как
                сейчас. Ведь в «лихие девяностые», когда другие птицефабрики закрывались, Рефтинская встала на ноги и
                была примером для оставшихся. По-моему предвзятому мнению, это произошло только благодаря Оле. Чем
                занималась главный бухгалтер в вынужденном «творческом отпуске» последние годы? Разводила и торговала
                карликовыми кроликами, держала куриц, чтобы продавать яйца – выживать-то как-то надо было. Правда, это
                достойное занятие для специалиста в нищей России? Или может потому Россия и нищая, что здесь под корень
                выводят честных, умных, достойных людей? Зато процветает плесень.

            </p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>