<!DOCTYPE html>
<html lang="ru">

<head>
    <title>В зеркальном отражении</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">В зеркальном отражении</h1>

            <p> «Свет мой, зеркальце! Скажи, да всю правду доложи: я ль на свете всех милее, всех румяней и белее?» Ну
                конечно! Спору нет. Ты, и только ты! И милее и белее. Но как только зеркало в ответ сказало по-другому,
                обращение со стороны самого милого существа стало тоже иное: «Ах ты, мерзкое стекло! Это врёшь ты мне
                назло!» Хрясть зеркало об пол! А не сметь говорить правду. Кому она нужна, такая правда? Помилуйте,
                зеркало-то причём? Чего на зеркало пенять?</p>
            <p> Понимаю, что сам себя поставил в безвыходную ситуацию. Я всегда буду проигрывать оппонентам. Высоцкий
                говорил: «Бить человека по лицу я с детства не могу». А что тогда будет в ситуациях, когда приходится
                «школьнику драться с отборной шпаной»? Этот школьник, очкарик, не в состоянии послать даже на …, и в …!
                Шпана может плевать в лицо, испытывая при этом удовольствие, а очкарику неловко отвечать подобным
                образом. Мои оппоненты с сайта «Против Путина»(!) прошлись уже по моей жене, по моим детям. Не понимаю:
                они причём? Вам-то они что сделали?</p>
            <p> Наша дискуссия закончилась предложением оппонентов повесить меня: «Таких вот, ненавидящих русских, надо
                только вешать!» Тут проявилось трогательное единодушие. Правда, оппоненты поспорили за право выбить у
                меня табуретку из-под ног. Правильно! Какие и откуда могут быть нравственные проблемы? Хрясть зеркало об
                пол. И нет проблем.</p>
            <p> Я был неправ изначально. Подвела привычка думать или просто рассуждать. Мои рассуждения: когда человек
                совершает плохой поступок, если он человек, то он начинает мучиться раздумьями и угрызением совести.
                Он <span class="article__accent">смотрит на себя со стороны</span>. Как в зеркало. И, как правило,
                приходит к мысли о <span class="article__accent">недопустимости повторения совершённого
                    поступка</span>. Отсюда вытекает твердое решение на будущее: стать другим человеком. Подобный
                процесс называется покаянием. Человеку необходимо зеркало. Посмотреть на себя со стороны и с удивлением
                обнаружить, что незаметно оброс, как обезьяна. «Свет мой, зеркальце! Скажи, да всю правду доложи». Ну,
                зеркало и выложит тебе всю правду.
            </p>
            <p>С чего ради я решил, что советский народ нуждается в зеркале? Кто меня уполномочивал высказать своё
                мнение о людях, которые называют себя русскими? Бред какой-то, да никто. И ответная реакция последовала
                незамедлительно: «А хто ты такой? Придурок, от старости выживший из ума! Да как он детей своих
                воспитывал? Надо предполагать какие у него дети! А жена у него известная воровка!»</p>
            <p> Я вспоминал, как наши газеты в своё время освещали войну во Вьетнаме, и очень много уделяли внимания так
                называемому «вьетнамскому синдрому». Пресса со злорадством описывала, что часть американских солдат от
                пережитого попросту сошла с ума. А другая часть находится в состоянии, близком к этому. Когда мы
                проиграли войну в Афганистане, в Чечне, я для себя задумался: а как живут в сумеречной зоне те, кто
                воевал там, но не сошёл совсем с ума? Они должны ненавидеть тех, кто затеял эту войну. И это понятно.
                Но, оказывается, они ненавидят и тех, кто был против этой войны. Эти несчастные защитники родины
                ненавидят противников войны – правозащитников! Их-то за что? Оказывается за то, что те пытались
                рассказывать о зверствах оккупантов в Чечне.</p>
            <p> Для кого-то невозможно встать перед зеркалом и взглянуть на себя со стороны. «Как можно? Мы выполняли
                приказ правительства. Мы защитники родины! Мы видели смерть! Нас убивали! А вы, суки, отсиживались в
                тепле и нас осуждаете? Посмотрите, на фотографии я с орденами и медалями!» А как ты выглядишь сейчас,
                перед зеркалом, а не на фотографии? Перед совестью, если она есть? «Ах ты, мерзкое стекло! Это врёшь ты
                мне назло!» Ткалич симпатизирует чеченцам?! Вдобавок ещё грузинам, евреям! А русских (раз он их
                критикует) не любит! Да повесить Ткалича!» Вот и всё решение насущных проблем.</p>
            <p> Покаяние? Нет в нём никакой нужды! Нет нужды, если человек к этому внутренне не готов. Покаяние
                невозможно предложить или внедрить насильно. Оно должно созреть в человеке. Или в народе. Это процесс,
                растянутый во времени. Да, его можно ускорить или затормозить. Обещание поднять Россию с колен и
                высочайшее соизволение «мочить в сортире» подняло патриотический дух народа, зато отодвинуло мысль о
                покаянии. С колен встать и мочить! Все поверили нацлидеру и дружной толпой побежали в указанном
                направлении.</p>
            <p> Но это движение постепенно прекратилось: Путин-то оказывается еврей! Он завербован Германией. Русскую
                землю отдаёт Китаю и продался с потрохами нашему врагу Америке! Он педофил и награбил 40 миллиардов
                долларов. Вот, такой вот он плохой. Народ «прозрел»! Вопрос только: когда? А когда заметили, что корыто
                не наполняется до краёв, как было обещано. Тогда совки захрюкали. Кто-то обижено, кто-то возмущённо –
                убрать Путина! Это он, козёл, во всём виноват! С сайта «Против Путина»: пишет пользователь <span
                    class="article__remark">партизан,
                    разорённая россия</span>:</p>
            <p class="article__remark">«Удивляюсь как такой безграмотный быдл – Путин мог прийти к власти? Ладно, я
                бухал
                в те годы по чёрному, а вы-то куда смотрели? такое впечатление, что вся страна сплошной пьяный перегар».
                Да мы все там, откуда ты, партизан, вышел.</p>
            <p>Как мудро сказано Булгаковым: «Разруха – она в голове». К сожалению, никто не понимает, что мы не можем
                избавиться от Путина. Не можем! Даже если сильно захотим. Он у нас в голове. Мы – это он. А он – это мы.
                Помните, как встрепенулись, как мы кинулись Путину навстречу, когда его нам представил Ельцин. Вот он:
                плоть от плоти, НАШ человек! Убрав этого Путина, мы будем искать другого. Такого же. По себе и для себя.
            </p>
            <p> Говорить о покаянии? В России? Среди совков? У великой нации? Да героический народ, щас, тока с колен
                встанет… Эх! Опять не встали. Помешали евреи у власти (Пунин с Медведевым – оказываются оба евреи!), и
                евреи-олигархи; чеченцы, которые захватили Россию; грузины, которые спаивали нас некачественным Боржоми;
                китайцы, которые скоро заполонят наши земли. А ещё блок НАТО и проклятые американцы, которые всю жизнь
                нам строят козни.</p>
            <p> Так кто во всём виноват? Непонятно. Но повесить надо Ткалича – не любит он русских! Помилуйте, кто вам
                сказал, что я не люблю русских? Просто, в основном, я испытываю стыд за нас (русских). Вы зайдите,
                почитайте на сайте «Против Путина». Преобладает, как бы это мягче сказать, с одной стороны,
                ограниченность, зато, с другой стороны – море ненависти ко всем и ко всему. Это не значит, что только
                тупые приходят на этот сайт. Нет. Подобное проявление собственной культуры (хамство, ограниченность и
                ненависть) у нас, в Интернете, везде и всюду: ВОТ ЭТО И ЕСТЬ МЫ, РУССКИЕ! Новая разновидность
                человечества – Hamo Sovetikus.</p>
            <p> Плохо не то, что люди недовольны Путиным. Это как раз хорошо. Плохо, что они в одном Путине видят корень
                зла, а себя не желают увидеть со стороны. Но, не увидев себя со стороны, не оценив себя объективно,
                невозможно измениться и изменить образ жизни. А мы же мечтаем изменить жизнь вокруг себя. Вот тут и
                встаёт вопрос: могут ли русские покаяться? Проблема в том, что для покаяния необходима совесть, умение
                размышлять и желание измениться. Вот такая святая троица. Нет, кому-то, в отдельности, эти качества
                присущи. Только таких людей у нас, к сожалению, мизер.</p>
            <p> Мы переполнены ненавистью. Поголовно. И никто не хочет понимать, что эту ненависть можно использовать
                против нас самих. Как? Путин первый раз пришёл к власти, взорвав многоэтажки со своими спящими, ничего
                не подозревающими соотечественниками. Весь праведный гнев и ненависть населения он предложил выплеснуть
                по указанному им адресу: террористы (подразумевалась чеченцы) – мочить их! Мы с готовностью поверили.
                Поверили, что решив эту проблему, после заживём по-настоящему. Но опять не получилось!</p>
            <p> Похоже, и на этот раз Путин не будет обращаться к умению соотечественников размышлять, к их совести и
                желанию измениться. Он снова обратится к беспроигрышной карте – к нашей извечной ненависти. Против кого
                же её направить на сей раз? Кого в этот раз предложить мочить, чтобы произвести должное впечатление на
                массы? Но, тогда, по идее, надо будет пролить ещё больше крови, чтобы увлечь, повести за собой
                недовольный, жаждущий перемен народ. Понято, что чем выше цена (чем больше пролитой крови), тем значимее
                и явственнее будет представляться желанная цель. Так кого будем мочить?</p>
            <p> Нам всё равно кого. Но, для убедительности и наглядности, теперь всё должно быть более масштабно, чем с
                взрывами многоэтажек. Следуя логике чекистов, для выбора нацлидера на пост президента нам предложат
                «мочить» не врагов русского народа, а ВРАГОВ НАРОДА! Вон их сколько! Море! Ну и что, что такое уже было?
                Всё новое – хорошо забытое старое. Зато, если мы ЭТИХ врагов уничтожим, нам никто больше не будет мешать
                изнутри. Вот тогда мы и заживём! Ради этого героическому народу стоит немного напрячься и потерпеть. В
                очередной раз? Ради светлого будущего. Ради наших детей. Наконец, ради нашей России! Ненависти и желания
                изменить что-то у нас предостаточно. Внутренних врагов – тоже. Окрылённый народ согласится с Путиным,
                проголосует «За»! И опять: у кого-то отнять и поделить – это наше извечное (как и чувство ненависти)
                стремление.</p>
            <p>Кстати, я представляю, что творили наши защитники родины в Чечне. Если способны здесь, в России,
                призывать повесить шестидесятилетнего инвалида за то, что ему стыдно быть русским, то в Чечне, среди
                НЕрусских, им можно проявить всю широту русской души, выполняя наказ своего лидера нации: «Мочи их!!!»
                Чеченский синдром? Покаяние? Это у Шолохова: разговаривают два солдата про окопную болезнь. Один говорит
                другому: «Но тебе это не грозит». Тот, не чувствуя подвоха, спрашивает: «Почему?» – «Потому, что это
                мозговая болезнь! А у тебя для неё почвы нет!» Может, и нет никакого «чеченского синдрома». Потому что
                почвы нет для мозговой болезни. И покаяние никогда у нас не произойдёт. По этой же причине: почвы нет.
            </p>
            <p> Кстати, в истории России богатых уже вешали. После этого умные начали уезжать «за бугор». Теперь
                последний шаг агонизирующей империи: из оставшихся повесить тех, кому стыдно за свою нацию. Этим самым
                укрепить позицию нацлидера и свою. Может быть, в стремлении показать нас, русских, со стороны, я
                переусердствовал и невольно сделал антирекламу. Хотел как лучше – натолкнуть на мысль о покаянии. А
                получилось – как всегда.</p>
            <p>Единственное, что меня успокаивает и даёт какую-то надежду, это форум на сайте «Против Путина»: в
                основном, это адекватные, мыслящие люди. Поражает мужество и принципиальность создателей и организаторов
                этого сайта. Сколько «помоек» выплеснуто в их адрес! Сколько измышлений и прямых угроз! Такое не каждый
                в состоянии перенести. Ведь этот сайт, в отличие от недавно «проснувшегося» электората, существует
                несколько лет. И тоже служит своего рода зеркалом всему происходящему в России. «Свет мой, зеркальце!
                Скажи, да всю правду доложи…» Неблагодарное это занятие – быть зеркалом. Особенно перед какой-то
                страхолюдиной.</p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>