<!DOCTYPE html>
<html lang="ru">

<head>
    <title>В окопе</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">В окопе</h1>

            <p> Даже не знаю, с чего начать. Всё кипит и булькает. А если попробовать упорядочить то, что кипит? Убавить
                газу и посмотреть на происходящее со стороны? Мои ощущения, как в окопе: смотришь, как падают бомбы на
                соседние траншеи, чувствуешь собственное бессилие и страх. Бессилие от того, что от тебя ничего не
                зависит, и ты не можешь ничего изменить.</p>
            <p> Андрея Соколова, нашего екатеринбургского правозащитника, милиция взяла при выходе из дома. Он вышел из
                дома с дочкой. Жена Андрея впоследствии собиралась снять с ребёнка следы побоев: по-видимому, блюстители
                порядка постарались, когда отрывали ребёнка от папы во время ареста. Кто не знает, как действуют наши
                охмелевшие (одуревшие, обнаглевшие?) от вседозволенности и безнаказанности менты? В чём вина Соколова?
                Вину найдут! Тут как у медиков: те считают, что здоровых людей не бывает, есть недообследованные. И наши
                правохоронительные органы считают так же: честных людей нет. Есть недообследовенные. И стоит начать
                следствие, дообследовать….</p>
            <p>тов в городе Первоуральске по фамилиям и обвинить их в фальсификации дел и в коррумпированности. Кто же
                этого не знает? Все знают. Но, чтобы вот так, открыто! И распространить об этом листовки! Его, по
                решению суда, отправили на месяц в психушку. Пока на обследование. Не может у нас нормальный человек
                говорить о том, что он видит. Если выяснится, что он всё же нормальный (чего не бывает в этом мире?),
                тогда его будут судить. У Рифхата есть выбор: или «мотать» срок, или лечиться в психушке.</p>
            <p> А в этой траншее – Елена Маглеванная. Тоже прямое попадание. Некая писательница била себя кулаками в
                дряхлые перси и кричала, что у нас зря не сажают и вор должен сидеть! Это она выразилась по поводу
                условно досрочного освобождения Бахминой. В противоположность этой советской писательнице Елена видит в
                заключённых не воров, насильников и убийц, а людей. Вообще, это оригинальная и смелая точка зрения. Я
                без иронии. Для советского общества люди, находящиеся по ту сторону колючей проволоки, вовсе не люди.
                Это зеки. Нелюди, живущие в другом, параллельном мире. И наши миры никак не соприкасаются. Поэтому
                невольно попавшие в тот мир люди длительное время находятся в шоке и учатся заново жить. Только теперь в
                специфических условиях, на «зоне». И освободившись после большого срока, также человек не может
                адаптироваться к тому, что мы называем нормальной жизнью.</p>
            <p> И вот Елена Маглеванная, в отличие от некоторых инженеров человеческих душ, вопреки спущенной установке
                сверху милость к падшим призывает. Она рассказывает, в каких условиях содержатся заключённые. Особенно,
                подчёркиваю, особенно «лица кавказской национальности». Я помню, много лет назад, после бесславного, для
                США, завершения войны во Вьетнаме, наши газеты взахлёб писали о «вьетнамском синдроме» среди
                американских солдат. Вспышки внезапной ярости, ненависти к окружающим, неприятие этого мира, стремление
                к одиночеству. Это прекрасно всё показано в фильме «Рэмбо», с участием Сильвестора Сталлоне. Это у них
                так. Что происходит у нас?
            </p>
            <p> Да то же самое. Но уже в более страшной, изощренной форме. Так как наше общество никогда не было
                защищённым ни писаными законами, ни красивой Конституцией, ни гарантами этой Конституции. У нас вначале
                нахлынула волна преступности из бывших «афганцев». А потом пошли те, кто воевал в Чечне. И до сих пор
                этот поток не иссякает. Теперь представим русского Рембо, воевавшего в Чечне и ставшего начальником
                лагеря. В его распоряжении находятся чеченцы-зеки. Вот уж где есть возможность необузданной русской душе
                во всю её ширь разгуляться!</p>
            <p>Но я предлагаю взглянуть на беспредел, творящийся в обществе. Убийства, или, проще, казни тех, кто не
                угоден режиму. Полная безнаказанность и безответственность приближенных к власти или эту власть имеющих.
                Чекист, некогда приведённый во власть, недолго осматривался. Омываемый золотым нефтедолларовым дождём,
                обещая поднять Россию с колен, он, с молчаливого одобрения народа, восстановил 37 год. Начал он с того,
                что взялся, ко всеобщей радости, долбить непослушных олигархов. На Руси испокон веков это любимое
                увлечение: грабить награбленное. И, до кучи, «мочить» чеченцев. Потому что, чем у нас больше врагов, тем
                меньше мы для самих себя требуем. Мы же патриоты! И понимаем всю тяжесть текущего момента для родины.
                Тем более, чекист нам пообещал в будущем стабильность!</p>
            <p> А что ещё надо былинному богатырю Илье Муромцу (русскому народу), сидящему на печи? Стабильность
                положения! Ну, ещё чтобы печка по его команде, могла ездить куда надо. Народ замер в восторге. Сбылась
                всеобщая мечта: можно сидеть ничего не делая, а нефтедоллары капают. Богатеем, не вставая с места.
                Гип-гип, ура – чекисту! Пусть морды бьют несогласным и антифашистам. Пусть черноглазых режут в
                подворотнях. Пусть растёт количество нераскрытых заказных преступлений. Уже не в далёкой и непонятной
                Чечне стреляют, а здесь, у нас, на местах. Нет ни одного населённого пункта без нераскрытых убийств.</p>
            <p> Святая Русь с колен встаёт. Места только ей мало на печке – постоянно головой в потолок стукается. И на
                улицах уже стреляют не только террористы и профессиональные убийцы. Теперь стреляет родная милиция. Та
                самая, рождённая революцией. Менты, с такой любовью показанные в агитках-сериалах, показали своё
                истинное лицо. А это лицо, оказывается, как и лицо всего общества: безжалостное, беспринципное.</p>
            <p> Долгое время мы жили, ограниченные со всех сторон жесткой опалубкой. Роль опалубки играли всевозможные
                идеологические запреты. Плюс моральный кодекс строителей коммунизма. Наши идеологи полагали, что за
                опалубкой, внутри, сформировался некий железобетонный монолит – блок беспартийных и коммунистов. Тогда
                зачем вы, руками чекистов, уничтожали лучших представителей общества? Тех людей, которые обычно
                составляют мозг и костяк нации? И когда после перестройки опалубка, сформировавшая новую историческую
                общность – советский народ, рухнула, то её содержимое оказалось не застывшим монолитом, а кучей дерьма.
                Бесформенным дерьмом, которое осело, растеклось под силой собственной тяжести. Теперь, наконец-то, мы
                стали самими собой, явили миру и себе свою истинную сущность.</p>
            <p> В этой навозной куче бесполезно искать жемчужину. Чекисты постарались в своё время: всё общество
                просеяли через сито. Но, даже эту расплывшуюся кучу чекист, дорвавшийся до власти, старается сравнять,
                снивелировать до своего собственного уровня. Все должны быть беднее его, ниже его, в крайнем случае –
                таким, как он. Но крайности у нас не любят. Главный действующий принцип чекиста: полная безнаказанность
                для своих и полная безответственность для себя. Именно поэтому в последнее время у нас так бурно стали
                процветать взяточники, фашисты, педофилы.</p>
            <p> Менты на машинах играют в «догонялки» на улицах с прохожими. Сколько может проползти по асфальту сбитая
                беременная женщина? Тренируются в стрельбе по движущимся мишеням в магазине. Теперь не надо для этого
                ехать в Чечню. Эту навозную кучу не беспокоила стрельба в Чечне? Чего тогда мы вздрагиваем, когда
                стреляют у нас, в магазинах?</p>
            <p> А защитников родины, в генеральских шинелях, чуть ли не волоком тащат в зарешеченные автобусы. Вот такую
                родину вы, мужики, защищали! Полковника Полянского, героя России (в Чечне отличился!), за пререкания с
                сержантом милиции жестоко избили, душили резинкой одетой на шею. Нет, не чеченцы. Наши. Те, которые
                рождённые революцией. После этого человек пошёл и повесился. Наверное, только тогда до него дошло, где
                он живёт, и кого всю жизнь защищал.</p>
            <p> Теперь вернёмся к советскому Рембо, который охраняет Зубайра Зубайраева. Что этот тюремщик вытворяет над
                заключённым? Нет, здесь не просто бесчеловечные отношения между охранником и зеком. Всё гораздо
                страшнее. Здесь отношения между двумя врагами, между победителем и побеждённым (хотя мне не понятно, кто
                победитель). Уж если за сержанта милиции избили, резинкой душили полковника, героя России, то советский
                Рембо, пережив чеченский синдром, находясь при исполнении служебных обязанностей, за свою родину…. Как
                говорил герой из кинофильма: «Я тебе пасть порву!»</p>
            <p> Когда-то меня всегда поражали советские фильмы о белогвардейских офицерах. С какой лёгкостью эти офицеры
                заканчивали свою жизнь самоубийством. В этом я видел их внутреннюю гнилость и неспособность к жизни.
                Тогда у меня не мелькала даже мысль о понятии «честь» (кто бы мне дал это понятие, при советском
                воспитании?). Я не мог понять, что человеку незачем жить, если Родина гибнет у него на глазах, а он
                чувствует своё бессилие и невозможность изменить ситуацию.</p>
            <p> Оказывается, у советских Рэмбов-тюремщиков тоже есть совесть, честь и достоинство. Набравшись наглости,
                уверенный в безнаказанности и в собственной безответственности, начальник лагеря подаёт в суд на Елену
                Маглеванную за клевету. Офицер судится с женщиной. Да! Это не белогвардейский офицер с собственным
                понятием о чести. Это ж каким надо быть подонком, чтобы для поднятия своей репутации судиться с
                женщиной?! Слышал я, что в лучшие времена из-за женщин стрелялись. Но судиться с женщиной, которая
                заведомо права в своих обвинениях?</p>
            <p> Как мне кажется, даже тюремщик не сам решился на этот фарс. Ему должны были подать такую идею откуда-то
                сверху. Для назидания другим правозащитникам: «Не лезьте со своим гуманизмом! Пока предупреждаем вас вот
                таким образом! А потом, как всегда, начнём отстреливать наиболее бойких». Да если б у этого офицера была
                бы хоть капля чести, он бы как Иуда, персонаж из Библии, пошёл бы и на осине удавился. Тот хоть и
                поступил подло, но потом его совесть замучила.</p>
            <p> Что меня ещё поражает в этих историях? Оперативность. Оперативность наших правоохранительных органов.
                Рифхату Хакимову вечером суд вынес решение. Утром Рифхат уже был в психушке. Он, кстати, тоже военный,
                подполковник, тоже служил в Чечне. Таким же образом поступили и с Алексеем Соколовым. Быстрота и натиск
                при аресте! Пока мама выскочила из дома, рождённые революцией уже увозили папу в милицейской машине, а
                дочка плакала на улице, возле закрытого подъезда. С Еленой Маглеванной тоже долго не церемонились.
                Правда, первое заседание суда вначале перенесли. Зато на втором определились быстро. Приговор, скорее
                всего, был написан заранее.</p>
            <p> В происходящем нет ничего для меня удивительного. За небольшим исключением: пять(!), целых пять лет пишу
                и публикую свой дневник. В котором, кроме прочего, описываю злоключения нашей семьи. О том, как моя жена
                отдала документы, подтверждающие расхищение Рефтинской птицефабрики в прокуратуру, в ОБЭП, в ФСБ, в
                правительство Свердловской области. Эти пятилетние мытарства сделали нас не только нищими, но и
                должниками, у которых описано всё имущество и дом. Чтобы привлечь внимание к этой ситуации, я объявлял
                трёхнедельную голодовку. День за днём голодовка описана в моём дневнике. Об этом писали газеты,
                приезжали с областного телевиденья. Но результат – нуль. Где же хвалёная оперативность? Или
                правозащитники наносят чекисту больше вреда, чем ворюги чиновники?</p>
            <p> Для нашей семьи кризис начался в 2004 году, когда вместо пустых обещаний высоко поставленных чиновников
                моя жена Оля попробовала сама бороться с коррупцией. Но у власти, на страже, стоял гарант-чекист. Это он
                нам гарантировал подобную жизнь. Он и сейчас у власти. И по-прежнему гарантирует молниеносную реакцию на
                появление или проявление всевозможных правозащитников. Как говорил господин Шариков: «Уж мы их душили,
                душили. Душили, душили!»</p>
            <p> Так вот, нас здесь, обычных людей (не в зоне!), расстреливают, пытают, давят машинами, морят голодом,
                доводят до самоубийства, сажают в психушки. Кто-то будет это отрицать? А на зоне, оказывается, согласно
                решению суда в отношении Елены Маглеванной, тишь да гладь и Божья благодать! Особенно для чеченцев,
                которых мочить надо, по словам чекиста. И которых охраняют психопаты, пережившие «чеченский синдром».
            </p>
            <p> С каким удовольствием я бы набрал в рот слюны и плюнул в этих калифов на час, упивающихся властью. Кому
                конкретно? А не скажу. И так сказанного уже достаточно, чтобы упечь меня в психушку. Или пригласить
                повесткой на суд. Нуте-с, господа Шариковы!</p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>