<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Равнодушные</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Равнодушные</h1>
            <p> Поздно вечером раздался звонок. Звонил <a href="http://www.vestnikcivitas.ru/news/628"
                    class="article__ref">Рифхат</a>. Голос был бодрый, но я никак не мог
                вначале понять смысл
                сказанного: «Всё прошло по самому худшему сценарию. По решению суда, меня кладут в «психушку», на месяц,
                для обследования. Защитника на суд не допустили. Время на обжалование решения суда не дали. Завтра утром
                меня заберут».</p>
            <p> Во мне словно что-то надломилось. Волна отчаянья и страха захлестнула меня. Я вспомнил Сашу Литвиненко.
                Как и за Рифхата, я молился за него, когда узнал, что он лежит в больнице. После молитвы был покой на
                сердце и почему-то ощущение, что всё сделано мной правильно. Поэтому сообщение о том, что Саша умер, я
                не мог принять. Этого не могло быть! Я верил, что моя молитва была услышана Богом. Что чувство
                внутреннего покоя – это было от Бога. И, вдруг, Саша умер! Безжалостные чекисты успешно провели
                операцию. Им удалось. Бог допустил, позволил им. Почему, Господи?! Мы бессильны, потому что нами правит
                зло? Или зло правит нами потому, что мы ленивы и бессильны?</p>
            <p> Дочка подошла ко мне со слезами на глазах. В мае, 15-го, ей исполняется 11 лет. «Папа, почему я такая?»
                – «Какая «такая», доченька?» – «Ненормальная». – «Что ты, солнышко?! Да мы тебя все любим. Ты самая
                добрая. И самая умная. И в школе ты отличница». Я старался говорить самые простые и доступные слова,
                чтобы у неё не было никаких сомнений в услышанном. «А почему, когда мы надуваем шарик, он лопается, мне
                становится больно и жалко его? А когда девочка оторвала волосы у куклы, я заплакала. А весь класс
                смеялся надо мной!»</p>
            <p> Почему? Действительно, почему? Может, потому что мы всё привыкли делать по команде? А без команды мы
                такие, какие есть на самом деле. Нам сказали полюбить осетинов, и мы их сразу полюбили. Вместе с
                абхазами. И по телеканалам показывали, как все дружно собирают им гуманитарную помощь. Скажут заплакать
                – мы заплачем. Дали нам указание 1 сентября проводить минуту памяти о жертвах Беслана. И мы проводим.
                Дети-старшеклассники, в порыве праведного гнева, рассказывают о зверствах террористов в захваченной
                школе. И ни у кого не возникает вопросов: а кто стрелял по школе, занятой террористами, из танков и
                огнемётов? На ком, в самом деле, лежит вина за смерть детей? Мы ленивы и нелюбопытны. Точно подмечено.
            </p>
            <p> На улицах российских городов зарезано и забито до смерти таджиков, узбеков, киргизов (всех этих
                черноглазых), наверное, больше, чем погибло в Беслане. Но нам и до этого дела нет. Мы не любопытны. Не
                было команды проявить интерес: почему вошло в моду резать черноглазых? Да, команды не было, а призыв
                «мочить» прозвучал. Причём с самого верху. Кто мог подумать, что камешек в чужой огород, пущенный сверху
                обиженным на весь мир недомерком, вызовет сход лавины?</p>
            <p> Сейчас эта лавина полной силой обрушилась на страну. Хоронит под собой и черноглазых и голубоглазых,
                правых и виноватых, богатых и бедных. Убийства, убийства, убийства. Сейчас нет смысла кого-то ненавидеть
                или кому-то завидовать. Лавина не делит на «своих» и «чужих». Она сметает всех: и ленивых, жаждущих
                стабильности, и тех, кто мечтает о переменах. Нелюбопытных, и тех, кто тщится понять: почему у нас
                всегда дерьмо наверху плавает? Таков закон физики? Тогда, почему мы живём по физическим законам, а не по
                духовным?</p>
            <p> Потому, видимо, что физические законы от нас не зависят. Они существуют и действуют вне нас и даже без
                нас. А духовные законы действуют внутри нас. Но их надо устанавливать и кропотливо взращивать. Да только
                кто и когда этим будет заниматься? Проще, при нашем менталитете, вызвать лавину неосторожным словом. На
                это ни ума, ни духовности не надо. Да ещё полная безнаказанность и безответственность сверху донизу.</p>
            <p> Поэтому, когда услышал, что Рифхата кладут в «психушку», я, потеряв всякую надежду, испугался:
                Ходорковский сидит, Литвиненко отравлен. Непосредственным палачам и рядовым исполнителям всё сходит с
                рук. Конечно, Рифхат это не тот уровень. С ним намного проще: «полечат» в психушке, и кто потом будет
                слушать его обличения о продажных судьях и таких же продажных прокурорах? Хотя нового в таких
                утверждениях ничего нет, кто не знает о коррумпированности нашего общества? Но сообщать такое в
                листовках, выпущенных Рифхатом массовым тиражом, называть виновных пофамильно – подобное не сходит с
                рук.</p>
            <p> Мелочные, мстительные советские людишки. Им мало посадить Ходорковского. Мало сжечь детей в школе ради
                того, чтобы убедительно продемонстрировать, что переговоров с террористами мы не ведём. Так ещё за тех
                детей, которые выжили во время пожара и для которых «преступник» Ходорковский открыл бесплатный лицей,
                сейчас родителей заставляют платить налоги! В Ветхом Завете есть запрет: нельзя варить козлёнка в молоке
                своей матери. Древним людям объяснялось, что это невозможно. Варить отдельно козлёнка можно. Готовить
                еду на козьем молоке – можно. А совмещать это, варить козлёнка в молоке своей матери, запрещено.</p>
            <p>Мы совмещаем всё. Для нас не существует этических норм. Охаять человека, обесчестить, ограбить его,
                посадить под выдуманным предлогом, а потом заставить платить родителей налоги за своих чудом выживших
                детей. Это и намёк тому человеку: сколько мы по тебе ещё топтаться будем! И выжившим детям урок на
                будущее: было бы для всех лучше, если бы вы там сгорели.</p>
            <p> Получив известие от Рифхата, я до полуночи обзванивал всех, отправлял электронные письма с просьбой о
                помощи человеку. Оля давала мне советы или делала замечания вполголоса. Я был на взводе, готов был
                взорваться по поводу и без повода. В отчаянии мне не верилось, что кто-то отзовётся, поможет или хотя бы
                предаст огласке происходящее с Рифхатом. Но, слава Богу, всё оказалось не так безнадёжно. Появились в
                Интернете сообщения об очередном беспределе наших правохоронительных органов. Не все оказались ленивы и
                равнодушны. Спасибо им.</p>
            <p>Но до этих публикаций Оля, оттеснив меня, взяла инициативу в свои руки и связалась с «Новым регионом». И
                там, уже с утра, опубликовали историю помещения в психушку неудавшегося правдоискателя. А вечером по
                областному телевиденью дали сюжет на эту тему. Так что история получила хотя бы некоторую огласку. Я всё
                думаю: может это плохо, что мы не плачем, когда кукле отрывают волосы, а вокруг все заняты своим делом
                или даже смеются?</p>
            <p> 20 апреля состоялось очередное заседание суда по иску ЛУИ-15 о защите деловой репутации лагеря. Елена
                Маглеванная предстала перед судом. За то, что писала, как в наших тюрьмах издеваются над заключёнными
                чеченцами. Может, она тоже в детстве плакала, когда у неё на глазах отрывали кукле волосы? Судят,
                правда, её не в Первоуральске. Но почему у меня такое впечатление, что наши судьи, прокуроры, и
                всевозможные эксперты везде одинаковы? Что они несутся запущенной кем-то лавиной, хороня под собой всех
                и всё. Как же, защита деловой репутации советского концлагеря!</p>
            <p> Так бы детишек беслановских кто защитил. Но мы ленивы и нелюбопытны. Команда сжечь их была. А команды
                защищать, хотя бы тех, кто уцелел, не поступало. Это у наших добросовестных надзирателей есть честь и
                достоинство. У послушных прокуроров и судий тоже есть. А у остальных – даже право на жизнь под
                сомнением.

            </p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>