<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Островитяне</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Островитяне</h1>
            <p> Ну и что? Приближаемся к финишу? Если для нас этот день начался как обычный, то для Надюшки он мог стать
                незабываемым днём, наполненным счастливыми событиями. Обожаемая кошка-сфинкс принесла четверых котят,
                пока её маленькая хозяйка была в школе. Ещё Надя ждала в этот день приезда своего брата Олега с женой и
                маленьким непоседой Димулькой, которые не попали к ней на день рождения. И, наконец, в музыкальной школе
                должен был состояться выпускной вечер. Надя там должна была быть в числе выпускников-отличников.</p>
            <p> Мы с Олей, бегло пропустив вступительную торжественную часть, аплодируя в необходимые моменты, с
                нетерпением ожидали, когда в числе отличников начнут поздравлять Надюшку. И внезапно увидели, что в
                начале нашего ряда стоит Олег, жестами указывая нам на выход. «Что-то случилось?» - первое, о чём
                спросили мы его, как только вышли из зала. «Там к вам. С обыском», - ответил сын. Он не любил мой
                дневник и считал, что кроме дополнительных неприятностей такая писанина ничего не принесёт. Похоже, что
                он казался прав.</p>
            <p> Дома, в коридоре, уже толпилось человек семь. Почему мне казалось, что они все в кожаных куртках? В
                куртках и перетянутые портупеей. На самом деле в «кожанках» были только двое, да и те без маузеров. Но
                эти ледяные непроницаемые лица, облечённые властью и находящиеся при исполнении! Это – те самые,
                «рождённые революцией». Самый громоздкий из них (как раз в «кожанке») что-то монотонно бубнил, глядя в
                бумажку. Я думал, он проводит для своих инструктаж. Но оказалось, он зачитывал нам постановление суда на
                обыск, в связи с моей экстремистской деятельностью, направленной на разжигание социальной, национальной,
                религиозной и ещё какой-то там розни. Ощущение было такое, что это всё в моей жизни уже происходило.
                Надо поменьше смотреть фильмы о доблестной милиции, наших спецслужбах и защитниках родины.</p>
            <p> Да, как герой Булгакова, не люблю я пролетариат. Не люблю его правохоронительные органы и тот самый
                «карающий меч». Зато теперь его представители, озабоченные интересами государства, толпятся у меня в
                коридоре. В какой-то мере я благодарен им. Cвоим присутствием они подтвердили мой статус: я их враг.
                <span class="article__accent">Я - не такой, как они.</span>
                Ведь, живое дерево - враг всяких короедов. Короеды для того чтобы выжить, питаются
                деревом, уничтожая его и, тем самым, порождая себе врагов. И если люмпен-пролетариат - питательная среда
                для короедов (короеды получают из них пополнение своих рядов и питание), то я для короедов – враг. Они
                же, в оправдание своего существования, рядят меня в одежды экстремиста, террориста, пытаясь запуганным
                «массам» вернуть запомнившийся образ «врага народа».
            </p>
            <p> «<span class="article__passage">Но благодатью Божией я есмь то, что я есмь</span>». Впрочем, ссылка на
                апостола Павла, скорее послужит ещё
                одним поводом для обвинения в мой адрес: ведь я же не советский православный (то есть являюсь
                «сектантом»»). Чекист (капитан Миляга), пытающийся взглядом просверлить во мне дырку, перетряхивая
                усердно книги, спросил: «Почему у вас столько книг американских проповедников?». – «А чем вам не
                нравятся американские проповедники?». – «Ну, если они вам нравятся, то езжайте в Америку!». Оля стала
                объяснять, что мы уезжать не собираемся, что нам не нравятся только воры в России (тут у нас с Олей на
                лицо явные расхождения). Я про себя хмыкнул, не удержался и ответил чекисту: «Нормальные люди уже давно
                поуезжали. В ту же Америку. Вы посмотрите – кто вокруг вас остался». Ну, да. Раися вперде.</p>
            <p> А по поводу литературы я пояснил, что у меня также стоят тома Александра Меня, двухтомник Иоанна
                Кронштадского, сборник Феофана Затворника, Петра Дамаскина; и ещё что-то из уважаемых православными
                святых. Так что мы не только американцев читаем. «У меня даже Коран есть», - сделал я «признание».
                Чекист сразу встрепенулся: «Откуда?». Я растерялся: «Не помню. А что? Коран запрещённая литература?». У
                чекиста глаза заблестели: «Так может вам дядька с бородой Коран принёс? Тут недавно в посёлке один
                мусульманство принял. Может, и вы хотите мусульманство принять?». Сейчас уже Оля (постоянно меня
                успокаивающая) «отвязалась» на чекиста. Эта перепалка по подсказке младшего сына отражена в протоколе
                обыска.</p>
            <p> Но чекисту, ты хоть ссыпь ему пыль в глаза, для него всё - божья роса. У них сейчас очередное задание –
                построение советского православия. Если врага невозможно уничтожить (а христианство в советской России,
                вопреки проводимой политике, сохранилось), то его нужно вначале обезглавить, а потом самим возглавить.
                Вот сейчас советское православие, возглавленное новыми лидерами, ведёт нас к построению очередного
                светлого будущего. Уже позабыты те, убиенные за истинную веру. Так же как раньше было необходимо
                называть себя пролетарием, так и сейчас необходимо причислять себя к православным. Иначе тебя ждут
                неприятности. «Ты ещё не православный? Тогда мы идём к тебе». Надо же: у нас в посёлке (если верить
                чекисту) кто-то из русских принял мусульманство! Ужас-то какой! Причём чекист назвал фамилию конкретного
                человека. Как же! Родина должна знать не только своих героев, но и своих предателей.</p>
            <p> А народ? А чо народ? Он щас вздохнёт с облегчением: ещё одного врага народа удалось разоблачить нашим
                доблестным органам. Ох, и семейка подобралась этих Ткаличей! Одна клеветница и воровка, а другой ещё
                хлеще - экстремист! Может теперь, когда вывели их (Ткаличей) на чистую воду, можно будет зажить
                по-человечески? А то задолбала извечная нищета и каторжный труд на птицефабрике. Ох, уж эти простые
                советские люди: «Вы слышали? Навальный 16 миллионов себе в карман положил? Совсем уже люди совесть
                потеряли. Но, судят его, подлеца!». А как же Елена Скрынник? Бывший министр сельского хозяйства
                Российской Федерации, которую сняли с должности за хищение 40 МИЛЛИАРДОВ рублей? И ничего, не судят её.
                Её подчинённый, директор Рефтинской птицефабрики Топорков Николай, тоже уволен с должности за хищения.
                Его, правда, восстановили. Ведь, похищенный им МИЛЛИАРД рублей – это не повод для увольнения и
                уголовного дела в нашем государстве. Местный люд вздохнул с облегчением: справедливость
                восторжествовала, старый директор снова у власти!</p>
            <p> Ау! Ну, хоть кому-нибудь нужны документы подтверждающие воровство Топоркова? Поднимите руки, у кого их
                нет? Оля за последние годы эти документы уже всем насовала. Но они никому не нужны. Зато её саму
                обвинили в клевете и в воровстве. Так же как Магницкого. Меня, за то, что я готов писать об этом на
                каждом телеграфном столбе, сейчас обвиняют в экстремизме. Хотя, экстремизм - <span
                    class="article__accent">приверженность к крайним
                    взглядам и, в особенности, мерам (обычно в политике). Среди таких мер можно отметить провокацию
                    беспорядков, террористические акции, методы партизанской войны</span>.</p>
            <p> С каких пор обоснованная критика и недовольство властями стали именоваться «крайними взглядами»? Я имею
                право на собственное мнение и право на его высказывание. Это называется свобода слова. И этой свободы
                меня не лишил тот факт, что народ допустил к власти чекиста. Дальше: если я экстремист, то где и когда
                участвовал в беспорядках или провоцировал их? Где и когда проводил террористические акции? Кому я
                преподавал методы партизанской войны? Я инвалид, и мне седьмой десяток лет. Но нашим блюстителям
                порядка, рыцарям плаща и кинжала все аргументы по фиг. Им дали команду. У них начался сезон сбора урожая
                врагов народа. «Вон, покатилась с неба звезда – вам на погоны».</p>
            <p> И ещё один момент. Если меня обвиняют в экстремизме, то почему после обыска на допрос к следователю
                вызвали Олю? Какое отношение она имеет к моему «экстремизму»? Почему допрос начали не с меня, а именно с
                Оли? Почему нас допрашивали порознь? Почему следователь отклонил просьбу Оли присутствовать на моём
                допросе? Она прекрасно понимала, что мне, по состоянию здоровья, станет плохо. Что после инсульта, из-за
                плохой памяти, я не смогу ответить на некоторые (или многие?) вопросы. Из-за этого она хотела быть рядом
                со мной, раз уж её тоже вызвали на допрос.</p>
            <p> Но до собственного допроса я не дотянул. Все полтора часа, пока я ожидал Олю у дверей следователя, у
                меня в голове крутились слова: «И девочек наших ведут в кабинет». Сидит за дверью, в кабинете у
                следователя, не девочка, а моя жена. За что? За то, что она воровать в этой стране отказалась. За то,
                что лезла ко всем с документами, подтверждающими многомиллионные хищения на птицефабрике. А я сейчас жду
                своей очереди к следователю, который искренне заинтересован моим недовольством по поводу властей, по
                поводу бездеятельности правохоронителных органов, по поводу этого народа, который вечно терпит, но всю
                жизнь доволен тем, что ему позволяют воровать по крохам, чтобы не сдохнуть с голода. А те, кому удалось
                дорваться до корыта, те хапают и ртом и ж*пой. Да вся эта звиздабратия Олиного мизинца не стоит. «И
                девочек наших ведут в кабинет». Я начал задыхаться.</p>
            <p> Проклятая астма! На мой первый приступ кашля Оля выглянула и сказала, что скоро всё закончится. Помахал
                ей рукой; мол, всё в порядке. Потом уже сам зашёл в кабинет и сказал, что мне плохо. Следователь сказал,
                что они заканчивают. Когда я зашёл во второй раз, Оле осталось только подписать протоколы, но я уже
                «поплыл». Следователь вызвал «Скорую». Оля, не глядя, подписывала протоколы. Гипертонический криз.
                Давление 210. Уколы. Следователи (уже из других кабинетов) окружили и не отпускали «Скорую», требуя от
                врача какую-то справку. Врач в интеллигентной форме, объяснил им, что он, забирая больного, действует
                согласно инструкции. И послал их… по-моему, в Минздрав. А меня отвезли в больницу.</p>
            <p> Вот и всё. Сижу и жду. Пока дома. Жду, когда пригласят в кабинет. Мы же, русские, отличаемся терпением.
                Это наша национальная черта. Мы же «терпилы». А терпение (как говорят) – признак особой святости.
                Поэтому мы гордо носим название народа-богоносца. Раньше нас всех, особенно простой люд, за наш
                менталитет называли «несунами». И это соответствовало действительности. Зато теперь наше полное имя не
                «несуны», а «богоносцы». И это тоже соответствует действительности. Великий, могучий, героический
                советский народ-богоносец! Звучит? Надеюсь, я никого обидел? И ничьих религиозных чувств не задел? А то
                готов отказаться от своих слов. За какие слова извиниться? Что мы богоносцы? Или, что мы несуны? «<span
                    class="article__accent">Как
                    там в России?» - «Воруют!</span>» (Карамзин. Начало 18-го века.)</p>
            <p> Кстати, о бесконечном терпении русского народа, о святых «терпилах». У меня была в сарае чурка, на
                которой я обычно колол дрова. Но как-то в сарае тесновато, неудобно. Я её на улицу выкатил. Так она и
                стоит там, бедолага. То под снегом, то под дождём. Ждёт. А у меня сейчас нет силы закатить её обратно. К
                чему это всё я? Забыл! Видимо, последствия инсульта. Память даёт сбои. Вроде начал о великом терпении
                великого русского человека, а что хотел дальше сказать – запамятовал.</p>
            <p>Надя, Наденька, Надюшка. Тебя мы родили на счастье себе, уже на закате нашей жизни. Надеялись, что и ты
                будешь счастлива. Сейчас я понимаю, что в этом государстве честные люди не могут быть счастливы. И
                нечестные люди – тоже несчастливы. Но уже по другим причинам. Эту сказку я рассказывал своим сыновьям.
                Потом записал её в своём дневнике. Пришло время тебе её услышать. Чтобы как-то ориентироваться в этом
                мире.</p>

            <p><a href="/articles/monster-island" class="article__ref">Остров монстров.</a></p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>