<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Страна героев</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Страна героев</h1>
            <p> Счастливые жених и невеста выходили из подъезда. Жених был самый красивый парень (потому что это мой
                сын). Естественно, невеста была красавица из красавиц. Но подъезд! Эти двери! Я вглядывался в эти кадры,
                сделанные приглашённым профессионалом, и не мог поверить, что так выглядит обычная для посёлка
                «трёхэтажка», которая мне стала уже родной за прожитые в ней несколько лет. Но это была она, и это был
                тот подъезд, в который я вбегал и выбегал по несколько раз в день. Просто я увидел это не в обыденной
                жизни, а по «видику»: нарядных жениха и невесту, облупленные и поцарапанные стены дома, грязный,
                изрисованный вход в подъезд, ветхую деревянную дверь из разбухшего ДСП. Получился взгляд со стороны.</p>
            <p> Взгляд со стороны. Как часто наш взгляд «замылен», затёрт привычной обыденностью. И мы не видим
                очевидных вещей, нам не хватает именно взгляда со стороны. Но также возможен второй вариант: порой мы
                бываем настолько послушны, что, заняв указанную позицию, не в состоянии рассмотреть вещь объективно. Или
                не хотим. Ситуация из этого же ряда: когда говорить не о чем, или всё сказанное может быть повёрнуто
                против говорящего, тогда лучше всего говорить на беспроигрышную тему. Поэтому, заняв с удовольствием
                отведённую им позицию, сейчас патриоты так много говорят о героизме - такая спущена им установка
                «сверху».</p>
            <p> В Вестнике CIVITAS глубоко неравнодушный человек рассказывает о героизме русских солдат под Улус-Кертом,
                в Чечне. Героизм. Подвиг. Хорошая штука. Не буду спорить о достоверности факта. Но как относимся мы к
                немецким солдатам, награждённым фашистскими крестами и другими знаками доблести? Ведь среди озверевших
                фашистов были свои национальные герои, достойные подражания для остальных. Со своей стороны, мы
                понимаем: чем больше наград, тем больше преступлений этот «герой» совершил на нашей земле. Что? Героизм,
                оказывается, не такая уж однозначная штука?</p>
            <p> Если со стороны смотреть, то оказывается, за проявленный героизм могут и судить. Так же героизм может
                оказаться надписью на ярлыке, который повесили на окоченевший труп. Во время эвакуации человеку не дали
                выехать из города (хотя всё руководство давно уже удрало). Человек мучительно (не один день, не неделю)
                умирал от голода, в неотапливаемой квартире, проклиная всё и всех. Чтобы скрасить подобную картину, на
                труп повесили ярлык с надписью «Герой». И на другие трупы. И весь город назвали городом-героем. Зато
                теперь наше руководство управляет исключительно героическим народом. Оно конечно пустячок, но всем
                приятно.</p>
            <p> Вообще, смотреть со стороны довольно интересно. Столько неожиданного порой открывается! Перелистывая
                советскую литературу, такие вещи находишь. Как вам эпизод из «Судьбы человека»? Соколов бежал из плена
                на легковой машине, прихватив с собой немецкого офицера, у которого работал водителем. Ничего
                особенного? Герой, он в любой ситуации герой. Да, понимаю, глаза нам застилает подвиг советского
                человека. Чтобы увидеть ситуацию со стороны, поменяем всё местами. Советского офицера, в прифронтовой
                полосе, на легковой машине везёт немецкий военнопленный. Полный бред! Как немецкий военнопленный будет
                приставлен к советскому офицеру!? Да ещё в прифронтовой полосе! Да мы своих-то соотечественников, мирных
                жителей, как врагов и заведомых предателей, только за то, что они немцы по национальности, угнали с
                обжитых мест в края, куда Макар телят не гонял. Почему мы должны им доверять? И почему мы их должны
                жалеть? А сколько среди русских оказалось «врагов народа»? Тогда, опять же, если посмотреть со стороны:
                кто более злобный и подозрительный? Мы или фашисты? Не надо никаких оправданий! Просто попробуйте
                втиснуть в своё сознание образ военнопленного немца, который возит советского офицера в прифронтовой
                полосе на отечественном «козлике». Не получается? Вот-вот. И я о том же.</p>
            <p> Мы же советские люди! Мнительные, подозрительные, бесконечно злобные существа, всегда находящиеся в
                состоянии войны с кем-нибудь. Или борьбы с чем-нибудь. Что для нас жизнь отдельного человека, если мы
                сами мусор? Нас намеренно поставили в такое положение: дерьмо, мусор, средство для достижения цели. Мы с
                этим согласились. Да и тяжело не согласиться, поскольку так оно и есть. Тогда что для нас человеческая
                жизнь? То же самое, что и сам человек – дерьмо, мусор, электорат. Свои дома, мы что, строили для людей?
                Нет. Мы их строили к очередному празднику, к какому-то юбилею, к чьёму-то дню рождения. Поэтому жить в
                таких домах невозможно. Но они для этого и не были рассчитаны. Также сдача нового завода, запуск
                очередной линии и тому подобное. Главное был не человек, а отчёт, рапорт перед праздником.</p>
            <p> Мы хорошо жили? Как люди? Да когда? Мы были заняты другим: строили светлое будущее. Для людей. Такое
                впечатление, что мы должны построить светлое будущее, а потом, откуда-то, завезти туда людей. А сами мы
                были и остаёмся средством. Есть моющее средство. Есть средство от комаров. А мы средство для повышения
                урожайности. Вот только какой урожайности? Дебилов, патриотов, танков, ракет? В таком случае, надо
                признаться, что роль навоза нам удалась. Дураков, патриотов, танков и ракет у нас хватает на весь мир.
            </p>
            <p> Получается, что человек как личность в нашем государстве на первом месте никогда не был. Он сам, его
                интересы были второстепенны. На первом месте всегда было что-то более важное. Привычное слово «грех» с
                греческого языка переводится довольно для нас неожиданно: «не попадание в цель». По-видимому,
                подразумевается, что если человек не попал в Царство Небесное, а попал в ад, то он прожил жизнь, не
                попадая в поставленную цель. Прожил во грехе. У нас грех заключается в том, что мишенью для деятельности
                наших лидеров, государственных мужей, слуг народа, кого угодно является не конкретно человек, а решение
                какой-то абстрактной, но первоочередной проблемы.</p>
            <p> У других всё не так. Когда мы запустили первый искусственный спутник с собакой на борту (триумф
                советской науки!), в Англии посмотрели со стороны и возмутились: «Как можно? Русские обрекли несчастное
                животное на мучительную смерть!» У нас никому в голову не пришло, что собачка в космосе сдохнет. Да и
                что тут такого? Она же герой. А у героев участь такая. Героическая. У нас весь советский народ принято
                считать героическим. И мыслим мы соответствующими масштабами.</p>
            <p> Я читал о первом залпе «Катюши», о её боевом крещении. Залп был произведён по одной из железнодорожных
                станций, забитой эшелонами с фашистской техникой. Среди выживших в этом море огня фашистов многие сошли
                с ума. Говорят, что это был ад. Задаю себе вопрос: «Что, разве эта ж/д станция находилась в Германии?»
                Нет, на территории России, временно оккупированной немцами. Значит, работали на этой станции русские. И
                при станции, как это обычно, был большой посёлок или маленький городок. А при «обкатке» такого оружия
                разброс ой какой! Значит, среди выживших русских (кто-то же выжил) тоже было много сошедших с ума.
                Только о них нигде не упоминается.</p>
            <p> Недавно по телеканалу «Вести» рассказывали, как маршал Жуков подставил своих солдат под испытательный
                взрыв ядерной бомбы. Я был поражен тем, что этот брехливый канал такие серьёзные вещи рассказывает
                довольно правдоподобно. О последующих мучениях и болезнях облучённых солдат. О том, как они умирали, не
                разглашая военную тайну. А врачи не знали, от чего их лечить. Те, кто выживали, не имели детей или
                производили на свет уродов. Но оказывается, вся эта передача была состряпана ради последних кадров.
                Показывают оставшегося в живых ветерана, который, глядя куда-то вдаль, говорит: «Если бы это пришлось
                всё повторить, мы согласны всё пережить заново!»</p>
            <p> Так-то я знаю, что это героизм. Но, опять же, если со стороны посмотреть: придурки, настоящие придурки.
                На полигоне привязали баранов, чтобы те не разбежались. И рядом разместили солдат. После взрыва баранов
                оставили на месте, а солдат, в противогазах, погнали к эпицентру взрыва. Из расчёта, что самое хорошее
                средство от лучевой болезни – противогазы. Зато теперь один из немногих выживших, ни семьи, ни детей
                (или были шестипалые, двухголовые уроды?) делает заявление от лица обречённых когда-то на мучительную
                смерть, или на столь же мучительное существование этих жертв преступного эксперимента: «Мы согласны всё
                пережить заново!» Страна поголовных героев.</p>
            <p> Мы так воспитаны, что сами собственную жизнь ни во что не ставим. Гордимся тем, что каждый из нас
                является СРЕДСТВОМ. Как же, я такое ничтожество, но принимаю соучастие вместе со всеми. А все вместе мы
                – ПОЛИГОН. Испытательный полигон с героическим народом. Только героический народ избрал мишенью совсем
                не ту цель. Отсюда и следует постоянное «не попадание в цель»: все другие мишени ложные. Из-за этого
                живёт народ, согласно данному определению, во грехе. Во всём мире главное – ЧЕЛОВЕК, его ЖИЗНЬ. Бог
                создал человека как совершенное творение. Ну, или по-другому: человек является венцом природы. На выбор:
                творение Бога или венец природы. А мы пошли другим путём. Нашли третий вариант: человек – СРЕДСТВО. Мы
                всё извратили. Извращенцы.</p>
            <p> Извращенцы – это не только диагноз для сексуально озабоченных маньяков. Извращенцы те, кто заблудились и
                извратили свой путь в поисках ориентира. То есть по каким-то причинам отвернулись от истинной цели и
                потеряли ориентир. Что можно сделать в такой ситуации? Покаяние, в переводе на русский, – полный
                разворот, поворот на 180 градусов. Для государства, которое извратило свой путь, покаяние – это
                единственный выход. Другого не существует. Но мы трепыхаемся, трепыхаемся в агонии. Пугаем, стараясь
                выдать последние судорожные движения за демонстрацию силы. Дескать, у нас всё как у людей.</p>
            <p> Всё как у людей: вот сейчас, например, обсуждаем тему возврата смертной казни для особо опасных
                преступников. Нужно ли гадать: при нашем наплевательском отношении к человеку и к человеческой жизни
                какое мнение преобладает? Естественно: «Казнить!!! Нельзя помиловать!» В некоторых странах это тоже
                спорный вопрос. И у них есть свои аргументы «за» и «против». Но у нас всё осложняется советской системой
                правосудия. Правосудие – это когда судят по праву, правильно, по установленным правилам (законам).
                Поскольку человек, по нашим понятиям, в шкале ценностей не на первом месте, то нет и необходимости в
                правосудии. Нет нужды на поиски истины и истинных преступников. Для нас важно не найти и наказать
                преступника, а отчитаться о проделанной работе. Или послушно выполнить «заказ», указание, сверху
                спущенное по телефону. Пример: до того как посадили настоящего преступника Чикатило, за преступления,
                которые совершил он, расстреляли пять(!) человек. Зато отчётность была в ажуре: маньяков брали одного за
                другим! Все были довольны. Вот шестой всех подвёл. Это он один оказался автором совершённых
                преступлений. Другой пример: по «заказу» Ходорковский сидит седьмой(!) год за настоящего преступника –
                облечённого властью кремлёвского чикатило.</p>
            <p> Не могу сослаться, что где-то прочитал или слышал эти цифры. Это моё личное мнение: но, по-моему, у нас
                до 80% заключённых сидят для выполнения отчётности (лишь бы кого-то посадить) или по «заказу». Даже если
                я эту цифру преувеличил, разве можно доверять нашим судам? Просто ответьте каждый, честно, себе на
                вопрос: а я верю этим судам, этим следователям, этой милиции? Глядя на происходящий вокруг беспредел, я
                им верю? Кому я вообще верю?</p>
            <p>Тогда почему мы дружно голосуем за введение смертной казни? Я уже ответил. Смотри выше: «Мы же советские
                люди! Мнительные, подозрительные, бесконечно злобные существа, всегда находящиеся в состоянии войны с
                кем-нибудь. Или борьбы, с чем-нибудь. Что для нас жизнь отдельного человека, если мы сами мусор?» В
                данный момент мы готовы до смерти воевать с преступностью.</p>
            <p> Кто-нибудь готов указать мне, что в некоторых странах смертная казнь - это тоже камень преткновения. Ну
                и что? Обилие на газонах и тротуарах выброшенных через форточку использованных презервативов совсем не
                говорит, что мы боремся за снижение рождаемости или за её повышение. Это говорит, скорее, о нашем
                бескультурье. И то, что у нас кто-то за отмену смертной казни, а кто-то против, совсем не говорит, что у
                нас нормальное демократическое общество. Нет, это говорит о нашем неистребимом совковом прошлом.</p>
            <p> Моисей сорок лет водил свой народ по пустыне, пока не вымерло то поколение людей, которые не могли
                принять новый образ жизни. Они не смогли покаяться, и пришлось ждать, пока они не вымерли, как мамонты.
                Осталось совсем иное, новое поколение. Так ведь тех людей вёл сам Моисей. И последующий результат, новое
                поколение, можно было предвидеть. А кто нас ведёт? Вы попробуйте со стороны посмотреть: кто ведёт? И
                какого результата можно ожидать от этих лидеров и «Наших» подонков? Пардон, оговорился, - от наших
                потомков.</p>
            <p>Скорее всего, нам просто не дадут ввести смертную казнь, как бы мы за неё ни бились: мы связаны
                международными обязательствами. Но если бы нам позволили…</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>