<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Страна дураков и героев</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Страна дураков и героев</h1>
            <p> Убили Буданова. Полковника Буданова застрелили в центре Москвы. Бывшего полковника, бывшего зека. Четыре
                пули в голову. Многовато даже для чеченского мстителя, ненавидящего убийцу своих соотечественников,
                часто беззащитных и невинных. Если бы я застрелил Буданова за Эльзу, я бы обошёлся одним выстрелом.
                Может быть, двумя. После этого бросил бы пистолет и сказал, что я сделал ЭТО. Я жаждал этого. И сделал.
                И не стал бы убегать. Может, я идеализирую кавказцев.</p>
            <p> Что можно сказать об Эльзе, чтобы отдать дань её родителям? Если она не была снайпером, значит, она
                стала невинной жертвой озверевшего оккупанта. И это всё. Сколько таких же жертв в Чечне? Тысячи, десятки
                тысяч, при общих потерях чеченского народа до 250 тысяч. От больших цифр горе родителей не становится
                меньше. Но если она была всё-таки снайпером, значит, она патриотка, героиня своего народа. Когда
                пришлёпнут этого путинского выродка Кадырова, ей воздадут должные почести в собственной стране. И
                вспомнят её родителей добрым словом, так как они заслуживают этого.</p>
            <p> За последние дни мне пришлось много раз видеть фотографии Буданова. Это поразительно, но мне жалко его.
                Вот этого – теперешнего. Бывшего зека. Растерянного, разочаровавшегося, со следами размышлений на
                крупном, открытом лице. По-мужицки хитроватом, но, каком-то добродушном. У него, наверное, сильные
                крупные руки с короткими пальцами. Когда он схватил Эльзу за горло, он смял ей гортань, хрящи до самого
                позвоночника. О чём он думал в этот момент? Ну, конечно, о своих солдатах, которые погибли на
                оккупированной ими территории, на чужой земле от снайперской пули. Верите? Ну, это дело ваше.</p>
            <p> Я слышал слова Сахарова, о том, что наши вертолёты уничтожили наших солдат, что бы те не попали в плен к
                афганцам. Я ему одному верю больше, чем всей этой своре паскуд-патриотов и Единой России, вместе взятым.
                Я слышал, как в гробах убитых солдат привозили на родину наркотики. Как отцы-командиры продавали своих
                подчинённых в рабство. Как офицеры продавали боеприпасы тем, против кого воевали. Этому я верю.</p>
            <p> Я не верю, что какой-то академик покончил с собой из-за того, что его коллегам (подчинённым) перестали
                выдавать зарплату. Не верю, что Рохлина застрелила жена. Не верю, что дома у нас взрывали лица
                кавказской национальности. Не верю, что у чекистов, чистые руки; что у них есть мозги и сердце. А вы
                верите? Ну, это дело ваше.</p>
            <p> Откуда же у меня чувство жалости к Буданову? Почему-то вспомнился старый фильм. О чём? Естественно про
                любовь. В стране с вековыми христианскими традициями, в основном, все фильмы про любовь. Фильм
                называется «Сорок первый». Это о том, как одна женщина полюбила мужчину. Обычная история. Им было хорошо
                на необитаемом острове. Их нечаянная любовь с каждым днём делала мир всё прекрасней. Всё могло быть
                хорошо.</p>
            <p> Но за любимым человеком приплыли его друзья. И тогда она пристрелила своего любимого. Потому что его
                друзья были белогвардейцы. И он сам был белогвардеец. Они были её классовыми врагами. И он был её
                врагом. Но она полюбила его. И убила. Могла бы отпустить. Но для советского человека есть ценности выше,
                чем любовь. Это ненависть. Ненависть к врагам. А врагов у нас хватает. Вот Эльза Кунгаева тоже врагом
                оказалось. Кто тут виноват?</p>
            <p> Всё логично. Только у нас, у русских, есть выражение: «Своими руками бы задушил!». Вот Буданов и
                задушил. А что таково? Когда православный христианин, позируя перед телекамерой, дал команду «Огонь!» из
                орудий по кишлакам, он же не по людям стрелял! Он же по врагам!!! Правда, тогда не понятно, кому
                относятся слова «С Рождеством!», которые Герой произнёс вслед за первым залпом, если там, в кишлаках,
                людей нет, а одни враги. Дорогие россияне-зрители не возмутились геройством Героя. Никто! Все же
                понимали, что есть оправдание происходящему: стреляли, с поздравлениями, из орудий по врагам.</p>
            <p> Самоуверенный полковник даже не предполагал, что он сам окажется в положении врага, станет преступником,
                козлом отпущения. Из тысяч оккупантов-преступников, почему-то именно на нём остановился перст судьбы. Да
                он же жизни не жалел для Родины! Родина – это же святое! Скажите, неужели совкам так трудно понять, что
                для Родины он и ему подобные – это мусор? Мусор, но готовый стрелять, уничтожать врагов во имя какой-то
                идеи, какого-то лозунга.</p>
            <p> Потому что на этой Родине, вначале, как врагов народа, из зависти и ненависти уничтожили всех богатых.
                Затем, из этой же зависти и ненависти, пошли дальше, стали уничтожать умных и талантливых. Когда и этих
                почти не осталось, кому-то в голову пришла мысль, что неплохо среди оставшихся придурков пожить богатыми
                и уважаемыми людьми. Да это и не сложно – управлять придурками, которых вырастили под заказ, методом
                селекции, одинакового калибра. Управлять вот такими? Не проблема! Придурки, уже ставшие богатыми, вполне
                справляются. Надо только спускать сверху тем, нижним, ордена, должности, звания Героев. И пусть те мнят
                о себе, что хотят. Но на самом деле они мусор.</p>
            <p> И как этот мусор не считает других людей за людей, так они сами не могут являться людьми. А если вы не
                люди, то почему вы хотите, чтобы к вам относились как к людям? Мне кажется, Буданов это понял потом на
                собственной шкуре. Отсюда у него на последних фотографиях разочарование и отрешённость на лице. Я уже
                высказал предположение, что убили его не чеченцы. А кто? Кому это нужно?</p>
            <p> Очень боюсь ошибиться, но давайте рассуждать вместе. Под приход Путина к власти были взорваны
                многоэтажки вместе с мусором. Триумф получился полный. Путин вошёл как долгожданный герой, с конкретными
                обещаниями. Но обещания остались обещаниями, теперь это все видят. Тогда, получается, в преддверии
                очередных выборов, он должен показать новый фокус. Более зрелищный. Старый, с взрывами домов, не
                пройдёт. Даже для придурков. Тут надо что-то покруче. Типа маленькой гражданской войны. Что совсем не
                трудно.</p>
            <p> У советского человека есть ценности выше, чем любовь. Это ненависть. Ненависть к врагам. Можно даже
                оставить на время в покое внешних врагов. Внутренних врагов за глаза хватает: «Наши» – не наши, русские
                – не русские, местные – приезжие, русофобы – русофилы, за Путина – за Медведева. При нашем менталитете
                собрать придурков под каким-нибудь лозунгом, поляризировать общество и дестабилизировать обстановку в
                стране ничего не стоит. Путин уже, не стесняясь, создаёт свой фронт.</p>
            <p> Чуть-чуть крови (во всероссийском масштабе), и он может опять начать говорить о том, что теперь, уже
                точно, Россия поднимется с колен. Решающий вклад в возникнувшие разборки между двумя фронтами могут
                внести наёмники. Такую роль с удовольствием возьмут на себя кадыровцы, став командирами-погонялами. Они
                с удовольствием воспользуются возможностью отомстить оккупантам за свои порушенные домашние очаги. И
                смерть Буданова, как любой скандальный эпизод, сейчас ещё больше нагнетает обстановку, подводя общество
                к радикализму, к мысли о решительном образе действий.</p>
            <p> Когда-то мне было забавно читать на сайте «Против Путина» утверждения недовольных совков, что Путин
                якобы еврей, что он американский агент или немецкий шпион. Что только этим можно объяснить его многие
                поступки и разорение России. Эти люди искренне считали, что все проблемы Путина от того, что он не
                русский. Или работает не на русских. Так как русские – обязательно все со знаком качества!</p>
            <p> Да успокойтесь вы! Русский он, русский. Национальность здесь не причём. Дело совсем в другом. Вы можете
                себе представить Павку Корчагина? Нет, не того которого нам преподнёс Островский; а другого, каким был
                на самом деле Павка, если проанализировать конкретные факты из его биографии. Тот, который был внуком
                деда-психопата, сыном алкоголика. Мнительный, дёрганый и ужасно злопамятный. Руки у него росли совсем не
                оттуда: где бы он ни начинал работать – везде происходили ЧП. Но, зато к этим рукам всё прилипало, что
                плохо лежало.</p>
            <p> Бывало, идёт по улице, заглядывая в чужие окна. О! Что-то на столе лежит! Он перемахнул через забор: это
                что же, в чужом доме, на столе может лежать? Оказывается, пистолет. Естественно, пистолет ему нужен для
                борьбы с классовыми врагами. И воровство он не считал за грех. Чтобы ему меньше попадало от сверстников,
                мстительный Павка научился кулачному бою. Но со временем, у Павки вылезла ещё одна проблема: он оказался
                импотентом или извращенцем. Это не мои фантазии! Вы почитайте внимательно «Как закалялась сталь». Я
                каждое своё утверждение докажу конкретными ссылками на книгу. По этой книге училось каждое новое
                поколении советской России. Мы все брали пример с Павки.</p>
            <p> А теперь, представьте себе, что мы отодвинули от бочки с вареньем Мальчиша-Плохиша и поставили туда
                Павку. Вначале тот, с голодухи, начнёт заталкивать себе варенье во все дырки. Потом поймёт, что за один
                раз на всю жизнь не наешься и главное - это сохранить бочку. Тогда он начинает своим чекистам в блюдечко
                с голубой каёмочкой откладывать по чуть-чуть варенья. Пусть кормятся и делают всё, чтобы не оскудела
                рука дающего. Он раздавал это варенье, продавал его, подмазывал этим вареньем там, где шли дела со
                скрипом, и толстел, толстел, толстел.</p>
            <p> А как же советские Мальчиши, из среды которых вознёсся Павка? Те придурки, которые всё и всех ненавидя,
                постоянно воевали с нескончаемыми врагами, начиная с сорок первого белогвардейского офицера и до Эльзы
                Кунгаевой. Несчастные Мальчиши не предполагали, что Павке, дорвавшемуся до бочки с вареньем, глубоко
                наплевать на них, как на мусор. На тех, кто был ничем и стал ни с чем. Так сложилось не потому, что
                Павка продался американцам или шпионит для Германии. А потому, что Павка…. (тьфу, ты! Путин, а не
                Павка!) потому, что Путин – совок (как мы все), и вдобавок – чекист. А это уже гремучая смесь, набравшая
                критическую массу.</p>
            <p> Вот из-за чего мне жалко Буданова. Он очень ценил себя и глубоко любил свою родину. То, что для
                матери-родины он оказался пасынком, используемым для убийства (как, впрочем, и все мы), это стало для
                него неожиданным разочарованием. Он же Герой! Да он любому пасть порвёт! Своими руками! Пусть только
                родина скажет: «Фас!». А тут, вдруг, такой пассаж: за какую-то чеченку (сколько их было на самом деле,
                кто проверял?) «мотать» конкретный срок.</p>
            <p> Мне кажется, каждый советский патриот, ратующий за реабилитацию Буданова, и хочет и может взять
                чеченскую девушку (впрочем, почему только чеченскую? куда родина пошлёт) за горло… Ну, короче, повторить
                подвиг Буданова. Мы так воспитаны: пристрелить во имя идеи человека, которого ты любишь (как в «Сорок
                первом»), написать донос (как в жизни), отречься (тут главное – вовремя).</p>
            <p> Когда-то было сказано, что у России две проблемы: дураки и дороги. Потом кто-то про нас сказал: «Страна
                дураков и героев». Если эти высказывания объединить, то получится, что у нас три проблемы: дороги,
                дураки и герои. Из этих проблем только одна настоящая: дураки. А остальное – видимость. Что дороги, что
                герои.</p>
            <p> Да! Чуть не забыл! Будет Путин обещать, что сейчас (с его помощью) Россия точно на ноги встанет, – не
                верьте ему. Пусть она вначале рыло из грязи поднимет. А то так и захлебнётся. Хотя, опять же, если она
                рыло из грязи вынет, то увидит: кто такой Путин на самом деле. Тогда ей со стыда сгореть придётся.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>