<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Наши родные свинцовые мерзости</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Наши родные свинцовые мерзости</h1>
            <p> Так бывает обычно в детстве: какой-то эпизод, случай, предмет вдруг переворачивает весь наш мир. И
                меняемся мы, наше мировосприятие. С взрослыми это происходит редко. Но происходит. Помню, кто-то, совсем
                по-детски, делился своими впечатлениями о первых днях пребывания в США. Его больше всего поразило мыло,
                которое не тонет в ванной. Ты сидишь по плечи в воде и не надо ловить скользкое мыло где-то на дне
                ванны. Кусок мыла плавает на поверхности вокруг тебя, угодливо дожидаясь, когда ты его возьмёшь в руки.
                Вот такое непривычное для нас внимание к человеку: плавающее мыло. Оно выглядело чудом, верхом заботы о
                нуждах человека. Забота, которая может проявляться во всём. Это было неожиданно. Оказывается, мир,
                окружающий ДРУГИХ людей – он совсем не такой! Конечно, тут в сознании что-то перевернётся.</p>
            <p> У меня тоже был похожий переворот в сознании и тоже из-за мелочи. Это был появившийся в продаже тюбик с
                импортным клеем, который клеил всё и схватывался почти мгновенно. Для советского человека, которому
                приходилось чинить, штопать, склеивать, ремонтировать старые вещи, такое приобретение было чудом. Но не
                меньшее удивление вызывала заботливо вложенная в упаковку специальная иголка, для прокалывания мембраны
                на тюбике перед использованием клея. Проколол тюбик – и иголку выбрасывай. Но, конечно, у нас её никто
                не выбрасывал - в хозяйстве всё пригодится.</p>
            <p> Вторичное потрясение (уже негативное) я пережил, когда начали продавать такой же клей, но уже «местного
                разлива». Клей оставался тем же чудо-клеем, но иголки в упаковке не было. Вот это мне показалось
                оскорблением: почему я должен искать гвоздик, ножик, булавку, чтобы проковырять дырку в тюбике? Почему в
                других странах человек пользуется этим клеем с предусмотрительно вложенной иголкой. А моё государство
                меня, что, за человека не считает? Или экономит на мне таким образом?</p>
            <p> Казалось бы, какие глубокие переживания может оставлять плавающий кусок мыла или отсутствие булавки для
                протыкания тюбика? Тем не менее, эти воспоминания времён перестройки напомнили о себе, когда я (недели
                две-три назад) шёл по Федеральному центру травматологии, ортопедии и эндопротезирования. Впечатление
                было непередаваемое. Стекло, бетон, сталь, пластмасса. Объёмы воздуха, заключённого в ограниченное
                пространство и свет. Как и в случае с импортным клеем скопировано было всё идеально: внешний вид,
                технология изготовления и вот этот нам чуждый лоск и совершенство. Я нес свои костыли (на них должен был
                ходить после операции), медсестра – две мои полупустые сумки. Лифты, прозрачные переходы, где медсестра
                придерживала для меня стеклянные двери, чередовались друг за другом.</p>
            <p> Мы остановились у палаты с цифрой 25. Медсестра, потянув на себя дверь, пропустила меня в просторный
                тамбур. Направо дверь в туалет, высокий унитаз (после операции, с негнущейся ногой, на обычный унитаз не
                сядешь), тут же душ и длинный красный шнурок, до которого дотянешься, если даже упал на пол. Это вызов
                медсестры. Прошли в палату. Высокая, необъятная палата, полная солнца. Всего две койки, но такие
                хитроумные, что если бы они поехали, повинуясь моему голосу, я бы не удивился. Многодверный шкаф прятал
                в себе пустые полки, пластмассовые плечики, общий холодильник и по индивидуальному сейфу на каждого
                пациента. Медсестра показала ещё «тревожные» кнопки с двух сторон кровати. Но это всё потеряло для меня
                интерес, также как и панель на стене, к которой можно было подключить любое медоборудование, всё моё
                внимание сосредоточилось на тумбочке-трансформере с обедом.</p>
            <p> Первая проблема, которая тут же возникла, а куда девать костыли, чтобы можно было приняться за обед?
                Если кто знает, тот подтвердит, что поставить костыли к стене, чтобы они не упали, очень трудно. Удобно
                их ставить в углу, который от кровати в двух метрах. Дойти до угла – это не проблема до операции. А как
                быть после операции? Ползти ползком до костылей? Класть их под кровать? Но их оттуда доставать также
                трудно, как и ползти до угла. Неужели нельзя было сделать в изголовье, на стене, вешалку (крючок) для
                костылей? Лёжа подними руку кверху - и костыли у тебя. Простите, но в туалете та же самая проблема:
                ближайший угол занят мусорной корзиной. Помещение размером 3 на 3 метра. Здоровый человек может хотя бы
                пританцовывать, пока устанавливает возле унитаза костыли. У прооперированного возможности пританцовывать
                нет.</p>
            <p> А пока я сел обедать. Первое, второе, хлеб, компот – всё как у людей. Понятно, что ни вилки, тем более
                ни ножа, в помине не было. Всё было как обычно, как в колхозной столовой: поел первое, об задницу
                вытираешь ложку и принимаешься за второе. Потом эта же ложка служит чайной ложечкой. Вот тут мне
                вспомнился импортный суперклей: технологию изготовления мы приобрели, сохранив при этом чужую красивую
                упаковку. Но вот положить для удобства потребителя булавку – накося выкуси. Советский человек обойдётся
                без всяких ненужных буржуйских излишеств. Зато из сэкономленных булавок мы такие «Булавы» клепаем!</p>
            <p> Полагаю, что в этом Федеральном центре оперировали людей не только из глухих деревень, где самая высокая
                должность – председатель колхоза. Наверняка были руководители и более высокого ранга, представители
                интеллигенции и всевозможные бизнесмены. И ведь никто не возмутился! А что? Менталитет, однако.</p>
            <p> В этот день познавания мира высоких медицинских технологий было много ещё интересного. После сытного
                обеда мне захотелось пить. Проходя по коридору, я приметил напротив поста медсестры кулер, но
                одноразовых стаканчиков не было. Об этом пришлось спросить медсестру. Бегло оглядев меня, она сказала:
                «Могу дать вам стаканчик». И действительно дала. Я попросил разрешения оставить его у себя. Она кивнула
                головой: «Да, но вам лучше попросить у уборщицы пустую пластиковую бутылку. После операции это намного
                удобнее, чем стакан с водой на тумбочке». Точно! Я же видел в туалете, в корзине для мусора, пустую
                бутылку. Видимо, мой выписавшийся предшественник избавился от неё. Вернулся, но бутылки в туалете уже не
                было. Пришлось ждать уборщицу и просить её «присмотреть» для меня пустую бутылку. Она с пониманием
                кивнула и выполнила мою просьбу. Вот на моей тумбочке, как и у соседа, стоит бутылка с водой.</p>
            <p> Кстати, соседа я очень выручил. Он привёз на операцию своё второе колено. Первое ему отремонтировали
                несколько месяцев назад. Сейчас, лёжа на кровати, он изнывал от низкого зимнего солнца, которое заливало
                светом палату. Я тоже вначале удивился, что окна пустые: нет ни жалюзи, ни каких-нибудь штор. Теперь,
                подойдя к окну, заметил на уровне подоконника сдвоенный выключатель. Нажал одну клавишу, и с той стороны
                окна начали медленно опускаться жалюзи. Оказывается – всё для человека! В знак признательности сосед
                матюгнулся вполголоса: «Я второй раз здесь, а сообразить не мог, как закрыть окно. Так и мучился, твою
                мать».</p>
            <p> Зачем я пишу об этих свинцовых мерзостях, по обыкновению присутствующих в жизни советского человека?
                Только для того, чтобы показать: жить как остальные люди (у которых воруем или приобретаем передовые
                технологии) мы никогда не сможем. Почему? Говорят, что свято место пусто не бывает. Что у нас находится
                на святом месте, которому мы поклоняемся? Всё, что угодно. Всякий мусор. От идей построения коммунизма и
                неких духовных скреп, до безумного поклонения богу Мамоне. То есть ориентиром у нас всегда были ложные
                идеи и фальшивые духовные ценности. Избыток и бесполезность которых мы уравновешивали скрытым,
                запрещённым стремлением к материальным благам.</p>
            <p> А что свято, что превыше всего для остального цивилизованного мира? Человек, его свобода и его служение
                добру. Отсутствием этих приоритетов мы отличаемся от других (так и хочется сказать – нормальных) людей.
                Человек без свободы, без его сознательного служения добру – раб. Раб, по определению, представляет собой
                «говорящее орудие», одушевлённую собственность, вьючный скот или, проще, быдло. В нашей стране это
                определение усложняется тем, что мы не те рабы, которые попали в плен на поле боя и мечтают о желанной
                свободе. Мы – потомственные рабы, «говорящие орудия», привыкшие к несвободе. Тогда о чём мы мечтаем? Мы
                мечтаем о рабах. О собственных рабах. Чтобы нам кто-то подчинялся, чтобы мы имели над кем-то хотя бы
                мнимое превосходство. Собственная свобода для нас в тягость; нам она обременительна, поскольку требует
                самостоятельных, направленных действий, а не самодурства.</p>
            <p> Как выглядит страна, населённая потомственными рабами, где человек и его жизнь не представляет никакой
                ценности? Страна, где человек ничто, – это страна ничтожеств. Во-первых, «говорящие орудия» работают
                только из-под палки. Во-вторых, они завидуют «хозяевам» (хотя каждый раб проявляет себя
                хозяином-деспотом: кто-то в семье, кто-то на работе, кто-то по своему служебному положению). В-третьих,
                рабы всегда недовольны своей жизнью и поэтому ненавидят всех. В-четвёртых, они равнодушны к чужому
                несчастью, поскольку собственный внутренний мир раба перегружен завистью и ненавистью. Сочувствие к
                кому-либо в них просто не помещается. Поэтому общество рабов атомизированное, раздроблённое на
                индивидов, где каждый сам за себя. Но упаси тебя Бог родиться в таком обществе умным и инициативным. Или
                свободолюбивым и совестливым. Для жизни в среде рабов подобные качества хуже всяческого наказания.</p>
            <p> Когда зависть или ненависть в рабах достигают своего предела, вот тут и происходит русский бунт –
                бессмысленный и беспощадный. Покорные рабы, равнодушные к чужому несчастью, во время вспышек животной
                ярости становятся бессмысленными и беспощадными. У современной власти для предотвращения таких ситуаций
                имеются два варианта. Первый вариант, с пролонгированным эффектом, это перед ослом повесить муляж
                морковки. То есть, если рабы вымирают от непосильного труда, от голода, от отсутствия у руководителей
                профессионализма, если потери во время военных действий превышают все мыслимые и не мыслимые цифры –
                тогда бездарные власти объявляют этот народ героическим. Вроде, да, погибло народу много, но погибли, в
                первую очередь, герои. Слава героям! А тебе уже неловко, от того что ты выжил, не погиб в числе тех
                миллионов. И неловко возмущаться, спрашивать с горе-руководителей: «Как вы, суки, командовали, управляли
                страной, что столько народу сумели погубить? А теперь сами ходите в героях, и народ, которым продолжаете
                править как быдлом, с усмешкой называете героическим?». И сопят, терпят, гордятся потомственные рабы
                своим полученным званием – великий, могучий, героический советский народ.</p>
            <p> Второй вариант защиты властей от русского бунта – выпускать недовольство рабов через развязанные военные
                действия против кого-нибудь. Быдло пар выпустит (ему всё равно против кого быть бессмысленным и
                беспощадным) и опять успокоится на время. В стране всегда в почёте защитники Родины и актуален призыв
                «Есть такая профессия – Родину защищать». Последний раз на Родину нападали в 41 году прошлого века. А
                вот в скольких войнах после этого Родина принимала участие как на своей, так и на чужой территории,
                никто точно не ответит. Героические «защитники» по своей сути уже давно превратились в «нападающих». Но
                для властей так удобней: пусть рабы лучше воюют по указке с кем-то, чем они объединятся против властей.
            </p>
            <p> Поэтому повторилась библейская история: «Восстал Каин (старший брат) на Авеля, брата своего, и убил
                его». Украинцы, братья наши, за что мы так с вами? Да это затеяли власти с перепугу перед «оранжевой
                заразой». А быдло возликовало. Как же - «жизнь за царя!!!» (Вот только чья?) Рейтинг Путина опять
                возрос. Каин, Каин – ты убил брата из зависти и заработал проклятие на все века. Но что хуже: пасть от
                руки брата-завистника, или стать жертвой брата, который оказался людоедом? Вдобавок, озверевший брат
                убивает не сразу. Он четвертует младшенького. Кусками. Чтобы тот подольше мучился. Пока что мы оттяпали
                кусок под названием Крым. Но это же из-за русских в Крыму! Мы вдруг вспомнили о них, озаботились их
                положением. Звучит трогательно. Но интересно: как это страна, где человек – ничто (то есть страна
                ничтожеств), вдруг начинает проявлять неожиданную заботу о людях вне её границ? Это что? Извечная мечта
                рабов о пополнении своих рядов?</p>
            <p> На всякий случай хочу поделиться с крымчанами личными наблюдениями. Если перед вами забрезжил свет, то
                это вовсе не означает скорый выход из тоннеля. Не мечтайте о себе лишнего: свет впереди - это выход из
                мясорубки. А мясорубка имеет на вас свои планы, как на фарш. Вы добровольно возвращаетесь в руки
                хозяина-рабовладельца. Не думайте, что у вас сейчас появится плавающее в ванне мыло. Или в упаковку с
                клеем вам начнут вкладывать специальную булавку. Нет. Всё будет так, как сказал академик Павлов:
                «Многолетний террор и безудержное своеволие власти превращает нашу азиатскую натуру в позорно рабскую. А
                много ли можно сделать хорошего с рабами? - Пирамиды? да; но не общее истинное человеческое счастье».
            </p>
            <p> Вам, уважаемые крымчане, которые так рвутся воссоединиться с братьями-рабами в лоне исторической родины,
                предстоит возводить вместе с нами пирамиды. Ни на что другое рабы не способны. Да, на строительстве
                пирамид у нас уже применяется грузоподъёмная техника (если хорошая, то это импортная). Но у охранников в
                руках не кнут, а шокер и автоматическая винтовка с лазерным прицелом. Если вам выпадет счастье лечиться
                в каком-нибудь Федеральном центре, скопированном с хорошей зарубежной больницы, то отношение к вам всё
                равно будет то, которое мы заслуживаем – как к быдлу. Страшно, что осваивая новейшие украденные или
                купленные технологии, мы будем наглеть или звереть ещё больше. И будем представлять для окружающего мира
                всё большую опасность.</p>
            <p> P.S.: Забавно. Выслал черновик человеку, которого очень уважаю. В ответе были строки:</p>
            <p class="article__remark">«Возникло одно
                сомнение - не является ли твое описание "свинцовых мерзостей" эффектом "принцессы на горошине". А поймет
                ли "народ", что вынужденность искать бутылку у медсестры и отсутствие инструкции к жалюзи - это и есть
                свинцовые мерзости? Впрочем, про костыли - это уже более понятно».</p>
            <p> А ведь и правда – советский народ не поймёт. Но дело в том, что я не стал описывать конкретные случаи
                мерзости со стороны конкретных лиц из Федерального центра. На всякий случай - не хочу, чтобы у них были
                какие-нибудь неприятности. Они ни в чём не виноваты – это простые советские люди. Поэтому ограничился
                описанием случаев, где нет крайних.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>