<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Запертые в нужнике</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Запертые в нужнике</h1>
            <p> …И тогда он вынул пистолет и застрелил. И сенатора. И его помощника. И конгрессмена. На этом фильм
                закончился. Люблю американские боевики. Для меня они как таблетка от головной боли, с заранее известным
                эффектом. Сиди и наслаждайся ощущением полной внутренней пустоты, с безболезненными раздражителями на
                телеэкране. Главное: у них добро всегда побеждает зло. У них хорошие парни всегда побеждают. А почему у
                нас так не бывает? Хотя бы изредка. Для профилактики от мрази. Пистолетов у нас не хватает хорошим
                парням? Или у нас хорошие парни закончились? А вообще-то, они были? Не-а! Откуда? У нас в основном –
                «защитники» родины.</p>
            <p> Хотя, что говорить отвлечённо? Вот: дали бы мне самому пистолет. И что? Смог бы я «замочить» самого
                главного «носителя зла»? Да нет, конечно! Во-первых, идею убить невозможно. А наш «нацлидер» – это идея.
                Это воплощение чаянья нашего народа. Это олицетворение совковой России. Нет смысла убивать идею, обрекая
                на жизнь народ, который был вскормлен этой сиськой-идеей. Да! И самое главное - во-вторых! Во-вторых, на
                идею я бы ещё смог бы прицелиться. А вот в человека… Пусть даже человеческого в нём нет ничего, а один
                только образ… Каюсь, но я бы, всё-таки, не смог!</p>
            <p> Да и, в общем-то, в чём Путин виноват? Я уже писал в своём дневнике, что Путин напоминает мне пачку
                дрожжей, которую подбросили в деревенскую уборную. И как там всё забродило! Как наперегонки попёрло
                говно наверх! Содержимое уборной в спокойном состоянии ни для кого не секрет. И в спокойном состоянии
                это содержимое можно даже использовать как удобрение. В небольших количествах. Но, если в эту среду
                попадает определённый катализатор… В прошлом веке им оказался Ленин. В нынешнем веке – Путин. Одна
                женщина из известного княжеского рода России сказала такие слова: «Ну что Вы! В России остались
                породистые только собаки и кошки». А остальное? Что тогда из себя представляет остальное?</p>
            <p> В результате полученного брожения, расширения объёма этого самого содержимого уборной, в натуре, такая
                ротация происходит! Говно поднимается на ранее недоступную ему высоту, по возможности заполняя собой всё
                свободное пространство. Был Гитлер востребованным в Германии в начале 30-х? Так он там и появился.
                Оказался для совков необходимым Путин – нате вам Путина! Чо вы щас-то руками машете, открещиваетесь от
                него: «Чур, не я! Чур, не я!». Признайтесь: любили, совсем ещё недавно, вы так любили его!</p>
            <p> Почему-то на этом фоне меня выбила из колеи следующая новость: «Суд санкционировал арест Александра
                Бокова и его сообщников. Генерала милиции подозревают в мошенничестве на 46 миллионов долларов. Он
                требовал эти деньги с одного бизнесмена, обещав ему помочь получить контрольный пакет акций
                транспортного предприятия. Сам Боков своей вины не признает».</p>
            <p> Нет-нет! Дело не в количестве долларов. Как у всякого совка, у меня сознание как у примитивного
                калькулятора: в его «окошечках» может поместиться только, от силы, пять-шесть цифр. И что такое
                одноразовая взятка Бокову в 46 миллионов долларов, я не могу представить, так же как и наворованных
                Путинских 40 миллиардов. Я могу мыслить только в пределах 8 тысяч рублей моей пенсии. Меня поразило
                другое: оказывается, при необходимости «сдают» даже такие персоны! Это должно было быть приятной
                новостью от правоохранительных органов.</p>
            <p> Но как это выглядит на самом деле? Ведь Боков не «гоп-стопник», который удачно (или неудачно) «взял»
                приличный куш. До взятки в 46 миллионов надо было расти постепенно. И взять Бокова за бока (при желании)
                можно было ещё на первой полученной взятке в несколько тысяч рублей. И что же его тогда не взяли? И
                вообще, почему столько времени профессионала-хапугу не брали?</p>
            <p> Можно предположить, что он всё делал вначале правильно: давал, сколько надо, кому надо и куда надо.
                Пока, зажравшись, не уверовал в собственную значимость и в свою независимость от таких же короедов. Вот
                после этого ему и показали, что он у нас, несмотря на украденные миллионы, на самом деле – говно,
                которое всплыло, исключительно благородя забродившим дрожжам, попавшим в удачную среду.</p>
            <p> Так что сей одиозный факт ничего не говорит положительного о деятельности наших правоохранительных
                органов по борьбе с коррупцией. Это обычная грызня между собой, сведение счётов. Если угодно – это пауки
                в банке, пожирающие друг друга; возня бульдогов под ковром; или разборки между крысами, кто из них
                больше «крысятничает». И у говна на говно всегда столько компромата! Это очень удобно. И порой выгодно
                время от времени его «сливать».</p>
            <p> И ещё: по поводу калькулятора с ограниченными возможностями, который рассчитан только на подсчет моей
                пенсии. Несколько лет назад, у нас в Асбесте, посадили врача за то, что она выписывала «липовые»
                больничные листы. В качестве «навара» она получила 20 000 рублей. Много это или мало? В качестве
                наказания ей дали 3 года. Много это или мало? Я хочу показать вот это расслоение: украл грузчик ящик
                водки в магазине - лет пять ему за это дадут. Я, со своей пенсией и с соответствующим уровнем мышления,
                соглашаюсь с Папановым: «Тебя посадят, а ты не воруй!» Но почему тогда не наказывают в такой же
                пропорции за кражу миллионов и миллиардов? Почему этого не происходит? Бывший замглавы ФСБ Вячеслав
                Ушаков, отправленный в отставку президентом Медведевым, отпраздновал 60-летие за миллион долларов,
                сообщает LifeNews. Женщина поцарапала палец милиционеру (или укусила его за палец?). Ей дают 3 года.
                Милиционер на машине сбивает насмерть беременную женщину. Ему дают полтора года. Откуда такое
                расслоение? Почему-то в мой калькулятор это никак не помещается.</p>
            <p> Как ни странно, арест Бокова окончательно убил во мне надежду на то, что заворовавшегося бывшего
                директора Рефтинской птицефабрики Топоркова привлекут к ответственности. Я понял, что КОЛИЧЕСТВО
                украденных денег <span class="article__accent">не имеет никакого значения</span>. Ну, украл некий
                Дубинкин из Пенсионного фонда миллиард
                рублей. Ну, жена Лужкова получила из банка Москвы 13 миллиардов рублей. Ну, строят в заповедных местах
                сказочные замки патриарх всея Руси и премьер-министр России. И что? <span class="article__accent">кто
                    этого</span> сейчас <span class="article__accent">не знает</span>? <span
                    class="article__accent">кому сообщить</span>, чтобы были приняты решительные меры? <span
                    class="article__accent">для кого это имеет значение?</span>
            </p>
            <p> В очередной раз Оля отправила письма в СКП, в Генеральную прокуратуру, в администрацию Президента о
                сотнях миллионов рублей разворованных Топорковым на Рефтинской птицефабрике. Как всегда, СКП
                среагировали первыми: ответили, что полученные документы они сразу же отослали в местную прокуратуру.
                Они так уже шесть лет отвечают на Олины письма. Из администрации президента ответили чуть позже, но зато
                с твёрдыми уверениями, что полученные документы переслали в СКП (а СКП перешлёт их опять местной
                прокуратуре…).</p>
            <p> Нет, с этим дерьмом мне всё понятно. Во всяком случае, вопросы задавать им не хочется. Если можно, я бы
                спросил депутата Госдумы Илью Понамарёва: как получилось, что Олино письмо о хищениях на Рефтинской
                птицефабрике из его рук попало в руки тогда еще директора Топоркова? Это дало повод разыграть судебный
                фарс о защите чести и достоинства Топоркова. Из шести попыток(!) завести уголовные дела на Олю, именно
                эта, благодаря действиям Понамарёва, оказалась удачной. Пусть даже Топорков вскоре был уволен по
                формулировке Минсельхоза «за ряд экономически невыгодных сделок». Но свою честь и достоинство он успел
                отстоять в суде. А Ткалич Ольга Николаевна (согласно приговору суда) является клеветницей.</p>
            <p> И ещё меня интересует позиция непримиримой «Новой газеты». Несколько лет назад я обратился к ней за
                помощью, выслав наболевшее из моего дневника. Будучи не уверенным, что письмо попадёт в нужные руки, я
                отправил электронной почтой письмо главному редактору и в отдел писем. Реакция оказалась мгновенной: мне
                «вырубили» почтовый ящик и закрыли мой дневник на http://tkalitsch.narod.ru/ . По научному это
                называется: меня «забанили».</p>
            <p> Как потом узнал, подобная реакция была наказанием за рассылку «спама». Будучи наученным таким образом,
                следующее письмо я отправил в «Новую газету» конкретному человеку. Но в ответ – тишина. И вот месяц
                назад я снова рискнул обратиться в редакцию. Поводом послужила статья в интернете «"Новая газета"
                разоблачает главу Кубани: Ткачев - крестный отец, а помогали ему бандиты, подобные кущевским». И я им
                опять написал. В очередной раз.</p>
            <p class="article__remark"> Добрый день!<br>
                Прочитал в Интернете статью «"Новая газета" разоблачает главу Кубани: Ткачев - крестный отец, а помогали
                ему бандиты, подобные кущевским».<br>
                У нас, в Свердловой области, точно такая же история. Бывший губернатор (сейчас он член Совета Федераций)
                Эдуард Россель «крышевал» бывшего областного министра сельского хозяйства Сергея Чемезова. После ухода
                Росселя на всех (четырех) птицефабриках поменяли директоров.<br>
                К крупномасштабным хищениям, в частности на Рефтинской птицефабрике, неоднократно пыталась привлечь
                внимание правоохранительных органов Ткалич Ольга Николаевна. На данный момент она получила судимость за
                клевету на директора птицефабрики Топоркова Николая Васильевича. Хотя месяц назад его уволили. Коллегия
                министерства сельского хозяйства Свердловской области предложила снять директора с работы за ряд
                невыгодных сделок. Но уволен он по статье 278 ТК РФ (по решению собственника). То есть: безо всяких для
                себя последствий.<br>
                А Ткалич Ольге наши правоохранительные органы пытаются «прилепить» ещё одну судимость: за кражу
                документов с птицефабрики и разглашение коммерческой тайны.<br>
                Вот <a href="http://www.echoekb.ru/news/2010/11/19/1/8802/" class="article__ref">сообщение</a> на «Эхо
                Москвы об увольнении Топоркова <br>
                Вот <a href="http://community.livejournal.com/ural_politiks/777055.html"
                    class="article__ref">обращение</a> Ткалич Ольги к Президенту <br>
                Вот <a href="http://www.youtube.com/watch?v=ufS1vmEqczw" class="article__ref">обращение</a> к зам. ген.
                прокурора Золотову <br>

                Буду рад, если эта история вас заинтересует. Правда, нашу семью ещё не пробовали зарезать в собственном
                доме, потом поджечь, как в Кущёвке. Может, поэтому наши проблемы никому не интересы.<br>

                Наш адрес: 624285 Свердловская обл., г Асбест, пос Рефтинский,******<br>
                Домашний телефон: ******; Сотовый: ******<br>
                Электронный адрес: "Пётр Ткалич" mirvam_tk@yahoo.com<br>
                <br>
                С уважением, Ткалич Пётр<br>
                17 января
            </p>
            <p> Ответа на моё письмо не было. Никакого. Потом была какая-то акция Общественной палаты Российской
                Федерации. Можно было по телефону дозвониться до них и рассказать о случаях коррупции. Я дозвонился.
                Рассказал, что речь идёт о миллиарде рублей, выведенных с предприятия. Что только на данный момент Оля в
                состоянии документально доказать хищения четырёхсот миллионов. Но если ей представить все документы, всю
                отчётность, то она докажет, что украдено гораздо больше. Меня тут же похвалили, поблагодарили и положили
                трубку. Нет! Вы ответьте мне, «а то, если вы не отзоветесь, мы напишем в «Спортлото!»</p>
            <p> Меня больно задели слова Анны Политковской: «Иногда в этой стране, среди этих людей, безразличных к
                собственной судьбе, я чувствую себя одинокой». Я тогда думал, что она имеет в виду общую атмосферу в
                стране. И это как бы соответствовало истине. Сейчас думаю, может, она имела в виду своих коллег?
                Безразличие которых (как и всех совков) проявляется не только к собственной судьбе. А в <span
                    class="article__accent">первую очередь</span> к
                судьбам окружающих. Но что такое окружающие и их судьбы? Правильно! Это дерьмо! И отношение к дерьму (со
                стороны дерьма) должно быть соответствующее: «Ну, чо хорьки, бля? Кому ещё?!» А всякие там сантименты,
                сочувствие, понимание, а уж тем более помощь… Это надо было в другой стране родиться.</p>
            <p> Что? Кто-то со мной не согласен? Хорошо, хорошо! Я не буду настаивать. Вы – исключение. Должно же быть
                из правила исключение. Даже в нашей стране, где все равны и исключений ни для кого нет. А этот стойкий
                запах говна? Это через форточку к вам натянуло. И непосредственно к вам этот запах не имеет ни какого
                отношения.</p>
            <p> Кстати, я сейчас понял, что стрелять в говно бесполезно – пуля вязнет. Это не метод. Говно, в большом
                количестве, оно даже пулю останавливает. Так что нет толку с ним связываться – пользы от этого никакой,
                а брызги разлетаются во все стороны, всё равно сам окажешься запачканным. Пусть «хорошие парни» у них
                там отстреливают плохих людей. Там таковых (из говна слепленных) единицы. И может, правда, от них можно
                избавиться избирательным отстрелом. Но у нас такой номер не пройдёт. Почему? Так я же, вроде, объяснил.
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>