<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Живущие в Зазеркалье</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Живущие в Зазеркалье</h1>
            <p> Я, как говорится, обалдел, не поверил своим глазам. Благо между нами было приличное расстояние, и я мог
                смотреть сколько угодно. Олег привёз меня в Екатеринбург, в областную больницу на обследование. В
                чистом, даже уютном коридоре сидели люди со своими проблемами. Они ни с кем не вступали в разговор,
                внешне совершенно равнодушные, но как будто прислушивались к чему-то внутри себя. Мне знакомо это
                состояние, когда ты пытаешься оценить: насколько тебе плохо?</p>
            <p>Устоявшуюся картину нарушил мужчина лет сорока. Спортивного вида, в кожаной куртке, моложавый, он
                сопровождал пожилую женщину. Моя мама два месяца назад перенесла инсульт, но сейчас уже, слава Богу,
                поправляется; мы даже стали выводить её на улицу. Поэтому я одобрительно взглянул на мужчину. Мне были
                близки и знакомы подобные проблемы по уходу или сопровождению. Стоя пред сидящей матерью, он повернулся
                ко мне боком, и я оторопел. Брюки, которые мне казались мышиного цвета, оказались темно-синими, и, самое
                главное, с узкими, красного цвета, лампасами! Это был милиционер!</p>
            <p> У наших ментов есть матери?! У этих оборотней, извергов есть матери? Эти твари, которых я,
                законопослушный гражданин, ни разу не судимый и не имевший с ними дела, всю свою жизнь обходил стороной,
                имеют матерей? Да мне было лучше пройти на улице сквозь кампанию распоясавшихся юнцов, каких-то
                отморозков, чем иметь дело с этими блюстителями порядка! Оказывается, их не только рожали женщины, но
                эти женщины были их матерями! Более того: некоторые из этих ментов ухаживают за своими матерями!!!</p>
            <p> Я почему-то никогда не задумывался над этим. Для меня менты просто были носителями зла. Представителями
                зла, наконец, порождением зла. Но что их рожала женщина?! И что, тем более, они могут ухаживать за
                своими матерями?! Я такого представить не мог. У меня в голове такая мысль не зарождалась. Они должны
                были появляться откуда-то готовые, уже в форме, один к одному, подлецами и подонками. Эти кадры (Путин
                тогда ещё не царствовал, и на экранах телевизоров можно было увидеть правду) показали в программе
                новостей: офицер милиции бьёт кулаком в лицо женщину с девочкой на руках.</p>
            <p> В девяностые годы в дверь ко мне постучали. Открыл. За дверями стояли два милиционера: «Почему вы
                открываете дверь и не спрашиваете, кто там?» Я удивился такому сервису: «Вы что? Специально пришли
                проинструктировать меня?» – «Нет. Позвольте, мы пройдём. У нас есть несколько вопросов». – «В подъезде я
                слышу так же хорошо, как и у себя в коридоре. Так что можете здесь говорить». Оказывается, их
                интересовал наш сосед: он устраивался на работу в милицию, и о нём пришли наводить справки. Я их
                успокоил: «Такой вам подойдёт. Потому, что его мать часто отсиживается у нас. Он требует у неё деньги, а
                когда она не даёт, он надевает боксёрские перчатки, чтобы не оставались следы, и бьёт её». Я оказался
                прав: в скором времени сосед стал ходить в милицейской форме.</p>
            <p> Странно, почему я тогда не запомнил, что у милиционеров есть матери? Только вот сейчас эта деталь
                всплыла в памяти: мать. Может потому, что такое обращение с матерью тогда меня не удивило? И вспоминался
                этот случай, в основном, как эпизод, характеризующий подбор кадров для милиции. Почему в больнице меня
                поразило отношение милиционера к собственной матери? Потому что оно было достойным человека. Ведь, на
                самом деле они (милиционеры) не инкубаторские же! У них тоже есть матери. Получается, что менты – такие
                же люди, как и мы.</p>
            <p> А вот это очень интересный вывод: они такие же люди. С этого места нужно поподробней. Беспредельщики,
                крышующие наркоманов, торговцев, до смерти избивающие на допросах своих «клиентов», вечно «пасущиеся» на
                дорогах – такие же, как мы. Точнее: одни из нас или некоторые из нас - как угодно. Эти добры-молодцы,
                ОМОНовцы? В касках, спрятавшиеся за щитами, хлещущие дубинками и старых, и молодых? Так это тоже одни из
                нас, это тоже мы. В Новочеркасске, при Хрущеве, наши отцы расстреливали мирную демонстрацию рабочих.</p>
            <p> Наши сыновья сровняли с землёй Грозный, разбомбив заодно Дом престарелых. Этот факт можно было принять
                как иронию судьбы: в доме для престарелых были одни только русские старики и старухи. Чеченцы своих
                отцов и матерей в дома престарелых не сдают. Хоть в нас и закрепили образ чеченцев-бандитов, но у них
                понятия такого нет: избавиться от отца или матери, сдав их в казённый дом. Для этого нужно иметь
                менталитет русского человека.</p>
            <p> Всё это, вместе взятое, какую даёт пищу для размышлений? Нечего тут размышлять. Фильм «Рождённые
                революцией» красочно рассказывает, как формировалась и работала наша милиция. Так это брехня всё. И до
                революции существовали правоохранительные органы. И полиция в то время прекрасно справлялась со своими
                обязанностями. А «рождённые революцией» – не отдельно взятые менты, это все мы.</p>
            <p> Ироничное определение «из грязи, да в князи» и в наше время не потеряло своей актуальности. Мы по
                простоте душевной, по собственной наивности полагали, что есть некий лифт, который после октябрьского
                переворота коротким путём вознесёт нас из грязи сразу в князи. Да, лифт-то есть. Но не все в него
                поместились. Только те, кто пошустрее, понаглее, побессовестнее. Кто может оттолкнуть своего ближнего,
                наступить на него, те сумели взмыть вверх. Это особый контингент. Основная же масса осталась нищей и
                бесправной. Именно эти два основных качества сформировали советское общество: нищета и бесправие.</p>
            <p> О чём мечтает нищий? Разбогатеть! В слове «разбогатеть» основа слова, корень – «бог». Только в русском
                языке слово «бог» обозначает не небожителя, не некий идеал, к которому надо стремиться, а существо,
                исполняющее желания, могущее изменить наш статус-кво, способное оБОГатить. Бог нищего – это БОГатство.
                Об этом мечтает нищий, и на него он молится. Вот это и есть мы: всю свою жизнь нищие и мечтающие
                разБОГатеть любыми путями! Какие тут могут быть принципы и моральные устои? Они как кирпич на шее.
                Кормить беспомощных родителей? Да какой от них прок? Что, на них разбогатеешь? Хлеб только переводить.
                Без нравственных устоев не только менты «пасутся» на дорогах. Каждый у нас, если имеет возможность
                занять маломальский пост, делает из него кормушку. Становится коррупционером. Богатеет. Каждый!</p>
            <p> А о чём мечтает бесправный раб? О свободе? Неправильный ответ. Это где-то, когда-то, там, у них Спартак
                сражался за свободу. У нас «совок» - бесправный раб - мечтает не о свободе. Он мечтает о рабах! О
                собственных рабах. Мечтает побыть, хоть на время, хозяином бесправных рабов. На фиг ему это сладкое
                слово свобода? Это для дураков. Вся сладость заключается в том, чтобы, управляя ситуацией, унизить
                кого-то. Поработить. И упиваясь положением хозяина, мордой, мордой кого-то по асфальту! За всё
                пережитое, за собственное бесправие!</p>
            <p> Но с таким же сладострастием и готовностью мы добровольно отдаёмся в рабство первому же недомерку.
                Подобное противоречие в нас прекрасно совмещается: «Я начальник – ты дурак. Ты начальник – я дурак».
                Этим всё сказано. Неважно, какой он, начальник. И что лобик у него покатый - это явно признак высокого
                интеллекта. Я готов быть рабом! Пусть он относится ко мне, как к дураку. Лишь бы рука у него была
                твёрдая. Именно такой нужен. Мы все же за стабильность! Рождённый ползать – ползает. По грязи. И лифт
                наверх для него – это не решение проблем. Лифт у нас для избранных персон. Для тех отморозков, которые
                по чужим головам, по трупам стремительно поднимаются наверх.</p>
            <p> Мне было неприятно слышать запущенное кем-то (весьма неглупым провокатором) слово «дерьмократы».
                Казалось: такая обидная дискредитация демократов! Сейчас понял: это всего-навсего констатация факта.
                Действительно, власть у нас принадлежит дерьму. И это дерьмо, используя власть, управляет нами,
                навязывая определённый образ жизни. Но другого образа жизни мы не заслуживаем. И мы ничем особым не
                отличаемся от этого дерьма, которое наверху. Может, кто-то думает, что эпизод со стрельбой по движущимся
                мишеням в столичном магазине трагическая случайность? И виноват конкретный мент Евсюков?</p>
            <p> Несколько лет назад, когда мы начали новую кровавую бойню в Чечне, я записал в дневнике: «Посеявший
                ветер – пожнёт бурю». Стрельба при исполнении служебного или интернационального долга или при наведении
                конституционного порядка по живым людям в силу привычки может превратиться в хобби. Которому с
                удовольствием отдаешься в свободное время. Теперь понятно: Евсюков – это выродок со склонностью к
                подобному хобби, удачно замаскировавшийся среди нормальных людей. Но если бы всё было так просто! Ведь
                его всё время кто-то поддерживал, покрывал, проталкивал наверх по служебной лестнице. Значит, их было
                всего двое. Не так уж много.</p>
            <p> Но как тогда объяснить тот факт, что паренёк, раненый Евсюковым во время целенаправленной стрельбы в
                магазине, был призван в ряды российской армии? Из этого паренька даже евсюковскую пулю не удосужились
                вынуть! Так, с пулей, и призывали. Ведь могли бы комиссовать ещё до начала службы. Скажем, из гуманных
                побуждений. Мол, пацан совсем, а уже под обстрел попал. Психическая травма. Или из медицинских
                соображений: куда его с пулей посылать? Какой он вояка? Но работники военкомата (коллектив, не один
                человек), и работники медкомиссии (тоже не один человек) без проблем отправляют его в армию.<a
                    class="article__ref" href="#star">* </a></p>
            <p> О чём это говорит? Что мы все такие, как наши начальники, которые сумели заскочить в лифт и теперь
                находятся на самом верху. Наша проблема не Евсюков и его покровитель. Проблема в том, что в душе мы все
                евсюковы, шамановы, будановы. И ветер, который мы посеяли, вернётся к нам бурей. Не понимая этого, мы -
                рабы и нищие - сделали выбор своего национального лидера за один только призыв «Мочить!!!», нашедший в
                нас живой отклик. Поэтому мент, который в подобном обществе ухаживает за своей немощной матерью, тем
                более достоин похвалы.</p>
            <p>Но я хочу рассказать про ещё одного человека, который поразил меня отношением к своей маме. Правда, для
                нас это слово, мама, режет слух, когда звучит не из уст ребёнка? Для нас более привычно короткое слово
                «мать» (с неистребимой ассоциацией «…твою мать»). Горький - пролетарский писатель, инженер человеческих
                душ - постарался увековечить это короткое как удар хлыста слово в названии своего произведения. Но
                человек, о котором я пишу, называет свою мать совсем непривычным для нас словом: мамочка.</p>
            <p> «Моей мамочке 71 год. Когда приходит весна она целыми днями возится в огороде, сажает овощи, зелень
                разные. И с нетерпением ждет, когда они созреют, - несёт их на рынок. Я отсюда в письмах, а дома брат,
                сестрёнки и невестка пытались уговорить мамочку оставить всё это. Бесполезно! Потом я понял: наши
                мамочки родились, выросли и прожили в очень трудное время, прожили очень трудную жизнь. Они привыкли
                заботиться и быть нужными. Они продолжают заботиться и хотят быть нужными нам – их детям, и внукам. И
                когда они приносят, помимо душевной-духовной, ещё и материальную пользу, то получают дополнительное
                удовлетворение. Человеку необходимо быть нужным и приносить пользу кому-нибудь. И ещё, как говорит моя
                мамочка, у неё на рынке подруги. У них свои разговоры, свои планы, в общем, общение. А это тоже
                дополнительный стимулятор в жизни».</p>
            <p> Как просто, как всё верно! И сколько любви в этих не очень грамотных словах! Я бы гордился, если бы смог
                воспитать такого сына. И сам бы повесился, если б моим сыном был Путин. Но в нашей стране Зазеркалье всё
                наоборот. Любимец публики, национальный лидер готовится на новый срок президентства. Теперь уже
                шестилетний. А автор этих строк о мамочке, Юсуф Крымшамхалов, обвинён во взрыве домов на территории
                России и отбывает пожизненный срок. Чекист и его жертва. Какое противопоставление! Между ними лежит
                пропасть.</p>
            <p> Я переписываюсь с Юсуфом. Только потому, что мне жутко. Жутко представить себе, что можно, вот так вот,
                оказаться заложником в играх тех людей, для которых главное заскочить в лифт. Ради этого они готовы
                пойти на всё. На месте Юсуфа может оказаться любой, каждый из нас. Жутко и несправедливо отбывать
                наказание за преступление, которое не совершал.</p>
            <p> Разговаривал недавно с соседом. Он, так же как и мы, держит кур, и тоже не может их рубить. Ему
                принадлежит довольно простая на слух фраза: «Мы не едим тех, которые живут с нами». Как жалко, что это
                принцип одной семьи. Россия, страна рабов, страна господ, ест и тех, которые с нами живут, и тех,
                которые не с нами. И своих и чужих. Без разбора.</p>
            <p> Неужели страна оборотней, коррупционеров стала такой только из-за постоянной нищеты? Или всё же потому,
                что слово Бог стало неотъемлемой частью слова «богатство»? И богатство, по установившемуся мнению
                большинства, стало пропуском в совсем другой мир? Значит, прав оказался Юсуф в своём письме о мамочке:
                что вначале душевно-духовное, а потом материальное. И уже только тогда жизнь принесёт заслуженное
                уважение людям, удовлетворение, а не распри и зависть между нищими рабами.</p>
            <p class="article__remark" id="star">* После того, как этот казус был широко освещен в СМИ, начальник
                Царицынского военкомата сообщил, что
                «они во всем разобрались и установили ошибки», и раненый Евсюковым юноша не будет призван в армию.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>