<!DOCTYPE html>
<html lang="ru">

<head>
    <title>В мясорубке любви</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">В мясорубке любви</h1>
            <p> Медведеву американские студенты задают вопрос: «Что самое главное в жизни?» Ответ прозвучал совершенно
                неожиданный: «Любовь!» По аудитории прокатился непроизвольный смех. Никто, конечно, не хотел обидеть
                нашего президента. Но столь неожиданный ответ заставил забыть присутствующих о сдержанности и правилах
                приличия. Реакция была искренней. Смех – как над хорошим анекдотом. Президент России и первая заповедь
                Иисуса Христа о любви. Смешно.</p>
            <p>Есть такая рекомендация: крепкий кофе запивать глоточком холодной воды. Глоток горячего кофе и глоток
                воды. Вся прелесть заключается в совмещении противоположных вещей: горячее – холодное. Насыщенный вкус
                кофе и привычный вкус воды, то есть отсутствие особых вкусовых ощущений. По-видимому, студенты ощутили
                всю прелесть контраста сказанного г-ном Медведевым: ставленник Путина и любовь. Контраст настолько
                сильный, что они поперхнулись невольным смехом. Но если Медведев – бледная тень Путина, то тогда можно
                представить, какое важное место занимает любовь у нынешнего премьер-министра!</p>
            <p> И у него можно обнаружить контраст, помогающий сравнить изменения, произошедшие с чекистом в течение
                короткого времени. Вначале своей президентской деятельности национальный лидер, выступая перед
                молодежью, рассказал, как будучи пацанёнком и презираемый сверстниками, он начал заниматься самбо.
                Многие в таком возрасте приходят в спортивные секции с желанием кому-то отомстить за свои обиды. Но
                желание постепенно исчезает, растворяется в постоянных изнурительных тренировках. И в этой новой жизни
                появляются новые проблемы, но уже совершенно другого плана. Злорадный мотив кровожадной мести постепенно
                выпадает из памяти.</p>
            <p> Но не у мальчика Вовы. Шло время. Володя тренировался. Месяц за месяцем, год за годом. «Но зато я им
                потом показал!» - хвалится перед молодёжью Путин. Он тем мальчишкам-сверстникам отомстил за все
                пережитые унижения. Всем! И каждому! Теперь, на встрече с нынешней молодёжью, главный кремлёвский
                «мочитель» с удовольствием рассказывает об этом, делится собственным опытом.</p>
            <p> А как же пресловутая любовь? Где тут она у национального лидера? Любовь есть. Она проявится чуть позже.
                Почему и как быстро у некоторых ненависть к мальчишкам трансформируется в любовь – это надо спрашивать у
                психиатров. Они знают ответы на подобные вопросы. Но она проявилась, эта любовь! По телевизору
                показывали, как Владимир Владимирович, подняв рубашечку на тщедушном мальчишеском тельце, целует его
                куда-то в пупик. Ненависть и любовь. Ощутите разницу. Вот где контраст! Вот как порой проявляется
                всепобеждающее чувство любви!</p>
            <p> А наш народ? Народ восхищён! Восхищён этим тандемом. Это в Питтсбурге студенты всей аудиторией
                откровенно смеются над временным троноблюстителем, у которого на родине в тюрьмах томятся
                политзаключенные. Который гноит в камерах смертельно больных заключенных и беременных женщин. Который
                продолжает держать в заточении, по липовому обвинению, личных врагов нынешнего премьер-министра. Но там,
                за рубежом, этот сентиментальный юрист пытается развешивать аудитории лапшу на уши про свою любовь во
                вселенском масштабе.</p>
            <p> Законопослушный, героический российский народ как всегда в экстазе: «Опять нам повезло с
                руководителями!» Опять. В очередной раз! Это с царями нам никогда не везло. А вот руководителей высшего
                ранга, после семнадцатого года, мы не устаём славословить. Каждый из них самый достойный, один другого
                лучше. Но бессменный чекист у власти – такого ещё не было. Нам есть чем гордиться! Как это у Булгакова:
                «Королева в восхищении!» Народ тоже в восхищении.</p>
            <p> Почему наш народ героический? Ну, это долгая история. Хотя возможных вариантов всего два. Объективно
                картина выглядит так: менеджер-психопат (менеджером, чур, не я его назвал) по известным только ему
                причинам уничтожил до начала Отечественной войны лучших своих военачальников. Может, из ревности.
                Потому, что лучше его в стране не должно быть никого. Так или иначе, война началась без
                командиров-профессионалов. И очень часто с одной винтовкой на пять человек.</p>
            <p> Как в такой ситуации можно проявить героизм? Не пробовали? Без опытных командиров, без оружия. Особенно,
                если ты знаешь, что за спиной стоит заградотряд. Если ты знаешь, что если пропадёшь без вести – то твоя
                семья останется без содержания. А если, не дай Бог, попадёшь в плен – то будешь зачислен в предатели,
                враги народа, и члены твоей семьи станут членами семьи врага народа. Какой же тут выход?</p>
            <p> Когда я лежал в окопе во время зимних учений: Камчатка, пурга, где-то отставшая кухня - то думал: «Лучше
                сдохнуть один раз, чем вот такая жизнь». И, самое интересное, никакой мысли о величии моего подвига или
                величии моей родины не было. Я говорю честно. Было одно только желание: если нельзя согреться и пожрать,
                то лучше сдохнуть. Лишь бы это всё закончилось, пусть хотя бы таким образом закончится эта игра взрослых
                дядей в «войнушку».</p>
            <p> Так какой выход обречённому солдатику на настоящем поле битвы? Или, продлив собственную агонию,
                постараться выжить для следующего боя (вверх берёт инстинкт самосохранения), в надежде, что ему будет
                везти до бесконечности. Это и есть первый вариант: вера в собственное везение. Или умереть, но
                желательно на глазах у замполита. Чтобы домой благодарственное письмо отправили. Это второй вариант. Вот
                и всё. Вся проза жизни.</p>
            <p> Конечно, и тот, и другой вариант, при желании, можно подать как героический. И весь народ, поголовно,
                обозвать героическим. Если не считаться с тем, что до этого определённая часть народа пострадала от рук
                Сталина и искренне ненавидела его и установившийся строй в России. Гитлер в их глазах был достойной
                альтернативой Сталину: хрен редьки не слаще. Так если б народ был героический (а нас именно к этому
                утверждению приучили), то для чего издавать приказ о заградотрядах? Героев в спину стрелять?</p>
            <p> Ну, а как же мальчишки, которые в 41-м бежали на фронт? Мальчишки всегда куда-то бегут. Вспомните про
                «Монтигомо – Ястребиный коготь». Зимой пацаны бежали на Аляску, помочь индейцам. Почему бы и на фронт не
                убежать, помочь нашим? Только надо было торопиться. Потому как война должна продлиться не более
                полутора-двух месяцев. Мы же немцев шапками закидаем! И войну должны закончить на их территории. Победа
                будет за нами! Вот только какой ценой? Тогда этого никто не знал. И сейчас точно никто не знает. Но
                каждый из этих пацанов представлял, как он через пару месяцев пройдётся по двору героем, с медалью на
                груди! Кто откажется от такого удовольствия, да ещё и заработанного честным трудом?</p>
            <p> Когда я вижу документальные кадры о блокадном Ленинграде, замёрзшие трупы на улице, умерших от голода и
                не похороненных людей, каждый раз думаю: «Ведь кто-то должен был за это ответить?» Я не о фашистах. Я о
                наших руководителях, об отцах-командирах. Люди гибли миллионами на фронтах, от голода в окружённых
                городах и в тылу. И этим миллионам, как комарам, никакого учёта не было; никому из ответственных лиц не
                пришла мысль в голову: «А сколько героического народу погибло за годы войны?» Подобные мелочи никого не
                интересовали. Никто не ответил за эти рукотворные кучи трупов до небес. Никто не понёс ответственности.
                Но до сих пор поклоняемся великому менеджеру, а на деле – палачу в законе, духовному отцу всех
                «мочителей».</p>
            <p> Так почему наш народ героический? Хочешь, чтобы собака тебя не покусала? Брось ей кость. Или попробуй
                хотя бы называть её ласковыми именами. Вдруг поможет? И она не будет тогда гавкать. Советских людей,
                беспамятных Иванов, которые отказались от своих отцов, от своего прошлого, от своей веры, назвали
                героическим народом. И они, правда, не стали гавкать! Совки поверили на слово, что они героические.
                Такая война, мол, сделала их героическими. А иначе… А иначе бы все из верхнего эшелона должны были
                отвечать за свой непрофессионализм, за бездарность, за прямое головотяпство. В действительности же, если
                у этого героического советского народа убрать слово «героический», то такая обнажится убогость! Когда я
                из вазы убираю застоявшиеся цветы, то из вазы такой, извините, запах идёт!</p>
            <p> Видимо, человек многое пережил или многое передумал, если смог сформулировать мысль: «Назвать деспота
                деспотом всегда было опасно. А в наше время настолько же опасно назвать рабов рабами». Назвать рабов
                рабами. Героический советский народ никогда не простит высказанную вслух правду о себе. Эти рабы в
                отместку в выборе средств не стесняются. Какие-то «Наши» пикетируют дом журналиста Александра
                Подрабинека. Позвольте! Почему они «Наши»? Да никакие они не наши. Это «ваши». Ваши. А лично ко мне эти
                наши никакого отношения ни имеют.</p>
            <p> Чем «Вашим» не угодил Подрабинек? Он убрал из вазы цветы. И тут такая вонь попёрла! То есть он объяснил,
                что в стране есть не только совки, но и антисоветчики. Что они имеют полное право на существование. Что
                среди ветеранов, которых мы потчуем от случая к случаю, есть и те, кто не ходили в атаку, а
                расстреливали своих же, из числа наступающих, если те замешкались, или, не дай Бог, повернули назад
                (если кто-то думает, что война это постоянное продвижение вперёд, то он ошибается). Что тех ветеранов,
                которые стреляли в своих, и тогда (в те времена), и сейчас кормят лучше. И что их, по количеству, на
                сегодняшний день больше осталось. А настоящих фронтовиков совсем мало. Потому что они пережили во время
                войны больше, а внимания к ним после войны было меньше.</p>
            <p> Лично я преклоняюсь перед такими порядочными и искренними людьми как Подрабинек. Жалею, что никогда не
                смогу ему об этом сказать лично. Очень жалею, что эти наши жертвы педофилов доставили ему столько
                беспокойства (такое ощущение, что в предложении я не расставил все знаки препинания).</p>
            <p> Откуда у нас столько ненависти ко всем, кто думает иначе? Даже по мелочам: обращал кто-нибудь внимание
                на проявление любви к кошечкам, собачкам? А на проблемы, связанные с выгулом и содержанием этих
                животных? На агрессивность окружающих, не терпящих домашних животных? По телевизору часто показывают,
                как доброхоты заботятся о брошенных животных. А противоположную сторону видели? Тех несчастных, которые
                являются соседями любвеобильных хозяев кошечек, собачек? Как они мучаются от аллергии, от кошачьего
                помёта на лестничной клетке? А дети, пострадавшие от укусов собак? И не только дети.</p>
            <p> Мы даже саму любовь к чему-то (к кому-то) способны сделать поводом для ненависти. Библия говорит: «От
                избытка сердца говорят уста». Добавлю от себя: «И совершаются поступки». Что у нас лежит в сердце, тем
                оно наполнено. То и выплёскивается из сердца словами или делами. Старый чеченец объясняет внуку: «Внутри
                человека живут два волка: добрый и злой. Они постоянно ведут борьбу между собой за обладанием
                человеком». – «И у меня, дедушка?» – «И у тебя!» – «Дедушка! А кто из волков победит?» – «Тот, которого
                ты будешь кормить». Но это у чеченцев живут внутри волки. Поэтому чеченцы нам не указ. А что у нас
                внутри? По-моему – мясорубка. Ты хоть что в неё закладывай (патриотизм, коммунизм, любовь к ближнему),
                всё равно на выходе будет фарш из ненависти. Тогда это мы - волки.</p>
            <p> Мы воспитаны в ненависти и на ненависти. Мы по-другому не можем. И боюсь, что эта характерная черта
                сыграет с нами очередную злую шутку. Путин первый раз пришёл к власти, взорвав несколько домов со
                спящими мирными жителями. Последующим призывом «Мочить!», возобновлением военных действий против Чечни
                он окончательно покорил сердца советских людей и стал их национальным лидером. Искусственно внушённая
                ненависть к чеченцам победила. Так Путин первый раз стал президентом. Но дважды такой метод не
                сработает. Взрывать многоэтажки по второму кругу – даже в России не пройдёт такое.</p>
            <p> А вот столкнуть лбами совков и антисоветчиков, развязать уже не чеченскую, а гражданскую войну (ты за
                красных или за белых?)… «Не приведи Бог видеть русский бунт: бессмысленный и беспощадный». На этой
                поднятой волне ненависти чекисту-серфингисту можно высоко вознестись. Что, слишком страшное
                предположение? Слишком много крови? Но когда у нас человеческая жизнь ценилась? Тут я говорю не про
                Отечественную войну. Посчитайте, за годы правления Путина, сколько человек в день погибало? В день!
                Начните с чеченцев: 250 тысяч, плюс…. Хотя, кто у нас убитых считает?</p>
            <p> Противопоставление в ненависти уже начинается. Всё больше становится людей недовольных друг другом.
                Потихоньку массы начинают искать крайнего и ответа на извечный вопрос: «Кто виноват?» Почва готова.
                Главное тут: не упустить момент и вовремя указать, кто виноват, и подсказать, что делать. Для этого не
                обязательно сразу взрывать дома. В нынешней ситуации можно начать с пикетирования домов «Вашими». До
                начала выборов есть время. За этот период заинтересованные лица вполне успеют «разогреть» народные
                массы.</p>
            <p> А с экранов телевизоров вовсю подготавливают общественное мнение: «Мы получили более миллиона писем и
                тысячи звонков с просьбой: вернуть настоящего полковника! Пришло время настоящего полковника!» Пока
                рекламируют только Каменскую. Но мы уже впитываем, проникаемся доверием. Мы заранее расположены ко всем,
                кто находится в чине полковника. Каменская возвращается.</p>
            <p> Так что же для нас главное в жизни? Любовь! А чего вы смеётесь? Вроде ничего я особенного не сказал. Ну,
                смейтесь, смейтесь.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>