<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Решил собрать мясорубку...</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Решил собрать мясорубку...</h1>
            <p> Этой новой мясорубкой нам пришлось воспользоваться всего только один раз: перекрутили мясо, после чего
                разобрали, помыли её. И всё. Сколько я потом ни собирал её – бесполезно! В результате всегда получался
                многоствольный пулемёт. Так же и с моим дневником. Что бы я с ним ни делал, о чём бы ни писал,
                обязательно финал получается как в том объявлении, из «Литературной газеты»: «Пропала собака, спаниель,
                рыжая, три года, сука, падла, ка-а-ак я ненавижу эту страну!». Короче, в итоге всегда пулемёт
                получается. На этот раз решил побороть себя – собрать мясорубку. Сколько можно: всё негатив и негатив.
                Лучше я расскажу о хорошем человеке. О Рифхате Хакимове.</p>
            <p> Это сейчас, особенно последнее время, осмелились и стали открыто покусывать «вертикаль» власти и
                правоохранительные органы. А Рифхат уже несколько лет назад открыто заявил о коррупции в
                правоохранительных органах, о продажности судей, прокуроров, следователей. При этом он назвал 22
                конкретные фамилии и должности, которые эти лица занимают. Это было настолько непривычно для окружающих
                (а кто-то непосредственно почувствовал себя оскорбленным), что его мигом определили в психушку. То есть,
                вечером вынесли постановление суда, а на следующее утро Рифхат уже временно сменил место жительства.</p>
            <p> Заявить открыто такое! Обвинить в продажности оборотней! Это надо иметь необыкновенную смелость,
                обыкновенную порядочность и чувство ответственности за происходящее вокруг тебя. Понятно, что такие
                качества у нас в обществе, мягко говоря, в дефиците. Но, тем не менее, почему-то они никем не
                приветствуются и в очередь за ними не встают. Поэтому Рифхата направили прямиком в психушку:
                «нормальные» люди так себя не ведут! К всеобщему разочарованию (и даже к стыду) Рифхат оказался здоров.
                Зато теперь, когда любители расплёскивать помои этот эпизод ставят ему в вину, он отвечает: «Да, у меня
                есть документ из психушки, что я здоров. А ты можешь чем-то подтвердить свою адекватность?»</p>
            <p> То, что он здоров, развязало руки нашим правоохранительным органам. Из 22 указанных Рифхатом оборотней
                19 человек скромно отошли в тень (настолько они, бесспорно, были замараны). А вот трое оставшихся из
                общего списка, вину которых доказать было сложно, подали на Рифхата в суд. И… (ну, догадайтесь сами),
                правильно! Выиграли его! Двенадцать присяжных заседателей дружно, наперегонки подтвердили вину Рифхата!
            </p>
            <p> Как я уже говорил: смелость, порядочность, чувство ответственности для большинства у нас – непостижимые
                вещи. Это у советского дворянина Михалкова, в его фильме, присяжные на удивление оказываются приличными
                людьми и оправдывают чеченского мальчика. Ну, всё как в заказном кино. А в жизни – оно всё как в
                заказном суде. Рифхату дали три года условно. При полном, единодушном согласии присяжных. Теперь над ним
                три года, как на ниточке, будет висеть дамоклов меч: одно резкое движение, одно неосторожное слово, и
                карающий меч настигнет инакомыслящего (или просто мыслящего?).</p>
            <p> А судьи кто? И, эти самые – присяжные, которые приседают перед судьями? Кто они? Интересные статьи (я не
                про Уголовный кодекс) можно найти где угодно. Одну из таких статей нашёл на сайте «Против Путина». Она
                называется «Крысиные короли». Суть проста и доходчива. Если к умирающей от голода крысе подбросить уже
                мёртвую крысу, то голодная, после определённых колебаний, может начать пожирать трупик своего сородича.
                На следующей стадии эксперимента (ставит же кто-то такие опыты!), к той же крысе, подбрасывают
                полумёртвого сородича. Теперь голодающая крыса много времени на сомнения не тратит. Она почти без
                колебаний удовлетворяет свой голод. После этого наступает завершающий этап: к постоянно голодающей,
                обозлённой крысе подбрасывают живую, но более мелкую крысу. И озверевшая крыса сразу же бросается на
                слабую! Вот, это то, что я почерпнул для своих раздумий из статьи на сайте «Против Путина».</p>
            <p> Мои размышления: а что способствовало такому ужасному завершению эксперимента? Бесспорный ответ лежит на
                поверхности: постоянное чувство голода крысы. Это то, что на поверхности. Но есть вторая причина.
                Причина глубоко внутренняя: для того, чтобы стать крысой-людоедом (крысоедом), крысиным королём, вначале
                нужно быть КРЫСОЙ. Наверное, отсюда пошло жаргонное выражение «крысятничать» - использовать собственное
                преимущество, положение или ситуацию в свою пользу (А? Так что ли, господин Путин?). Так какие могут
                быть претензии к присяжным, к прокурорам, судьям, следователям? Мы же нация с основным отличительным
                признаком: всю жизнь (или всё время) мы голодные. Но это то, что на поверхности. А главное – внутри!
                Главное – натура у нас крысиная.</p>
            <p> Ну, вот! Опять сорвался. Хотел, ведь, мясорубку собрать, писать, по возможности, хорошее. Опять пулемёт
                получается. Ладно, исправлюсь. Напишу обращение к Валие. Валия – это жена Рифхата. Жена человека,
                которого отправляли в психушку. Который постоянно находится под «прицелом» у правоохранительных органов.
                Человек, которому вынесли приговор, только за то, что он констатировал общеизвестный факт. Которого
                осуждают за спиной трусливые или прикормленные обыватели.</p>
            <p> Валия! По разным критериям оценивают жены своих мужей. И это их право. Но твоего мужа, как личность,
                можно оценивать со стороны однозначно: он <span class="article__accent">человек</span>. Не крыса. Не
                альфа-самец. <span class="article__accent">человек</span>, которых сейчас
                мало. Не знаю, легче ли тебе, Валия, от такой оценки в небольшом городке, где все знают друг друга. И
                где тяжело проходить между людьми, предполагая, что за твоей спиной шушукаются или бросают вслед
                любопытствующие взгляды.</p>
            <p> Это потом, после ухода Путина, крысы будут пиарить самих себя, рассказывая, как они противостояли
                режиму. И эти же судьи и прокуроры будут рассказывать, как на них давили «сверху». Но они не
                поддавались! Голодные крысы, которые думают только о себе. Так что, Валия, может быть, ты над этим не
                задумывалась, но тебе повезло: ты живёшь с <span class="article__accent">человеком</span>. Хотя в нашем
                обществе это очень тяжело. Но ты
                мужайся. А этот приговор, три года условно, когда-то станет для него как медаль, как награда за его
                порядочность среди крыс.</p>
            <p> Ну вот! Опять пулемёт получается. Попробую с другой стороны. Хорошая новость: Топоркова уволили. И, как
                всегда, у нас это было сделано по-скотски, по-хамски. Вначале в Минсельхозе приняли решение о его
                увольнении: «За ряд невыгодных сделок». Это решение должен был подтвердить председатель правительства. У
                Топоркова ещё оставалась какая-то надежда. Ведь он по честному продал душу дьяволу. По честному, с кем
                положено, делился «откатами». Он считал, что заслуженно относит себя к элите общества. Приезжавшие с
                Екатеринбурга попы трижды прокричали ему «Аксиос!» в построенной им церкви. Это означало: «Достоин!
                Достоин! Достоин!» Подобный обряд был совершён над Кириллом, возглавившим самую могущественную
                Православную Церковь мира после смерти Патриарха Алексия II 5 декабря 2008 года. Такая честь! Такой
                почёт! А тут вызывают Топоркова к председателю правительства Гредину в конце рабочего дня и объявляют
                ему, что он больше не работает. Что это его последний рабочий день. Пшел вон отсюдова! Всегда найдутся
                дураки, готовые таскать горячие каштаны из огня. И никакая ты не элита, а презерватив, который после
                употребления выбрасывают.</p>
            <p> А ведь мне его жалко. Жалко по человечески. Сейчас пред ним, пред Топорковым, открываются круги ада,
                которые предстоит ему пройти здесь, на земле. Что ему предстоит дальше? «Элита», к которой причислял
                себя Топорков, от него откажется. Крысы хорошо чуют запах мертвечины. Все его высокопоставленные друзья
                куда-то рассеются. То ли сами растворятся в тумане, то ли Топорков станет полупрозрачным, невидимым. Но
                будет искать он их и не найдёт.</p>
            <p>Зато простые жители посёлка, работающие на птицефабрике и в последние годы прозвавшие её «концлагерем»,
                теперь чаще будут видеть Топоркова в посёлке. И через какое-то время, самые смелые или самые обиженные
                начнут плевать ему в спину, а кто-то – в лицо. Это у русских такая народная традиция. Крысиная.
                Попробуйте вспомнить кого-нибудь из разжалованных, из попавших в опалу. Вначале, в дни их успеха, для
                них жизнь была – длинный коридор, как и для всех, с закрытыми дверями. Но только им не надо было со
                страхом стучать в нужную дверь. В отличие от остальных они любую открывали пинком ноги. И им за любой
                дверью всегда были рады. Как же! Удачливая крыса-фаворит, чей-то любовник или любовница, или родственник
                чей-то, по делу или без дела, заглянула.</p>
            <p> Но вспомните судьбу сына Сталина – Василия или дочери Брежнева – Галины. Они, непосредственно ни в чём
                не виноватые, всеобщие любимцы и кумиры, спились и закончили жизнь в психушке. А ведь, когда-то, пока не
                изменился их статус, все двери открывались перед ними. И они видели только спины людей, раболепно
                согнувшихся в поклоне. Зато потом они увидели вокруг себя высокий забор из этих же самых спин: спины,
                жопы и отвернувшиеся крысиные морды.</p>
            <p> Топорков может спросить: откуда мне всё это известно? В какой-то мере наша семья это всё пережила. Шесть
                лет, благодаря вам, мы видели вокруг себя забор из спин. Только мы не сошли с ума, не спились. Мы
                молились и просили помощи у Бога. Но нам было легче, чем придётся сейчас Топоркову. Потому что за всё
                это прожитое время нас не мучила совесть. У нас не было страха, что придётся держать ответ перед Богом.
                На войне человек становится или трусом или героем. Мы не сломались. Перед Богом мы чисты. А то, что о
                нас по деревне болтают… Ослабевшей крысе лучше не попадаться сородичам ни на зубок, ни на язычок. Так
                что после того, как вас уволили, мне искренне, без злорадства, вас жалко, господин Топорков.</p>
            <p> А вообще, проблема русского народа в том, что он как загипнотизированный всегда следует за дудочкой
                крысолова (крысовода?). Правда, потом он (народ) с удовольствием пожирает своего Данко: царя, вождя
                революции, или нацлидера. Но такой поворот событий уже не из сказки, а из нашей истории. И ещё один
                характерный момент: кто-нибудь обращал внимание, как в нашей стране крысы непредсказуемо линяют? Вначале
                они были серые. Потом красные. А сейчас они стали коричневые. Открыто сбиваются в стаи на площадях
                городов и кричат: «Россия для русских!» Кстати, может, поэтому Рифхат остался человеком, что он не
                русский?</p>
            <p> Ну, вот, опять пулемёт получился! Ладно, видно по-другому у меня не выходит – руки не оттуда растут. Не
                буду себя насиловать: пулемёт, так пулемёт. Я лучше на Олю пожалуюсь: она предложила президенту
                Медведеву заключить с ним пари (<a href="https://ural-politiks.livejournal.com/777055.html"
                    class="article__ref">видеообращение к президенту</a>).</p>
            <p>Суть в том, что, по мнению бывшего главного бухгалтера, не уволят Топоркова Николая Васильевича за
                хищения в особо крупных размерах. А уволят по любой, ничего не говорящей статье. А ведь так и
                получилось. Оля оказалась права. В появившимся позже приказе об увольнении Топоркова написано: «Директор
                птицефабрики уволен по ст. 278 ТК РФ» (по решению собственника). Повезло Медведеву, что он не смотрит
                подобные видеообращения (их, наверняка, уже тысячи) и поэтому не заключает пари. А то бы проиграл.</p>
            <p> В этом крысином государстве всё как не у людей. И пока Крысиный король играет на своей дудочке, все
                будут танцевать под его мелодию, двигаясь в указанном направлении. А как быть тем сумасшедшим, которые
                осмелились выступить против коррупции? Что делать-то нам? Ну, почему у нас всё шиворот-навыворот,
                наизнанку? Где моя мясорубка?</p>
            <p class="article__stars">* * *</p>


        </article>
    </main>
    {{> footer}}
</body>

</html>