<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Вещдоки и голый король</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Вещдоки и голый король</h1>
            <p>24 апреля ночью пошёл снег. Вот тебе и весна. Утром всё было белым-бело. Снег идёт весь день.
                Удивительно, но земля как-то скукожилась. Сплошной снежный покров выглядел нелепо, лишним; словно
                небрежно нанесённая косметика на лице пожилой женщины. Осенью так не бывает. Обильный снегопад украшает
                землю, как женщину вуаль. Придаёт ей иной образ и какую-то таинственность. Всегда хочется первым
                оставить следы на этом дивном белом покрывале.</p>

            <p> Опять вызывали к следователю. На этот раз забрать свои вещи, которые так и не стали вещдоками. Вроде бы,
                должен радоваться: меня не посадили, да ещё и вещи назад возвращают. Я и радуюсь: мне нравится такое
                отношение к быдлу. По <a href="http://vestnikcivitas.ru/ec/2971" class="article__ref">обвинению
                    (подозрению?) в экстремизме</a> эти абвгдейки нашли возможность, время,
                людей и машину, чтобы приехать, учинить обыск, увезти всё, что для них представляло хоть какой-то
                интерес. Сейчас они, мимоходом, без извинений, ставят в известность меня, чтобы пришёл, забрал свои
                вещи.</p>
            <p> Да я, после операции, должен два месяца передвигать своё тело на костылях, желательно не выходя из дома.
                До Асбеста километров семнадцать. Это нужно нанимать машину. Мало того что туда надо как-то доехать, мне
                придётся за каждую конфискованную вещь расписываться: сдал – принял. То есть, машину надо искать часа на
                полтора. По деньгам – где-то на тысячу будет. Это много или мало? В стране, где воруют миллиардами, а
                взятки дают миллионами, это мизер. Проблема для меня в том, что я не ворую и взятки мне не дают. Но
                Следственный комитет подобные мелочи не волнуют. Это же мои проблемы, мелкие проблемы инвалида! А
                Следственный комитет работает по крупному. Как люблю эту сранную срану! (опять клавиатура не
                пропечатывает букву «т»).</p>
            <p> Вроде должен радоваться – меня не посадили, да ещё и вещи назад вернули. Это надо же, какие душевные
                люди! Но почему не проходит ощущение тяжести на сердце? На другой день, после того как нам вернули вещи,
                раздался телефонный звонок. Это был участковый. Его интересовало: кто мы такие, где работаем, сколько
                человек проживает у нас. Он пояснил, что Следственный комитет запросил на меня с Олей характеристику. А
                заодно он поинтересовался, чем вызван к нам такой интерес. Я сказал, что из-за обвинения в экстремизме.
                Он не то хмыкнул, не то поперхнулся и положил трубку. Значит, опять будут ходить расспрашивать соседей.
                То есть маховик продолжает крутиться. До этого фсбешники ходили, вынюхивали.</p>
            <p> Так чем я не доволен? «Ложечки-то нашлись!» Но осадок остался. Я-то надеялся, что не только ложечки
                найдутся. Надеялся, что в моём дневнике эти абвгдейки (ФСБ, СК, Э, …) найдут что-то <span
                    class="article__accent">действительно</span>
                значимое, напрямую адресованное для них. Но они ничего такого не «нашли». Фсбешники (работнички
                невидимого фронта), которые и затеяли это дело в надежде отличиться, попросту умыли руки. </p>
            <p class="article__remark"> "В связи с тем, что дело находится в ведении следственного управления, мы не
                вправе комментировать его,
                так как только следователь может решить, что допустимо рассказывать публике", – заявила «УралПолит.Ru»
                пресс-секретарь областного управления ФСБ Анна Ластовецкая».</p>
            <p>Во как! ФСБ, заварившее кашу, показывает свои чистые руки: «А рученьки-то, вот они!» Весьма
                предусмотрительная позиция.
                Зато СКР не скрывает желания вести борьбу с врагами народа.</p>
            <p class="article__remark">В местном отделении Следственного комитета корреспонденту «УралПолит.Ru» заявили,
                что пока проверка
                высказываний Ткалича продолжается: «Уголовное дело возбуждено по материалам проверки ФСБ, поступившим в
                наш отдел. Ткалич публично в Интернете оскорблял руководителей государства и РПЦ, называл православных
                «быдлом», оскорблял руководителей страны, называл их «клоунами» и т. п.»</p>
            <p>Вот до чего довела демократия Россию! Руководителей страны кто-то посмел назвать клоунами! «Не должно
                сметь своё суждение иметь!»</p>
            <p> Почти десять лет мы рассылали в СК России, в ФСБ, в Генпрокуратуру документы о расхищении Рефтинской
                птицефабрики. Реакции со стороны этих правоХОРОНИТЕЛЬНЫХ органов не было никакой. Только Оле продолжали
                «шить» новые дела. И вот, в очередной раз органы наводят тень на плетень. «Наряду с оскорблениями они
                любят рассказывать, как их притесняют, жену якобы из-за ее религиозных предпочтений с работы уволили», –
                заявил корреспонденту заместитель руководителя следственного отдела по Асбесту областного СУ СКР Егор
                Медведевских». Чего врать-то, Егор Медведевских? Положение обязывает? Или дозволяет? Кому мы говорили,
                что Олю уволили из-за религиозных предпочтений? Речь идёт о моём дневнике, и весь дневник я пишу: жену
                уволили за то, что раскрыла факты коррупции. Она предоставляла вам всем (и сейчас готова представить)
                документы о хищении на сотни миллионов рублей. Сейчас, наверняка, речь уже идёт о миллиарде.</p>
            <p> Но правоХОРОНИТЕЛЬНЫМ органам на это наплевать. Главное: создать в обществе впечатление, что у этих
                борцунов с коррупцией «руки по локоть в крови». </p>
            <p class="article__remark">«Источник «УралПолит.Ru» в одной из правоохранительных структур утверждает, что
                вопреки высказываниям
                Ткалича внимание силовиков привлекли не только две его статьи. «На самом деле это не какие-то старые
                записи, а публикации в том числе и на их официальном сайте за последние пять лет. И они продолжают
                выходить до сих пор. Речь не идет о том, что дело возбуждено исключительно из-за нападок на
                православных, оскорблениям подвергаются и другие религии и органы государственной власти. И то, что они
                пытаются сделать из себя жертв режима, не более чем их собственные фантазии», – заявил собеседник нашего
                агентства»</p>
            <p> Вот теперь как расширили сектор обстрела: есть какие-то «старые записи», плюс «отдельные публикации», а
                главное – дневник, который публикуется «на их официальном сайте за последние пять лет» (Почему 5 лет?
                Уже 10 лет). Что при этом ставят мне в вину? Нападки на православных (а в России почти все
                православные), оскорбление других религий (это те, кого не «охватило» православие) и, страшно
                выговорить, оскорбление ОРГАНОВ ГОСУДАРСТВЕННОЙ ВЛАСТИ. Получается, что в несчастной России никого не
                осталось, кого бы я, походя, не пнул. В духовном мире я оскорбил всех верующих, в светском мире я
                оскорбил представителей государственной власти. И никакие мы не жертвы режима, а просто у нас что-то с
                головой не в порядке; и живём в собственных фантазиях, как уверенно утверждает источник из
                правоохранительных структур. Звучит убедительно! Неважно, что из всего сказанного ничего не доказано.
                Народ должен поверить и ужаснуться этому распоясавшемуся экстремисту Ткаличу.</p>
            <p> По поводу собственных фантазий: действительно, какие же мы с Олей идиоты! Нет, правда! Когда только Оля
                объявила войну коррупции на местном уровне (откуда мы знали, что Путин НАВСЕГДА), из-за того, что
                Топорковым были украдены всего-навсего какие-то миллионы (не десятки и не сотни тысяч миллионов), мы
                переносили документы, подтверждающие хищения, в сумке, с квартиры на квартиру. Боялись обыска, боялись
                потерять компромат на директора птицефабрики. Наши знакомые предложили спрятать документы у них дома, в
                бочке с квашеной капустой. Вот как! Сейчас смешно, потому что эти документы не нужны до сих пор никому.
            </p>
            <p> Теперь документально подтверждено, что ФСБ дало наводку на мой дневник, после чего СКР завёл на меня
                дело. Да, вы игнорировали мой дневник почти 10 лет, делали вид, что его не существует, но сейчас-то вы
                ознакомились с ним! И вот тут оказалось, что украденный миллиард, гонения на нашу семью за попытку
                разоблачить коррупционеров никого не интересуют. Украденный миллиард – это мелочь. Для этих лизоблюдов,
                прикормленных властью, страшно то, что руководителей страны я где-то назвал «клоунами». Именно это
                представляет опасность, а не какой-то украденный миллиард. Действительно, что такое миллиард в стране,
                где разворовывают десятки и сотни миллиардов? Тем более что воруют уважаемые, известные всем люди, с
                известными всем фамилиями. Вот если бы какой-нибудь алкаш попробовал вынести из магазина бутылку водки…
                Или как Навальный «украл» 16 миллионов…</p>
            <p> Ну, раз уж в правоохранительных органах определили мне место для жизни в «собственных фантазиях», то
                позвольте пофантазировать. Конечно, с одной стороны, Путину я благодарен (я же предупредил, что
                фантазирую). В чём его заслуга? Он жестоко пошутил над великим могучим героическим советским народом.
                Такое мы вытворяли, когда в детстве купались на речке. Стоит мокрый, посиневший от холода, дрожащий
                пацан. К нему сзади подкрадывается сорванец и резким движением сдёргивает трусы. Несчастный пострадавший
                не знает что делать: то ли прикрывать ладошками свой срам, то ли беззащитно нагнуться, выставив
                нетронутый загаром зад и скорее натягивать скрученные сырые трусы.</p>
            <p> Путин, по недостатку ума, сделал то же самое. Он сдёрнул с совка трусы, и тот остался голым,
                неприкрытым. Таким, каким совок есть на самом деле: жалкий, трясущийся, озлобленный, готовый мстить
                всему свету. Теперь он не прикрывается даже фиговым листочком – моральным кодексом строителя коммунизма
                или суверенной демократией. Да, за последние годы Путин-мальчик, сам того не желая, показал всему свету:
                а король-то голый! Чтобы там король-совок ни мнил о себе, без одежды и украшений он отвратителен. Я
                благодарен недалёкому и мстительному Путину за раздевание совка и показ его перед всем миром. Теперь уже
                никто не заблуждается в своём мнении о советском народе.</p>
            <p> Зато сейчас (опять «благодаря» Путину) дерьмо, всплывшее наверх, плюёт на законы и разворовывает
                собственное государство. Для потомственных рабов, ставших российской «элитой», государство превратилось
                в собственность. И правоохранительные органы стали их собственностью. Они мечтают о безраздельной власти
                над другими рабами, о зависти к себе со стороны таких же рабов, о собственном богатстве. Ради этого,
                крича о патриотизме, они, кто могут, разворовывают Родину-мать под защитой правоХОРОНИТЕЛЬНЫХ органов.
            </p>
            <p> Устал я от бессилия и безысходной ненависти. Дописываю этот кусок своих злоключений уже больше месяца.
                Начал ещё в апреле, в день неожиданного возвращения зимы. Тот снегопад шёл четыре дня. А мы за два дня
                до начала снегопада пригласили представителя ЖКХ (или кто они сейчас?), чтобы нам отключили тепло и
                поставили пломбы. Здесь у частников почти у всех центральное отопление. У нас задолженность по оплате за
                тепло. Вот и решили сэкономить, раньше всех отказаться от тепла. Специалист отключил, запломбировал, а
                вскоре пошёл снег. Пару дней, как могли, мы терпели в нетопленом доме. Но потом сдались. Позвонили в
                ЖКХ, предупредили, что снимаем пломбы. Когда потеплело, снова вызвали представителя. Он снова
                запломбировал. Теперь, надеюсь, уже до зимы.</p>
            <p> В отношении денег. Незнакомые люди высылает нам деньги на PayPal. Я серьёзно отношусь к абвгдейке и
                всегда веду себя так, как будто они на самом деле всё видят, всё слышат, всё знают. И не хочу, чтобы
                возникли обвинения, будто я пишу свой дневник по заказу, и кто-то мне за это платит. Поэтому деньги мы
                отправляем назад отправителям. Не обижайтесь, люди добрые, на нас за это. Мы вам очень признательны. Но,
                как видите, нам изо всех сил пытаются испортить жизнь. И мы, будучи врагами народа, должны быть
                осмотрительными.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>