<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Национальный герой</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Национальный герой</h1>
            <p> К нам едет ревизор! Как, собственно, едет?! Да, нет. Никто никуда не едет. Просто общественности, к
                месту, напомнили о «Ревизоре». Даже не о «Ревизоре», а о Тарасе Бульбе. И даже не к месту, а ко времени:
                200 лет со дня рождения Гоголя. Опять же, если честно разобраться, то общественности на Гоголя…. Мягко
                говоря, Гоголь нам, как и многое другое, глубоко безразличен. Только не уверяйте меня, что вчера
                собрались тесной компанией и между первым и вторым пузырём говорили о «Мёртвых душах»</p>
            <p> О Гоголе мы вспомнили, как всегда, при достаточно уважительном поводе. Появилось желание опять у кого-то
                что-то отнять и при этом еще плюнуть в душу. Из-за этого мы на юбилей Гоголя объявили его русским. По
                национальности (пусть хохлы помучаются!). А Тараса Бульбу русским по духу. Почему Тарас Бульба нам
                пришёлся по душе? Ну, как? Сына своего на войне за идею убил! За идею – нам это очень близко. На войне
                как на войне! </p>
            <p> А поскольку мы народ принципиальный и идейный, то подобные отношения между отцом и сыном должны служить
                наглядным примером в деле патриотического воспитания. Вот, к примеру, вчера это ещё был для нас братский
                народ, а сегодня – это уже наши враги. Или - дома, с утра, он мне ещё был отцом, а в обед – он в колонне
                несогласных или пенсионеров, протестующих против монетизации. Ну, тогда не дрогнувшей сыновней рукой по
                башке ему резиновой дубинкой!</p>
            <p> Так что Тарас Бульба это, несомненно, русский человек. По духу. В качестве наглядного пособия такие
                герои нам необходимы. Только пусть хохлы нос не задирают, есть и у нас похожие герои. Например, Иван
                Грозный.</p>
            <p> И, конечно, Гоголь русский по национальности. Тут нечего спорить. По-другому быть не может. И Шота
                Руставели русский. И Иисус Христос был русским. Да как в стране победившего православия, с многовековыми
                корнями и национальными традициями, могут покланяться кому-то (чему-то) не русскому?! По-моему, так все
                евреи, прославившие себя, были на самом деле русские.</p>
            <p> Но вернёмся к «Ревизору». В этой комедии ирония судьбы заключается вовсе не в том, что какой-то
                проходимец удачно всех обманул, выдав себя за ревизора. Вот что пишет сам Николай Васильевич,
                недовольный такой примитивной трактовкой комедии: «Хлестаков вовсе не надувает; он не лгун по ремеслу».
                Так в чём же дело? А в том, что волею Гоголя, безвинного Хлестакова ревизором «назначили»! И назначили
                ревизором сами окружающие. А у него в голове даже мыслей таких не было. Он и не пытался в этом захудалом
                городишке кого-то вводить в заблуждение. Ходил голодный, заглядывал в чужие тарелки.</p>
            <p> Что подтверждает эту версию? Хлестаков сам рассказал красноречиво об этом, когда его «понесло», как
                Остапа Бендера. Только Хлестаков расскажет об этом иносказательно, применительно не к данному городишке,
                в котором он застрял, а как об эпизоде из его жизни в Петербурге.</p>
            <p> - Один раз я даже управлял департаментом. И странно: директор уехал, – куда уехал, неизвестно. Ну,
                натурально, пошли толки: как, что, кому занять место? И в ту же минуту по улицам курьеры, курьеры,
                курьеры… можете представить себе, тридцать пять тысяч одних курьеров! Каково положение? – я спрашиваю.
                «Иван Александрович, ступайте департаментом управлять!» Я, признаюсь, немного смутился, вышел в халате;
                хотел отказаться, но думаю: дойдёт до государя, ну да и послужной список тоже… «Извольте, господа, я
                принимаю должность… только у меня: ни, ни, ни!.. Сюда нужно смотреть! И слушать, что я говорю! Уж у меня
                ухо востро! Уж я… если что, мочить всех буду в сортире!</p>
            <p>Бедный Хлестаков! Если бы даже сбылись его шальные мечты, то всё вышло бы как в поговорке: доверили
                дураку стеклянный … Нет, как-то не так. Вспомнил! Доверили дураку хрустальную волшебную палочку. Но
                надолго ли она ему? Потому что даже Гоголь так описывает своего героя, которого с кем-то спутали:
                «Молодой человек, тоненький, худенький; несколько приглуповат и, как говорят, без царя в голове, – один
                из тех людей, которых в канцелярии называют пустейшими. Говорит и действует без всякого соображения.
                Речь его отрывиста, и слова вылетают из уст его неожиданно. «О! Я шутить не люблю. Я им всем задал
                острастку. Меня сам государственный совет боится. Да что в самом деле? Я такой! Я не посмотрю ни на
                кого… Кто меня обидит, тот трёх дней не проживёт! Я говорю всем: «Я сам себя знаю, сам». Я везде,
                везде!»</p>
            <p>Последние слова лично мне непонятны. Как он может быть «везде, везде», если телевизоров в ту пору ещё не
                было? Но, наверное, даже в этом проявляется прозорливость русского Гоголя. Так о чём хотел сказать
                Николай Васильевич, что первоначально Хлестаков намеренно никого не вводил в заблуждение? Что у него
                попросту на это мозгов бы не хватило? Гоголь явно пытался сделать акцент на том, что Хлестакова
                «назначили» на должность ревизора; и именно те, кто впоследствии очень и очень пострадали от
                собственного скудоумия.</p>
            <p> Что было за этой попыткой со стороны Гоголя? Ирония над великим и могучим русским народом? Скрытая
                насмешка? Или констатация факта о безнадёжности ситуации? «<span class="article__passage">Может ли
                    слепой водить слепого? не оба ли
                    упадут в яму?</span>» (Лука, 6,39). Но, по-своему, у комедии счастливый конец: Хлестаков
                благополучно
                скрывается. Он вовсе не ревизор. И, слава Богу, не директор департамента. А могли ли в России такого
                «назначить» к власти? Гоголь со смехом (комедия же!) утверждает, что у нас всё возможно.</p>
            <p>Когда я смотрю на заключительную немую сцену комедии, где действующие лица замерли в различных позах, мне
                вспоминаются кадры из кино-фотохроники. Там так же запечатлен советский народ, но только в очередном
                экстазе перед очередным вождём. И чем же всегда заканчивался этот экстаз для народа?</p>
            <p class="article__accent">
                «Он докушал огурец
                <br>
                И закончил с мукою:
                <br>
                «Оказался наш отец
                <br>Не отцом, а сукою»
            </p>
            <p>А сколько сил было потрачено на
                очередного ревизора? Сколько эмоций? А он, с завидным постоянством, оказывается не отцом нации, не
                национальным лидером, а каким-то Хлестаковым, случайно дорвавшимся до власти.</p>
            <p> Говорят, Гоголь сжёг ту часть «Мёртвых душ», где он пытался описать, что Россия может жить хорошо. Но,
                видимо, ни фантазии, ни таланта у него на такую картину не хватило. Образ Вия он мог представить. А
                Россию с человеческим лицом – нет. Но ничего! Пройдёт этот юбилей, и про уроки Гоголя опять забудут на
                сто лет. До следующего юбилея. Только не уверяйте меня, что вчера собрались тесной компанией и говорили
                о «Мёртвых душах».

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>