<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Больше никто не умрет?</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Больше никто не умрет?</h1>
            <p> «Больше никто не умрёт»*, - это обещание который день доносится с экрана телевизора. Это заклинание
                должно вбить в нашу голову понимание того, какие мы добрые, какие мы миролюбивые. Эхом разносится по
                России: «Клянёмся? - Клянемся!!! Мы добрые! Больше никто не умрёт!» Единогласие полное.</p>
            <p> Ну, и слава Богу! Значит, после Маркелова больше не будут убивать? Давно пора! Сколько же можно? Хотя,
                почему после Маркелова? После него сколько уже убитых? Та же Наталия Эстемирова. Скольких уже похоронили
                после? У нас жизнь, как в бандитском Чикаго. Но только в масштабах целого государства.
            </p>
            <p>Или речь идёт не о таких людях – связанных с политикой, с бизнесом, с правозащитной деятельностью? Тогда,
                значит, мы клянёмся, что больше не будем «мочить» этих, как мы их называем, «черноглазых»? Да нет: пусть
                никто не обольщается. Как мочили мы их в сортирах и подворотнях, так и мочим. Сегодня по «Эхо Москвы»
                передали, что с начала года уже убиты десятки «черноглазых». В числе лидеров по убийствам на
                национальной почве находится официальная столица нашей родины Москва и вторая, неофициальная, столица –
                Петербург. То есть тон задают и показывают остальным пример политические и культурные центры России.
                Волна от центра идёт к окраинам. Похоже, мы вошли во вкус, моча «черноглазых». И скоро это не
                прекратится.
            </p>
            <p>Так всё же: кто у нас больше не умрёт? Сейчас объясню. Мы взяли шефство. Нет, не так. Мы организовали
                заповедник. И взяли его под свою охрану. Теперь, мы категорически всех предупреждаем: больше там никто
                не умрёт! Без нашего разрешения. На территории своего заповедника будем охотиться сами!!! А если кто-то
                попробует туда сунуться… Теперь осетины и абхазы должны чувствовать себя, в своём заповеднике (пардон,
                пардон, миллион извинений: в нашем заповеднике!), как у Христа за пазухой. Это мы им гарантируем. Ну и
                что, что каковы наши гаранты, таковы и наши гарантии? Всегда всё имеет свои ограничения.</p>
            <p> То есть: если они (абхазы, осетины) надумают покинуть заповедную территорию, поехать в Москву, в Питер
                или куда-нибудь в Россию, то тогда для них это торжественное обещание (больше никто не умрёт), не
                сработает. На родине суверенной демократии они будут на общих основаниях со всеми «черноглазыми»: первый
                же мент сдерёт с них взятку, первый встречный может их оскорбить, в первой подворотне или сортире их
                могут замочить. Они должны помнить, что это уже не их территория искусственного заповедника. Оставь
                надежду всяк сюда входящий. Это территория российского (расистского?) зверинца.
            </p>
            <p> Очень мне хочется посмотреть в глаза создателям этого лозунга: «Больше никто не умрёт». Вначале
                посмотреть в глаза, а потом плюнуть в морду. Мы растёрли сладострастно чеченский народ и его
                государство. Растоптали человеческие судьбы, семьи. Уничтожили тысячи, десятки тысяч, речь идёт о сотнях
                тысяч людей. Мы забыли о правах человека для чеченцев, забыли о том, что мы сами люди! Для чего это всё?
                Наверное, тоже хотели заповедник устроить? Нам отказали. Тогда, в наказание, мы поставили у них к власти
                путинского клона: мстительное, кровожадное, ограниченное существо, мечтающее оставить след в истории.
                После всего этого о чеченцах, о разделённой нации, об их проблемах в порядочном обществе никто не
                вспоминает.
            </p>
            <p> Зато осетинам и абхазам мы обещаем, что больше никто не умрёт. А чем они отличаются от чеченцев? За что
                вдруг мы их так полюбили? Они из другого теста сделаны? В отличие от чеченцев их нельзя бомбить, гноить,
                убивать? На них у нас нет Шамановых-Будановых? Может, на них распространяются общепринятые международные
                нормы, которые мы не соблюдаем? Да, если по правде, из нас никто не отличит осетина от абхаза, абхаза от
                чеченца. «Больше никто не умрёт»! Для всех для них у нас одно название: лица кавказской национальности.
                И, если по-честному, то нам без разницы, кого мы мочим. Встанет утром Путин не с той ноги, даст команду,
                и мы также будем мочить осетин и иже с ними.</p>
            <p> А новообразованный заповедник из каких-то, по-видимому, очень гуманных соображений мы устроили на
                грузинской территории. Как, это невозможно? У нас всё возможно! Ну и что, что это территория другого
                государства? У сильного всегда бессильный виноват. Кто такая Грузия? Мальчик в очках с шахматной доской
                (или со скрипкой в руках), перед кодлой бесстрашной шпаны. Шпана – это исключительные герои. Ничего, что
                кто-то из них энурезом мучается, и обычно во главе кодлы стоят психически неуравновешенные личности.
                Всемером на одного не боятся никого.</p>
            <p> На страницах своего дневника я всегда называл чеченцев братьями. Специально. В противовес официальной
                пропаганде хотел подчеркнуть нашим воякам, что они братоубийцы. А сейчас понял, что не могу грузин
                назвать братьями. И чеченцев тоже не могу. Не имею права. Господи, с такими братьями, как мы, и врагов
                не надо! Сейчас понимаю, что называться братом – это честь, которой мы не заслуживаем. Да кто из них
                захочет называться братом шакала? Чтобы считать себя братом, надо дождаться, когда нас так назовут те,
                кого мы «мочили» без сочувствия и угрызений совести. Кого мы преследовали и уничтожали на их же
                территории, и в их же домах. Будет ли такое прощение нам?</p>
            <p> То, что мы не способны к покаянию, говорит об уровне нашего развития и глубине нравственного падения. Но
                если нас (когда-то!!!) простят эти люди, пострадавшие от нас… Это будет настоящее великодушие. Я,
                воспитанный в советском обществе, не могу этого понять. Потому что нас со школьной скамьи учили: не
                забывать, не прощать, ненавидеть.</p>
            <p> Например, в нас до сих пор всячески поддерживают ненависть к немцам, к Германии, маскируя это нелюбовью
                к фашизму. А зачем? Немцы давно покаялись и попросили перед всеми прощения. А мы не простили. И сами ни
                в чём не покаялись. Зато фашистов теперь у нас больше, чем у них, в Германии. Постоянную ненависть в нас
                искусственно поддерживают ко всем и ко всему окружающему миру. Для нашего руководства в этом есть
                определённый смысл. Чем большее количество объектов мы ненавидим, тем меньше заслуженной ненависти
                достанется чекистам, коммунистам, всему советскому. Тем дольше они будут пребывать у власти и являться
                властителями наших дум (душ?)</p>
            <p> Мы все пропитаны этой ненавистью, все, как солдатские сапоги пропитаны запахом пота. Мы такие. Неважно
                кого мы ненавидим и чем это мотивируем. Я сам вначале ненавидел только Путина, при этом пытаясь понять:
                как этот призрак коммунизма (или признак?) смог вылезти после очистительных девяностых годов? Но он с
                такой любовью был принят народными массами, что через 8 лет правления чекиста я возненавидел и эти
                влюблённые массы. Я бы с удовольствием уехал в Грузию. Насовсем. Жить. Отдохнуть от ненависти. Хоть я
                тоже «совок», надеюсь, что человеческого во мне всё-таки больше. И любви к людям. К обычным, нормальным
                людям.</p>
            <p> Провести остаток своих дней среди людей. Это моя голубая мечта. Но людоеды не позволят. Я не к тому, что
                меня не выпустят из России. Я о том, что сапоги российских солдат (непременно героических защитников
                родины) ещё потопчутся по земле Грузии, как вытоптали чеченскую землю. Когда Медведев заявил, что
                «Россия в своей внешней политике готова отвечать ОЧЕНЬ ЖЕСТКО, но лишь тогда, когда действия партнёров
                угрожают интересам граждан страны», я сразу подумал, что на интересы граждан страны у нас уже давно
                начхали.</p>
            <p>а была разрешена борьба с террористами на чужой территории, и сразу уничтожили Зелимхана Яндорбиева в
                Катаре и Александра Литвиненко в Англии. Сегодня под обещание Медведева «отвечать очень жёстко»,
                последовало принятие закона об «Оперативном использовании вооружённых сил за пределами страны». Вот и
                всё. Приехали. Тандем чекиста и юриста. Почувствуйте разницу.</p>
            <p>Люди добрые! Те, кто пострадал от нас. Простите нас, сукиных сынов…. Нет, не так. Простите нас,
                бессердечных кухаркиных детей, выродков – представителей вырождающейся империи. Все, кто пострадал от
                нас, простите. Может, мы это и не со зла делаем. Вы только посмотрите: кто нами руководит!? Может, из
                нас кто-то мучается этим в душе, проклиная всё и вся. Но вам от этого не легче. Потому что в массе своей
                мы как та потаскушка из притчи в Библии: «Таков путь и жены прелюбодейной: обтёрла рот свой и говорит:
                «я ничего худого не сделала». Зато, как звонко мы обещаем: «Больше ни кто не умрёт!»</p>
            <p> Не умрёт. Население в собственной стране сокращается. Пенсионеры мрут, как мухи. Попробуй, проживи на
                такую пенсию, да ещё оплачивая мнимые услуги ЖКХ, и с таким здравоохранением. Но зато, какие обещания,
                какие гарантии: «Больше никто не умрёт!» Впрочем, не один я это отметил: каковы гаранты, таковы и
                гарантии. Но зато наши самолёты патрулируют воздушное пространство во всём мире! Недавно наши подводные
                лодки стали патрулировать у берегов Америки. Комплекс неполноценности и мания величия. </p>
            <p> Показывали по телевизору, что беженцы из Африки бегут на остров Мальта. Там им выплачивают ежемесячно,
                пока не решится их судьба, по 130 евро. Это почти шесть тысяч рублей. У нас по России бывшие строители
                коммунизма, ударники комсомольских строек, по пять тысяч пенсии не все получают. А здесь беженцы, и у
                них пособие ежемесячное 130 евро!</p>
            <p> Насчёт Грузии я говорю искренне: была бы возможность – я бы уехал туда. И размеры пенсии меня не
                интересуют. Пока наши там своего Кадырова не посадили. Под это самое обещание: «Больше никто не умрёт!»
                Не верю! Людоед-вегетарианец? Не верю.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>