<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Без ближнего</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Без ближнего</h1>
            <p>В <a href="/diary-chosen/wild-garlic" class="article__ref">дневнике от 25 февраля</a> высказал своё
                мнение
                по поводу
                гибели
                четырёх человек. Они, у себя на родине,
                пошли в лес за черемшой. Их задержали российские солдаты. Если судить по опубликованным фотографиям, то
                русские парни неплохо поиздевались над сборщиками черемши, прежде чем прикончить их. Вот подробности,
                которые даны на сайте правозащитного центра «Мемориал»: «На теле Шамиля Катаева были множественные
                огнестрельные ранения, во лбу – пулевое отверстие (см. фото ). Рамзан Сусаев, со слов родственников, был
                убит выстрелом в грудь. У него также «вся левая сторона обстреляна, разодрана спина и сломана левая
                рука, на правой стороне – тоже огнестрельное ранение. Мовсар Дахаев (1992 г.р.) был убит тремя
                выстрелами в спину». </p>
            <p> Что думал я по этому поводу, то и написал. Но меня поразила проявленная в этот раз реакция читающих мой
                дневник. Обычно на мои статьи не бывает никаких комментариев. Обыватель знает главный принцип: собака
                лает, караван идёт. Мне почему-то позволено гавкать до хрипоты, всё равно караван благополучно идёт
                своим курсом. Зато в этот раз на статью было целых два(!) отзыва. Значит, статья кого-то задела. Кого?
                Привожу оба отзыва так, как они есть.</p>
            <p class="article__remark">«Очередной ужастик от очередного бытоописателя. Для начала: он никогда не видел
                людей после авиаудара.
                Тогда бы не писал, что перед смертью над ними издевались. Кроме того, писатель умалчивает, что местное
                население было предупреждено о том, что там идёт операция. Если кто-то хочет перебежат скоростную
                магистраль, не должен обижаться на водителя, который его сбил. Вольному – воля».<br>
                «Враги страны написали очередной пасквиль, даже к фактам реальным решили не привязывать, просто написали
                эссе на тему "как я ненавижу Россию". Аффтар, пиши ысчо!».</p>
            <p> Вот, это наш уровень. Истинный, настоящий. Или тот, до которого нас хотят опустить? В любом случае, из
                этих комментариев видно: у дорогих россиян нравственных проблем нет. Всё сводится к тому, что кто-то,
                где-то, не вовремя перебежал дорогу. А ты не бегай, и всё будет хорошо! И не надо обижаться на водителя,
                скорее всего – он хороший человек! Зато тот, кто пишет на эту тему очередной пасквиль, кому никак
                неймётся – враг страны. И он (подразумевается, гад) ненавидит великую Россию, с многовековыми
                традициями.</p>
            <p> В подобной ситуации я первый раз в жизни доволен, что я русский. Представьте себе, что какой-то татарин,
                чеченец или еврей заявил, что он ненавидит Россию. Его сразу бы обвинили в национализме, шовинизме,
                экстремизме и, до кучи, приписали бы участие в террористической организации. Как русский я, не рискуя
                прослыть нацистом, могу сказать, что ненавижу свою страну. Этих недоумков, 75% которых поддержали и
                восхищались новым нацлидером. Которые неистово кричали ему: «Осанна! Слава грядущему!». Зато, как только
                урезали паёк, комбикорма в корыте у них стало меньше, они сразу протрезвели. Сейчас уже тысячные митинги
                собираются, скандируя: «Долой Путина!». Теперь они прозрели и нашли источник своих неприятностей.</p>
            <p> Но как я, верующий человек, могу позволить себе кого-то ненавидеть? И уж тем более целую страну? И чем я
                тогда отличаюсь от обычного совка, ненавидящего всех и постоянно находящегося в окружении врагов? Ведь
                первая и наиглавнейшая заповедь для христианина – ВОЗЛЮБИ! Возлюби Господа своего, возлюби ближнего
                своего.</p>
            <p> Возлюби Бога своего. Возлюби Его как Творца, как Создателя, как Отца. Милостивый и Справедливый
                Всевышний. Есть за что Его любить. А ближний? Кто это? Тот, до кого я могу дотянуться рукой? Или тот,
                кто попал в поле моего зрения? Иисус в своей притче о добром самаритянине обозначил ближнего, как просто
                человека, оказавшего тебе милость. Тогда, из этой подсказки следует, что исполнение главной заповеди
                христианина основано на чувстве благодарности. Благодарности за помощь, поддержку, за оказанную милость.
                Исходит ли это от Бога, или от первого встречного человека – это не имеет значения.</p>
            <p> Иисус заповедует своим последователям: «Возлюби». Возлюби ближнего своего. Даже язычника. Даже человека
                другой веры. Если он оказал тебе милость, если он сотворил тебе добро – будь благодарен ему бесконечно.
                Возлюби его. А чтобы мы не ожидали бездеятельно, находясь в покое, человека, который сотворит нам
                милость и через это даст повод полюбить его, Иисус стимулирует нас самих на добрые дела, утверждая, что
                мы - свет мира, что мы – соль земли. И свет праведных дел, сотворенной милости разрушает тьму «<span
                    class="article__passage">перед
                    людьми, чтобы они видели ваши добрые дела и прославляли Отца вашего Небесного</span>».</p>
            <p>Соль также имеет незаменимые качества. Она не только придаёт вкус пище, но она необходима для
                жизнедеятельности организма. И ещё её одно немаловажное качество: соль препятствует гниению
                скоропортящихся продуктов. «<span class="article__passage">Но если соль потеряла силу, чем исправить её?
                    Ни в землю, ни в навоз не
                    годится; вон выбрасывают её</span>».</p>
            <p>Почему я заостряю внимание на Слове Божием? Да потому, что люди, которые проводили «зачистки» в Чечне –
                это православные. Те, которые поддерживают их действия в Интернете, в СМИ, и те, которые благословляют
                их на «ратные» подвиги, – тоже православные. Христиане. Во всяком случае, они себя так называют. По
                разным данным от 70% до 90% русских являются православными. Они называют себя христианами и при этом
                убивают безо всякого повода, как на своей территории, так и на чужой. Они врываются в роддома, в палаты
                к роженицам, и крестят гуртом новорождённых, не спрашивая ни у кого разрешения. Торопятся увеличить
                поголовье православных.</p>
            <p>Так почему я должен любить эту страну? Почему я обязан быть патриотом? Менты открывают стрельбу в
                магазинах; убивают, расстреливают детей и подбрасывают им пистолеты. В Чечне научились? Ой, сколько там
                уже участников бандформирований уничтожено! И обязательно, возле каждого трупа лежит оружие! Это
                основное доказательство вины погибшего. Басманное правосудие, хамовнический суд стали именами
                нарицательными. Дума не место для дискуссий и размышлений. Ходорковский сидит, а тандем из двух карликов
                управляет государством. Я повторяюсь, приводя эти слова, но исполин велик и в яме, а карлик мал и на
                горе.</p>
            <p> Так почему я должен любить эту страну? Потому что я должен возлюбить своего ближнего? Так у меня нет
                ближнего! Ближний, по Библии, это тот, кто помог мне в безвыходной ситуации. А таких нет. Скоро
                исполнится шесть лет, как моя жена Оля выступила против директора, разворовывающего Рефтинскую
                птицефабрику. Он её уволил. В посёлке мы из уважаемых людей стали изгоями. Вначале, все, злорадствуя,
                говорили, что два жулика в одной берлоге не ужились. Когда стало видно, что мы не жулики и про запас не
                наворовали, а отдавать кредиты нам нечем, все стали относиться к нам как к никчемным неудачникам, не
                умеющим жить. Другого в этой стране не дано. Общепринятое мнение: «Честных людей не бывает!».</p>
            <p> Почему именно так произошло? Потому что в стране развитого социализма или в стране с глубокими корнями
                православия (на выбор) никто не верит, что могут быть люди, которые руководствующиеся бескорыстными
                мотивами. Поэтому я ненавижу эту страну, где больше пяти лет мы бегаем по правоохранительным органам с
                кипой документов, в которых подтверждается вина директора-жулика. Единственное, чего мы добились – того,
                что мы каким-то чудом ещё на свободе. Оле уже несколько раз пытались «приклеить» какую-нибудь статью.
            </p>
            <p> Почему же я сам, как верующий человек, не являюсь светом людям, чтобы они, видя мои добрые дела,
                прославляли Отца Небесного? До Олиного увольнения у нас была такая возможность – по части добрых дел. Но
                только сейчас, оказавшись в беде, я понял, что русские – это такая порода, которая привыкла к «халяве»,
                к дармовщине. Не только бесплатное образование, бесплатная медицина. Вообще что-то бесплатное (а если
                можно, всё бесплатное), на «халяву» – это наш идеал.</p>
            <p> Но при таких запросах, что характерно, люди совсем не умеют быть благодарными. Я говорю конкретно о
                русских. Поэтому, когда мы, в счастливые для нашей семьи времена, помогали нуждающимся, это
                воспринималось как должное. К сожалению, близкими, которых надо возлюбить, мы ни для кого так и не
                стали. Это стало понятно в нынешние, тяжкие для нашей семьи времена.</p>
            <p> А ведь именно на благодарности основано исполнение главной христианской заповеди «Возлюби». Мы же, в
                основе своей, неблагодарны, ленивы, коварны и жестоки. Никого не трогает чужое горе. Поэтому, нисколько
                не смущаясь, не обсуждая действия «защитников» родины, мы пишем о зверски замученных гражданских людях:
                «Если кто-то хочет перебежать скоростную магистраль, не должен обижаться на водителя, который его сбил.
                Вольному – воля». Вся-то вина этих ингушей: на своей земле, в своём лесу собирали черемшу. Так почему я
                должен любить эту бессердечную страну?</p>
            <p> Я её ненавижу за тех друзей, которых она мне навязывает, типа Уго Чависа. Я ненавижу её за то, что она,
                не спрашивая моего мнения, сделала меня врагом для Украины, для Прибалтики, для Кавказа, Европы и
                Америки. Лично мне нечего с ними делить, не из-за чего враждовать. Тем более воевать. И я не переживаю
                из-за того, что спортсмены привезли с олимпиады мало золотых медалей. Я переживаю из-за того, что
                провалилась необходимая реформа нашей армии-монстра. А для карликового тандема всё наоборот.</p>
            <p> Я ненавижу эту нищую страну, в которой НИЧЕГО НЕТ, но в которой ВСЁ продаётся и ВСЁ покупается. Страну,
                в которой народ вымирает, но жизнь человеческая совершенно не ценится. Поэтому мы не напрягаем себя
                смертью лиц кавказской национальности, в количестве 4-х штук.</p>
            <p> Так за что мне любить такую страну? Страну, которая на каждом шагу нарушает заповедь «Не убий!» и
                понятия не имеет о заповеди «Возлюби». Страну, где православие дискредитировало себя сотрудничеством с
                преступной властью. «Но если соль потеряла силу, чем исправить её? Ни в землю, ни в навоз не годится;
                вон выбрасывают её».</p>
            <p> Приведите мне хоть один аргумент, почему я должен любить эту родину? Да я её стесняюсь, как ребёнок
                стесняется родителей-алкашей. А если эти родители вдобавок ещё и извращенцы по отношению к собственным
                детям? А посторонние люди утверждают, что мои родители – убийцы. Да я и сам это знаю. Так что я должен
                думать? И как относиться к родине-матери? И к папе – национальному лидеру?

            </p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>