<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Брехня все это!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Брехня все это!</h1>
            <p> Прочитал на сайте «Чеченпресс», что какой-то начальник, какой-то колонии обиделся на Елену Маглеванную
                за то, что она утверждает, будто в подведомственной этому начальнику колонии издеваются над чеченцем. Я
                не понимаю: чего из этого делать проблему? Даже если бы правда издевались над этим чеченцем, над
                больным, избитым и израненным. Подчёркиваю: даже если бы! Что в этом такого? Чего этот начальник
                переполошился? В похожей ситуации оказался и Алексанян: больной и чуть ли не при смерти. Ну и что? Что
                здесь такого? Не надо начальникам колоний и тюрем делать поспешных резких телодвижений при подобных
                обвинениях. Здоровая часть общественности на подобные заявления попросту не обращает внимания.
                Остальные, кто обратил внимание, прекрасно понимают, что это клевета. Клевета на наш образ жизни.
                Клевета на нашу демократию. Клевета на нашего гаранта Конституции.</p>
            <p> Как клевета и то, что даже русские по национальности заключённые периодически поднимают бунты в тюрьмах,
                протестуя против бесчеловечных условий содержания, что они полосуют себя лезвиями бритв или зашивают
                себе рты. Брехня это. Тем более брехня - плохие условия для чеченцев. Пусть даже была дана команда,
                чтобы «мочить» их в сортире. Но это тоже клевета. Клевета не про то, чтобы «мочить». Это как раз правда:
                «мочили» мы их, и на их территории, и на нашей территории, и даже за рубежом. Клевета то, что будто наш
                президент мог сказать такие слова: «Мочить в сортире». Кто не понимает, я объясняю: эти слова из жаргона
                вшивого пацана-пятиклассника, страдающего комплексом неполноценности и поэтому «молотящего под блатного»
                – чтобы ростом выше выглядеть. Но если эти слова произнёс взрослый человек, то это или инфантильный
                дебил, оставшийся на уровне пятиклассника, или человек без элементарного воспитания, идущий на поводу
                собственных эмоций.</p>
            <p> Согласитесь со мной, что наш бывший президент, с любовью выбранный народом, ни под одну из этих
                категорий не подходит! Я же говорю: это клевета на него! Не мог он такого сказать! Если б он так сказал,
                представляете тогда, чтобы мы были за народ, который избрал себе такого президента!? Поэтому я
                утверждаю, что это клевета. Не мог Путин так говорить. Это распоясавшиеся журналисты выдумали.</p>
            <p> Они вообще злоупотребляют нашим вниманием и нашим терпением. Пишут всякую чушь. Будто недавно депутата
                Пастухова, члена партии «Единая Россия» (хоть бы нашу святыню, путинскую партию грязными руками не
                трогали!), выпустили по условно досрочному освобождению. А посадили его как педофила. Выпустили – как
                раскаявшегося грешника, досрочно. Половину срока отсидел. Героя России, полковника Буданова, как
                некрофила(?) или как обычного садиста-убийцу посадили. Теперь сообщают, что уже выпустили. Тоже
                досрочно. Тоже, мол, раскаялся. Да клевета это всё! Кто ж их сажать будет? Посмотрите на Лугового, какую
                карьеру себе человечище сделал!!! Сейчас из Госдумы в мэры Сочи метит. Кто таких людей посадит? Да они
                уже при жизни стали памятниками нашей действительности.</p>
            <p> Опять же, это брехня корреспондентов, что Ходорковскому срок добавляют. В это я тоже не верю. За что,
                скажите мне, срок ему добавлять? За то, что он, якобы, в те мутные времена…. А в те времена всякий
                виноват, кто брался играть в игры, правила которых ещё только начинали писать. Любого из игроков можно
                посадить. Я ж говорю: клевета это всё, выдумки досужих писак. И сажать его было не за что, и уж тем
                более не за что ему сейчас срок добавлять. Брешут эти СМИ. Тут невооружённым глазом видно отсутствие
                всякой логики и здравого смысла: одних выпускают непонятно почему, другим добавляют срок. Это
                ненормально. Так быть не может. Поэтому я считаю, что это всё клевета. На наш народ, на нашу демократию,
                на наше государство.</p>
            <p> И вот наряду с этим, когда из тюрем выпускают хороших людей, за хорошее поведение, кто-то поднимает
                проблему: чеченцев в тюрьме «мочат»! Может, это утверждают общепризнанные авторитеты, какая-нибудь
                госпожа Мерзлякова? Или господин Лукин? По-моему, так эти правозащитники днюют и ночуют среди зеков, чьи
                права они защищают так же, как права всех остальных граждан. Каждый раз, получив сигнал из колонии или
                тюрьмы, что там нарушаются права человека, они бросают всё (и, как я думаю, покупают мандарины) и едут
                на встречу с униженными и оскорбленными. Правда, массовые случаи нарушения прав человека никогда не
                подтверждаются. Но зато состоится доверительный разговор с заключёнными (и мандарины тут кстати
                оказываются). А сколько раз госпожа Мерзлякова выручала больного политзаключённого Трепашкина! И,
                полагаю, исключительно благодаря ее заботе тому, больному и немощному, срок скосили.
                Так именно эти уважаемые люди, правозащитники по профессии, молчат. Не бьют во все колокола, не пишут
                писем на «Чеченпресс» (может, вообще никуда не пишут). Какой следует вывод из этой истории? Да, мы
                «мочим» чеченцев на их территории, на своей территории, даже за рубежом. Этого не скрыть. Но в тюрьмах –
                ни-ни! Там для них тюремщики создают исключительные условия.</p>
            <p> Кто смотрит криминальные новости по телевизору, тот подтвердит, что любых задержанных (понятно, что
                любых у нас не задерживают) показывают по телевизору избитыми и в синяках. Я даже запомнил фразу из
                фильма: «По морде не бить! Будем сразу проводить опознание». Во как! Просто так, при задержании, для
                профилактики немного попинать. Постучать дубинкой по почкам. Чтобы знали, что в надёжные руки попали.
            </p>
            <p> Зато к чеченцам на зоне совсем особые отношения. Это если верить начальнику колонии, где сидит Зураб. А
                не верить начальнику у меня нет никаких оснований. Скорее всего, он сам сын чекиста или сексота (я
                исключительно в положительном смысле, чтобы не подумали чего, да и с каких это пор у нас быть сыном
                чекиста стало позорным?). А может, он сын офицера, который командовал расстрелом несогласных в
                Новочеркасске, при Хрущеве? Теперь, вот, преемственность поколений, трудовая династия, сынок тоже при
                деле: караулит врагов народа. И я верю ему. И считаю, что расстраиваться ему нет повода. Потому что, как
                сказал вначале, здоровая часть общественности на заявления, подобные сделанным Маглеванной, попросту не
                обращает внимания. А получившийся скандал можно использовать с определённой выгодой. Претензии о защите
                чести и достоинства российского офицера можно использовать как некий посыл туда, наверх. Мол, вы
                спускаете директивы «мочить», а мы эти директивы выполняем на местах. Даже здесь, в местах лишения
                свободы, делаем всё зависящее от нас. Невзирая на причитания всяких самодельных правозащитников. И,
                может, тогда получится, как в песне Высоцкого: «Вон покатилась сверху звезда, вам на погоны». Русский
                офицер, защитник родины. Еще одна звёздочка за заслуги перед этой родиной ему не помешает.</p>
            <p> А вот кто такая эта Елена Маглеванная? Вот с чем (или с кем) надо разобраться! Спорим, что она не член
                «Единой России»? Что она не православная! Спорим? Откуда я знаю? Да ниоткуда. Я её ни разу в жизни не
                видел. Но, судя по её статьям, она не такая как все (хочется сказать ненормальная, но тогда у неё будет
                повод подать на меня в суд).</p>
            <p> Значит, она не православная, не член «Единой России». Более того, по-моему, а не русская!!! Вот
                проверьте её! Русские такими не бывают: заботиться о заключенных, прощать врагов своих. Да где это у нас
                видано? Когда такой случай был последний раз? Или я что-то забыл? Тогда поправьте меня, напомните.
                Сжечь школу с детьми, пустить в театре неизвестный газ, отравить полонием, предать анафеме, то есть не
                анафеме, а забвению беременную женщину в тюрьме – пусть это шок! Но это по-нашему, по-русски!</p>
            <p> А Маглеванная что? Гуманизм, толерантность!.. Даже слова какие-то нерусские. Тьфу! Не русская она,
                поэтому и ведёт себя неадекватно. И не стоит нашему офицеру, защитнику родины обращать на неё внимание,
                тратить время на поиски и защиту собственной чести и достоинства.</p>
            <p>Кстати, между нами, русскими, говоря, это что такое – честь и достоинство? Может, оно и у меня есть? А я
                тут, не зная, гнию потихоньку.

            </p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>