<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Мы – не такие</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Мы – не такие</h1>

            <p class="article__stars">* * *</p>
            <p> «Где эта обезьяна долбанная?» Слова проговорены были чётко, намеренно громко, с нескрываемым
                раздражением. Наши солдатики, которые потом будут напиваться на каждое 23 февраля от гордости за то, что
                их именуют защитниками родины, не только генералам дачи строят. Как дешёвую, точнее, бесплатную рабсилу
                (не рабочую, а рабскую силу) их используют везде и всюду, затыкают ими любую дырку. Потому, что если
                есть две руки – значит, они могут работать. Если есть две ноги – значит, они могут перемещаться. Руки,
                которые работают, и ноги, которые в состоянии перемещать эти руки – идеальный вариант рабсилы. И не надо
                быть очень умным, чтобы использовать этот дар природы по назначению.</p>
            <p>Вот и сейчас какой-то прапорщик пригнал машину, груженную навозом, к частному дому. Придержав фуражку, он
                лихо выпрыгнул из кабины, чтобы посмотреть, сколько машине сдавать назад, и скомандовать водителю, как и
                в какую сторону выруливать. Но пацанёнок-водитель в форме защитника родины тоже выпрыгнул из кабины с
                другой стороны, с такой же целью. Прапорщик, с умным видом сориентировавшись на местности, возвращается
                к кабине. А там!!! Нет водителя! Да как он посмел? Без команды? Сам? Из кабины? Что? Прапорщик будет
                стоять, ждать его у пустой кабины? И прапорщик лаконично, отработанным командным голосом, в форме
                вопроса выразил своё недовольство происходящим: «Где эта обезьяна долбанная?»</p>
            <p> «Обезьяна» зелёной мышкой в камуфляже прошмыгнула в кабину. Командир, с видимым удовольствием (порядок,
                обезьяна на месте!), жестами стал указывать, сколько машине сдавать назад, в какую сторону «выбирать»
                руль и куда вывалить навоз. Лицо солдатика напоминало застывшую глиняную маску: никакой мимики, никаких
                эмоций. Но мне кажется, что когда-нибудь глина кусками отвалится с его лица. Что там под ней будет?
                Боль? Ненависть? Будет ли это в карауле, когда солдатик получит из «оружейки» записанный на него
                автомат? Или после «дембеля», за хмельным столом в родительском доме? Пусть будет последнее: обычное
                хвастовство или пьяные слёзы «долбанной обезьяны» лучше, чем поминки, которые справляют родители по
                своему сыну.
                Пока прапорщик с гордостью осматривал кучу навоза как своё собственное произведение, я подошёл к
                солдатику:</p>
            <p> - Сколько прослужил?<br>
                - Месяц осталось.<br>
                - Удачи тебе, сынок.</p>
            <p> Нет, не месяц. Это он мне так ответил от растерянности: ему надо было быстро сменить затвердевшую
                глиняную маску на удивлённое лицо мальчишки.</p>
            <p> Обычно, по себе знаю, время до выхода приказа о «дембеле» считается в днях, а не в месяцах. Каждый
                прожитый день собственноручно зачеркивается крестиком в личном календарике. После отбоя, на прикроватную
                тумбочку, поставленную посреди казармы, взгромождается (обязательно без помощи табуретки!) салага. В
                безразмерных чёрных трусах, которые проштампованы хлоркой надписью типа: «в/ч 74013», солдатик что есть
                мочи кричит: «Старики! День прошёл!» Старики с коек лениво отвечают: «Ну и хрен с ним!» Салага, не
                сбавляя оборотов: «До Приказа осталось столько-то дней!» И с чувством выполненного долга спрыгивал с
                тумбочки. Хлорки для надписей на трусах не жалели. Поэтому трусы расползались в тех местах, где вначале
                были буквы. Если ты не хотел во время оглашения «светиться», то расползшееся место на трусах приходилось
                зажимать в кулаке.</p>
            <p> Жалко ли мне было водителя-солдатика, которого прапорщик назвал обезьяной? Конечно. Но этот будущий
                дембель, которому осталось служить месяц, отыграется на салагах, вернувшись в часть. По армейской
                иерархии он уже «старик», или «дембель». За пережитое унижение, не только сегодняшнее, а за всё время
                службы, в каптёрку к нему затащат какого-нибудь очередного Сычёва. Того вначале изобьют, потом
                изнасилуют, а потом будут пинать, стараясь попасть в пах.</p>
            <p> Прапорщик, в свою очередь, приехав в часть, пойдёт делиться вырученным «калымом» за привезённый навоз с
                командиром части (или автопарка). И счастливый прибежит домой. Отдаст выручку жене, потом сядет на
                табуретку нога на ногу, посадив дочку на начищенный хромовый сапог, и, покачивая её, спросит: «Ну,
                малышка, мамку сегодня слушалась?» Что? В происходящем полное отсутствие логики? Кто-то обязательно
                должен быть хорошим, а кто-то плохим?</p>
            <p> Одно время я думал, что мы, русские, вот такие, какие есть, потому что хорошего (или хороших) у нас
                мало. А плохого (или плохих) больше. Потом понял: дело здесь не в соотношении хорошего и плохого.
                Доброго или злого. Эти критерии не для нас, то есть не для русского человека. Мы просто НЕ ТАКИЕ. Не
                понятно? Попробую объяснить.</p>
            <p> При слове «крокодил» все представляют себе зелёное голодное чудовище. Но мы-то себя голодным зелёным
                чудовищем не представляем! Во-первых, мы не оцениваем себя как чудовище. Во-вторых, если ты к чему-то
                привыкаешь, то постепенно перестаёшь это замечать. К чувству голода мы привыкли. Так что мы как бы вовсе
                и не голодные. В-третьих, с чего все взяли, что мы зелёные? Это хороший цвет. Но мы о себе говорим, что
                мы сиреневые. Кто с нами не согласен – пусть спорит. Мы считаем себя сиреневым светом. Мы - не зелёное
                голодное чудовище, а сиреневый или, скажем, фиолетовый свет. Нечто такое воздушное, бестелесное,
                обязательно духовное. Но уж никак не крокодил. Не представляете нас такими? Ну, улыбку Чеширского Кота
                можете себе представить? Не губы растянутые в улыбке, а саму исчезающую улыбку? Вот, так и мы - что-то
                такое, что ни к чему не привязанное, ни чему не обязанное и в ни какие рамки не помещающееся. Мы –
                просто НЕ ТАКИЕ. Не я первый заметил эту особенность: «Умом Россию не понять».</p>
            <p> К примеру, после заявления министра обороны Сергея Иванова о рядовом Сычёве, что тот сам себя
                изнасиловал, сам себе ноги ампутировал, и таким его в армию призвали, я подумал, что господин Иванов не
                только в данном случае ведёт себя как подлец и мерзавец, а что он всю жизнь такой. Но потом, когда
                узнал, что министр обороны «отмазал» от наказания собственного сына, я его зауважал. Оказывается, своего
                сына-то он любит! Ещё как! Он не только доказал, что пенсионерка сама бросилась под «иномарку» сына, но
                когда об этом происшествии рассказала ведущая Рен-ТВ Ольга Романова (она одна осмелилась!), то больше её
                никто не видел в этой роли, ни на этом канале, ни на каком другом. Всё это говорит о том, что есть в
                Иванове любовь. И что он в своё время, сидя на табуретке, тоже качал сына на ноге. Как эту любовь
                соотнести с его отношением к бедолаге Сычёву? Да никак.</p>
            <p> Или вот, из этой же оперы - Комитет солдатских матерей. Каких матерей? Нет, не так. Матерей каких
                солдат? Солдаты в армии делятся на две категории. Первая половина, это те, которые только начали
                служить. И над которыми вовсю издеваются. Вторая половина – это те, которые дослуживают, и, по ходу,
                издеваются над теми, кто только начал служить. Но это временное явление. «Старики» уходят, «салаги»
                занимают их место, и они, точно так же, издеваются над вновь прибывшими. Так каких солдат, чьи матери в
                этом Комитете? Кого и от кого они спасают? Своих сыновей от своих же сыновей? А кто их воспитывал, таких
                сыновей? У них были родители? Или все, кто дослуживает свой срок, инкубаторские?</p>
            <p> Я повторяюсь, не надо пытаться понять, чего в нас больше: хорошего или плохого. Не надо разбираться в
                соотношении у нас добра и зла. Мы выше этих условных ценностей. У нас подонки становятся героями. А
                порядочные люди числятся во врагах. Интеллигенция получает награды из рук чекиста и писается от умиления
                прямо в очереди за наградой: «Ах, какая у него походка!» Мы за гранью понимания. Мы НЕ ТАКИЕ, как весь
                мир.</p>
            <p> Иначе бы, почему в стране победившей фашизм, этот самый фашизм становится головной болью всей страны?
                Или как в стране, не пережившей построение развитого социализма и вставшей на путь развития демократии,
                президентом выбрали чекиста? Да это всё равно, что сексуального маньяка взять санитаром в психлечебницу!
            </p>
            <p> У одного моего знакомого потекла на кухне проржавевшая труба. Это случилось в конце недели, после обеда.
                Последующие два дня были выходными, а следом шёл ещё какой-то праздник. Пришедший сантехник сказал, что
                сегодня они не успеют ничего сделать, только после праздников. Он оставил магнитик и сказал: «Прилепите
                его на дырку». И, правда! Вода в трубе такая ржавая, что из-за магнита к вечеру течь затянуло ржавчиной,
                и капать перестало. Сантехник сам больше не пришёл. А раз труба не течёт, мой знакомый не стал его
                больше беспокоить.</p>
            <p> Вот так вот мы и мыслим, так вот и поступаем. Вместо того чтобы поменять всю проржавевшую систему, мы
                останавливаемся на том, что надо поменять трубу. Но поскольку нам быстрее нужен конечный результат и с
                минимальными затратами, мы ограничиваем себя и решаем заменить только кусок трубы с дыркой. В конце
                концов, вся эта суета закончится привычным ожиданием: когда же дырка сама грязью затянется? Может,
                чекист создаст нам демократическое государство и дырки не будет? Мы - НЕ ТАКИЕ как все. И количество в
                нас добра, порядочности и чести не имеет никакого значения! Мы выше этих определений.</p>
            <p> Повесив себе, кто на грудь, а кто на пузо металлические крестики, мы называем себя православными.
                Христос, когда Ему привели грешницу, достойную по закону самого тяжёлого наказания, простил её. А мы,
                так называемые христиане, за всё время не смогли набрать сто тысяч подписей в защиту Бахминой, матери
                троих детей!!! Зато в выходные на лыжню в одном Екатеринбурге зимой вышли 100 тысяч лыжников, на разовое
                мероприятие! За здоровый образ жизни! Чувствуете, какие мы здоровенькие?</p>
            <p> Мы живём совсем в другом измерении. Поэтому заклинания, вопли, призывы, утверждения, что Россия
                поднимается, встаёт с колен – они безнадёжны и безосновательны. Потому как мы лежим в иной плоскости. И
                хорошо лежим.</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>