<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Ничтожество</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Ничтожество</h1>
            <p> Я пялился на эту надпись на двери напротив, понимая, что на ней должно быть написано что-то другое. Но
                упорно прочитывал одно и то же: «суд – я». Тогда отвёл глаза от двери и пристально осмотрел коридор.
                Узенький коридор. Из шести светильников на потолке, лампочка исправная только в одном. Свет какой-то
                казённый, мёртвый, собрался в углу под исправной лампочкой. Он чётко делил людей на «своих» и «чужих».
                «Свои» женщины пробегали со стопками бумаг, стуча каблучками и не вглядываясь в полутьму коридора.
                «Свои» мужчины, наоборот, проходили медленно, важно; уходя, запирали за собой на ключ двери, также, не
                глядя на окружающих. «Чужие», независимо от того какого они пола, жались к стенкам или напряжённо
                скорчившись сидели на казённых лавочках, в самых неестественных позах. Я снова взглянул на табличку на
                двери. Сейчас там была надпись: «судья». Вот теперь правильно написано!</p>
            <p> Банк подал на нас в суд иск. Нет. Всё-таки я не смогу грамотно сформулировать суть происходящего. Если
                по-простому, как это понимаю: пришло время, и банк, заручившись решением суда, собирается продать наш
                дом за долги, вышвырнув нас на улицу бомжами. Ну, это всё лирика и эмоции. А я должен себя вести без
                эмоций. Оля так просила. Я должен быть для неё опорой. Вдобавок, если я сорвусь, то только всё испорчу.
                Это мне Оля несколько раз повторила. Поэтому я погрузил себя в состояние «замороженности». Не знаю, как
                это делается, но иногда у меня такое получается.</p>
            <p> Когда нас попросили войти в дверь с надписью «судья», мы оказались в таком же зажатом помещении. У
                дверей, возле стены, скамейка как в кинозале, с откидывающимися сиденьями на пять человек, для нас.
                Напротив, на стульях: представительница банка и независимый эксперт-оценщик. Это я потом, по ходу,
                сориентировался. Дальше, в худой, но длинной комнате, за столами, поставленными буквой «г»,
                расположились секретарь и ваша честь – судья. Их, наверное, специально учат говорить так, что человеку с
                улицы ни одного слова не понятно.</p>
            <p> Когда подошла очередь и она (ваша честь) обратилась ко мне с вопросом, я, демонстративно морщась,
                стараясь не опираться на больную ногу, поднялся. Но она, наверное, не таких инвалидов видела: на моё
                скрипение зубами и коленными суставами никак не среагировала. А я сдуру надеялся отвечать с места, не
                поднимаясь. Сказал, что вопросов нет, но есть просьба. Почти не разжимая губ, ваша честь спросила:
                «Какая?» В отличие от коридора, комнату для заседаний суда заливало светом низкое зимнее солнышко. И
                прямо в глаза. Судья, как должно следователю, оставалась в тени. Почему мне показалось это
                издевательством? Я попросил прикрыть жалюзи. Судья, полагая, что ослышалась, переглянулась с секретарём.
                Я повторил просьбу. «А вы передвиньте скамейку», - последовал совет от вашей чести. Конечно, это была
                насмешка: скамейка стояла в углу, и двигать её было некуда.</p>
            <p> Следующий вопрос был задан представительнице банка: «Вы согласны с оценкой, произведённой независимым
                экспертом?» Та, соскочив с места, поспешно засвидетельствовала своё согласие. Тут уже Оля спросила
                судью, о какой оценке идёт речь? Поскольку никакой оценки нашего дома не производилось. Во всяком
                случае, мы, как хозяева, при этом не присутствовали. Тут независимый эксперт подал голос. Он призвал в
                свидетели сидящую рядом представительницу банка, чтобы та подтвердила, что они, среди белого дня,
                подъехали к нашему дому, стучали, звонили, но им никто не открыл.</p>
            <p> Судья прервала эксперта: «А как вы, вместе, оказались возле этого дома?» На что эксперт искренне
                ответил: «Она привезла меня на своей машине». «Вас? Вас, НЕЗАВИСИМОГО эксперта? Привезла на машине
                заинтересованная сторона, заказавшая независимую экспертизу? А о чём вы разговаривали?» Тут эксперт
                начал что-то соображать: «Мы не разговаривали». Судья уточнила: «Всю дорогу?» «Да!» Я посмотрел на судью
                с уважением: «С чего я взял, что она похожа на жабу, прикрытую чёрной тряпкой? Симпатичная женщина,
                очень молодая. И эта строгая, чёрная мантия, даже идёт ей!» Судья продолжала пытать независимого
                эксперта: «Так, как вы оценили дом, не заходя вовнутрь?» Эксперт начал невнятно мычать, что он это
                делает на уровне интуиции, что у него большой опыт работы со справочниками, что сравнительный анализ
                позволяет ему….</p>
            <p> Наш дом этот независимый эксперт оценил в 4 с хвостиком миллиона рублей. Хотя нам предлагали за него
                несколько месяцев назад 8 миллионов. И соседи продали свой дом - он был меньше нашего - за 6 миллионов.
                Суд назначил повторную экспертизу. Заседание перенесли. Оля была довольна этим, повторяя мне раз за
                разом: «Не надо думать сразу о людях плохо! Я же видела, что судья тебе не понравилась! А она видишь
                какая!» Я пожал плечами: «А что ты скажешь о представительнице банка и этом независимом эксперте?» «Так
                решают не они. Решает судья!» Я опять пожал плечами, судья мне точно понравилась.</p>
            <p> Приехавший к нам уже на другой день эксперт был немало удивлён. То, что он обозвал в своих документах
                «навесом», оказалось капитальным, утеплённым зданием, с двойными рамами. Там была расположена летняя
                кухня, коровник и дровяник. В летней кухне во время огородного сезона мы жили, делая там консерванты,
                благо что провели туда воду, поставили раковину, газовую плиту, диван. Показали этому эксперту теплицу,
                две овощные ямки с насосами для откачки воды в сезон дождей, «зимний сад» – комнату с цветами, которую
                он не учёл в своих расчётах. Объяснили, что дом у нас не из железобетонных панелей, что стены толщиной в
                50 сантиметров не могут быть из железобетонных панелей. Что потолочные перекрытия и перегородки в доме
                не деревянные. И отопление у нас не печное, как он указал, а централизованное.</p>
            <p> А самый главный наш аргумент был подвал. Оказывается, этот же самый независимый эксперт оценивал
                помещение, которое прежде арендовала наша церковь. Это было полуподвальное помещение, и когда его
                выставили на торги, верующие решили сами его выкупить. Миллион или полтора можно было взять ссудой. Но
                эксперт оценил помещение в два с половиной миллиона. Для церкви это было нереально. Тогда, на семейном
                совете, мы решили предоставить подвал для собраний церкви. У нас подвал по площади был даже больше
                прежнего помещения церкви. Следовательно, по аналогии, мы оценивали его в 2,5 или даже в 3 миллиона.
                Отвели независимого эксперта к соседнему дому, и хозяин подтвердил, что купил его недавно, за 6
                миллионов.</p>
            <p> В общем, на следующее заседание суда мы приехали спокойными. Судья дала слово эксперту. Он поднялся и
                объяснил, что в первый раз при оценке нашего дома он действительно допустил ряд неточностей. Сейчас он
                всё исправил и готов назвать окончательную цену – 5 миллионов 400 тысяч. История повторяется! Первый раз
                на погашение долгов мы так же, чуть ли не за полцены, продали Олежкину (сына) квартиру в элитном доме.
                Дом строила птицефабрика. И документы на Олежкину квартиру были в руках Топоркова, директора
                птицефабрики. А он заявил, что мы дом можем продать за ту сумму, которую назначит он сам, и тому
                человеку, которому он укажет. Только тогда он отдаст нам документы на квартиру. Так оно и вышло. Сейчас
                история повторялась. Опять за полцены.</p>
            <p> После оглашения в суде независимым экспертом такой оценки нашего дома, мы с Олей по очереди говорили,
                наверное, одно и тоже: что эксперт отрабатывает заказ. Ему дали указание оценить наш дом как можно
                дешевле. Чтобы оставить нас на улице, и, вдобавок, нищими. Судья задала вопрос эксперту: «Почему, после
                того как выяснилось, что у вас после первой оценки оказалось много неучтенного, конечная сумма
                изменилась незначительно?» Эксперт признался, что при первой оценке он ошибочно взял завышенные
                коэффициенты. Сейчас он их занизил, соответственно истинному положению дел. Судья, выслушав его,
                назначила день третьего заседания, где будет оглашено решение суда. Третье заседание закончилось
                скоропалительно. Нас поставили по стойке «смирно» и объявили решение суда: суд удовлетворяет иск банка,
                банк может продавать наш дом. Естественно, за ту сумму, которую назвал независимый эксперт.</p>
            <p> Ничтожество. Основание слова, его корень: НИЧТО. Ничтожество – это мы. Наша семья. Нас так и спросила
                простая женщина: «А если вы такие умные, то почему так живёте?» Да потому, что мы оказались не только
                умные, но и честные. Умным быть в России тяжело, а честным невозможно. В этом мы убедились сразу, после
                того как Оля, четыре года назад, передала документы о хищениях директора птицефабрики в правительство
                области, в прокуратуру, в ФСБ. Вот тут и выяснилось, что мы (вернее, она – Оля) НИЧТО, от слова
                ничтожество.</p>
            <p> Вначале мне это было обидно: какой-то жулик, хапуга втоптал нас в грязь. Только со временем я понял, что
                одному директору Топоркову это не под силу. Что это и есть та самая государственная вертикаль власти:
                Топоркова «крышует» министр сельского хозяйства области Чемезов; его, в свою очередь «крышует»
                губернатор Россель (поэтому «не сработали» документы, отданные в правительство области); ну а
                губернатора «крышует» Путин (поэтому «не сработали» документы, отданные в ФСБ, они попросту пропали
                оттуда). А правоохранительные органы? Они молчат при такой вертикали власти, «тянут резину». По
                существу, они из правоохранительных, с приходом Путина к власти, стали ПРАВОХОРОНИТЕЛЬНЫМИ органами.
                Поэтому мне виделась несуществующая надпись на дверях: «Суд – Я». Сидят же у нас Ходорковский и его
                «подельники». Сидят, как миленькие, политзаключённые. «Суд – Я».</p>
            <p>Чтобы привлечь внимание к ситуации, в которой оказалась наша семья, я провёл трёхнедельную голодовку.
                Безрезультатно. Что ещё может сделать НИЧТОжество в этом государстве? В своём дневнике, который размещаю
                в Интернете, дал объявление, что готов продать свои органы: нам нужны деньги. Больше четырёх лет мы
                бьёмся, имея на руках документы, называем жульё пофамильно, а результатов – нуль. Зато, когда «Единая
                Россия» выпустила листовку против Оли (она была для них главным конкурентом в борьбе за пост мэра
                посёлка), участковый начал собирать сведения у знающих нас людей. Повод: якобы я являюсь членом РНЕ и у
                себя на сайте выкладываю фотографии, где на снимках таджикам отрезают головы. Надо же, как моментально
                откликнулись правоохранительные органы на невнятный лепет организованной властями сплетни. А мы тут 4
                года пытаемся привлечь к себе внимание документами. Машем ими, как красной тряпкой перед быком.</p>
            <p> Для себя я понял: наша страна проклята теми, кто пострадал от нас. Проклята потому, что не можем жить по
                иному. Проклята за свою бесчувственность и равнодушие. Из-за того, что мы не умеем видеть и принимать
                чужую боль, мы обречены быть постоянно наполненными своей болью. А повод для своей боли мы устраиваем
                друг другу сами.</p>
            <p> У нас врождённая привычка относиться ко всем, как к ничтожествам. А платить за это приходится на каждом
                шагу нам же, потому что любой из нас НИЧТОжен в этом государстве. И независимый эксперт, и прокурор, и
                судья.</p>
            <p> Если честно, то я устал от такой жизни. Владимир Владимирович! Может, вы меня пустите жить в телевизор?
                Господи! Вы посмотрите, какие там судьи! Теперь почти на каждом канале своя передача «Суд идёт». А как
                судят! Эмоции плещутся, как в жизни, но судят, как в хорошем кино: по закону, по справедливости. Пустите
                меня жить в телевизор! Так хочется почувствовать себя человеком, хотя бы в кино! А какие там адвокаты!
                Даже прокуроры там с человеческими лицами! Владимир Владимирович, хочу в телевизор! Единственное, что
                может мне испортить там настроение - это постоянное ваше соседство. По телевизору не врут только, когда
                показывают вас - мелкого, злобного чекиста. Но всё равно, пустите меня в телевизор, мне так хочется
                пожить по-человечески!</p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>