<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Оккупированные ненавистью</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Оккупированные ненавистью</h1>
            <p> На телеканале «Евроньюс» берут интервью у министра иностранных дел Сергея Лаврова. Убрав звук, с
                интересом вглядываюсь в лицо этого человека. Сто лет я его не видел. Есть люди, при появлении которых я
                переключаю телевизор. Их не только вредно слушать, но лучше даже не смотреть. «Не читайте советских
                газет», – иронически советовал Булгаков. Счастливый человек! Он не знал, что будет создано советское
                телевиденье. Но на данный момент я не спешу переключаться.</p>
            <p> Рассмотрев эту личность на экране, включаю звук. Лавров говорит об акциях протеста в Грузии: «Саакашвили
                заявляет, что в этом «рука» Москвы! Это провокация!!!» Нашёл чем удивить, господин Лавров! Те, кто
                соображают хотя бы немножко, сами знают, что это провокация. Как и раздача советских паспортов в
                Абхазии, в Осетии. Как взрывы многоэтажек на территории России, для того чтобы возобновить военные
                действия в Чечне. Как закрытие задвижек для подачи газа на территорию Украины. Даже ввод российских
                войск на территорию Грузии – это тоже провокация. Все действия России – это одна громадная провокация
                против всего мира, против соседей, против собственного населения. Это одна большая мозаика, выложенная
                маленькими кусочками подлости, предательства, вероломства и бесстыдства. Министр с экрана телевизора
                старается не сорваться на крик. Проявление сдержанности у него хорошо получается, чувствуется
                профессионал. Я со вздохом переключаю канал: даже на «Евроньюсе» эти рожи остаются рожами.</p>
            <p> Почему я так неуважительно об уважаемых людях? Чашу терпения переполнило высказывание нынешнего
                президента. Господин Медведев, говоря об охране нашими пограничниками Абхазии и Осетии, употребил слова:
                «Мы можем не только надавать по мозгам…» Господи, как я устал от этих агрессивных кухаркиных детей с
                советским обязательным образованием! Они «мочат», делают обрезание, дают только три дня жизни тем, кто
                их обидел. Предлагают повесить своих противников за самые интимные места.</p>
            <p>Они достали меня не тем, что они ТАКИЕ. Да какое мне до них дело! Раз их общество любит и голосует за
                них, пусть оно с ними и живёт. Но они достали меня тем, что опустили всех до своего уровня.
                Продемонстрировали своими высказываниями и поступками, что все мы тоже ТАКИЕ: злобные, ненавидящие
                недоумки, срывающиеся по поводу и без оного на брань и ругань. Если не хватает ума и аргументов –
                начинается охаивание.</p>
            <p> Приходится признаваться, что и я стал такой же! Хотя раньше любил Высоцкого и держался его слов и его
                принципа: «Бить человека по лицу я с детства не могу». Или как главный герой в фильме «Женя, Женечка и
                Катюша»? «Я, – говорит, – вам сейчас лицо набью!!!» Лицо! Не морду.</p>
            <p> Когда-то я таким же чистоплюем был. Зато теперь, когда из уст этих кухаркиных сверхчеловеков, с такой
                высоты такая грязь льётся! И куда не бросишь взгляд, всюду «Asinus asinum fricet» - осел трется об осла.
                Как тут сам скотиной не станешь? Так что, господа сукины, то есть кухаркины дети, как тут не начнёшь со
                всеми говорить на общепонятном и общедоступном могучем и великом русском языке?
            </p>
            <p>А как привыкнуть смотреть на экраны телевизора и видеть свиные рыла? Какое удовольствие? А тут ещё,
                недавно, такое горе с нами приключилось! Сняли с эфира передачу «К барьеру»! Оказывается, там ведущий
                был талантливый человек! Чуть ли не демократ, и чуть ли не борец с существующим режимом. Как не
                совпадают мнения людей. Для меня это была одна из первых проститутских передач (ничего, что я вот так
                прямо, по-путински?). Там, по ходу, сразу же циферками показывали рейтинги участников.
                «Совков»-телезрителей ориентировали: не стесняйтесь, поймите правильно, таких как вы по России много.
                Голосуйте, принимайте участие!</p>
            <p> Сахарова «захлопывало» в Думе агрессивно-послушное большинство. И в этой передаче такое же
                агрессивно-послушное большинство выставляло баллы поддержки своим кумирам. А талантливый господин
                Соловьёв мелким бесом крутился, стараясь в нужном русле расставить нужные акценты. Чтобы публика
                правильно сориентировалась, за кого голосовать, а то, не дай Бог, общественное мнение изменится не в ту
                сторону.</p>
            <p> Соловьёв вовремя попал в опалу: если вдруг у нас что-то изменится, то он, как пострадавший от
                чекистского режима и бывший ведущий популярной программы, станет нацгероем! Хорошо, что Гоголь не дожил
                до наших дней. Ему уже в то время везде мерещились свиные рыла. А что было бы с Николаем Васильевичем
                сейчас, когда у нас стало столько героев и бесспорных национальных лидеров?</p>
            <p> Накануне дня Победы вышел указ о присвоении очередным городам звания воинской славы. Для поддержания
                патриотического духа и ненависти, пусть даже замешанной на делах давно минувших дней. Ненависть не
                ржавеет! И тут же указ о введении уголовной ответственности за отрицание роли России во Второй мировой
                войне.</p>
            <p> Когда-то я жалел о том, что президент Путин – чекист. В его бытность экраны телевизоров сразу заполонили
                фильмы о подвигах чекистов и других «защитников» родины (слово «защитников» – именно в кавычках). Я
                думал: «Может, было бы лучше, если бы Путин раньше работал гинекологом?» Есть у него во внешности что-то
                такое пронырливое. Мне кажется, как гинеколог, он был бы на своём месте. Главное - фильмы другие тогда
                мы бы смотрели! Но, понимаю, что моё предположение весьма и весьма спорное.</p>
            <p> И вот, с тех пор как мы заполучили нового президента, я всё жду: как изменится репертуар кинофильмов?
                Пойдут художественные фильмы о юриспруденции? Но репертуар никак не изменился. Зато, какой шедевр
                благословил наш новый гарант-юрист: указ о наказании за отрицание! Возможно, теперь появилось больше
                оснований наказывать создателей таких фильмов как «Сволочи»? И пришла пора Войновича призвать к ответу
                за Ивана Чонкина? А Резуну В. Б. (Суворову) послать в Англию, к чаю, немного полония? Возможно,
                появилась возможность наказывать и тех, кто вопрошает: «Ну, выиграли мы войну. Ну и что? А главное -
                зачем?»</p>
            <p>Как бы мы жили при победителях фашистах? Что бы тогда было? Это нетрудно увидеть. Если по порядку, то
                наши бы женщины, как представители второсортной, неарийской, нации рожали бы в роддомах с осыпающейся
                штукатуркой, в палатах с кишащими болезнетворными микробами. Дети, рождённые в таких условиях и при
                такой жизни, поголовно были бы больными или ненормальными. Кому они нужны? То есть, кто о них будет
                заботиться в стране оккупированной фашистами?</p>
            <p> Продолжительность жизни в стране, населённой рабами, должна неуклонно снижаться. Смертность будет
                превышать рождаемость. Люди, изнурённые непосильным, но мало оплачиваемым трудом, едва дожив до пенсии,
                будут умирать. Но для них это лучший вариант, потому что прожить на мизерную пенсию невозможно. Да,
                такое могло бы происходить в России, если бы мировое сообщество не победило фашистскую Германию.</p>
            <p> Продолжим: в покорённой стране, при отсутствии нравственных устоев, процветали бы педофилия и
                взяточничество чиновников. Высшие чины могли бы позволить себе летать вертолётами на охоту, в
                заповедники. Потому что на местах на руководящих должностях работали бы ставленники
                фашистов-победителей, сторонники оккупационной власти. И повсеместно так называемые правоохранительные
                органы верой и правдой служили бы им, а не народу, потому что у побеждённого, порабощенного народа не
                может быть никаких прав, разве что водительские.</p>
            <p> Все служили бы оккупантам. Вольно или невольно. За законные и незаконные льготы. За всевозможные
                поблажки и полную безнаказанность (если только ты верой и правдой служишь). Тогда, желающим
                поразвлечься, не обязательно будет летать на охоту в заповедник. Можно запросто открыть огонь по
                движущимся мишеням прямо в магазине. Или гоняться за прохожими на машине. Ведь ты кому служишь? Кого
                поддерживаешь? Неограниченную власть! Победителей! Оккупанты, то есть фашистский режим своих
                ставленников не дадут в обиду, и не выдадут на расправу. А особо отличившимся всегда найдётся местечко в
                Думе, среди сливок общества.</p>
            <p> Ну и понято, что при таком положении должна идти полномасштабная война с теми, кто не согласен с
                оккупационным режимом. Антифашистов преследовали бы всеми методами. Никакой свободной прессы! Остались
                бы одни продажные холуйские СМИ, поющие «Осанна» существующему режиму. А всех других, несогласных – до
                полного физического уничтожения! Вот, примерно, так бы мы жили, если бы не победили фашистскую Германию.
            </p>
            <p> Что? Кто-то готов сказать, что мы и сейчас так живём, как при фашистах? В таком случае, вы –
                несознательный товарищ, и подобным заявлением дискредитируете Советскую власть! Всё наше советское
                общество. И должны нести заслуженное наказание. Что, Советской власти давно нет? Но «совки»-то остались!
                И чекисты по-прежнему у власти. И как прежде у власти одна партия. Что? Чекисты – те же гестаповцы? Вы,
                дорогой товарищ, или искренне заблуждаетесь, или действительно враг народа, а по новой терминологии –
                экстремист.</p>
            <p> Включите телевизор, убедитесь: нет никаких оккупантов. А как ликует, веселится весь народ! А как по
                центральным телеканалам, перед 9 мая, под бурные аплодисменты, лихо отплясывали танцоры в краснозвёздных
                будёновках! Ностальгия захлёстывает! Если в этом всенародном ликовании вы не с нами, то вы против нас!
                Вы что? Отрицаете победу советского народа над фашизмом? Вот для таких, которые имеют на всё своё мнение
                и «шакалят» в интересах западных, японских и американских спецслужб (правда, это очень старый
                аргумент?), появилась новая статья в уголовном кодексе. Да, времена меняются. Но чекисты, их манеры,
                приёмы и штампы остались прежними.</p>
            <p> «Ну, выиграли мы войну. Ну и что? А главное: зачем?» Чтобы господин Лавров говорил о непрекращающихся
                провокациях против России и о том, что опять мы, несчастные, крайние? Чтобы в стране, победившей
                фашистскую Германию, беспредельничали настоящие фашисты? Чтобы чекисты по-прежнему вершили суд и
                управляли нами? Да кто из погибших во время Великой Отечественной войны мог подумать, что в нашей стране
                будет процветать фашизм?</p>
            <p> Может, это потому, что между фашистами и коммунистами, гестаповцами и чекистами, нет никакой разницы?
                Из-за этого мы так и живём, как в оккупированном врагами государстве. С постоянным недовольством и тихим
                саботажем.</p>
            <p> Вспомнил! И, даже очень может быть, кстати. «Побеждённые» – книга, прочитанная мной во времена
                перестройки. Автор Ирина Головкина. Она писала от имени белоэмигрантов, от имени побеждённых. Сейчас я
                понял, что это не «белые» проиграли. И не «красные» выиграли. Независимо от того, кто победитель во
                Второй мировой войне, в России все проиграли, ещё тогда, в семнадцатом. Когда к власти пришли кухаркины
                дети. И самые отъявленные ублюдки из них стали чекистами. Сейчас не буду спорить: КПСС была для них
                хозяином или только ширмой? Скорее всего, вначале была хозяином, а потом ширмой. Со временем старую
                ширму выкинули и поставили новую. А ублюдки остались. Они никогда у нас не выведутся. Потому, что они
                свои силы черпают в неиссякаемом роднике: из общества, из народных масс. Поэтому, кто бы нами ни правил:
                коммунисты, фашисты, демократы - без разницы - мы всегда внутренне останемся рабами, живущими на
                оккупированной территории. И всегда нами будет управлять барин, господин.</p>
            <p> Если оглянуться вокруг, прочувствовать отношения между людьми, то жутко становится. Нищие ненавидят
                богатых. За то, что богатые поголовно жульё, сволочи и дегенераты (нас и в школе этому учили). Богатые
                ненавидят нищих. За то, что нищие завистливые, ленивые и способны на всякую пакость. Поскольку у нас всё
                население делится на богатых и нищих, то все ненавидят всех.</p>
            <p> НЕНАВИСТЬ. Ненависть – это чувство, которое нас наполняет и объединяет. Власти, чтобы не стать объектом
                этой ненависти, создают громоотводы. Громоотвод – это указатель для молнии, место, куда она должна
                ударить. И власть старается, тычет пальцем, показывая, где громоотводы. По национальному признаку:
                чеченцы, грузины, украинцы, прибалты, таджики, узбеки; по географическому признаку: американцы,
                англичане, немцы и, вообще, весь блок НАТО; по социальному признаку: зажравшиеся олигархи, взяточники
                чиновники, оборотни-менты, бездушные врачи-непрофессионалы, безответственные родители и бездомные
                одичавшие дети. Всюду НЕНАВИСТЬ.</p>
            <p> Причина происходящего? Нужно применить сюда слова из Библии. Подходят ли? «По причине умножения
                беззакония, во многих охладеет любовь». Не в этом ли причина – умножение беззакония? Творящееся вокруг
                нас и с нами беззаконие убивает любовь в людях. На место любви, в образовавшуюся пустоту, ведь природа
                не терпит пустоты, входит ненависть. Она примитивнее, тупее и проще. Любить во всей полноте может не
                каждый, а искренне ненавидеть может любой. Нас принуждают жить в этой ненависти и самим источать
                ненависть. Потому что носителями примитивных эмоций управлять легче. Главное тут – вовремя показать на
                громоотвод.</p>
            <p> И опять хочется задать этот вопрос: «Ну, выиграли мы войну. Ну и что? А главное: зачем?» Для того чтобы
                продолжать жить в ненависти? Чтобы смотреть на экраны телевизоров и слушать, что все против нас
                занимаются провокациями? И жить воспоминаниями о бесславно выигранной войне, ценной в миллионы жизней,
                количество которых мы даже и не определили? Разве это не позор?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>