<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сто тысяч лыжников</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Сто тысяч лыжников</h1>

            <p> Сто тысяч лыжников вышли на лыжню в городе Екатеринбурге. Об этом на днях передало радио «Эхо Москвы».
                Ну и что тут такого? Здоровый образ жизни! Это же прекрасно! Чем бы дитя ни тешилось, лишь бы водочку не
                пило. А двумя минутами раньше, в этой же подборке новостей, передали, что президент России, г-н
                Медведев, очень недоволен высокими темпами роста безработицы, именно в Екатеринбурге. Ну и что? Что
                общего в этих двух сообщениях? Нет, не так: что они подчёркивают, эти два сообщения? Непроходимую
                тупость и инертность населения.</p>
            <p>Этих два сообщения о родном Екатеринбурге застряли у меня в голове. Сто тысяч лыжников! К цифрам, которые
                передают в информационных выпусках, отношусь одинаково: уменьшаю, в зависимости от обстоятельств, их в
                два, в пять или в десять раз. Скажем, когда сообщили о погибших в Южной Осетии и Абхазии, сразу это
                число уменьшил в 10 раз. И не ошибся.</p>
            <p> Вернёмся к ста тысячам лыжников. Даже если здесь, как всегда, соврали, преувеличив в десять раз, то
                можете себе представить 10 тысяч лыжников?! Не понимаете? Попробуйте себе представить 10 тысяч человек,
                которые в один раз подписались под прошением о помиловании Светланы Бахминой (в одном, в одном городе!),
                или Василия Алексаняна? Когда в Норд-Осте происходили печальные события, и люди тут же стали собираться
                на стихийные митинги с требованием прекратить военные действия в Чечне, наш доблестный чекист, не
                раздумывая (чтобы подобное безобразие не разрослось), применил отравляющий газ. А если бы тогда, с
                требованием прекратить войну в Чечне, на улицы вышли бы 10 тысяч человек? Тогда бы те несчастные, в
                Норд-Осте, остались живы. Или на 23 февраля, в день памяти депортации чеченцев в 1944 году, в крупных
                городах вышли бы эти люди, в поддержку чеченского народа. Вообще, можно ли себе представить в России 10
                тысяч активных человек, собранных вместе и занятых решением жизненно важных проблем!?</p>
            <p> 10 тысяч человек! И это в городе, в котором, как отметил сам президент, необычайно высокий рост
                безработицы. 10 тысяч человек на лыжне. Люди, которым проблемы кризиса и безработицы где-то на уровне
                чуть ниже пояса. «Проведите меня к нему! Я хочу видеть этого человека!» Что бы я там увидел, на этой
                лыжне? Поджарые фигуры, обтянутые шерстяным трико? Пар изо рта? И глаза. Эти пустые глаза. А глаза –
                зеркало души, это показатели внутренней пустоты. Кризис, массовая безработица. А они, опираясь на палки,
                стоя на месте, раскатывают лыжи. Здоровый образ жизни. У вас, что, ребята, мозги от «бормотухи»
                расквасились?! Кризис, кризис пришёл! Да в тот же проклятый телевизор загляните. С единственной целью:
                посмотрите, кто вами командует, и что вам говорят! Жутко: 10 тысяч человек вышли на лыжню. И больше их
                ничего не беспокоит: прийти до финиша и «свалить» домой. А вам, правда, не страшно?</p>
            <p> Да, наше общество, эти люди были навозом, на котором чекисты-селекционеры, под управлением руководящей и
                направляющей Коммунистической партии, пытались вырастить что-то доселе невиданное. Хорошего ничего из
                этого не получилось. Что мы имеем сейчас? Повторение 37-го года. Террор против собственного народа. То,
                что в те времена было трагедией, теперь должно быть фарсом. Но что это за фарс, если также гибнут люди?
                Если их арестовывают и сажают по телефонному праву? Молчаливо согласившись с призывом президента-чекиста
                мочить неугодных, мы выпустили на волю беса, духа смерти. Он страшен не только тем, что сеет вокруг
                смерть, подобных случаев в истории предостаточно.</p>
            <p> Но этот дух смерти страшен тем, что в глазах прежде нормальных людей он обесценивает чужую жизнь. Как во
                время военных действий человек вынуждено смиряется с чужой смертью, так и сейчас, согласившись на войну
                в непонятной для нас Чечне, согласившись на чужую смерть в Катаре или в Лондоне, мы обесценили ЖИЗНЬ.
                Чья-то смерть, весть о чьём-то несчастье нас не трогают. Но в этом и заключается ловушка беса, духа
                смерти: ни во что не ставя чужую жизнь, мы обесцениваем собственную, и безболезненно, легко её теряем!!!
                Ведь наша собственная, драгоценная для нас жизнь, для окружающих стала безразличной и чужой. А мы думали
                (ничто мы не думали!), мы надеялись, что дух смерти придёт к кому-то чужому, далёкому, незнакомому. Нас
                это не коснётся.</p>
            <p> «Мы заключили союз со смертью, и с преисподнею сделали договор: когда всепожирающий бич будет проходить,
                он не дойдёт до нас. Потому что ложь мы сделали убежищем для себя, и обманом прикроем себя» (Исаия
                28:14‚ 15). Да, мы союз заключили с чекистом, и с сатаной заключили договор. В надежде на то, что
                разгулявшаяся смерть не дойдёт до нас. С помощью лжи мы спрячем все концы. И эта ложь будет убежищем для
                нас. Обманом, как кольчугой, мы прикроем себя. Мы в безопасности! Вот только, кто заключает договор с
                сатаной, тот всегда будет обманут. И смерть уже не по Чечне гуляет. Посеявший ветер – пожнёт бурю.
                Приглашённая нами гостья из преисподней, теперь уютно себя чувствует на улицах наших городов. И мы,
                невольно, поощряем её присутствие безнаказанностью убийц, которых расплодилось немерено: Афган, Чечня,
                сотрудники спецслужб. Сколько их, профессионалов-наемников, до которых не доходит всепожирающий бич
                чекистского правосудия?</p>
            <p> Ложь не может быть надёжным убежищем. И постоянный обман не будет прикрывать от всей правды
                происходящего. И постоянное участие в лыжных гонках не спасёт нас от самих себя. Думать прежде надо,
                когда с кем-то заключаешь договор. Но для наших людей подобное утверждение не может быть аргументом:
                «Ха, удивили: дух смерти, который пришёл с чекистом!? Мы же материалисты!». Если бы эти материалисты,
                отрицающие наличие духов и их влияние на нашу жизнь, могли объяснить необычайный всплеск педофилии за
                последние годы…. Лично мне пришлось жене, а потом маме объяснять, кто такие педофилы. До последнего
                времени, за свои прожитые годы, они такого не знали! Зато теперь по телевизору об этом только и говорят.
            </p>
            <p> Так может, Бог всё-таки есть? И бесы? Нету? «Что это у вас, чего не хватишься, ничего нет! Так, стало
                быть, и нету? ... Но умоляю вас на прощание, поверьте хоть в то, что дьявол существует. О большем я уж
                вас и не прошу» («Мастер и Маргарита»). И уж если вы любите с горочки (в количестве ста тысяч человек)
                кататься, то будьте готовы и саночки в горку возить. Это даже материалистам придётся делать.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>