<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Бабочки-однодневки</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Бабочки-однодневки</h1>
            <p> В своё время меня поразил учитель биологии рассказом о бабочках-однодневках. Они появляются в
                определённое время, летом. И этот период длится несколько дней. Но каждая особь такой бабочки живёт
                всего один день. Подобная информация не вмещалось у меня в голове. Если они, скажем, появились 25 июля,
                то они не знают, что потом наступит 26 июля. Всё. На этом жизнь для них закончилась! Они не знают, что
                за июлем наступит август. Что за летом приходит осень. Они никогда не поверят в рассказы о зиме. Эта
                порода бабочек не знает первых весенних цветов, наполненных неповторимым запахом и жизнеутверждающей
                силою. Они не знают…. Да они ничего не знают!</p>
            <p> Для них объём получаемой информации о мире ограничен одним днём. У них мнение обо всём окружающем мире
                складывается из одного прожитого дня. Если в этот день шёл дождь – то бабочка умрёт с мыслью, что это
                мир такой – всю жизнь идёт дождь. Если в полдень другую бабочку склюёт воробей, то её последней мыслью
                будет, что вот это – и есть жизнь и что такая участь ждёт всех остальных. То есть, чем меньше информации
                у живого существа, тем меньше у него возможности составить правильное, объективное мнение о
                происходящем. Чем можно заполнить недостаток информации, эту образовавшуюся пустоту? Для безмозглой
                бабочки ничем не нужно заполнять. Она в этом не нуждается.</p>
            <p> Но с человеком всё сложнее. Человек – это вершина творения. Вершина всего живого. Совершенство. Но
                совершенство – это законченность. Может ли совершенство иметь в себе пустоту, какие-то пропуски? Нет,
                конечно. А если появились в человеке пробелы, пустота? Может ли какой-то закрытый, но не герметичный
                объём сохранить в себе вакуум? Нет, не может. Человек создан так, что заполняет себя по выбору тем, что
                ему доступно. Или тем, что ему настойчиво предлагают. Но что же такое совершенство?</p>
            <p> В русском языке есть выражение «вершить» – заканчивать копну или стог сена. Есть выражение «вершить
                судьбы людей» - это значит управлять, вести к какой-то собственной цели, к намеченному финалу. Приставка
                «со» (совершить), в русском языке обозначает присутствие, наличие кого-то ещё, второго: соратник,
                сотрудник, собутыльник. Кто же этот второй, который трудится над человеком, делая его совершенным?
                Идеальный вариант: этот второй должен обладать сверхсилой, сверхразумом, быть в высшей степени
                справедливым и в тоже время милосердным и любящим.</p>
            <p> Этого второго, который помогает формировать нас, мы выбираем в помощники по собственному усмотрению, на
                доступном нам уровне. Это может быть футбольная команда «Зенит», это может быть НЛО, учение
                марксизма-ленинизма или бог наживы, богатства Мамона. При выборе помощника для своего совершенствования
                люди руководствуются двумя критериями. Одни, поклоняясь своим кумирам, при минимальных затратах хотят
                получить определённый максимум. Им для этого достаточно покупать билеты на футбольные матчи и кричать:
                «Спартак» - чемпион!!!». Или, наоборот, для всеобщей победы коммунизма, во имя братства, свободы и
                равенства принести в жертву неосуществимой идее миллионы человеческих жизней. Для других – основным
                критерием совершенства служит их близость к Богу при земной жизни, неустанное желание и надежда на
                пребывание после смерти в обществе и общении со Всевышним, в награду за достойную жизнь.</p>
            <p> Разные люди, разные критерии. Разный выбор. Кто прав? Время покажет. Но проблема в том, что у
                бабочки-однодневки нет времени, нет будущего. Она всегда живёт одним 25-м июля, считая, что 26 июля не
                бывает. А если нет 26 июля, то ради кого или ради чего ей стараться? Поэтому у бабочки-однодневки
                отсутствует стимул для внутреннего роста, так как она живёт сегодняшним днём. Одним днём. Гениальный
                Булгаков в «Собачьем сердце» обронил фразу: «Потому что наголодался я в молодости достаточно, будет с
                меня, а загробной жизни не существует». Подобным рассуждением и соответствующим образом жизни существо
                «однодневка» лишает себя возможности совершенствования, этим самым обрекая себя на ущербность, на
                неполноту.</p>
            <p> Почему, говоря о бабочке-однодневке, я, как бы по аналогии, думаю о русском народе? Как и что послужило
                поводом для появления новой исторической общности – советского народа? Конечно, ключевым моментом
                явилась Великая Октябрьская Социалистическая Революция. Но ведь что-то предшествовало ей? Были какие-то
                ярко выраженные качества у русских, которые способствовали воплощению марксистко-ленинского учения
                именно в России?</p>
            <p> «<span class="article__passage">И увидела жена, что дерево хорошо для пищи, и что оно приятно для глаз и
                    вожделенно…и взяла плодов его
                    и ела</span>». Это фраза из Библии. Отметим здесь ключевое слово «вожделенно». Синонимом слову
                «вожделенное» в
                современном языке является слово «желанное», «желаемое». Ещё одна фраза из Библии: «<span
                    class="article__passage">Всякий, кто смотрит
                    на женщину с вожделением, уже прелюбодействовал с нею в сердце своём</span>». Всякий кто смотрит на
                женщину с
                желанием (обладать) уже согрешил. Когда? Ведь я ещё ничего не сделал! Только посмотрел! В чём тут грех?
            </p>
            <p>Возникшее желание, вожделение, «отодвинуло» от меня Бога. На первом месте, главным для меня стал не Бог и
                Его заповеди, а моё собственное желание. Исполнение желания – вот что стало основным для меня на тот
                момент. Это и есть грех, свершившийся вначале в духовном мире. После этого грех происходит в
                материальном мире: Ева взяла плод и съела. А искатель любовных приключений предпринял определённые
                действия в отношении вожделённого объекта. В чём же вина, грех русского народа? В том, что бедные
                посмотрели (опять же!) с вожделением на богатства им не принадлежащие, и с радостью приняли подброшенный
                кем-то лозунг «Грабь награбленное!». Значит, Бог был у них не на первом месте. А может, Его и не было ни
                в сердцах бедных, ни в сердцах богатых? Может, была одна показуха?</p>
            <p> Куприн, в своём рассказе о колдунье Олесе, приводит слова урядника, который жалуется на то, что ему
                приходится выявлять и вести строгий учёт тех, кто не посещает церковь. Получается, что людям посещение
                церкви было тягостной обязанностью. И делали они это из-под палки. Тогда о какой живой, искренней вере
                можно тут говорить? В чём причина? В самом народе? Или в священниках? А священники – разве это не люди
                из народа? Значит у нас, у русских, менталитет такой. А какой – такой? В басне про Стрекозу и Муравья
                последнему ставится в заслугу подготовка к зиме, к совсем другой жизни. А Стрекоза оказалась
                легкомысленной. И вместо упорного ежедневного труда она стремилась получить только удовольствия от
                жизни.</p>
            <p> Русский народ легкомысленным не назовёшь. Если попробовать охарактеризовать его несколькими словами, то
                это лень, пьянь и рвань. А отсюда зависть к тем, кто лучше его, кто богаче его. И ненависть к
                окружающим: к бедным презрение за то, что они такие же бедные, к богатым – ненависть за то, что они
                богатые. Зависть и ненависть. Наше мышление: как можно быть богатым? Только через обман или воровство.
                Поэтому мы с удовольствием уничтожали кулаков-мироедов, помещиков-кровопийц, фабрикантов-эксплуататоров
                и современных олигархов. А где же в нас Бог? Любовь в наших сердцах?</p>
            <p> Да не было этой основы в нас. Не было ничего этого. Не было у «белых». Не было у «красных». Потому, что
                «красные» и «белые» - один народ – русские. И последние «новые русские», повод для анекдотов – это тоже
                русские! Только разбогатевшие и уже не прячущиеся в серой массе, а наоборот – демонстрирующие себя и
                своё «я». А чего тут демонстрировать? Мы все такие. Только не все разбогатели. Но мы мечтаем. И
                завидуем. А вдруг!?
            <p> Бабочка-однодневка села на питательный цветок. Счастье-то какое! Да не нужно нам это 26 июля. Зачем нам
                завтрашний день и хлопоты о нём? Совершенствовать себя? Зачем? Если я сытый сижу в цветочной пыльце.
                Пусть Муравей «пашет»! А если нужда у Стрекозы появится, то она готова его раскулачить. Русский народ не
                раз переживал стадию созерцательного вожделения – зависть. Это был первый шаг к грехопадению. А потом от
                созерцания до практики делался ещё один шаг: осуществляли свою похоть, срывали запретный плод.
                Беспощадный русский бунт или «покровительство» слабым соседям. То есть, это у нас в крови – отнять,
                присвоить чужое и растворить в себе. Опыт есть.</p>
            <p> Осуществление похоти – это второй шаг вниз по лестнице, удаляющей от Бога. Он выражается в наших
                конкретных, практических действиях, в отличие от, казалось бы, внешне безобидного созерцания –
                вожделения. С любой ступени лестницы ведущей вниз можно вернуться. Согрешив один раз действием
                (исполнение похоти), можно покаяться в этом грехе и не повторять больше его. А если мы увлеклись
                каким-то грехом и повторяем его? Если мы разожглись похотью? И пережитый случай не становится отдельным,
                забытым эпизодом? Наоборот, он нам в удовольствие. Тогда мы делаем всё, чтобы повторить подобное
                состояние. Мы прикладываем для этого все силы, всю свою страсть.</p>
            <p> Пристрастие – это и будет третья, следующая ступень лестницы. Всё отдать и сделать для повторения
                приятной ситуации! Испытать былой подъём, заново пережить эйфорию. Так, если человек, попробовавший
                единожды наркотик, не останавливается на этом, то он становится наркоманом. Как поначалу было здорово!
                Остановись, мгновенье, ты прекрасно! Что? Остановить мгновенье невозможно? Тогда можно его повторить.
                Повторять до бесконечности! Поддавшийся пристрастию человек уже не в состоянии влиять на своё будущее.
                Оно от него не зависит. Его единственная цель – сию минуту удовлетворить свою страсть, перешедшую в
                привычную необходимость. И эта привычная необходимость приводит к зависимости.</p>
            <p> Зависимость – это пристрастие, но уже укрепившееся в человеке и поработившее его полностью. Полная
                зависимость и рабство – это практически одно и то же. Зависимый человек деградирует, перестаёт быть
                личностью, индивидуумом. Ему наплевать на прошлое, для него нет будущего. 26 июля его не интересует. Он
                живет, решая только одну сиюминутную проблему, которая растянута на всю его оставшуюся жизнь: как
                накормить ненасытного зверя, который овладел им? А ведь так всё хорошо начиналось! С вожделения, с
                предвкушения чего-то приятного. С желания, несмотря на запреты, стать на «халяву» счастливым.
                Зависимость – это была последняя ступенька лестницы ведущей вниз. Дальше – дно. Оно называется
                одержимость.</p>
            <p> Одержимость предполагает полное поглощение личности дьяволом или его слугами – бесами. Одержимый человек
                является ходячим домом для бесов. Такой человек (или общество) – это зомби, исполняющий чужие приказы,
                не сопротивляющийся и не делающий никаких попыток к неповиновению. Потому что команды идут как бы
                изнутри, и человек воспринимает их как собственную реакцию (несомненно, правильную!) на происходящие
                вокруг события.</p>
            <p> Так на какой ступеньке этой лестницы находится Россия? Как далеко мы ушли в своей зависти и ненависти?
                Посмотрим: разжигались ли мы похотью, низменными желаниями и негативными эмоциями, глядя на богатых как
                на объект своих вожделений? Ну, это для нас давно пройденный этап! А пристрастны ли мы? Или наоборот –
                мы беспристрастны и ко всем толерантны? Решайте для себя сами. Насколько мы попали в зависимость от
                нетерпимости ко всем и непримиримости ко всему? Сколько в нас ненависти к окружающим? Или, может,
                действительность ещё хуже? Может, мы уже на самом дне: порабощённое, зомбированное общество, послушно
                выполняющее любые приказы? Бабочки-однодневки, не помнящие прошлого, не думающие о предстоящем будущем.
                Не осознающее, что командуют ими бесы.</p>
            <p> Хотя, предположим, бесами советских людей не напугаешь. Они же православные атеисты. И Библия для них не
                авторитет. И нечистая сила для них не существует. Ничем не озабоченные бабочки-однодневки. О каком
                совершенствовании тут может идти речь? Тогда зачем я пишу? В чём цель моих рассуждений? Надеюсь, что
                хотя бы кто-то из тех, кто не согласен со мной, задумается. Пусть из желания противоречить. Потому что
                сам по себе процесс думанья (размышления) иногда имеет неожиданные последствия. Вначале человек
                задумывается, потом начинает анализировать, сопоставлять. Даже из чувства противоречия. А там, кто
                знает…. С размышления, с обычного размышления, порой, начинается искреннее покаяние.</p>

            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>