<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Яма</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Яма</h1>
            <p> Недавно нам позвонил серьёзный человек: «У меня сидит корреспондент. По телефону я его представлять не
                буду. Его интересуют факты коррупции. Вы не откажитесь побеседовать с ним?». Оля, в очередной раз
                согласилась. Мне стало интересно: или это какой-то пацан, которому ещё рога не обломали, берётся за
                запретную тему, не осознавая опасности; или это какой-то журналист, с обострённым нюхом, учуял, что пора
                говорить правду. Ну, что ж? Приедет – посмотрим. Так никто и не приехал. Видимо, здравый смысл у
                человека победил.</p>
            <p> Это уже не в первый раз, когда у людей побеждает «здравый смысл». Когда-то нам настоятельно
                порекомендовали обратиться к корреспонденту Зое Световой. Она, в ответ, даже пообещала приехать. Уже
                который год ждём. «Новая газета» вообще не ответила на наше письмо. Да, собственно, что всех
                перечислять? Десять лет мы, как больные в психушке, метались в палате, стены которой обиты матами,
                предлагая кому угодно документы о многомиллионных хищениях. Надо сказать, что результат для всех
                оказался удовлетворительным. Хоть никто нас из палаты не услышал, но мы не поранились, и от нас никто не
                пострадал. Все остались довольны, санитары – в первую очередь.</p>
            <p> В прошлую субботу топил баню. Дрова приходится экономить, и я собрал на растопку в корзину всю старую
                обувь. На этот раз в корзине осталась последняя пара. Я всё её откладывал. Это были мамины старые туфли.
                Долго она их носила «на выход», а потом донашивала, работая в огороде. Подошва на них полопалась мелкими
                трещинками, совсем как у мамы кожа на пальцах. Мамы нет три с половиной года. А туфли…</p>
            <p> Почему я из всего делаю проблему? Недавно насобирал в пластиковую бутылку колорадского жука. Обычно я
                брызгаю туда что-то вроде дихлофоса, чтобы жуки не мучились. Соседка через забор спрашивает: «А чо это
                ты делаешь?». Объяснил ей. Она удивилась: «А какие проблемы?».</p>
            <p> Действительно: какие проблемы? Почему мне жалко жуков-колорадов, обреченных на медленную смерть в
                бутылке? И милосердие ли то, что я мгновенно убиваю их ядом? Ведь всё равно – убиваю. Почему мамины
                туфли мне неловко сжигать, как будто я избавляюсь от последней памяти о ней? Почему? Ведь память не в
                туфлях, а в сердце. Мама очень любила Олю. Это покажется удивительным, но мама, человек прожившая жизнь,
                уважала Олю, прислушивалась к её советам и её мнению. За всё время Оля только в одном обманула её. Хотя,
                тогда Оля сама верила в то, о чём говорила. Она постоянно уверяла маму, что всё у нас будет хорошо, что
                мы выиграем суды, что коррупционеры и их защитники и покровители будут наказаны. Мама верила ей, но не
                дождалась этого. Как я сейчас это понимаю, мы тоже не дождёмся (впрочем, это стало неважно).</p>
            <p> В давние времена существовало поверье, что мыши зарождаются сами. Для этого достаточно иметь
                захламлённое мусором тёплое место. Если гора может родить мышь, то огромная куча мусора (под названием
                Россия) родила злобную чекистскую крысу. Вначале крыса довольствовалась тем, что пожирала свою родину –
                эту кучу промышленных и производственных отходов. Но ей показалась мало. Почувствовав безнаказанность и
                вкус вседозволенности, сея эти качества в других членах своей крысиной стаи, крыса решила вылезти за
                рамки помойки.</p>
            <p> Как-то на «Гранях» я дал выдержку из своего дневника, где говорилось, что мировая общественность
                озабочена птичьим гриппом, озоновыми дырами, СПИДом, парниковым эффектом, коровьим бешенством, и никто
                из политиков не понимает, что самой большой угрозой миру являются не эти бедствия, а Путин. На «Гранях»
                тогда на меня обиделись все: путинские портянки – за то, что я демонизирую их работодателя, мои
                единомышленники – за то, что я раздуваю авторитет Путина. Теперь стало видно, кто был прав. По Украине
                понятно, что крыса, освоившая помойку, готова расширить территорию. Крысе не привыкать крысятничать. Это
                её нормальное состояние. Плохо, что она приучила к безответственности и безнаказанности таких же
                крыс-подельников. Видимо, для уверенности она решила всех своих повязать кровью.</p>
            <p> За амбиции «старшего брата» теперь страдает население Украины. До этого в разной степени пострадали:
                Грузия, Дагестан, Чечня, Ингушетия, Прибалтика, Афганистан. Жалко ли нам их, тех людей, которые не
                сделали для нас ничего плохого? Нам их судьба безразлична. А ведь мы их убиваем. Убиваем под разными
                предлогами. Думаю, что никто из нас особенно не задаётся подобными вопросами. Но я чувствую себя
                убийцей. Не свидетелем происходящих кровопролитий, а соучастником. Это идея Путина. Ему не хотелось
                выглядеть извергом одному: «Я такой не потому, что я ТАКОЙ. Вы посмотрите: каким народом мне приходится
                управлять, кого я держу в узде!». Теперь уже весь мир знает правду: какие мы. Путин добился своего.
                Будет ли к нам, извергам, какое-то сочувствие и сострадание со стороны остального мира, если Путин ещё
                больше закрутит гайки собственному быдлу? Думаю, что нет. Такой народ не заслуживает ни сочувствия, ни
                поддержки, ни права на нормальную жизнь.</p>
            <p> Сейчас я понимаю Бориса Стомахина. Для меня не важно, в каких словах он выразил неприятие ТАКОЙ страны.
                Важно то, что он хотел выкрикнуть, донести свою мысль до каждого, до кого только можно достучаться: ТАК
                жить нельзя, ТАКАЯ страна не имеет право на существование. Это его (и моё) мнение. Но для властей это -
                крамольное утверждение. Крысятничать, обворовывать собственное государство, своих же быдло-сограждан –
                нормально. Вести войну на своей территории или пересекать границы соседнего государства, сея смерть и
                разрушение, – нормально. Но протестовать против власти, против агрессивного свихнувшегося общества – это
                преступление. Хотя за время правления Путина погибли тысячи людей, он остаётся любимым нацвождём
                государства. А вот тот, кто говорит, что ТАК жить нельзя, что озверевшее государство не имеет права на
                существование – объявляется преступником. Путин, кстати, гнобит «болотников» по усиленной программе,
                тоже только за попытку высказать мысль: ТАК жить нельзя!</p>
            <p> Так жить нельзя. Но надо признаться, что по-другому мы не можем. Это легко доказать. Представим, что
                Япония подарила нам саму себя. То есть Япония стала Россией. Япония – это страна сказочных технологий,
                своеобразной культуры и страна долгожителей. Мы, вроде бы, просто обязаны после этого стать богаче и
                жить лучше. Но во что Япония превратится через 20 – 30 лет в составе России? Через несколько десятков
                лет мы не отличим японцев от чукчей. И будем рассказывать про японцев те же анекдоты, что и сейчас про
                чукчей, уже не находя между ними разницы.</p>
            <p> А если, наоборот, наше правительство отдаст Сахалин? Ну, предположим. Уверен, через несколько десятков
                лет Сахалин по всем показателям приблизится к Японии. Вот так вот. Россия – это огромная выгребная яма.
                Туда можно бросать золотые статуэтки, драгоценные украшения, сыпать мешками монеты. Всё это будет
                проваливаться как в бездну, а на поверхности по-прежнему будут извиваться скользкие жирные белые черви.
                Это они жиреют на содержимом выгребной ямы (население тоже входит в содержимое ямы). По-другому мы не
                можем.</p>
            <p> Как могу позволить себе говорить о родине, как о выгребной яме? Ну, я же могу говорить об очевидных
                вещах: что земля круглая, а солнышко тёплое. Не раз слышал обвинения в свой адрес, что продал или готов
                продать родину. Но давайте будем откровенны: кто её купит? Кому она на фиг нужна, со 140 миллионами
                обленившихся извращенцев? Не в сексуальном плане извращенцев, а с повернутыми (извращёнными) остатками
                советских мозгов. ТАКУЮ родину продать невозможно. Подарить? Кому? Разве только врагам, чтобы причинить
                им невиданные страдания. Представляете, что будет, если Россию подарить США? Они должны будут как-то
                прокормить 140 миллионов папуасов? В США такой начнётся кризис, который ни одна мировая держава не
                переживёт. Эта яма, Россия, засосёт и высосет всё, что угодно и никогда не наполнится.</p>
            <p>Считаю, что я прав, когда брызгаю дихлофосом собранных в бутылку жуков. Во-первых, спасаю этих паразитов
                от дальнейшей мучительной агонии (они же в замкнутом пространстве если не пожрут, то потопчут друг
                друга). Во-вторых, спасаю от вредителей свой огород. В-третьих, соседи должны быть мне благодарны за то,
                что я избавил их от колорадской заразы. Может это же самое Борис Стомахин думает? Заметьте, он думает не
                о себе. Думал бы о себе – второй срок не схлопотал бы (да и первый тоже). Даже не об уродине и возможной
                её кончине. Он думает об интересах соседей России, о других странах, об интересах всего мира. О тех же
                колорадах, которые всё равно затопчут друг друга в агонии. Или пожрут сами себя. Он имеет право на
                мнение? Пусть даже в стране с суверенной демократией, под управлением гуманиста-чекиста? Можно или нет
                иметь и высказывать своё мнение о том, что ТАК дальше жить нельзя?</p>
            <p> Да, кто-то любит эту родину и готов умереть за неё. Я ненавижу ТАКУЮ родину. Для меня она тюрьма и
                безнаказанный убийца. И если я умру прежде времени, то, честное слово, это вовсе не от любви к родине.
                Кстати, сколько таких, по разным причинам умерших! Но их всех объединяла одна черта: несогласие жить с
                колорадами, борьба с ними. Я тоже не согласен. Для меня лучше оказаться в бутылке с колорадскими жуками,
                когда (если) Бог надумает брызнуть туда дихлофосом, на радость и облегчение остальному миру. «Ибо
                праведник сей, живя между ними, ежедневно мучился в праведной душе, видя и слыша дела беззаконные».</p>
            <p> Сразу оговариваюсь: я не праведник. Но сколько можно мучиться и видеть мучения других? Божья
                справедливость и Его милость заключается не только в том, что Он заботится о жизни, благе каждого
                человека. Но и о благополучии, сосуществовании миллиардов других людей, об их безопасности. А кому,
                какую безопасность может гарантировать Россия? Надеюсь, что Бог не будет терпеть колорадов в Своём
                огороде. Особенно, когда они забыли о чувстве меры и о чувстве вины. Исполнится ли сценарий Бориса
                Стомахина? Или у Всевышнего есть какие-то другие варианты? Не знаю. Но пока Стомахин по решению
                путинского суда отбывает очередной срок. А мне на будущее лето опять собирать жуков в огороде. Или не
                надо так далеко загадывать, если живёшь в России?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>