<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Кто ответит за козла?</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Кто ответит за козла?</h1>
            <p>Одно время мне стало интересно вглядываться в кадры кинохроники и в старые фотографии, где запечатлены
                массы лиц (лица масс? масса лиц?): торжественные собрания во Дворце съезда, похороны Сталина, судебные
                процессы над врагами народа. Лица, лица… Люди… Мысли… Какое разочарование ожидало бы их, узнай они тогда
                правду. Что они жили во лжи, поклонялись идолам, что они предатели. Что они вынуждены были стать
                таковыми. Во имя общепринятой популярной идеи, мучались они при этом, или не мучались, но предавали
                своих близких. И расстреливали врагов без сожаления. А кто-то даже с удовольствием. Враг-то был
                узаконенный, чётко обозначенный – классовый!</p>
            <p> Скажи им в то время правду, которая потом всплывёт неизбежно. Скажи немцам, в тридцать седьмом году, чем
                закончится вторая мировая война. Скажи им, что это за идеология – фашизм, и сколько проклятий они
                соберут на себя. Скажи! И что? Наверняка, это будет потрясение. Может, не для всех. Но после окончания
                второй мировой, когда весь предопределённый путь ими был пройден, в Германии фашизм был предан анафеме -
                проклятию и запрету. Потому что немцы оглянулись на пережитое. Господи! Что мы наделали?! Прости нас,
                Господи! Простите нас, люди! Так жить нельзя! Надо по-другому. И они начали жить по-другому.</p>
            <p> Что же произошло у нас, когда мы прошли свой предопределённый путь построения коммунизма? Оглянулись.
                Ужаснулись. Господи! Что мы наделали?! До сих пор наша реакция на содеянное, как у всех людей: что мы
                наделали?! А дальше? Дальше должно следовать покаяние. Во всяком случае, этому учит Библия. Покаяние –
                есть результат понимания того, что ты жил неправильно. Осознание того, что грешил. Вольно или невольно.
                Под воздействием идеи или каких-то обстоятельств. Но ты жил во зле. И доставлял людям зло. Прости меня,
                прости нас, Господи! Простите меня люди!</p>
            <p> Покаяние должно быть не потому, что об этом говорит Библия. Советским атеистам Библия не указ. Но
                покаяние, в любом случае, это необходимое условие перехода из одного (нравственного, или наоборот,
                безнравственного) состояния в другое. Покаяние – это своего рода кризис у больного. Но кризис несёт два
                возможных варианта развития: выздоровление или смерть. А покаяние несёт только жизнь. Новую жизнь. Что
                же произошло в нашей империи? Все дружно ударили в набат: «Так жить нельзя! Перестройка! Перестройка!»
                Оказывается, мы жили неправильно. Меняем срочно наши ориентиры и ценности! Отрекаемся от прежнего образа
                жизни. Хорошее решение. А покаяние? Со стороны властей? Со стороны Церкви? Наконец, наше личное
                покаяние?</p>
            <p> Вот тут и возникает закономерный вопрос: а мы нужны, вот такие вот – раскаявшиеся - властям? Нужны ли мы
                им, ставшие другими? Ответ может быть только один: нет, не нужны. Бывшим представителям советской
                власти, бывшим коммунистам, по-прежнему, нужно стадо. Послушное, прежнее стадо. Которое ведут козлы. Не
                обижайтесь. И не торопитесь с выводами в мой адрес. «Козлы» при нашем менталитете и засилии путинского
                жаргона воспринимается как оскорбление, как выражение, пришедшее из мира уголовников. Но, на самом деле,
                по Библии и в жизни, стадо баранов обычно ведут козлы. Отличающиеся умом и сообразительностью. Так что,
                по поводу наших козлов (все поняли, что это не оскорбление?): вожаков, вождей и национальных лидеров -
                тут уж решайте сами – отличаются ли они умом и сообразительностью. По-моему, однозначно отличаются!</p>
            <p> Но вернёмся к нашим баранам. Продолжим: нужны ли мы – раскаявшиеся - сохранившейся православной церкви?
                Тут нужно отметить один нюанс. За годы существования церкви при советской власти она тоже стала
                полностью советской. А от православия в ней осталась одна видимость: свечки, кресты и одни и те же лица,
                постоянно мелькающие в наши дни на экранах телевизоров. Получатся, что новообразованная советская
                церковь заинтересована в том же, в чём и советская власть: сохранить и преумножить своё (в смысле, общее
                с советской или светской властью) стадо. Так что качество - раскаянье за то, что наши отцы и деды
                натворили, и покаяние за собственные грехи - такой церкви не нужно. Ей нужно количество.</p>
            <p> Тут уже без перегибов на местах не обходится. Теперь детей крестить начали прямо в роддоме. А крест
                принуждают учеников целовать в школе, на уроке. Ну, а нацменьшинства? Или как их теперь называть, чтобы
                они не обиделись? Они ведь тоже под раздачу православия попадают? Да! Но кто их мнение спрашивать будет?
                Сколько их среди нас? И уж если родные власти к нам, россиянам, к дорогим соотечественникам, относятся
                как к стаду, то про них что говорить? Уголовный кодекс большой, на всех хватит. Статью всегда подобрать
                можно. На выбор: разжигание национальной, межрелигиозной, социальной розни. Короче – экстремизм. Так что
                лучше им не рыпаться. А то - национальное самосознание проснулось!</p>
            <p>Всё же, что произошло после перестройки с нами, рядовыми советскими баранами, всегда обречёнными на
                заклание? Которых, при необходимости и без, приносят в жертву. Которых даже считают не подушно, а
                миллионами. Типа: от 20 до 30 миллионов погибло за 1941-45 годы.</p>
            <p>Простите меня, люди русские, но чтобы высказать на этот счёт своё мнение, опять вернусь к Библии. Пусть
                даже это некоторых нервирует: «Как пёс возвращается на блевотину свою, так глупый повторяет глупость
                свою» (Притч. 26:11). Неразумная животина возвращается к тому, от чего её больной организм освободился.
                И этому возврату можно найти какое-то объяснение. Но глупый повторяет свою глупость. И этому нет
                объяснения, кроме того, что мы имеем дело с глупым.</p>
            <p>После перестройки мы опять вернулись на свою блевотину, мы опять повторили свою глупость, мы опять
                наступили на те же грабли. Опять поставили во главе стада козла. На этот раз из чекистов. Чтобы взойти
                на престол первый раз, он развязал новую войну с Чечнёй, твёрдо пообещав покончить с террористами и
                установить прочный мир на Кавказе. Одного срока ему не хватило, но нам подобное правление понравилось.
                Чтобы остаться на второй срок, он, уверенный в собственной незаменимости (ну, где ещё такого козла
                найдёшь?), своему стаду даже обещать ничего не стал. И с другими кандидатами в дебаты не вступал. И,
                действительно, победил!</p>
            <p> Отсидев оба срока, от звонка до звонка, он на своё место (чтобы чужой не занял) поставил дурилку
                картонную. Я должен извиниться за приблатнённый жаргон, но на этом языке чекисты разговаривают. И все
                делают вид, что их понимают. А вы не понимаете? Ну, это на Западе, из фанеры вырезают полицейского, и он
                стоит вместо настоящего. Что? Запад не может быть использован в качестве примера для русского человека?
                Ну, хорошо, тогда пример для русского человека. Что такое ботало, знаете? Это когда козлу надевают на
                шею подобие колокольчика. Это и есть ботало. Оно предназначено для оповещения о местонахождении, о
                позиции, о каждом движении козла. То есть козёл делает, что хочет, ходит, где хочет. А ботало – это не
                ограничение, а звуковое сопровождение козла, констатирующее его позицию.</p>
            <p> С чего я начал, что ушёл так далеко? С кадров кинохроники. Последнее время меня мучает сухость во рту. И
                першит в горле. Это от того, что я устал плеваться на экран телевизора. Показывают Михалкова и съезд
                артистов-кинематографистов. Лица, лица, люди, мысли. Смотрю на эти одухотворённые лица советской
                интеллигенции и думаю: «Вот, сказать бы вам правду: что живёте во лжи, покланяетесь идолам, и что вы
                стали невольными предателями». Что бы они тогда сделали? Да ничего. Они же и так всё знают!!! Это не
                пёс, который поглощает свою блевотину. И не глупец, повторяющий свою глупость. Это – элита нашего
                общества. Сейчас я понял, что хотела сказать советская мумия, заявив: «Русская интеллигенция – это
                говно!» И вынужден согласиться.</p>
            <p> Может, поэтому, с такой интеллигенцией, мы ведём себя как стадо? И поэтому постоянно нас ведут козлы (а
                другого на роль лидера найти невозможно), обещая светлое и стабильное будущее?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>