<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Как Ольга Ткалич в мэры баллотировалась</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Как Ольга Ткалич в мэры баллотировалась</h1>
            <p> Современные телефоны лишили нас возможности говорить фразу: «У меня зазвонил телефон». Телефоны сейчас
                напевают, насвистывают, что-то мурлычат. Олин сотовый в очередной раз замурлыкал. Она бросилась к нему,
                а потом также быстро вышла в коридор. Официальное объяснение этому: «В коридоре лучше слышно». На самом
                деле Оля не хочет, чтобы я слышал её разговоры. Не хочет расстраивать меня очередными неприятностями,
                считая, что они провоцируют у меня высокое давление.</p>
            <p> На этот раз из коридора вместо её приглушённого голоса раздался крик: «Петя, вызывай милицию!». Я
                растерялся: какой-то пьяный завалился к нам в дом? Так я, это, пока сам могу справиться. Оля продолжала
                кричать из коридора: «Вызывай скорей милицию». В свою очередь я с телефонной трубкой в руке выбежал к
                ней в коридор: «Что случилось?» - «Олег поймал разносчиков газет».</p>
            <p> Оля второй раз решила баллотироваться на пост мэра посёлка. Четыре года назад эта попытка закончилась
                неудачей: за сутки до выборов, ночью, по всем домам в посёлке разнесли листовки, где о нашей семье были
                написаны всевозможные «ужастики». Помоев и читателей не жалели. Расчёт был на то, что бумага всё
                стерпит. Те выборы, по традиции, выиграл кандидат от «Единой России». Оля оказалась на втором месте из 5
                кандидатов. И вот она решила баллотироваться во второй раз и снова самовыдвиженцем.</p>
            <p> На этот раз конкурентов у неё, после сверки подписей за кандидатов-самовыдвиженцев, осталось двое: от
                партии ЖиВ и от ЛДПР. По всему посёлку висели плакаты и баннеры с кандидатами от этих партий. Денег
                партии не жалели. Но ни на одном плакате от Едра, ни на одной растяжке с её кандидатом Пшеницыным не
                было упоминания о cамой «Единой России». Нигде, ни одной ссылки! Чудный, милый советский народ. Четыре
                года назад, на таких же выборах, главным аргументом победившего кандидата в мэры от Едресни было
                утверждение: «За мной Россель, Путин и «Единая Россия»!» Ба, какие люди! Для совков это звучало очень
                убедительно. Подсознательно мы же ощущаем себя большими или маленькими членами единой России.</p>
            <p> За прошедшее с той поры время бывший губернатор Россель уехал в Москву на повышение. Там, как в
                отстойнике для грязи, собираются «бывшие»: наворовавшиеся (или проворовавшиеся?) чиновники, неудачливые
                убийцы и провалившиеся шпионы. «Единая Россия» за эти 4 года твёрдо зарекомендовала себя партией Жуликов
                и Воров. Да и сам Путин перед выборами находился в подвешенном состоянии: выберут его президентом или
                нет? Кого же, на этом безрыбье, российский электорат поставит (в смысле, назначит) раком? К сожалению, у
                населения с менталитетом заключённых всё произошло как в настоящем концлагере. Причём тут концлагерь?
                Почитайте, как описывает Василий Гроссман быт заключённых концлагеря, в романе «Жизнь и судьба»:</p>
            <p class="article__remark"> «Казалось, что для управления громадой репрессированных нужны огромные, тоже
                почти миллионные армии
                надсмотрщиков, надзирателей. Но это было не так. Сами заключенные приняли на себя полицейскую охрану в
                лагерных городах. Сами заключенные следили за внутренним распорядком в бараках, следили, чтобы к ним в
                котлы шла одна лишь гнилая и мерзлая картошка, а крупная, хорошая отсортировывалась для отправки на
                армейские продовольственные базы. Заключенные были врачами, бактериологами в каторжных больницах и
                лабораториях, дворниками, подметавшими каторжные тротуары, они были инженерами, дававшими каторжный
                свет, каторжное тепло, детали каторжных машин. Свирепая и деятельная лагерная полиция (добровольцы!)
                охватывала своим контролем всю вертикаль лагерной жизни, от общелагерных дел до частных событий,
                происходящих ночью на нарах. Казалось, исчезни начальство, заключенные будут поддерживать ток высокого
                напряжения в проволоке, чтобы не разбегаться, а работать».</p>
            <p> Обратите внимание на последнюю фразу: «Казалось, исчезни начальство…». Исчезать оно никуда не
                собиралось. Просто от зеков (то есть от совков) требовалось в очередной раз подтвердить легитимность
                начальства и охранников. Зеков в реально существующем для них мире (в концлагере) всё устраивало.
                Грядущие перемены их даже пугали: если исчезнет нынешнее начальство, то могут произойти изменения,
                которые предполагают последующую свободу. Тогда рухнет весь этот привычный мир, где за тебя (или для
                тебя) всё решено, где всё отлажено, где всё стало привычным и родным.</p>
            <p> Несчастные зеки боялись надвигающихся выборов; боялись и на самих выборах (а вдруг, кто-то на кого-то
                подумает, что он не так проголосовал); боялись после выборов. Они бы рады были совсем отказаться от
                выборов, сделать всё, чтобы их будущее оставалось по-прежнему предсказуемым, стабильным. Пусть это будет
                прославленная партия Жуликов и Воров, пусть это будет чекист-мизантроп Путин. Кто угодно! Только не надо
                требовать от зеков делать самостоятельный выбор. Чудный, милый советский народ! Наполовину рабы,
                наполовину подонки: всегда готовые предать своего ближнего или сотворить ему подлость. А в концлагере
                для этого предоставляется больше всего возможностей.</p>
            <p> А пока… пока я метался по дому с телефонной трубкой в руках: «Милицию? Зачем милицию? Газеты же
                почтальоны разносят!» С утра уже было известно, что по посёлку распространили листовки, в которых нашу
                семью поливали грязью. Под вечер нам сообщили по телефону, что почтовые ящики в подъездах, не смотря на
                закрытые металлические двери, забиты газетами со «страшилками» о нашей семье. Только тут я понял, каких
                «почтальонов» задержали старший сын и его жена. Не ставя нас в известность, они на машине патрулировали
                по посёлку, пока не наткнулись на «почтальонов». Те умудрялись разносить газеты, самостоятельно открывая
                все входные двери подъездов. Что за серьёзная «фирма» снабдила их набором ключей или отмычек?</p>
            <p> Пока подъехала вызванная мной милиция, Олег со Светой задержали второго «почтальона». Их отвезли в
                отделение (нет, не связи). Там их сфотографировали. Как выяснилось, они оказались не здешними, а
                заезжими, приглашёнными со стороны, гастролёрами. Вышедшая на другое утро местная газета (на этот раз
                настоящая), с фотографиями этих «волонтёров», сразу была скуплена на корню неизвестными лицами, вся, до
                единого экземпляра! И сам по себе факт задержания с поличным «почтальонов» с ключами от всех входных
                дверей, с пачками газет, неизвестно где, кем и в каком количестве отпечатанных, для жителей посёлка
                прошел незамеченным. Чувствовалось, что при таком серьёзном проколе задействованы серьёзные люди с
                серьёзным размахом.</p>
            <p> Задержанные «почтальоны», в лучшем случае, отделаются лёгким испугом. Ведь власти концлагеря своих не
                трогают. Ну, да Бог с ними; «почтальоны», даже при проколе, получат свои бонусы с выработки. Зато ФСБ
                сразу Олей заинтересовалось всерьёз. Кто такие ФСБ? Это лагерные проститутки, созидающие и укрепляющие
                своим трудом преступный режим концлагеря. По своей сути проститутки из ФСБ являются профессиональными
                убийцами, провокаторами и подонками. Когда Оля несколько лет назад сообщила им (и в другие органы) о
                крупномасштабных хищениях на Рефтинской птицефабрике, они, как и положено стойким дзержинцам, долго
                отмалчивались. Потом сообщили, что документы, предоставленные Олей, благополучно у них исчезли.
                Миллионы, похищенные у государства ни в то, не в нынешнее время ФСБшников не интересовали.</p>
            <p> А чем же Оля сейчас вызвала пристальный интерес ФСБ? Да ещё настолько, что они направили запрос в
                областную прокуратуру, а областная переправила в местную? Нет, ФСБ не вспомнило о сотнях миллионов
                рублей (на данный момент можно смело говорить уже о миллиарде), украденных бывшим директором
                птицефабрики. Нет! Для ФСБ это не интересно. Да и кто в этой коррумпированной системе, созданной
                Путиным, не ворует? Все воруют, кто имеет доступ хоть к какой-нибудь кормушке. Украденные деньги ни у
                кого не вызовут интереса, если правильно ими делиться с нужными людьми. Но все эти сволочи, вся эта
                сволочная власть (у Даля: «Сволочь - все, что сволочено или сволоклось в одно место») обеспокоилась и
                пришла в страшное волнение: Ольга Ткалич может стать мэром посёлка!</p>
            <p> Местная прокуратура вызывает Олю, требуя разъяснения по самым преступным эпизодам из её биографии. Ей
                дали на руки скопированный запрос ФСБ о её противоправных действиях, предварительно закрыв чистым листом
                бумаги текст, не предназначенный для прочтения посторонними. Так вот, что интересует наших долбоё… Фу,
                ты! Хотел написать: «Вот, что интересует наших добросовестных сотрудников ФСБ». Итак, выдержка из
                текста, данная Оле к прочтению и для последующих её комментариев:</p>
            <p class="article__remark"> «Указанное лицо является активным адептом церкви «Скала спасения», относящейся к
                зарубежной религиозной
                организации «Христиан веры евангельской». Ткалич О.Н. предоставляет цокольное помещение своего дома для
                проведения служб церкви. Кроме того, она является председателем «Рефтинского центра экологической
                безопасности», проводившего акции протеста против строительства системы сухого золошлакоудаления на
                Рефтинской ГРЭС. По информации УФСБ, прогнозируется, что кандидат будет использовать сеть агитаторов на
                прошлых выборах главы муниципального образования 25% голосов избирателей (что эти грамотеи хотели
                сказать такой фразой – я так и понял – прим. Ткалича П.С.). Помимо этого, мужем Ткалич О.Н. на сайте
                чеченских сепаратистов «Кавказ» опубликованы статьи, содержащие критику в отношении представителей
                действующей власти. Также по информации УФСБ имеются сведения о том, что Ткалич О.Н. скрыла от
                избирательной комиссии информацию о наличии непогашенной судимости по ч. 1 ст. 129 УК РФ».</p>
            <p> Если можно, то я задам несколько вопросов по этой филькиной грамоте, чтобы подчеркнуть тупость и
                одновременно коварство составителей этой писульки.</p>
            <p> Зачем использовать выражение «активный адепт»? Готов спорить, что больше половины населения (типа нашего
                захолустья), понятия не имеют о чём идёт речь. Но если адепт, да ещё и активный, относящийся к
                зарубежной религиозной организации, то это, наверное, террорист. Или что-то ещё хуже. Но, на деле, всё
                намного проще. По Ожегову: «Адепт - приверженец, последователь какого-нибудь учения». То есть, если вы
                искренний приверженец Иисуса Христа, последователь Его учения, христианин – то вы активный адепт. И все
                христиане, как это не звучало бы страшно, представители зарубежной религиозной организации. Потому что
                Иисус Христос оказывается, не был русским; а христианское учение пришло к нам из-за рубежа. Я, наверное,
                неожиданные и страшные вещи говорю? Вот и ФСБ испугалось.</p>
            <p> Что же ещё пытаются Оле поставить в вину эти люди с больной головой, липкими руками и сердцем шакала?
                То, что она является председателем центра экологической безопасности? Это запрещено законом? Или это
                гражданская инициатива, которая должна поощряться?</p>
            <p> Далее, эти тупицы обвиняют Олю в том, что «мужем Ткалич О.Н. на сайте чеченских сепаратистов «Кавказ»
                опубликованы статьи, содержащие критику в отношении представителей действующей власти». Во-первых, не
                знаю сайта чеченских сепаратистов «Кавказ», но я благодарен сайту «Чеченпресс» (такой действительно
                существует), потому что он публиковал мои статьи так же, как их публиковали и другие сайты. Во-вторых,
                когда и кем запрещено публиковать статьи, содержащие критику в отношении представителей действующей
                власти? Что, уже совсем крыша съехала? Или ФСБешникам так хочется выдать очередную желаемую страшилку за
                действительность?</p>
            <p> Дальше, откуда у этих лжецов – УФСБ, «имеются сведения о том, что Ткалич О.Н. скрыла от избирательной
                комиссии информацию о наличии непогашенной судимости»? Документы о сокрытии информации или ссылку на эти
                документы в студию, пожалуйста! Как это у Булгакова: «<span class="article__accent">Так что же говорит
                    этот человек?» – «А он попросту
                    соврал!» – звучно, на весь театр сообщил клетчатый помощник и, обратясь к Бенгальскому, прибавил:
                    «Поздравляю вас, гражданин, соврамши!</span>» Вы, ФСБ – преступная организация, «рождённая
                революцией», тоже
                врёте на каждом шагу в созданном вами концлагере.</p>
            <p> Да мне бы наплевать на это и на вас тоже. Но, видимо, основываясь на вашем запросе, была напечатана и
                распространена по посёлку лживая, с комическим названием газета «Рефтинская правда». Я публикую из неё
                только одну выдержку. Сами сравните её с тем запросом из ФСБ:</p>
            <p class="article__remark"> «В своих блогах в Интернете муж Ольги Ткалич говорит о чеченских боевиках вовсе
                не как о врагах, а как о
                гордых, свободолюбивых людях, просто чуть не таких как мы, даже в чём-то и лучше нас, в своих
                рассуждениях он просто переходит все границы разумного. Сколько насилия они причинили простым людям!
                Сколько зверств они с собой принесли! Все трагические эпизоды с их участием представляют собой
                террористические акты, засады, расстрелы, допросы, пытки и убийства пленных. Не по себе становится,
                когда понимаешь, в чьих руках может оказаться городской округ. Ведь если Ткалич Пётр, пресвитер местной
                религиозной организации «Скала спасения», преследует такие взгляды и убеждения, значит и его супруга их
                разделяет. Не любя Россию, Ткалич Пётр, таким образом, отрицает всё российское, нашу историю, наших
                трудолюбивых соотечественников. А вдруг Ткалич выиграет? Прославимся на всю Россию. В мэрии начнут
                совершаться сектантские обряды и оргии, а заодно и во всех муниципальных учреждениях – школах, детских
                садах. У Ткалич дома есть подвал, да ни какой-то, а на сотню человек. Там секта и собирается. Так что,
                уважаемые врачи, учителя и прочий муниципальный народ, готовьтесь идти туда на переаттестацию. Ладно,
                если просто не пройдёте. А если сатану в вас найдут и будут всей сектой изгонять? Ладно, не волнуйтесь,
                у вас ещё есть несколько дней на то, чтобы до 4 марта собрать вещи и бежать из поселка. А если серьёзно,
                с городом, где у власти окажутся воры и сектанты, никто не будет работать. В такой город никто не будет
                вкладываться, с ним никто не захочет иметь дел. Нас ждёт сокращение финансирования и выход на обочину
                областного финансирования. Никто не против религиозных убеждений. Но если ты состоишь в секте, зачем
                лезть во власть? Она у нас светская»</p>
            <p>Да она у нас не светская, а советская – фсбешная.</p>
            <p> Забавно, но я даже благодарен тем людям, которые не голосовали за Олю, и поэтому она не стала мэром. У
                баранов, в отаре, лидер обычно всегда козёл. Козёл – само по себе животное не самой лучшей
                характеристики - скандальный, злопамятный, бодливый и всегда старается попасть в чужой огород. Не думаю,
                чтобы Оля в мэрах оказалась на своём месте. А для баранов, почему-то, кроме вонючего козла нет другой,
                лучшей кандидатуры на роль лидера. Поэтому у нас Путин прижился. Поэтому он старательно селекционирует и
                поощряет в своей отаре таких же козлов. Ну, это так – сценка из мира животных.</p>
            <p> Хотя, в концлагере отношения тоже, как в мире животных. Там все слушаются своего капо. Он, вроде, из
                толпы, из барака – такой же; но он главный надзиратель по бараку. Для этого надо быть одним из местных
                авторитетов-подонков. Естественно, что самый большой подонок в концлагере – начальник концлагеря. При
                рабской натуре зеков, большого ума для руководства не надо. Гроссман правильно заметил: «<span
                    class="article__accent">Казалось,
                    исчезни начальство, заключенные будут поддерживать ток высокого напряжения в проволоке, чтобы не
                    разбегаться, а работать</span>». Так что Оле просто нет места в этом зоопарке (или в концлагере).
            </p>
            <p> Да! Место мэра или депутата в местной Думе пророчили заворовавшемуся Топоркову. Чем не кандидат? А
                неприкосновенность была бы ему весьма кстати. Но, перед выборами он вдруг исчез. В Интернете появилось
                сообщение, что он ездил в Москву за срочной наградой. Награда нашла героя. Значит? Значит, Топорков
                готовится перебраться в этот мусоросборник, под названием Москва, к своим покровителям, с чьей помощью
                он вывел с птицефабрики миллиард рублей. Я все эти годы ломал себе голову о причинах непотопляемости
                Топоркова. Сейчас понял, что дело не в особых качествах Топоркова. У бывшего губернатора Росселя и его
                другана, бывшего министра сельского хозяйства Чемезова (обоим нашлось достойное применение в Москве),
                было <span class="article__accent">несколько</span> птицефабрик в подчинении! Я только сейчас это понял.
                Так что речь идёт не об украденном
                миллиарде рублей с Рефтинской птицефабрики. А несколько птицефабрик – это <span
                    class="article__accent">несколько</span> миллиардов, это уже
                приближается к уровню Магницкого. Можете себе представить такое: Магницкий доказал, что жулики – это
                жулики? И что после этого он выиграл своё скандальное дело и баллотируется кандидатом в мэры (конечно,
                не посёлка Рефтинского)?</p>
            <p> Да кто же в России в это поверит?! Так быть не может, в этом концлагере бездушных и безразличных людей.
                Зеки для себя добровольно выбрали ЛОЖЬ, чтобы сохранить <span class="article__accent">внутренний
                    покой</span> на душе: «У нас не так уж всё и
                плохо, как кажется». И сами выбрали себе <span class="article__accent">ложь для внешнего покоя</span>,
                назвав его стабильностью: «Лишь бы
                вокруг меня хуже не стало». Они готовы защищать свой мир, построенный на лжи, от таких, как Магницкие,
                Политковские, Щекочихины, Ходорковские. «Иных уж нет, а те далече». Рабы защищаются от свободы. И не
                только ложью. Поэтому освободить их, даровать им свободу, невозможно.</p>
            <p> Гроссман: «<span class="article__accent">Сами заключенные приняли на себя полицейскую охрану в лагерных
                    городах…. Казалось, исчезни
                    начальство, заключенные будут поддерживать ток высокого напряжения в проволоке, чтобы не
                    разбегаться, а
                    работать</span>». Так, что тогда делать с этими рабами? Ничего. Ждать, пока они сами вымрут. Во
                всяком случае,
                Моисей 40 лет водил свой народ по пустыне, пока не вымерло поколение, выросшее в рабстве, поколение
                рабов.</p>
            <p> «У меня зазвонил телефон…» Да выкиньте вы его на фиг! Никаких больше участий в выборах! Грех работать на
                благо преступного концлагеря. И даже на благо рабов, если этим продлевается существование концлагеря.
            </p>
            <p class="article__stars">* * *</p>

        </article>
    </main>
    {{> footer}}
</body>

</html>