<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Болеющие чужим здоровьем</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Болеющие чужим здоровьем</h1>
            <p> Я давно заметил это за собой: при любом застолье к спиртному отношусь одинаково негативно. То есть, если
                приходится пить, пропуская в себя каждый глоток спиртного, ощущаю, как медленно наполняюсь ядом и
                внутренним протестом против этого. Ощущаю, как яд начинает действовать. Как меняется моя реакция на
                происходящее, и сознание начинает жить своей отдельной жизнью. Никогда не получаю удовольствие от
                выпитого, ко мне редко приходит хорошее настроение в таком состоянии. Подобные мероприятия, по поводу
                или без, для меня больше похожи на исполнение какой-то неприятной обязанности.</p>
            <p> То же происходит при просмотре телевизора: такое же ощущение наполнения ядом и отсутствие удовольствия
                от принятого. Поэтому для себя полностью исключил из рациона, в первую очередь, центральные каналы.
                Сейчас не плюю в лицо Путину. Понял, что наказываю этим не его, а себя. Что мне, всякий раз Олю звать,
                что бы она протирала экран? Увы. Сервис в нашей семье не развит до такой степени. А сам это делаю без
                всякого удовольствия. Поэтому пошёл на компромисс – Путина совсем игнорирую на ТВ. Зато не надо теперь
                бегать за салфеткой на кухню.</p>
            <p> Неожиданную радость получил в Интернете. Наткнулся на сайт «Против Путина». Тысячи людей разными словами
                выразили своё одинаковое отношение к нацлидеру. Суть одна: как всем надоел этот человек. Правда,
                человеком это я здесь его назвал. Там, на сайте его фамилию писали с маленькой буквы, намеренно
                искорёженной, с кучей эпитетов и всевозможных прозвищ. Ура! Единомышленники.</p>
            <p> Вначале был просто рад. Потом, когда начал читать сообщения и комментарии к ним, моя радость куда-то
                делась. Одна змеиная шипящая ненависть. Иногда ненависть была грамотно обоснованной и звонкой, как
                стекло. Но чаще всего это было многопудовое чувство, высказанное корявыми предложениями и с кучей
                элементарных грамматических ошибок, что наглядно позволяло судить о достоинствах нашего образования.
                Хотя, что удивительного в этой расплесканной ненависти? Что в нас усиленно взращивали за годы советской
                власти?</p>
            <p>Вообще, благодаря чему в России могла произойти революция? Только не трогайте высокие материи, оставьте
                их в покое. Главной движущей силой революции, её гегемоном, был пролетариат, поддержанный, по мере
                возможности, деревенской голытьбой. Чем руководствовалось эта масса недовольных людей? Впоследствии их
                обзовут новой исторической общностью – советским народом. Эта масса руководствовалась самыми
                примитивными, поэтому доступными ей чувствами: завистью и ненавистью.</p>
            <p> С какой обоснованной классовой ненавистью (и с удовольствием!) мы уничтожали «контру»! «Мочили» буржуев,
                фабрикантов, помещиков, кулаков, всякую интеллигенцию и попов. Чем они нам не угодили? Это были самые
                плохие люди? Нет. Им просто не повезло: мы им позавидовали. Слово «зависть» в словаре Даля поясняется
                так: «Зависть – досада на чужую удачу, счастье; болеть чужим здоровьем». Так вот: зависть – это болезнь,
                когда мне плохо только от того, что кому-то хорошо, или, не дай Бог, лучше, чем мне! Вот он – главный
                движитель революции.</p>
            <p> Тогда мы в один момент, но на какой-то срок, решили свою вечную проблему с ненавистью и завистью:
                вначале уничтожили всех, кого ненавидели. Богатых, умных, честных. И сразу же отпала проблема с
                завистью. Завидовать стало некому – осталась вокруг одна серая плесень. Вспомните фильмы тех лет: все
                радостные, все счастливые. Пролетариат с кувалдой и колхозница с серпом. Мы стали сами с усами.
                Сравниться-то не с кем! Мы лучшие! Даже если жрать нечего было. Академик Павлов стал лауреатом
                Нобелевской премии! Разве это не говорит о преимуществе нашего социализма?</p>
            <p> Из интереса я подсчитал, что на каждого(!) нашего лауреата Нобелевской премии приходится около
                шестидесяти лауреатов из США. То есть, обращаю внимание: у них не в два раза (не в 2 раза!) больше
                лауреатов, что уже могло вызвать искреннее недоумение у героического советского народа, а в 60 раз.
                Теперь они, американцы, сами стали виноваты, и пусть не мучают себя вопросом: «За что нас Россия
                ненавидит?». Да потому, что завидуем. Нам плохо от того, что кто-то лучше, чем мы. Что кому-то живётся
                лучше, чем нам. Зато сколько было у нас радости и энтузиазма, когда в газетах объясняли, что там, у них
                в Америке, негры недоедают.</p>
            <p>От тупости и бездуховности новоявленной, профильтрованной исторической общности (советского народа) уже
                через десять лет после революции начали разрушать православные храмы. За 10 лет народ созрел! По боку
                ему вековые культурные и православные традиции! Взбунтовавшееся и победившее быдло торжествовало: «Мы
                наш, мы новый мир построим!». Построили.</p>
            <p> Кто строил? И для кого? В Библии есть сюжет, в котором сын Хам посмеялся над своим отцом Ноем.
                Победившее быдло в России не только смеялось и унижало своих отцов. Люди новой формации попросту
                отказывались от отцов, от родства, меняли фамилии. Сын пошёл против отца. Это и есть строители,
                зачинатели нового мира. В Библии сказано, что потомство Хама было проклято. Может поэтому у нас так
                прочно закрепилось отрицательное определение – хам, встречающееся на каждом шагу. Так вот, это для них,
                вернее, для нас – хамов - был построен хамами новый мир.</p>
            <p> Зачем так много пишу о делах давно минувших дней? Да чтобы нам стало понятно, чьи мы потомки. И когда в
                минувшие девяностые мы спилили это древо познания добра и зла, предварительно вдоволь наевшись запретных
                плодов, то от оставшегося пенька, от корней, попёрла та же самая отрасль - побеги того дерева, которое
                мы спилили. Дерево-то надо было выкорчёвывать вместе с корнями. И ничего нового, неожиданного не выросло
                на месте пня, как это нам пытаются подать ностальгирующие по прошедшему времени. То есть от тех же
                корней растёт то же быдло, то же самое хамьё, лишившее себя причастности к чему-либо святому.</p>
            <p> И если за 10 лет (с 17 года по 27 год прошлого века) русские стали в основном атеистами, безбожниками,
                то за этот же срок в наше время все стали православными. Но раз всё растёт от того пенька, то теперь,
                хочешь или не хочешь, ты обязан быть СОВЕТСКИМ православным. Ничего не поделаешь: вековые традиции, но
                на новый лад. Плохо, что всё гибридное и привитое искусственно, приживается с трудом. Поэтому
                завистливый нищий народ, совок, выбрал себе иные ценности – материальные. И пока Путин мог давать им эти
                ценности, он сам был ценен и любим электоратом. Но вот нефтяная «халява» кончилась, и у всех сразу
                открылись глаза на национального лидера.</p>
            <p> Тут же выяснилось, что Путин награбил 40 миллиардов долларов (и это уже давно!), что в стране бардак,
                беззаконие, произвол. И с этим утверждением согласились все 132 тысячи посетителей сайта, приводя каждый
                свои доводы. Тут же, чисто по менталитету русского человека, встал вопрос: что делать? И тут же
                воспитанные и укреплённые в ненависти советские люди находят ответ: «Болтовня одна! когда резать пойдём?
                (евгений, Малоярославец)».</p>
            <p> Но всё не так страшно, как кажется на первый взгляд. Стадо нужно вывести из состояния покоя. Что-то
                должно стать точкой опоры, чтобы перевернуть мир. Но её нет! В подтверждение нашей инертности:</p>
            <p class="article__remark"> «Был на митинге в Москве 20 марта на набережной Тараса Шевченко. И что я увидел,
                кучка в 1000-1500
                человек. Да, не многие хотят бороться за свои права. Аналогичная ситуация и в других городах. Так что
                хватит здесь (на сайте) ЗВИЗДЕТЬ и КРИЧАТЬ, что бы вы сделали. Надо делать, а не болтать. Так что все мы
                СКОТ который ведут на убой… И все вы молча пойдете, …хотите возразить обратное? Хрен у вас, что
                получится, потому что я все видел своими глазами… Я тоже голосовал здесь на сайте против путина. Нас уже
                131981 человек и где вы все? Сидите на кухни и звиздите про то, как плохо жить… Так что какие Россияне -
                такая и Россия… Можно на фиг закрыть ваш сайт, толку от него мало. Реально - сборище звиздаболов… (Жора,
                Москва)».</p>
            <p> Вот так вот: звериная ненависть и апатия домашнего скота. В одном флаконе. А ведь никто из этой
                возмущённой толпы на сайте (насколько я его пролистал) не вспомнил о том, что мы сделали с Чечнёй, как
                мы её изуродовали. Никто не вспомнил о нападении на Грузию. Никто не поставил это в вину Путину. Кого из
                нас скребёт чужое горе? Никто не задумался над тем, почему ОМОН в Чечне – герои России, а у себя на
                родине этот же ОМОН при разгоне демонстрантов – выродки, распоясавшиеся бандиты? Нет упоминаний об
                убитых по приказу Путина, или тех, кто посажен по его волеизъявлению. Каждый сейчас только матерится:
                какой плохой Путин!</p>
            <p> А когда любимец публики внезапно стал плохим? Да как только в корыте для скота комбикорма стало меньше,
                так голодное стадо стало возмущаться вожаком. Поэтому Гайдар не мог у нас стать национальным лидером:
                кормушка при нём была пустая. И опять же: мы не только Путина, а даже Гитлера носили б на руках, если бы
                он в кормушку насыпал больше. И не трогал праворукие машины, и не поднимал бы налог на иномарки. Да мы с
                любым фюрером могли бы быть счастливыми. Как правильно: скотское бытие определяет сознание или бытие
                определяет скотское сознание?</p>
            <p> Теперь, кажется, понимаю, почему у нас с треском провалилась перестройка и почему она не пошла на пользу
                обществу. Ситуация была как на «зоне»: распахнули ворота, сорвали колючую проволоку. «Выходите! Свобода!
                Вы свободны!». Свободны? А на хрена? Паханы с нар даже головы не подняли. Им что? Плохо было до этого?
                Это шестёрки, на всякий случай, засуетились: а как, да что?</p>
            <p> Свобода для тех, у кого пожизненный срок – это хорошо. Но на зоне гарантированное трёхразовое питание.
                Трёхразовое, за колючей проволокой, без проблем! Потом, когда надо, медработник придёт: шприц под мышку,
                градусник в задницу. Нет, наоборот: градусник под мышку, шприц в задницу. Опять же бесплатно! Прогулка в
                отведённом месте обеспечена. Ты только ничего не нарушай, и время будет лететь незаметно.</p>
            <p> А свобода? На свободе кормить-то кто будет три раза в день? Никто. Тогда надо самому напрягаться,
                мозгами (если они есть) шевелить. Вот и встал русский народ, как витязь на распутье, перед дилеммой:
                свобода со всеми вытекающими из неё трудностями или стабильность при трёхразовом питании.</p>
            <p> Даже безмозглый электрический ток течёт по линии наименьшего сопротивления. Героический советский народ
                по своему менталитету выбрал стабильность и трёхразовое питание. Сразу же, как будто нечаянно, но очень
                кстати, подвернулся кандидат в нацлидеры – нацию сплотить. Хороший человек. Из своих. Из бывших
                охранников зоны. Всем понравился. Почти как в Библии: «И поклонились все зверю, говоря: кто подобен
                зверю сему и кто может сразиться с ним?».</p>
            <p> Тут и сказке конец. Кончилась перестройка. Постперестроечные власти обозначили или обозвали перестройку
                «лихими девяностыми». Советские попы предали её анафеме, обозвав «смутным временем». Хотя, если бы не
                было перестройки – не было бы этих попов. Все дружно прокляли и предали забвению Горбачёва, Гайдара и
                иже с ними. Так было и будет со всеми врагами советского народа. До тех пор пока сам народ не поймёт:
                КТО он и ЧТО он натворил. И в прошлом столетии, с 17-го года. И в этом столетии, в «нулевые» годы. Пока
                народ не поймёт: «Так жить нельзя!». И не покается за всё, что им было сделано. Но не похоже, что это
                скоро произойдет.</p>
            <p> Так что радость от общения с единомышленниками на сайте «Против Путина» быстро улетучилась. И напомнила
                мне прежнее состояние во время застолья: все возбуждены, объединенные одним интересом, видят в соседе
                понимающего собеседника. А я чувствую, как с каждым глотком общения наполняюсь ядом совков и внутренним
                несогласием с этим. Да, я тоже против Путина. Но его противником стал не сейчас, у полупустого разбитого
                корыта.</p>
            <p> Ещё тогда, в самом начале, когда этот клоун высветился на арене цирка, я подумал: «А что было бы с
                Германией, если б после её разгрома у власти встал гестаповец?». Всё для страны вернулось бы на круги
                своя. Снова «Хайль Гитлер!». Снова «Германия превыше всего!». Снова «С нами Бог!». И «Тысячелетний
                рейх!». И новые трупы. Горы трупов.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>