<!DOCTYPE html>
<html lang="ru">

<head>
    <title> Из Кущёвской станицы Силиконовую долину не построить</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Из Кущёвской станицы Силиконовую долину не построить</h1>
            <p> Оля в очередной раз обратилась в СКП. Сколько уже было разослано этих писем во всевозможные инстанции!
                Десятки? Или уже за сотню? Все письма по какой-то закономерности возвращались сюда, назад, в руки
                местных властей. Но мне больше всего запомнилось два эпизода: Олино обращение к депутату Госдумы Илье
                Понамарёву; и ещё, вот этот эпизод – последнее её обращение в СКП. И в том и в другом случае Оля писала
                о сотнях миллионов рублей разворованных директором Рефтинской птицефабрики при полном попустительстве
                правоохранительных органов.</p>
            <p> Так вот: обращение к депутату Госдумы не только вернулось в правительство Свердловской области, но и
                после этого попало к самому директору Рефтинской птицефабрики Топоркову. На основании этого документа
                Топорков подал на Олю в суд о клевете, о защите собственной чести и достоинства. Суд защитил честь и
                достоинство директора от клеветницы Ткалич Ольги. Кто бы сомневался? Мэр Москвы Лужков тоже в свою
                бытность ни одного суда не проиграл. Очень уважаемый был человек!</p>
            <p> Второй интересный эпизод: последнее обращение Оли в СКП Российской Федерации. В очередной раз СКП
                отправил письмо назад, в следственное управление по Свердловской области. А именно на их бездеятельность
                Оля как раз и жаловалась. Естественно, что местное следственное управление отмахнулось от обращения. Так
                выглядит комментарий игры в пинг-понг: «Мячик справа, мячик слева! Мячик справа, мячик слева!». Мы
                посылаем им, а они посылают нам. Или нас?</p>
            <p> Причем, какая интересная мотивировка отказа из уст (из рук?) руководителя процессуального контроля
                юриста 1 класса товарища А.В. Канатова:</p>
            <p class="article__remark">«Принято решение об оставлении Ваших обращений без рассмотрения, как содержащее
                оскорбления в адрес
                работников Следственного управления по Свердловской области. Разъясняю Вам на недопустимость
                злоупотребления предоставленным Вам законом правом обращения с жалобой. В случае несогласия сданным
                ответом вы имеете право обжаловать его вышестоящему руководителю или в суд».</p>
            <p> Нам опять предлагают партию в пинг-понг. Обратитесь в суд или в СКП. Мячик справа – мячик слева. На
                каком основании Оле опять отказали? Она оскорбила работников Следственного управления, обвинив их в
                бездействии и укрывательстве коррупционеров. Ей бы, вначале, надо было похвалить этих работничков! И
                партию «Единая Россия»! И самого господина Путина! Тогда, может, у них не было бы повода «отфутболить»
                её жалобу. Да ведь и жалоба, можно сказать, по нынешним временам копеечная. Речь идёт о том, что
                правоохранительные органы спускают на тормозах дело о хищении Топорковым порядка миллиарда рублей.</p>
            <p> Но особая выразительность ситуации состоит в том, что пока Канатов посылал нас на очередной круг
                обращений в суд или в вышестоящую инстанцию, товарища Топоркова коллегия министерства сельского
                хозяйства Свердловской области предложила снять с работы. Правоохранительные органы упорно не находят за
                Топорковым никаких злоупотреблений, а Минсельхоз предлагает уволить его за воровство. Вот как выглядело
                <a href="https://www.echoekb.ru/news/2010/11/19/8802/" class="article__ref">сообщение</a> об этом в «Эхо
                Москвы»:
            </p>
            <p class="article__remark"> «Уволен руководитель Рефтинской птицефабрики. Областное министерство сельского
                хозяйства решило
                расторгнуть контракт с Николаем Топорковым. Причиной тому стал ряд невыгодных сделок, которые были
                заключены на птицефабрике. В частности, речь идет о закупке пшеницы, а также поставке мясной продукции,
                - сообщает Новый Регион со ссылкой на пресс-службу минсельхоза. Напомню, бывший бухгалтер этой
                птицефабрики Ольга Ткалич ранее уже заявляла о нарушениях. Она даже записала и выложила в сеть
                соответствующее видеообращение. В интервью нашей радиостанции Ткалич назвала ожидаемым решение уволить
                Топоркова. По ее данным, предприятие за последние годы потеряло большую сумму денег.<br>
                Добавлю, что Ольга Ткалич обратилась с жалобой на нарушения в работе Рефтинской Птицефабрики к депутату
                областной думы Георгию Перскому, который заявил о необходимости проверки на этом предприятии. В
                минсельхозе от подробных комментариев по этой теме воздерживаются».</p>
            <p> Забавно, правда? Пока товарищ Канатов куражится, так как он откровенно требует к себе уважения, и к нему
                на драной козе нельзя подъехать, в Минсельхозе принимают решение уволить Топоркова. Того самого. Повод?
                «За ряд невыгодных сделок». По-моему, этот ряд был очень-очень большой, длиной в 6 лет. И, как раз,
                очень выгодный. Но только для Топоркова. На чём и настаивала Оля. Вот подставили юриста 1 класса!
                Канатов (и все представители правоохранительных органов), как от мухи, отмахивается от Ольги Ткалич, а
                Минсельхоз увольняет Топоркова за злоупотребления в особо крупных размерах. Простите, а как же честь и
                достоинство этого жулика? Ведь суд-то он выиграл? И как быть с честью и достоинством Ткалич Ольги
                Николаевны?</p>
            <p> Шесть лет назад, когда Олю Топорков уволил с работы, у неё на руках остались документы, по которым можно
                было определить, что Топорков начал брать «откаты». Но те деньги, по сравнению с суммой, которою он
                наворовал по прошествии последних лет, были сущей мелочевкой. Зато как мы вначале прятали обличающие
                Топоркова документы: отдавали на хранение чужим людям! Соседи предложили завернуть их в целлофановые
                пакеты и спрятать у них в бочке с солёной капустой. Мы боялись, что ворвутся к нам «маски-шоу» и
                попросту изымут эти документы.</p>
            <p>За последние годы Оля поняла, что никому эти документы не нужны. Она предлагала их в Минсельхоз, в
                прокуратуру, в ФСБ, в ОБЭП. Тогда мы ещё не понимали, что пришла новая эра: эра правления чекиста.
                Документы с неохотой брали все. Но, после этого Олю гоняли по кругу от одного к другому. Подобные
                загнанные люди стали занозой, исключением из правил. Их поставили врагами установившегося строя, врагами
                общества и народа. Вертикаль власти нависла над ними как дамоклов меч: «Кто не спрятался – я не
                виноват!» Не все спрятались.</p>
            <p> Сейчас бывший бухгалтер одной из крупнейших птицефабрик России, держит у себя в сарае 50 куриц и торгует
                яйцами, чтобы не помереть с голоду. Продаёт декоративных кроликов: жить-то надо! Работы нет, а до пенсии
                далеко. Зато г-н Медведев приглашает из-за рубежа специалистов: Россию надо поднимать! Да вы выпустите
                из тюрьмы Ходорковского. Дайте работу главному бухгалтеру, уволенному за честность. И не надо никого
                из-за рубежа завозить. С самого начала необязательно было ждать, пока Топорков безнаказанно наворует
                миллиард рублей, а Путин 40 миллиардов долларов. В таком случае, можно было обойтись без импортной
                шампуни и без Силиконовой долины местного разлива.</p>
            <p> Но великий русский народ не в состоянии жить без кровососов. Наверное, это потому, что всегда служил им
                преданно и верно. Ну, просто натура такая – холуйская. Из нас самих кровь пьют, а мы, в ответ, изо всех
                сил зло вымещаем на соседях. О нашем героическом народе можно говорить долго. Мы как тот мифический
                царь. Он попросил в награду у богов, чтобы всё, к чему бы ни прикоснулся руками, становилось золотом.
                Вот и мы обладаем подобным качеством. Всё точно так же, но только, наоборот: к чему бы мы ни
                прикасались, всё превращается в дерьмо.</p>
            <p> Пожалуйста, тема для размышлений. Возьмите труды Карла Маркса. Достойная вещь! Но мы на их основе
                создали «всепобеждающее» учение марксизма-ленинизма. Возьмите социализм в Швеции и сравните с плодами
                наших деяний – развитым социализмом. Разница ощутима? Даже демократия у нас особая (никто о такой не
                слышал) – суверенная. Всё как не у людей. Где-то там люди счастливо живут при капитализме, у нас и
                капитализм получился с лютым, звериным оскалом. И тут накладка какая-то вышла. Православие стало
                советским. А правоохранительные органы превратились в правохоронительные. Согласитесь: есть у русского
                человека похвальное желание, способности и возможность изменять окружающий мир? Есть! Всё, за что мы ни
                возьмемся, превращается… (смотри по тексту выше).</p>
            <p> Кстати, о птичках. О наших доблестных правохоронительных органах. Вот это сообщение с сайта
                «Каспаров.Ru»: </p>
            <p class="article__remark">«Краснодарский следователь записала <a
                    href="https://www.youtube.com/watch?v=Cpce9MLMrTc&feature=player_embedded"
                    class="article__ref">обращение</a>
                к Дмитрию Медведеву с просьбой о
                защите. По ее словам,
                отвечать за нарушения будут не высокопоставленные чиновники, которые «действительно долгое время
                покровительствовали преступникам», а рядовые сотрудники, выполнявшие указания сверху».</p>
            <p> А вот это с «Граней.Ру»:</p>
            <p class="article__remark">«Банду Сергея Цапка, подозреваемую в убийстве 12 человек в станице Кущевской,
                покрывала не только
                милиция, но и все местные правоохранительные органы. Письма о деятельности в станице ОПГ регулярно
                поступали в Краснодарское управление Следственного комитета при прокуратуре. До расследования дело так и
                не доходило».</p>
            <p> Так вот, я обращаюсь к руководителю процессуального контроля юристу 1 класса товарищу А.В. Канатову из
                Следственного управления Свердловской области. По-моему, тут картина один к одному с краснодарской.
                Ткалич Ольга регулярно сообщает о деятельности ОПГ. А до расследования дело так и не доходит. Более
                того, товарищ Канатов откровенно грозит пальчиком неуёмному бывшему главбуху: «Разъясняю Вам на
                недопустимость злоупотребления предоставленным Вам законом правом обращения с жалобой». Сядь, Ольга
                Николаевна! И заткнись! Пока тебя не посадили.</p>
            <p> Копеечные душонки, с вашего благословения и с вашей помощью сажают в тюрьмы и попросту убивают,
                зачастую, не только невинных людей, а порой и самых лучших. Да какой бы ни был русский народ (плох он
                или хорош – это тема для дискуссий), но вы уничтожаете его. Планомерно, систематически, целенаправленно.
                Ради чего? Ради выгоды? А потом каяться на весь свет, как кущёвский следователь Рогоза: «Не виноватая я!
                Меня заставили!». Тогда почему министр сельского хозяйства Чемезов не смог заставить работать на
                «откатах» главбуха Рефтинской птицефабрики, а директор согласился на такой вариант? Сложный вопрос.</p>
            <p> Только Топорков пока в почёте. Он и орденоносец, и медалист, почётный гражданин, и просто пример для
                окружающих. В энциклопедии «Лучшие люди России», в разделе «Родины Славные Сыны и Дочери» красуется
                Топорков Николай Васильевич. А об бывшего главного бухгалтера только что ноги не вытирали. За что? А не
                надо в государстве алкашей, жуликов и тунеядцев оставаться порядочным человеком. Это чревато неприятными
                последствиями. Особенно при вертикали власти, во главе которой стоит самый главный преступник
                государства.</p>
            <p> А станица Кущёская – это точный слепок со всего нашего криминализированного государства. И решить
                проблему точечным, выборочным методом невозможно. Скажу, пользуясь образными выражениями нашего Главного
                сантехника: вся система – это сгнившая канализационная труба. И ставить на неё избирательно заплатки –
                бесполезное занятие. Вот, поэтому мы, благодушные, и плаваем по уши в правоохранительном дерьме,
                благодаря нашему рабскому менталитету и тандему из двух гарантов. На «святой» Руси, с чистой совестью
                обворовывают нищих, покрывают беззаконников, борются с праведниками. Менталитет, однако.</p>
            <p> Академик Павлов:</p>
            <p class="article__remark">«Многолетний террор и безудержное своеволие власти превращает нашу и без того
                довольно азиатскую натуру в
                позорно рабскую. А много ли можно сделать хорошего с рабами? – Пирамиды? Да, но не общее истинное
                человеческое счастье».
                Анна Политковская: «Иногда в этой стране, среди этих людей, безразличных к собственной судьбе, я
                чувствую себя одинокой».</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>