<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Рабская психология</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Рабская психология</h1>
            <p> Перед выборами в Думу заставил себя смотреть НТВ. Дал себе слово ничего не принимать близко к сердцу.
                Путин и Медведев сидели без галстуков, в огромном зале набитом электоратом. Меня поразили лица
                присутствующих. Понимаю, что показывали выборочно. Отсюда и кадры крупным планом (чтобы не было видно
                пустоглазого или дремлющего соседа). Но, всё равно, так неожиданно видеть счастливые и воодушевлённые
                отдельные лица! Россия, что ты ещё должна испытать и кого из правителей пережить, что бы этот энтузиазм
                дебилов сменился на признаки задумчивости?</p>
            <p> Сижу в поликлинике, у дверей в кабинет хирурга. Коридор забит людьми. Очередь. Пожилая женщина,
                проталкиваясь между людьми, двинулась к выходу. Из этой толпы, жужжащей вполголоса, ей вслед несётся
                окрик: «Ты куда, баран колхозный?». Толпа притихла: может кино давать будут? Уходящая женщина как-то
                обессилено обворачивается – это её дочь, решила сама пойти за медицинской карточкой. Ну, и окликнула
                мать, чтобы та продолжала стоять в очереди и никуда не уходила. А то опять пойдёт, что-нибудь напутает
                или адрес свой забудет у окошечка регистратуры.</p>
            <p> Женщина послушно вернулась, дочь сама пошла за карточкой, затихшая очередь опять загомонила. Кина не
                получилось. Я сидел, опустив глаза. Люди, вы сошли с ума? Мать – баран колхозный? Мать? Эта женщина,
                которая носила под сердцем живой комочек, прислушиваясь: «Как ты, доченька, там?» А у доченьки всё было
                хорошо. И голос командный, и походка решительная. А, может, наоборот? Может, всё очень плохо?</p>
            <p> Очередь по-прежнему жужжала вполголоса. Больные люди надеялись на какое-то развлечение, но ничего
                привлекающего внимания не произошло. И они опять жаловались друг другу на жизнь, на болезни. Я не
                поднимал на окружающих глаза: нет, точно, кто-то сошёл ума. Приду домой, обязательно посмотрюсь в
                зеркало. Хотя диагностика по зеркалу не всегда даёт конкретный результат. А если зеркало поставить в
                больнице, у кабинета хирурга? И не только. Чтобы со стороны на себя смотреть. Вдруг кому-то поможет?</p>
            <p> Кем мы стали? Какие мы были? Всегда ли мы были такими? Эти безмозглые, бесстрастные, больные зомби –
                результат каких-то мутаций? Или что-то произошло ужасное? Типа: «Развал СССР, это самая большая
                геополитическая катастрофа ХХ века»? И выжившие в результате этой катастрофы превратились вот в ЭТО?
                Тогда кто виновник? Кто этот преступник, враг нашей родины? Поиски врагов – любимое занятие. И оно
                никогда у нас бесплодным не было. Сколько врагов за все годы было обнаружено! Может, плюнуть на извечные
                поиски врагов и взглянуть на происходящее с другой стороны?</p>
            <p> В сказке «Волшебник Изумрудного города» довольно неожиданная концовка. Оказывается, счастливый город,
                украшенный изумрудами как символами богатства и благополучия, блистал вовсе не гранями кристаллов
                изумруда, а кусками обыкновенного стекла. Но, чтобы поддерживать видимость роскоши, люди, попавшие в
                этот город, обязаны были носить зелёные очки – тогда все видели город, украшенный изумрудами. Трагедия
                произошла, когда несогласные вольнодумцы осмелились снять «волшебные» очки и оглядеться вокруг. Вот тут,
                по словам балаганного клоуна, выдающего себя за волшебника, и произошла самая большая геополитическая
                катастрофа.</p>
            <p> Оставшееся неожиданно для самого себя без фальшивых ценностей советское общество не бросилась создавать
                или искать другие, истинные ценности. Обиженный героический народ, лишившись волшебных очков, в знак
                демарша сказал: «Фи!», повернулся к проклятому Западу спиной, приспустив штаны, и показал ту часть тела,
                которой обычно он мыслит, дескать: «Вы думаете про нас плохо? А мы не собираемся вас переубеждать!»</p>
            <p> Мне кажется, как бы это попроще выразиться, всё дело в рамках. В цивилизованном обществе каждый человек
                имеет определённые рамки, ограничивающие его действия. Он окружён рамками закона, который обязателен для
                исполнения абсолютно всеми, невзирая на лица. Рамками религии, которая каждого учит любви к ближнему.
                Рамками воспитания. Рамки есть разные, имеют различные названия, но они строятся на том, что главная
                ценность (в государстве, во всём мире) – это <span class="article__accent">человек, жизнь
                    человека</span>. И отношения в цивилизованном
                обществе строятся, исходя из этого постулата.</p>
            <p> В нашем государстве утеряна (а, вообще, она когда-то была?) значимость, понимание ценности<span
                    class="article__accent"> человека</span>, его
                жизни. Может, потому, что мы только внешне производим впечатление людей. Вроде, мы как бы люди. Да,
                люди, но с рабской психологией. Люди – рабы. «А раб мыслится только как домашнее животное или живой
                инструмент, и рабовладелец мыслится только в виде организатора этой чисто телесной работы, чисто
                телесного производителя этой работы». Это цитата профессора Лосева. В таком случае, телесный
                производитель работы – это не духовное существо (человек), а душевное (животное), или живой инструмент
                (живая лопата). Тогда о каких самоограничивающих рамках для животного может идти речь? Свирепое существо
                нужно держать на коротком поводке. Животное, поддающееся дрессировке, на длинном. И есть такие, которых
                можно отпускать на вольный выпас.</p>
            <p> При такой ситуации большое значение имеет хозяин (организатор телесной работы). До 18 года прошлого
                столетия в России существовала элита (лучшие из лучших). Можно спорить, насколько она была хороша или
                плоха. Но она существовала. И существовала некая дистанция между элитой и рабами (что и послужило
                поводом для бунта рабов). Сейчас, между рабами и организаторами телесной работы дистанции <span
                    class="article__accent">не существует</span>.
                Освободившиеся места в элите заняли рабы пошустрее. Причём, чем меньше у раба сдерживающих нравственных
                рамок, ограничивающих его, тем выше он поднимается в должности организатора телесной работы.</p>
            <p> Но что может «организовать» раб, занявший кресло хозяина? Только <span
                    class="article__accent">борьбу</span>. Борьбу за <span class="article__accent">своё кресло</span>
                или <span class="article__accent">за то кресло</span>,
                что стоит на ступеньку выше.</p>
            <p> Так что у рабов нет нравственных рамок. Рабы – это домашние животные, которые время от времени звереют
                во время борьбы за место под солнцем. Желание раба чувствовать себя не <span
                    class="article__accent">свободным</span>, а хозяином, заставляет
                его вести бескомпромиссную и безжалостную борьбу за кресло хозяина (из этого складываются индивидуальные
                отношения); а также, безжалостную борьбу за обладание и управление другими рабами (из этого складывается
                политика государства-империи). Врагом становится любой, кто хочет оставаться просто свободным человеком.
            </p>
            <p> Этот очередной кусочек моего дневника пишу больше месяца. Уже прошли выборы в Думу. Отшумел протест на
                Болотной площади. Прошёл декабрь и даже Новый год. Несмотря на недовольство электората и происходящие
                подвижки в обществе, я смотрю на всё происходящее с апатией. Всё суета сует – сказал библейский мудрец.
                Рабы обречены ходить по кругу, как лошади на арене. И даже грабли под ногами, уже ставшие для нас
                родными, никак не заставят животных выйти на правильный путь.</p>
            <p> Выборы местного мэра перенесли с будущей осени на 4 марта. Как объяснили: в целях экономии. Воровать
                практически уже нечего, поэтому власти решили жить экономней.</p>
            <p> Моя жена Оля опять хочет баллотироваться в мэры. На прошлых выборах из 5 человек она уступила только
                кандидату от Едра. У того главный аргумент был: за мною Путин, Россель (бывший губернатор по
                Свердловской области) и «Единая Россия»! Нам всем было обещано, что до счастья осталось почему-то 8
                шагов. Но, видимо, мы их так и не прошли. Поэтому перечисленные гаранты счастья нас ничем не
                осчастливили.</p>
            <p> Вначале я встал на дыбы: «Никаких мэров, никаких выборов! Никуда ты в этот раз баллотироваться не
                будешь». - «Петя, я хочу принести людям пользу. Я знаю – я смогу!». - «Да? Ты разорившуюся птицефабрику
                не с ноля, а с минуса подняла. Когда директор тебя туда пригласил на работу, она вся в долгах была. Но
                через 10 лет, когда зажравшийся, проворовавшийся директор тебя уволил, кроме сплетен и шушуканья в свой
                адрес, хоть одно слово сочувствия или благодарности ты услышала? Во время прошлых выборов в мэры все
                работники птицефабрики с радостью обещали голосовать только за тебя. Но голосовать пришли всего 40%.
                Поэтому ты проиграла. За этих людей ты душой болеешь? По-моему пора уже выздороветь и поумнеть!»</p>

            <p> У меня есть чисто мужская черта: во всех случаях я твёрдо настаиваю на своём. Но, в конце концов,
                почему-то всё получается по Олиному. И в этот раз всё произошло так же. Тогда мы пошли на обоюдный
                компромисс: сделаем так, как посоветует уважаемый нами человек. Я был уверен в собственной правоте. Но
                одобрение получила Оля. Так что, в лучшем случае нас ждёт масса выплеснутых на наши головы вёдер с
                помоями и новый мэр из единороссов. В худшем случае: Оля станет мэром посёлка на 4 года.</p>
            <p> Но, на удивление, мы своей семьёй счастливы. Эти 7 лет испытаний и преследований сплотили нас, как
                никогда прежде. За это время, правда, пришлось понять, в каком дерьме, в каком обществе мы прожили
                жизнь. Зато это пошло нам на пользу: умнее стали. Все эти бесчестные и продажные твари: прокуроры,
                следователи, судьи, выгораживающие директора-жулика, все эти рабы в последние минуты жизни скажут, что
                так и не пожили КАК ЛЮДИ. А я горжусь своей женой и пережитыми испытаниями. Мы были рабами. И могли
                остаться ими. Но мы вышли из этого мира и стали (остались) людьми, сохранив ограничивающие рамки. За что
                нам завидуют, презирают и ненавидят. Хотя тех, кто нам завидует, мало.
            </p>
            <p> Да, чуть не забыл! У меня личный вопрос к подонкам из Общественной палаты Российской Федерации. То есть,
                не к подонкам, а к потомкам. К потомкам рабов. Хотя они, на этот момент, сами являются рабами... Уф,
                совсем запутался! Может, они элита? Ладно, пусть останутся так, как я сказал вначале, – подонками. Суть
                вопроса: вы организовали шоу типа: «Позвоните нам и расскажите о коррупции. Мы вам поможем». Я
                дозвонился, рассказал о миллиарде рублей выведенных с птицефабрики. Через несколько дней вы нам
                перезвонили и попросили подтверждающие документы. Оля вам их выслала. И вы скромно заткнулись. Так вот
                мой вопрос: почему?</p>
            <p> Я понимаю продажных ментов, следователей, судей, чиновников – всю эту сволочь. Эти рабы, вдруг
                оставшиеся без кресла в стране рабов, станут никем и ничем. Поэтому они зубами вцепились в своё кресло и
                готовы на любую подлость. Но, как я понимаю, в Общественной палате уже состоявшиеся люди. Заслуженные,
                имеющие свой взгляд и свою позицию. Или раб остаётся рабом на любом месте, в любом кресле? И
                нравственные рамки для него – это необязательная условность? Только не говорите мне: «Рабы – не мы!»
                Потому что на слух это воспринимается как: «Рабы немы». Итак, кто-то из немых мне, чересчур
                разговорчивому, ответит? А, господа из Общественной палаты?

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>