<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Рабы немы</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Рабы немы</h1>
            <p> Относительно давно начал писать я свой дневник. Посвятил его тому, что больше всего беспокоило:
                «Советскому народу и президенту Путину посвящается». Я понимал, что многие с моими рассуждениями не
                согласятся. Но я есть, и живу среди этого народа. Я - частица его. Поэтому намеренно назвал свои
                клеветнические измышления: «Дневник соотечественника». Эпиграфом выбрал слова из Библии (ну, а как ещё
                может поступить сектант?): «<span class="article__accent">Не сидел я в собрании смеющихся, и не
                    веселился; под тяготеющею на мне рукою
                    Твоею я сидел одиноко, ибо Ты исполнил меня негодования</span>».</p>
            <p> Все эти годы так и провёл я в одиночестве и негодовании. Уже и Путин, отцарствовав свои два положенных
                срока, посадил на трон матрёшку. Мне пришлось на это время поменять своё посвящение в дневнике. Сейчас
                верхняя строка выглядит так: «Советскому народу и го-ну Путину посвящается». Выражение «го-ну Путину»
                можно понимать произвольно. Кто-то решит, что я намеренно пропустил буквы в середине слова. Кто-то,
                наоборот, увидит в этом подчёркнутое уважение: «господину Путину».</p>
            <p> А теперь уже и посаженная матрёшка, отсидев срок на троне и сделав своё дело, готова вернуть место
                старшему товарищу. Почему «матрёшка»? Матрёшка – это такая куколка, деревянный болванчик, извлекаемая из
                другой, старшей матрёшки. Понятно, что эта извлекаемая куколка, обязательно меньше предыдущей. Но
                раскрашены они все однотипно: ярко и броско.</p>
            <p> Из-за ожидаемой перестановки матрёшек (новые «выборы») посвящение в дневнике менять уже не буду. Так как
                посвящением я хотел с самого начала подчеркнуть наличие двух проблем в современной России.</p>
            <p> Но вынужден отметить, что отношение у советского народа в последнее время к го-ну Путину стало меняться.
                Все эти годы, включив телевизор или подойдя к зеркалу, советский обыватель там видел себя: маленького
                росточка, но самоуверенного; недалёкого, обделённого умишком, но решительного, на доступном ему языке
                выражающего убогие мысли, типа: подняться с колен, замочить в сортире, обрезать, чтобы не выросло, сопли
                жевать. Зеркальное сходство с нацлидером доставляло народу удовлетворение. Воистину – единая Россия.</p>
            <p> А вот теперь самолюбование стало раздражать электорат. Потому что для совка-созерцателя в отображении
                стала просматриваться (наконец-то!) внутренняя сущность нацлидера. Значит и сущность нации (вот, что
                обидно!). Эта ранее ускользающая от взгляда сущность стала открывать народу самого себя. Оказывается, не
                только король голый. А это мы, голые, выбрали голого короля! У электората появилась иная реакция –
                раздражение. Народ обиделся. На собственное отражение, на ещё так недавно горячо любимого нацлидера.</p>
            <p> А чо на зеркало пенять, если рожа на самом деле такая? Забавно, но всё происходит, как описывается в
                Библии: там из обычного козла делали козла отпущения. То есть сваливали на него все грехи. Он становился
                крайним. Зато все остальные – чистые. Население постепенно стало приходить к такому же мнению: во всём
                виноват этот козёл. Но зеркало-то врать не может: народ и партия (с нацлидером) едины! Каков приход –
                таков и поп. Поэтому посвящение моего дневника остаётся прежним: советскому народу и го-ну Путину.</p>
            <p> Дневник пополнять я стал всё реже и реже. Раньше мне казалось, что огласка фактов всего происходящего с
                нашей семьёй как-то защитит и поможет нам. Теперь, после смерти Магницкого в тюрьме, я так не думаю.
                Раньше я полагал, что украденный коррупционерами миллиард рублей с Рефтинской птицефабрики – это козырь
                в наших руках. Теперь я понимаю, что это не так. У Магницкого козырь был в пять миллиардов. Чем всё
                кончилось для него? Тюрьмой и мучительной смертью. А палачи пошли на повышение. Последнее время это
                становится закономерным. Да, именно так: беззаконие становится закономерным.</p>
            <p> В таком случае я должен засвидетельствовать, что Бог все эти годы хранит нашу семью. Хранит среди
                мстительных жуликов и воров. Я говорю не только о «Единой России». Я об этом сброде - советском народе.
                О простых работягах, которые злорадствовали, когда Олю уволили с работы: «Да все они ТАМ жулики!» Не
                все. Люди поверить не могли, что она защищала их интересы, что именно при ней воровство среди
                руководства снизилось до минимума. За что её и уволили. Чтобы не мешала руководству. Зато, когда через
                несколько лет стало понятно, что она ничего не наворовала, что наша семья прозябает в нищете (Олю никуда
                не брали на работу, а я пенсионер, инвалид), злорадство работяг сменилось презрением: «У такой кормушки
                кормились и не смогли запасов сделать! Вот уроды!»</p>
            <p> До Олиного увольнения представители руководства птицефабрики перебегали через дорогу, чтобы
                поздоровавшись, пожать мне руку. Я, как последний дурак, принимал это за чистую монету. А что? Я –
                человек в годах. Непьющий. Не курю. Прекрасный семьянин. Верующий. Двое взрослых сыновей, не алкаши, не
                наркоманы. Поднимаем дочку-малышку. Я искренне полагал, что достоин уважения советских людей. Ох уж эти
                советские люди! Когда приезжал председатель правительства Свердловской области (г-н Воробьёв) на
                птицефабрику, на его вопрос: - Почему у работников птицефабрики такая высокая зарплата? Оля ответила: -
                Мы работаем без откатов. Видя его изумлённые глаза, Оля решила, что он не знает про «откаты». И начала
                «на пальцах» популярно ему объяснять, что это такое. Но, по-моему, его как раз удивило то, что
                птицефабрика работала без откатов. Так в путинской России быть не может.</p>
            <p> В правительстве области сидят те же советские люди: сволочи и хапуги. Оправдывая эту характеристику,
                губернатор Россель, получив положенные ордена, со своего кресла пересел в Москву, в Совет федераций,
                сенатором. Кажется, это становится тенденцией: такую же карьеру совсем недавно проделала и Валентина
                Матвиенко. То есть, сливки советского общества стекаются в Москву, занимая высокие места в вертикали
                власти. Надеюсь, не надо напоминать, кому принадлежит сама вертикаль власти? И под чьим крылышком эти
                коррупционеры прячутся?</p>
            <p> Правда, Оля одёрнула меня, не согласившись с моим мнением о Росселе: «Подожди! Россель, по крайней мере,
                был прекрасный хозяйственник. Неважно сколько он наворовал. Посмотришь – тот, кто придёт на его место,
                будет намного хуже». Не стал спорить с ней. По-моему, здесь применим тот же принцип матрёшек: каждая
                последующая матрёшка будет мельче предыдущей. Страна деградирует. И может, будет лучше, если самая
                большая матрёшка (страна) распадётся на свои составляющие. Тогда у каждой матрёшки будет своя жизнь. И
                как бы она ни сложилась, это будет <span class="article__accent">самостоятельная жизнь</span>. Такая
                матрёшка уже не будет порождать себе
                подобных, но только меньших размеров.</p>
            <p> Недавно Максим Дударев – бывший чиновник и член «Единой России», рассказал о жульничестве на аукционе
                при передаче имущества ЮКОСа фирме «Байкалфинансгрупп». Казалось бы, человек достоин похвалы за
                честность, которая может выглядеть как подвиг. Только это не подвиг. Он заговорил об этом сейчас, сидя
                на нарах, в страхе, что его не выпустят по УДО. Типа: если не выпустите меня по УДО, если кто-то ТАМ,
                наверху, не нажмёт нужные кнопки, то я такое ещё расскажу… А ведь этот «искренний» человек с
                удовольствием играл по правилам банды Путина. До поры, до времени. Пока не оказался на нарах, как
                Ходорковский, чьё имущество он честно помогал делить.</p>
            <p> По своей сути мы - шкурники. От постоянной нищеты постоянно преследуем свои шкурные интересы. Поскольку
                такие интересы не могут совпадать с высокими идеалами, то мы, живя шкурными интересами, всё больше
                мельчаем и мельчаем. «Путин вытоптал вокруг себя всё пространство!» Да что там топтать? Здоровая трава
                даже сквозь асфальт прорастёт. Ну, назовите хоть одну достойную личность? Наверное, один Ходорковский? И
                то, моё уважение базируется на том, что он увидел жизнь с изнанки. Хотелось бы мне и Путина за это
                уважать (в смысле: показать ему жизнь с изнанки).</p>
            <p> Прочитал на днях дневник <a
                    href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%BE%D0%BC%D0%B0%D1%85%D0%B8%D0%BD,_%D0%91%D0%BE%D1%80%D0%B8%D1%81_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B8%D1%87"
                    class="article__ref">Бориса Стомахина</a>. Хотя, «прочитал», это
                сильно сказано. Я не смог дочитать. Как
                можно стоять над телом человека с вскрытой грудной клеткой и созерцать судорожные сокращения сердца? Для
                этого надо быть или хирургом, или садистом. У меня не оказалось ни тех, ни других качеств. Но обнажённое
                сердце в дневниковых записях Стомахина я видел. И отвёл глаза: его сердце было наполнено ненавистью. Не
                кровью, а ненавистью.</p>
            <p> Природа ненависти – это что-то для меня очень сложное и непонятное. Полагаю, что существует животная
                ненависть. Хотя, зачем обижать животных? Им это чувство не свойственно. Тогда, может быть, звериная
                ненависть? Есть же выражение «звериная ненависть». Но звериная ненависть, по сути, то же самое, что и
                животная. А! Вот, нащупал – безмозглая ненависть. Это неотъемлемое качество рабов: ненависть и зависть.
                Раб, тупо выполняя отведенную ему работу, тупо ненавидит саму работу, ненавидит хозяина и завидует ему.
                Значит, ненависть бывает рабская, безмозглая. Именно про неё можно сказать – животная, подчёркивая этим
                отсутствие в ней человеческой, разумной составляющей. Может, это и есть классовая ненависть?</p>
            <p> Такое однозначное понимание ненависти смущало меня как христианина. Потому, что за последние годы я
                наполнялся ощущением бессилия и наливался ненавистью (что, казалось бы, не свойственно христианину), ко
                всей этой погани, к этим совкам у власти. Ведь власть - это не только выстроенная Путиным вертикаль
                чиновников, но также и обычные совки, которые трудятся врачами, чиновниками, ментами, сантехниками.
                Каждый из них – ненавидящий раб. Но на своём рабочем месте он занимает положение властного хозяина и
                отыгрывается на своём ближнем, унижая того по полной программе. За что? За то, что сам унижен.</p>
            <p> Вот это меня и смущает: понимание рабами своей безнаказанности за собственную ненависть к таким же рабам
                и к окружающему миру, к сожалению, вызывает у меня ответную НЕНАВИСТЬ. Получается, что я сам упёрся в
                ненависть, так же как и Борис Стомахин. Какая тогда разница между нами и ненавидящими совками? Должен ли
                я, как христианин, укорять себя и стесняться своей ненависти? В очередной раз пришлось искать ответ в
                Библии. Раньше всё смотрел, что она говорит о любви, но нашёл, к удивлению, и о ненависти: «<span
                    class="article__accent">Любящие
                    Господа, ненавидьте зло</span>». Это Ветхий Завет. А в Новом Завете Бог говорит об Иисусе Христе:
                «<span class="article__accent">Ты возлюбил
                    правду и возненавидел беззаконие»</span>.</p>
            <p> Вот она - золотая средина для нормального человека – наличие противоположностей. Не отсутствие какого-то
                одного из двух качеств, или преобладание другого, а их оправданное и разумное сочетание. Сочетание любви
                и ненависти. Если я что-то люблю, значит, ненавижу то, что мешает моей любви или угрожает ей
                уничтожением. Если я сторонник правды, то ненавижу беззаконие. Только поэтому я ненавижу правительство,
                само государство, где нет понятия о чести, честности, обязательного исполнения закона. Зато люблю свою
                семью, которая страдает от отсутствия этих качеств в советском народе. Так я имею право на ненависть?
                Осмысленную и обоснованную ненависть к убивающим мою семью?</p>
            <p> Что же тогда любит Борис Стомахин, если его сердце переполнено ненавистью? В первую очередь, свободу.
                Свободу, которой мы все лишены. Свободу для тех, кто её достоин и готов за неё умереть. Но, так
                получается, что за право на свободу готовы умереть только кавказские народы. Их и поддерживает Стомахин.
                А коренное население великой России, на полусогнутых ногах, само в свободе не нуждается и других за
                горло держит мёртвой хваткой. Потомственные рабы мечтают не о свободе, а о рабах для себя, на которых
                можно отыграться за собственное рабство.</p>
            <p> Естественно, что рабы ненавидят свободные и свободолюбивые нации (так же, как и свободолюбивых людей из
                своей среды). Чтобы оправдать эту ненависть, чем-то её уравновесить и устранить перекос, власти много
                говорят о любви к родине, о патриотизме. Именно к родине, а не к людям, живущим на этой территории.
                Хотя, самое главное о патриотизме уже было сказано: «Патриотизм – это последнее убежище для негодяев».
                Убежище – это место, куда можно убежать, спрятаться. Негодяй – человек ни к чему не пригодный, ни на что
                не годный.</p>
            <p> Но потомственные рабы едва ли способны на любовь. А если и способны на какую-нибудь любовь, то, всё
                равно, они далеки от того, чтобы любить родину, где прозябают как рабы. Как видим, Борис Стомахин не
                принадлежит к таким. Ненавидеть, как он, зло в империи Зла – это естественное состояние человека. Такая
                ненависть к злу – из-за любви к человеку, к его свободе, к праву свободного выбора. Проблема в том, что
                есть несколько вариантов борьбы со злом. Два из них полярно противоположны. Первый – это убить дракона.
                А второй – побеждай зло добром (это из Библии). И тут каждый делает свой выбор.</p>
            <p> Кстати, последнее время мне всё больше становится жалко Путина. Он таким родился, и в этом его
                несчастье. В чём-то он даже достоин жалости. Зато, я всё больше презираю советский народ, который вдруг
                «прозрел» и ополчился против Путина. Объясните, пожалуйста: за что? Что же в нём появилось нового и
                когда? Столько лет его любили, слушали его самодельные афоризмы, выбрали его нацлидером, лидером партии.
                Когда же он вдруг изменился?</p>
            <p> Да он и не менялся. Просто, рабы (народ-богоносец) поняли, что им с колен надо вставать самим. А это
                труд, и труд неимоверный. И никакой харизматичный лидер не поднимет их своим указом. Вдобавок, потом,
                встав с колен, приобретя себе свободу, придётся учиться уважать чужую свободу и считаться с ней. А рабы
                к этому не готовы. Отсюда и появившаяся ненависть «проснувшихся» масс к своему, ещё совсем недавно так
                почитаемому нацлидеру: опять их «кинули».</p>
            <p> Так что пока посвящение моего дневника остаётся прежним: «Советскому народу и го-ну Путину посвящается».
                Даже, если одна проблема когда-то разрешится сама собой, то есть, Путин исчезнет со сцены, то главная
                проблема (советский народ) ещё долго будет актуальной для нас самих и для всего окружающего мира.
            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>