<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Спящие чудовища</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Спящие чудовища</h1>
            <p> «Кто мирно спит, тому лгать невозможно». Шекспир. Как это понять? Да очень просто: бесполезно
                разговаривать со спящим человеком. Он тебе не ответит. Но, что хорошо: ему не нужно лгать. Не надо
                напрягаться, изворачиваться перед спящим. В этом нет никакой необходимости. Спит спокойно человек. Пусть
                спит. Его обмануть невозможно.</p>
            <p> Я сразу вспомнил перевыборы Путина на второй срок. Программы у него не было. От дебатов с кем-либо он
                отказался. Другие кандидаты надрывались, защищая свои программы, спорили до хрипоты. Путин
                безмолвствовал. А чего шуметь? Скажешь ещё что-нибудь не так – народ проснётся. Он только-только
                придремал, уткнувшись носом Путину под мышку. Как же, сильная рука, национальный лидер, защитник
                отечества. Россия истосковалась по такому вождю. Сразу было видно - свой человек. По манерам, по
                ухваткам, по словам.</p>
            <p> Даже этого общенародного любимца-шута, Жириновского, переплюнул. Как Путин сказал: «Мочить!», так вся
                Россия обомлела, обмякла, успокоилась и задремала, чувствуя твёрдую руку. Это как бы реакция на
                перестройку: вначале всплеск эмоций, адреналин, шок. А потом «отходняк»: чувство усталости, желание
                покоя, стабильности. И крепкий здоровый сон. В обыденной, повседневной жизни такой перепад чётко
                прослеживается у детей или пенсионеров. А России-матушке сколько уже? Тут уже весь комплект дряхлеющей
                империи: маразм, склероз, климакс. Наверное, поэтому она бросилась в объятия молодого чекиста-альфонса.
                Но я не об этом.</p>
            <p>Страшно и жутко читать о зверствах, которые чинили оккупанты на территории Чечни. <a class="article__ref"
                    href="http://www.ej.ru/?a=note&id=7288">Вспомним</a>, как это было:
            </p>
            <p class="article__remark"> «…Речь идёт не о бомбардировках и обстрелах (были уже два решения), не о
                "фильтрах" (решение о
                Чернокозово вынесено по делу Битиевой), не об "исчезновениях" (есть много решений, последнее – по делу
                Руслана Алихаджиева), а о "зачистке", в ходе которой подразделением федеральных силовых структур были
                убиты, по крайней мере, 56 человек.<br>
                То есть здесь убивал не лётчик, не артиллерист — те хотя бы могут случайно попасть в мирный дом. Тут всё
                было иначе. Тут "работали" каратели. Убивали не боевиков, не "пособников" — просто убивали.<br>
                Эти убийства нельзя списать на "состояние аффекта" или "месть за только что (или на днях) убитых
                товарищей" (этим порою пытаются оправдать убийство более ста человек в Самашках 8 апреля 1995 года).
                Накануне, 4 февраля, расположенный на окраине города посёлок Новые Алды уже "зачистила" и ушла к центру
                Грозного армейская часть, до того стоявшая на соседних высотах. А потом пришли другие "силовики", ранее
                стоявшие в тылу.<br>
                Эти убийства нельзя списать на группу неорганизованных и недисциплинированных военнослужащих, ходивших
                по дворам и грабивших по собственной инициативе (так было в Старопромысловском районе в январе 2000-го —
                там женщин расстреливали, чтобы с мёртвых сорвать серьги; кстати, убивали там не "по национальному
                признаку" — среди выживших свидетелей есть и славяне).<br>
                А в Новых Алдах всё было вполне "организовано"... "Зачищавшие" шли по улицам, по дворам — и убивали. Но
                можно было откупиться. Где-то люди смогли собрать требуемый выкуп — и оставались в живых. Где-то не
                получалось — и их убивали. На глазах одной из заявительниц, Малики Лабазановой, во дворе дома убили
                троих родственников — 60-летнюю женщину, 70-летнего старика и 47-летнего инвалида. Где-то в качестве
                выкупа отдавали золотые зубные коронки. У одного человека выдрали золотые зубы — уже у убитого. Ничего
                не напоминает?..<br>
                Жертв могло быть и больше — если бы сельский врач Асет Чадаева не пробежала по дворам и не заставила
                людей выйти на улицу. Их, сгрудившихся в толпу, убивать не стали — трусливые мерзавцы готовы были
                убивать в домах и во дворах, без свидетелей, но так вот, когда на них смотрят десятки глаз...
                Разумеется, далеко не все "силовики" действовали именно таким образом: военные, "зачищавшие" Новые Алды
                4 февраля, не зверствовали и даже предупреждали жителей: <span class="article__passage">за нами идут
                    звери</span>».</p>
            <p>«Звери» – это питерский ОМОН. Но, думаю, тут не важна принадлежность к какому-то определённому городу.
                Сомневаюсь, что где-то ОМОН лучше, а где-то хуже. Потому, что в любой милицейской части служат обычные,
                простые советские парни. И эти подонки, которым я являюсь невольным соотечественником, повторяют
                историю. Но не в виде фарса, а снова в виде трагедии. В виде человеческих трагедий. Подобное уже было.
                Точно так же наступали фашистские оккупанты. За передовыми частями захватчиков шли эсэсовцы. Каратели.
                Они проводили окончательные «зачистки». Вешали, сжигали людей в сараях, расстреливали, грабили,
                насиловали. Они боролись против бандформирований. То есть против партизан, а заодно и против мирных
                жителей.</p>
            <p> Так как же мы озверели, докатились до уровня эсэсовцев? Первый вариант ответа у меня возникает: во всём
                виноват Путин. Нет, правда, это он воскликнул, дрожа от нетерпения: «Мочить их!!!». Ну, мы и взялись за
                дело. Не упустили свой шанс. Скольких простых героев и героев России породила война в Чечне? А сколько
                было звёздочек и повышений по службе? Это говорит о нашей добросовестности. Великий русский народ,
                прославившийся своим гостеприимством, хлебосольством, своею щедростью и широтою души, просто так, с
                первого пинка чекиста, безоговорочно кинулся мочить чеченцев. Нет. Что-то тут не вяжется. Наверное,
                движущие мотивы лежат глубже. Продолжим искать корень зла.</p>
            <p> Тогда – второй вариант. Сдвигаемся по времени в доперестроечную Россию. На мой взгляд, многое в
                поведении и психологии постсоветского общества может объяснить лозунг тех давно минувших дней:
                «Советский народ – это нерушимый блок коммунистов и беспартийных!». Блок. Для наглядности можно
                представить себе железобетонный блок, которым перегораживают дорогу у КПП. Вот советский народ – это и
                есть цельный, мощный и неподъёмный железобетонный блок. Но с одной оговоркой. С этого блока никогда не
                снимали металлическую опалубку: железный Феликс, железная дисциплина, железный занавес, железная колючая
                проволока.</p>
            <p> Когда после перестройки вместе с железным занавесом опалубка рухнула, тут пришла пора всем удивиться:
                внутри оказался вовсе не железобетонный блок. Это было дерьмо, когда-то обнесённое металлической
                опалубкой, которое тут же опало, расползлось. Натуральное дерьмо – оно не в состоянии сохранить форму
                без опалубки. Не только первоначальную, а вообще никакую форму. Дерьмо, оно есть дерьмо. Потому мы так
                затосковали через некоторое время по твёрдой руке, по былой стабильности. Но Путин стал у нас лидером
                вовсе не в силу собственной исключительности. Вовсе нет. Он, как говорится: «Молодец среди овец. А среди
                молодца и сам овца».</p>
            <p> Проще сказать короче: у нас так принято. Даже дебил может управлять государством (не только кухарка) при
                диктатуре пролетариата. Главное – прорваться к рычагам власти. А для этого не нужно быть лучшим из
                лучших и принадлежать к элите. Достаточно быть подлым, изворотливым, бессовестным и скользким. Как
                видим, ни образование, ни воспитание, ни ум здесь не фигурируют. А у кого может быть твёрдая рука, как
                не у чекистов? Они на живых мишенях отрабатывают эту самую твёрдость. Интересно, что мы за государство,
                постоянно тоскующее по твёрдой руке? Что мы за общество? И если мы были таким «блоком» раньше, до
                перестройки, значит, не перестройка нас испортила? Это не она виновата. Тогда получается, что советский
                народ уже с момента своего появления был дерьмом в опалубке. Что ж, в поисках истины погрузимся в
                историю нашей страны ещё глубже.</p>
            <p> Третий вариант заставляет нас задуматься: а что было до возникновения новой исторической общности?
                Точнее, из чего возник этот самый советский народ – нерушимый блок в железной опалубке? Который
                постоянно нуждается в стабильности, в твердой руке и, в свою очередь, готовый мочить всех и всё. Мы
                помним, что гражданская война поделила народ на «красных» и «белых». Кто такие «белые»? В большинстве
                своём богатые, образованные люди. Элита нации. Какой бы ни была нация, эти люди были лучшие из лучших.
                Кто такие «красные»? В основном это была нищета, завистливая голытьба. Типа популярного литературного
                героя Павки Корчагина.</p>
            <p>Мама у этого чекиста была кухарка. Отец, со слов старшего брата Павки, – алкоголик, который бросил семью.
                Дед, со слов бабушки, был какой-то припадочный, пришёл с очередной войны инвалидом и сгоряча, костылём,
                ударил представителя власти. Его посадили. Так вот Павка был «красным». Помните? Из школы его выгнали.
                За какую бы работу он ни брался, из этого ничего не получалось.</p>
            <p> Зато главной его движущей силой была зависть и, вытекающая из нее ненависть ко всем, кто лучше его. Или
                богаче. Увидел с улицы в чужом доме, на столе, что-то интересное. Залез через окно. Оказалось – это
                пистолет. Павке, на всякий случай, он оказался нужен. Бежит пацан по улице с винтовкой: пролетариям
                бесплатно раздают. Павка вырывает у него из рук винтовку. Павке она нужнее. Таким человеком он уже в
                детстве был: простым и непосредственным. Ненавидящим и безжалостным. И мы, все последующие поколения,
                брали с него пример. Как же? Павка! Как он умел врагов ненавидеть! А любить? Он кого-нибудь любил?</p>
            <p> Какими были «белые» в гражданскую войну? Как нас в школе учили, по книгам и в фильмах – «белые» были
                настоящие звери. Хотя сейчас я умом понимаю, что в гражданской войне милосердие не присуще ни одной из
                сторон. Как раз потому, что брат идёт на брата, сын на отца. И если ты решился на такое, значит, ты
                готов совершить всё что угодно. По разным причинам воевали «красные» и «белые». Разные отстаивали идеи.
                Разные двигали ими мотивы. Но те и другие были безжалостны. И не только потому, что безжалостность – это
                характерная черта всех гражданских войн. Похоже, что безжалостность и бесчеловечность – характерная
                черта, во все времена присущая нашему народу. Вот откуда наша готовность проводить «зачистки».</p>
            <p> В гражданской войне победили Павки Корчагины, «красные», которые в душе кроме зависти и ненависти ничего
                не имеют. Нищие, необразованные. Вот как возник советский народ. И не надо от чекистов отмахиваться, как
                от кошмара. Они – это мы. Только из нас не каждый удостоился чести стать чекистом. Нас много. А элита –
                она всегда в небольшом количестве.</p>
            <p> С тех пор мы так и живём. Любовь созидает. Ненависть разрушает. Поэтому мы живём при постоянной разрухе.
                На 20 – 30 лет позади цивилизованных стран. Но зато в блоке, обнесённом железной опалубкой. По-другому
                мы существовать не можем. И все годы, всё это время мы убиваем, убиваем, убиваем. Друг друга, самих
                себя, соседей, оккупантов, и тех, кого ещё только вчера называли братьями.</p>
            <p> После того, как уничтожили «белых», духовных наследников у Павки Корчагина осталось целое государство.
                Только, в отличие от этого персонажа, мы плодимся и размножаемся. Но остаёмся по-прежнему безжалостными,
                бессердечными. И выполнение функций эсэсовцев, на «зачистках», для нас в порядке вещей. Что, есть
                случаи, когда кто-то отказался от участия в «зачистках»? Может быть, может быть. Но, в отличие от
                количества Героев России, таких, наверняка, единицы. И судьба их трагична. Может быть, не менее трагична
                судеб тех, кого мы «зачищали».</p>
            <p> Поэтому излишне лгать нашему народу. И не надо, ссылаясь на недостаток информации, оправдывать его. Это
                пустые усилия. Трата средств и времени. «Кто мирно спит, тому лгать невозможно». Но сон разума порождает
                чудовищ. Так оно и есть. А сон совести, что порождает? Если, конечно, она есть у нас. У эсэсовцев.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>