<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Там Русью пахнет!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">«...Там Русью пахнет!»</h1>
            <p> Дался же мне этот курятник! Но с другой стороны: о чём мне ещё писать, если, скажем, о Большом театре я
                знаю только, что он пишется с большой буквы «Б»? Поэтому приходится обращаться к вещам, которые мне
                близки, доступны, и о которых я могу рассуждать со знанием дела.</p>
            <p> Итак: очередная Олина идея, или, точнее, предложение. Новый год закончился. В том смысле, что съели из
                холодильника все приготовленные на праздник салаты, манты (в пику пельменям – в нашей семье это
                праздничное блюдо, из Средней Азии). Осталась недопитая бутылка шампанского. Но она до 8 Марта у нас
                может простоять в холодильнике. И ещё: целлофановый пакет с мандариновыми кожурками. Вот Оля и
                предложила: «Давай, мы их курицам скормим?»</p>
            <p> Есть у нас китайская электрическая мясорубка. Все отходы (картофельные очистки, ту же яичную скорлупу и
                всё-всё-всё) я перемалываю в мясорубке и добавляю курицам в комбикорм. Как нас учили: эта вредная баба,
                экономика, должна быть экономной. Но кролики есть эти кожурки наотрез отказались. Я помню, летом Оля
                устроила нам Новый год: купила мандаринов. А кролики не прикоснулись к брошенным им нарядным, пахучим
                корочкам. Или их смутил яркий цвет, или необычный запах. Кусочки жаркого солнца так и остались лежать
                под лапами у кроликов, пока они не смешали их с землёй. Так что ещё вопрос: будут ли куры есть эти
                остатки воспоминаний о новогоднем застолье?</p>
            <p> Если хочешь быть настоящим хозяином в доме – умей выполнять все причудливые предложения жены. Даже на
                свой страх и риск. Я перемолол мандариновые кожурки в мясорубке, перемешал их с комбикормом и отнёс
                праздничный ужин в курятник. Наутро, зайдя с очередной порцией комбикорма в курятник, я остолбенел. Те
                же промёрзшие стены, местами покрытые инеем. Пол, покрытый пружинящим слоем куриного помёта. Спертый
                воздух. Но запах! Почти неуловимо пахло праздником, Новым годом. Пахло мандаринами. И я с благодарностью
                подумал о наших властях. О нашем правительстве. О нашем телевиденье.</p>
            <p> Ведь куда не посмотри – везде ощущается присутствие их заботы и внимания. Вроде, насколько загаженный
                этот курятник (это я о России, про Большой театр ничего не могу сказать). Но как через средства массовой
                информации у нас, в этом курятнике, пытаются вызвать ощущение праздника! Вот этим неуловимым ароматом
                радости стараются пропитать всё. Вроде кругом дерьмо, и радоваться нечему, но как услышишь по ТВ:
                «Большое телевиденье для большой страны!», и тебя уже наполняет неизъяснимая радость и непонятная
                гордость. Телевиденье-то, оказывается, у нас большое. И страна, о-го-го, какая огромная!</p>
            <p> Хотя, если честно, то мне это напоминает эпизод в больнице. Кормили нас там отвратительно. Но к вечеру
                всегда приходили родственники и, зная наши проблемы, приносили что-нибудь съедобное. К началу
                больничного ужина почти все были сыты. Медсестра, в свою очередь, тоже зная это, собирая убогих и сирых
                на ужин, кричала в коридор: «Суп! Остался ещё с обеда! Гороховый! Горячий! Кто будет? Каша манная! На
                ужин!» Тут последовала заминка: каша была без масла, без сахара, рекламировать её было трудно. Но
                медсестра не растерялась и повторила: «Каша манная! Белая! Кто будет?»</p>
            <p>Зачем себя мучить вопросом: где у нас независимое телевиденье? Где телевиденье, которое объективно
                отражает всё происходящее? Где телевиденье, которое показывает новости, а не их строго направленную
                интерпретацию? Чего приставать с подобной ерундой? Сказано же: у нас самое большое телевиденье. Под
                стать нашей огромной стране. Тут неважно, что вы видите в огромной стране собственными глазами. Не верь
                глазам своим. Запах чувствуете? И присутствие неизъяснимой радости. И какой-то гордости! Пусть вокруг не
                мандарины. И даже не очистки с мандаринов. На самом деле, это продукт нашей упорной жизнедеятельности.
                То, что вышло у нас совершенно естественно. Но запах! Власти искренне уверяют, что в нашем курятнике
                запах постоянного праздника!</p>
            <p> Реклама на Рождество, по РЕН ТВ: «РУССКИЕ каникулы! Смотрите РУССКИЙ спецназ! «Спецназ-2»! Смотрите
                Задорнова: «Всё произошло от РУССКИХ!». Не знаю, кто как, а я уже горжусь, что я русский. Гражданин
                великой страны и представитель великой нации. И телевидение у нас большое. И каша манная, белая. На этой
                волне я осознаю себя членом. Или члеником? Нашего постсоветского общества. И нас, таких члеников, в
                стране постсоветского общества пока ещё миллионы. Хотя, где-то в глубине души, шёпотом понимаю, что я
                дерьмо. Живу в дерьме, среди дерьма. Зато как дерьмо у власти старается, чтобы для меня всё пахло
                мандаринами!</p>
            <p> Ну вот, сегодня нашёл курицу, которую я прозвал Интеллигенткой, мёртвой. Я так прозвал потому, что сами
                курицы её не принимали. Они с ожесточением клевали её, особенно при раздаче кормов. С постоянно
                выщипанной шей и расклёванным задом, она только у поилки с водой чувствовала себя в безопасности.
                Голодная орава ещё продолжала у корыта борьбу за хлеб насущный, а она, скорее всего, полусытая уже
                глотала воду, вытянув шею, не торопясь, подолгу глядя куда-то вверх, сквозь потолок.</p>
            <p> Правда, за последнее время она оперилась, стала выглядеть какой-то важной в своей неспешности. И я
                успокоился: наверное, даже Интеллигенция может выжить в курятнике, у такого хозяина как я. Но вчера
                вечером, когда принёс корм, она осталась в гнезде, не в пример другим. Вечно голодная орава уже выясняла
                отношения у корыта, а Интеллигентка сидела по-прежнему одиноко. Она привыкла к моим рукам, обычно
                чуть-чуть вздрагивая под ладонью и приседая. Сейчас она не пошевелилась. Я понял, что она не сидит, а
                завались на бок в углу гнезда. Сунув под фуфайку, ближе к телу, я перенёс её в гараж. Тут для неё был бы
                настоящий санаторий. Но утром она была мертва.</p>
            <p> Капризная это штука, интеллигенция. Не приспособленная к жизни. Да и я, как хозяин, не заинтересован в
                интеллигентах. Мне нужны те, кто не смотрят через потолок, в небо. А приносят мне яйца. А иногда даже
                яйца Фаберже. Поэтому интеллигенция на Руси не в цене. По большей части она сдохла. Из-за невыносимой
                бренности бытия. Выжившие привыкли. Успешно ассимилировались. Приучились. Потому, когда они начинают
                проявлять в жизни инициативу, то есть, так же энергично отталкивать других от кормушки, то они уже ничем
                не отличаются от остальных, безмозглых куриц, участвующих в процессе «жрачки».</p>
            <p> Интересно, почему, когда говорю или думаю о правительстве, о нашем обществе, у меня возникают одни и те
                же ассоциации: курятник, дерьмо и безмозглые курицы? Так я невольно создам о себе неправильное мнение.
                Нужно вспомнить о чём-то хорошем. Например, о Надюшке. Она учится уже в 5 классе. Отличница. Прекрасная
                дочка. Недавно, услышав, как я хмыкнул, слушая новости по телевизору (после инсульта моя мама в основном
                лежит и смотрит исключительно РТР), Надюшка спросила меня: «А ты, папа, не согласен?»</p>
            <p> Я, на полном серьёзе, начал объяснять ей, что только за последние годы мы развязали войну в Афганистане,
                две войны в Чечне и (дай Бог!) пока одну войну в Грузии. Я ей рассказывал, как в Афганистане мы
                атаковали дворец президента Амина, который охраняли наши же солдаты. Рассказал, какие зверства мы
                творили в Чечне все эти годы. Как наш президент призывал «мочить», обрезать и подвешивать за яйца. Что?
                Ребёнку такие слова президента нельзя повторять? Я и не говорил. Это сейчас для красного словца написал.
                Подобное только российский президент может говорить. А Надюшке я рассказал, как мы подготовили
                «блицкриг» против Грузии.</p>
            <p> Когда посмотрел ей в глаза, надеясь увидеть там недоумение, мне стало не по себе: в её глазах я увидел
                недоверие. Я опоздал со своими комментариями. ОНИ опередили. Когда ей было 5 лет, в детсадике их уже
                учили обводить карандашом границы нашей необъятной родины. Что ты! Это ж такая святыня! Аккуратней надо
                карандашиком. Если больше прихватишь чужой территории – это не проблема. Главное – своего не отдать! Уже
                тогда их возили в пожарную часть (воинской под рукой не оказалось). Они надевали брезентовые куртки,
                каски и ощущали себя героями и были готовы вступить в бой. Конечно, за родину. Эту старую каргу детишки
                представляли Василисой Прекрасной, которая всю свою жизнь отбивалась от Кощея Бессмертного. Вот когда
                они вырастут, они, точно, отобьют! По-моему, опять мандаринами запахло.</p>
            <p> Что я всё в негатив скатываюсь с этими мандаринами? Сколько у нас всё-таки хорошего. Вот о чём надо
                писать! О свободе слова, например. У нас, оказывается, полная свобода слова. Где ещё такое возможно?
                Лично я постоянно получаю от некого suvorov2020@rambler.ru рассылки. Шапка в таких рассылках одинаковая:
            </p>
            <p class="article__remark">Президенту Российской Федерации Медведеву Д.А.<br>
                г. Москва, Кремль.<br>
                Главе Администрации Президента РФ Нарышкину С.Е.<br>
                103132, Москва, пл. Старая.<br>
                Помощнику Президента РФ Маркову Олегу Александровичу<br>
                103132, Москва, пл. Старая.<br>
                В ООД «За права человека» РФ Степанову В.В.<br>
                125009, г.Москва, М. Кисловский пер., д.7, стр.1, пом.21.<br>
                Депутатам Государственной Думы РФ: Жириновскому В.В., Хинштейну А.Е., Зюганову Г.А., Харитонову Н.М.,
                Попову С.А.<br>
                г. Москва, ул. Охотный ряд, д.1.<br>
                Генеральному Прокурору РФ Чайке Ю.Я.<br>
                125993, г. Москва, ул. Б. Дмитровка, д.15а.<br>
                Председателю Следственного комитета при прокуратуре РФ Бастрыкину А.И.<br>
                105105, Москва, Технический переулок, д.2.<br>
                Прокурору г. Москвы Государственному советнику юстиции 2-го класса Семину Ю.Ю.<br>
                115184, Москва, ул. Новокузнецкая, д.27</p>
            <p> Обычно дальше следует сообщение об убийствах, вымогательствах, «наездах», рейдерских захватах. Последнее
                письмо подписано Мальгиновой Т. К. Но я о другом. Вы понимаете? Раз ТУДА пишут, значит – ТАМ обо всём
                знают. Значит, думать, писать и говорить об этом можно! Так это и есть свобода слова! Да я сам живой
                (слава Богу!) пример этому! С 2004 года веду свой дневник в Интернете, с посвящением: «Советскому народу
                и президенту Путину посвящается». И ничего. Пишу! О советском народе, о Путине. Полная свобода слова и
                мысли! Но почему ТАМ, зная об убийствах, вымогательствах, «наездах», рейдерских захватах ничего не
                предпринимают?</p>
            <p> Ну, ёлки-палки! Мы ж договорились, что я только позитив буду писать. Что б мой имидж, как в целом у
                России, выглядел положительно. И что б меня не объявили в экстремизме, терроризме и империализме. Но
                если кто-то настаивает на ответе, почему ИМИ ничего не предпринимается, то я считаю: значит, ТАМ,
                наверху сидят самые главные убийцы, вымогатели и организаторы «наездов» и рейдерских захватов. Это ТАМ
                собрались «сливки общества». А здесь, внизу, мелкота, крысы, которые подбирают крохи, от того пирога,
                который дербанят там, наверху.</p>
            <p> Конечно, здесь, эти крысы, вблизи, кажутся самыми большими и страшными животными. Но как говорил Козьма
                Прутков: «Зри в корень». А корень, судя по всему, гнилой. Поэтому подобные обращения к власть имущим
                подобны холостому выстрелу. Я уже как-то советовал в подобной ситуации: «Вы бы ещё Гитлеру пожаловались,
                что враги сожгли родную хату». Что? Больше некуда жаловаться? А кто этих власть имущих наделил властью?
                По сильной руке скучали? Захотели жить в сильной России и встать с колен? Менеджера у власти вам надо?
                Тогда всё происходящее с нами – это прекрасная иллюстрация к нашим чаяньям и надеждам.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>