<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Суповой набор</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}
    <main>
        <article class="article">
            <h1 class="article__heading">Суповой набор</h1>
            <p> Первой на эту курицу обратила внимание врач-ветеринар. Она пришла с двумя помощницами поставить
                прививки. Осмотрев очередную пациентку, врач предупредила нас, что эту курицу необходимо отсадить и
                держать её отдельно: у неё исклёван до крови весь зад, и гребешок был маленький, поникший, пепельного
                цвета. Мы выполнили эту рекомендацию. Стали держать курицу отдельно. Оля постоянно чем-то мазала
                расклёванные ранки и через какое-то время курица поправилась. Мы снова её пустили в родной курятник.</p>
            <p> Я стал присматривать за ней всякий раз, когда заходил кормить кур или собирать яйца. Куриное сообщество
                так и не приняло её. На рассыпанный корм они кидались дружно, стуча клювами по кормушке, как швейная
                машинка иглой. Но через время, насыщаясь, то одна, то другая курица начинали поднимать голову, оглядывая
                своих соседок. Если кто-то замечал рядом эту несчастную курицу, по её неразвитому серому гребешку, сразу
                же в ход пускался клюв. Здоровая курица больно щипала её за гребешок или за перья на шее. Из-за этого, у
                той, шея сзади была выщипанная. Такое впечатление, как будто она при короткой стрижке сняла с себя
                шарфик.</p>
            <p> Зато принимала пищу она не в пример другим: аккуратно, не торопясь, сохраняя достоинство. Она не клевала
                из кормушки, а именно принимала пищу. До той поры, пока кто-то из бдительных и вечно голодных не хватал
                её за гребешок. Тогда она приседала, чтобы стать ниже, незаметней, оббегала кормушку, пристраивалась с
                другого края. А у поилки она могла позволить себе быть самой собой: грациозно опускала выщипанную шею,
                набирала в клюв воды, поднимала голову и замирала в таком положении. То ли её поражала высота курятника,
                то ли мысль о том, что там, вверху, никто не ходит, если там столько места?</p>
            <p> Я прозвал её интеллигенткой. Или интеллигенцией. Почему? Не знаю. Мне запомнилось это
                пренебрежительно-ругательное слово ещё в детстве. Им заканчивались звонкие скандалы на улице:
                побеждённый (-ая) уже уходил (а), а в след неслось: «Интеллигент (ка)!», или: «Интеллигенция!»</p>
            <p> Но курицу эту было жалко, и я попробовал подкармливать её украдкой от других. Набирал в ладонь корма и
                подносил к ней. Она быстро привыкла. А потом я вспомнил Путина, и как наша интеллигенция склёвывает
                медальки с его щедрой ладони. Мне стало противно: с выщипанной шеей, с расклёванным задом стоять в
                очереди перед Путиным, чтобы склюнуть верноподданнически, с ладошки, у благодетеля. Больше её не кормлю
                отдельно.</p>
            <p> Кстати, раз уж зашёл разговор о птичках. Я даже не заметил, как отовсюду исчезло ироническое выражение
                «новые русские». И это правильно. Русские не могут быть новыми или старыми. Тем более, русские в любом
                своём появлении не могут являться темой для анекдотов или обсуждения. Мы просто хороши только за то, что
                мы есть, и что являемся русскими. По прошествии времени невооруженным глазом видно, что новые русские
                стали уважаемыми людьми. Напоминание о том, что кто-то из них когда-то был новым русским в малиновом
                пиджаке и был объектом для острословов, не каждому могут понравиться. Мы – просто русские, из единой
                России. Великая нация.</p>
            <p> Но всё равно, интересно вспоминать былое. Рассматривать фотографии в газетах, в Интернете. Вот! Это что
                за тип с придурковато-преданным видом мальчика на побегушках выглядывает из-за плеча Собчака!? Скошенный
                лобик. Услужливая готовность выполнить любое приказание. Никакой претензии на самостоятельность: «Чего
                изволите-с?» Пиджак явно сшит на вырост, на два года вперёд. Или тогда у новых русских так было принято?
            </p>
            <p> Курицу мне жалко. А этого услужливого нового русского нет. Поймите меня правильно: совсем не
                обязательно, что у этого существа, с явно выраженными признаками деградации личности, жизнь в дальнейшем
                не сложится. Наоборот: у русских как-то так повелось, что поставят к власти какую-нибудь убогую
                посредственность в надежде сделать ход и потом поменять фигуру на более сильную. Но эта убогая серость
                такой плесенью въестся руководящее кресло, что потом её оттуда ничем не выскребешь. По-видимому, наш
                менталитет такой: устоявшаяся привычка к подобным руководителям. Или проще: свита делает короля.</p>
            <p> Ещё Салтыков-Щедрин писал: «Так, например, заседатель Толковников рассказал, что однажды он вошел
                врасплох в градоначальнический кабинет по весьма нужному делу и застал градоначальника играющим своею
                собственною головою, которую он, впрочем, тотчас же поспешил пристроить к надлежащему месту». Безголовый
                или безмозглый у власти в России – это нормально. Поэтому я не переживаю за собчаковского услужливого
                помощника: у него есть шанс устроиться в жизни. Да мне и без этих переживаний есть чем занять себя.</p>
            <p> Умер во время своей передачи Роман Трахтенберг. Ведущая на «Эхе Москвы», сделав сообщение, искренне
                переживая, добавила, что это произошло от стресса, от большой нагрузки, от постоянной работы в прямом
                эфире. С этим трудно не согласиться: такая работа. Быть постоянно в центре внимания, эмоциональные
                переживания, большие нагрузки. Ты ограничен какими-то рамками. Тебя судят непонятно кто, пристально
                следят за каждым твоим шагом, за каждым словом, и каждый имеет о тебе собственное мнение. Да, такую
                работу никакой отдых не компенсирует в полной мере!</p>
            <p> Но есть варианты более страшные. Мы не вспоминаем, не думаем о них. Они далеки от нас. И, слава Богу! Но
                где-то сидит Ходорковский. Не по 8 часов в день, с последующей «расслабухой». А сутки за сутками, неделя
                за неделей. Месяц за месяцем, год за годом. Эмоциональные переживания, большие нагрузки; постоянно
                ощущать себя мишенью с нарисованными кругами, быть под прицелом, в центре внимания; тебя судят непонятно
                кто, пристально отслеживая твой каждый шаг; ты ограничен решётками камеры; и затаённый страх за
                собственную жизнь, которой ты уже не хозяин. Это стресс? Это нагрузка?</p>
            <p> Сергей Магницкий умер в Бутырке. Сутки за сутками, неделя за неделей, месяц за месяцем. Целый год. Один.
                Прося о помощи. О необходимой медицинской помощи. Кого он просил? Меня? Нет. Но кого-то конкретного он
                просил. Ему отказали. Это стресс?</p>
            <p> Из «Очередного и повторного заявлении о преступлении» от Москаленко Елены Владимировны, направленное, в
                том числе, и Медведеву: </p>
            <p class="article__remark">«В Омской области делается все, чтобы «не выносить сор из избы», результат всех
                моих обращений –
                постановления об отказе в возбуждении уголовных дел в отношении коррумпированных преступников, а в
                отношении меня – возбуждение уголовного дела и заключение под стражу, чтобы не было возможности активно
                сопротивляться антизаконному преступно-коррумпированному беспределу… А теперь наступили тяжкие
                последствия: я из здорового активного человека, приносящего пользу государству (я платила в квартал
                налогов около 300 000, рублей), превратилась в инвалида второй группы второй степени, и в настоящее
                время государство мне платит пенсию по инвалидности. Мое здоровье катастрофически плохое: в результате
                того, что я в течение трех месяцев находилась под стражей, а следователь Водолазский Р.С. не только
                обеспечил избрание этой меры пресечения, сфальсифицировав материалы, на которых суд основывал свое
                решение, но и тщательным образом скрывал наличие выявленной у меня еще до заключения под стражу
                злокачественной опухоли, я не смогла вовремя получить необходимое мне лечение. А злокачественная опухоль
                развилась и перешла в метастазийную стадию. Теперь мне проведена сначала предоперационная лучевая
                подготовка. А без облучения можно было бы обойтись, в случае своевременного обращения в больницу, что я
                не смогла сделать, в силу отказа следователя Водолазского Р.С. в предоставлении мне возможности такого
                обращения во время нахождения меня в СИЗО. Более того, следователь Водолазский Р.С. и после изменения
                мне меры пресечения и освобождения из-под стражи угрожал мне арестом, в случае моего обращения к врачам
                за медицинской помощью. Эти угрозы следователь Водолазский Р.С. высказывал в присутствии моего адвоката
                и своих коллег, работающих с ним в одном кабинете. Но я все – таки была вынуждена обратиться к врачам, и
                мне проведена операция по удалению злокачественной опухоли в подмышечной области правой руки».</p>
            <p>Что Медведев думает? Его просят. Конкретно его. Это стресс? Это посильная нагрузка в прямом эфире?</p>
            <p> Людей убивают медленно, но неуклонно. Выборочно. Причём уничтожают лучших, инициативных, думающих. Кто
                опишет их переживания? А кому они интересны? Жил человек в прямом эфире, под постоянным прицелом, на
                «мушке», у всех на виду. А ушёл из жизни тихо и незаметно. Они все забыты: те, кто умер от полония, те,
                кто от пули, те, кто вдруг покончил с собой в тюремной камере или умер от сердечного приступа. Глупо,
                наверное, здесь будут выглядеть слова из «считалочки» братьев Стругацких: «Стояли звери около двери. Их
                стреляли, они умирали». Но откуда такое ощущение безысходности, которое невозможно выразить словами?</p>
            <p> Как всегда остаются невредимыми, до поры до времени, те, кто ниже плинтуса. Таких большинство. Это и
                есть естественный отбор, селекция по-советски. В свою очередь, процветают те, кто получил полную свободу
                от такой химеры, как совесть. Так, что, вперёд? Путин породил путиноидов? Или «совки» создали короля по
                своей внутренней потребности? Не думаю, что этот застенчивый тип, выглядывающий из-за плеча Собчака, мог
                переиначить менталитет русского народа. Изменить менталитет целого народа, в одночасье, невозможно. Из
                ударника социалистического труда невозможно стать гражданином демократической страны, идущей по пути
                капиталистического развития. Как мы были подстилкой для очередного вождя, которого порождали сами же,
                такими мы и остались.</p>
            <p> Несомненная заслуга Путина в том, что он «раздел» общество, обнажил его. Это не король оказался голый, а
                оголившаяся свита показала себя в истинном свете. Показала своё уродство в том, что была довольна ТАКИМ
                королём. За два срока его правления стадо, пардон, свита два раза решилась пошуметь. Первый раз -
                монетизация, когда пенсионерам, бывшим строителям коммунизма, отказали в льготах, частично компенсируя
                их деньгами. Второй раз, когда подняли налоги на ввозимые б/ушные иномарки. Вот тут и раздалось
                возмущённое хрюканье: «Караул! Грабят!»</p>
            <p> Ни война в Чечне, ни война в Грузии, ни конфликты с Украиной. Ни заложники Норд-оста, ни Беслан, ни
                затонувший «Курск». Ни Ходорковский, ни больной Алексанян, ни беременная Бахмина. Никто и ничто из
                перечисленного не коснулось сознания совков. «Караул устал» – известная фраза. Советский народ тоже
                устал после перестройки. Выдохся. Батарейки сели. И если ему не давать повода для возмущения, он, возле
                корыта, так и будет дремать, временами поднимая затуманенные глаза на национального лидера, вместо
                иконы. Иногда, время от времени хрюкать возмущённо, чтобы о его существовании не забыли.</p>
            <p> В чём была трагедия Ильи Муромца? В том, что он пытался на печке встать во весь свой богатырский рост. И
                постоянно головой стукался об потолок. А ума спуститься на пол, как все, не хватило. Это в предании
                говорится, что нашлись мудрецы-странники, что дали ему напиться, а главное – совет слезть с печки. После
                этого оказалось, что он богатырь. Мы по жизни так и сидим на печи. Делая попытки, время от времени,
                встать на ноги. Спуститься боязно: там, внизу, по полу ходят все западные страны, и, страшно сказать,
                Америка. Хотя от длительного сидения на печи мышцы уже атрофировались. От постоянных ударов головой об
                потолок при попытке встать с колен произошло сотрясение мозгов. Пусть со времён Ильи Муромца прошли
                столетия, мы не изменились. Всё так же: на тёплой печке, у корыта, с дешевыми отрубями.</p>
            <p> Интересно наблюдать за так называемым тандемом Путин-Медведев. Почему-то умные люди пытаются эти две
                личности проанализировать поврозь, в отрыве друг от друга. Более того – пытаются противопоставить их
                друг другу. Может это неправильно? Может для того, чтобы найти истину, надо смотреть не на личности, а
                на определённую последовательность событий? Начнём с дедушки Ельцина, отца русской демократии.</p>
            <p> Несмотря на пристрастие к алкоголю он был хорошим семьянином. И когда пришла пора покинуть сцену, он
                озаботился мыслью о том, как сохранить семейное достояние. Ведь эти сволочи, совки неблагодарные, по
                привычке раскулачат нажитое непосильным трудом. Дедушка нуждался в определённых гарантиях. А кто
                невзирая на все законы ему мог дать такие гарантии? Тот, кто сам плюёт на законы и на гарантии. Нашли
                такого. Он успокоил дедушку указом № 1, где гарантировал Ельцину спокойную старость.</p>
            <p> Второй этап событий, в сокращённом варианте, выглядит так же: пришла пора и этому президенту уходить со
                сцены. Пора пришла. А уходить не хочется. Выходом из положения оказался вариант с местоблюстителем,
                который не только греет оставленный ему на временное хранение трон, но и продлил президентские
                полномочия с 4 до 6 лет. У местоблюстителя наличие ума тоже не ставилось во главу угла. Требовалась
                беззаветная преданность хозяйской руке. Это главное качество. Второе уже упоминалось: греть оставленный
                трон. Третье качество (вернее условие): продлить хозяину полномочия с 4 до 6 лет. Ну, какой бы умный
                согласился на подобные условия? Как видим, с каждой перестановкой требований к наличию ума у кандидатов
                становится всё меньше и меньше.</p>
            <p> Так какие нестыковки можно обнаружить в отношениях между Путиным и Медведевым? Конечно, мечтать о них не
                вредно. Приятно рассматривать отношения тандема через увеличительное стекло и расставлять ударение на
                происходящем по собственному усмотрению. Но Путин выбирал себе замену не с закрытыми глазами. И если
                Медведев где-то решит взбрыкнуть, то ему тут же объявят импичмент. Благо повод найти, что медведю лапу
                обсосать. А будет Дима себя вести паинькой, то отсидит до конца отведённого ему срока и пересядет в
                нагретое кресло премьер-министра. Мы же ничего не заметим, поскольку снова продолжим жизнь при том же
                тандеме.</p>
            <p> Тут для нас главное – пережить последующие два года. Потому, что события будут наматываться друг на
                друга, как снежный ком. По принципу: чем хуже, тем лучше. Тогда мы, точно, опять затоскуем о
                стабильности, о сильной руке, на которую можно опереться. А Путин тут как тут: голый по пояс, он будет
                кормить сырым мясом усыплённую тигрицу. Мчаться на суперсовременном рычащем танке. И женское сердце
                России дрогнет: настоящий полковник! Никому в голову не придёт полезть в архивы, чтобы увидеть типа за
                спиной Собчака. И спросить строго, как в милиции: «Что ж ты, гад, наделал? Ведь это ты во всём виноват.
                И в глаза! В глаза смотреть, чекистская твоя морда!» Но если Медведев, вопреки воле Путина, проявит в
                чём-то собственную инициативу, то тогда выяснится, что во всех наших бедах, виноват юрист. И Путин сядет
                на своё законное место, может быть, даже досрочно.</p>
            <p> То, что события искусственно «наматывают» друг на друга, видно по милиции: у них там каждый день новые
                разоблачения. А она никак не успокаивается: всё подкидывает и подкидывает дровишек во вспыхнувший
                костёр. Что они все, в милиции, с ума сошли? Но, собственно, что мы нового о милиции узнали? Ещё лет
                тридцать назад я знал, что в «ментовке» людей забивают насмерть, а потом объявляют, что пострадавший
                умер от сердечного приступа. И про пытки говорили, и что выбивают показания. Всё это было и раньше.</p>
            <p> Только сейчас кому-то, в собственных интересах, понадобилась гласность. Уже поступило предложение
                распустить ментов-преступников. Ага, и армию тоже. И медиков. У них трупов за день не меньше. Не
                подумайте, что я заступаюсь за ментов или за родную армию. Государство подлецов и подонков охраняют и
                сохраняют подлецы и подонки этого же государства. Естественно, что делать это профессионально они не
                могут. Но те, сверху, кто сейчас требуют роспуска милиции, на самом деле меньше всего озабочены
                безопасностью населения. Они преследуют свои, невидимые пока нам цели. Для кого-то наматывают события,
                как снежный ком.</p>
            <p> Так почему у нас такая милиция? В Библии, Иоанн Креститель восклицает: «Вы! Порождение ехидны!» На
                данный момент неважно к кому обращался Иоанн и кто такая ехидна. Но все умом понимают, что ехидна ничего
                хорошего породить не может. Откуда взялась наша милиция? Посмотрите фильм «Рождённая революцией». Вот
                откуда наша милиция. И Красная (советская, российская) армия оттуда. И палачи-чекисты. Революция
                породила. Так что хорошего могла породить ехидна? Если сама революция творилась отбросами «сверху», в
                собственных целях, но, якобы, в интересах отбросов, которые внизу.</p>
            <p> С тех пор всё так и осталось: отбросы наверху и отбросы внизу. Только дистанция между ними увеличилась.
                Эту дистанцию, как уже говорил, охраняет и сохраняет наша российская армия и родная милиция. А как же
                Кодекс строителей коммунизма? Он выполняется у меня в курятнике. В своём реальном виде, для куриц, он
                выглядит так: залезть повыше, клюнуть того, кто поближе, и обгадить того, кто оказался ниже. Оно так и
                при Советской власти было. Главное – избегать прямого эфира, избегать возможности оказаться в центре
                пристального внимания. На мушке. А для курицы – в кастрюле с супом. Далеко не каждому дано такой стресс
                пережить.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>