<!DOCTYPE html>
<html lang="ru">

<head>
    <title>С чего начинается родина</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">С чего начинается родина</h1>
            <p> «С чего начинается родина?» Не знаю, не помню. Помню только моменты, когда я её начал ненавидеть. А к
                самой песне появилось отвращение после того, как её исполнил Путин. Ну, он-то родину точно любит.
                Теперь, после отъезда из Киргизии, моя родина – уральский посёлок. И в этой капле, с двадцатитысячным
                населением, я вижу всю свою необъятную страну. В этой капле, в посёлке Рефтинском, всё как у людей:
                непобедимая «Единая Россия», непобедимые совки, непроходимая тупость и непроезжие дороги.</p>
            <p> А некоторые вещи в посёлке познали даже раньше, чем другие соотечественники. Это сейчас заказные
                убийства стали обыденностью. Но тогда, в 2001 году, убийство редактора местной газеты стало сенсацией.
                Повод для убийства, по тем временам, тоже оказался неординарным. Почему-то именно за годы правления
                Путина педофилия прочно вошла в нашу жизнь. Но тогда она считалась экзотикой. Вот Эдик Маркевич и стал
                жертвой. Только не борьбы с педофилией, а одной лишь попытки предать гласности факт использования
                детского учреждения как дома терпимости.</p>
            <p> У Эдика, у хорошего журналиста, было чутьё на сенсации. Поэтому именно он заинтересовался: почему редкие
                по тем временам иномарки собираются возле определённого детского учреждения? Он сделал для себя
                интересные выводы, а чтобы не быть голословным, заснял номера машин на видеокамеру. За этим занятием его
                и застали охранники или телохранители vip-персон из иномарок. Они просмотрели отснятый материал и потом
                отпустили Эдика с миром и с кинокамерой. А вскоре его убили выстрелом в спину из обреза. Отснятый им
                материал бесследно исчез. С чего начинается родина? Может лучше бы спросить некоторых, чем закончится
                жизнь на этой родине? Родине педофилов.</p>
            <p> Но зато народ у нас хороший. Настоящие советские люди. Гвозди бы делать из этих людей! Могут молчать,
                как партизаны. Судите сами. Как-то возле города Асбеста обнаружили свалку ядохимикатов, запрещённых к
                применению в России. Химикаты были привезены аж с Прибалтики. Кто-то на этой сделке хорошо подзаработал.
                Более 100 тонн были свалены рядом с источником питьевого водоснабжения города. Куда девать столько
                отравы? Как всегда у нас лучший вариант: с глаз долой, из сердца вон. Решили сжечь всё в топках
                Рефтинской ГРЭС.</p>
            <p> Тут возмутилась общественность посёлка. Вернее, общественности до этого дела не было. Роман Топорков,
                преемник Эдика Маркевича, сумел довести дело до общепоселковой конференции: сжигать, или не сжигать.
                Разбуженный народ высказался однозначно: не сжигать! Губернатор Россель (приятный, безотказный человек)
                конкретно пообещал, что мнение рефтинцев будет учтено. Пообещали ядохимикаты вывезти. И вот только
                сейчас, спустя 10 лет, выяснилось, что эту отраву все-таки сожгли украдкой от всех на Рефтинской ГРЭС.
            <p> Так я к тому, какой у нас народ, населяющий эту родину. Настоящие советские люди. Сто с лишним тонн
                отравы завезли на станцию (два вагона). Жгли две недели. И ведь никто ни из начальства, ни из охраны, ни
                из работяг за 10 лет, даже по пьяни, не проболтался. Ну, чем не партизаны! Вот героический народ!
                Запугали всех или купили – это неважно. Важно то, что за деньги или из-за страха мы готовы на всё. В
                прямом смысле: на всё. На подлость, по отношению к кому-то или даже на преступление против своих же
                людей.</p>
            <p> Но никто из представителей этой родины не проявил интереса к убийству Эдика Маркевича и к тому, что в
                посёлок приезжали (приезжают?) взрослые, по-видимому, высокопоставленные дяди, поиграть с мальчиками.
                Никто не возмутился тем, что, по сути, население посёлка обманули, якобы признав проведённую
                общепоселковую конференцию и её результат. Но украдкой ядохимикаты всё равно сожгли на ГРЭС потому, что
                это самый дешёвый выход из создавшегося положения. А то, что уровень заболеваемости раком у местных
                жителей после этого возрос в несколько раз – кому это интересно? Общественность посёлка проигнорировала
                этот факт.</p>
            <p> И кому интересно, что в посёлке, на территории спецПТУ, где собраны малолетние преступники, вырос
                двухэтажный коттедж, со всевозможными теремками и башенками. Прохожу зимой мимо, идёт снег, а малолетние
                пацаны таскают золоблоки. Не удержался, спрашиваю: «Почему у вас малолетки работают? Да ещё и в такой
                холод?» Мне отвечают, что они не работают, а проходят практику. И не такие уж они малолетки. А то, что
                холодно, так у них укороченный рабочий день – всего несколько часов. Всё по закону!</p>
            <p> Вот в этой капельке – в нашем посёлке - отражается вся наша родина, какая она есть. Весь наш народ.
                Такой, какой он есть на самом деле. Народ, в котором процветает равнодушие и тупость, зависть и
                ненависть, нищета и вечное раболепство.</p>
            <p> Проворовавшегося директора рефтинской птицефабрики, с которым много лет боролась моя жена Оля, все же
                уволили. Министерство сельского хозяйства ходатайствовало об увольнении директора по следующей
                формулировкой: «За заключение экономически невыгодных сделок». Так цивилизованно называется кража
                миллиарда рублей. Окончательная формулировка звучала так: «Уволен по решению собственника». А вот если
                на проходной задержат рабочего при выходе с курицей, то его уволят безо всякой жалости. За воровство.
            </p>
            <p> Но рабочие жалеют директора. Уверены, что без него лучше не станет. Тут я с ними согласен полностью. При
                этом правительстве, возглавляемом любимцем нации г-ном Путиным, ждать каких-то изменений в лучшую
                сторону не приходится. Потому, что лозунг нашего времени: не жизнь будет становиться лучше, а воровать
                будут больше. И чем больше украдено, тем меньше шансов быть посаженым. Кто ж посадит директора
                птицефабрики? Да он такое расскажет про бывшего министра сельского хозяйства и про бывшего губернатора!
                Миллиард же «осел» не в одних директорских руках. Директору, может, как собаке под столом, перепадали
                крохи.</p>
            <p> Что? Тогда посадить губернатора и его подельников? Так они такое расскажут про столицу нашей родины!
                Ведь миллиарды «осели» не только в их руках. Может благодаря этому, губернатор Россель благополучно
                переведён в ту же самую Москву. В Совет Федерации. Чтобы оказаться подальше от нас и быть недосягаемым.
                Вдруг, на местном уровне, кто-то начнёт глубоко копать? А тут, был губернатором, стал орденоносным
                сенатором – фиг его достанешь. И директора птицефабрики нужно воткнуть в какую-нибудь Думу местного
                разлива: он честно заработал спокойную старость.</p>
            <p> Лично меня совсем не радует, что хозяин избавляется от старых гондонов – это естественный процесс. Не
                даёт покоя мысль: когда мы избавимся от самого хозяина? Но народ безмолвствует. А что возьмёшь с нас, с
                народа? Нас в наглую обворовывают (уже не миллионами, миллиардами); безнаказанно насилуют наших детей;
                эксплуатируют их как рабов; травят нас ядохимикатами – мы безмолвствуем. Я совсем не о посёлке. Посёлок
                это капля, по которой можно судить о состоянии всего болота. Вопрос напрашивается: почему с нами
                подобное происходит?</p>
            <p> В Италии недавно был скандал: на дне моря были обнаружены бочки с радиоактивными отходами. Так зачем
                отходы топить в море? Везите к нам, на Рефтинскую ГРЭС. Здесь можно сжечь что угодно. И скандала
                никакого не будет. Здесь никто не проболтается. Уже проверено опытом и временем. Кстати, как раз сейчас
                итальянцы являются новыми хозяевами РефтГРЭС. Прежние отечественные собственники менялись как перчатки.
                Кому нужно предприятие с оборудованием прошлого века? Что с него выжмешь? Зато итальянцам предприятие
                понравилось. Продавать не собираются.</p>
            <p> Так вот, мне стыдно за них (не за нас, а за них): итальянская мафия всегда была у всех на слуху. А тут
                до такой простой вещи догадаться не могут. Раз у вас есть котельные с тремя высоченными трубами, так
                используйте их по полной программе. Там что угодно сгорит. Местное население? А что вы о нём
                беспокоитесь? Не вы же первые начали. Мы сами, первыми творчески подошли к проблеме уничтожения любых
                отходов. По-видимому, со стороны властей такое население другого отношения не заслуживает. Так что
                дорожку не вы протоптали. Как говорится: бизнес есть бизнес, ничего личного. Пусть в вас первый камень
                бросит тот, на ком нет греха.</p>
            <p> Да, жители посёлка глубоко неравнодушны к нашей семье. Сегодня мы получили письмо с указанным на
                конверте отправителем и обратным адресом. Отправили чуть ли не наши ближайшие соседи. В конверте
                страница местной газеты со статьёй «В Рефтинском построят новый храм». Шариковой ручкой обведён текст:
                «Владыка Викентий вручил Благословенные грамоты… главному доброхоту храма Николаю Топоркову – за
                усердные труды во славу святой православной церкви».</p>
            <p> Владыка Викентий – правящий архиерей Екатеринбургской епархии. Это он срочно сменил на посту своего
                предшественника, уличенного в педофилии. Николай Топорков – это бывший директор птицефабрики. Ситуация
                становится понятной после слов в статье: «Строительство храма – благое дело, за это Господь прощает
                многие грехи, - отметил в своём поздравительном слове Архиепископ». Тут же, на одной из фотографий
                обведено лицо человека, скромно стоящего за спинами других. Это сам Николай Топорков, усердный труженик
                во славу святой православной церкви.</p>
            <p> Вот кто лицо посёлка! Вот Почётный гражданин! Вот как жить надо! И храмы строит (это уже второй на его
                счёту будет). И заслуженным уважением пользуется. Вот с чего начинается родина! А мы? Мы враги народа,
                мятежники. На одном предприятии прославились, потом на другом отметились, вызвав всеобщее негодование.
                Вокруг такая лепота, такой покой! А мы, как ложка дёгтя, вызываем у всех отрыжку.</p>
            <p> Так я повторяю вопрос нашего главного чекиста: «С чего начинается родина?». И в глаза, в глаза мне
                смотреть! Что? Так и не поняли, с чего начинается? Ладно, успокойтесь. Расслабьтесь. У каждого она
                начинается по-своему. У кого-то она начинается с Кущёвки. А у нас началась с Рефтинского.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>