<!DOCTYPE html>
<html lang="ru">

<head>
    <title>За черемшой</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">За черемшой</h1>
            <p> Забавно. Я вырос в посёлке Черемша. Уральский посёлочек. Деревянные домики. Заснеженные зимы. И никто не
                знал, что такое черемша. Я думал, что это производное от «черёмухи». Её у нас хватало. Зато сейчас,
                наверное, никто не знает, что такое черёмуха. Точнее, все знают газ «черёмуха». Что такое черемша, я так
                и не узнал. Зато знаю, что за эту черемшу убивают.</p>
            <p> Фотографии в Интернете: люди с набитыми заплечными мешками. Лежат в самых разных позах на снегу. Кровь.
                Разбитые лица. Перед смертью над ними издевалась. У всех трупов в мешках за плечами черемша. Та самая. В
                общем-то, ничего особенного. Так у нас выполняется указание президента.</p>
            <p class="article__remark"><a href="https://ria.ru/20100108/203435795.html" class="article__ref">ГОРКИ, 8
                    янв - РИА
                    Новости</a>.<br>Жесткая линия на методичное
                уничтожение бандитов на Северном Кавказе
                должна
                быть продолжена, заявил президент РФ Дмитрий Медведев.<br>
                "Нужно методично действовать "по всей поляне", если где-то появился след, значит, нужно искать их и
                уничтожать", - подчеркнул глава государства.<br>
                "Их нужно просто уничтожать, делать это жестко и делать это систематически, то есть регулярно, потому
                что, к сожалению, бандподполье еще существует", - сказал Медведев.</p>
            <p> Наш тандем, двухголовое чудовище, живёт и дышит в унисон. С той разницей, что чекист, в силу своей
                природной убогости, выразился короче: «Мочить их всех в сортире!». Юрист оформил эту же мысль уже более
                пышными словесами: «Уничтожать! Жёстко, систематически, регулярно. Методично действовать по всей
                поляне».</p>
            <p> Защитники родины, патриоты, только уже в униформе, с готовностью выполняют полученное указание. Поймав
                на поляне «несуна» с мешком черемши за спиной, профессионально потыкав его («несуна») штык-ножом,
                обезобразив лицо кованым сапогом, добивали несчастного очередью из автомата. Это милосердие по-русски.
            </p>
            <p> Фашисты, чтобы человек, которого захватили на поляне, подольше мучился, вешали его на телефонном проводе
                со стальными жилками. Так, чтобы жертва чуть-чуть доставала ногами до земли. Это нам в школе
                рассказывали. Для патриотического воспитания. Жертва, каждой клеточкой тела тянулась к земле, ища
                возможность ногами во что-то упереться. Чтобы ослабить удавку на шее… Чтобы глоток воздуха… Всей грудью.
                Итак – миг за мигом. Пока эти судорожные движения плавно не переходили в агонию. Изверги! Фашисты! Пусть
                ещё сто лет пройдёт после войны с ними, мы этого никогда им не забудем!</p>
            <p> Четыре трупа. Четыре тела. Сельские жители. Пошли за черемшой. Четверо чьих-то сыновей. А тут их наши
                сыновья подкараулили. Тандем из двух вундеркиндов, дал нашим разрешение мочить по всей поляне. Патриарх
                Кирилл благословил их на ратные подвиги. У того привычка такая: увидит автомат, автомат благословляет.
                Танк? Танк благословляет. Подводную лодку, ракеты, атомное оружие… Что ему, жалко, что ли? Он же всей
                душой за единую Россию. Опять же – положение обязывает. У него под рясой – штаны с лампасами,
                заправленные в хромовые сапоги. Правда, часы отечественные, «командирские», он не носит. Наверное,
                брезгует.</p>
            <p> На что мы рожали, этих сыновей? Голубоглазых, черноглазых. Чтобы они продолжали начатый кем-то охотничий
                сезон? Ну, с нами, с голубоглазыми, проще. С нами всё понятно: мы-то хоть защищаем интересы и незыблемые
                границы нашей родины. И саму эту родину. Она, как родилась у нас многострадальная, так многострадальная
                и мучается до сих пор. Заняв 1/6 часть суши, она постоянно, всё время своего существования отбивается от
                агрессивных соседей. Они всё лезут и лезут бессовестные. Со всех сторон. И на её размеры (1/6 часть
                суши) внимания не обращают. Ей-богу, спасу от них нет!</p>
            <p> А эти, что? Черноглазые? Они за что воюют? Родина может быть только одна. И она находится только у НАС –
                великая Россия. Второй родины быть не может! Или, немного иначе: у других родины быть не может. За что
                тогда вы воюете? Защищаете свои границы, которые вероломно нарушил враг? Так у вас нет границ. Это у НАС
                с вами есть граница. Это НАША граница! А если она наша, то мы с ней, что хотим, то и делаем. Хочешь, в
                ту сторону проехали на танках. Хочешь, в эту сторону. Наша граница на замке для врагов! Для нас она
                открыта в любую сторону. Охотничьи сафари для нас становятся любимым развлечением.</p>
            <p> А эти, черноглазые? Набили мешки черемшой (что же это всё-таки такое?) и к себе домой тащат! Они, видите
                ли, отделиться хотят от нас. Вместе со своей нефтью. И как это будет выглядеть? Вы подумали? В нашей
                стране, в рамках наших границ, кто-то будет жить лучше, чем мы сами? Вы полагаете, что это возможно?
                Чтобы это все видели, и нам глаза кололо? Если вы так думали, то это ваша ошибка. Мы не допустим, мы не
                допустим такого никогда! Для этого у вас, у власти, скажем, в Чечне, поставим такого же, как у нас
                национального лидера – выбля… Стоп! Что же я хотел? Что я хотел сказать?</p>
            <p> Да! Вспомнил! Повторяю: мы такого не допустим. Для этого поставим вам у власти такого же, как у нас
                лидера – вы бледнеете? Это с непривычки. Он вам потом понравится. Мы же к своему лидеру привыкли! Ну и
                что, что вы не русские и менталитет другой? Если будете хорошо себя вести, мы простим вам и такой
                недостаток. Вообще, причём тут национальность? Мы же милосердные. Только у нас чуточку терпения не
                хватает, когда в лесу вы собираете черемшу и хотите, чтобы мы на это не реагировали. Медведев дал
                установку, что действовать по всей поляне. «Нужно искать их и уничтожить».</p>
            <p> 65 лет прошло, как закончилась война с фашистскими оккупантами. Но в нас до сих пор подогревают
                ненависть к Германии. Когда душа полна ненависти, неважно на кого её выплёскивать. В нужный момент нам
                покажут. Ежегодные торжества по случаю дня Победы, с лицемерным показом ветеранов войны, зовут нас к
                новым подвигам, не забывая старых побед. Но Германия сразу же покаялась во всех своих злодеяниях.
                Военнопленным, находящимся у них в концлагерях, выплатила компенсацию. А мы, на всякий случай, ненавидим
                до сих пор. И помним. Помним и ненавидим.</p>
            <p> Сколько же будут помнить нас, и ненавидеть, лица кавказской национальности? В отличие от фашистских
                оккупантов, мы не собираемся ни в чём каяться. И ещё не состоялся суд над нашими военными преступниками.
                Эти упыри ещё не давились ампулой с цианистым калием. Они строят планы на будущее, восторженно
                рассказывают нам, как мы, за тщательно хранимой границей, хорошо будем жить.</p>
            <p> Опять, как встарь, дружной интернациональной семьёй? Погибших в Чечне уже не одна сотня тысяч. Две? Две
                с половиной? Каждая смерть – это трагедия и повод для ненависти. Обоснованной ненависти. И для тех, кто
                остался в живых, продолжающаяся жизнь в оккупации – это тоже трагедия. И повод для ненависти. Когда они
                нас простят? И смогут ли?</p>
            <p> Что такое смерть четверых мужчин, пошедших за черемшой, на фоне тысяч и тысяч уже убитых? Но ведь жалко!
                Жалко! Может, памятник поставить? «Всем, погибшим от рук российских оккупантов». Один на всех. Или: один
                за всех погибших? Пусть патриарх всея Руси придёт, посмотрит. Это он благословлял голубоглазых мальчиков
                и их оружие на подвиг во имя единой России. Зачем ему единая Россия? А чем больше приход – тем больше
                доход. И наоборот: чем меньше приход… Лучше бы он ограничил себя благословением олимпийских чебурашек.
                От этого, по крайней мере, ни проку людям, ни вреда.</p>
            <p> А голубоглазые мальчики, привыкшие к охотничьим сафари и вошедшие во вкус, теперь уже охотятся здесь, у
                себя дома, на своей родине. Не отходя от кассы, прямо в магазине. Стрельба по движущимся мишеням. Мы тут
                гадаем: откуда такое свалилось на нашу голову? А что, в Чечне можно было убивать безнаказанно? И нам, в
                России, это было безразлично? Теперь эта безнаказанность и желание убивать вернулось к нам, вместе с
                героическими защитниками родины. Если висит ружьё на стене – оно должно выстрелить. Особенно, если оно
                попало в хорошие руки.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>