<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Деревянный</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Деревянный</h1>
            <p> Уже понятно, что Путин окончательно проиграл, даже став заново президентом. Его выборы и первые шаги
                после выборов – агония. Путин – труп. </p>
            <p> Но народ-то остался! Тот самый народ, который был очарован Путиным. Который голосовал за Путина и
                который неимоверным усилием коллективного разума, после многолетнего правления чекиста, вдруг прозрел.
                Стая саранчи усмотрела корень всех зол в Путине: «Царь ненастоящий!» А куда вы раньше смотрели? Он с
                самого начала был ненастоящий. Но, ведь вы короновали его на царствие.</p>
            <p> Так в России «демократическим» путём появился очередной царёк. Гип-гип-ура новому царю! Всякий народ
                достоин своего правителя. Что? Царь, как с опозданием выяснилось, ненастоящий? А народ? Ведь народ-то,
                какой бы он ни был, всегда настоящий. Но русский народ - это притча во языцех, повод для высказывания
                самых противоположных мнений, от расплывчатой – героический народ, до сжатой, ёмкой формулировки –
                быдло. </p>
            <p> Мне очень нравится определение: <span class="article__accent">героический народ</span>. Так скромненько
                и со вкусом народ сам себя назвал
                героическим. Что, не народ сам себя назвал? Это его так назвали? Кто? – Руководство. А за что? – За
                проявленный героизм. В нашей жизни всегда есть место подвигу! И в мирное время, и в военное время.
                Убедительно звучит? Для дураков – да! </p>
            <p> Если не беречь собственный народ, относиться к нему наплевательски, выжимать из него все соки, то
                необходимо кроме кнута и удавки иметь ещё и пряник. Кнут и удавка – вещи сугубо материальные. А «пряник»
                - это моральное поощрение, идеологическая жвачка, брошенная стаду: пусть жуют. Во-первых: на еде можно
                сэкономить. Во-вторых: рот (и мозги) у великого русского героического народа будут заняты каким-то
                действием (пережевыванием).</p>
            <p> Идиллическая картина! Значит, перед нами стадо пасущихся мирных животных, периодически уделяющей
                внимание пережёвыванию жвачки? Как бы ни так! Обычно стадо пасёт пастух. А вот в России, в основном, у
                власти были укротители, безжалостные дрессировщики. Потому что других русский народ над собой не терпит.
            </p>
            <p> Что же это за народ, склонный к бессмысленному и беспощадному бунту, при этом всегда жаждущий твёрдой
                руки тирана? По этому вопросу не надо меня убеждать, что «умом Россию не понять, аршином общим не
                измерить». К простым вещам и подходить надо проще. То есть: это народ со своеобразным менталитетом,
                сложившийся из трёх основных качеств: зависть, ненависть и тупость. И не надо спорить, добавляя сюда
                слово терпимость. Мнимая терпимость русского народа вытекает из его бесчувствия. Деревянного
                бесчувствия. Начните рубить дерево. Оно не вскрикнет. И даже сок не сразу брызнет из раны. И соседнее
                дерево не начнёт возмущаться. Это естественно: чем примитивнее живое существо, тем оно бесчувственнее.
                Поэтому не надо путать терпимость и бесчувственность. Это разные вещи. А слово толерантность
                (терпимость) у нас, у русских, является ругательным. В него искусственно вкладывается негативный смысл.
            </p>
            <p> Бессмысленный и беспощадный русский бунт? Это пожар в лесу. Это когда тупое, злобное существо вырывается
                из-под твёрдой руки обожаемого безжалостного дрессировщика. И тогда горят, в первую очередь, сами
                деревья. Те самые бесчувственные деревья, чья зависть, ненависть и тупость породили пламя
                непримиримости. Как жалко, что нельзя сказать: «Зато потом, после пожара, вырастает новый лес!» Нет.
                После пожара климат на русской земле нисколько не меняется (те же зависть, ненависть и тупость). Поэтому
                на пепелище вырастают те же деревья, тот же лес.</p>
            <p> Так было всегда: и после октябрьского переворота, и после перестройки. И каждый раз, в пожаре,
                обязательно сгорают лучшие деревья (не ловите меня на слове – даже в карликовом лесу есть самые высокие
                деревья). Взамен лучших остаются полуобгоревшие изуродованные деревца, и прёт новая поросль. Но после
                каждого пожара поросль становится всё меньше росточком и всё более искорёженной. Видимо, изменения
                происходят уже на генном уровне. Деградация дегенератов – как бы обидно это ни звучало.</p>
            <p> И что же такое Путин на этом фоне? Да плоть от плоти своего народа. Он - такой как все, только обличён
                дополнительными полномочиями. Он Золушка, чьи мечты сбылись. Обиженный, опущенный пацан, который
                оказался у власти. Навёрстывая упущенное в детстве, он сейчас ездит на машинах с почётным эскортом,
                летает тушить пожары на самолёте, целует тигрицу, катается на танке, его опускают (теперь уже в
                батискафе) на самое дно. Там он отыскивает амфоры. Он решает: кого мочить, кого приблизить, кого
                поцеловать в пупик. Что общего между Литвиненко, Ходорковским и Pussy Riot? Путин им всем отомстил.
                Отомстил показательно для окружающих: «Кто нас обидит, тот трёх дней не проживёт!»</p>
            <p> Да это же мечта любого русского! Полная безнаказанность, полная безответственность и полное всесилие. Мы
                (все остальные) что-то подобное только в Чечне и немножко в Грузии пережили: грабь, убивай, тащи к себе
                трофеи. Да, советское время из русского человека сотворило нечто совсем невообразимое. И не дай Бог,
                если мечта русского человека сбудется! Тогда всем остальным места на Земле мало покажется. Зависть,
                ненависть и тупость - да уж, это не двигатель прогресса…</p>
            <p> Надеюсь, всё-таки, что планета Земля выживет. Почему? Наша империя потихонечку сдыхает. Мы как та змея,
                что пожирает себя с хвоста. Она давится от злобы и постоянного голода, поэтому норовит заглотить кусок
                побольше. Змея находится на таком примитивном уровне, что даже на боль собственной плоти не обращает
                внимания. Урвать кусок побольше – единственное, о чём она думает.</p>
            <p> Ладно, опять получается всё о грустном. Лучше я расскажу сказку: жили-были дед да баба. Была у них
                курочка Ряба. Снесла курочка яичко. Да не простое, а золотое. Дед бил, бил его – не разбил. Баба била,
                била его – не разбила. А мышка бежала, хвостиком махнула, яичко упало и разбилось. Какой вывод можно
                сделать, если яйцо разбилось с такой лёгкостью? Значит, во-первых: оно не было золотым. Слухи об этом
                яйце были сильно преувеличены. Во-вторых: серая мышка – была чекистом, с погонами подполковника. Страна
                у нас такая: назначили Брежнева на самый высокий пост, в расчёте на то, что он, серая мышь, недолго
                посидит в кресле, а потом туда достойного посадят. Так Брежнев и просидел до конца дней своих. Путина
                тоже, как серую мышку пропустили в Кремль. А вот ведь, задержался. И не на один срок.</p>
            <p> Так что это у нас за страна такая, которой может руководить любая серая мышь, дорвавшаяся до кресла? Кто
                населяет эту страну? По-моему, у серой мыши в беспрекословном подчинении могут быть только представители
                простейшего мира, типа безмозглой плесени. Тогда даже серой мышке не надо много стараний и ума, чтобы
                управлять таким населением.</p>
            <p> О великий героический русский народ под управлением серых мышей, которые никогда не дорастут даже до
                крыс, хотя крысятничают они по настоящему, как взрослые крысы. Ты никогда не сможешь стать Народом с
                большой буквы. Потому, что народ состоит из ЛЮДЕЙ, а не из завистливой, ненавидящей и тупой плесени. Но,
                к сожалению, рано радоваться тому, что империя Зла поедает себя. Вот сообщение из мира науки: «В 2003
                году под саркофагом Чернобыльской АЭС были обнаружены скопления черной плесени, которая питается
                радиацией. Она способна выжить даже в открытом космосе. И если произойдет глобальная катастрофа, и жизнь
                на Земле исчезнет, плесень выживет».</p>
            <p> Так что моя радость от приближения финиша для российской империи может оказаться преждевременной.
                Плесень очень живучая. Размножается в любых условиях и распространяется на всех доступных территориях.
                Плесень была, плесень есть, и плесень очень хочет есть. «И если произойдет глобальная катастрофа….» Не
                дай Бог, конечно. Но и тогда, по словам учёных, плесень выживет. Она найдёт себе очередного путина,
                которого потом будет проклинать, рвать на себе волосы, кричать, что царь опять не настоящий попался.</p>
            <p> Может зря я так агрессивно «наезжаю» на Россию? Внешне у нас полная идиллия: народ имеет достойного
                правителя, правитель имеет не менее достойный народ. Впрочем, подобные «наезды» мне простительны: сам-то
                я тоже из русских, из советских. То есть – тупой, ненавидящий и завистливый. Тупой – это образование,
                плюс воспитание. Завистливый – завидую тем, кто живёт не в России. Ненавидящий? Так русские все
                ненавидящие, от самого рождения.</p>
            <p> Только моя ненависть – вызов миру, в котором живём мы, русские. Я презираю его. Потому что этот мир –
                зло. И, к сожалению, я пропитан им. А если моя ненависть только ко ЗЛУ? Никто и никогда не убедит меня,
                что Бог любит сатану. По-моему, Бог его ненавидит. Если Бог есть Любовь, то не надо его в чём-то
                искусственно ограничивать, утверждая, что Бог и ненависть несовместимы. ОН вправе ненавидеть ЗЛО. И меня
                пусть никто не упрекает за ненависть к дорогим соотечественникам. Это я по малолетству думал, что во
                всём виноват Сталин. Потом решил, что ещё больше виноват Ленин. Потом я винил Путина. Сейчас понимаю,
                что виной всему народ, который всячески помогал, поддерживал, восхвалял этих людоедов.

            </p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>