<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дневник соотечественника | 2004</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Дневник соотечественника, 2004 год</h1>

            <section class="article__epigraph">
                <p class="article__epigraph-text">Не сидел я в собрании смеющихся,
                    <br>
                    И не веселился; под тяготеющею на
                    <br>
                    Мне рукою Твоею я сидел одиноко,
                    <br>
                    Ибо Ты исполнил меня негодования.
                    <br><br>
                    <span class="article__epigraph-author">Иер.15;17</span>
                </p>
            </section>

            <p><span class="article__subheading">4 сентября </span><br><br>

                Верующие люди иногда задают себе вопрос: эта ситуация «от Бога» или «от диавола»? У меня тоже
                возникали такие ситуации, когда хотелось спросить: от Бога ли это действует, или сатана подстроил?
                Однажды к нам домой пришла женщина со своей проблемой: мать ее не отпускает на встречу
                одноклассников. Одноклассникам уже по сорок лет, но мама против того, чтобы дочь посещала «собрания
                нечестивых». Все логично. А если там окажется нуждающийся и дочь расскажет ему о Боге, о своей жизни
                верующего человека? Еще одна душа будет спасена. Так эта ситуация от Бога или от диавола? Все
                зависит от человека, от его нравственного выбора, его поведения. От бога или от диавола дан мне
                совет, весьма уважаемым мною человеком, вести дневник, записывать свои мысли, давать оценки
                происходящим вокруг нас событиям. В нашей стране всегда было рискованно иметь свое мнение, тем более
                давать оценки. Я никогда не мог понять, почему мы с этим миримся. Кто-то интересно заметил: «Зимой
                красивые женщины впадают в спячку и только весной их можно увидеть на улице». Действительно, весной
                появляется столько очаровательных, соблазнительных женщин. Откуда-то же они берутся? Но меня больше
                интересует вопрос: куда девается наша интеллигенция, наши умнейшие, образованнейшие люди, после
                «оттепели»? Когда заканчивается это благодатное время, которое дает нам Бог, в надежде, что мы
                что-нибудь изменим. Часть их, со счастливыми лицами, с заранее приготовленными речами, получает
                награды из рук президента. При этом умилительно восторгаются походкой президента. Хотя, по правде,
                больше восторгаться, наверное, нечем. А остальные думающие люди? На кухне, подальше от «прослушек»,
                поближе к бутылочке с водочкой? Как мне недавно объяснили, они не хотят иметь ничего общего с этим
                электоратом, с этим народом, с этими «опойками». «Хотят Путина? Пусть они его имеют. Они его
                заслуживают. Плохо только, что Путин имеет нас всех». Такая вот незамысловатая игра слов. И
                подчеркнутая дистанция от народа. Снисхождение к народу. Эта мнимая оторванность от народа должна
                укреплять интеллигенцию на мысли: «А мы не такие». В период «заморозков» такая мысль согревает. Зато
                при «оттепели» снова все на улицу. Себя показать и других посмотреть. Немногие, как Сахаров,
                остаются самими собой. Но в силу их немногочисленности, судьба у них всегда трагична.</p>
            <p><span class="article__subheading">5 cентября</span><br><br>

                Как это трогательно!!! В Иркутске молодежь проведут акцию: отмечают День рождения Путина и отсылают ему
                открытки. Кроме поздравлений, там всеобщее пожелание, чтобы гарант Конституции остался на третий срок.
                Но, если он гарант Конституции, то, как он может остаться на третий срок, когда он имеет право только на
                два? К чему его призывают устами младенцев? Чтобы нарушил Конституцию? Или изменил ее? Но президент не
                может нарушить Конституцию. Остается только изменить, и то, потому что, ну, достали! Просят и просят
                «…идя навстречу пожеланиям трудящихся…». Как-то так получается, что всегда находятся те, кто просят.
                Нашлась медсестра, по инициативе которой раскрутили «дело врачей». Сколько людей тогда посадили?!
                Нашелся депутат в Думе, который подал запрос по «Юкосу». Посадили Ходорковского. Сейчас же находятся, то
                и дело, желающие чтобы Путин остался еще на один срок. Я не против нового срока Путину, но считаю, этот
                срок должен определить международный гаагский трибунал, как и югославскому президенту. За преступления
                против собственного народа. Ну, вот кажется мне так и все! Но пока солнце взойдет – роса очи выест. А
                как хочется исполнения слов Библии: «все тайное станет явным». Извечный вопрос: «доколе, Господи,
                нечестивые торжествовать будут?». Россия всегда шла своим путем.</p>
            <p>Нужно иметь неограниченную власть, полную вседозволенность, чтобы организовать такие шоу в нужное время,
                в нужном месте, с заранее известным эффектом. Дело врачей, дело Юкоса, правление Путина, война в Чечне.
                По большому счету, все эти ноги растут из одной задницы. Это наш советский менталитет.</p>
            <p><span class="article__subheading">2 октября</span><br><br>

                Фраза по телевизору: «…наш многострадальный народ…». Вспомнил сказку о дурачке: на улице праздник
                урожая. Люди везут и несут снопы, на телегах груды овощей. Шум, гам, веселье. Наш дурачок туда же.
                Только его не приняли. Вытолкали из веселящейся толпы, еще и пинка дали. В слезах он пришел домой к
                матери, жалуется. А мать говорит: «Тебе надо было закричать: хорошего вам урожая! Косить вам – не
                перекосить!». Что дурачок и сделал. Смотрит, на улице процессия. Он к ним навстречу со своим пожеланием.
                Оказалось, что это похороны. Побили его здорово. Жалуется он матушке. А она ему: « тебе надо было встать
                рядом, плакать и вопить». Так он и сделал в следующий раз. Но оказалось, что это была свадьба. Опять его
                побили. Был в Библии еще один человек, праведник. Бог допустил ему всякие испытания, чтобы показать его
                праведность и этим посрамить сатану. Так какой наш народ? Праведный, смиренно несущий свой крест? Или
                безмозглое стадо, отупевшее, равнодушное? Ждущее своего вождя и призыва: «К топору!». А уж тогда полетят
                головы у встречного, поперечного, у ближнего своего. Порушены будут храмы и распнут своего царя. Потом
                вроде очнутся, будут искать крайних, но кончится все тем, что президентом своим изберут представителя
                тех самых карательных органов, которые делали все для того, чтобы укрепить диктатуру пролетариата.
                Выберут его на один срок, потом, вне конкуренции и на второй. Народу нравится это: да, садят, да,
                расстреливают, но вот я не виноват и меня не трогают. Общество поделено на две части: большая часть –
                охранники или потенциальные охранники, меньшая – те, кто сидит или сядут. А может наоборот. В принципе
                это не важно. Но главное – все за стабильность в обществе: гарантированная трехразовая похлебка, у зеков
                и охранников; бесплатная медицина, там и там; бесплатное образование. Его получают на воле и в «зоне».
            </p>
            <p><span class="article__subheading">4 октября</span><br><br>

                Это ужасно. Ужасно. Лица людей с экрана телевизора. Все лгут с такими искренними лицами! Дикторы,
                комментаторы, политики… . Смотрю только «Евроньюс» и «21 век». На одном канале – новости, по другому –
                фильмы. Еще смотрю мультики. Где-то всплывает мысль: я сошел с ума? или все-таки нормальных людей в
                нашем обществе мало и я принадлежу к ним? Господи, как это можно? Что мы за люди? Мы твердим о защите
                Отечества, о том, что на нас всегда нападали. А мы, великомученики, защищали свою землю. А она все
                пухла, как раковая опухоль, пока не заняла одну шестую часть суши. Был персонаж из преданий: к чему бы
                он не прикасался – все становилось золотом. Мы тоже: к чему не прикоснемся – тому приносим несчастье,
                нищету и горе. Южная Корея, Северная Корея. Западная Германия, Восточная Германия. Одна страна, один
                народ, но те, кто попали под наше влияние – стали тоже как проклятые. А страны соцлагеря? Как настойчиво
                внушают ненависть ко всем. Настойчиво и почему-то успешно. Во всех анекдотах – наше превосходство, наше
                преимущество: над немцами, евреями, чукчами, татарами…. Продолжать можно до бесконечности. А тупые
                американцы? Ну тупые! Ну тупые! По-видимому, Задорнову приходится изо всех сил отрабатывать свою
                квартиру в элитном правительственном доме. Ну, или тем, кто заслужил. Старается человек: сеет в
                подготовленную почву. Алкаш, с поврежденным позвоночником, пьяный, с чужого балкона пытался попасть в
                свою квартиру. Свалился с четвертого этажа. Теперь инвалид. Так вот, говорит: «Ползком поползу, если
                надо будет. Я этих американцев зубами рвать буду». Я спрашиваю: «С чего ты взял, что они на нас
                нападут?» Ответ: «Да они нас давно сожрать хотят!» Может ли кто-нибудь из советских граждан, рядовых, я
                имею ввиду, позволить себе удовольствие получить в подарок слона? Представьте, вам подарили слона! Чем
                его кормить, ведь он столько съедает? Так вот, если американцам подарят Россию, то они откажутся! Эту
                ораву людей, то есть нас, которые по профессионализму, подготовке и уровню знаний отстают на 20-30 лет,
                надо будет прокормить. Работать мы умеем только на своем, устаревшем оборудовании. Значит, они поменять
                должны все оборудование нам на современное. Потом, обучить нас использовать это оборудование. А самое
                сложное – изменить нашу психику. Ведь большая часть из нас выросла и воспитана в соцлагере и некоторая
                часть – в «зоне». Нас всегда поощряли работать на одном энтузиазме, а мы работали по принципу: «вы
                делаете вид, что платите, а мы делаем вид, что работаем». Так что не надо Америке слона, даже в качестве
                подарка на Рождество. Даже они его не прокормят. А вы, истинные патриоты России, продолжайте «бухать»
                себе потихоньку и дальше. Копите в себе «души прекрасные порывы».</p>
            <p><span class="article__subheading">18 октября</span><br><br>

                Будто гора с плеч рухнула! Все эти дни не мог заставить продолжить записи. Прет из меня «чернуха». Пока
                я просто хожу, в мыслях все «пережевываю», вроде это не так заметно. А как попробовал заносить свои
                мысли на бумагу, самому стало еще противнее от такой жизни. Кто-то из мудрецов ходил с факелом и на все
                вопросы отвечал: «ищу человека». Днем с огнем. Для меня это тоже стало проблемой. Неужели для меня нет
                ни одной родственной души? Чувствовать себя отверженным, искать ответа на вопросы: «а может это у меня с
                головой не в порядке?». Как народ, считающий себя великим, допускает таких людей к власти? Как могла
                быть создана такая система, позволяющая приходить им к власти? Помногу раз перечитывал слова из Библии:
                «…сей праведник, живя между ними, ежедневно мучился в праведной душе, видя и слыша дела беззаконные».
                Все стало бы на свои места, если бы я счел себя праведником. Да не получается. Помню, как я плакал,
                кажется, в 4 классе, когда меня не приняли в пионеры. Даже Мишку Сухарева приняли! Я-то знал, что в то
                время покуривал он украдкой. В пионеры меня приняли только на следующий год. В комсомол вступил только
                перед армией. Все считал себя достойным. Хотя я был и юным другом пожарников – ЮДПД, и юным другом
                милиции – ЮДМ. Но комсомол для меня это было что-то серьезное, к чему я не был внутренне готов. В армии,
                на удивление, я стал комсоргом. Но в документе это нигде не отражено, потому что я влюбился в жену
                офицера, и не без, и не без взаимности. Ну и офицер, который заполнял мои документы на дембель, из
                чувства солидарности и поруганной офицерской чести, нигде не отметил, что я был комсоргом. В свою
                очередь, я тоже обиделся за это. Приехав, дембельнувшись, домой, я выбросил свой комсомольский билет. К
                тому времени я уже понял, что такое комсомол. Как говорится: поварился в самой гуще. Так что я все
                воспринимал искренне и непосредственно. В моей светлой голове не было никогда крамольных или
                диссидентских мыслей. Только когда грянула перестройка, как сейчас плюются на это слово многие, тогда я
                для себя много понял. До этого у меня было ощущение, как-будто вокруг меня снежинками летают
                разрозненные кусочки мозаики. А тут, через эту гласность, эти кусочки мозаики упали на землю и создали
                целостную картину мира, в котором мы живем. У соседей, которые уезжали в Германию, я выпросил Библию.
                Так для меня открылся иной мир. Так что гордиться мне своим прошлым не приходится. Наоборот, я его
                стесняюсь. Был обычным быдлом, советским человеком. Кто-то протестовал, противостоял этой организации,
                из которой вырос наш нынешний президент. А я вместе со всеми ободрял. Так что на праведника я явно не
                тяну. Почему я с радостью сегодня сел к своим запискам? Сегодня, впервые за длительное время, в
                программе РЕН ТВ «Неделя» показали и рассказали, что есть оппозиция Путину. «Комитет 08», то есть год
                избрания нового президента. Показали Новодворскую, Киселева. Значит, в этом болоте не только лягушки
                водятся, есть еще источники, родники. Не вся наша интеллигенция и думающие люди впадают в спячку до
                следующей «оттепели», или с протянутой рукой ждут очередной награды. «Это безводные источники…обещают
                свободу, будучи сами рабы тления; ибо кто кем побежден, тот тому и раб». Мудрый был Апостол Петр, а ведь
                до того как его призвал Иисус Христос, он был простым рыбаком. Вот что он говорит далее: «но с ними
                случается по пословице: пес возвращается на свою блевотину, и вымытая свинья идет валяться в грязи». Да,
                совсем забыл, в этой передаче рассказали о письме, которое отправили в посольство государства Катар. Там
                коллеги Путина, нет, они не президенты, но тоже чекисты, взорвали автомобиль. Провели
                антитеррористический теракт. Так вот, в этом письме была просьба к правительству Катара: расстрелять
                представителей российских спецслужб за проведенный террракт. Я с этим согласен. Почему в Германии
                «штази» распустили и многих или некоторых судили? А у нас по-путинскому телевидению гонят
                свежеиспеченные документальные и художественные фильмы о героической деятельности спецслужб на благо
                Отчизны. Воистину, глупый пес возвращается на свою блевотину.</p>

            <p><span class="article__subheading">22 октября</span><br><br>

                Интересный момент показали по телевидению. В фильме «Московская сага» показывают толпу новобранцев,
                отправляющихся на призывной пункт. Их ждет фронт, но пока они строем идут к ближайшему военкомату. Все
                они в гражданской одежде, со своими вещмешками, провожающие на ходу хватают новобранцев за руки. Внешне,
                те и другие не отличаются друг от друга, но, вот, на дороге обычная российская лужа. И строй
                новобранцев, не сбиваясь с шага, дружно шлепает по воде ботинками, сандалиями, какими-то обмотками.
                Провожающие, не связанные ни строем, ни какими-то обязательствами, обтекают эту лужу со всех сторон.
                Оказывается, строй – великая организующая сила. У «неорганизованного» человека есть возможность и время
                обдумать свой шаг. А если ты в строю… Выше ногу! Четче шаг!

                Поэтому, мы с удовольствием вливались в ряды Коммунистической партии, ходили дружно, колоннами на
                демонстрации. Даже на «зоне» передвигаются строем. Привычка. Идешь, вот так вот, вместе со всеми, не
                задумываясь, во что ты обут и когда тебя накормят. Идешь под команду по лужам, по головам, по черепам.
                На душе покой и чувство выполненного долга. Главное, не выпасть из этой обоймы. Затопчут, смешают с этой
                же грязью. Прекрасные, милые люди, они только что шли с тобой рядом, но ты тормознул, не захотел
                вступать в лужу. Или в грязь или на чей-то череп. Затопчут. Когда идешь со всеми в ногу, то себе
                оправдания искать не нужно.</p>
            <p><span class="article__subheading">24 октября</span><br><br>

                Для пострадавших в Беслане, конкретно одному из пасторов провели сбор пожертвований. Собрали.… Собрали
                всего тысячу рублей. Народу в церкви было человек сорок. Получается, что каждый из присутствующих
                пожертвовал стоимость трех булок хлеба. Это для семьи, где один ребенок погиб, а второму делали
                операцию, чтобы спасти хотя бы один глаз. На демонстрации памяти жертв Беслана сгоняли всех
                подневольных: суворовцев, школьников, студентов. Освободили их от занятий, преподавателей обязали
                обеспечить 100% явку. Лицемерие, показуха, ничего искреннего. Когда мы начали войну в Чечне,
                женщины-чеченки, потерявшие своих мужей, сыновей, братьев, от отчаяния, от невозможности что-то
                изменить, после выкрикивания перед телекамерами, организовали марш мира. Они шли по пыльным дорогам,
                несли плакаты, обращаясь к матерям российских парней: «прекратите войну в Чечне!». Глас вопиющего в
                пустыне. Кто их услышал? Сытый голодного не разумеет. Чем еще они могли привлечь внимание к себе, к
                своим проблемам? Они оставили плакаты и мысли о мире, надели пояса шахидов. Никто их не зомбировал, как
                это преподносят. Мы их сами довели до этого. Это акт отчаяния и безысходности. Мы забыли простую истину,
                кстати, восточную: «кто поссет ветер – пожнет бурю». Мы находились под очарованием питерского ковбоя,
                позвавшего всех к топору: «мочить террористов в сортире». Кажется, мы не только обмочились, но и по
                самые уши… . Когда я думаю о России, вспоминаю бога, который пожирал своих детей и змею, которая поедала
                сама себя с хвоста. Никакой ни к кому жалости, никакого ощущения боли. Что это? Амеба или раковая
                опухоль? Господи, Ты все видишь!</p>
            <p><span class="article__subheading">26 октября</span><br><br>

                Гераклит был гениален не только для своего времени. Как-будто это сказано про нас: «Невежество лучше
                скрывать, но это затруднительно при распущенности и за чашею вина». Невежество – это отсутствие знаний,
                культуры, вежливости и, наконец, просто отсутствие человеческих отношений между людьми. Пока мы жили в
                социалистическом лагере, нас со всех сторон подпирали какие-то ограничения, запреты, идеологические
                наставления. Когда рухнул «железный занавес», Берлинская стена и другие, сдерживающие нас барьеры, мы
                как не застывший бетон, без опалубки, потеряли заданную форму и стали тем, что мы есть на самом деле –
                кучей дерьма. Свободу мы приняли как вседозволенность и распущенность. А, по Гераклиту, при
                «распущенности и за чашею вина» лучше всего проявляется внутренняя сущность. Так что дело не в
                американских мультипликационных и художественных фильмах, которые нас растлили. Ведь у нас был такой же
                шанс развалить Америку сериалами «Вечный зов», «Угрюм-река», или мультиками серии «Ну, погоди!». Дело в
                том самом, внутреннем, содержании каждого отдельно взятого человека или всего государства в целом. Это
                или куча дерьма, сформированная всяческими запретами, или нечто самостоятельное, свободное, имеющее
                соответствующую культуру, где основная ценность – человек и его интересы.</p>
            <p><span class="article__subheading">3 ноября</span><br><br>

                Уже несколько дней сижу дома, нянчусь с собственной женой. У нее первый больничный лист за десять лет
                работы на этом предприятии. Даже когда она родила Надюшку, шесть лет назад, просидела дома, после родов,
                всего два месяца. Потом вышла на работу. Главный бухгалтер. В первые дни работы, когда она пыталась
                вывести предприятие из-под влияния мафии, нам подложили под дверь взрывчатку. Взрывом у всех на
                лестничной клетке выбило двери. Сколько мы тогда пережили! Никто не смог нам помочь: ни ФСБ, ни милиция,
                ни отдел по борьбе с организованной преступностью. Мы только молились. И тогда нас миновала чаша. Но,
                вот теперь, по истечению 10 лет, все возвращается на круги свои. Опять мафия, только сейчас с другой
                стороны. Закрываешь перед ней двери, а она оказывается, уже давно к тебе через окно залезла. В те давние
                времена новый директор птицефабрики сделал моей жене, еще старшему налоговому инспектору, предложение:
                стать у него на предприятии главным бухгалтером. Они легко нашли общий язык. У них была общая цель:
                предприятие, стоявшее на грани банкротства, сделать рентабельным. Это было бы чудом и чудо произошло.
                Когда об этом говорили с Олей, она отвечала: «Я молилась, и Бога мне помогал». На фоне полного развала и
                разрухи птицефабрика процветала. Медленно, но упорно она занимала новые позиции. О ней заговорили как о
                каком-то феномене. Оля улыбалась и говорила: «Это Божие благословение». Мне часто приходилось
                выслушивать о том, какой у них хороший директор, как он не боится брать на себя ответственность. Это был
                камешек в мой огород: я прослыл доморощенным, мягкотелым интеллигентом. Но, со временем, восторг стал
                угасать. Вначале появились жалобы, а потом, порой, и слезы. «Знаешь, сколько мне приходится, как
                главному бухгалтеру, побегать, пока я уговорю директора поднять зарплату рабочим? А как я канючу у него
                премию специалистам?». Я обычно пытался ее успокоить: «А тебе это нужно? Кто знает, как тебе достаются
                эти надбавки, премии? Эти же люди, о которых ты хлопочешь, пишут на тебя анонимки, что коттедж мы
                построили на ворованные деньги». Это была правда. Мы пережили три проверки по анонимкам. Слава Богу,
                только когда Олю выбирали в депутаты, она через газету объяснила, что на строительство коттеджа была
                взята ссуда, и что ссуда никакого отношения к предприятию не имеет. Только после этого, всегда бдящие
                советские люди, успокоились. Но Оля стыдила меня, что людей надо любить, что они имеют право на
                достойную зарплату, и что если им не платить, то они будут воровать. Эти дискуссии возобновлялись каждый
                месяц, или квартал. Но восторгов о директоре я слышал все меньше и меньше. Зато, вдруг, появилось
                недоумение: все чаще и чаще приходилось покупать корма, рыбную муку, шрот, витамины у каких-то фирм по
                завышенным ценам.</p>
            <p><span class="article__subheading">9 ноября</span><br><br>

                Сегодня мой день рождения. 54 года. Ждем весь день звонка со Свердловска. Должны позвонить с приемной
                председателя правительства Свердловской области. Оля и туда отправила письмо. Прокуратура, ФСБ,
                председатель правительства Воробьев: все поставлены в известность, что на птицефабрике «Рефтинская»
                играют в грязные игры. Не знаю, правильно ли я понял с Олиных слов ситуацию, но через год птицефабрику
                должны акционировать. Руководство автоматически должно смениться. Похоже, что директор решил за
                оставшееся время набить зоб. Так птицы делают. Наедятся впрок, чтобы потом легче было пережить голодные
                времена. Главбуха по-хорошему, пишу без иронии, несколько раз предупредили: «Не ваше дело, Ольга
                Николаевна». Но у Ольги Николаевны на этот счет свое мнение. Она искренне считает, что ее Бог поставил
                на это предприятие. И она отвечает за это предприятие и за этих людей перед Богом. Поэтому она не
                позволит его разворовывать. Не зря ведь ее директор шизофреничкой обозвал. Да, государству до этих людей
                дела нет! Оно только этим и занимается, что этих людей морит, гробит и обворовывает. Государство! Оно и
                людей-то воспитывало таких, в которых оно нуждалось. Это люди? Быдло! Четыре дня назад у Оли был день
                рождения. В прежние годы, в тот день она привозила с работы до полутора десятков букетов. В основном
                розы. Ей целовали ручку, в щечку. А в этот день рождения она была на больничном, и никто из главных
                специалистов ей не позвонил. Никто!!! После обеда ее поздравили из столовой птицефабрики. Привезли
                самодельный торт. Потом приезжали ее подчиненные. От всей души поздравили, и она воспрянула духом,
                смотрела на меня счастливыми глазами: «Я знала, я знала…». А на работе лежит приказ об ее увольнении.
                Как только она выходит с больничного, ее тем же числом уволят. Мы за нее только молимся. И не одна наша
                церковь. Что мы еще можем? Если все государство в лице прокуратуры, ФСБ или председателя правительства,
                проявит интерес к начинающемуся процессу на птицефабрике, мы будем считать это чудом – ответом на наши
                молитвы. Это мог сделать только Бог.</p>
            <p><span class="article__subheading">10 ноября</span><br><br>

                Молимся. Ситуация как в том случае: механический голос из телефонной трубки повторяет: «ждите ответа,
                ждите ответа…». С приемной председателя правительства, с ФСБ, везде одно - ждите, ждите. Действительно,
                кажется, Богу нужно от нас только одно качество – терпение. Олю жалко. Извелась вся. Больничный продлили
                еще почти на неделю. Врач спрашивает: «Что вы за преступница? У меня уже несколько раз брали вашу
                медицинскую карту, контролируют, как я вас лечу и ваше состояние». В нашем государстве всегда так было:
                полное беззаконие и уверенность в полной безнаказанности. Все схвачено, за все заплачено. Вообще, символ
                нашего государства – это высокий забор или каменная стена. Обычно вокруг правительственных дач и тюрем.
                А для обычных граждан – сетка или авоська, как мы их называли. Лет 15 назад все знали эту плетеную сумку
                для продуктов. Ее главное достоинство заключалось в том, что любая покупка, брошенная в сетку, была
                доступна для всеобщего обозрения. Счастливое было время для спецслужб, стукачей и милиции. Поэтому у нас
                до сих пор с неприязнью относятся к машинам с затемненными стеклами. Ностальгия по прозрачному прошлому.
                У нас не было никаких врачебных тайн, наверняка, врачи об этом понятия не имели. Ребенку на улице
                обязательно расскажут, что он в семье не родной. «Спидоносцы» - тема для обсуждения кумушек на лавочке.
                С одной стороны – никаких тайн не должно быть в жизни обывателя. Телефоны прослушиваются, письма
                вскрываются. С другой стороны, государство засекречивает все подряд. Однажды, замерзнув в своей
                квартире, я попытался узнать, какая должна быть температура в комнате. Я звонил в ЖКО, в больницу, в
                профком, наконец, в справочную. Мне нигде не могли ответить! Это мелочи, а по крупному у нас целые
                города засекреченные.</p>
            <p><span class="article__subheading">12 ноября</span><br><br>

                Молимся. Ждем ответа. Чаще всего, когда человек молится, он чего-то просит, чего-то ожидает, на что-то
                надеется. У меня молитва бессилия. Да, я просил Бога о разрешении этой проблемы, ожидал изменений,
                надеялся на чудо, потому что только чудом Божьим в нашем государстве может восторжествовать
                справедливость и победить правда. Но чудо не происходит. Это ни потому, что Бог не слышит меня. В свое
                время Бог создал совершенный мир. Но за грехи людей была проклята земля, вся земля. На ней потомки Адама
                продолжали грешить. Только где-то меньше, где-то больше. Насколько же проклята наша земля – Россия? И
                Бог, даже по своей любви и милости, не может каждому нуждающемуся и страждущему сотворить чудо. Если это
                произойдет, каждый просящий в полной мере получит то, чего он вымаливал, тогда, значит, мы в раю, в
                стране исполненных желаний. Как так?! Мы строили, всячески помогали создавать этот ад, государство без
                Бога. Теперь, находясь в этой выгребной яме, мы молимся, чтобы это дерьмо отступило от нас, сохраняло по
                отношению к нам дистанцию. Но мы уже пропитались этим дерьмом, сами стали составной частью этого дерьма.
                А просим Бога о помощи. Но Бог не может каждого из нас вынуть из этой погребной ямы и обтереть. Вернее
                может, но это будет массовое чудо. В Ветхом Завете евреи решили жить в государстве, в котором правил бы
                не Бог, через своих избранных людей, а царь. Этим они отошли от Бога, создали государство под
                управлением царя. Мы пошли еще дальше – создали государства без Бога и без царя. А теперь, как на том
                экзамене в кулинарном техникуме: «Что приготовили – то и ешьте». Поэтому я молюсь, чувствуя бессилие
                своей молитвы. Что мы приготовили, тем и живем. Господи! Может нас за это уже, и наказывать не надо?
                Прости нас, ибо и так мы наказаны своей жизнью в этом государстве.</p>
            <p><span class="article__subheading">17 ноября</span><br><br>

                Вот и закончилась идиллия. Начался соцреализм. По просочившимся сведениям стало известно, что
                председатель правительства, уважаемый Ольгой Николаевной, товарищ Воробьев, приезжал для встречи с
                директором птицефабрики. Больше никакой информации. Если это правда, то нетрудно предположить все
                остальное. Главный отсюда вывод: все это звенья одной цепи. Дурдом, самый настоящий сумасшедший дом. Мы
                в полной изоляции. Можно кидаться в любую сторону, но все вокруг оббито мягкими матами. Все бесполезно.
                Хуже будет, если нас сочтут «буйными». Тогда одной изоляцией дело не обойдется. Эти люди способны на
                все. Помоги нам, Господи! По телевизору идет сериал «Кодекс чести». Не смотрю принципиально. Кодекс у
                нас есть. В частности, уголовный. Нам это вдалбливают с детства, теми же фильмами. А вот честь.… В нашем
                обществе говорить о чести?! Не поленился, взял советский энциклопедический словарь. Нет там такого
                слова! Да и откуда?! Как Чехов вытравливал из себя раба, капля за каплей, так из нас, из поколения в
                поколение, капля за каплей, выдалбливают понятие о чести. А уже самой чести и в помине нет! По словарю
                Даля, честь это достоинство, честность, благородство и чистая совесть. Может кто-то претендует на эти
                качества? Отзовитесь. Пусть покажет свое достоинство перед представителем власти: перед ментом,
                чиновником, чекистом. Ах да, я же опять должен объяснить смысл слова «достоинство». Это нужно смотреть
                словарь Даля. В советской макулатуре такого слова нет. В нашем сознании его тоже нет. Ум, совесть и
                честь. Эх вы, люди.… Никак не могу повторить с чистым сердцем слова Иисуса Христа: «Прости им, Господи!
                Ибо они не ведают, что творят». Это правда, что не ведают?</p>
            <p><span class="article__subheading">19 ноября</span><br><br>

                Тащусь по улице с двумя сумками. В них растолканы документы, из которых следует, что на птицефабрике, в
                течение последнего года, необоснованные переплаты каждый месяц составляют миллион рублей. Миллион это
                много или мало? Оказывается цифры, сами по себе, ни о чем не говорят. До получки остается неделя. Вот,
                если бы занять 500 рублей у кого-нибудь, чтобы дотянуть до этой самой получки. Занял, но не 500, а даже
                1000. Много это или мало? Для данной ситуации это много. А миллион каждый месяц? Лично нам показалось
                много. Поэтому все документы, подтверждающие Олину правоту, мы прячем у других людей. У нас это
                запросто: влетают маски-шоу, накаченные, простые советские парни, тебя мордой в грязь, руки за голову,
                изымают все подряд. На такой случай Оля хранит документы у чужих людей. Копии отослала в прокуратуру, в
                ФСБ, обратилась за помощью к министру сельского хозяйства Чемезову, к председателю правительства
                Свердловской области. Мы думали, на нас «наедут», будут выколачивать документы. Да никто, кроме нас,
                даже не вздрогнул! Слухи о том, что Воробье приезжал к нам, на Рефтинский, оказались только слухами,
                ничем не подтвержденными. Но факт, что за две недели, он никак не отреагировал на Олино письмо, где она
                просила помощи, утверждая, что птицефабрику разворовывают. Так что мы, нафиг, оказались никому не
                нужными. Просто жену уволили, по статье, с работы. За последние полтора месяца «наскребли» 3 выговора.
                Никто нам не выламывал руки, не подкладывал взрывчатку под двери. Все обошлось Олиным сердечным
                приступом. Хотя все, может быть, еще впереди. А пока, я переношу эти бумаги с квартиры на квартиру.
                «Доколе, Господи, нечестивые торжествовать будут?».</p>
            <p><span class="article__subheading">8 декабря</span><br><br>

                Как долго я не брал эту тетрадь в руки! По разным соображениям я решил подстраховаться и отдал эти
                записи, чтобы их отпечатали, и я мог хранить их на дискете. Теперь о новостях: их просто нет. В этом
                государстве опасно «тырить по мелочи», то есть если ты украл кошелек, то тебя посадят. Или если тебя
                задержат на проходной, когда ты выносишь «цветмет». Но если ты не рядовой карманник и не одиночка-несун,
                а работаешь в стае шакалов и твоя «крыша» Шерхан, то можешь быть спокоен. Пока все идет нормально – тебя
                не отдадут. Вначале мы считали дни в надежде, что справедливость восторжествует. Потом недели, похоже,
                что счет уже пошел на месяца. Результат нулевой. А ведь у Оли было единственное желание – не дать
                разворовать птицефабрику. Что мы имеем сейчас? Ее уволили по статье с работы, дочку вытурили из детского
                садика, поскольку садик ведомственный. Жена старшего сына уволилась сама – все равно уволят. Может тоже
                по статье. Зачем дожидаться? Но когда их семья, с Олиной подачи, решила продать свою квартиру в новом
                элитном доме, чтобы погасить кредиты в банке, директор птицефабрики и тут показал свою власть. Этот дом
                строила птицефабрика и по указанию директора ее может купить только кто-нибудь с птицефабрики, и по
                цене, которую назначает директор. Иначе документы на квартиру птицефабрика не выдаст. Мы, оказавшись в
                безвыходном положении, вынуждены были согласиться с заниженной ценой. Нам тут же предъявили счет на 200
                тысяч, который мы должны оплатить дополнительно птицефабрике. Это был явный шантаж или вымогательство,
                как угодно. Нам оставалось только соглашаться. Когда мы пришли уплатить эти 200 тысяч и забрать
                документы, нам заявили, что мы должны еще 400 тысяч уплатить и что это не окончательная цифра. В одной
                из телепередач Вахтанг Кикабидзе рассказал анекдот: «Могучий орел схватил когтями барана и взмыл вверх.
                Пастух из своей винтовки стреляет и орел падает. А баран… Баран полетел дальше. Так выпьем за то, чтобы
                орлы не падали, а бараны не летали!». Почему в нашем государстве устроено так, что орлы падают, а бараны
                летают? В свое время, для местной газеты, я написал статью «Евангелие от Павки». Речь шла о Павке
                Корчагине. Наш герой, наш пример, наш кумир. Стараясь беспристрастно проанализировать текст книги «Как
                закалялась сталь», я показал, что Павка был человеконенавистником. Всю жизнь им двигала ненависть.
                Импотент, сын кухарки решил переделать мир, который он ненавидел. В ответ на мою статью я получил письмо
                от одного из читателей газеты. Он восхищался и прославлял гениальность Ленина, который дал возможность
                управлять государством кухаркиным детям. Зачем? Я не могу понять, а зачем было нужно истреблять всю
                аристократию, элиту общества, лучших в своем роде, чтобы затем на эти места поставить детей
                опойков-алкашей, кухаркиных сыновей? Зачем эта ротация? Да, весной мы копаем огород, перелопачиваем,
                переворачиваем почву для лучшего урожая. Но если продолжать такое сравнение, то теперь надо копать еще
                глубже: то есть теперь к власти надо привести пациентов из сумасшедшего дома. Вот это будет ротация! Вот
                это будет урожай! Письмо почитателя Ленина заканчивалось гневным предупреждением: «А Павку мы вам не
                отдадим!». Я бы с радостью хотел бы ответить: «А нам и не надо, оставьте его себе». Но здесь все намного
                сложнее. Павка принадлежит всем, только потому, что он живет в каждом из нас. Это как СПИД. Ты только
                родился, а уже больной. Ну кого могли породить кухаркины дети? Аристократию – власть лучших?
                Принадлежность к низшим слоям общества, как проклятие передается из рода в род. Особенно если нет высших
                слоев – истинной элиты. Библия говорит, что земля не может носить раба, возомнившего себя царем, и
                рабыню, возомнившую себя госпожой. Так что за Павку можно не бояться: к сожалению, в той или иной мере,
                он принадлежит каждому, потому что он частичка каждого из нас. Теперь понятно, почему наше государство
                так быстро разворовали? Потому что кухаркины дети всегда голодны, независимо от поста, который они
                занимают. У нас это в крови: стянуть горбушку со стола, которая побольше, и ходу! Поэтому по-своему
                правы работяги, которые считают, что все начальники – жулики. Проблема в том, что работяги такие же
                жулики. Только у них нет возможности «хапать» помногу, как у начальства. Отсюда это массовое явление,
                которое имеет даже свое название – «несуны». Прав был юморист, пошутивший, что мы самая выносливая
                нация. Выносим все, что можно, хотя, что в этом нового? Еще Гераклит сказал, что «лучшие (аристократия –
                власть лучших) предпочитает одно всему – оставить после себя добрую долгую память. Толпа же набивает
                свое брюхо подобно скоту». Ему еще повезло! Он не дожил до наших дней, когда орлы падают, а бараны
                летают. А шакалы, возле Шерхана, исполняют его волю и формируют общественное мнение.</p>
            <p><span class="article__subheading">10 декабря</span><br><br>

                Вспомнил еще один момент по моей статье «Евангелие от Павки». В самом названии статьи я постарался
                подчеркнуть противоестественность, абсурдность самой книги «Как закалялась сталь». Ведь слово
                «евангелие» в переводе означает «благая весть». Добрая, радостная весть. О чем? О любви. О том, что Бог
                нас любит. О том, что мы должны любить Его, что мы должны любить ближнего своего. И только через это мы
                будем спасены. А Павка исповедовал ненависть. Ненависть и насилие. Это и есть благая весть от Павки. Но,
                чтобы понять это, нужно читать Библию. Ну а мы…. Мы читали классиков марксизма-ленинизма, материалы
                очередных съездов, «Малую Землю». Именно это отличие советских людей послужило поводом для обострения
                конфликта между Олей и директором. Когда она, в очередной раз, подошла к нему с вопросом: «Почему мы
                опять переплачиваем посредникам, ведь у нас есть предложения по более низким ценам?». Он ей ответил, что
                видимо они не сработаются и ей лучше уйти по собственному желанию. На что они, как верующий человек,
                ответила: «Не вами я сюда поставлена – не вам меня и убирать». То есть на все воля Господня. В Библии
                есть эпизод, когда Иисус стоит перед прокуратором Пилатом. И, в ответ на гнев Пилата: «Почему молчишь?
                Не знаешь, что я имею власть над Тобой?», Иисус ответил: «Ты бы не имел надо Мной никакой власти, если
                бы не было дано тебе свыше». То есть на все воля Божья. Но откуда советским людям знать Библию? И
                директор показал, кто в доме хозяин. Он есть царь и бог. Уволил по статье за систематическое
                неисполнение должностных обязанностей. Совмещала должности заместителя директора по финансам, главного
                бухгалтера и начальника планового отдела. И при этом она получала только треть от оклада директора. С
                какой именно должностью она не справлялась, из этих трех? Зато, какое удовлетворение, наверное, испытал
                директор: «Может, и Бог тебя устроил на птицефабрику, но уволил тебя по статье я!». Как тут не вспомнишь
                Павку Корчагина, который в отместку попу, на Пасху, в тесто махорки насыпал. Ну, где твой Бог?! Сегодня
                вечером вышел во двор, а там валяются две дохлые, мороженые крысы. Скорее всего, пацаны пошутили, но
                сразу пришла мысль: «Похоже, что из вип-персон, из неприкосновенных, общественность нас переводит в
                касту «неприкасаемых». Хотя знаю, что многие нам сочувствуют, верующие за нас молятся, но все равно на
                душе жутко. Полное бессилие и бесправие. Рад за хохлов на Украине. Какие молодцы! Ведь сумели
                опротестовать результаты голосования! Путин им такую честь оказал перед выборами. В течение месяца
                дважды на Украину приезжал, а они не смогли правильно проголосовать. Поехали с дочкой в музыкальную
                школу на вечернее занятие, водитель вслух недоумевает: «Откуда столько гаишников понагнали? Наверное,
                что-то случилось». Я ему объяснил: «У директора птицефабрики день рождения. Отмечают в местном Дворце
                культуры». Счастливый был Маяковский, если верил своим словам: «Моя милиция меня бережет!». Теперь моя
                милиция бережет не меня. Я ее сам берегусь.</p>
            <p><span class="article__subheading">19 декабря</span><br><br>

                Кажется, я просто отупел. У меня нет сил возмущаться, анализировать, думать. Я боюсь нового дня, боюсь
                телефонных звонков. Все это несет только новые неприятности. Нет, конечно, нам звонят и просто так, и
                выражают сочувствие, и заинтересованные люди и те, случайные знакомые, которых мы уже не помним. Но я
                при каждом звонке напрягаюсь, жду неприятностей. Я помню сдавленное Олино рыдание за закрытыми дверями
                после некоторых телефонных звонков. Свое бешенство и бессилие. Только сейчас я приблизился к пониманию
                тех людей, которые проживали в этом государстве, в напряжении ожидали от него самого наихудшего: смерть
                в результате «несчастного случая», арест, обыск, суд. Миллионы людей в нашем государстве прошли через
                это. И каждый заново, впервые открывал для себя это: страх и бессилие. С тобой могут сделать все, что
                угодно: подкинуть оружие, наркотики, украсть ребенка. Я дал согласие на публикацию этих записей в
                местной газете. Вся газета держалась на энтузиазме одной семьи: Романа и Ларисы Топорковых. Первого
                редактора этой газеты застрелили. Выстрел из обреза в спину. Все знают, кто «заказал» редактора, но
                следствие зашло в тупик, как всегда в таких случаях. Роман и Лариса (ирония судьбы – тоже Топорковы) –
                молодые люди, милые, порядочные. Господи! Дай силы выжить в этом государстве. Так вот, они уезжают из
                нашего поселка. И, кажется, напоследок, решили «хлопнуть дверью». В последних двух номерах газеты
                опубликуют мой дневник. Это будет двадцать третьего и тридцатого декабря. Не берусь даже предполагать
                результата этой нашей совместной акции: от полного игнорирования до…. До чего, интересно? Время покажет.
                «… лучше захотел страдать с народом Божьим,… не убоявшись гнева царского» Да, мне бы такую веру, как у
                Моисея!</p>
            <p><span class="article__subheading">21 декабря</span><br><br>

                Знаю, мне могут возразить, что среди «кухаркиных детей» были выдающиеся личности, которые, занимая
                определенные должности, достигли фантастических успехов. Я согласен с этим. У Оли, в доме очень много
                цветов, наверное, более семидесяти растений. Она с ними возится как с малыми детьми: одни она ставит на
                солнышко, другие в тень, эти на северную сторону дома, а эти на южную. Лишь немногие цветы относятся
                безразлично к тому, куда их поставят и как поставят. Такие цветы Оля любит за их неприхотливость. Какое
                же было наше удивление, когда, при поездке в Египет, мы увидели, что наш самый неприхотливый цветок –
                это всего-навсего сорняк, который здесь растет везде и всюду. Посади сорняк в цветочный горшок, обеспечь
                ему полив, уход, питание. Так он так попрет! Вот и поперли кухаркины дети. Парадокс заключается в том,
                что лидером, руководителем может быть далеко не каждый. Мягкий, интеллигентный человек, вольно или
                невольно, исполняет слова из Библии: «Как хотите, чтобы с вами поступали люди, так и вы поступайте с
                людьми». Действительно, интеллигентный человек в подчиненном видит, в первую очередь, человека. Но такая
                позиция может мешать интересам дела, предприятия. Истинный лидер всегда внутренне настроен на выполнение
                своей основной задачи. И для достижения цели ему, порой, приходится поступаться нравственными
                ценностями, делая свой выбор. У кухаркиных детей здесь нравственных проблем не существует. У них
                установка – выполнение плана, достижение цели в любом случае и любыми средствами. Чья-то голова или
                чей-то череп – это только кочка или даже трамплин для дальнейшего продвижения. Так что я вынужден
                согласиться с тем, что кухаркины дети порой достигают известных успехов. Сорняк в цветочном горшке, не
                имеющий нравственных принципов. Вот и весь парадокс. В популярной детской сказке Пушкина о царе Султане,
                три девицы мечтали стать царицей: одна была ткачиха, другая повариха, а третья… пообещала для
                батюшки-царя родить богатыря. Каждая из них была направлена по своей профориентации: ткачиха – ткать,
                повариха – на кухню. Ну не годились они царствовать. Все-таки каждому – свое. А государством руководить
                должны лучшие, а не кухаркины дети. Мудрейший из людей, Екклесиаст, его размышления записаны в Библии,
                сказал: «Благо тебе, земля, когда царь у тебя из благородного рода!»</p>
            <p><span class="article__subheading">24 декабря</span><br><br>

                Выходя из своего дома, я вынужден постоянно проходить между двумя трехэтажками. Эти здания, торцами,
                почти прилеплены друг к другу. Между ними узкий проход, коридор шириной метра два. Неприятное место:
                во-первых, там всегда сквозняк, а во-вторых, запах мочи. Сегодня, когда я, казалось бы, благополучно
                миновал это место, всей грудью приготовился вдохнуть свежий воздух, что-то вдруг ухнуло у моих ног, и я
                оказался весь покрытый облаком снега. Я хожу в очках, но никогда не надеваю шапку и шарф. Не берусь
                говорить о своих ощущениях. Когда я проморгался, вытер очки, увидел впереди, немного в стороне, женщину
                в теплой куртке или фуфайке. Широко, по-хозяйски расставив ноги, она начала что-то кричать туда, на
                крышу, человеку с лопатой. Меня она совершенно игнорировала. В упор не видела. Если бы она сделала три
                шага в сторону, то смогла бы просматривать проход между домами насквозь и вовремя вспугнуть зеваку,
                который только себе под ноги и смотрит. Вот тут меня, как Ньютона, которому на голову упало яблоко,
                осенило. Почему она, как я вначале подумал, должна передо мной извиняться? Ведь она, как наше
                государство, делала дело. Для людей. Чтобы растаявший снег, водичкой, через крышу, не потек кому-то в
                квартире за шиворот. Что тут главное? Дело! Сделанное дело. Или выполненный план. Или решение
                поставленной задачи. Или борьба за урожай, или с непогодой. Или с терроризмом. Это все, конечно, ради
                людей делается. Но вот, что лично мне обидно: у меня не поднялось почему-то настроение оттого, что с
                крыши сбросили снег, оттого, что план у нас всегда выполнялся на 104,5%, оттого, что в эти, последние
                годы, при Путине, количество проживающих за чертой нищеты резко сократилось. Вроде все это дело делалось
                для людей, и вроде для меня, но лучше мне, ни с какой стороны, не стало. Хуже стало, это точно, от
                борьбы с терроризмом. После того, как ее объявили, у меня появилась возможность стать жертвой
                терроризма, это раз. Стать жертвой при проведении антитеррористической операции – это два. И, вдобавок,
                я вынужден жить в государстве, которое, для моей пользы, борясь с терроризмом, имеет желание ограничить
                меня во всем. Главное у нас – это делать дело. Этим заняты все. В том числе и прокуратура. Ну, а если
                кто попадет под снег, который сбрасывают с крыши, или просто под горячую руку…. Когда дело делают, то
                есть, когда лес рубят – щепки летят. Вывод странный – больше дел, больше дров. Хотелось бы, но на закон
                всемирного тяготения это не похоже. Может потому, что Ньютону яблоко все-таки упало прямо на голову.
                Только что Оля позвонила со Свердловска. В свое время ее неприятности начались с того, что она поставила
                в известность своего директора о том, что она птицефабрика переплачивает значительные суммы посредникам.
                Директор предложил ей уволиться. Оля поехала «за справедливостью» к министру сельского хозяйства
                Свердловской области Чемезову. Тот никак не отреагировал. Зато, когда, после Олиной поездки, Топорков
                обратился к нему за разрешением уволить строптивого главбуха, министр дал согласие. Оля обратилась не в
                суд, а к председателю правительства области. Отправила ему три письма, поскольку попасть на прием не
                смогла. После этого, тот отправил ее к своему заму Шимановскому с просьбой разобраться. Тот ее отправил
                к своему заму. А тот, в свою очередь, поручил это дело еще кому-то. И, вот сегодня, по прошествии
                полутора месяцев, когда все сроки подачи заявления в суд истекли, вот этот четвертый зам извинился, что
                сделать ничего не может, и посоветовал решить проблему, непосредственно обратившись к… Топоркову и
                Чемезову! Я поражен, эти люди наверняка не знают Библии, но как-то интуитивно живут, по словам
                Екклесиаста: «И все возвращается на круги своя». Сегодня, на большом семейном совете попробую уговорить
                Олю и Олега с женой, чтобы они не препятствовали мне провести голодовку. А что еще можно сделать? Что я
                еще могу? По состоянию здоровья, я уже почти два года не работаю. Микроинсульт и артроз. С трудом
                пользуюсь головой и ногами. Если удастся привлечь внимание к этой ситуации, то может что-то изменится.
                Обращусь к русскоязычным церквям в Америке, в Германии. Через Интернет это несложно. Пусть поддержат
                молитвою. Может эта огласка как-то нам поможет. У меня сложилось мнение, что за рубежом не о деле
                заботятся, а о человеке. Сегодня во всем мире встречают Рождество Христово.</p>
            <p><span class="article__subheading">25 декабря</span><br><br>

                На большом семейном совете я убедил всех в целесообразности демонстративной голодовки. Оля берет пост на
                несколько дней перед Новым Годом, в мою поддержку. Я начну голодовку после Нового Года. В ближайший
                четверг, это кажется 29 числа в местной газете выйдет вторая часть дневника. Первая вышла в прошлый
                четверг. В ней были записи до Олиного увольнения. Вторая часть – об Олином увольнении. И с извещением о
                моей голодовке.</p>
            <p><span class="article__subheading">28 декабря</span><br><br>

                Ну вот, слава Богу, Ющенко победил! Выборы на Украине закончились. И Путин два раза на Украину приезжал.
                Наверное, делился опытом, как проводить выборы. У него опыт богатый. Похоже, что все шло в начале по
                сценарию. И первый тур, и второй. И Ющенко вовремя что-то съел. Тоже, наверно, согласно разработанному
                кем-то сценарию. За рубежом на уши все стали – нет такого яда, или им, во всяком случае, не известен. А
                дальше пошел сплошной для нас «облом»: Ющенко проявил инициативу и самостоятельность – выжил и
                кандидатуру свою не снял; а потом, того хуже – украинский народ проявил инициативу и самостоятельность.
                Видимо, обиделись за паром, на открытие которого приезжал Путин. Путин уехал, а паром не работает.
                Россия в глазах всего мира выглядит, как мой сосед по подъезду: все время пьяный, совершенно
                непредсказуемый, всегда старается завязать драку. Но … его все боятся. Он говорит, что с Афгана привез
                гранату. Но что с этого придурка возьмешь? Придешь его успокаивать, а он возьмет да рванет! Вот и
                куражится человек, требует уважения. Когда в Грузии началась «бархатная революция», всевозможные
                телекомментаторы взахлеб объясняли, что: «Все как в Югославии происходит». И, понятно, что за этим стоит
                Америка. Да, конечно, Америка. Потому что все это уже было, еще в начале перестройки, в той же Грузии,
                во время попытки переворота. Российские солдаты, защитники Родины, саперными лопатками рубили участников
                демонстрации в Тбилиси. Вот это не по американскому сценарию, это по нашему, по советскому. А если без
                крови, мирно, «бархатная революция», то за этим стоит Америка. Понятно, что на Украине все тоже по
                американскому сценарию произошло. И слава Богу! Обошлись без крови.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>