<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дневник соотечественника | 2012</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Дневник соотечественника, 2012 год</h1>


            <p><span class="article__subheading">25 января</span><br><br>

                Что делать, или, вернее, как можно жить в окружении врагов? Нет, я не о том случае, когда тебя могут
                взять в плен и единственный выход – броситься под танк с гранатой. И не о том, как Путин проходил
                практику в Германии. И не о подвигах в США Анки-пулемётчицы, по фамилии Чапман. Нет. А вот, как живётся
                простому человеку в родном государстве? Это интересно? Можно, я о себе, на своём примере? Ведь
                дневник-то мой. О ком хочу, о чём хочу – о том и пишу.</p>
            <p>Этим летом на теплотрассе, вернее, на ответвлении ведущей к нам в дом, я заметил капельную течь. Но,
                огородные дела, нехватка времени заставили отложить проблему на потом. Так же прошла и осень; а зимой я
                обнаружил под трубами сосульку. Она внушительно свисала с теплоизоляции. Ну, вот: надо опять обращаться
                в ЖКХ.</p>
            <p>Я уже несколько раз обращался к ним с подобными проблемами, но меня всегда благополучно отшивали.
                Поэтому, я сам в морозы восстанавливал на трубах теплоизоляцию, раздербаненную мальчишками. Они летом
                бегали по трубам, играя в догонялки. Из-за полного бездействия ЖКХ, мне приходилось обращаться к соседу,
                и он помогал со сваркой, когда нужно было устранить образовавшуюся течь.</p>
            <p>Но когда об этом узнал директор птицефабрики, то он уволил моего соседа. Чтоб ни кому неповадно было
                поддерживать нашу семью. А сосед помогал-то мне потому, что имел несчастье проложить к себе теплотрассу
                от моего дома. И когда, в случае течи, я перекрывал свою теплотрассу, он тоже оставался без тепла. Вот
                он мне и помогал на свою голову, не думая о реакции со стороны директора. Мы живём в море ненависти, где
                добро и порядочность ставят в вину, где так легко стать врагом или нажить себе врага.</p>
            <p>Но появившуюся новую течь всё-таки надо устранять. После длительных переговоров ко мне из ЖКХ были
                направлены специалисты. Они, осмотрев место происшествия, заявили, что течь на территории двора они не
                будут устранять: вот если б течь была на улице…. И ушли. А кто ж будет устранять во дворе? Пришлось
                снова звонить главному инженеру и договариваться. Не прошло и несколько дней, как специалисты появились.
                По быстрому сняв с трубы теплоизоляцию, они сели ждать мастера, что бы получить от него указания.</p>
            <p>Мастер вскоре подъехал, и озвучил рецепт сантехника актуальный для нашей страны: «Да тут всю систему
                менять надо!». И они уехали на консультацию с главным инженером, предупредив меня, что бы я держал один
                кран в доме открытым. Это чтоб был постоянный проток питьевой воды, иначе трубу разорвёт от мороза. С
                тех пор, уже две недели, эти специалисты больше не появлялись.</p>
            <p>Нет, ну это настоящие диверсанты! Сантехниками они только прикидываются. Это враги! В тридцатиградусные
                морозы разизолировать теплотрассу в двух местах и всё бросить. По их вине у меня сутками вода
                непрестанно течёт напрямую в канализацию, это – чтоб труба не перемёрзла. Сам я стекловатой трубу
                заизолировать не могу: у меня астма. Полагаю, это диверсия врагов нашего государства. А может наоборот:
                диверсия нашего государства? Для которого враги – мы, живые люди. Сейчас буду ждать лета. Летом труба
                точно не перемёрзнет.</p>
            <p>Год назад, позапрошлой осенью, я увидел на улице мужиков с кувалдою и с деревянными кольями. Когда мужики
                остановились возле нашего дома, я окликнул их: «Ребята, чо-то вы рано начали работать». Они с неохотой
                повернулись в мою сторону. Я первый сдался, что бы прервать молчание, закончил свою мысль: «Так, эта…. У
                нас все земляные работы и укладка асфальта начинаются после первого снега». Они, с откровенной
                неприязнью, посмотрели на меня так, как будто увидели перед собой умного человека. Да здря вы так,
                ребята. Я такой же, советский, как и вы. Просто пошутить захотелось.</p>
            <p>Через три дня пошёл снег. Вскоре появились и те рабочие. Оказывается, по милости Божией и по решению
                Единой России к нам в частный сектор проведут газ! Поскольку мой дом угловой, на пересечении двух улиц,
                то они бурили под опоры газопровода с двух сторон моего участка. С одной стороны пробурили вдоль забора
                с внешней стороны; тут же, сразу, забетонировали стояки. Когда я хватился, выяснилось, что эти стояки не
                дают мне возможности открывать ворота. И, по сути, я не могу заехать на собственный участок. С другой
                стороны дома эти же рабочие, с мрачными лицами, пробурили несколько скважин прямо по палисаднику, где у
                меня посажено штук двадцать роз.</p>
            <p>После этого рабочие пропали. Насовсем. Пришла весна. Я ещё надеялся, что работнички вернутся. Пробуренные
                под опоры скважины уже начали осыпаться. В палисаднике на их месте появились воронки, заполненные водой,
                как от взрыва снарядов. Тогда, той осенью, мне пришлось после бурения из палисадника вывозить тачкой
                кучи земли. Теперь, весной, я завозил эту землю назад, засыпая и утрамбовывая воронки. Так бы оно всё ни
                чего, но проблема в том, что я пенсионер и инвалид. Мне в собесе уже дали тросточку для ходьбы, а сейчас
                и костыли выдали на перспективу.</p>
            <p>Я возил землю и думал о том, что не только у России, а почему-то и у меня полным-полно врагов. Я думал о
                родине-матери, об этих рабочих и их матери. И думал как-то нехорошо. Нам не надо внешних врагов. Мы,
                внутри этой страны, все враги друг другу. Кстати, сама фирма и её недовольные рабочие, куда-то пропали.
                Но память у меня о них осталась: заехать на свой участок я по-прежнему не могу – ворота не открываются.
            </p>
            <p>Вроде ни чего страшного не произошло. «Враги сожгли родную хату»? Нет. Не сожгли. Только одни обворовали
                нас в очередной раз, а другие – наглядно показали, что все мы, начиная с работяг, сволочи (а не только
                наше руководство, как нами принято думать). Поэтому, любой из нас, имеет полное основание, относиться к
                окружающим людям, как к сволочам. Или как к врагам. Правда же, хорошее оправдание для самих себя?</p>
            <p>Ну как, вы ещё не устали от обилия врагов окружающих нас? Продолжу: преждевременной радостью для нашей
                семьи была установка теплосчётчика. Влезли в долги, но зато мы работали на перспективу: потом
                потраченные средства оправдают себя. И, правда, летом мы платили за тепло в три раза меньше. Зато, среди
                зимы счётчик нам внезапно показал, что за месяц мы должны заплатить 15 тысяч. Это немного, если мы
                знаем, что взятки у нас дают миллионные, а воруют миллиардами. Но для пенсионера, с пенсией в 8 тысяч,
                куда входит пособие по инвалидности, 15 тысяч, мягко говоря, много.</p>
            <p>Не буду описывать, что мы не смогли доказать фирме «Инженерное дело» установившей счётчик, что он не
                исправен. Не смогли мы доказать тому же легендарному главному инженеру из ЖКХ, что в нашем доме не
                возможен такой расход тепла, и что мы не должны платить эту фантастическую сумму в 15 тысяч. Кончилось
                всё на том, что мы заплатили 15 тысяч ЖКХ по счётчику и они, смилостившись над нами, стали взимать с нас
                деньги как прежде: будто у нас нет счётчика.</p>
            <p>Сейчас у нас стоит счётчик за 30 тысяч, который совсем перестал выдавать показания, а мы платим столько,
                сколько посчитает нужным ЖКХ. Я Оле предложил: «Давай ТЕПЕРЬ платить по их счетчику?». То есть, если
                показаний ноль, то и платить ноль. Но Оля мудрее меня, она отказалась от этой затеи. Помогите мне
                определиться: так кто враг беззащитных и немощных пенсионеров-инвалидов? Кто тут враг? Вообще-то, я
                враг. Вы не согласны? А спросите об этом «Инженерное дело» или ЖКХ. Они подтвердят – я для них враг.</p>
            <p>Ну, что всё о грустном и о грустном. Не может быть так, что бы всё было плохо. Должны быть и проблески.
                Например: попал я, по воле случая, на обследование в областную больницу. Мне там предложили бесплатно
                сделать операцию по протезированию коленного сустава. Это чудо! Потому, что до этого каждый год врачи на
                ВКК объясняли мне, что ждать бесплатной операции надо лет шесть. А платная операция стоит где-то 160
                тысяч, зато без очереди. И врачи с удовлетворением писали в карточке, что я добровольно отказываюсь от
                операции. Тут, вдруг, такое предложение: бесплатная операция, в течение 2 - 6 месяцев.</p>
            <p>Но я зря расслабился в надежде на что-то хорошее. Операция вроде бесплатная; так мне пообещали. Но
                местный невропатолог послал меня в Екатеринбург сделать до операции МРТ головного мозга. Кардиолог
                предложила сделать УЗИ сердца. Да, что мне жалко 3 тысячи на это дело, если саму операцию проведут
                бесплатно! Вон, ракета «Булава» миллионы стоит. Ни кто на этом не экономит. А тут три тысячи! Да тремя
                тысячами сейчас даже от мента на трассе не всегда откупишься. Самое забавное оказалось в том, что вызов
                на операцию так и не пришёл мне не через 2 месяца, не через 6 месяцев, ни через 8. Теперь уже его и не
                жду.</p>
            <p>Дело не в деньгах, хотя пишу о них столько же, сколько об окружающих врагах. Я хочу проиллюстрировать
                наболевший вопрос: может ли быть кто-нибудь более беззащитным в государстве, чем старики и дети?
                Равнодушие и безжалостность общества к самым слабым – показатель того, насколько озверел народ.
                Единственное, что такой народ хорошо умеет - это находить или создавать себе врагов. И вся жизнь у
                человека в нашем государстве уходит на борьбу с врагами. Хотя она должна быть направлена на созидание.
                Поэтому мы нищие, так как ни чего не созидаем; мы создаём только врагов, а потом последовательно боремся
                с ними. Количество врагов уже сравнялось с численностью населения. Разве это не саморазрушение?</p>
            <p>Наше животное равнодушие, безразличие к чужому горю, безучастие к чужой жизни естественным образом
                перетекает в ненависть. Это как рисунок на окне в морозный день. Ни чего вроде бы вокруг не изменилось,
                только на улице чуть-чуть похолодало, а комнатная влага уже затягивает оконное стекло пушистой
                изморозью. Так и всеобщее равнодушие, отсутствие жалостности, выпадает в осадок ненавистью. А ненависть
                – это взрывчатка. Для заинтересованного руководства страной хорошо иметь в запасе эту спрессованную
                энергию.</p>
            <p>Тут, главное – следить, чтобы не накопилась критическая масса. При приближении количества ненависти (или
                количества врагов) к критической массе, спрессованную энергию необходимо направить на заранее
                приготовленный громоотвод: Афган, Чечня, Грузия….</p>
            <p>Или разделить эту массу на две части, условно (именно условно, поскольку ненависть однородна по своему
                содержанию) присвоив одной части знак плюс (+), другой знак минус (-). Эти части немного подогреть и
                ввести в соприкосновение. Произойдёт аннигиляция, взаимоуничтожение. Это – гражданская война. Всё.
                Спрессованная энергия выйдет, разрядится через братоубийство. Власти опять могут спокойно спать до
                следующего накопления критической массы ненависти.</p>
            <p>Но почему основу нашего менталитета составляет ненависть? Может, ответ подскажут слова Л. Н. Толстого:
                «Мы любим людей за то добро, которое им делаем и ненавидим за то зло, которое им причиняем». Это сказано
                по-человечески, пусть даже гением. А Библия говорит более конкретно: «<span class="article__passage">Бог
                    есть любовь</span>». Если мы, из-за
                собственного равнодушия к окружающим, не творим добро, то в нас нет изначально любви, нет Бога, нет
                света. Творя вокруг себя зло, мы начинаем ненавидеть тех, кому сделали больно, кому принесли зло. Видимо
                поэтому самоназванный героический народ-богоносец, пропитанный ненавистью, оказался передовым отрядом
                сатанистов.</p>
            <p>Почему? Потому, что у нас, в отличие от других, нет постоянной проблемы выбора между сатаной и Богом. По
                Достоевскому: «Дьявол с Богом борется, а поле битвы - сердца людей». Битва дьявола с Богом в человеке –
                это повсеместное нормальное явление. Но наша проблема в том, что в Бога мы не верили и не верим. Поэтому
                дьяволу не с кем бороться в нашем сердце. Зато каждый из нас, в своём бесправии и бессилии (мы же без
                Бога живём) является несчастной жертвой. Но которая с готовностью рада стать палачом. В быту и в сердце
                своем мы заложники и, одновременно, безжалостные террористы. Мы – заключенные огромной тюрьмы, которые в
                качестве повышения, мечтают стать охранниками.</p>
            <p>Вот в таком внутреннем симбиозе (от греч. symbiosis — совместная жизнь) мы проводим жизнь. И заключённый
                в моём сердце ненавидит охранника в сердце моего ближнего. Тот, в свою очередь, видит во мне своего
                палача и как жертва ненавидит меня. Мы смирились с присутствием сатаны в нашем сердце. Это он наш
                настоящий враг. Но, при этом, нам доставляет удовольствие наша сила. Мы сильны как империя и побеждаем
                потому, что нам помогает сатана, даже если мы <span class="article__accent">ненавидим друг друга</span>.
                В итоге – при любой победе над общим
                врагом мы остаёмся врагами друг другу, обречены на нищету и <span
                    class="article__accent">самоуничтожение</span>, или постепенное вымирание.
            </p>
            <p>Поэтому основное требование в Библии: «Возлюби ближнего своего». Тогда сам будешь жить. И ближнему в этом
                поможешь. Только нас этому не учили. Мы же – героический народ, рождённый для подвигов, и постоянной
                борьбы. Вот только с кем мы боремся? Уже и со своими пенсионерами? Для чего? На чьёй стороне? Кто нам
                главный помощник в творении зла, если мы выходим всегда победителями?</p>
            <p><span class="article__subheading">9 марта</span><br><br>

                Современные телефоны лишили нас возможности говорить фразу: «У меня зазвонил телефон». Телефоны сейчас
                напевают, насвистывают, что-то мурлычат. Олин сотовый в очередной раз замурлыкал. Она бросилась к нему,
                а потом, так же быстро, вышла в коридор. Официальное объяснение этого: «В коридоре лучше слышно». На
                самом деле Оля не хочет, что бы я слышал её разговоры. Не хочет расстраивать меня очередными
                неприятностями, считая, что они провоцируют у меня высокое давление.</p>
            <p>На этот раз из коридора, вместо её приглушённого голоса, раздался крик: «Петя, вызывай милицию!». Я
                растерялся: какой-то пьяный завалился к нам в дом? Так я, это, пока сам могу справиться. Оля продолжала
                кричать из коридора: «Вызывай скорей милицию». В свою очередь я, с телефонной трубкой в руке, выбежал к
                ней в коридор: «Что случилось?» - «Олег поймал разносчиков газет».</p>
            <p>Оля второй раз решила баллотироваться на пост мэра посёлка. Четыре года назад эта попытка закончилась
                неудачей: за сутки до выборов, ночью, по всем домам в посёлке разнесли листовки, где о нашей семье были
                написаны всевозможные «ужастики». Помоев и читателей не жалели. Расчёт был на то, что бумага всё
                стерпит. Те выборы, по традиции, выиграл кандидат от «Единой России». Оля оказалась на втором месте из 5
                кандидатов. И вот, она решила баллотироваться во второй раз и снова самовыдвиженцем.</p>
            <p>На этот раз конкурентов у неё, после сверки подписей за кандидатов - самовыдвиженцев, осталось двое: от
                партии ЖиВ и от ЛДПР. По всему посёлку висели плакаты и баннеры с кандидатами от этих партий. Денег
                партии не жалели. Но, ни на одном плакате от Едра, ни на одной растяжке с её кандидатом Пшеницыным, не
                было упоминания о cамой Единой России. Нигде, ни одной ссылки! Чудный, милый советский народ. Четыре
                года назад, на таких же выборах, главным аргументом победившего кандидата в мэры от Едресни было
                утверждение: «За мной Россель, Путин и Единая Россия!». Ба, какие люди! Для совков это звучало очень
                убедительно. Подсознательно мы же ощущаем себя большими или маленькими членами единой России.</p>
            <p>За прошедшее с той поры время, бывший губернатор Россель уехал в Москву на повышение. Там, как в
                отстойнике для грязи, собираются «бывшие»: наворовавшиеся (или проворовавшиеся?) чиновники, неудачливые
                убийцы и провалившиеся шпионы. «Единая Россия» за эти 4 года твёрдо зарекомендовала себя партией Жуликов
                и Воров. Да и сам Путин перед выборами находился в подвешенном состоянии: выберут его президентом или
                нет? Кого же, на этом безрыбье, российский электорат поставит (в смысле: назначит) раком? К сожалению, у
                населения, с менталитетом заключённых, всё произошло как в настоящем концлагере. Причём тут концлагерь?
                Почитайте, как описывает Василий Гроссман быт заключённых концлагеря, в романе «Жизнь и судьба»:</p>
            <p class="article__remark">«Казалось, что для управления громадой репрессированных нужны огромные, тоже
                почти миллионные армии
                надсмотрщиков, надзирателей. Но это было не так. Сами заключенные приняли на себя полицейскую охрану в
                лагерных городах. Сами заключенные следили за внутренним распорядком в бараках, следили, чтобы к ним в
                котлы шла одна лишь гнилая и мерзлая картошка, а крупная, хорошая отсортировывалась для отправки на
                армейские продовольственные базы. Заключенные были врачами, бактериологами в каторжных больницах и
                лабораториях, дворниками, подметавшими каторжные тротуары, они были инженерами, дававшими каторжный
                свет, каторжное тепло, детали каторжных машин. Свирепая и деятельная лагерная полиция (добровольцы!)
                охватывала своим контролем всю вертикаль лагерной жизни, от общелагерных дел до частных событий,
                происходящих ночью на нарах. Казалось, исчезни начальство, заключенные будут поддерживать ток высокого
                напряжения в проволоке, чтобы не разбегаться, а работать».</p>
            <p>Обратите внимание на последнюю фразу: «Казалось, исчезни начальство…». Исчезать оно ни куда не
                собиралось. Просто от зеков (то есть, от совков) требовалось в очередной раз подтвердить легитимность
                начальства и охранников. Зеков, в реально существующем для них мире (в концлагере), всё устраивало.
                Грядущие перемены их даже пугали: если исчезнет нынешнее начальство, то могут произойти изменения,
                которые предполагают последующую свободу. Тогда рухнет весь этот привычный мир, где за тебя (или для
                тебя) всё решено, где всё отлажено, где всё стало привычным и родным.</p>
            <p>Несчастные зеки боялись надвигающихся выборов; боялись и на самих выборах (а вдруг, кто-то на кого-то
                подумает, что он не так проголосовал); боялись после выборов. Они бы рады были совсем отказаться от
                выборов, сделать всё, что бы их будущее оставалось по-прежнему предсказуемым, стабильным. Пусть это
                будет прославленная партия Жуликов и Воров, пусть это будет чекист-мизантроп Путин. Кто угодно! Только
                не надо напрягать зеков делать самостоятельный выбор. Чудный, милый советский народ! Наполовину рабы,
                наполовину подонки; всегда готовые предать своего ближнего или сотворить ему подлость. А в концлагере
                для этого предоставляется больше всего возможностей.</p>
            <p>А пока… пока я метался по дому с телефонной трубкой в руках: «Милицию? Зачем милицию? Газеты же
                почтальоны разносят!». С утра уже было известно, что по посёлку распространили листовки, в которых нашу
                семью поливали грязью. Под вечер нам сообщили по телефону, что почтовые ящики в подъездах, не смотря на
                закрытые металлические двери, забиты газетами со «страшилками» о нашей семье. Только тут я понял каких
                «почтальонов» задержал старший сын и его жена. Не ставя нас в известность, они на машине патрулировали
                по посёлку, пока не наткнулись на «почтальонов». Те умудрялись разносить газеты, самостоятельно открывая
                все входные двери подъездов. Что за серьёзная «фирма» снабдила их набором ключей или отмычек?</p>
            <p>Пока подъехала вызванная мной милиция, Олег со Светой задержали второго «почтальона». Их отвезли в
                отделение. Нет, не связи. Там их сфотографировали. Как выяснилось, они оказались не здешними, а
                заезжими, приглашёнными со стороны, гастролёрами. Вышедшая на другое утро местная газета (на этот раз
                настоящая), с фотографиями этих «волонтёров», сразу была скуплена на корню неизвестными лицами; вся, до
                единого экземпляра! И, сам по себе, факт задержания с поличным «почтальонов», с ключами ото всех входных
                дверей, с пачками газет, неизвестно где, кем и в каком количестве отпечатанных, для жителей посёлка
                прошел незамеченным. Чувствовалось, что при таком серьёзном проколе задействованы серьёзные люди с
                серьёзным размахом.</p>
            <p>Задержанные «почтальоны», в лучшем случае, отделаются лёгким испугом. Ведь власти концлагеря своих не
                трогают. Ну, да Бог с ними; «почтальоны», даже при проколе, получат свои бонусы с выработки. Зато ФСБ
                сразу Олей заинтересовалось всерьёз. Кто такие ФСБ? Как и все – это лагерные проститутки, созидающие и
                укрепляющие своим трудом преступный режим концлагеря. По своей сути проститутки из ФСБ являются
                профессиональными убийцами, провокаторами и подонками. Когда Оля несколько лет назад сообщила им (и в
                другие органы) о крупномасштабных хищениях на Рефтинской птицефабрике, они, как и положено стойким
                дзержинцам, долго отмалчивались. Потом сообщили, что документы, предоставленные Олей, благополучно у них
                исчезли. Миллионы, похищенные у государства ни в то, не в нынешнее время ФСБшников не интересовали.</p>
            <p>А чем же Оля сейчас вызвала пристальный интерес ФСБ? Да ещё настолько, что они направили запрос в
                областную прокуратуру, а областная переправила в местную? Нет, ФСБ не вспомнило о сотнях миллионов
                рублей (на данный момент можно смело говорить уже о миллиарде), украденным бывшим директором
                птицефабрики. Нет! Для ФСБ это не интересно. Да и кто в этой коррумпированной системе, созданной
                Путиным, не ворует? Все воруют, кто имеет доступ хоть к какой-нибудь кормушке. Украденные деньги ни у
                кого не вызовут интереса, если правильно ими делиться с нужными людьми. Но, все эти сволочи, вся эта
                сволочная власть/у Даля: «Сволочь - все, что сволочено или сволоклось в одно место/ обеспокоилась и
                пришла в страшное волнение: Ткалич Ольга может стать мэром посёлка!</p>
            <p>Местная прокуратура вызывает Олю, требуя разъяснения по самым преступным эпизодам из её биографии. Ей
                дали на руки скопированный запрос ФСБ о её противоправных действиях, предварительно закрыв чистым листом
                бумаги текст, не предназначенный для прочтения посторонними. Так вот, что интересует наших долбоё…. Фу,
                ты! Хотел написать: «Вот, что интересует наших добросовестных сотрудников ФСБ». Итак, выдержка из
                текста, данная Оле к прочтению и для последующих её комментарий:</p>
            <p class="article__remark">«Указанное лицо является активным адептом церкви «Скала спасения», относящиеся к
                зарубежной религиозной
                организации «Христиан веры евангельской». Ткалич О. Н. предоставляет цокольное помещение своего дома для
                проведения служб церкви. Кроме того, она является председателем «Рефтинского центра экологической
                безопасности», проводившего акции протеста против строительства системы сухого золошлакоудаления на
                Рефтинской ГРЭС. По информации УФСБ прогнозируется, что кандидат будет использовать сеть агитаторов на
                прошлых выборах главы муниципального образования 25% голосов избирателей (чо эти грамотеи хотели сказать
                такой фразой – я так и понял; Ткалич П.С.). Помимо этого, мужем Ткалич О.Н. на сайте чеченских
                сепаратистов «Кавказ» опубликованы статьи, содержащие критику в отношении представителей действующей
                власти. Также по информации УФСБ имеются сведения о том, что Ткалич О.Н. скрыла от избирательной
                комиссии информацию о наличии непогашенной судимости по ч. 1 ст. 129 УК РФ».</p>
            <p>Если можно, то я задам несколько вопросов по этой филькиной грамоте, что бы подчеркнуть тупость и
                одновременно коварство составителей этой писульки. Зачем использовать выражение «активный адепт"? Готов
                спорить, что больше половины населения (типа нашего захолустья), понятия не имеют о чём идёт речь. Но
                если адепт, да ещё и активный, относящийся к зарубежной религиозной организации, то это, наверное,
                террорист. Или что-то ещё хуже. Но, на деле, всё на много проще. По Ожегову: Адепт - приверженец,
                последователь какого-нибудь учения. То есть, если вы искренний приверженец Иисуса Христа, последователь
                Его учения, христианин – то вы активный адепт.</p>
            <p>И все христиане, как это не звучало бы страшно, представители зарубежной религиозной организации. Потому,
                что Иисус Христос оказывается, не был русским; а христианское учение пришло к нам из-за рубежа. Я,
                наверное, неожиданные и страшные вещи говорю? Вот и ФСБ испугалось. Что же ещё пытаются Оле поставить в
                вину эти люди с больной головой, липкими руками и сердцем от шакала? То, что она является председателем
                центра экологической безопасности? Это запрещено законом? Или это гражданская инициатива, которая должна
                поощряться?</p>
            <p>Далее, эти тупицы обвиняют Олю в том, что «<span class="article__remark">мужем Ткалич О.Н. на сайте
                    чеченских сепаратистов «Кавказ»
                    опубликованы статьи, содержащие критику в отношении представителей действующей власти</span>».
                Во-первых: не
                знаю сайта чеченских сепаратистов «Кавказ» (есть «Кавказ-Центр»), но я благодарен сайту «Чеченпресс»
                (такой действительно существует), потому что он публиковал мои статьи так же, как их публиковали и
                другие сайты. Во-вторых: когда и кем запрещено публиковать статьи содержащие критику в отношении
                представителей действующей власти? Что, уже совсем крыша съехала? Или ФСБешникам так хочется выдать
                очередную страшилку и желаемое за действительное?</p>
            <p>Дальше, откуда у этих лжецов – УФСБ, «<span class="article__remark">имеются сведения о том, что Ткалич
                    О.Н. скрыла от избирательной
                    комиссии информацию о наличии непогашенной судимости</span>»? Документы о сокрытии информации или
                ссылку на эти
                документы в студию, пожалуйста! Как это у Булгакова: «Так что же говорит этот человек?» – «А он попросту
                соврал!» – звучно, на весь театр сообщил клетчатый помощник и, обратясь к Бенгальскому, прибавил:
                «Поздравляю вас, гражданин, соврамши!». Вы, ФСБ – преступная организация, «Рождённая революцией», тоже
                врёте на каждом шагу в созданном вами концлагере.</p>
            <p>Да мне бы наплевать на это, и на вас тоже; но, видимо, основываясь на вашем запросе, была напечатана и
                распространена по посёлку лживая, с комическим названием газета «Рефтинская правда». Я публикую из неё
                только одну выдержку. Сами сравните её с тем запросом от ФСБ:</p>
            <p class="article__remark">«В своих блогах в Интернете муж Ольги Ткалич говорит о чеченских боевиках вовсе
                не как о врагах, а как о
                гордых, свободолюбивых людях, просто чуть не таких как мы, даже в чём-то и лучше нас, в своих
                рассуждениях он просто переходит все границы разумного. Сколько насилия они причинили простым людям!
                Сколько зверств они с собой принесли! Все трагические эпизоды с их участием представляют собой
                террористические акты, засады, расстрелы, допросы, пытки и убийства пленных. Не по себе становится,
                когда понимаешь, в чьих руках может оказаться городской округ. Ведь если Ткалич Пётр, пресвитер местной
                религиозной организации «Скала спасения» преследует такие взгляды и убеждения, значит и его супруга их
                разделяет. Не любя Россию, Ткалич Пётр, таким образом, отрицает всё российское, нашу историю, наших
                трудолюбивых соотечественников. А вдруг Ткалич выиграет? Прославимся на всю Россию. В мэрии начнут
                совершаться сектантские обряды и оргии, а заодно и во всех муниципальных учреждениях – школах, детских
                садах. У Ткалич дома есть подвал, да ни какой-то, а не сотню человек. Там секта и собирается. Так что,
                уважаемые врачи, учителя и прочий муниципальный народ готовьтесь идти туда на переаттестацию. Ладно,
                если просто не пройдёте. А если сатану в вас найдут и будут всей сектой изгонять? Ладно, не волнуйтесь,
                у вас ещё есть несколько дней на то, чтобы до 4 марта собрать вещи и бежать из поселка. А если серьёзно,
                с городом, где у власти окажутся воры и сектанты, ни кто не будет работать. В такой город ни кто не
                будет вкладываться, с ним ни кто не захочет иметь дел. Нас ждёт сокращение финансирования и выход на
                обочину областного финансирования. Ни кто не против религиозных убеждений. Но если ты состоишь в секте,
                зачем лезть во власть? Она у нас светская».</p>
            <p>Да она у нас не светская, а советская – фсбешная.</p>
            <p>Забавно, но я даже благодарен тем людям, которые не голосовали за Олю, и поэтому она не стала мэром. У
                баранов, в отаре, лидер обычно всегда козёл. Козёл – само по себе животное не самой лучшей
                характеристики: скандальный, злопамятный, бодливый и всегда старается попасть в чужой огород. Не думаю,
                чтобы Оля, в мэрах, оказалась на своём месте. А для баранов, почему-то, кроме вонючего козла нет другой,
                лучшей кандидатуры на роль лидера. Поэтому, у нас Путин прижился. Поэтому он старательно селекционирует
                и поощряет в своей отаре таких же козлов. Ну, это так – сценка из мира животных.</p>
            <p>Хотя, в концлагере отношения тоже как в мире животных. Там все слушаются своего капо. Он, вроде, из
                толпы, из барака – такой же; но, он главный надзиратель по бараку. Для этого надо быть одним из местных
                авторитетов-подонков. Естественно, что самый большой подонок в концлагере – начальник концлгеря. При
                рабской натуре зеков, большого ума при руководстве не надо. Гроссман правильно заметил: «<span
                    class="article__accent">Казалось,
                    исчезни начальство, заключенные будут поддерживать ток высокого напряжения в проволоке, чтобы не
                    разбегаться, а работать</span>». Так что, Оле просто нет места в этом зоопарке (или в концлагере).
            </p>
            <p>Да! Место мэра или депутата в местной Думе пророчили заворовавшемуся Топоркову. Чем не кандидат? А
                неприкосновенность была бы ему весьма кстати. Но, перед выборами он вдруг исчез. В Интернете появилось
                сообщение, что он ездил в Москву за срочной наградой. Награда нашла героя. Значит? Значит, Топорков
                готовится перебраться в этот мусоросборник, под названием Москва, к своим покровителям, с чьей помощью
                он вывел с птицефабрики миллиард рублей. Я все эти годы ломал себе голову о непотопляемости Топоркова.
                Сейчас понял, что дело не в особых качествах Топоркова. Только не думайте, что у меня началась белая
                горячка. Дневник я веду 7 лет. И уж если б нашли хоть малейший повод, то поверьте – у меня был бы
                большой перерыв в дневнике на лечение.</p>
            <p>У бывшего губернатора Росселя и его другана, бывшего министра сельского хозяйства Чемезова (обоим нашлось
                достойное применение в Москве), было <span class="article__accent">несколько</span> птицефабрик в
                подчинении! Я только сейчас это понял. Так
                что речь идёт не об украденном миллиарде рублей с Рефтинской птицефабрики. А несколько птицефабрик – это
                <span class="article__accent">несколько</span> миллиардов, это уже приближается к уровню Магницкого.
                Можете себе представить такое: Магницкий
                доказал, что жулики – это жулики? И что он выиграл своё скандальное дело и баллотируется теперь
                кандидатом в мэры (конечно, не посёлка Рефтинского)?
            </p>
            <p>Да кто же, в России, в это поверит? Так быть не может, в этом концлагере бездушных и безразличных людей.
                Зеки для себя добровольно выбрали ЛОЖЬ, чтобы сохранить <span class="article__accent">внутренний
                    покой</span> на душе: «У нас не так уж всё и
                плохо, как кажется». И сами выбрали себе <span class="article__accent">ложь для внешнего покоя</span>,
                назвав его стабильностью: «Лишь бы
                вокруг меня хуже не стало». Они готовы защищать свой мир, построенный на лжи, от таких как Магницкие,
                Политковские, Щекочихины, Ходорковские. «Иных уж нет, а те далече». Рабы защищаются от свободы. И не
                только ложью. Поэтому освободить их, даровать им свободу, невозможно.</p>

            <p>Гроссман: «<span class="article__accent">Сами заключенные приняли на себя полицейскую охрану в лагерных
                    городах…. Казалось, исчезни
                    начальство, заключенные будут поддерживать ток высокого напряжения в проволоке, чтобы не
                    разбегаться, а
                    работать</span>». Так, что тогда делать с этими рабами? Ничего. Ждать, пока они сами не сдохнут. Во
                всяком
                случае, Моисей 40 лет водил свой народ по пустыне, пока не вымерло поколение выросшее в рабстве,
                поколение рабов.</p>
            <p>«У меня зазвонил телефон…». Да выкиньте вы его на фиг! Ни каких больше участий в выборах! Грех работать
                на благо преступного концлагеря. И даже на благо рабов, если этим продлевается существование концлагеря.
            </p>
            <p><span class="article__subheading">11 апреля</span><br><br>

                Понимаю, что болен. Болен безнадежно. Болен ненавистью. Ненависть съедает меня. Съедает меня жгучим
                чувством вины. Но, вины без раскаянья. Причина? Я ненавижу. Ненавижу государство, в котором живу.
                Ненавижу это общество. Ненавижу народ – безжалостный, тупой, и в тоже время агрессивный. Народ способный
                на всё: на предательство, на убийства, на безропотное терпение, на бесконечные унижения. Но,
                одновременно с чувством вины меня мучает жалость к людям. Этим людям. К каждому человеку, с которым
                общаюсь. Меня роднит с ними боль. Боль, переживаемая каждым из них. В каждом есть боль. Они тоже
                страдают. За что? Не знаю.</p>
            <p>А за что страдаю я? За предательство. За их предательство. За то, что они предали моего любимого
                человека. Почему они это так легко делают? Почему легко предают чужих любимых людей? Ответ может быть
                только один: они не в состоянии любить. Любить тех, кто достоин любви, своих близких. Нет, они конечно
                любят. Любят свою родину, русские берёзки, любят русскую зиму, любят своё руководство, клянутся ему в
                верности…. Может из-за того, что мы огромная страна, мы любим все, в общем, всё огромное, весь мир.
                Поэтому мы не мелочимся, не опускаемся до частностей, до человека, который кем-то любим.</p>
            <p>Что вам сделала моя жена? По детской наивности (а может, она любила вас; но едва ли вы признаете это) она
                радовалась и гордилась тем, что может своим желанием и профессионализмом сделать вашу жизнь лучше, а вас
                богаче. Но, богатым больше всех вас мечтал стать директор. И его планы не совпадали с вашими планами –
                жить всем достойно. На всех средств не хватило бы. Чтобы развязать себе руки он уволил Олю, она мешала.
                А вы злорадствовали.</p>
            <p>Одни, лопаясь от зависти, говорили, что главного бухгалтера уволили за воровство (хотя, если бы воровство
                было установлено, её бы давно посадили – Топорков сделал бы для этого всё возможное). Другие, радуясь,
                говорили, что у нас громадные долги в банке. Ни у кого из вас не хватало ума понять: первое утверждение
                противоречит второму. Неужели так трудно сообразить: тот, кто ворует на «хлебном» месте – в банки ни
                чего не должен. Попробуйте представить себе Топоркова с неоплаченными кредитами!</p>
            <p>Недалёкие, тупые, простые советские люди. Такие плакали на похоронах Сталина. Такие голосовали за Путина.
                Такие жалеют уволенного Топоркова: «Из-за этого сейчас на птицефабрике только хуже стало!». Хуже стало
                потому, что миллиард рублей (ваших денег!) выведено им с птицефабрики. Украдено! Я тоже не могу
                представить себе эту цифру. Но знаю, что это ваши «сэкономленные» зарплаты, тринадцатые, ночные,
                сверхурочные, которые вы не получили; это те деньги, которых вам хватило бы на много-много-много лет
                вперёд, но вы их ни когда не получите. Вы оказались такими же несчастными и безмозглыми, как те курицы,
                которых ощипываете. Вас также ощипали.</p>
            <p>Жалко ли мне вас в такой ситуации? А вы пожалели мою жену? Она, в присутствии главных специалистов,
                заявила, что не даст обворовывать птицефабрику. После этого Топорков её уволил. И поползли слухи по
                птицефабрике о воровке-главбухе. Эти же самые прикормленные «специалисты», в присутствии которых Оля
                говорила о воровстве директора, разносили слухи. Да, конечно, я больной. Потому, что Библия говорит мне:
                «Прости, прости всех!». <span class="article__accent">не могу</span>! Чувствую из-за этого свою вину,
                <span class="article__accent">не могу</span>! Более того: я возненавидел
                это государство, этот народ.
            </p>
            <p>Раньше ни когда не был агрессивным. За всю свою жизнь только в армии ударил одного по лицу. Высоцкий спел
                как обо мне: «Бить человека по лицу я с детства не могу». У нас дома очень много цветов. Оля приучила
                меня любить, ухаживать за ними. И с каких-то пор не могу видеть неполитые цветы. Только замечу, что
                листики привяли, я начинаю ощущать беспокойство, как в присутствии больного или умирающего существа.
                Начну поливать – ощущаю благодарность растения и свою радость: «<span class="article__accent">я
                    сделал</span> что-то хорошее! Помог ЖИВОМУ!»
            </p>
            <p>И вот из такой серой мышки (я о себе) государство сумело сделать врага народа. Искреннего врага народа.
                Врага этого общества и этого государства. Цветы (растения) мне жалко. А народ (такой народ) – нет!
                Простить, молиться за него? «Нельзя молиться за Царя Ирода, Богородица не велит». А если это народ
                поставляет таких правителей? Если народ терпит их? Голосует за них. С энтузиазмом претворяет в жизнь все
                преступные планы руководства по уничтожению других народов и собственных несогласных? Если народ души не
                чает в своих царях и царьках? Молиться за них за всех? Нет! Я, как тот сумасшедший, сошлюсь на
                Богородицу.</p>
            <p>Есть ли оправдание у этого беспамятного, беспринципного народа-предателя. Что? Ухо режет такое
                определение: народ-предатель? Разве не так? Кто-нибудь помнит, что в своё время мы дружно предали своего
                царя? А ведь как любили! С лёгкостью предали православные свою веру, Бога; так же, как Иуда предал
                Христа. Так же легко, враз, отказались от КПСС в пользу перестройки. Но и её предали и охаяли, как хаяли
                всё преданное до этого. Зато, все коммунисты и комсомольцы сейчас снова стали православными. До
                следующего раза. Потому, что предателями так в душе и остались. Предавать – это наш образ жизни.</p>
            <p>Предаём всех. Оптом и в розницу: близких, любимых, родных, знакомых и незнакомых. Предаём доносами,
                молчанием, изменой, согласием с происходящим, раболепной поддержкой преступной власти, участием в
                «наведении конституционного порядка». А хотелось бы: не «наведения» конституционного порядка, а
                элементарного соблюдения конституции со стороны властей. Но выбранные нами же власти, беззастенчиво
                предали и конституцию, и наши интересы. Народ-предатель, возглавляемый предателями народа – это самое
                точное определение нашего государства. Разве для человеков, составляющих общество это не трагедия? Как
                им жить? Разве эта жизнь не мучение?</p>
            <p>Кто-то, на местном уровне (большинством), предал мою жену. Да, она не такая как вы. Живёт верой в
                честность, порядочность. Она хотела принести вам пользу, добро. Она в каждом видела человека. Могут же
                быть такие ненормальные люди? Она как раз такая. Поэтому вы и предали её? С удовольствием наплевали ей в
                душу, потоптались, и с интересом наблюдаете: а чо дальше будет? Людей, неполитые цветы мне жалко. А
                такой народ – нет. "<span class="article__accent">Предавший однажды - предаст не единожды</span>".
                Предаст для сиюминутной выгоды, из-за лени
                или по собственной ограниченности.</p>
            <p>Я чувствую себя виноватым из-за искренней ненависти к ТАКОМУ государству, к ТАКОМУ народу. Потому, что
                все религии, все нравственные человеческие законы крутятся вокруг библейской заповеди: «Возлюби ближнего
                своего». Ну, не получается у меня это! И именно потому, что я люблю и жалею свою жену. Юродивый, из
                «Бориса Годунова»:</p>
            <p class="article__accent">Месяц светит,
                <br>
                Котенок плачет,
                <br>
                Юродивый, вставай,
                <br>
                Богу помолися!
            </p>
            <p>Жену свою люблю, за цветами ухаживаю, котёночка мне жалко. Людей жалко. Молюсь. Но за «совков», за
                русский народ молиться не буду. Совесть не велит.</p>
            <p>Да и у меня сейчас другая проблема: решил приобрести себе автомат АСМ. Нет, а как без автомата? Тяжело в
                наше время. Устаёшь очень. А тут раз – и готово. Ни какой траты сил, ни какой обычной нервотрёпки.
                Пальцем только нажал…. Всем рекомендую. В других странах это уже давно не проблема. А у нас – как
                всегда, при нашей нищете…. Не, а вы про чо подумали? Про АКМ? Действительно, вещь в хозяйстве при нашем
                всеобщем беспределе необходимая. Но я-то – про АСМ (автоматическая стиральная машина). Наша сгорела, сын
                притащил чью-то старую, итальянскую. Но, боюсь, что хватит ненадолго. </p>
            <p>Это я шутю, шутю так. Приятно представить как эти придурки, из АБВГэдейки (ФСБ, центр «Э», «Т», «К»,
                ОМОН…. и нет им числа, дармоедам), соскакивают с табуретки, готовые выполнять приказ. Как же! ЗащитниЧки
                родины! Это я кормлю вас. Но как только у вас появится повод (призывы с моей стороны, подстрекательство,
                попытки), вы сразу мне – «ласты» за спину и в наручники. И вам наплевать, что я делаю это из любви к
                своей жене, которая (может, она это не прочитает), сдуру, решилась бороться с коррупцией в этом
                мафиозном государстве, среди равнодушных предателей.</p>
            <p>Конкретных коррупционеров, о которых я столько пишу, вы не арестуете. Нет. Но, как только дам вам повод
                или просто надоем, вы сразу причислите меня (не к лику святых) к экстремистам, поддерживающим
                террористов, к врагам нашей многострадальной родины. Поэтому, я всегда чувствую себя как муха в паутине:
                бьёшься, бьёшься, жужжишь чо-то себе под нос. А сытый паук наблюдает со стороны: «Сам сдохнешь? Или
                укусить напоследок тебя?» Наблюдают довольные и те, кто предал нас. Мы для них пример: ТАК ЖИТЬ НЕЛЬЗЯ!
                А то станешь изгоем, экстремистом, врагом народа.</p>
            <p>Тапочек дайте мне. Я этого плешивого паука…. Впрочем, всё бесполезно. Вон их сколько. Любой, кто из этих
                совков прорвётся к власти, станет таким же. Нет. Я не имел ввиду – плешивым. Пауком. Менталитет у нас
                такой преобладает, однако. Как людей (человеков?), мне их жалко. Наверное, это уже хорошо. А они даже на
                жалость не способны. У этих слов есть автор: «Люди у нас хорошие, народишко никудышный»? Или это
                общепризнанная констатация факта?</p>
            <p>Ни как не могу закончить эту мысль о народе-предателе. Не знаю чем. К отложенному черновику возвращаюсь с
                неохотой: всё уже давно сказано в моём дневнике. Одна мысль ни как не уходит из головы: если наша семья
                – враги народа, то кто же у народа ходит в друзьях? Эти два клоуна: путин и медведев? Скажи мне: кто
                твой друг? И я скажу – кто ты. Не завидую я тебе, российский народ. В такой компании и под таким
                руководством ты совсем скурвишься.</p>
            <p>Ладно, в общем-то, от врага народа ни кто, ни чего другого и не ожидал. Буду довольствоваться словами
                Есенина. Да, нашей семье, как и многим в этом государстве, выпала нелёгкая жизнь. Но: «…Мне осталась мне
                осталось Твоих волос стеклянный дым И глаз осенняя усталость». Я люблю тебя, Оля! Всем и всему вопреки
                люблю. Не смотря на то, что живу в этой стране и среди этих людей. Вопреки всему окружающему мы
                счастливы. А что? Так нельзя? Читайте, завидуйте, я – люблю свою жену! «Я СДЕЛАЛ что-то хорошее! Помог
                ЖИВОМУ!». А там вы хоть тресните: коррупционеры, чекисты, предатели. Может, из-за любви к тебе, Оля, Бог
                простит мою ненависть к этому государству и населяющему его народу-предателю, безмозглому и ощипанному.
            </p>
            <p class="article__remark"> В степи, покрытой пылью бренной, сидел и плакал человек.
                <br>
                А мимо шел Творец Вселенной. Остановившись, он изрек:
                <br>
                "Я друг униженных и бедных, Я всех убогих берегу
                <br>
                Я знаю много слов заветных, Я есмь твой Бог. Я все могу
                <br>
                Меня печалит вид твой грустный, какой бедою ты тесним?!"
                <br>
                И человек сказал:..."Я – русский"..., и Бог заплакал вместе с ним.
                <br>
                Николай Зиновьев
            </p>

            <p><span class="article__subheading">19 июня</span><br><br>

                Противно, тошно и мерзко на душе. Хотя уже понятно, что Путин окончательно проиграл, даже став заново
                президентом. Его выборы и первые шаги после выборов – агония. Путин – труп. Труп дохлой собаки, которая
                каким-то образом проникла на мясокомбинат и обожралась. С этой стороны всё хорошо. Для собаки и смерть
                собачья.</p>
            <p>Но народ-то остался! Тот самый народ, который был очарован Путиным. Который голосовал за Путина и который
                неимоверным усилием коллективного разума, после многолетнего правления чекиста, вдруг прозрел. Стая
                саранчи усмотрела корень всех зол в Путине: «Царь ненастоящий!». А куда вы раньше смотрели? Он с самого
                начала был ненастоящий. Но, ведь вы короновали его на царствие. Это то же самое: как будто в дурдоме
                главврачом выбрали дебила-охранника.</p>
            <p>Конечно, там, в составе медицинского и обслуживающего персонала, здоровые люди были. Но в психушке
                больных всегда больше. И всеобщее мнение (коллективный разум саранчи?) одержало победу. Почему?
                Во-первых: охранник – дебил, который близок по образу мышления к больным. Поэтому, он, за свои манеры и
                «мысли вслух», получил от пациентов всеобщее понимание и симпатии. Во-вторых: администрация так же
                считала его «своим» (как охранник, он числился в обслуживающем персонале) и относилась к нему, как к
                своему. Вот и оказалось, что охранник-дебил, на момент выбора главврача в дурдоме, имел поддержку со
                всех сторон. Так дурдом осчастливил себя появлением нового «специалиста».</p>
            <p>Так, в России, «демократическим» путём появился очередной царёк. Гип-гип-ура, новому царю! Всякий народ
                достоин своего правителя. Шо? Царь, как с опозданием выяснилось, не настоящий? А народ? Ведь народ-то,
                какой бы он не был, всегда настоящий. Но русский народ, это притча во языцех, повод для высказывания
                самых противоположных мнений. От расплывчатой – героический народ; до сжатой, ёмкой формулировки –
                быдло.</p>
            <p>Мне очень нравится определение: героический народ. Так скромненько и со вкусом народ сам себя назвал
                героическим. Что, не народ сам себя назвал? Это его так назвали? Кто? – Руководство. А за что? – За
                проявленный героизм. В нашей жизни всегда есть место подвигу! И в мирное время, и в военное время.
                Убедительно звучит? Для дураков – да!</p>
            <p>Если не беречь собственный народ, относиться к нему наплевательски, выжимать из него все соки, то
                необходимо кроме кнута и удавки иметь ещё и пряник. Кнут и удавка – вещи сугубо материальные. А
                «пряник», это моральное укрепление, идеологическая жвачка брошенная стаду: пусть жуют. Во-первых: на еде
                можно сэкономить. Во-вторых: рот (и мозги) у великого русского героического народа будут заняты каким-то
                действием (пережевыванием).</p>
            <p>Идиллическая картина! Значит, перед нами стадо пасущихся мирных животных, периодически уделяющей внимание
                пережёвыванию жвачки? Как бы ни так! Обычно стадо пасёт пастух. А вот в России, в основном, у власти
                были укротители, безжалостные дрессировщики. Потому, что других русский народ над собой не терпит. Что
                же это за народ, склонный к бессмысленному и беспощадному бунту, при этом всегда жаждущий твёрдой руки
                тирана? По этому вопросу не надо меня убеждать, что умом Россию не понять, аршином общим не измерить. К
                простым вещам и подходить надо проще.</p>
            <p>То есть: это народ со своеобразным менталитетом, сложившийся из трёх основных качеств: <span
                    class="aerticle__accent">зависть, ненависть
                    и тупость</span> И не надо спорить, добавляя сюда слово <span
                    class="aerticle__accent">терпимость</span>
                (народ-терпила). Мнимая терпимость русского
                народа истекает от его бесчувствия. От бесчувствия дерева. Начните рубить дерево. Оно не вскрикнет. И
                даже сок не сразу брызнет из раны. И соседнее дерево не начнёт возмущаться. Это естественно: чем
                примитивнее живое существо, тем оно бесчувственнее. Поэтому не надо путать «терпимость» и
                «бесчувственность». Это разные вещи. А слово «толерантность» (терпимость) у нас, у русских, является
                нарицательным, ругательным. В него искусственно вкладывается негативный смысл.</p>
            <p>Бессмысленный и беспощадный русский бунт? Это пожар в лесу. Это когда тупое, злобное существо вырывается
                из-под твёрдой руки обожаемого безжалостного дрессировщика. И тогда горят в первую очередь сами деревья.
                Те самые бесчувственные деревья, чья зависть, ненависть и тупость породили пламя непримиримости. Как
                жалко, что нельзя сказать: «Зато потом, после пожара, вырастает новый лес!». Нет. После пожара климат на
                русской земле ни сколько не меняется (те же зависть, ненависть и тупость). Поэтому на пепелище вырастают
                не бананы, а те же деревья, тот же лес.</p>
            <p>Так было всегда: и после октябрьского переворота, и после перестройки. И каждый раз, в пожаре,
                обязательно сгорают лучшие деревья (не ловите меня на слове – даже в карликовом лесу есть самые высокие
                деревья). Взамен лучших остаются полуобгоревшие изуродованные дерева, или прёт новая поросль. Но после
                каждого пожара поросль становится всё меньше росточком и всё более искорёженной. Видимо, изменения
                происходят уже на генном уровне. Деградация дегенератов – как бы обидно это не звучало.</p>
            <p>И что же такое Путин на этом фоне? Да плоть от плоти своего народа. Он, такой как все, только обличён
                дополнительными полномочиями. Он Золушка, чьи мечты сбылись. Обиженный, опущенный пацан, который
                оказался у власти. Навёрстывая упущенное в детстве, он сейчас ездит на машинах с почётным эскортом,
                летает тушить пожары на самолёте, целует тигрицу, катается на танке, его опускают (теперь уже в
                батискафе) на самое дно. Там он отыскивает амфоры. Он решает: кого мочить, кого приблизить, кого
                поцеловать в пупик. Что общего между Литвиненко, Ходорковским и «Пусси Райс»? Путин им всем отомстил!
                Отомстил показательно для окружающих: «Кто нас обидит, тот трёх дней не проживёт!»</p>
            <p>Да это же мечта любого русского! Полная безнаказанность, полная безответственность и полное всесилие. Мы
                (все остальные), только что-то подобное в Чечне и немножко в Грузии пережили: грабь, убивай, тащи к себе
                трофеи. Да, советское время из русского человека сотворило нечто совсем невообразимое. И не дай Бог,
                если мечта каждого русского человека сбудется! Тогда, всем остальным места на Земле мало покажется.
                Зависть, ненависть и тупость. Да уж, это не двигатель прогресса.</p>
            <p>Надеюсь, всё-таки, что планета Земля выживет. Почему? Наша империя потихонечку сдыхает. Мы как та змея,
                что пожирает себя с хвоста. Она давится от злобы и постоянного голода, поэтому норовит заглотить кусок
                побольше. Змея на таком примитивном уровне, что даже на боль собственной плоти не обращает внимания.
                Урвать кусок побольше – единственное, о чём она думает.</p>
            <p>Ладно, опять получается всё о грустном. Лучше я расскажу сказку: жили-были дед да баба. Была у них
                курочка Ряба. Снесла курочка яичко. Да не простое, а золотое. Дед бил, бил его – не разбил. Баба била,
                била его – не разбила. А мышка бежала, хвостиком махнула, яичко упало и разбилось. Какой вывод можно
                сделать, если яйцо разбилось с такой лёгкостью? Значит, во-первых: оно не было золотым. Слухи об этом
                яйце были сильно преувеличены. Во-вторых: серая мышка – была чекистом, с погонами подполковника. Страна
                у нас такая: назначили Брежнева на самый высокий пост, в расчёте на то, что он, серая мышь, недолго
                посидит в кресле, а потом туда достойного посадят. Так Брежнев и просидел до конца дней своих. Путина
                тоже, как серую мышку пропустили в Кремль. А вот ведь, задержался. И не на один срок.</p>
            <p>Так что это у нас за страна такая, которой может руководить любая серая мышь, дорвавшаяся до кресла? Кто
                населяет эту страну? По-моему: у серой мыши, из мира животных, в беспрекословном подчинении может быть
                только представители простейшего мира, типа безмозглой плесени. Тогда даже серой мышке не надо много
                стараний и ума, что бы управлять таким населением.</p>
            <p>О великий, могучий русский народ под управлением серых мышей, которые ни когда не смогут стать даже
                крысами, хотя крысятничают они по настоящему, как взрослые крысы. Ты ни когда не сможешь стать Народом с
                большой буквы. Потому, что народ состоит из <span class="article__accent">людей</span>, а не из
                завистливой, ненавидящей и тупой плесени. Но,
                к сожалению, рано радоваться тому, что империя Зла поедает себя. Вот сообщение из мира науки: «В 2003
                году под саркофагом Чернобыльской АЭС были обнаружены скопления черной плесени, которая питается
                радиацией. Она способна выжить даже в открытом космосе. И если произойдет глобальная катастрофа, и жизнь
                на Земле исчезнет, плесень выживет».</p>
            <p>Так что моя радость от приближения финиша для российской империи может оказаться преждевременной. Дурдом
                не собирается закрываться. Плесень очень живучая. Размножается в любых условиях и распространяется на
                всех доступных территориях. Плесень была, плесень есть, и плесень очень хочет есть. «И если произойдет
                глобальная катастрофа….». Не дай Бог, конечно. Но и тогда, по словам учёных, плесень выживет. Она найдёт
                себе очередного путина, которого потом будет проклинать, рвать на себе волосы, кричать, что царь опять
                не настоящий попался.</p>
            <p>Может зря я так агрессивно «наезжаю» на Россию? Внешне у нас полная идиллия: народ имеет достойного
                правителя, правитель имеет не менее достойный народ. Впрочем, подобные «наезды» мне простительны: сам-то
                я из русских, из советских. То есть – тупой, ненавидящий и завистливый. Тупой – это образование, плюс
                воспитание. Завистливый – завидую тем, кто не живёт в России. Ненавидящий? Так русские все ненавидящие,
                от самого рождения.</p>
            <p>Только моя ненависть – вызов миру, в котором живём мы, русские. Я презираю его. Потому, что этот мир –
                ЗЛО. И, к сожалению, я пропитан им. А если моя ненависть только ко ЗЛУ? Ни кто и ни когда не убедит
                меня, что Бог любит сатану. По-моему, Бог его ненавидит. Если Бог есть Любовь, то не надо его в чём-то
                искусственно ограничивать, утверждая, что Бог и ненависть несовместимы. Он вправе ненавидеть ЗЛО. И меня
                пусть ни кто не упрекает за ненависть к дорогим соотечественникам. Это я по малолетству думал, что во
                всём виноват Сталин. Потом решил, что ещё больше виноват Ленин. Потом я винил Путина. Сейчас понимаю,
                что виной всему народ, который всячески помогал, поддерживал, восхвалял этих людоедов.</p>
            <p>P. S.
                <br>
                А это на закусь: последний штрих, в последнюю минуту, с «Граней.ру»
                <a href="http://grani.ru/Politics/Russia/d.199072.html"
                    class="article__ref">http://grani.ru/Politics/Russia/d.199072.html</a>. Комментарий русского
                человека. Не знаю, к месту ли?
                <br>
                <span class="article__remark">Ogurtzoff July 17, 2012 17:59.<br> ГРУ - серьезная контора. в отстреле
                    террористов-ваххабитов (к которым
                    так трепетно и с нежностью относится Петр Ткалич) ей равных нет.</span>
                <br>
                Вот так. «Королева в восхищении!» (Булгаков). О чём тут спорить? Это и есть мирное мурло русского
                человека.
            </p>
            <p><span class="article__subheading">20 ноября</span><br><br>

                Что такое мой дневник? Кто его читает? Немногие. Его никто не читает. И изменить он ни чего не может, не
                смотря на мою искренность. Дневник похож на акцию протеста. Когда я, в безысходности, в своём небольшом
                посёлке вышел на улицу, что бы выразить отношение к этому миру, нагнулся спиной к обществу и приспустил
                штаны.</p>
            <p>Я снимаю штаны и показываю вам жопу. Увидели? Что вы увидели? Да нет! Вы не меня, распоясавшегося,
                увидели. Вот эта вот оголённая часть моего тела - зеркало. А в зеркале, вы увидели сами себя.
                Малочисленная публика в шоке. И что же? Да ни чего! Кроме оживлённого шушуканья это ни чего не вызвало.
                А ведь я вам показал лицо. Нет. Не своё лицо. <span class="article__accent">Ваше</span>. Я показал в
                своём дневнике <span class="article__accent">вас</span>, советских людей. И
                что? Ни чего. Ни кому не стало стыдно. Вы не почувствовали себя оскорблёнными. Вы не подали на меня в
                суд за клевету.</p>
            <p>Впрочем, всё именно c таким результатом и должно было произойти. Вы – жопа. Безмозглая, бесчувственная
                жопа. Хотя, нет: розги она чувствует. Точно! Она бесчувственна только к <span
                    class="article__accent">чужой</span> боли. Но, даже собственная
                боль умнее или сострадательнее жопу не делает. И ещё у неё одна характерная черта: всем известный
                конечный продукт жизнедеятельности жопы. Правильно. Она может производить только говно. Что бы ни
                попадало в неё, даже изысканные деликатесы, наружу, через жопу, выходят говном. У нас всё идёт через
                жопу. Всё перерабатывается, изменяется и становится говном. Из-за того, что мы производим исключительно
                одно говно, мы живём не по уши, а с головою в говне. Хоть в чём-то у нас изобилие. Но мы не обращаем
                внимания на это. Адаптировались, однако.</p>
            <p>Когда такое началось? Или так всегда было? У кольца нет конца, и как можно определить его начало? То ли в
                плохой стране был вынужден мучиться народ, и из-за этого сам ставший плохим? То ли плохой народ создал
                себе подобную страну? Что вперёд: яйцо, курица? В обозримом прошлом, я помню, как нас воспитывали со
                школы на мысли, что, да, не все, но были плохие люди в российском государстве. Почему-то они все были
                богатые. Но были и хорошие люди. Только они были бедные. Когда терпение у хороших лопнуло, они назвали
                себя «красными», пошли войной на плохих богатых, которых прозвали «белыми». «Красные» одерживали
                героические победы, не смотря на бесчинства озверевших «белых», которые ни как не хотели расставаться с
                награбленным богатством. Так нам рассказывали про хороших красных и плохих белых.</p>
            <p>Потом неожиданно для нас, бывших учеников советских школ, выяснилось, что красные творили зверства
                похлеще белых. Тогда, что получается? Не было ни хороших красных, ни плохих белых. Просто, в самых
                низких (нижних?) слоях воинствующей русской империи, из искры зависти вспыхнуло пламя ненависти и
                агрессии. Произошла кровавая гражданская война, поводом для которой послужил октябрьский переворот.
                Причину (из искры зависти разгорелось пламя) переворота мы уже знаем.</p>
            <p>А следствием октябрьского переворота и гражданской войны стало процеживание народа через сито, через
                фильтр. Из русского общества (каким бы оно не было) «слили» лучших из лучших: элиту, аристократию,
                умнейших людей России. Кто в ней остался? В отстойнике осталось тупое, послушное быдло, которое
                выпустило пар. Пар ушёл, а ослепление завистью и неистребимая ненависть у народа осталась. Это и есть
                НАШИ альфа и омега (начало и конец); это и есть НАШ бог и святая троица (для русских) – <span
                    class="article__accent">зависть, ненависть и тупость</span>.</p>
            <p>Что же у нас произошло в посёлке Рефтинском, что меня наталкивает на мысль как-то выразить свой
                накопившийся протест? Конечно, штаны я не сниму. Но задела меня радость односельчан. Ну-ка, представьте,
                как это радостно, с оживлением поётся. Глинка: «Пестрота, разгул, волненье, Ожиданье, нетерпенье…
                Веселится и ликует Весь народ» . Откуда у народа столько радости? Так проворовавшийся Топорков снова
                вернулся директором на птицефабрику! Хоть до этого его уволили под благовидным предлогом, но, всё-таки,
                за воровство. Судить его, правда, не стали. Почему? Тайна сия покрыта мраком. И вот: прошло 2 года, и он
                вернулся!</p>
            <p>Неужели потратил весь миллиард, выведенный с птицефабрики? Ну, перед увольнением он выплатил рабочим по
                10 тысяч (что бы вспоминали добрым словом). Сразу по возвращению на родное предприятие, он снова
                выплатил всем по 10 тысяч. Что бы народу было на что радоваться, а то сухая ложка рот дерёт. И народ
                радуется: «Топорков, наш благодетель вернулся!». Ну, да. Вернулся. Исключительно для того, что бы
                выплатить рабочим из наворованных денег по 10 тысяч. На самом деле, рабочие себя намного дешевле ценят.
                Выплати он им по тысяче, и они так же его следы на асфальте целовали. Быдло. Быдло, готовое на всё за
                гроши. Он, с украденного миллиарда, с вами вашими же деньгами рассчитался.</p>
            <p>Но почему, до увольнения, так долго покрывали воровство Топоркова? Почему уволили его за воровство, но не
                открыли уголовного дела? И, наконец, почему его снова вернули к кормушке? Для себя я сделал вывод: чем
                больше денег украдено, тем выше они перемещаются по пирамиде власти. У кого из нас больше всех
                наворовано денег? Со свечкой я не стоял, но наш президент, мелкий злобный карлик, ни кому бы не позволил
                быть богаче себя.</p>
            <p>Это совсем не значит, что рефтинский миллиард ушёл напрямую к Путину. Тут необходима цепочка из многих
                звеньев, отлаженная система экспроприации средств у быдла, и передача этих денег на самый верх,
                советской «элите». Каждое звено в этой цепочке смазывается тем маслом, с бутерброда, которое
                предназначено работяге, из люмпен-пролетариата. Так что самому Топоркову от украденного миллиарда
                достались крохи: десятки, ну может сотни миллионов. Но, уже такое количество денег, а главное - место в
                этой цепочке, сделали Топоркова неприкасаемым.</p>
            <p>На днях передавали: четыре мужика ограбили машину инкассаторов. Взяли 2 миллиона. Это по 500 тысяч рублей
                на рыло. Вот их обязательно найдут и посадят. И дадут им срок на всю катушку. А Топорков (и ему
                подобные) жил, жив и будет жить. Ведь цепочка экспроприированных средств «наверх» не должна прерываться.
                Для тех, на верху, это настоящая «дорога жизни», как в Ленинграде. Поэтому Топоркова вернули к кормушке
                после вынужденного безделья. «Дорога жизни», для избранных, должна функционировать бесперебойно.</p>
            <p>Кто же это такие, с которыми Топорков связан одной цепью? Ба! Знакомые всё лица! Областной министр
                сельского хозяйства Сергей Чемезов. Следующее звено цепи - губернатор Россель. Пока они были у нас при
                власти, Топорков работал как насос, перекачивая им деньги. Но как только их, за хорошую работу, Москва
                забрала к себе (Росселя – сенатором, Чемезова – его помощником), так Топоркова уволили с хлебного места.
                Теперь снова его вернули к кормушке. Спорим, что без «руки Москвы» и здесь не обошлось.</p>
            <p>Да и как «дорога жизни» может прекратить существование? Запасы надо пополнять. Опять же за счёт этого
                быдла, которое так обрадовалось возвращению клопа-кровососа. В Библии сказано: «<span
                    class="article__passage">Где медлят карать зло,
                    сердца людей склонны к злодеяниям</span>». Но, что делать, если наши органы (правоХОРОНИТЕЛЬНЫЕ),
                которые
                должны карать зло и охранять права людей, тоже связаны одной цепью с преступниками? Что тогда делать
                тем, немногим, которые в отличие от быдла не рады возвращению Путина, возвращению Топоркова? Как
                покарать зло в стране, где сердца людей развращены безнаказанностью за совершённые злодеяния?</p>
            <p>Чем мне нравится Америка (США)? Там действительно работают законы, и там не может произойти такого
                дружного крышевания «дороги жизни». Того, что происходит у нас повсеместно; в частности - на Рефтинской
                птицефабрике. Но в крайних случаях, в Америке, пострадавшие сами отстреливают подонков. Ни Топорков (в
                самом низу), ни Путин (на самом верху) долго бы не задержались. Мне остаётся только позавидовать
                американцам.</p>
            <p>Позавидовать тому, что у них другой народ. Это не советское стопроцентное быдло, а свободные люди. Люди,
                для которых немыслимо нарушение их прав, немыслимо нарушение Конституции, попрание законов со стороны
                властей и правоХОРОНИТЕЛЬНЫХ органов. У них - <span class="article__accent">человек</span> всегда может
                защитить себя. Даже с оружием в
                руках. А я, с оружием, могу защищать только эту уРодину, это быдло. И то и другое (уРодина и быдло)
                давно уже на фиг ни кому не нужны, даже в качестве приза или подарка. Но, как выжившая из ума
                престарелая дева, они считают, что все встречные только и мечтают лишить её самого ценного.</p>
            <p>Итак: повернувшись спиной, спустив штаны, я поставил не только свою деревню, а всю Россию перед зеркалом.
                Полюбуйся на себя, уРодина! Несколько лет назад Рифхат Хакимов набрался смелости (гражданского
                мужества?) и выпустил листовки, где открыто писал о продажности судий, прокуроров, следователей, назвав
                по фамилиям. Рифхат - это человек, который представляет в суде, на протяжении всех этих лет борьбы с
                Топорковым, интересы моей жены Ткалич Ольги. Его за листовки обвинили в клевете и отправили в психушку.
            </p>
            <p>Спасибо конкретным людям и средствам массовой информации, которые подняли шумиху вокруг этого
                происшествия. Рифхата вскоре из психушки выпустили, так и не приступив к «лечению». Теперь, спустя
                несколько лет, уже все знают о продажности судей, прокуроров, следователей, ментов. Констатацией такого
                факта ни кого не удивишь, и в психушку за это, ни кого не отправят.</p>
            <p>К чему это я? Факт: быдло, оно остаётся быдлом - безмозглое, бесчестное, продажное, независимо от
                занимаемого места. Неважно где. В руководстве птицефабрики, или там же - на конвейере; в правительстве
                области, или в правительстве, на уровне государства; в «правоохранительных» органах, или в своём доме, в
                быту. Так вот: сейчас, за оглашение этого факта меня, как Рифхата, могут отправить в психушку или мной
                плотно заинтересуется центр «Э» (вы разбираетесь в этой АБэВэГэДейке?). Но через несколько лет мнение,
                что русский народ (богоносец, великий и героический) - просто быдло, станет констатацией факта. А пока
                вам моё зеркало. Для размышления над собой. О кольце, у которого нет конца и нет начала.</p>
            <p class="article__stars">* * *</p>


        </article>
    </main>
    {{> footer}}
</body>

</html>