<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дневник соотечественника | 2013</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Дневник соотечественника, 2013 год</h1>

            <p><span class="article__subheading">1 февраля</span><br><br>

                Мерзкое ощущение: как будто ты в блевотине. Нет, не то, что бы сам опозорился, обрыгался на виду у всех,
                а весь мир – одна блевотина. И ты движешься в этой блевотине, преодолевая её сопротивление. Дышишь этой
                блевотиной. И когда ешь, эта блевотина проникает в тебя. И по телевизору показывают одну блевотину.
                Особенно по телевизору – тандем лжецов и дураков. Лжецы, вызывающие отвращение, беззастенчиво лгут
                дуракам. Причём лгут, не напрягаясь, даже не стараясь, чтобы ложь хоть чем-то напоминала правду. Лгут
                порой неохотно, не скрывая, что делают это по обязанности. Несут всякий заведомый бред, полагая, что
                дураки обязаны это слушать. И дураки, вызывающие отвращение, слушают. Слушают, стараясь не
                комментировать. Потому, что начав комментировать, обязательно задумаешься над услышанным. Задумавшись –
                придёшь к выводу, что всё на самом деле не так, как это пытаются тебе внушить.</p>
            <p>Последняя кампания, проталкиваемая лжецами для дураков, проходит под названием: «Караул!!! Оказывается –
                все воруют!». А почему, караул? Что в этом неожиданного? Да на Руси всегда воровали! Менталитет такой.
                Каждый старался отщипнуть от чужого каравая хотя бы крошечку. Или выпить чужой крови, хоть капельку. Так
                было всегда. Но нация халявщиков, лентяев и воров, за годы советской власти окончательно деградировала.
                Порок был возведён в добродетель, и кумиром отупевшего народа оказалось жалкое ничтожество. Нацвошьдь.
                Чекист. А какое стремление у ничтожества, оказавшегося в такой ситуации у власти? Возвыситься.
                Удовлетворить своё убогонькое «я».</p>
            <p>Чем можно изменить показания весов, которые демонстрируют никчемность калифа на час? Только брошенным на
                другую чашу весов наворованным богатствам. Чем больше наворовано, тем выше взлетает ничтожество. Но
                ничтожество не может плодить добродетель, даже став сверхбогатым. Оно окружает себя другими
                ничтожествами, и создаёт условия для размножения ничтожеств. Эти ничтожества, в свою очередь, тоже
                воруют, что бы взлететь на своей чаше весов. Пусть не так высоко, как нацвошьдь, но выше своей истинной
                значимости. Осуществление нацпроекта по поддержке ворующих мелких ничтожеств необходимо чекисту, как
                плата за возможность хапать самому. Но в какой-то момент количество приближённых ничтожеств и количество
                награбленного достигает критической массы. Не реагировать на происходящее воровство уже невозможно. А
                что ещё хуже: всё чаще имя нацвошьдя упоминается всуе, всё чаще его открыто называют главвором, и
                называют количество миллиардов долларов украденных им.</p>
            <p>Вот тут и начинается крупномасштабная операция по прикрытию главвора. С насиженных мест выдёргиваются
                отдельные личности, и оглашается, сколько миллиардов рублей они наворовали. Блевотина вздрагивает от
                таких непомерных цифр и замирает. Затем обмякает удовлетворённая: ну, вот! Наконец-то, чекист с
                холодными руками взялся за высокопоставленных воров! Правда, этих воров ни судить, ни, тем более, садить
                ни кто не собирается. Так в самом начале было задумано. Как и рассчитывали, проведением операции двух
                зайцев убили: разговоры об украденных кем-то миллиардах у всех на слуху и эти цифры уже ни кого не
                шокируют. А главное: то, что нацвошьдь сидит на экспроприированных миллиардах долларов, считается
                нормальным. Типа: все воруют. В этой стране каждый старается отщипнуть от чужого каравая хоть крошечку.
                Вот он и отщипнул для себя. Положение обязывает. Большому кораблю – большое плаванье. Да если б он этого
                не сделал, его бы блевотина уважать перестала. Так что операция по прикрытию Путина проходит успешно.
            </p>
            <p>А пока, каждый, у кого есть возможность, тащит куски пожирнее. Да ещё и с многоходовыми комбинациями.
                Видимо, проворовавшемуся Топоркову пришлось очень туго, когда его крыша поехала. А его крыша поехала в
                Москву, на повышение. Губернатор Россель и министр сельского хозяйства области Чемизов сдуру решили, что
                они там, в Москве, будут, иметь большее, чем собираемый ими оброк с местных предприятий. И бросили
                Топоркова на самовыживание. Оно, вроде бы, для Топоркова и неплохо: кормушка осталась за ним. Но….</p>
            <p>Свято место пусто не бывает. Кто-то сразу же положил глаз на доходное, государственное, но «безхозное»
                (без крыши) предприятие. В минсельхоз области поступает заказ из той же Москвы, но уже от конкурентов
                Росселя: Топоркова убрать. Пауки в банке решились на передел сфер влияния. Топоркова благородно
                увольняют в соответствии с п. 2 ст. 278 ТК РФ – по решению собственника, за «ряд экономически невыгодных
                сделок».</p>
            <p>Директором птицефабрики ставят другого, Владимира Вальчука. Новая метла начинает мести по новому, но
                недолго. Не прошло двух лет правления Вальчука, вдруг, как гром среди ясного неба, приходит новая
                команда из Москвы: «Топоркова восстановить!». Тут же обвиняют Вальчука в злоупотреблениях, почти на 80
                миллионов. Вообще-то, у нас такие обвинения «лепятся» запросто; вплоть до обвинений: «Руки по локоть в
                крови». Надо полагать, надежды Росселя на золотые россыпи в Москве не оправдались, и он решил всё
                вернуть в прежнее русло. Пусть доход для него с Рефтинской птицефабрики был небольшой, зато стабильный.
                За последние 2 года правления Топоркова (до его увольнения) с птицефабрики было выведено 500 миллионов
                рублей. Как делились эти деньги можно только предполагать. Но, видимо, ни кто из участников дележа не
                был в обиде, если свиньи захрюкали, и решили вернуться к брошенному корыту.</p>
            <p>Забавно читать комментарии в И-нете о происходящем. Особенно меня умиляли предложения совков о том, что
                надо обратиться в ФСБ. По-видимому, они уже все созрели и пришли к закономерному выводу, что
                следователи, прокуроры, судьи, менты куплены. И у этой чвакающей блевотины осталась последняя надежда –
                ФСБ. «Ой, я не мозюю!» – так говорил кто-то из детишек. «Ой, я не могу!» – с этих доверчивых придурков.
                Они всегда перекладывают ответственность на кого-то, и всегда ждут, что их проблемы решит кто-то. «Вот
                приедет барин, барин и рассудит».</p>
            <p>Неужели, кто-то всерьёз думает, что происходящий в стране беспредел творится без ведома ФСБ? Да были в
                ФСБ документы о начавшихся хищениях на птицефабрике! С самого начала были. Оля им отдавала (а они их
                нечаянно «потеряли»). Это было несколько лет назад, хищения только начались, и речь шла всего о
                нескольких миллионах. Но под руководством мудрого чекиста Путина, Россия встаёт с колен. Организованная
                преступная группировка (ОПГ): силовые структуры, власти, правоохранительные органы, мелкие чиновники на
                местах – все когда-то начинали с миллионов. Зато теперь счёт идёт на миллиарды. Расия вперде! Как же я
                ненавижу это быдло, которое за копейку, из жадности или зависти, готово убить любого. А за украденные
                миллионы они начинают уважать или почитать. Любого.</p>
            <p>Любопытно то, что когда понадобилось первый раз снять Топоркова по указке из Москвы, с Минсельхоза
                попросили у Оли документы, подтверждающие разворовывание птицефабрики. Оля их предоставила. И Топоркова
                сразу же пнули под ж… Нет, не пнули, а взяли за жабры. Сейчас, когда Вальчук вынужден защищаться,
                корреспонденты (по его подсказке или нет) обличают Топоркова на основании тех же документов,
                предоставленных Олей. <a
                    href=" http://eburg.mk.ru/article/2013/01/30/804912-kaznokradstvo-ne-porok.html"
                    class="article__ref">Статья в МК – Урал</a>.
            </p>
            <p>Документы есть. Они везде. Оля рассылала их, куда только можно. Правоохранительные органы, наверное, ими
                уже в туалете пользуются. Хотя, может я и не прав. Потому, что эти же правоХОРОНИТЕльные органы делали
                набег на наш дом, с тщательным обыском, с изъятием компьютера, ноутбука и старого нерабочего системного
                блока. Они искали те же документы, которыми Оля завалила их. Только это произошло после того, как
                Топорков подал в суд, обвиняя Олю в клевете и в том, что она выкрала партию документов с птицефабрики.
                Вот тогда у нас и делали обыск. Обвинение в краже не подтвердилось. Но Топорков этот суд выиграл потому,
                что суд не стал рассматривать документы, которые подтверждали правоту Оли. Вот такая неразбериха с
                документами. То они есть, то их нету; то ни кому не нужны, то их ищет милиция.</p>
            <p>Меня бесит в этой истории то, что Оля сказала в своё время Топоркову: «Я не позволю обворовывать рабочих
                и грабить птицефабрику». Она считала этих людей (Топоркова, главных специалистов, рабочих) за людей. И
                надеялась, что живёт, если не в правовом государстве, то хотя бы в государстве, у которого есть инстинкт
                самосохранения. Но, всё оказалось не так. Топорков оказался востребованным и необходимым вертикали. В
                принципе, я не хочу демонизировать Топоркова. Знаю его лет десять. Это обычный русский мужик, простой
                советский человек. Видел его не раз пьяным. Это я говорю не в его осуждение. Считаю, что человек
                раскрывается полностью не тогда, когда ему удаётся совершить какой-нибудь подвиг (подвиг можно совершить
                из разных побуждений). А тогда, когда он напивается в стельку. Так вот, пьяный Топорков не казался
                мразью.</p>
            <p>Топорков был нормальный мужик. Прекрасный технолог. И он был хорошим директором (первое время). Просто он
                не смог устоять, когда ему «сверху» сделали неприличное предложение, от которого он не смог отказаться.
                Теперь становится понятным, что он на блевотине поскользнулся. Что ж? Каждый может поскользнуться. Но
                лёжа в блевотине, стать ей или нет, каждый решает сам для себя. Кто-то поднимается из неё. А кто-то
                пополняет собой её уровень. Топорков не исключение. Зато он теперь очень хорошо, органично смотрится в
                этой стране, среди такой же блевотины.</p>
            <p>Недавно, когда головная боль немного поутихла (временами она отпускает меня) я сказал Оле: «Если б было
                можно, то я бы после смерти попросил моё тело вскрыть. Ну, не может голова постоянно болеть. Что-то
                должно быть этому причиной». А про себя подумал: «Впрочем, что там врачи могут найти? По национальности
                я русский. По воспитанию – обычный советский человек. Так что если череп будут вскрывать, то мозгов там,
                наверняка, нет. Если вскроют грудную клетку – то там сердце забитое, затромбированное ненавистью. Так
                что ни каких открытий от медиков ждать не приходится».</p>
            <p>Чем кончится противостояние Топорков – Вальчук? Оба получат по башке. Не за мнимый или действительный
                вред государству. На самом деле, это ни кого наверху не интересует. Их вина в том, что нельзя было
                поднимать самовольно такой шум вокруг хищений. Это дозволено делать только с санкции Путина. Все
                «разоблачения» должны согласовываться с ним и идти по плану. Карлик сам должен давать команду на отстрел
                выбранной жертвы. Он получает удовольствие от того, что позволив воровать по крупному всем, у кого есть
                возможность, он собственноручно держит любого из них на мушке.</p>
            <p>Рассказывают, что фашисты вешали свои жертвы на телефонном проводе. Провод вытягивался, и жертва могла
                доставать кончиками пальцев ног до пола. Так она дольше мучилась. Так вот путинские богатенькие
                буратины, разбогатевшие на безнаказанном воровстве, тоже находятся в подвешенном состоянии. Путин сам
                решает: ослабить петельку или затянуть её потуже. Право этого выбора, право решать чью-то участь,
                доставляет ему оргазм, ни с чем несравнимое удовольствие. Но до сих пор он, к приручённым ворам, был
                милостив. Только те должны соблюдать основное условие: все разборки должны происходить под ковром. А эти
                двое, Топорков и Вальчук, нарушили золотое правило. Так что: скандал сейчас притушат, приглушат. Дадут
                возможность забыть о нём. А потом, в Москве, решат: кто будет и дальше командовать Рефтинской
                птицефабрикой. Кто бы ей ни командовал, он всегда должен быть признателен своему благодетелю из Москвы.
                Ну, и, естественно, кормить своего благодетеля.</p>
            <p>Страна в глубокой яме, а оппозиции нет. Каким забитым, мерзким и тупым должен быть народ, если он не
                может из своей среды, из своего общества выделить сколь-нибудь значимую оппозицию? Что ж, Путин должен
                знать и ожидать, что именно блевотина способна на бессмысленный и беспощадный бунт. Потому, что именно
                она не имеет ни какого смысла, ни какой пощады. Весь её смысл будет в протесте. Поэтому и пощады ни кому
                не будет. Что дальше ждёт эту страну?</p>
            <p>Путин, Путин! Сын своего народа, жестокий Мальчиш-Плохиш. Закомплексованный, дорвавшийся до власти и
                воплотивший в жизнь все свои больные фантазии в стране победивших рабочих Уралвагонзавода. Воистину: кто
                был ничем….</p>
            <p><a href="/articles/god-who-made-the-world" class="article__ref">Бог, создавший этот мир</a>.</p>

            <p><span class="article__subheading">1 июня</span><br><br>
                Ну и что? Приближаемся к финишу? Если для нас этот день начался как обычный, то для Надюшки он мог стать
                незабываемым днём, наполненным счастливыми событиями. Обожаемая кошка-сфинкс принесла четверых котят,
                пока её маленькая хозяйка была в школе. Ещё, Надя ждала в этот день приезда своего брата, с женой и
                маленьким непоседой Димулькой, которые не попали к ней на день рождения. И, наконец, в музыкальной школе
                должен был состояться выпускной вечер. Надя там должна была быть в числе выпускников отличников.</p>
            <p>Я, с Олей, бегло пропустив вступительную торжественную часть, аплодируя в необходимые моменты, с
                нетерпением ожидали когда в числе отличников начнут поздравлять Надюшку. И внезапно увидел, что в начале
                нашего ряда стоит Олег, жестами указывая нам на выход. «Что-то случилось?» - первое, о чём спросили мы
                его, как только вышли из зала. «Там к вам. С обыском» - ответил сын. Он не любил мой дневник и считал,
                что кроме дополнительных неприятностей такая писанина ни чего не принесёт. Похоже, что он казался прав.
            </p>
            <p>Дома, в коридоре, уже толпилось человек семь. Почему мне казалось, что они все в кожаных куртках? В
                куртках и перетянутые портупеей. На самом деле в «кожанках» были только двое, да и те без маузеров. Но
                эти ледяные непроницаемые лица, облечённые властью и находящиеся при исполнении! Это – те самые,
                «рождённые революцией». Самый громоздкий из них (как раз в «кожанке») что-то монотонно бубнил, глядя в
                бумажку. Я думал, он проводит для своих инструктаж. Но оказалось, он зачитывал нам постановление суда на
                обыск, в связи с моей экстремистской деятельностью, направленной на разжигание социальной, национальной,
                религиозной и ещё какой-то там розни. Ощущение было такое, что это всё в моей жизни уже происходило.
                Надо поменьше смотреть фильмов о доблестной милиции, о наших спецслужбах и защитниках родины.</p>
            <p>Да, как Булгаков, не люблю я пролетариата. Не люблю его правохоронительные органы, и тот самый «карающий
                меч» пролетариата. Зато, теперь, они (эти представители), озабоченные интересами государства, толпятся у
                меня в коридоре. В какой-то мере я благодарен им. Cвоим присутствием они подтвердили мой статус: я их
                враг. Я – <span class="article__accent">не такой как они</span>. Ведь, живое дерево враг всяких
                короедов. Короеды для того, что бы выжить
                питаются деревом, уничтожая его и, тем самым, порождая себе врагов. И если люмпен-пролетариат
                питательная среда для короедов (короеды получают из них пополнение своих рядов и питание), то я для
                короедов – враг. Они же, в оправдание своего существования, рядят меня в одежды экстремиста, террориста,
                пытаясь запуганным «массам» вернуть запомнившийся образ «врага народа».</p>
            <p>«<span class="article__passage">Но благодатью Божией я есмь то, что я есмь</span>». Впрочем, ссылка на
                апостола Павла, скорее послужит ещё
                одним поводом для обвинения в мой адрес: ведь я же не советский православный (то есть, являюсь
                «сектантом»»). Чекист (капитан Миляга), пытающийся взглядом просверлить во мне дырку, перетряхивая
                усердно книги, спросил: «Почему у вас столько книг американских проповедников?». – «А чем вам не
                нравятся американские проповедники?». – «Ну, если они вам нравятся, то езжайте в Америку!». Оля стала
                объяснять, что мы уезжать не собираемся, что нам не нравятся только воры в России (тут у нас с Олей на
                лицо явные расхождения). Я про себя хмыкнул, не удержался и ответил чекисту: «Нормальные люди уже давно
                поуезжали. В ту же Америку. Вы посмотрите – кто вокруг вас остались?». Ну, да. Расия вперде.</p>
            <p>А по поводу литературы я пояснил, что у меня так же стоят тома Александра Меня, двухтомник Иоанна
                Кронштадского, сборник Феофана Затворника, Петра Дамаскина; и ещё что-то из уважаемых православными
                святых. Так что: мы не только американцев читаем. «У меня даже Коран есть» - сделал я «признание».
                Чекист сразу встрепенулся: «Откуда?». Я растерялся: «Не помню. А что? Коран запрещённая литература?». У
                чекиста глаза заблестели: «Так может вам дядька с бородой Коран принёс? Тут недавно в посёлке один
                мусульманство принял. Может, и вы хотите мусульманство принять?». Сейчас уже Оля (постоянно меня
                успокаивающая) «отвязалась» на чекиста. Эта перепалка по подсказке младшего сына отражена в протоколе
                обыска.</p>
            <p>Но чекисту, ты хоть ССЫпь ему пыль <span class="article__accent">в глаза, для него - все Божбя
                    роса</span>. У них сейчас очередное задание –
                построение советского православия. Если врага невозможно уничтожить (а христианство в советской России,
                вопреки проводимой политике, сохранилось), то его нужно вначале обезглавить, а потом самим возглавить.
                Вот, сейчас советское православие, возглавленное новыми лидерами, ведёт нас к построению очередного
                светлого будущего. Уже позабыты те, убиеные за истинную веру. Так же как раньше было необходимо называть
                себя пролетарием, так и сейчас – необходимо причислять себя к православным. Иначе тебя ждут
                неприятности. «Ты ещё не православный? Тогда мы идём к тебе». Надо же: у нас в посёлке (если верить
                чекисту) кто-то из русских принял мусульманство! Ужас-то какой! Причём чекист назвал фамилию конкретного
                человека. Как же! Родина должна знать не только своих героев, но и своих предателей.</p>
            <p>А народ? А чо, народ? Он щас вздохнёт с облегчением: ещё одного врага народа удалось разоблачить нашим
                доблестным органам. Ох, и семейка подобралась этих Ткаличей! Одна клеветница и воровка, а другой ещё
                хлеще: экстремист! Может, теперь, когда вывели их (Ткаличей) на чистую воду, можно будет зажить
                по-человечески? А то задолбала извечная нищета и каторжный труд на птицефабрике. Ох, уж эти простые
                советские люди: «Вы слышали? Навальный 16 миллионов себе в карман положил? Совсем уже люди совесть
                потеряли. Но, судят его, подлеца!». А как же Елена Скрынник? Бывший министр сельского хозяйства
                Российской Федерации, которую сняли с должности за хищение 40 <span
                    class="article__accent">миллиардов</span> рублей? И ни чего, не судят её.
                Её подчинённый, директор Рефтинской птицефабрики Топорков Николай, тоже уволен с должности за хищения.
                Его, правда, восстановили. Ведь, похищенный им МИЛЛИАРД рублей – это не повод для увольнения и
                уголовного дела в нашем государстве. Местный люд вздохнул с облегчением: справедливость
                восторжествовала, старый директор снова у власти!</p>
            <p>Ау! Ну, хоть кому-нибудь нужны документы подтверждающие воровство Топоркова? Поднимите руки, у кого их
                нет? Оля за последние годы эти документы уже всем насовала. Но они ни кому не нужны. Зато её саму
                обвинили в клевете и в воровстве. Так же как Магницкого. Меня, за то, что я готов писать об этом на
                каждом телеграфном столбе, сейчас обвиняют в экстремизме. Хотя: <span class="article__accent">экстремизм
                    - приверженность к крайним
                    взглядам и, в особенности, мерам (обычно в политике). Среди таких мер можно отметить провокацию
                    беспорядков, террористические акции, методы партизанской войны</span>.</p>
            <p>И ещё один момент. Если меня обвиняют в экстремизме, то почему после обыска на допрос к следователю
                вызвали Олю? Какое отношение она имеет к моему «экстремизму»? Почему допрос начали не с меня, а именно с
                Оли? Почему нас допрашивали поврозь? Почему следователь отклонил просьбу Оли присутствовать на моём
                допросе? Она прекрасно понимала, что мне, по состоянию здоровья, станет плохо. Что после инсульта, из-за
                плохой памяти, я не смогу ответить на некоторые (или многие?) вопросы. Из-за этого она хотела быть рядом
                со мной, раз уж её тоже вызвали на допрос.</p>
            <p>Но до собственного допроса я не дотянул. Все полтора часа, пока я ожидал Олю у дверей следователя, у меня
                в голове крутились слова: «И девочек наших ведут в кабинет». Сидит за дверью, в кабинете у следователя,
                не девочка, а моя жена. За что? За то, что она воровать в этой стране отказалась. За то, что лезла ко
                всем с документами, подтверждающими многомиллионные хищения на птицефабрике. А я сейчас жду своей
                очереди к следователю, который искренне заинтересован моим недовольством по поводу властей, по поводу
                бездеятельности правохоронителных органов, по поводу этого народа, который вечно терпит, но всю жизнь
                доволен тем, что ему позволяют воровать по крохам, чтобы не сдохнуть с голода. А те, кому удалось
                дорваться до корыта, те хапают и ртом и ж*пой. Да вся эта звиздабратия Олиного мизинца не стоит. «И
                девочек наших ведут в кабинет». Я начал задыхаться.</p>
            <p>Проклятая астма! На мой первый приступ кашля Оля выглянула и сказала, что скоро всё закончится. Помахал
                ей рукой; мол, всё в порядке. Потом уже сам зашёл в кабинет и сказал, что мне плохо. Следователь сказал,
                что они заканчивают. Когда я зашёл во второй раз, Оле осталось только подписать протоколы, но я уже
                «поплыл». Следователь вызвал «Скорую». Оля, не глядя, подписывала протоколы. Гипертонический криз.
                Давление 210. Уколы. Следователи (уже с других кабинетов) окружили и не отпускали «Скорую», требуя от
                врача какую-то справку. Врач, в интеллигентной форме, объяснил им, что он, забирая больного, действует
                согласно инструкции. И послал их… по-моему, в Минздрав. А меня отвезли в больницу.</p>
            <p>Вот и всё. Сижу и жду. Пока дома. Жду, когда пригласят в кабинет. Мы же, русские, отличаемся терпением.
                Это наша национальная черта. Мы же «терпилы». А терпение (как говорят) – признак особой святости.
                Поэтому мы гордо носим название народа-богоносца. Раньше нас всех, особенно простой люд, за наш
                менталитет, называли «несунами». И это соответствовало действительности. Зато теперь, наше полное имя не
                «несуны», а богоносцы. И это тоже соответствует действительности. Великий, могучий, героический
                советский народ – богоносец! Звучит? Надеюсь, я ни кого обидел? И ни чьих религиозных чувств не задел? А
                то готов отказаться от своих слов. За какие слова извиниться? Что мы богоносцы? Или, что мы несуны?
                <span class="article__accent">«Как там в России?» - «Воруют!» -Карамзин</span>. Начало 18го века.
            </p>
            <p>Кстати, о бесконечном терпении русского народа, о святых «терпилах». У меня была в сарае чурка, на
                которой я обычно колол дрова. Но как-то в сарае тесновато, неудобно. Я её на улицу выкатил. Так она и
                стоит там, бедолага. То под снегом, то под дождём. Ждёт. А у меня, сейчас, нет силы закатить её обратно.
                К чему это всё я? Забыл! Видимо, последствия инсульта. Память даёт сбои. Вроде начал о великом терпении
                великого русского человека, а чо хотел дальше – запамятовал.</p>

            <p><a href="/articles/monster-island" class="article__ref">Остров моностров</a>.</p>
            <p><span class="article__subheading">15 августа</span><br><br>

                Девочка Анна Франк рассказывала в своём дневнике о страшном времени, когда её страна оказалась во власти
                фашистских полчищ. Жизнь маленького, всегда беспомощного человека среди врагов. Собственное бессилие,
                наверное, это самое ужасное ощущение. Я тоже веду дневник, тоже описываю происходящее. Происходящее
                вокруг и происходящее с нашей семьей. Так же, как и той девочке, мне хочется, чтобы людям стало
                известно, что приходится испытать, когда ты просто выживаешь в окружении врагов. Но в этом случае не
                враги оккупировали страну, а я сам оказался врагом собственного народа.</p>
            <p>Правда, в дни фашистской оккупации любимое чекистское выражение «враг народа» было заменено на
                определение «экстремист». Вот и меня, за мой дневник, назначили быть экстремистом. Интересно, а с какого
                момента меня начали считать экстремистом, печатающим дневник? После того, как я написал в дневнике о
                том, что в посёлке, в одном из детских учреждений был организован публичный дом? Туда, развлечься с
                мальчиками-малолетками, приезжали на иномарках высокопоставленные дяди из Екатеринбурга. Местный
                активист и редактор газеты Эдик Маркевич заснял номера машин на видеокамеру, но его, попросту,
                застрелили, а плёнка таинственно исчезла из его архивов. Убийцу, как и полагается, не нашли.</p>
            <p>Или нет. Может экстремистом меня стали считать после того, как написал о том, что на Рефтинской ГРЭС
                сожгли (выпустили в трубу) 100 тонн смертельных ядохимикатов? А перед этим, возмущённое и перепуганное
                население власти успокоили ложью, заявив, что ядохимикаты отправили назад, в Прибалтику. Хотя кто-то из
                местных монтировал установку для сжигания, кто-то разгружал ядохимикаты (это два или три вагона!),
                кто-то непосредственно сжигал их. Но ни кто из них об этом в посёлке не проболтался! Тогда можно смело
                предложить итальянцам, хозяевам ГРЭС, сжигать в топках электростанции любые отходы со всей Европы. Это
                же прибыльный бизнес! А наши работяги ни чего не расскажут – уже проверенно временем.</p>
            <p>Если эпизод с высокопоставленными педофилами характеризует наш быт и образ жизни, то случай с
                ядохимикатами показывает, как можно использовать имеющееся градообразующее предприятие в качестве оружия
                массового поражения. Какое ещё применение может быть у градообразующих предприятий? Второе предприятие –
                это Рефтинская птицефабрика. Это такая большая-большая корова, которую доят присосавшиеся власть имущие.
                То есть, это градообразующее предприятие стало для некоторых избранных собственным кошельком. В моём
                дневнике, педофилы и убийство Эдика Маркевича, сжигание ядохимикатов на ГРЭС - проходят как эпизоды.
                Зато крупномасштабному расхищению птицефабрики, практически посвящён весь дневник. Почему? Потому, что
                там главным бухгалтером работала моя жена. Именно моя постоянная писанина на эту неудобную тему и
                послужила основанием для обвинения в экстремизме.</p>
            <p>Сразу предвижу вопли «почитателей» дневника: «Значит, и она участвовала в доле! Не могла не
                учувствовать». Господа, ну, мы же взрослые люди! И все прекрасно понимаем, что у нас для обвинения нужны
                не факты, а желание посадить неугодного. Желание, и хотя бы малейшая зацепка. Отсюда берут начало «руки
                по локоть в крови», укравшие у России мировые запасы нефти, и расхищенный Кировлес на 16 миллионов. Но,
                (внимание!) если за прошедшие годы опалы, на бывшего главбуха птицефабрики, даже при самом большом
                желании, ни чего не «накопали», значит, даже зацепки не нашли. По сему, её оставили в покое, правда, со
                статьёй 129, за клевету на директора птицефабрики. Так как, судья отказалась рассматривать документы
                предоставленные Олей, подтверждающие хищения в крупном размере.</p>
            <p>Все годы, прожитые с Олей, не перестаю восхищаться ей. В частности, когда она пришла на птицефабрику, ей
                пришлось рвать те связи, которые ранее были установлены между криминальным миром и птицефабрикой. Это
                было в «лихие девяностые». Кто-то, из-за нового главбуха и её принципиальности, терял конкретные деньги.
                Первый раз ей дали понять об этом, когда подложили взрывное устройство под двери нашей квартиры. Взрыв
                прогремел в подъезде ночью. Лопнула плита перекрытия лестничной клетки, металлические двери были выбиты
                вовнутрь квартиры. Вырванный взрывом из стены элекрощиток, вместе со счётчиками висел на кабелях и
                кусках проводки. В следующий раз на её служебной машине ослабили гайки на переднем колесе. Колесо
                выкатилось из под машины на полном ходу так, что его даже не нашли. Мы пережили и это. Но мы не
                подозревали, что нас ждёт в будущем, в проклятые «стабильные путинские нулевые».</p>
            <p>Когда Путин пришёл к власти я был шокирован реакцией народа на это событие. Нет, ну вы что? Совсем тупые?
                А если бы в Германии, после её разгрома в 45 году, пришёл к власти гестаповец? Понятно, что это было бы
                гарантией того, что в стране возродятся старые порядки, что страна вернётся туда, откуда всё началось. И
                удивительно для меня было то, как Путин, по-детски просто, нашёл общий язык с народом. Стоило будущему
                нацлидеру кинуть клич: «Мочи их!», как все замерли в восторженном оцепенении на долгие годы. «Вот он!
                Наш! Дождались! Вот он, плоть от плоти своего народа!». Если Жириновский мог морды бить депутатам и баб
                за волосы таскать, то этот (наш человек!) сразу конечную цель обозначил: «Мочи». Кого? Неважно. Это в
                зависимости от обстоятельств. На кого укажут.</p>
            <p>В то время, по прошествии миллениума, за рубежом много и со страхом писали об озоновых дырах, птичьем
                гриппе, коровьем бешенстве, о всемирном потеплении. Тогда я в дневнике оставил запись, что самая большая
                угроза для населения Земли – это Путин. Но человечество меня не услышало. Я остался один со своим
                мнением. А со временем начал понимать простую вещь: каждый народ заслуживает своего правителя. Наш народ
                достоин чекиста.</p>
            <p>И я, для себя, оправдал Путина. Он – жертва. Жертва этого народа, который остановил свой выбор на нём.
                Помните, у Марка Твена, принца и нищего? Там нищий, волей случая, оказался на троне вместо принца. В
                России, принцев не бывает (у нас менталитет не такой), зато нищего из толпы выбрали настоящего. Нищего
                во всех отношениях. И вот этот несчастный нищий начал править страной таких же нищих. Нет, вначале он
                чувствовал себя счастливым: осуществлялись все его капризы. Зато, когда он понял, где он живёт, а
                главное – кто его окружает (а окружали его близкие по духу; те, кого он выбрал), вот тогда он снова
                почувствовал себя несчастнейшим из несчастных. Удачливый паук в банке с такими же пауками, но против
                которого работает время.</p>
            <p>Как нашей семье дальше жить в этом перевёрнутом мире, среди нищих пауков, жаждущих не только материальных
                благ, но и крови тех, кто мешает им на пути к земным благам? Что нас ждёт? Криминализированное Путиным
                государство – это не те одиночки, которые пытались взорвать нашу квартиру, и из-за которых дали прозвище
                девяностым годам – «лихие». Теперь против нас асфальтовый каток, вся махина государства, состоящая из
                прогнившего железа, соединенного бездушными винтиками. Но вес-то, вес какой! Все эти годы нас прессовали
                по полной программе. Сделали нищими, вогнали в долговую яму, дискредитировали, оклеветали. Эти
                постоянные суды, нашествия приставов, помои в наш адрес и змеиное шипение вслед, когда проходишь по
                улице. Посёлочек-то маленький. Где же вы, люди? А главное – за что вы нас так?</p>
            <p>Чего хотели от Оли эти насосавшиеся клопы, именуемые властью? Соучастия или молчания. Не получив ни того,
                ни другого власть принялась сживать нас со свету. О, они очень гуманны! Они не делали попыток взорвать
                нашу квартиру – это крайние меры и признак бессилия. Пустив на нас асфальтовый каток, они любезно
                предоставили выбор: возможность за эти годы сойти с ума, спиться или покончить жизнь самоубийством.
                Любой вариант (или комбинация из этих вариантов) устроил бы их. Но Бог хранил нас от этого.</p>
            <p>Кстати, когда Топорков уволил Олю, он спросил её с ехидцей: «Вот, Я вас уволил! А где ваш Бог?». Ох, уж
                эти простые советские люди! Служат сатане, но при этом считают, что Бога нет; или считают, что Он
                обязательно на их стороне. Когда с помощью Топоркова в посёлке построили церковь, приезжали попы с
                Екатеринбурга. Кричали хором Топоркову: «Аксиос! Аксиос! Аксиос!» (достоин, достоин, достоин). Конечно,
                достоин. В энциклопедии «Лучшие люди России», в разделе «Родины Славные Сыны и Дочери» красуется
                Топорков Васильевич Николай. Вы посмотрите вокруг: все, кто украл миллиард или больше – это достойные
                люди в глазах общественности. И каждый из нас мечтает оказаться на месте этих людей или среди них.
                Простые советские люди!</p>
            <p>Кстати о превратностях судьбы пауков в банке. В конце 2010 года Топоркова увольняют с птицефабрики
                (карта, где-то в Москве, не так легла). Причём, поводом для увольнения послужили те документы, которые
                Оля столько лет предлагала для возбуждения уголовного дела о хищениях. Наконец-то, ружье, которое висело
                на стене, выстрелило. Но выстрел оказался холостым: через два года Топоркова восстанавливают. Московская
                карта по-другому легла. Что за карта? Что послужило поводом?</p>
            <p>Эдуард Россель, (ныне член Совета Федераций, а до этого губернатор свердловской области) просит Паслера о
                подарке для себя в день своего рождения. Кто такой Паслер? Денис Паслер – председатель правительства
                Свердловской области. О каком подарке идёт речь? Да так, мелочёвка. Россель просит Паслера назначить
                директором Рефтинской птицефабрики уволенного за воровство Топоркова. А как же документы о расхищении
                птицефабрики? А что делать с Ольгой Ткалич, с этим неугомонным борцом с коррупцией? А с дневником её
                мужа? Выход простой – нет человека, нет проблем. И если бывшего главбуха не смогли посадить, то на эту
                роль подойдёт её муж. Вот эти уважаемые люди, руками прихвостней из ФСБ и правоХОРОНИТЕЛЬНЫХ органов
                пытаются слепить из меня экстремиста. Хорошая эта штука – ручное управление при вертикали власти. Сразу
                восхожу к истокам: обед, Путин, Якунин, глухарь, сообщение пресс-службы правительства об отставке….</p>
            <p>Чего ожидаю сейчас? О том, что меня рано или поздно обвинят в экстремизме, я <a
                    href="/diary-chosen/extremist" class="article__ref">написал</a> ещё в марте 2009
                года. Так что, ни чего неожиданного не произошло. Сказать, что уповаю
                на Господа – это дать повод советским людям похихикать и задать тот же вопрос: «А где твой Бог?». В том,
                что в дневнике эксперты найдут этот самый экстремизм, я не сомневаюсь. В кошачьем хвосте они сумели
                разглядеть фаллос, и на основании этого подозреваемому дали 13 лет. Адвокаты, даже самые искусные, в
                нашей стране бессильны. Я говорю по примеру Ходорковского. Печально, но считаю: отсидеть срок в этой
                стране, для порядочного человека это и честь и прививка от патриотизма.</p>
            <p>Считаю ли себя экстремистом? Нет. Я, как Анна Франк, пытался рассказать о страшном времени, которое для
                нашей семьи ещё не закончилось. Но очевидцев, как и ясновидцев, во все века сжигали люди на кострах.
                Кто-то упрекнёт, что в дневнике слишком резко отзывался о дорогих соотечественниках? «Ужаснись сам себе»
                – это фраза из блога Кончаловского. Мудрая фраза. И я пытался показать в дневнике как, на самом деле, мы
                ужасно выглядим со стороны. Я пытался поставить ужас перед зеркалом, чтобы он увидел сам себя и показать
                этот ужас другим.</p>
            <p>Только истинное понимание себя, чистый, заинтересованный взгляд в собственную душу, может привести к
                покаянию. Для того, что бы убить дракона не обязательно убивать кого-то. Вначале, надо заглянуть в
                самого себя. Увидеть себя и ужаснуться. За этим последует покаяние, которого так боится Путин и весь наш
                народ-богоносец. Я хотел только обозначить болезнь, и (к сожалению, так как я христианин) не звал на
                баррикады. «Будет и того, что болезнь указана, а как её вылечить – это уж бог знает!». Надеюсь, что
                Лермонтова ни кто не будет обвинять в экстремизме. Он тоже хотел обнажить болезнь русского человека.</p>
            <p>Мне хочется отдельно выразить благодарность начальникам из ФСБ. Я очень признателен вам за тех придурков,
                которых вы держите в штате. Какие кадры у вас работают! Я не о Путине, хотя это тоже ваш кадр. В общем,
                впервые я был удивлён, когда ваш сотрудник заявил, что документы, предоставленные Олей о хищениях на
                птицефабрике, бесследно исчезли. До сих пор гадаю: вы продали документы Топоркову? Или кому-то другому,
                кто шантажирует ими Топоркова?</p>
            <p>Потом я удивился <a href="diary-chosen/running-for-mayor" class="article__ref">активному
                    противодействию</a> ФСБ Олиной кандидатуре на выборах в мэры. А <a href="/diary-chosen/islanders"
                    class="article__ref">как нагло, совершенно по скотски</a>,
                вёл себя ваш сотрудник при
                обыске, предлагая при этом: «Не нравится? Езжайте в Америку!». Затем,
                ваши кадры проявили инициативу, сделав рекламу моему дневнику, который особой известностью до этого не
                пользовался. Вначале, мысль-то была у них правильной: закрыть доступ к дневнику. А после этого можно,
                приводя фразы, выдернутые из контекста, смело обвинить меня не только в экстремизме, но и в том, что я
                танцевал на развалинах замка. Но, неужели у этих рыцарей плаща и кинжала, у этих тупиц, не хватило ума
                проверить: есть ли у меня «зеркала» с того, закрытого ими сайта? А «зеркала» были. И зарегистрированы в
                Германии: <a href="http://www.tkalitsch.strana.de/" class="article__ref">первое</a> и <a
                    href="http://www.criststatji.strana.de/" class="article__ref">второе</a>. Народ, после такой
                «рекламы» (запретный плод сладок), толпой повалил на незакрытые пока сайты. Так что, ещё раз: я вам
                очень признателен, господа чекисты. Хотя, знаю, что вы злопамятные и мстительные; создатели врагов
                народа, у которых «руки по локоть в крови».</p>
            <p>Кстати, вопрос ни к кому: а что если б бывший главный бухгалтер продолжала работать на прежнем месте?
                Миллиард рублей тогда не был бы украден. Птицефабрика продолжала бы процветать, а не чахнуть как сейчас.
                Ведь, в «лихие девяностые», когда другие птицефабрики закрывались, Рефтинская встала на ноги и была
                примером для оставшихся. По-моему предвзятому мнению, это произошло только благодаря Оле. Чем занималась
                главный бухгалтер в вынужденном «творческом отпуске» последние годы? Разводила и торговала карликовыми
                кроликами; держала куриц, чтобы продавать яйца – выживать-то как-то надо было. Правда, это достойное
                занятие для специалиста в нищей России? Или, может потому Россия и нищая, что здесь под корень выводят
                честных, умных, достойных людей? Зато процветает плесень.</p>
            <p><a href="/articles/christian" class="article__ref">Христианин</a>.</p>
            <p><span class="article__subheading">9 ноября</span><br><br>

                Сегодня мой день рождения. Настроение? По-прежнему – жду. Просто жду. Похожее состояние уже было в моей
                жизни. Перед этим хирург вырезал выросшую шишку у меня на пальце и почему-то попросил съездить в Асбест
                в лабораторию, сделать анализы. Я съездил в лабораторию и стал ждать результатов анализа. В лаборатории
                поставили диагноз: рак-саркома. Через некоторое время сообщили, что я должен ехать в Екатеринбург и там
                сделают окончательный анализ. На все это ушло месяца два.</p>
            <p>Что я пережил за это время? Огромное напряжение: все силы уходили на то, чтобы поддерживать перед Олей
                бравый, независимый вид. Это было нелегко. Но было бы ещё трудней увидеть страдающую Олю. Поэтому,
                повода для переживаний старался ей не давать. Так, будто между делом, показывал ей, как и где можно
                перекрыть воду в дом, если что-то случится с вентилем или лопнет труба. Ну, и другие проблемы, которые
                могут возникнуть у хозяина. Мы оба делали вид, что у нас всё нормально. И ждали. Оба ждали.</p>
            <p>И вот меня пригласили в онкоцентр Екатеринбурга. Поехали вместе с Олей. Коридор, скамеечки вдоль стен.
                Сидящие серые фигурки, сгорбившись, чего-то ждали. Мы знали номер кабинета, который был нам нужен. Но
                коридор казалcя бесконечным. Мы шли вдоль шеренги людей, сидящих с абсолютно пустыми, отсутствующими
                глазами. Они словно смотрели вовнутрь себя, как будто что-то проверяя или к чему-то прислушиваясь. Да!
                Сейчас вспомнил: это же видел Филатов в фильме «Забытая мелодия для флейты», когда у него сердце
                остановилось, и его душа оказалась в помещении для ожидающих своей очереди на тот свет.</p>
            <p>У дверей нашего кабинета так же сидели ожидающие. Выяснилось, что очередь в кабинет занимать не надо.
                Просто – жди. Выйдут, назовут твою фамилию и подтвердят твой диагноз. Время замерло. Оно не
                существовало. Люди сидели, избегая коснуться друг друга, как будто боялись заразиться. Изредка дверь
                открывалась. И тогда появившийся в дверном проёме человек в белом халате оглашал приговор кому-то из
                ожидающих серых теней.</p>
            <p>В очередной раз все вздрогнули и опустили лица: открылась дверь. Дождался – прозвучала моя фамилия. И
                приговор: «Результат отрицательный». Я знаю, что всё отрицательное – плохое. Значит, всё плохо. Человек
                в белом халате, глядя на меня, протягивает бумажки с результатами анализов, снова повторяет: «У вас
                отрицательный результат». Да, понял я, понял: отрицательный! И тут замечаю, что вокруг все смотрят не в
                пол, а на меня. «У вас нет рака» – специально, для особо одарённых, повторил лаборант.</p>
            <p>Оля подхватила меня под локоть. Другой рукой взяла у лаборанта документы, поблагодарила и мы пошли.
                Теперь тени, смотрящие в пол, обрели лица и глаза. Глаза смотрели на нас, а лица поворачивались за нами
                вслед, как подсолнухи за солнцем. Словно весть о том, что у меня нет рака, искрой тока пробежала по
                всему коридору еще до нашего приближения. Чьи-то глаза загорались надеждой. А кто-то смотрел с
                раздражением, чуть ли не с ненавистью. На улице Оля неожиданно сказала: «Слушай, давай мы тебе джинсы
                новые купим?». «Какие джинсы? В честь чего? У меня эти нормальные». «Да какие нормальные? Старьё уже». И
                что на неё нашло? Ну, не стал ей портить настроение, согласился на новые джинсы. В такой день и капризы
                жены потерпеть можно.</p>
            <p>Сейчас мы снова ждём. В очередной раз ждём результатов анализа. Эксперты должны дать заключение: являюсь
                ли я больным и, что намного страшнее, заразой для нашего общества; нуждаюсь ли я в изоляции. Экспертиза,
                судьи, прокуроры, следователи - вся эта прикормленная властями компания получила команду «Фас!». Всё это
                время меня не покидает изумление абсурдностью ситуации. За что нас преследуют все эти годы? За что из
                нас с Олей упорно пытаются сделать преступников? Ответ прост настолько, что в него не верится: в России
                возрождается новая элита.</p>
            <p>Как это делается? Берётся помойное ведро. Его содержимое перемешивается палкой. Всё, что всплывёт наверх
                в результате возмущения содержимого ведра, назовёт себя элитой. Каким качеством (кроме запаха) обладает
                эта элита? Легковесностью. Она не обременена совестью, нравственными принципами, умом или особыми
                талантами. Именно поэтому, в соответствии с законами физики, она всплыла на поверхность, невзирая на
                негативные последствия для всех других. Правда есть ещё один закон – библейский, который гласит: «<span
                    class="article__accent">мене, мене, текел, упарсин</span>». Но народ-богоносец едва ли о нём слышал.
                Даже если и слышал, то героический
                советский народ напугать невозможно.</p>
            <p>А как же та, остальная, нижняя часть содержимого ведра? Она ведь тоже была возмущена? И с ней происходит
                всё в соответствии с законами, только на этот раз с законами биологии. Чем сложнее организм, тем более
                он противоречив и тем больше ему нужно для самоудовлетворения. Амёба едва ли испытывает какие-либо
                чувства. Зато кошка в состоянии испытывать удовлетворение, если у неё в блюдце налито молоко и хозяин
                гладит её по спине (только обязательно вдоль шерстки). Домашнему животному, в отличие от простейших, уже
                даны в ощущения чувства. Но животным много не надо для того, чтобы стать счастливыми: еда в миске и чтоб
                хозяин гладил по шерсти. Так что возмущённая нижняя часть ведра успокаивается очень быстро. Для примера:
                вспомните перестройку.</p>
            <p>Советские люди – это те же самые нетребовательные домашние животные. Похлёбка в миске у них всегда есть.
                Хозяин, когда в настроении, гладит их по шёрстке, приговаривая что-то о великом, могучем, героическом
                советском народе. Чем проще живые организмы, тем ниже у них запросы. Им не до изысков, не до духовной
                пищи, они обходятся материальной. Эти неприхотливые животные со дна ведра (подонки), постоянно
                подпитывают и пополняют собой верхние слои. Стоит ли удивляться, что у власти сейчас обычные подонки? К
                тому же – легковесные. И вот эти калифы на час, «сливки общества» решили застолбить за собой место
                элиты.</p>
            <p>Ирония судьбы? В начале прошлого века предки нынешних подонков уничтожили имеющуюся элиту: умных,
                богатых, независимых людей. Но уже через несколько поколений нищие совки устали от лозунга «Свобода,
                равенство, братство» и сократили его до одного слова «Богатства!». Под новым лозунгом начали воровать в
                особо крупных размерах. Отличившиеся в разграблении государства легковесные «сливки общества» для
                престижа и узаконивания собственного положения решили возвести себя в статус элиты государства (элита –
                избранная, лучшая, неотъемлемая часть любого социума).</p>
            <p>Как этого добиться? Строжайшим исполнением действующих законов и постоянным созданием новых, более
                жёстких. Это для рядовых подонков, прежних советских «несунов», чтобы те знали своё место. А для себя,
                любимых, и для своих друзей – полная вседозволенность, безнаказанность и даже переписанная Конституция.
                «Друзьям – всё, остальным – закон». Именно это происходит в России. «Блажен, кто посетил сей мир в его
                минуты роковые». Да не хотела Оля становиться блаженной. Не хотела. Она хотела оставаться честной. Ей
                казалось, что стоит только доказать, что жулик – это жулик, и проблема исчерпана. Все будут благодарны.
                Ни ей, ни мне в голову не приходило, на что она замахнулась.</p>
            <p>На тот момент она хотела остановить директора-жулика. Да и брал-то он сущую мелочь. Откуда она знала, что
                собирается покуситься не на жулика-одиночку, а на фундамент пирамиды. Сама пирамида уходит на
                недосягаемую высоту. На недосягаемую для нашего правосудия. Во всяком случае, за все эти годы борьбы с
                коррупцией Оля ничего не добилась, кроме неприятностей. Надежда на какие-то изменения вспыхнула после
                того, как у Оли появилась возможность доказать, что цифра украденного на птицефабрике уже возросла до
                миллиарда рублей. Даже для очень везучего жулика-одиночки это было много. Конечно, мы понимали, кто
                стоит за спиной директора птицефабрики.</p>
            <p>Но мозаика всего происходящего складывалась медленно, годами. Вначале мы видели только частный случай
                хищений на птицефабрике. Потом поняли, что директор «работает» не в одиночку, а под «крышей» и
                по-крупному. Поняли, что через областного министра сельского хозяйства директора крышует губернатор. Уже
                только после этого до нас дошло, что они «доят» не одну Рефтинскую птицефабрику. Птицефабрик по области
                у нас несколько. И надо полагать, интересы губернатора не ограничивались сельским хозяйством. Так что
                речь идёт не об одном смехотворном миллиарде.</p>
            <p>Вот тогда мы с Олей поняли, что случившееся на птицефабрике – это не злоупотребление, не преступление.
                Это – СИСТЕМА, в которой формируется новая элита России. Тот, кто пытается раскрыть подобные хищения, –
                он не поборник добра и справедливости. Он личный враг для системы. Поскольку сложившаяся система
                выделяет собственную элиту, то поборник законности автоматически становится врагом избранной, лучшей
                части общества этой страны. Это уже не враг народа, а хуже – это экстремист. А раз система включает в
                себя представителей элиты правоохранительных органов, то правоохранительные органы стали работать на
                защиту системы, сменив своё амплуа на правоХОРОНИТЕЛЬНЫЕ карательные органы, вместе с ФСБ.</p>
            <p>Благодаря этой метаморфозе моя жена из борца с коррупцией стала клеветницей; а мне, как недовольному
                происходящим, за длинный язык готовится присвоение звания экстремиста, со всеми вытекающими
                последствиями. Но, наверное, кого-то огорчу, признавшись, что не был никогда так счастлив, как в это
                время ожидания очередных анализов. Я не сомневаюсь в результате экспертизы, в том, что за доставленное
                беспокойство новоявленной элите, меня назначат экстремистом. И куражусь напоследок, зная, что от меня
                ничего не зависит.</p>
            <p>Это если только Бог, внимая Олиным молитвам, не сделает отрицательными результаты экспертизы моего
                компьютера. Наш знакомый, узнав, что у него рак, повесился. А я куражусь. Пишу на «Гранях», в
                комментариях, под своим именем всё, что думаю о происходящем в России, о политике Путина, о задавившей
                всё коррупции. Я счастлив этим. Я счастлив нашими отношениями с Олей. Они и до этого были такими, что
                нам завидовали все. А сейчас она, как никогда, предупредительна и ласкова со мной. Мы никогда не говорим
                о том, что меня может ожидать. И я благодарен ей за это.</p>
            <p>Представители новой элиты, обслуга, гарантирующая им покой и сохранность, путиноиды и обычные совки. Вы
                можете сказать, что вы счастливы в этом государстве? Я могу.</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>