<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дневник соотечественника | 2014</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Дневник соотечественника, 2014 год</h1>


            <p><span class="article__subheading">4 февраля </span><br><br>

                Вчера утром позвонил следователь. Вначале, он представился, и я с удивлением отметил, что у меня новый
                следователь. Он попросил зайти к нему в конце рабочего дня. Наш адвокат, как бы, был не нужен, поскольку
                предстояло только ознакомиться с результатами экспертизы и расписаться за это. Следователь поставил нас
                в известность, что результаты экспертизы «Дневник соотечественника» в нашу пользу.</p>
            <p>Мы, с Олей, подъехали к 16 часам. Молоденький мальчик (для меня все кто младше 30 лет, молоденькие
                мальчики или девочки) встретил нас в коридоре, открыл свой кабинет и дал нам для ознакомления результаты
                экспертизы содержимого моего компа. Читала, в основном, Оля. Потому, что я то и дело выбегал на улицу
                отдышаться. В соседних кабинетах с открытыми дверями было накурено так, что даже в коридоре можно было
                вешать топор. Астма – это мне награда под старость за то, что я не курил всю жизнь.</p>
            <p>Когда Оля закончила читать, я просмотрел заключительную часть экспертизы и расписался там, где указал
                следователь. На улице падал снег. Мы шли на остановку, как будто очнувшись от страшного сна. Я старался
                не наращивать в себе радость от происшедшего. Давлению было всё равно от чего прыгать: от моей радости
                или от ожидания неизбежных неприятностей. Оля что-то говорила мне о двух женщинах, которые провели
                экспертизу: какие они умные, а главное – честные. Ведь, могли бы, идя навстречу пожеланию трудящихся из
                ФСБ, подтвердить уже приготовленный для меня приговор: гад, враг народа, клеветник. В итоге –
                экстремист, с угрозой перерастания в террориста.</p>
            <p>Мне стало как-то удивительно и неловко за себя. Я был уверен, что при Путине подошло время, когда «Сатана
                гулять устал, - Гаснут свечи, кончен бал». То есть, мы подошли к финишу. Бал-маскарад совков закончился.
                Последним проявлением мимикрии, притворства совков – была перестройка. Спасибо Путину. Его функция была
                в том, что бы создать все условия, при которых совки должны были сбросить маски, показать напоследок
                своё истинное лицо. И вот, вокруг, остались одни свиные рыла и какие-то рожи упырей. Но на этом
                празднике сатаны, каким-то образом, сохранились обычные люди. И мне неловко за то, что я отказал им в
                праве на существование. А они как-то выжили, пусть даже сейчас не делают погоды. Спасибо вам, прекрасные
                (и добрые) незнакомки. Простите меня за то, что я ни чего хорошего от этой жизни не ждал, и вы оказались
                неожиданным подарком.</p>
            <p class="article__remark">Ввиду того, – заговорил Воланд, усмехнувшись, – что возможность получения вами
                взятки от этой дуры
                Фриды совершенно, конечно, исключена – ведь это было бы несовместимо с вашим королевским достоинством, –
                я уж не знаю, что и делать. Остается, пожалуй, одно – обзавестись тряпками и заткнуть ими все щели моей
                спальни! – Я о милосердии говорю, – объяснил свои слова Воланд, не спуская с Маргариты огненного глаза.
                – Иногда совершенно неожиданно и коварно оно проникает в самые узенькие щелки. Вот я и говорю о
                тряпках.</p>
            <p>В магазинчике, возле нашего дома, Оля накупила всяких сладостей к чаю. Я про себя хмыкнул: «А прошлый
                раз, когда у меня не подтвердился диагноз рака, она мне новые джинсы купила. На этот раз, когда диагноз
                не подтвердился, хочет обойтись чаепитием». Но, сейчас было только начало месяца, до пенсии ещё две
                недели; джинсы теперь я донашиваю те, которые мне отдают сыновья. Так что, как всегда, Оля права. И
                самое главное для грядущего торжества: задвинутая в дальний угол кухонного стола, дожидаясь своего часа,
                стояла початая бутылка коньяка (исключительно для медицинских целей).</p>
            <p>А если не ёрничать над самим собой, то Бог снова услышал и ответил на Олины молитвы. Вот и ещё раз в моей
                жизни опровергнут диагноз, поставленный авторитетными людьми. Почему молитвы обо мне были только со
                стороны Оли? Потому, что я в свою очередь, молился за Олю с Надюшкой. Знал: вначале, им без меня было бы
                очень трудно. Но потом, когда я вернулся бы из мест заключения, для них всё стало бы ещё страшнее.
                Вместо меня был бы мешок с картошкой, который надо кормить, переносить с места на место и убирать из-под
                него. Поэтому и решил, что после суда, лучший выход для меня – прекратить принимать лекарства и объявить
                голодовку. Не понарошку, чтобы привлечь внимание (за столько лет мне не удалось этого сделать). А
                всерьёз и до конца. Смог бы я? До конца? Смог бы.</p>
            <p>Теперь, зная результаты экспертизы и не состоявшегося обвинения, могу рассказать о мотивах такого
                решения. Видимо, я плохой христианин, потому, что главным и первым моим мотивом была ненависть.
                Ненависть и бессилие. Нашу семью десятый год прессуют по полной программе со всех сторон. Мы выживали
                вопреки всему. Девять лет в поисках элементарной справедливости и соблюдения законов. Помню, как к нам
                заладили приезжать приставы. Первый визит: они описали имущество. Кто это пережил, тот знает, что это
                такое – визит приставов. Но они приехали ещё раз: проверили сохранность имущества и провели его
                переоценку в меньшую сторону. Потом они наведались ещё раз, якобы для проверки сохранности имущества по
                списку. Приехав в четвёртый раз, вертлявый пристав с помощницей заявил, что вывозит всё наше имущество.
                Мы остаёмся в пустом доме!</p>
            <p>Оля начала обзванивать всех подряд и вышла на начальника приставов. Тот заявил, что вывозить наше
                имущество нет необходимости, он такого распоряжения не давал. Мы выпроводили пристава и сопровождающую
                его женщину. Я описал всё происшедшее в дневнике, опубликовал в Интернете. А копии, снятые с «Вестника
                Цивитас», Оля отдала приставу, вторую – его начальнику. Пристав уволился сразу, по собственному желанию.
                Женщина недели через две. Оказывается, это у них был такой бизнес: описывали по дешёвке имущество, а
                потом сами продавали его. И это всё закончилось для них безнаказанно. Мне не хотелось переживать ещё раз
                что-то подобное.</p>
            <p>А как могу защититься в этом ненавистном государстве, будучи практически беззащитным перед ним? Поставить
                топор у дверей? Но государство, оно как бог – всемогуще, оно во всем, оно везде, оно всесильно.
                Ненависть распирала меня, и я решил: если кто-то ещё, вот так же, придет ко мне в дом – не пущу. Если не
                уйдут сами, у них на глазах пробью себе ладонь ножом. Будет им этого мало, предупрежу, что перережу себе
                вены. Полагаю, что это грех, равносильный самоубийству. Но я сказал: «Господи, Ты видишь – я не хочу
                этого. И если Ты этого не хочешь – не допусти такого». И больше пристава к нам не приезжали. Зато потом
                приходили с обыском. Два раза. Первый раз по обвинению, что Оля, якобы, выкрала документы с
                птицефабрики, второй раз – по обвинению меня в экстремизме. Не первое, не второе обвинение не
                подтвердилось.</p>
            <p>Ну? Кто, как думает: я имею право на ненависть к окружающему меня миру, на этом балу сатаны? У вас
                проводились обыски по нескольку раз? И какого вы остались впечатления? Именно поэтому я смог бы довести
                голодовку до конца. Даже если б промучился недель 5 – этот период меньше, чем последние годы моёй жизни.
                Я был ничтожеством, как и все, среди ряженных карнавальных совков. Ничтожеством и остался. Но, если
                раньше был полностью зависим от ФСБ, от экспертизы, от решения суда, то сейчас мне приятно от мысли, что
                всё-таки могу стать независимым и самостоятельным. Заодно прекратить бесполезные поиски справедливости.
                А вы тут завершайте свой бал.</p>
            <p>Неделю не прикасался к дневнику. Проснулся среди ночи. Пытался положить тело так, что бы ему было удобно.
                Иногда это помогает. Боль уходит, растворяется и оно, благодарное, засыпает. Но тут ни чего не помогало.
                Будто еще какой-то гвоздь вошёл в плоть и терзал её своим присутствием. Гвоздь. Я вспомнил. Потное,
                извивающееся тело подо мной. Я его мну. Моё тело налито тяжёлой каменной силой. Я таким был лет 20-30
                назад. Я мну чужую сопротивляющуюся плоть, придавая ей какую-то позу. Фиксирую её. Когда-то я занимался
                самбо. Я знаю, что подо мной Путин. Я, как паук, оплёл его руками и ногами и… начинаю в него вколачивать
                гвозди.</p>
            <p>Гвозди. Вот что не даёт мне уснуть. Дурацкий сон, дурацкое видение. Теперь ещё и дурацкое воспоминание о
                кошмарном сне. Понял, что не усну. Красная площадь, голый человек сидит на земле, широко раздвинув
                колени, с прибитой мошонкой к земле. Эта фотография потрясла меня. Худое, голое мужское тело, безмолвно
                выражающее бессильный протест. Довели, сволочи. Гвоздь, пронзающий кожу и уходящий в брусчатку. Нет, я
                точно не усну. Поднялся, померил давление: 196 на 100. Много. Не мудрено, что мне кошмары снятся. Надо
                же: Путин приснился.</p>
            <p>Психиатрам после этого есть над чем подумать. Да и ФСБ тоже. Как же: на Путина руку поднял! Скорее всего,
                они как-то объединятся и придут в согласованное действие. То есть, ФСБ опять настоит на экспертизе,
                только уже не компьютера, а меня. И экспертиза уже не у лингвистов, а у психиатра. А чего мне
                притворятся? Да, иногда сам сомневаюсь в своём психическом здравии. Глядя на окружающих людей, на их
                реакцию, вернее, на отсутствие реакции по любому значимому поводу, я всерьёз задумываюсь над тем, что
                кто-то ненормален: или этот народ. Или я, которому не нравится этот народ. Но нас ещё в школе учили, что
                народ ошибаться не может. У него классовое чутьё, поэтому он от ошибок застрахован. Значит, ненормальный
                я. Но если понимаю, что я ненормальный, значит я нормальный? Ладно, оставим эту дилемму для решения
                очередным авторитетным людям.</p>
            <p>Сегодня – 23 февраля. Первый раз не пошёл на воскресное служение. Не смог себя заставить. Чувствовал,
                действительно, себя поганенько, хотя бывало и хуже. Но сегодня братьев-христиан будут поздравлять сёстры
                с днём Защитников родины. Наверняка, будет общая молитва за защитников. А я буду стоять и думать, как
                эти защитники 23 февраля начали депортацию чеченцев и ингушей. Как мы оккупировали Венгрию,
                Чехословакию. Не могу же я кривить душой, смотреть на это как на спектакль и одновременно понимать, что
                нахожусь на богослужении. Ведь, большинство (опять большинство!) из присутствующих людей будут молиться
                искренне. Скорее всего, ни кто из этих людей не задумывается над тем, что каково государство – таковы и
                защитники.</p>
            <p>Да я сам ещё недавно не задумывался. И по собственной тупости не видел врага в лице государства. Но оно
                само назначило меня быть врагом, поскольку Оля оказалась честным человеком, а я на её стороне. Про
                Украину, вообще, молчу и не высказываюсь. Многие вспыхнули надеждою на благополучный исход и
                освобождение Украины от российского ига. Я же боюсь, что мы зальём кровью эту страну, и молчу. «Ведь
                очевидцев, как и ясновидцев, во все века сжигали люди на кострах». А беглого раба всегда ловили и
                жестоко наказывали с помощью тех же «защитников».</p>
            <p>Ненависть – страшная штука, разрушающая всё, кроме самой себя. Более того, ненависть постоянно черпает
                подпитку в самой себе. Россия – это инкубатор ненависти. Она не может ни чего производить, кроме
                ненависти. Люди заражены ею и находятся в состоянии постоянной войны всех со всеми. Понимаю – это
                ненормально для христианина, но я полон ненависти к этой стране. Оправданием ненависти служит моя любовь
                к своей жене, семье, к дому (который не является моей крепостью). И, будучи беззащитным в этом
                государстве, пытаюсь защитить их. Почему заступаясь за них, в поисках справедливости я попадаю в разряд
                экстремистов? Я же только хочу оставаться человеком. И почему мне в этом отказывают? Или в нашем
                государстве хороший человек – мёртвый человек? Поэтому государство стремится выполнить план по хорошим
                людям?</p>
            <p>Да, я сдался в борьбе с ворами в государстве жуликов и воров. Привык к ощущению присутствия болезни, к
                чувству боли; но не могу привыкнуть к постоянному чувству ненависти. Всё это так, и я хочу сказать
                дорогим соотечественникам: «Это мы построили такое государство. И нам в нём жить. В наказание. До тех
                пор пока мы не изменимся (или не станем хорошими). ФСБ нам в помощь». Для верующих людей эта фраза
                прозвучит по-другому: «Это мы построили такое государство. И нам в нём жить. В наказание. До тех пор
                пока мы не покаемся и не станем другими. Бог нам в помощь».</p>

            <p><span class="article__subheading">17 марта </span><br><br>

                Так бывает обычно в детстве: какой-то эпизод, случай, предмет вдруг переворачивает весь наш мир. И
                меняемся мы, наше мировосприятие. С взрослыми это происходит редко. Но происходит. Помню, кто-то, совсем
                по-детски, делился своими впечатлениями о первых днях пребывания в США. Его больше всего поразило мыло,
                которое не тонет в ванной. Ты сидишь по плечи в воде и не надо ловить скользкое мыло где-то на дне
                ванны. Кусок мыла плавает на поверхности вокруг тебя, угодливо дожидаясь, когда ты его возьмёшь в руки.
                Вот такое непривычное для нас внимание к человеку: плавающее мыло. Оно выглядело чудом, верхом заботы о
                нуждах человека. Забота, которая может проявляться во всём. Это было неожиданно. Оказывается: мир,
                окружающий ДРУГИХ людей – он совсем не такой! Конечно, тут в сознании что-то перевернётся.</p>
            <p>У меня тоже был похожий переворот в сознании и тоже на мелочи. Это был появившийся в продаже тюбик с
                импортным клеем, который клеил всё и схватывался почти мгновенно. Для советского человека, которому
                приходилось чинить, штопать, склеивать, ремонтировать старые вещи, такое приобретение было чудом. Но не
                меньшее удивление вызывала заботливо вложенная в упаковку специальная иголка, для прокалывания мембраны
                на тюбике перед использованием клея. Проколол тюбик – и иголку выбрасывай. Но, конечно, у нас её ни кто
                не выбрасывал: в хозяйстве всё пригодится.</p>
            <p>Вторичное потрясение (уже негативное) я пережил, когда продавать начали такой же клей, но уже «местного
                разлива». Клей оставался тем же чудо-клеем, но иголки в упаковке не было. Вот это мне показалось
                оскорблением: почему я должен искать гвоздик, ножик, булавку чтобы проковырять дырку в тюбике? Почему в
                других странах человек пользуется этим клеем с предусмотрительно вложенной иголкой. А моё государство
                меня, что, за человека не считает? Или экономит на мне таким образом?</p>
            <p>Казалось бы: какие глубокие переживания может оставлять плавающий кусок мыла или отсутствие булавки для
                протыкания тюбика? Тем не менее, эти воспоминания времён перестройки напомнили о себе, когда я (недели
                две-три назад) шёл по Федеральному центру травматологии, ортопедии и эндопротезирования. Впечатление
                было непередаваемое. Стекло, бетон, сталь, пластмасса. Объёмы воздуха заключённого в ограниченное
                пространство и свет. Как в случае с импортным клеем скопировано было всё идеально: внешний вид,
                технология изготовления и, вот этот, нам чуждый лоск и совершенство. Я нес свои костыли (на них должен
                был ходить после операции), медсестра – две мои полупустые сумки. Лифты, прозрачные переходы, где
                медсестра придерживала для меня стеклянные двери, чередовались друг за другом.</p>
            <p>Мы остановились у палаты с цифрой 25. Медсестра, потянув на себя дверь, пропустила меня в просторный
                тамбур. Направо: дверь в туалет, высокий унитаз (после операции, с негнущейся ногой, на обычный унитаз
                не сядешь), тут же душ, и длинный красный шнурок, до которого дотянешься, если даже упал на пол. Это
                вызов медсестры. Прошли в палату. Высокая, необъятная палата, полная солнца. Всего две койки, но такие
                хитроумные, что если бы они поехали, повинуясь моему голосу, я бы не удивился. Многодверный шкаф прятал
                в себе пустые полки, пластмассовые плечики, общий холодильник, и по индивидуальному сейфу на каждого
                пациента. Медсестра показала ещё «тревожные» кнопки с двух сторон кровати. Но это всё потеряло интерес,
                так же как и панель на стене, к которой можно было подключить любое медоборудование: всё внимание
                сосредоточилось на тумбочке-трансформере, с обедом.</p>
            <p>Первая проблема, которая тут же возникла, а куда девать костыли, чтобы можно было приняться за обед? Если
                кто знает, тот подтвердит, что поставить костыли к стене, чтобы они не упали, очень трудно. Удобно их
                ставить в углу, который от кровати в двух метрах. Дойти до угла – это не проблема до операции. Как быть
                после операции? Ползти ползком до костылей? Класть их под кровать? Но их оттуда доставать так же трудно,
                как и ползти до угла. Неужели нельзя было сделать в изголовье, на стене, вешалку (крючок) для костылей?
                Лёжа, подними руку к верху и костыли у тебя. Простите, но в туалете та же самая проблема: ближайший угол
                занят мусорной корзиной. Помещение размером 3 на 3 метра. Здоровый человек может хотя бы пританцовывать,
                пока устанавливает возле унитаза костыли. У прооперированного возможности пританцовывать нет.</p>
            <p>А пока я сел обедать. Первое, второе, хлеб, компот – всё как у людей. Понятно, что ни вилки, тем более ни
                ножа, в помине не было. Всё было как обычно, как в колхозной столовой: поел первое, об задницу вытираешь
                ложку и принимаешься за второе. Потом, эта же ложка служит чайной ложечкой. Вот тут мне вспомнился
                импортный суперклей: технологию изготовления мы приобрели, сохранив при этом чужую красивую упаковку. Но
                вот положить для удобства потребителя булавку – накося выкуси. Советский человек обойдётся без всяких
                ненужных буржуйских излишеств. Зато из сэкономленных булавок мы такие «Булавы» клепаем!</p>
            <p>Полагаю, что в этом Федеральном центре оперировали людей не только из глухих деревень, где самая высокая
                должность – председатель колхоза. Наверняка, были руководители и более высокого ранга, представители
                интеллигенции и всевозможные бизнесмены. И, ведь, ни кто не возмутился! А что? Минталитет, однако.
                Советские люди, как свиньи возле корыта: лишь бы до него добраться! Если добрался, то там уже всё равно,
                чем черпать: ложкой или ладошкой. Возмущаться некогда. И на фиг нам какие-то вилки или булавки.</p>
            <p>В этот день познавания медицинского мира высоких технологий, было много ещё интересного. После сытного
                обеда мне захотелось пить. Проходя по коридору, я приметил напротив поста медсестры кулер, но
                одноразовых стаканчиков не было. Об этом пришлось спросить медсестру. Бегло оглядев меня, она сказала:
                «Могу дать вам стаканчик». И действительно дала. Я попросил разрешения оставить его у себя. Она кивнула
                головой: «Да, но вам лучше попросить у уборщицы пустую пластиковую бутылку. После операции это намного
                удобнее, чем стакан с водой на тумбочке». Точно! Я же видел в туалете, в корзине для мусора, пустую
                бутылку. Видимо, мой выписавшийся предшественник избавился от неё. Вернулся, но бутылки в туалете уже не
                было. Пришлось ждать уборщицу и просить её «присмотреть» для меня пустую бутылку. Она с пониманием
                кивнула и выполнила мою просьбу. Вот на моей тумбочке, как и у соседа, стоит бутылка с водой.</p>
            <p>Кстати, соседа я очень выручил. Он привёз на операцию своё второе колено. Первое ему отремонтировали
                несколько месяцев назад. Сейчас, лёжа на кровати, он изнывал от низкого зимнего солнца, которое заливало
                светом палату. Я тоже вначале удивился, что окна пустые: нет ни жалюзи, ни каких-нибудь штор. Теперь,
                подойдя к окну, заметил на уровне подоконника сдвоенный выключатель. Нажал одну клавишу, и с той стороны
                окна начали медленно опускаться жалюзи. Оказывается – всё для человека! В знак признательности сосед
                матюгнулся вполголоса: «Я второй раз здесь, а сообразить не мог, как закрыть окно. Так и мучился, твою
                мать».</p>
            <p>Зачем я пишу об этих свинцовых мерзостях, по обыкновению присутствующих в жизни советского человека?
                Только для того, чтобы показать: жить как остальные люди (у которых воруем или приобретаем передовые
                технологии), мы ни когда не сможем. Почему? Говорят, что свято место пусто не бывает. Что у нас
                находится на святом месте, которому мы поклоняемся? Всё, что угодно. Всякий мусор. От идей построения
                коммунизма и неких духовных скреп, до безумного поклонения богу Мамоне. То есть, ориентиром у нас всегда
                были ложные идеи и фальшивые духовные ценности. Избыток и бесполезность, которых мы уравновешивали
                скрытым, запрещённым стремлением к материальным благам.</p>
            <p>А что свято, превыше всего для остального цивилизованного мира? Человек, его свобода и его служение
                добру. Отсутствием этих приоритетов мы отличаемся от других (так и хочется сказать – нормальных) людей.
                Человек без свободы, без его сознательного служения добру – раб. Раб, по определению, представляет собой
                «говорящее орудие», одушевлённую собственность, вьючный скот или, проще, быдло. В нашей стране это
                определение усложняется тем, что мы не те рабы, которые попали в плен на поле боя и мечтают о желанной
                свободе. Мы – потомственные рабы, «говорящие орудия», привыкшие к несвободе. Тогда о чём мы мечтаем? Мы
                мечтаем о рабах. О собственных рабах. Чтобы нам кто-то подчинялся, чтобы мы имели над кем-то хотя бы
                мнимое превосходство. Собственная свобода для нас в тягость; нам она обременительна, поскольку требует
                самостоятельных, направленных действий, а не самодурства.</p>
            <p>Как выглядит страна населённая потомственными рабами, где человек и его жизнь не представляет ни какой
                ценности? Страна, где человек ничто – это страна ничтожеств. Во-первых: «говорящие орудия» работают
                только из-под палки. Во-вторых: они завидуют «хозяевам» (хотя каждый раб проявляет себя
                хозяином-деспотом: кто-то в семье, кто-то на работе, кто-то по своему служебному положению). В-третьих:
                рабы всегда недовольны своей жизнью и поэтому ненавидят всех. В-четвёртых: они равнодушны к чужому
                несчастью, поскольку собственный внутренний мир раба перегружен завистью и ненавистью. Сочувствие к
                кому-либо в них просто не помещается. Поэтому общество рабов атомизированное, раздроблённое на
                индивидов, где каждый сам за себя. Но, упаси тебя Бог родиться в таком обществе умным и инициативным.
                Или свободолюбивым и совестливым. Для жизни в среде рабов подобные качества хуже всяческого наказания.
            </p>
            <p>Когда зависть или ненависть в рабах достигают своего предела, вот тут и происходит русский бунт –
                бессмысленный и беспощадный. Покорные рабы, равнодушные к чужому несчастью, во время вспышек животной
                ярости становятся бессмысленными и беспощадными. У современной власти для предотвращения таких ситуаций
                имеются два варианта. Первый вариант, с пролонгированным эффектом, это перед ослом повесить муляж
                морковки. То есть, если рабы вымирают от непосильного труда, от голода, от отсутствия у руководителей
                профессионализма; если потери во время военных действий превышают все мыслимые и не мыслимые цифры –
                тогда бездарные власти объявляют этот народ героическим. Вроде, да, погибло народу много. Но погибли, в
                первую очередь, герои. Слава героям! А тебе уже неловко от того, что ты выжил, не погиб в числе тех
                миллионов. И неловко возмущаться, спрашивать с горе-руководителей: «Как вы, суки, командовали, управляли
                страной, что столько народу сумели погубить? А теперь сами ходите в героях, и народ, которым продолжаете
                править как быдлом, с усмешкой называете героическим?». И сопят, терпят, гордятся потомственные рабы
                своим полученным званием – великий, могучий, героический советский народ.</p>
            <p>Второй вариант защиты властей от русского бунта – выпускать недовольство рабов через развязанные военные
                действия против кого-нибудь. Быдло пар выпустит (ему всё равно против кого быть бессмысленным и
                беспощадным) и опять успокоится на время. В стране всегда в почёте защитники Родины и актуален призыв:
                «Есть такая профессия – Родину защищать». Последний раз на Родину нападали в 41 году прошлого века. А
                вот в скольких войнах после этого Родина принимала участие как на своей, так и на чужой территории, ни
                кто точно не ответит. Героические «защитники» по своей сути уже давно превратились в «нападающих». Но
                для властей так удобней: пусть рабы лучше воюют по указке с кем-то, чем они объединятся против властей.
            </p>
            <p>Поэтому повторилась библейская история: «Восстал Каин (старший брат) на Авеля, брата своего, и убил его».
                Украинцы, братья наши, за что мы так с вами? Да, это затеяли власти с перепугу, перед «оранжевой
                заразой». А быдло возликовало. Как же: «Жизнь за царя!!!» (вот только чью?). Рейтинг Путина опять
                возрос. Каин, Каин – ты убил брата из зависти и заработал проклятие на все века. Но что хуже: пасть от
                руки брата-завистника, или стать жертвой брата, который оказался людоедом? Вдобавок, озверевший брат
                убивает не сразу. Он четвертует младшенького. Кусками. Чтобы тот подольше мучился. Пока что мы оттяпали
                кусок под названием Крым. Но это же из-за русских в Крыму! Мы, вдруг, вспомнили о них, озаботились их
                положением. Звучит трогательно. Но интересно: как это страна, где человек – ничто (то есть, страна
                ничтожеств), вдруг, начинает, проявляет неожиданную заботу о людях вне её границ? Это что? Извечная
                мечта рабов о пополнении своих рядов?</p>
            <p>На всякий случай хочу поделиться с крымчанами личными наблюдениями. Если перед вами забрезжил свет, то
                это вовсе не означает скорый выход из тоннеля. Не мечтайте о себе лишнего: свет впереди, это выход из
                мясорубки. А мясорубка имеет на вас свои планы, как на фарш. Вы добровольно возвращаетесь в руки
                хозяина-рабовладельца. Не думайте, что у вас сейчас появится плавающее в ванне мыло. Или в упаковку с
                клеем вам начнут вкладывать специальную булавку. Нет. Всё будет так, как сказал академик Павлов:
                «Многолетний террор и безудержное своеволие власти превращает нашу азиатскую натуру в позорно рабскую. А
                много ли можно сделать хорошего с рабами? - Пирамиды? да; но не общее истинное человеческое счастье».
            </p>
            <p>Вам, уважаемые крымчане, которые так рвутся воссоединиться с братьями-рабами в лоне исторической родины,
                предстоит возводить вместе с нами пирамиды. Ни на что другое рабы не способны. Да, на строительстве
                пирамид у нас уже применяется грузоподъёмная техника (если хорошая, то это импортная). Но у охранников в
                руках не кнут, а шокер, и автоматическая винтовка с лазерным прицелом. Если вам выпадет счастье лечиться
                в каком-нибудь Федеральном центре, скопированном с хорошей зарубежной больницы, то отношение к вам всё
                равно будет то, которое мы заслуживаем – как к быдлу. Страшно, что осваивая новейшие украденные или
                купленные технологии, мы будем наглеть или звереть ещё больше. И будем представлять для окружающего мира
                всё большую опасность.</p>
            <p>Забавно. Выслал черновик человеку, которого очень уважаю. В ответе были строки: «Возникло одно сомнение -
                не является ли твое описание "свинцовых мерзостей" эффектом "принцессы на горошине". А поймет ли
                "народ", что вынужденность искать бутылку у медсестры и отсутствие инструкции к жалюзи - это и есть
                свинцовые мерзости? Впрочем, про костыли - это уже более понятно». А ведь и правда – советский народ не
                поймёт. Но дело в том, что я не стал описывать конкретные случаи мерзости со стороны конкретных лиц
                Федерального центра. На всякий случай не хочу, чтобы у них были какие-нибудь неприятности. Они ни в чём
                не виноваты – это простые советские люди. Поэтому ограничился описанием случаев, где нет крайних.</p>
            <p><span class="article__subheading">24 апреля</span><br><br>

                Ночью пошёл снег. Вот тебе и весна. Утром всё было белым-бело. Снег идёт весь день. Удивительно, но
                земля как-то скукожилась. Сплошной снежный покров выглядел нелепо, лишним; словно небрежно нанесённая
                косметика на лице пожилой женщины. Осенью так не бывает. Обильный снегопад украшает землю, как женщину
                вуаль. Придаёт ей иной образ и какую-то таинственность. Всегда хочется первым оставить следы на этом
                дивном белом покрывале.</p>
            <p>Опять вызывали к следователю. На этот раз забрать свои вещи, которые так и не стали вещдоками. Вроде бы,
                должен радоваться: меня не посадили, да ещё и вещи назад возвращают. Я и радуюсь: мне нравится такое
                отношение к быдлу. По обвинению (подозрению?) в экстремизме, эти абвгдейки нашли возможность, время,
                людей и машину, чтобы приехать, учинить обыск, увезти всё, что для них представляло хоть какой-то
                интерес. Сейчас они, мимоходом, без извинений, ставят в известность меня, чтобы пришёл, забрал свои
                вещи.</p>
            <p>Да я, после операции, должен два месяца передвигать своё тело на костылях, желательно не выходя из дома.
                До Асбеста километров 17. Это нужно нанимать машину. Мало того, что туда надо как-то доехать, мне
                придётся за каждую конфискованную вещь расписываться: сдал – принял. То есть, машину надо искать часа на
                полтора. По деньгам – где-то на тыщу будет. Это много или мало? В стране, где воруют миллиардами, а
                взятки дают миллионами, это мизер. Проблема для меня в том, что я не ворую, и взятки мне не дают. Но
                следственный комитет подобные мелочи не волнуют. Это же мои проблемы, мелкие проблемы инвалида! А
                следственный комитет работает по крупному. Как люблю эту сранную срану! (опять клавиатура не
                пропечатывает букву «т»).</p>
            <p>Вроде должен радоваться – меня не посадили, да ещё и вещи назад вернули. Это надо же, какие душевные
                люди! Но почему не проходит ощущение тяжести на сердце? На другой день, после того как нам вернули вещи,
                раздался телефонный звонок. Это был участковый. Его интересовало: кто мы такие, где работаем, сколько
                человек проживает у нас. Он пояснил, что Следственный Комитет запросил на меня с Олей характеристику. А
                заодно он поинтересовался, чем вызван к нам такой интерес. Я сказал, что из-за обвинения в экстремизме.
                Он не то хмыкнул, не то поперхнулся и положил трубку. Значит, опять будут ходить расспрашивать соседей.
                То есть, маховик продолжает крутиться. До этого фсбешники ходили, вынюхивали.</p>
            <p>Так чем я не доволен? «Ложечки-то нашлись!». Но осадок остался. Я-то надеялся, что не только ложечки
                найдутся. Надеялся, что в моём дневнике эти абвгдейки (ФСБ, СК, Э, …) найдут что-то ДЕЙСТВИТЕЛЬНО
                значимое, напрямую адресованное для них. Но они ни чего такого не «нашли». Фсбешники (работнички
                невидимого фронта), которые и затеяли это дело в надежде отличиться, попросту умыли руки. </p>
            <p class="article__remark">«В связи с тем, что дело находится в ведении следственного управления, мы не
                вправе комментировать его,
                так как только следователь может решить, что допустимо рассказывать публике», – заявила «УралПолит.Ru»
                пресс-секретарь областного управления ФСБ Анна Ластовецкая. </p>
            <p>Во как! ФСБ, заварившее кашу, показывает свои чистые руки: «А рученьки-то, вот они!». Весьма
                предусмотрительная позиция.</p>
            <p>Зато СК не скрывает желания вести борьбу с врагами народа.</p>
            <p class="article__remark">«В местном отделении Следственного комитета корреспонденту «УралПолит.Ru»
                заявили, что пока проверка
                высказываний Ткалича продолжается: «Уголовное дело возбуждено по материалам проверки ФСБ, поступившим в
                наш отдел. Ткалич публично в Интернете оскорблял руководителей государства и РПЦ, называл православных
                «быдлом», оскорблял руководителей страны, называл их «клоунами» и т. п.»</p>
            <p>Вот до чего довела демократия Россию! Руководителей страны кто-то посмел назвать клоунами! «Не должно
                сметь своё суждение иметь!»</p>
            <p>Почти десять лет мы рассылали в СК России, в ФСБ, в Генпрокуратуру документы о расхищении Рефтинской
                птицефабрики. Реакции со стороны этих, правоХОРОНИТЕЛЬНЫХ органов не было ни какой. Только Оле
                продолжали «шить» новые дела. И вот, в очередной раз органы наводят тень на плетень. </p>
            <p class="article__remark"> «Наряду с оскорблениями они любят рассказывать, как их притесняют, жену якобы
                из-за ее религиозных
                предпочтений с работы уволили», – заявил корреспонденту заместитель руководителя следственного отдела по
                Асбесту областного СУ СКР Егор Медведевских.</p>
            <p>Чего врать-то, Егор Медведевский? Положение обязывает? Или дозволяет? Кому мы говорили, что Олю уволили
                из-за религиозных предпочтений? Речь идёт о моём дневнике, и весь дневник я пишу: жену уволили за то,
                что раскрыла факты коррупции. Она предоставляла вам всем (и сейчас готова представить) документы о
                хищении на сотни миллионов рублей. Сейчас, наверняка, речь идёт о миллиарде.</p>
            <p>Но правоХОРОНИТЕЛЬНЫМ органам на это наплевать. Главное: создать в обществе впечатление, что у этих
                борцунов с коррупцией «руки по локоть в крови».</p>
            <p class="article__remark">Источник «УралПолит.Ru» в одной из правоохранительных структур утверждает, что
                вопреки высказываниям
                Ткалича внимание силовиков привлекли не только две его статьи. «На самом деле это не какие-то старые
                записи, а публикации в том числе и на их официальном сайте за последние пять лет. И они продолжают
                выходить до сих пор. Речь не идет о том, что дело возбуждено исключительно из-за нападок на
                православных, оскорблениям подвергаются и другие религии и органы государственной власти. И то, что они
                пытаются сделать из себя жертв режима, не более чем их собственные фантазии», – заявил собеседник нашего
                агентства.</p>
            <p>Вот теперь как расширили сектор обстрела: есть какие-то «старые записи», плюс «отдельные публикации», а
                главное – дневник, который публикуется «на их официальном сайте за последние пять лет». (почему 5 лет?
                уже 10 лет) Что при этом ставят мне в вину? Нападки на православных (а в России почти все православные),
                оскорбление других религий (это те, кого не «охватило» православие) и, страшно выговорить, оскорбление
                ОРГАНОВ ГОСУДАРСТВЕННОЙ ВЛАСТИ. Получается, что в несчастной России ни кого не осталось, кого бы я,
                походя, не пнул. В духовном мире я оскорбил всех верующих, в светском мире я оскорбил представителей
                государственной власти. И ни какие мы не жертвы режима, а просто у нас что-то с головой не в порядке; и
                живём в собственных фантазиях, как уверенно утверждает источник из правоохранительных структур. Звучит
                убедительно! Неважно, что из всего сказанного ни чего не доказано. Народ должен поверить и ужаснуться
                этому распоясавшемуся экстремисту Ткаличу.</p>
            <p>По поводу собственных фантазий: действительно, какие же мы с Олей идиоты. Нет, правда! Когда только Оля
                объявила войну коррупции на местном уровне (откуда мы знали, что путин навсегда!), из-за того, что
                Топорковым были украдены всего-навсего какие-то миллионы (не десятки и не сотни тысяч миллионов), мы
                переносили документы, подтверждающие хищения, в сумке, с квартиры на квартиру. Боялись обыска, боялись
                потерять компромат на директора птицефабрики. Наши знакомые предложили спрятать документы у них дома, в
                бочке с квашеной капустой. Вот как! Сейчас смешно потому, что эти документы не нужны до сих пор ни кому.
            </p>
            <p>Теперь документально подтверждено, что ФСБ дало наводку на мой дневник, после чего СК завёл на меня дело.
                Да, вы игнорировали мой дневник почти 10 лет, делали вид, что его не существует, но сейчас-то вы
                ознакомились с ним! И вот, тут оказалось, что украденный миллиард, гонения на нашу семью за попытку
                разоблачить коррупционеров, ни кого не интересуют. Украденный миллиард – это мелочь. Для этих
                лизоблюдов, прикормленных властью, страшно то, что руководителей страны я где-то назвал «клоунами».
                Именно это представляет опасность, а не какой-то украденный миллиард. Действительно, что такое миллиард
                в стране, где разворовывают десятки и сотни миллиардов? Тем более, что воруют уважаемые, известные всем
                люди, с известными всем фамилиями. Это если б какой-то алкаш попробовал вынести из магазина бутылку
                водки…. Или, как Навальный «украл» 16 миллионов….</p>
            <p>Ну, раз уж в правоохранительных органах определили мне место для жизни в «собственных фантазиях», то
                позвольте пофантазировать. Конечно, с одной стороны, Путину я благодарен (я же предупредил, что
                фантазирую). В чём его заслуга? Он жестоко пошутил над великим могучим героическим советским народом.
                Такое мы вытворяли, когда в детстве купались на речке. Стоит мокрый, посиневший от холода, дрожащий
                пацан. К нему сзади подкрадывается сорванец и резким движением сдёргивает трусы. Несчастный пострадавший
                не знает что делать: то ли прикрывать ладошками свой срам, то ли беззащитно нагнуться, выставив
                нетронутый загаром зад и скорее натягивать скрученные сырые трусы.</p>
            <p>Путин, по недостатку ума, сделал это же самое. Он сдёрнул с совка трусы и тот остался голым, неприкрытым.
                Таким, каким совок есть на самом деле: жалкий, трясущийся, озлобленный, готовый мстить всему свету.
                Теперь он не прикрывается даже фиговым листочком – моральным кодексом строителя коммунизма или
                суверенной демократией. Да, за последние годы Путин-мальчик, того не желая, показал всему свету: а
                король-то голый! Чтобы там король-совок ни мнил о себе, без одежды и украшений он отвратителен. Я
                благодарен недалёкому и мстительному Путину за раздевание совка и показ его перед всем миром. Теперь уже
                ни кто не заблуждается в своём мнении по отношению к советскому народ.</p>
            <p>В «собственных фантазиях» я задумываюсь: а если бы Отечественная война закончилась поражением России?
                Что, у нас произошли бы какие-то глобальные изменения? Едва ли. Тогда у нас не коммунизм, а фашизм стал
                главной идеологией. Ну, так и сейчас тоже фашизм. И нацизм, как тогда, у фашистов той Германии. Мы при
                оккупантах стали бы рабами? Так мы и теперь рабы. Погибло бы больше людей? Кто знает, кто знает.… Да и
                что для нас люди? Мы же людей за людей не считали и точного счёта им не вели. «Бабы ещё нарожают». Об
                изменениях знаю точно: в России такого воровства не было бы. И на вес золота ценились специалисты.
                Советские люди бросили бы воровать и пить. Зато научились бы работать. Жили бы мы хуже? Да, кто-то бы
                жил хуже. Те, кто даже при немцах не приучился работать. Так и сейчас многие живут – хуже не куда. Но,
                работая честно на оккупантов, я бы знал, что меня ценят, что я нужен. И знал бы, что я нахожусь под
                защитой немецкого закона, а не под прессом чьих-то правоХОРОНИТЕЛНЫХ органов. Эх, бы, да кабы!</p>
            <p>Зато сейчас (опять «благодаря» Путину) дерьмо, всплывшее наверх, плюёт на законы и разворовывает
                собственное государство. Для потомственных рабов, ставших российской «элитой», государство превратилось
                в собственность. И правоохранительные органы стали их собственностью. Это пострашнее, чем не
                состоявшаяся победа немецких оккупантов! Да лучше бы я жил при настоящих оккупантах-фашистах. Тогда моя
                ненависть к ним не была столь мучительна, как к этим рабам-патриотам; к быдлу, которое и не мечтает о
                свободе (советским людям свобода не нужна). Они мечтают о безраздельной власти над другими рабами, о
                зависти к себе со стороны таких же рабов, о собственном богатстве. Ради этого, крича о патриотизме, они,
                кто могут, разворовывают Родину-мать под защитой правоХОРОНИТЕЛЬНЫХ органов.</p>
            <p>Устал я от бессилия и безысходной ненависти. Дописываю этот кусок своих злоключений уже больше месяца.
                Начал ещё в апреле, в день неожиданного возвращения зимы. Тот снегопад шёл четыре дня. А мы за два дня
                до начала снегопада пригласили представителя ЖКХ (или кто они сейчас?), чтобы нам отключили тепло и
                поставили пломбы. Здесь у частников почти у всех центральное отопление. У нас задолжность по оплате за
                тепло. Вот и решили сэкономить, раньше всех отказаться от тепла. Специалист отключил, запломбировал, а
                вскоре пошёл снег. Пару дней, как могли, мы терпели в нетопленом доме. Но потом сдались. Позвонили в
                ЖКХ, предупредили, что снимаем пломбы. Когда потеплело, снова вызвали представителя. Он снова
                запломбировал. Теперь, надеюсь, уже до зимы.</p>
            <p>В отношении денег. Незнакомые люди высылает нам деньги на PayPal. Я серьёзно отношусь к абвгдейке и
                всегда веду себя так, как будто они на самом деле всё видят, всё слышат, всё знают. И не хочу, чтобы
                возникли обвинения, будто я пишу свой дневник по заказу, и кто-то мне за это платит. Поэтому деньги мы
                отправляем назад отправителям. Не обижайтесь люди добрые на нас за это. Мы вам очень признательны. Но,
                как видите, нам изо всех сил пытаются испортить жизнь. И мы, будучи врагами народа, должны быть
                осмотрительными.</p>
            <p><a href="https://uralpolit.ru/news/society/reviews/1375354238-religioznyi-skandal-na-urale-za-kritiku-rpts-i-patriarkha-sverdlovskim-pensioneram-grozit-do-pya"
                    class="article__ref">Источник</a>.</p>

            <p><span class="article__subheading">9 июля</span><br><br>

                Недавно нам позвонил серьёзный человек: «У меня сидит корреспондент. По телефону я его представлять не
                буду. Его интересуют факты коррупции. Вы не откажитесь побеседовать с ним?». Оля, в очередной раз
                согласилась. Мне стало интересно: или какой-то пацан, которому ещё рога не обломали, берётся за
                запретную тему, не осознавая опасности. Или это какой-то журналист, с обострённым нюхом, учуял, что пора
                говорить правду. Ну, что ж? Приедет – посмотрим. Так ни кто и не приехал. Видимо, здравый смысл у
                человека победил.</p>
            <p>Это уже не в первый раз, когда у людей «побеждает» здравый смысл. Когда-то нам настоятельно
                порекомендовали обратиться к корреспонденту Зое Световой. Она, в ответ, даже пообещала приехать. Уже
                который год ждём. «Новая газета» вообще, не ответила на наше письмо. Да собственно, что всех
                перечислять? Десять лет мы, как больные в психушке, метались в палате, стены которой обиты матами,
                предлагая кому угодно документы о многомиллионных хищениях. Надо сказать, что для всех результат
                оказался удовлетворительным. Хоть ни кто нас из палаты не услышал, но мы не поранились, и от нас ни кто
                не пострадал. Все остались довольны, санитары – в первую очередь.</p>
            <p>В прошлую субботу топил баню. Дрова приходится экономить, и я собрал на растопку в корзину всю старую
                обувь. На этот раз в корзине осталась последняя пара. Я всё её откладывал. Это были мамины старые туфли.
                Долго она их носила «на выход», а потом донашивала, работая в огороде. Подошва на них полопалась мелкими
                трещинками, совсем как у мамы кожа на пальцах. Мамы нет три с половиной года. А туфли…. Почему я из
                всего делаю проблему? Недавно насобирал в пластиковую бутылку колорадского жука. Потом, обычно я брызгаю
                туда что-то вроде дихлофоса, чтобы жуки не мучились. Соседка через забор спрашивает: «А чо это ты
                делаешь?». Объяснил ей. Она удивилась: «А какие проблемы?».</p>
            <p>Действительно: какие проблемы? Почему мне жалко жуков-колорадов, обреченных на медленную смерть в
                бутылке? И милосердие ли то, что я мгновенно их убиваю ядом? Ведь, всё равно – убиваю. Почему мамины
                туфли мне неловко сжигать, как будто я избавляюсь от последней памяти о ней? Почему? Ведь память не в
                туфлях, а в сердце. Мама очень любила Олю. Это покажется удивительным, но мама, человек прожившая жизнь,
                уважала Олю, прислушивалась к её советам и её мнению. За всё время Оля только в одном обманула её. Хотя,
                тогда Оля сама верила в то, о чём говорила. Она постоянно уверяла маму, что всё у нас будет хорошо, что
                мы выиграем суды, что коррупционеры и их защитники и покровители будут наказаны. Мама верила ей, но не
                дождалась этого. Как я сейчас это понимаю, мы тоже не дождёмся (впрочем, это стало неважно).</p>
            <p>В давние времена существовало поверье, что мыши зарождаются сами. Для этого достаточно иметь захламлённое
                мусором тёплое место. Если гора может родить мышь, то огромная куча мусора (под названием Россия) родила
                злобную чекистскую крысу. Вначале крыса довольствовалась тем, что пожирала свою родину – эту кучу
                промышленных и производственных отходов. Но ей показалась мало. Почувствовав безнаказанность и вкус
                вседозволенности, сея эти качества в других членах своей крысиной стаи, крыса решила вылезти за рамки
                помойки.</p>
            <p>Как-то на «Гранях» я дал выдержку из своего дневника, где говорилось, что мировая общественность
                озабочена птичьим гриппом, озоновыми дырами, СПИДом, парниковым эффектом, коровьим бешенством. И ни кто
                из политиков не понимает, что самой большой угрозой миру являются не эти бедствия, а Путин. На «Гранях»
                тогда на меня обиделись все: путинские портянки – за то, что я демонизирую их работодателя. Мои
                единомышленники – за то, что я раздуваю авторитет Путина. Теперь стало видно, кто был прав. По Украине
                понятно, что крыса, освоившая помойку, готова расширить территорию. Крысе не привыкать крысятничать. Это
                её нормальное состояние. Плохо, что она приучила к безответственности и безнаказанности таких же
                крыс-подельников. Видимо, для уверенности она решила всех своих повязать кровью.</p>
            <p>За амбиции «старшего брата» теперь страдает население Украины. До этого в разной степени пострадали:
                Грузия, Дагестан, Чечня, Ингушетия, Прибалтика, Афганистан. Жалко ли нам их, тех людей, которые не
                сделали для нас ни чего плохого? Нам их судьба безразлична. А ведь мы их убиваем. Убиваем под разными
                предлогами. Думаю, что ни кто из нас особенно не задаётся подобными вопросами. Но я чувствую себя
                убийцей. Не свидетелем происходящих кровопролитий, а соучастником. Это идея Путина. Ему не хотелось
                выглядеть извергом одному: «Я такой не потому, что я такой. Вы посмотрите: каким народом мне приходится
                управлять, кого я держу в узде!». Теперь уже весь мир знает правду: какие мы. Путин добился своего.
                Будет ли к нам, извергам, какое-то сочувствие и сострадание со стороны остального мира, если Путин ещё
                больше закрутит гайки собственному быдлу? Думаю, что нет. Такой народ не заслуживает ни сочувствия, ни
                поддержки, ни права на нормальную жизнь.</p>
            <p>Сейчас я понимаю Бориса Стомахина. Для меня неважно, в каких словах он выразил неприятие <span
                    class="article__accent">такой</span> страны.
                Важно то, что он хотел выкрикнуть, донести свою мысль до каждого, до кого только можно достучаться:
                <span class="article__accent">так</span>
                жить нельзя, <span class="article__accent">такая</span> страна не имеет право на существование. Это его
                (и моё) мнение. Но для властей – это
                крамольное утверждение. Крысятничать, обворовывать собственное государство, своих же быдло-сограждан –
                нормально. Вести войну на своей территории, или пересекать границы соседнего государства, сея смерть и
                разрушение – нормально. Но протестовать против власти, против агрессивного свихнувшегося общества – это
                преступление. Хотя за время правления Путина погибли тысячи людей, он остаётся любимым нацвошьдём
                государства. А вот тот, кто говорит, что <span class="article__accent">так</span> жить нельзя, что
                озверевшее государство не имеет права на
                существование – объявляется преступником. Путин, кстати, гнобит «болотников» по усиленной программе
                тоже, только за попытку высказать мысль: ТАК жить нельзя!
            </p>
            <p>Так жить нельзя. Но надо признаться, что по-другому мы не можем. Это легко доказать. Представим, что
                Япония подарила нам саму себя. То есть, Япония стала Россией. Япония – это страна сказочных технологий,
                своеобразной культуры и страна долгожителей. Мы, вроде бы, просто обязаны после этого стать богаче и
                жить лучше. Но во что Япония превратится через 20 – 30 лет в составе России? Через несколько десятков
                лет мы не отличим японцев от чукчей. И будем рассказывать про японцев те же анекдоты, что и сейчас про
                чукчей, уже не находя между ними разницы.</p>
            <p>А если, наоборот: наше правительство отдаст Сахалин? Ну, предположим. Уверен, через несколько десятков
                лет, Сахалин по всем показателям приблизится к Японии. Вот так вот. Россия – это огромная выгребная яма.
                Туда можно бросать золотые статуэтки, драгоценные украшения, сыпать мешками монеты. Всё это будет
                проваливаться как в бездну, а на поверхности, по-прежнему, будут извиваться скользкие жирные белые
                черви. Это они жиреют на содержимом выгребной ямы (население тоже входит в содержимое ямы). По-другому
                мы не можем.</p>
            <p>Как могу позволить себе говорить о родине, как о выгребной яме? Ну, я же могу говорить об очевидных
                вещах: что земля круглая, а солнышко тёплое. Не раз слышал обвинения в свой адрес, что продал или готов
                продать Родину. Но давайте будем откровенны: кто её купит? Кому она на фиг нужна, со 140 миллионами
                обленившихся извращенцев? Не в сексуальном плане извращенцев, а с повернутыми (извращёнными) остатками
                советских мозгов. <span class="article__accent">Такую</span> родину продать невозможно. Подарить? Кому?
                Разве только врагам, чтобы причинить
                им невиданные страдания. Представляете, что будет, если Россию подарить США? Они должны будут как-то
                прокормить 140 миллионов папуасов? В США такой начнётся кризис, который ни одна мировая держава не
                переживёт. Эта яма, Россия, засосёт и высосет всё, что угодно и ни когда не наполнится.</p>
            <p>Считаю, что я прав, когда брызгаю дихлофосом собранных в бутылку жуков. Во-первых: спасаю этих паразитов
                от дальнейшей мучительной агонии (они же в замкнутом пространстве если не пожрут, то потопчут друг
                друга). Во-вторых: спасаю от вредителей свой огород. В-третьих: соседи должны быть мне благодарны за то,
                что я избавил их от колорадской заразы. Может, это же самое Борис Стомахин думает? Заметьте, он думает
                не о себе. Думал бы о себе – второй срок не схлопотал бы (да и первый тоже). Даже не об уРодине и
                возможной её кончине. Он думает об интересах соседей России, о других странах, об интересах всего мира.
                О тех же колорадах, которые всё равно затопчут друг друга в агонии. Или пожрут сами себя. Он имеет право
                на мнение? Пусть даже в стране с суверенной демократией, под управлением гуманиста-чекиста? Можно или
                нет иметь и высказывать своё мнение о том, что <span class="article__accent">так</span> дальше жить
                нельзя?</p>
            <p>Да, кто-то любит эту родину и готов умереть за неё. Я ненавижу <span class="article__accent">такую</span>
                родину. Для меня она тюрьма и
                безнаказанный убийца. И если я умру прежде времени, то, честное слово, это вовсе не от любви к родине.
                Кстати, сколько таких, по разным причинам, умерших! Но их всех объединяла одна черта: несогласие жить с
                колорадами, борьба с ними. Я тоже не согласен. Для меня лучше оказаться в бутылке с колорадскими жуками,
                когда (если) Бог надумает брызнуть туда дихлофосом, на радость и облегчение остальному миру. «<span
                    class="article__passage">Ибо
                    праведник сей, живя между ними, ежедневно мучился в праведной душе, видя и слыша дела
                    беззаконные</span>».</p>
            <p>Сразу оговариваюсь: я не праведник. Но сколько можно мучиться и видеть мучения других? Божья
                справедливость и Его милость заключается не только в том, что Он заботится о жизни, благе каждого
                человека. Но и о благополучии, сосуществовании, миллиардов других людей, об их безопасности. А кому,
                какую безопасность может гарантировать Россия? Надеюсь, что Бог не будет терпеть колорадов в Своём
                огороде. Особенно, когда они забыли о чувстве меры и о чувстве вины. Исполнится ли сценарий Бориса
                Стомахина? Или у Всевышнего есть какие-то другие варианты? Не знаю. Но пока Стомахин по решению
                путинского суда отбывает очередной срок. А мне на будущее лето опять собирать жуков в огороде. Или не
                надо так далеко загадывать, если живёшь в России?</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>