<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Дневник соотечественника | 2015</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../styles/article.css" rel="stylesheet">
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/footer.css" rel="stylesheet">
    <link href="../styles/general.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

    <script defer src='../scripts/toggleNone.js'></script>
</head>

<body>
    {{> header}}

    <main>
        <article class="article">
            <h1 class="article__heading">Дневник соотечественника, 2015 год</h1>
            <p><span class="article__subheading">27 января </span><br><br>

                Как всегда: открыл чистую страничку для дневника и понимаю, что писать нечего. Всё написано, всё
                сказано. И ни чего не изменилось. Хотя я все эти годы жил ожиданиями. Но тут добрые люди принесли
                очередной номер «Московского комсомольца». Не люблю по старой памяти этих «комсомольцев» и эти «правды».
                Но в этом номере была напечатана очередная <a
                    href="http://eburg.mk.ru/articles/2015/02/04/ot-pticefabriki-ostanutsya-pukh-da-perya.html"
                    class="article__ref">статья</a> о Рефтинской птицефабрике. Вернее о том, как на ней
                греют руки.</p>
            <p>Да, написано всё так, как оно есть. </p>
            <p class="article__remark"> «…когда на глазах общественности и правоохранительных органов уже не первый год
                уничтожается одно из
                крупнейших свердловских производств, это должно быть кому-то выгодно. По нашему мнению, одним из таких
                лиц может являться сегодняшний директор птицефабрики Николай Топорков, а также сочувствующие ему
                чиновники из Министерства по управлению государственным имуществом Свердловской области (МУГИСО)». </p>
            <p> Вот только я бы уточнил: вместо, «не первый год уничтожается», можно назвать конкретную цифру – 10 лет.
            </p>
            <p>После этого становится понятным, что такой период Топорков не мог воровать под прикрытием одной «крыши»
                из МУГИСО. Тем более, как пишет «МК»: «<span class="article__accent">в период «правления» Николая
                    Топоркова с 2005 по 2009 год из
                    оборота «Рефтинской» было выведено в частные руки около миллиарда рублей</span>». Миллиард рублей,
                безнаказанно, за 5 лет. Вундеркинд! И ещё один маленький нюанс: эти годы Оля бомбардировала всевозможные
                инстанции копиями документов, которые показывали размах хищений на птицефабрике. Но со стороны местных
                правоохранительных органов, ФСБ, СК, Генпрокуратуры, правительства Свердловской области – реакции не
                было ни какой.</p>
            <p>Пусть извинит меня «Московский комсомолец», но чиновники из МУГИСО не обладают властью, чтобы заткнуть
                рот и не пущать такие уважаемые организации. Значит? Значит, есть какое-то заинтересованное лицо,
                покрупнее МУГИСО. «МК» осторожно намекает: «<span class="article__accent">При Эдуарде Росселе власти это
                    терпели, возможно, не без
                    своей выгоды</span>». Вот именно: власти терпели, терпят и будут терпеть. И не без своей выгоды.
                Потому что
                губернатор Россель – сам <span class="article__accent">власть</span>. Заслуженный, всеми уважаемый,
                признанный человек в России (в одной из
                самых коррупционных стран мира). Который, по своим заслугам, пошёл дальше продолжать служить Родине,
                увешав грудь наградами. Но, на этот раз в Москву, в Совет федерации. Ушёл помогать поднимать Россию с
                колен. А кошелёк свой оставил на Урале.</p>
            <p>Как это у нас всегда бывает: раз <span class="article__accent">власть</span> сменилась, Топоркова тут же
                пинком под зад выпнули с
                директорского кресла. Выпнули как раз за хищения, которые, правда, ни кто, не рискнул доказывать. Как
                оказалось, это было правильно! Оставшись в Москве без привычного кошелька Россель, помучавшись, на свой
                день рождения обращается за столом к Паслеру: «Ты меня уважаешь? Сделай мне подарок на день рождения:
                верни Топоркова на птицефабрику!» А чо? Какие проблемы для председателя правительства Свердловской
                области? Да запросто! Директора сменившего на посту проворовавшегося Топоркова снимают, обвиняют в
                хищениях(!) и заводят на него дело. Топоркова с помпой возвращают на прежнее место. Теперь у кошелька
                снова свой человечек приставлен. В очередной раз, в насквозь прогнившей коррумпированной России,
                справедливость беззаконников восторжествовала!</p>
            <p>Что будет с директором, который так неудачно занял место Топоркова? По законом жанра его должны сожрать.
                То есть, посадить. Потому, что <span class="article__accent">власть</span> не на его стороне, и он
                оказался разменной монетой в игре, где
                игроки при власти не мелочатся и играют по крупному, уютно устроившись на костях тех, кого они сожрали.
                Мне его жаль. Наша семья пережила нечто подобное. Только у Оли не нашлось влиятельных покровителей,
                поэтому её не затоптали в битве между вышестоящими титанами. А самое главное – как бухгалтер, она
                действительно честный профессионал высокого класса. И как не пытались её в чём-то уличить, что-то на неё
                «накопать» – Бог её хранил.</p>
            <p>Но, вот я о чём думаю: (так и не избавился от этой дурной привычки, за все свои годы жизни в России) кто
                и как возместит вот таким пострадавшим, в государстве победившей коррупции, потерю честного имени,
                сожжённые силы, эмоции? Интересно, вот эти подонки, дорвавшиеся до возможности обогатиться, они
                представляют, что у раздавленного ими человека есть внутренний мир, что у человека есть своя Жизнь. Но
                они растоптали чей-то мир и Жизнь, в погоне за своим внешним благополучием? Вот я опишу одну цепочку
                ублюдков, которую создала Оля, обратившись за помощью к депутату Илье Понамарёву. Почему к Понамарёву?
                Понятия не имею.</p>
            <p>Депутат, получив это письмо, отправляет его в прокуратуру Екатеринбурга. Прокурор, тоже Понамарёв, (ну,
                вот так получилось) отсылает, по-видимому, депутату Понамарёву писульку, что в Багдаде всё спокойно (это
                уже длится годами). И тут же прокурор отправляет Олину жалобу к Топоркову! Топорков, на основании этой
                жалобы, подаёт на Олю в суд, обвиняя её в клевете; на него, на орденоносца, на почётного гражданина.
                Судья отказывается рассматривать предоставленные Олей документы, подтверждающие хищения на птицефабрике
                и выносит вердикт: виновна. Штраф Ольге Николаевне, за клевету.</p>
            <p>Получается такая цепочка: депутату глубоко наплевать на людей и их жалобы. Он, как в унитаз, спускает
                жалобу прокурору, который выступает почему-то заинтересованным лицом Топоркова. Поскольку прокурор
                является «оком государевым» то, по его действиям, я могу судить о самом государе. По-видимому, это тоже
                кусок дерьма. Ну, а судья… а чо судья? В России судья всегда был подневольным человеком. Что ему скажут,
                то он и делает. Одним словом, вся эта цепочка или вертикаль – это скопище ублюдков. Почему ублюдков?
                Проще, конечно, сравнить их со свиньями, всевозможными способами дорвавшихся до корыта с отрубями. Но
                как-то неловко про уважаемых людей говорить, что они дорвались до корыта. Эти уважаемые люди собрались у
                блюдечка с голубой каёмочкой. Точнее, не у блюдечка (по масштабам, Россия громадная, как и коррупция,
                которая её охватила), а у блюда собрались ублюдки.</p>
            <p>Я понимаю, что газетный формат «МК», не позволяет ей называть многие вещи своими именами. Тем более, что
                корреспондентов у нас «мочат» беззастенчиво также, как и террористов. Но я признателен в данном случае
                «МК» за многие подробности, о которых простой обыватель и не подозревал. Для меня показалась интересной
                одна деталь. Цитирую:</p>
            <p class="article__remark">«Но все-таки у свердловчан есть время и возможность спасти «Рефтинскую». Это не
                так сложно. Главное –
                прекратить покрывать из бюджета убытки, которые ежегодно создаются под руководством Топоркова, а самого
                нерадивого директора отправить в окончательную отставку, можно даже с «уголовкой». Дела Среднеуральской
                птицефабрики, например, уже изучают сотрудники ФСБ. Почему бы им не обратить внимание и на «Рефтинскую»?
            </p>
            <p>Как работают наши ПРАВОхоронительные органы, получившие команду «фас», все знают. Кстати, когда Олю
                пытались обвинить в краже со взломом документов с птицефабрики, менты перекрыли все ходы и выходы с
                птицефабрики; у работников изъяли телефоны, на предмет поисков того, кто поддерживает связь с бывшим
                главным бухгалтером. Активности и шуму было много. Результатов не было, обвинение не подтвердилось. Как
                работает ФСБ – объяснять не надо. При отсутствии ума они, как и все, добиваются результатов рвением. На
                Среднеуральской птицефабрике они уже всё верх дном перевернули. Так вот, у меня вопрос тот же, что и у
                «МК», а почему бы им не обратить своё внимание и на «Рефтинскую»?</p>
            <p>А ведь 10 лет назад Оля передала им документы о хищениях Топоркова. Когда она снова обратилась в ФСБ, ей
                сказали, что отданные ею документы бесследно пропали. Пообещали, что виновных найдут и накажут. После
                этого они притихли. Но Оля постоянно пополняла, как я понимаю, их мусорную корзину всё новыми и новыми
                документами. Потом ФСБ «вынырнуло» в нашей жизни во время выборов мэра посёлка. Представители этой
                героической организации присутствовали на собрании Асбестовской администрации, встревоженные тем, что
                Ольга Ткалич может быть выбрана мэром нашего посёлка. Благодаря совместным действиям ФСБ и ублюдков,
                которых могли отлучить от корыта, они сделали всё, чтобы «прокатить» Олю на выборах самыми подлыми
                методами. <a href="http://vestnikcivitas.ru/docs/2178" class="article__ref">Здесь</a> все подробности о
                тех выборах и как ФСБ опекала их.
            </p>
            <p>Повторяю вопрос: почему Рефтинскую птицефабрику они так не опекают, как нашу семью? Почему-то получается,
                что «дела» заводят на нас, обыски с конфискацией делают у нас, на допросы вызывают нас, а /проклятые
                расхитители социалистической собственности/ процветают безнаказанно. Почему ФСБ нашло в моём дневнике
                экстремизм (который ни в чём не подтвердился), но не увидело ни одного слова о хищениях на птицефабрике,
                хотя этому посвящен весь дневник? Тут есть только одно объяснение: они все тусуются у одного блюда.</p>
            <p>Сейчас пишу и снова ощущаю собственное бессилие и ненависть из-за того, что пишу одно и то же. Я пишу
                одно и тоже. Пишу уже больше 10 лет. Трагедия даже не в том, что у нас страдают немногие честные,
                компетентные люди (я не только о своей жене). Таких тысячи и тысячи. Не сомневаюсь, что человек,
                которого поставили на место Топоркова, был компетентным специалистом. Насколько был он честен? Опять же:
                это уже неважно. Прокурор, судьи, следователи с искренними лицами докажут его вину. Всё предопределено.
                Проблему я вижу в том, что когда закончится путинское правление и путинскую пену снимут сверху вместе с
                ним, всё равно: в своей массе останется забродившее дерьмо, под названием российской народ. Быдло,
                которое ни чего не решает, не требует исполнения законов и Конституции. Люди без нравственных принципов.
                Рабы, которые наполнены двумя противоположными качествами: пассивностью и ненавистью. Стадо, быдло,
                которым легко манипулировать.</p>
            <p class="article__accent">«Паситесь мирные народы! Вас не разбудит чести клич.
                <br>
                К чему стадам дары свободы? Их должно резать или стричь.
                <br>
                Наследство их из рода в роды, Ярмо с гремушками да бич».
            </p>
            <p>Это ещё Пушкин сказал о соотечественниках. Вот с тех пор и по сей день баранов стригут и стригут. Но у
                этой медали со стрижеными баранами есть и обратная сторона. Баранов стригут, а они воруют. Воруют
                рабочие птицефабрики, чтобы ВЫЖИТЬ. Ворует руководство птицефабрики, чтобы <span
                    class="article__accent">достойно жить</span>. Ворует
                правительство Свердловской области, чтобы <span class="article__accent">шикарно жить</span>. А все
                ниточки ведут в Кремль, где засели такие
                же вороватые вчерашние бараны, которые воруют так, <span class="article__accent">чтобы потомкам
                    досталось</span>! Воруют все, забыв
                категорическое напутствие: «Не путай свою личную шерсть с государственной» (с).</p>
            <p class="article__stars">* * *</p>
        </article>
    </main>
    {{> footer}}
</body>

</html>